/* The following are styles for the batch navigation bar */

fieldset.batch_nav_bar ul.batch_nav_bar li.batch_nav_bar {
	float: left;
	width: 33%;
}

fieldset.batch_nav_bar fieldset.page_nav button.previous {
	background: url(/WebObjects/Frameworks/JavaWOExtensions.framework/WebServerResources/lft-OSarw.gif) no-repeat;
}

fieldset.batch_nav_bar fieldset.page_nav button.next {
	background: url(/WebObjects/Frameworks/JavaWOExtensions.framework/WebServerResources/rt-OSarw.gif) no-repeat;
}

fieldset.batch_nav_bar fieldset.page_nav button {
	height:16px;
	width:11px;
	text-indent: -5000px;
	display: block;
	border: 0px;
	cursor: pointer;
	margin: 2px;
}

fieldset.batch_nav_bar li.page_nav fieldset.page_nav ul li {
	float: right;
}

fieldset.batch_nav_bar ul.batch_nav_bar li.page_batch fieldset.page_batch {
	width: 135px;
	margin-left: auto;
	margin-right: auto;
}

fieldset.batch_nav_bar fieldset.page_nav {
	float: right;
	width: 9.5em;
}

fieldset.batch_nav_bar ul.batch_nav_bar li.page_nav {
	float: right;
}

input.batch_number {
	width: 14px;
}

input.batch_size {
	width: 16px;
}

fieldset#bottom_batch_nav li.entity_name {
	display: none;
}
