<webobject name=NavigationTable>
	<webobject name = "DoNotUseStylesConditional">
	<tr>
		<td colspan=6><webobject name=Image1></webobject></td>
	</tr>
	</webobject>
	<tr>
		<webobject name=EntityNameConditional>
			<td align=left valign=baseline class="ListHeader"><webobject name=DGHasQualifier><webobject name=filteredObjectsCount></webobject>
					<webobject name=of></webobject>
				</webobject><webobject name=EntityName3></webobject></td>
		</webobject>
		<webobject name=SortKeyListConditional>
			<td align=center valign=middle>
					<webobject name=SortComponent></webobject>
			</td>
		</webobject>
		<td><webobject name=Content></webobject></td>
		<td align=center valign=middle class=small>
				<webobject name=show></webobject>
				<webobject name=ItemsPerBatch></webobject>
				<webobject name=items_per_page></webobject>
		</td>
		<td align=right valign=middle class=small><webobject name=Conditional1><webobject name=LeftArrow></webobject>&nbsp;<webobject name=page></webobject><webobject name=BatchNumber></webobject>
			<webobject name=of></webobject>
			<webobject name=TotalBatches></webobject>&nbsp;<webobject name=RightArrow></webobject></webobject>
		</td>
	</tr>
</webobject>