<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
  <head>
    <meta name = "generator" content = "WebObjects 5" />
    <title>Validity Example</title>
  </head>
  <body bgcolor = "#FFFFFF">
    <table align = "CENTER" width = "550">
      <tr>
        <td align = "CENTER">
          <b>
            <font size = "4">Validity Example</font>
          </b>
        </td>
      </tr>
      <tr>
        <td align = "CENTER">This example will show you how to incorporate the Validity Framework into your WO Application. There are two pages, and the only difference is how the error messages from the failed rules are displayed.<p>
            <webobject name = "Hyperlink1">All error messages together.</webobject>
            <br />
            <webobject name = "Hyperlink2">Error messages separated.</webobject>
          </p>
        </td>
      </tr>
      <tr>
      	<td align = "CENTER">Click here to access a <webobject name = "SeleniumTestLink">ERSelenium test</webobject>.</td>
      </tr>
    </table>
    <webobject name = "Footer1" />
  </body>
</html>