<table class="ListRepetitionTable">
	<webobject name=HasSections>
		<tr>
			<td>
				<spacer/>
			</td>
			<webobject name=SectionRepetition><webobject name=SectionCell><webobject name=SectionTitle></webobject></webobject></webobject>
			<td>
				<spacer/>
			</td>
		</tr>
	</webobject>
	<webobject name=ListTableHeaderRow>
		<th valign=bottom class="HeaderCell">
			<spacer/>
		</th>
		<webobject name=SectionRepetition><webobject name=ColumnLabelRepetition>
				<th valign=bottom class="HeaderCell">
					<table align="center">
						<tr>
							<th><webobject name=PropertyName></webobject></th><webobject name=IsPropertySortable><td>&nbsp;<webobject name=AttributeSorter2></webobject></td></webobject>
						</tr>
					</table>
				</th>
			</webobject></webobject>
		<th valign=bottom class="HeaderCell">
			<spacer/>
		</th>
	</webobject>
	<webobject name=Objects>
	<webobject name=ListTableRow>
		<td rowspan=4>
			<table border=0>
				<tr>
					<webobject name=LeftActions>
						<td nowrap><webobject name=LeftAction></webobject></td>
					</webobject>
				</tr>
			</table>
		</td>
		<webobject name=DividingCells><webobject name=ComponentContent1></webobject>
			<spacer/>
		</webobject>
		<td rowspan=4>
			<table border=0>
				<tr>
					<webobject name=RightActions>
						<td nowrap><webobject name=RightAction></webobject></td>
					</webobject>
				</tr>
			</table>
		</td>
		<webobject name = "AttributeRow">
			<webobject name=SectionRepetition><webobject name=AttributeRepetition>
					<webobject name=AttributeCell><webobject name=AttributeDisplay></webobject></webobject>
				</webobject></webobject>
		</webobject>
		<webobject name = "ExtraRow">
			<webobject name=ExtraCell><webobject name = "HasExtraListComponent"><webobject name = "ExtraListComponent"></webobject></webobject></webobject>
		</webobject>
		<webobject name = "ActionRow">
			<webobject name=ActionCell><webobject name=CenterActions><webobject name=CenterAction></webobject></webobject></webobject>
		</webobject>
	</webobject>
	</webobject>
</table>