body {
	text-align: center /* for IE */;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 1em;
	background-color: #d5d5d5;
	margin: 0;
}

table.progressBar {
	border: none;
}

#MainContent {
	width: 540px;
	margin: 0 auto;
	text-align: center;
	padding: 50px 0 0 0;
}

#status-panel {
	border: 1px solid #424242;
	padding: 50px;
	background-color: white;
	border-radius: 15px;
	-moz-border-radius: 15px;
}

#progress-area {
	padding-top: 20px;
}

p {
	text-align: center;
}

p.status-message {
	font-size: 2em;
}

p.percent-display {
	padding: 10px 0 10px 0;
}

p.elapsed-time {
	font-size: 1em;
}

p.stopping-message {
	font-size: 2em;
	color: #FF0000;
	font-weight: bold;
	text-decoration: blink;
}

#development-info {
	padding-top: 50px;
}