body {
	text-align: center /* for IE */;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 1em;
}

table.progressBar {
	border: none;
}

#MainContent {
	width: 500px;
	margin: 0 auto;
	text-align: center;
	padding: 50px 0 0 0;
	border: 1px solid #424242;
}

p {
	text-align: center;
}

p.status-message {
	font-size: 2em;
}

p.percent-display {
	padding: 10px 0 10px 0;
}

p.elapsed-time {
	font-size: 1em;
}

p.stopping-message {
	font-size: 2em;
	color: #FF0000;
	font-weight: bold;
	text-decoration: blink;
}

#development-info {
	border: 1px solid #424242;
}