<webobject name=HasPropertyName>
	<table cellspacing=0 border=0 cellpadding=0>
		<tr>
			<td align=RIGHT class=requiredMarker width=10 valign=TOP><webobject name=DisplayMandatory>*</webobject></td>
			<td nowrap align=LEFT valign=middle class=PropertyName><webobject name=GenericContainer2><webobject name=PropertyName></webobject></webobject><webobject name=DebuggingEnabled><br>
					<font color=#ff8307 font class=PropertyName><webobject name=PropertyKey></webobject></font><font color=#000000><br>
					</font><font color=#ff8307 class=PropertyName><webobject name=ComponentName></webobject></font></webobject></td>
		</tr>
	</table>
</webobject>