<html>
	<head>
		<title>JavaBrowser</title>
		<style> .methodList {font-size: 9pt; font-family:"Geneva, Arial"; width:220px;} </style>
		<style TYPE="text/css"> .keyword { font-weight: bold; color: blue; } .comment { color: darkgreen;} .string { color:
			lightgreen; } .production { font-weight: bold; color: blue; } .regexp { font-weight: bold; color: blue; } .brace {
			font-weight: bold; color: darkred; } </STYLE>
		<script>

function selectedValue(o) {
	index = o.selectedIndex;
	if(index < 0)
		return null;
	return o.options[index].value;
}

function adjust(o) {
        if(window == null || myframe() == null) return;
	myframe().height=window.innerHeight - myframe().top;
	alert(window.height + "- " + window.innerHeight + " - "  + top.styles);
}
function myframe() {return document.getElementById("myframe");}
</script>
	</head>
	<body bgcolor=white onload="adjust();" onresize=" adjust();">
		
			<TABLE CELLSPACING=2 CELLPADDING=0 BORDER=0 WIDTH=100%>
				<TR><WEBOBJECT NAME=Form1>
					<TD VALIGN=TOP><WEBOBJECT NAME=Browser1></WEBOBJECT></TD>
					<TD VALIGN=TOP><WEBOBJECT NAME=Browser2></WEBOBJECT></TD></WEBOBJECT>
					<TD WIDTH=100% VALIGN=TOP><WEBOBJECT NAME=Form4><P>Find:<WEBOBJECT NAME=TextField2></WEBOBJECT></P><WEBOBJECT NAME=Conditional2>found in: <WEBOBJECT NAME=PopUpButton5></WEBOBJECT></WEBOBJECT></WEBOBJECT><P><WEBOBJECT NAME=Hyperlink1>New page</WEBOBJECT> | <WEBOBJECT NAME=Hyperlink2>Toggle Code/Docs</WEBOBJECT></P></TD>
				</TR>
			</TABLE>
		<WEBOBJECT NAME=Form2><TABLE CELLSPACING=2 CELLPADDING=0 BORDER=0 WIDTH=100%><TR><TD><WEBOBJECT NAME=PopUpButton1></WEBOBJECT></TD><TD><WEBOBJECT NAME=Conditional4><WEBOBJECT NAME=PopUpButton2></WEBOBJECT></WEBOBJECT></TD><TD WIDTH=100%><WEBOBJECT NAME=Conditional3><WEBOBJECT NAME=PopUpButton3></WEBOBJECT></WEBOBJECT></TD></TR></TABLE>
			
		</WEBOBJECT>
		<P></P><WEBOBJECT NAME=IFrame1></WEBOBJECT>
		<script>
// o = document.all["myframe"];
//alert("Hi");
//alert(myframe() + "-"  + document.myframe);
</script>
	</body>
</html>