<webobject name=editForm>
	<webobject name=showPresentationControls>
		<webobject name=Custom1><webobject name=WRLayoutEditor1></webobject></webobject>
	</webobject>
	<table border=0 width=100% cellpadding=0 cellspacing=0>
		<tr>
			<td align=left valign=bottom rowspan=2>
				<webobject name=zlist2></webobject>
			</td>
			<td align=right valign=bottom> </td>
		</tr>
		<tr>
			<td align=right valign=bottom>
				<webobject name=zlist1></webobject>
			</td>
		</tr>
	</table>
	<webobject name=showDefaultReportStyle>
		<webobject name=dontshowVerticalRows>
			<table width=100% border=1>
					<webobject name=hasTitle><tr>
						<webobject name=showTopCrits><webobject name=vGroups>
								<td class=spacer>
									<spacer />
								</td>
							</webobject></webobject>
						<webobject name=colSpanTdHead><webobject name=title></webobject></webobject>
					</tr></webobject>
				<webobject name=horzDimensions>
					<tr>
						<webobject name=showTopCrits><webobject name=vGroups>
								<td class=spacer>
									<spacer />
								</td>
							</webobject></webobject>
						<webobject name=hCriteriaList>
							<webobject name=colSpanTd><webobject name=criteriaLabel></webobject></webobject>
						</webobject>
					</tr>
				</webobject>
				<webobject name=showHeadersForAsCells>
					<webobject name=depthList>
						<tr>
							<webobject name=showTopCrits><webobject name=vGroups>
									<td class=spacer>
										<spacer />
									</td>
								</webobject></webobject>
							<webobject name=numberOfCrits>
								<webobject name=attribs>
									<webobject name=attributeTd><webobject name=attribLabel></webobject></webobject>
								</webobject>
							</webobject>
						</tr>
					</webobject>
				</webobject>
				<webobject name=showNoColNoRow>
					<webobject name=recordGroupTest></webobject>
				</webobject>
				<webobject name=showSingleRow>
					<tr>
						<webobject name=hCriteriaList2>
							<webobject name=recordGroupTest></webobject>
						</webobject>
						<td class=spacer>
							<spacer />
						</td>
						<td class=spacer>
							<spacer />
						</td>
					</tr>
				</webobject>
				<webobject name=vCriteriaList>
					<tr>
						<webobject name=vindent><webobject name=showIndentCell>
								<webobject name=rowSpanTd>
									<webobject name=vIndentCriteriaLabel></webobject>
								</webobject>
							</webobject></webobject>
						<webobject name=showTopCrits>
							<webobject name=rowSpanTd2><webobject name=vcriteriaLabel></webobject></webobject>
						</webobject><webobject name=hCriteriaList2>
							<webobject name=recordGroupTest></webobject>
						</webobject>
						<webobject name=showSingleCol>
							<webobject name=recordGroupTest></webobject>
						</webobject>
					</tr>
				</webobject>
			</table>
			</webobject>
		<webobject name=showVerticalRows>
			<table border=0>
				<webobject name=vCriteriaList>
					<webobject name=vindent2><webobject name=showIndentCell>
							<webobject name=showVHeadings>
								<tr>
									<td><font color=white>.</font></td>
									<td>
										<spacer />
									</td>
								</tr>
								<tr>
									<td><font color=white>.</font></td>
									<td>
										<spacer />
									</td>
								</tr>
								<webobject name=attribsGroup></webobject>
							</webobject>
							<tr>
								<webobject name=groupDepth>
									<td>
										<spacer />
									</td>
								</webobject>
								<webobject name=rowSpanTd2Span><webobject name=vIndentCriteriaLabel></webobject></webobject>
							</tr>
						</webobject></webobject>
					<webobject name=recordGroupTest></webobject>
				</webobject>
			</table>
			<br>
		</webobject>
	</webobject>
	<webobject name=dontshowDefaultReportStyle>
		<webobject name=customContent></webobject>
	</webobject>
	<webobject name=zlist3></webobject>
</webobject>