<table  width="100%">
    <webobject name=HasValidSession>
        <tr>
            <td align=left colspan="2">Hi <webobject name=user></webobject>, welcome to
                <webobject name="databaseName"></webobject> | <webobject name=editMyInfo>Edit My Info</webobject> (<font size=-2>This is <webobject name=Main>not me</webobject></font>)</td>
            <td align=right>
                <webobject name=findBugByNumber>
                   Bug# <webobject name=bugNumber></webobject> <webobject name=freeQuery>Free Query</webobject>
                </webobject>
            </td> 
        </tr>
        <tr>
            <td align=left valign=top><table><tr><webobject name="MainItems"><td><webobject name="Item"></webobject></td></webobject></table></td>
			<td align=right colspan="2"><webobject name="Menu"></webobject></td>
        </tr>
        <tr>
            <td align=CENTER colspan=3>
            	<webobject name=isEngineering>
            		<webobject name=OnlineHatSystem>Hats</webobject>
            	|</webobject>  <webobject name=bugsFiledRecently>Bugs Filed Recently</webobject> | 
                <webobject name=trackRelease>Track Release</webobject> | 
                <webobject name=trackMyRelease>Track My Release</webobject> | 
                <webobject name=isAdmin>
                	<webobject name=pushRelease>Push Release</webobject> | 
                    <webobject name=ComponentReport>Component Report</webobject>
                </webobject>
            </td>
        </tr>
    </webobject>
    <webobject name=NoValidSession></webobject>
</table>