<webobject name = "NotUseAjax">
  <webobject name = "StandardRemoveButton">
    <span><webobject name = "RemoveButtonLabel" /></span>
  </webobject>
</webobject>
<webobject name = "UseAjax">
  <webobject name = "ButtonUpdateContainer">
    <webobject name = "NotShowDialog">
      <webobject name = "ShowDialogButton">
        <span><webobject name = "RemoveButtonLabel" /></span>
      </webobject>
    </webobject>
    <webobject name = "ShowDialog">
      <webobject name = "DisabledRemoveButton"><span><webobject name = "RemoveButtonLabel" /></span></webobject>
      <div class = "Dialog RemoveDialog">
        <p><webobject name = "DialogMessage" /></p>
        <ul class = "DialogActionList DialogObjActionList">
          <li><webobject name = "CancelButton"><span><webobject name = "CancelButtonLabel" /></span></webobject></li>
          <webobject name = "ShowRemoveButton">
            <li><webobject name = "RemoveButton"><span><webobject name = "RemoveButtonLabel" /></span></webobject></li>
          </webobject>
          <webobject name = "ShowDeleteButton">
            <li><webobject name = "DeleteButton"><span><webobject name = "DeleteButtonLabel" /></span></webobject></li>
          </webobject>
        </ul>
      </div>
    </webobject>
  </webobject>
</webobject>