<webobject name = "ERMD2WEditToOneTypeAhead">
<div class="ToOneTypeAheadFieldWrapper">
<webobject name = "AjaxAutoComplete"/>
<webobject name="SearchTermSelected"/>
</div>
<div class="ActionCell">
<ul class="ObjActionList RtObjActionList">
    <webobject name = "ShowNewButton">
         <li><webobject name = "NewObjectButton"/></li>
    </webobject>
    <webobject name = "ERXNonNullConditional">
         <webobject name = "ShowInspectButton">
             <li><webobject name = "InspectObjectButton"/></li>
        </webobject>
        <li><webobject name = "RemoveObjectButton"/></li>
    </webobject>
</ul>
</div>
</webobject>