<WEBOBJECT name=SingleHostConditional>
    <WEBOBJECT name=Refresh></WEBOBJECT>
</WEBOBJECT>

<WEBOBJECT name=NavPage></WEBOBJECT>
<BR>
    
<WEBOBJECT name=SingleHostConditional>
    <BR><BR>
    Please wait while we fetch the file listing...
    <BR><BR>
</WEBOBJECT>

<WEBOBJECT name=MultipleHostsConditional>
    Choose the host on which you would like to select a path:
    <BR>
    <BR>
    <WEBOBJECT name=HostRepetition>
    <WEBOBJECT name=HostLink><WEBOBJECT name=HostName></WEBOBJECT></WEBOBJECT><BR>
    </WEBOBJECT>
</WEBOBJECT>

<WEBOBJECT name=NoHostsConditional>
    There are no hosts configured.<BR>
    <BR>
    Please <WEBOBJECT name=AddHostsLink>add hosts</WEBOBJECT> before using the PathWizard.
</WEBOBJECT>

</CENTER>
</TD></TR>
</TABLE>
</CENTER>

</BODY>
</HTML>
