<webobject name="SingleHostConditional"><webobject name="Refresh" /></webobject>
<webobject name="NavPage">
<div class="Box PathWizardPage1Box">
<webobject name="SingleHostConditional">
	<p>Please wait while we fetch the file listing...</p>
</webobject>
<webobject name="MultipleHostsConditional">
  <p>Choose the host on which you would like to select a path:</p>
  <ul>
  <webobject name="HostRepetition"><li><webobject name="HostLink"><webobject name="HostName" /></webobject></li></webobject>
  </ul>
</webobject>
<webobject name="NoHostsConditional">
  <p>There are no hosts configured.</p>
  <p>Please <webobject name="AddHostsLink">add hosts</webobject> before using the PathWizard.</p>
</webobject>
</div>
</webobject>