digraph g {
graph [
	rankdir = "LR"
];
node [
	fontsize = "16"
	shape = "record"
];
edge [

];

<webobject name=Entities>"<webobject name=EntityName></webobject>" [
	label = "<webobject name=EntityName></webobject>|<webobject name=Attributes><webobject name=AttributeName></webobject>|</webobject>|<webobject name=ToOneRelationships><webobject name=RelationshipTag></webobject><webobject name=RelationshipName></webobject>|</webobject>|<webobject name=ToManyRelationships><webobject name=RelationshipTag></webobject><webobject name=RelationshipName></webobject>|</webobject>"
];
</webobject>
<webobject name=Entities>
<webobject name=ToOneRelationships>
"<webobject name=EntityName></webobject>":<webobject name=RelationshipName></webobject> <webobject name=NodeType></webobject> "<webobject name=DestinationEntityName></webobject>": <webobject name=DestinationRelationshipName></webobject> [
	id = <webobject name=NodeID></webobject>
];</webobject>
<webobject name=ToManyRelationships>
"<webobject name=EntityName></webobject>":<webobject name=RelationshipName></webobject> <webobject name=NodeType></webobject> "<webobject name=DestinationEntityName></webobject>": <webobject name=DestinationRelationshipName></webobject> [
	id = <webobject name=NodeID></webobject>
];</webobject>
</webobject>
}