<WEBOBJECT NAME=PageWrapper><webobject name="Help"></webobject>
      
       <h1 class="task editRelationship">Select&nbsp;<WEBOBJECT NAME=AttributeName></WEBOBJECT></h1>

      <WEBOBJECT NAME=DisplayQuery>
      <div id="ERDIVEditRelationshipPage_Query">  
         <WEBOBJECT NAME=QueryComponent></WEBOBJECT>
      </div>
      </WEBOBJECT>
      <WEBOBJECT NAME=DisplayList>
      <div id="ERDIVEditRelationshipPage_Select">  
         <WEBOBJECT NAME=ListComponent></WEBOBJECT>
      </div>
      </WEBOBJECT>    
	  <WEBOBJECT NAME=DisplayNew>
	  <div id="ERDIVEditRelationshipPage_New">  
         <WEBOBJECT NAME=InspectComponent></WEBOBJECT>
      </div>
      </WEBOBJECT>  
      
</WEBOBJECT>