<webobject name = "ObjectTable">
  <webobject name = "ObjectTableHeaderRow">
    <webobject name = "HasLeftActionsConditional"><th class="ActionCell LftActionCell">&nbsp;</th></webobject>
    <webobject name = "SectionRepetition">
      <webobject name = "ColumnLabelRepetition">
        <webobject name = "IsNotOmitted">
          <webobject name = "AttColumnHeader">
            <webobject name = "TableHeaderSwitchComponent"/>
          </webobject>
        </webobject>
      </webobject>
    </webobject>
    <webobject name = "HasRightActionsConditional"><th class="ActionCell RtActionCell">&nbsp;</th></webobject>
  </webobject>
  <webobject name = "ObjectsRepetition">
    <webobject name = "ListTableRow">
    <webobject name = "HasLeftActionsConditional">
      <td class="ActionCell LftActionCell">
        <ul class="ObjActionList LftObjActionList">
          <webobject name = "LeftActions">
            <li><webobject name = "LeftAction" /></li>
          </webobject>
        </ul>
      </td>
      </webobject>
      <webobject name = "SectionRepetition">
        <webobject name = "AttributeRepetition">
          <webobject name = "IsNotOmitted"><webobject name = "AttColumnCell"><webobject name = "AttributeDisplay" /></webobject></webobject>
        </webobject>
      </webobject>
      <webobject name = "HasRightActionsConditional">
      <td class="ActionCell RtActionCell">
        <ul class="ObjActionList RtObjActionList">
          <webobject name = "RightActions">
            <li><webobject name = "RightAction" /></li>
          </webobject>
        </ul>
      </td>
      </webobject>
    </webobject>
  </webobject>
</webobject>
<p class="ERMDebugText" style="font-size:10px;"><webobject name = "D2wContextEntityName"/>-><webobject name = "D2wContextParentPageConfiguration"/>/<webobject name = "D2wContextPageConfiguration"/>/<webobject name = "D2wContextParentProperytKey"/></p>