<webObject name=PageWrapper>
<webObject name=EntitySelectedConditional>
    <webObject name=QueryForm>
    <webobject name=QueryTable>
        <webObject name=QueryTableHeaderRow>
            <td colspan=2 align=center>
                
                <b><webobject name=EntityName></webobject></b> Query
                
            </td>
        </webObject><webobject name=ResourceRepetition>
            <tr>
            <td align=right>
            <strong><webobject name=ResourceLabel>:</webobject></strong>
            </td><td>
            <webobject name=ResourceInputRepresentation></webobject>
            </td>
            </tr>
        </webobject>
        <tr>
            <td colspan=2 align=center>
                <WEBOBJECT NAME=SubmitButton1></WEBOBJECT>
            </td>
        </tr>
    </webobject>
    </webObject>
</webObject>
</webObject>

