<webobject name = "Conditional2">
  <webobject name = "Generic1">
    <webobject name = "Conditional9">
      <webobject name = "Generic2">
        <webobject name = "Generic3">
          <webobject name = "Conditional3"><webobject name = "ActiveImage2" /></webobject>
          <webobject name = "Conditional4"><webobject name = "Image2" /></webobject>
        </webobject>
      </webobject>
    </webobject>
    <webobject name = "Conditional1">
      <webobject name = "Generic4">
        <webobject name = "Generic5">
          <webobject name = "Generic6">
            <webobject name = "Generic7">
              <webobject name = "Generic8">
                <webobject name = "Generic9">
                  <webobject name = "Generic10">
                    <webobject name = "Generic11"><webobject name = "ComponentContent2" /></webobject>
                  </webobject>
                </webobject>
              </webobject>
            </webobject>
          </webobject>
        </webobject>
      </webobject>
    </webobject>
  </webobject>
</webobject>
<webobject name = "Conditional8">
  <webobject name = "Generic22">
    <webobject name = "Generic21">
      <webobject name = "Conditional10">
        <webobject name = "Generic20">
          <webobject name = "Conditional7"><webobject name = "ActiveImage1" /></webobject>
          <webobject name = "Conditional6"><webobject name = "Image1" /></webobject>
        </webobject>
      </webobject>
      <webobject name = "Conditional5">
        <webobject name = "Generic18">
          <webobject name = "Generic17">
            <webobject name = "Generic16">
              <webobject name = "Generic15">
                <webobject name = "Generic14">
                  <webobject name = "Generic13">
                    <webobject name = "Generic12"><webobject name = "ComponentContent1" /></webobject>
                  </webobject>
                </webobject>
              </webobject>
            </webobject>
          </webobject>
        </webobject>
      </webobject>
    </webobject>
  </webobject>
</webobject>