<table border="2" cellpadding="4" cellspacing="0" BGCOLOR="#E0E0E0">
	<tr>
		<td>
			<table CELLSPACING="0" CELLPADDING="1" BGCOLOR="#E0E0E0">
				<tr>
					<td align="center" colspan=3>
						<BR>
						<webobject name=JumpToForm>
							<font size=-1>
								Jump to: <webobject name=JumpToTextField></webobject><webobject name=SubmitJumpTo></webobject><BR>
							</font><P ALIGN=CENTER><FONT COLOR=#FF0000><B><BR><WEBOBJECT NAME=MessageString></WEBOBJECT></B></FONT></P>
							<hr>
						</webobject>
					</td>
				</tr>
				<tr>
					<td colspan="1">
						<font size="-1">Current directory:</font>
					</td>
					<td align="right" colspan="2">
						<webobject name=SelectCurrentDirectoryLink>Select Current Dir</webobject>
					</td>
				</tr>
				<tr>
					<td colspan="3">
						<b><webobject name=CurrentFilePath></webobject></b><BR>
					</td>
				</tr>
				<tr>
				    <td BGCOLOR="#B0B0B0" align="center"><B>Name</B></td> 
				    <td BGCOLOR="#B0B0B0" align="center">&nbsp;<B>Size</B>&nbsp;</td>
				    <td BGCOLOR="#B0B0B0" align="center">&nbsp;<B>Selection</B>&nbsp;</td>
				</tr>
				<tr>
					<td colspan=3>
						<font size=-1>
							<webobject name=BackLink>.. Back (Up one directory level)</webobject>
						</font>
					</td>
				</tr>
			<webobject name=RowRepetition>
				<tr>
					<td>
						<font size=-1>
							<webobject name=IsDirectory>
    							<webobject name=DirectoryLink><webobject name=DirImage></WEBOBJECT>&nbsp;<WEBOBJECT name=FileString></webobject></webobject>
							</webobject>
							<webobject name=IsNOTDirectory>
    							<webobject name=SpacerImage></webobject>&nbsp;<webobject name=FileString></webobject>
							</webobject>
						</font>
					</td>
					<td align="right">
						<font size=-1>
							&nbsp;&nbsp;<webobject name=FileSizeString></webobject>
						</font>
					</td>
					<td align="center">
						<webobject name=SelectThisLink>Select</webobject>
					</td>
				</tr>
			</webobject>
			</table>
		</td>
	</tr>
</table>