<h2 class="SectionHeading">Choose a path:</h2>
<webobject name="JumpToForm">
  <p>Jump to: <webobject name="JumpToTextField" /> <webobject name="SubmitJumpTo" /></p>
  <p class="Warning"><webobject name="MessageString" /></p>
</webobject>
<webobject name="ShowFileBrowser">
  <p>Current directory: <code><webobject name="CurrentFilePath" /></code> <webobject name="SelectCurrentDirectoryLink"><span>Select Current</span></webobject></p>
  <table class="FileBrowseTable">
    <tr>
      <th>Name</th>
      <th>Size</th>
      <th>Selection</th>
    </tr>
    <tr>
      <td colspan="3"><webobject name="BackLink">.. Back (Up one directory level)</webobject></td>
    </tr>
    <webobject name="RowRepetition">
      <tr>
        <td class="FileNameWrapper">
            <webobject name="IsDirectory">
              <webobject name="DirectoryLink"><webobject name="DirImage" />&nbsp;<webobject name="FileString" /></webobject>
            </webobject>
            <webobject name="IsNOTDirectory">
              <webobject name="SpacerImage" />&nbsp;<webobject name="FileString" />
            </webobject>
        </td>
        <td class="FileSizeWrapper"><webobject name="FileSizeString" /></td>
        <td class="SelectDirectoryWrapper"><webobject name="SelectThisLink">Select</webobject></td>
      </tr>
    </webobject>
  </table>
</webobject>