<html>
    <head>
        <title>Wonder Ajax Examples: <webobject name = "Title"></webobject></title>
				<style>
.rounded {
}

.main {
	background-color: rgb(220, 220, 220);
	font-family: Helvetica;
	font-size: 9pt;
	float: left;
	margin-right: 20px;
}

.contents {
	font-size: 9pt;
	padding-left: 10px;
	padding-right: 10px;
}

.title {
	background-color: rgb(180, 180, 235);
	margin-bottom: 10px;
	font-family: Helvetica;
	font-weight: bold;
}

ul {
	padding: 0px;
	margin: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
}

ul li {
	list-style: none;
	padding-bottom: 5px;
}

.mainContents {
	float: right;
}
		</style>
	</head>
	<body>
    <div class = "title rounded"><div class = "contents">Wonder Ajax Examples: <webobject name = "Title"></webobject></div></div>
    
    <div class = "main rounded"><div class = "contents">
       <ul>
           <li><webobject name = "AutocompletionLink">Auto completion</webobject></li>
           <li><webobject name = "DependentListsExample">Dependent PopUp Buttons</webobject></li>
           <li><webobject name = "SliderLink">Slider</webobject></li>
           <li><webobject name = "UpdatesLink">Updates (some area on screen)</webobject></li>
           <li><webobject name = "UpdateDisplayGroupLink">Updates (tables and display groups)</webobject></li>
           <li><webobject name = "LongResponseExample">Updates with a long-running task</webobject></li>
           <li><webobject name = "DragAndDropLink">Drag and Drop</webobject></li>
           <li><webobject name = "DragAndDropListsLink">Drag and Drop Lists</webobject></li>
           <li><webobject name = "SortableListLink">Sortable List</webobject></li>
           <li><webobject name = "RoundedBordersLink">Rounded Borders</webobject></li>
           <li><webobject name = "AccordionLink">Accordion</webobject></li>
           <li><webobject name = "InPlaceEditorLink">In-Place Editor</webobject></li>
           <li><webobject name = "RPCHyperlink">RPC calls</webobject></li>
       </ul>
    </div></div>
    
    <div class = "mainContent"><table><tr><td><webobject name = "Contents"></webobject></td></tr></table></div>
    
    <webobject name = "RoundBoxes"></webobject>
	</body>
</html>