<WEBOBJECT NAME=PageWrapper><WEBOBJECT NAME=Help></WEBOBJECT><WEBOBJECT NAME=NonNullConditional1><WEBOBJECT NAME=SwitchComponent1></WEBOBJECT></WEBOBJECT><WEBOBJECT NAME=ListNotEmpty><WEBOBJECT NAME=ERTableWithBorder1><WEBOBJECT NAME=ListTable><webobject name=GenericContainer1><webobject name=GenericContainer2>
   			<table width=100% border=0 cellspacing=0 cellpadding=0>
   				<tr>
   					<td><WEBOBJECT NAME=NavBar1></WEBOBJECT></td>
   					<td ALIGN=RIGHT VALIGN=MIDDLE WIDTH=20><WEBOBJECT NAME=Conditional1><WEBOBJECT NAME=ERPrinterButton></WEBOBJECT></WEBOBJECT></td>
   					<td>&nbsp;</td><td>
   				</tr>
   			</table> 
   		</webobject>
   <td></td>
   <td></td>
   <td></td>
</webobject><WEBOBJECT NAME=ListTableHeaderRow>
               <TH>&nbsp;</TH>
               <WEBOBJECT NAME=ColumnLabelRepetition>
                  <TH NOWRAP VALIGN=bottom>
                     <TABLE>
                        <TR>
                           <TH><B CLASS="white"><WEBOBJECT NAME=PropertyName></WEBOBJECT></B></TH>
                           <TH valign=bottom><WEBOBJECT NAME=IsPropertySortable><WEBOBJECT NAME=AttributeSorter></WEBOBJECT></WEBOBJECT></TH>
                        </TR>
                     </TABLE>
                  </TH><td width=1>&nbsp;</td>
               </WEBOBJECT>
               <TH BGCOLOR=#999999>&nbsp;</TH>
            </WEBOBJECT>
            <WEBOBJECT NAME=EntityRepetition>
                <TR height=1>
                    <webobject name=GenericContainer3><IMG ALT="" SRC="/nsi/s.gif" HEIGHT=1></webobject>
                </TR>
                <WEBOBJECT NAME=ListTableRow>
                  <TD BGCOLOR=#ffffff>
                     <TABLE>
                        <TR height=15>
                           <TD>
                              <WEBOBJECT NAME=IsSelecting>
                                 <WEBOBJECT NAME=SelectEO2><WEBOBJECT NAME=SelectImage></WEBOBJECT></WEBOBJECT></WEBOBJECT>
                              <WEBOBJECT NAME=IsListing>
                                 <WEBOBJECT NAME=IsEntityWritable>
                                    <WEBOBJECT NAME=EditEO><WEBOBJECT NAME=EditImage></WEBOBJECT></WEBOBJECT>
                                 </WEBOBJECT>
                                 <WEBOBJECT NAME=IsEntityNotWritable>
                                    <WEBOBJECT NAME=InspectEO><WEBOBJECT NAME=InspectImage></WEBOBJECT></WEBOBJECT>
                                 </WEBOBJECT>
                              </WEBOBJECT>
                           </TD>
                           <TD> </TD>
                        </TR>
                     </TABLE>
                  </TD>
                  <WEBOBJECT NAME=AttributeRepetition>
                     <WEBOBJECT NAME=AttributeCell><FONT SIZE="-1">
                        <WEBOBJECT NAME=AttributeDisplay></WEBOBJECT>
                        </FONT></WEBOBJECT><td width=1></td>
                  </WEBOBJECT>
                  <TD>
                     <webobject name=IsListing2><webobject name=IsEntityWritable2><WEBOBJECT NAME=ERTrashcan1></WEBOBJECT></webobject></webobject>
                  </TD>
               </WEBOBJECT>
            </WEBOBJECT></WEBOBJECT></WEBOBJECT><BR>
         <WEBOBJECT NAME=HideReturnOnSelect1>
            <WEBOBJECT NAME=ShowCancel><WEBOBJECT NAME=Return></WEBOBJECT></WEBOBJECT>
         </WEBOBJECT></WEBOBJECT><WEBOBJECT NAME=ListEmpty><WEBOBJECT NAME=EmptyMessageComponent></WEBOBJECT><BR>
      <BR>
      <WEBOBJECT NAME=HideReturnOnSelect2>
         <WEBOBJECT NAME=ShowCancel2><WEBOBJECT NAME=Return2></WEBOBJECT></WEBOBJECT>
      </WEBOBJECT>
   </WEBOBJECT>
</WEBOBJECT>