<webobject name="PageWrapper"><webobject name="Help"></webobject>
<table align="center" border="0">
<tr><td colspan="2"><webobject name="ERDBannerComponent2"></webobject><webobject name="Header"></webobject></td></tr>
<webobject name="ListNotEmpty">
	<tr>
		<td align="CENTER" class="NavigationBar"><webobject name="NavBar1"></webobject></td>
		<td><webobject name="hasPrinterFriendlyVersion"><webobject name="ERPrinterButton"></webobject></webobject></td>
	</tr>
	<tr>
		<td align="CENTER" colspan="2"><webobject name="ListPageRepetition2"></webobject></td>
	</tr>
</webobject>
<webobject name="ListEmpty">
	<tr><td colspan="2"><webobject name="EmptyMessageComponent"></webobject></td></tr>
</webobject>
<webobject name="HideReturnOnSelect1"><webobject name="ShowCancel">
	<tr><td align="CENTER" colspan="2"><webobject name="BackLink"><webobject name="ReturnButton"></webobject></webobject></td></tr>
</webobject></webobject>
</table>
</webobject>