/*
 *	This is a global style sheet. the elements in here can be used throughout the site.
 *	To apply any portion of this style sheet add 'class="element"' to an HTML tag
 *	that surrounds the desired portion; where '.element' is the
 *	style you wish to apply. Note how the '.' is removed.
 */

/* Basic overall typography for the site. */
body, li, td, p, br, form, input, text, select, option, textarea, th, ol, ul, table, blockquote {  
	font-size: 13px;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	}
body {
	padding: 0px;
	}
i, .i {
	font-style: italic;
	}
p {
	text-indent: 0em;
	}
.para {
	margin-top: 0px;
	text-indent: 3em;
	}
b, th, .bold {
	font-weight: bold;
	}
u, .u {
	text-decoration: underline;
	}

/* These are a series of styles that can be applied to customize a tag when needed. */
.arial {
	font-family: Arial, sans-serif;
	}
.nu, .nuw {
	text-decoration: none;
	}
.black, .nu, body {
	color: #000000;
	}
.white, .nuw {
	color: #FFFFFF;
	}
.grey {
	color: #CCCCCC;
	}
.darkGrey {
	color: #666666;
	}
.blue {
	color: #003366;
	}
.orange {
	color: #FF6600;
	}

small, .small {
	font-size:10px;
}
.tiny {
	font-size:8px;
	}
big, h3, .big {
	font-size:13px;
	}
.huge, h2 {
	font-size:15px;
	}

.Padded {
    padding-top:1px;
    padding-bottom:1px;
}

.LargePadding {
    margin-left:15px;
    margin-right:10px;
}

.LinkInTable {
	color: #003366;
	text-decoration: none;
}
.LinkInTable:hover {
	text-decoration: none;
	color: #ff6600;
}

.LinkOnBlue {
	text-decoration: none;
	color: #cccccc;
}
.LinkOnBlue:hover {
	text-decoration: none;
	color: #ff6600;
}

.BigLink {
        font-size:12px;
	font-weight: bold;
	color: #ffffff;
}
.BigLink:link {
	text-decoration: none;
}
.BigLink:hover {
	text-decoration: none;
	color: #ff6600;
}


.CompanyName {
	color: #ffffff;
        font-size:18px;
	font-weight: bold;
}

.PropertyName {
	font-weight:bold;
	font-size:10px;
}

.BannerText {
	color: #ff6600;
        font-size: 16px;
	font-weight:bold;
}

.Alert {
	color: #ff6600;
        font-size: 16px;
	font-weight:bold;
}
.Headline {
	color: #ff6600;
        font-size: 40px;
	font-weight:bold;
}

.SmallAlert {
	color: #ff6600;
	font-weight:bold;
}


.WhiteHeader {
	color: #ffffff;
        font-size: 14px;
	font-weight:bold;
}

.ListHeader {
	color: #000000;
        font-size: 12px;
	font-weight:bold;
}

.HelpLink { cursor: help; }

.Help {
/*	font-style: italic; */
}

.smallNumber {
    font-size: 9px;
}

.Indented {
    margin-left: 20px;
}

.GroupCell {
	background-color: #ffffee;
        padding: 2px;
}

.Date {
    font-family : verdana;
    font-size:14px;
    font-weight:bold;
}
.Date:hover {
	text-decoration: underline;
    background-color: #FF6600;
	color: #000000;
}

.Today {
    font-family : verdana;
    font-size:14px;
    font-weight:bold;
    background-color: #FF6600;
    color:#ffffff;
   text-decoration: none;
}
.Today:hover {
    background-color: #ffffff;
	color: #006699;
}


.DateEntry{
    text-decoration: none;
    font-family : verdana;
    font-size: 8px;
    color : white;
}

.HeaderCell {
    border:0pt;
    padding:3pt;
    background-color:#ffffff;
}

.Month {
    font-size:14px;
    font-weight:bold;
	color:#ffffff;
}

.DateLink {
	color: #003366;
	text-decoration: none;
}
.DateLink:hover {
	text-decoration: none;
	color: #ffffff;
    background-color:#003366
}
