/*
 *	This is a global style sheet. the elements in here can be used throughout the site.
 *	To apply any portion of this style sheet add 'class="element"' to an HTML tag
 *	that surrounds the desired portion; where '.element' is the
 *	style you wish to apply. Note how the '.' is removed.
 */
#EditSimpleBug .PropertyTable {
	
}
#EditSimpleBug .PropertyTable .PropertyNameCell {
	height: 20px;
	vertical-align: bottom;
}

#EditSimpleBug .PropertyTable .PropertyCell {
	height: 30px;
	vertical-align: top;
}

#EditSimpleBug .ListTable {
	width: 100%;
}

#EditSimpleBug .ListRepetitionTable {
	width: 100%;
}

/* Basic overall typography for the site. */
body, li, td, p, br, form, input, text, select, option, textarea, th, ol, ul, table, blockquote {  
	padding: 0px;
	font-family: Arial, Geneva, sans-serif;
	font-size: 11px;
}

.LayoutTable td {
	vertical-align: top;
}

.LayoutTable td .PropertyNameCell {
	vertical-align: bottom;
	height:1.5em;
	border-bottom: 1px dotted black;
}



.LayoutTable img {
	vertical-align: middle;
}


a {
	text-decoration: none;
	font-weight: bold;
	color: #0f0f0f;
}

.CollapsibleList {
	border-top: 1px solid #240203;
}

.CollapsibleList .ListTable {
	width: 100%;
}

.CollapsibleList .ListRepetitionTable {
	width: 100%;
}

a:hover {
	text-decoration: underline;
}

.Greeting {
	position: absolute;
	left: 10px;
	top: 30px;
}

.FindBug {
	position: absolute;
	left: 10px;
	top: 5px;
}

.ContentTable {
	width: 100%;
}
.ContentRow {
	padding-left: 20px;
	padding-right: 20px;
}

.InspectRepetitionTable {
	width: 100%;
}

.TopActions {
	text-align: right;
}

form {
	display: inline;
}

.BranchChoices {
	display: inline;
}

form#ERDQuickSearch {
	display: none;
	width: 450px;
	vertical-align: baseline;
}

#ERDQuickSearchButton {
	width: 450px;
	position: relative;
	top: 5px;
	width: 30px;
}

table {
	border-collapse: collapse;
}

body {
	padding: 0px;
	margin: 0px;
}

.MenuHeader {
}

.MenuRow {
	height: 24px;
	background-color: #240203;
}

.TopRow {
	height: 22px;
	border-bottom: 1px solid #240203;
}

.Nav1Selected {
	background-color: orange;
}
	
.Nav2Selected {
	background-color: orange;
}
	
.Nav3Selected {
	background-color: orange;
}
	
.HeaderRow {
	background-color: #c80f07;
	background-image: url(http://www.abstracto.de/cms/templates/abstracto/images/background_red.jpg);
	color: white;
	border-top: 5px solid #240203;
	border-bottom: 4px solid orange;
}

.MainItems {
	color: white;
}

.HeaderRow A {
	color: white;
	text-transform: uppercase;
	font-size: 10px;
}

.HeaderRow A:visited {
	color: yellow;
	
}
.HeaderRow A:active {
	color: white;
}

.InspectTable {
	w-idth: 100%;
}

.ListTable {
}

.ListTable th {
	text-align: center;
}

.ListRepetitionRow td {
}

.ListRepetitionRow {
	border-top: 1px solid #240203;
}

.ListRepetitionRow tr {
}

.QueryTable {
	float: left;
	border-right: 5px solid #240203;
	margin-right: 25px;
}

.LayoutTable {
	border-right: 0px;
	margin-right: 0px;
}
/*
.ERXNavigationMenu .Level1ItemTable, 
.ERXNavigationMenu .Level2ItemTable, 
.ERXNavigationMenu .Level3ItemTable {
	float: right;
}

.MainItems .Level1ItemTable td,
.ERXNavigationMenu .Level1ItemTable td,
.ERXNavigationMenu .Level2ItemTable td,
.ERXNavigationMenu .Level3ItemTable td {
	vertical-align: middle;
	text-align: center;
	height: 16px;
	padding: 5px;
}
*/
.ERXNavigationMenu {
	position: absolute;
	top: 3px;
	right: 0px;
	text-align: right;
}

.ERXNavigationMenu ul {
	display: block;
	right: 0px;
	padding: 5px 5px;
	margin: 0px;
}

.ERXNavigationMenu ul li {
	display: inline;
	border-left: 1px solid #240203;
	margin: 0px;
	padding: 0px;
	padding: 5px 5px;
	border-bottom: 1px solid #240203;
	border-top: 1px solid #240203;
}

.ERXNavigationMenu ul.Level2Items li {
	border-top: 0px solid #240203;
}

.ERXNavigationMenu ul li:hover {
	background-color: orange;
}

.ERXNavigationMenu ul li a {
	display: inline;
	padding: 0px;
}

select {
	width: 300px;
}

.ERD2WQueryOperatorPopup {
	width: 180px;
}

.Section {
    background-color: #cccccc;
    padding: 5px 10px 5px 5px;
    border-bottom : 1px solid Black;
    border-top : 1px solid Black;
}

td.Banner {
    background-color: #cccccc;
    padding: 5px 10px 5px 5px;
    border-bottom : 1px solid Black;
    border-top : 1px solid Black;
}

.InspectTable .Section {
    width: 600px;
}

.QueryTable .PropertyTable {
    width: 100%;
    background-color: #E7E7E7;
	padding: 5px 10px 5px 5px;
}

.QueryTable .PropertyTable {
    margin-top: 5px;
}

.InspectRepetitionTable .PropertyNameCell {
    background-color: #E7E7E7;
    padding: 0px 2px 0px 5px;
    width:180px ! important;
   	height: 2em;
}

.InspectRepetitionTable .PropertyCell {
 	padding: 0px 10px 0px 5px;
}


.PropertyNameCell .required {
    color: white;
    vertical-align: middle;
}

.PropertyCell input {
    vertical-align: top;
}


H1 {
    font-weight: bold;
    font-size: 18px;
    font-family: Arial, Sans-Serif;
    margin-bottom: 0px;
}

H2 {
    font-weight: bold;
    font-size: 16px;
    font-family: Arial, Sans-Serif;
    margin-top: 10px;
    margin-bottom: 0px;
}

H3 {
    font-weight: bold;
    font-size: 14px;
    font-family: Arial, Sans-Serif;
    margin-top: 10px;
    margin-bottom: 0px;
}

H4 
{
    font-weight: bold;
    font-size: 12px;
    font-family: Arial, Sans-Serif;
    margin-top: 10px;
    margin-bottom: 0px;
}

H5 
{
    font-weight: bold;
    font-size: 11px;
    font-family: Arial, Sans-serif;
    margin-bottom: 0px;
}

H6 
{
    font-weight: bold;
    font-size: 10px;
    font-family: Arial, Sans-Serif;
    margin-bottom: 0px;
}


.NavigationBar {
	background-color: #E7E7E7;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	margin-bottom: 5px;
	padding-bottom: 15px;
}

.NavigationBar td {
	padding: 5px;
	padding-top: 10px;
	background-color: none ! important;
	vertical-align: top;
}

.NavigationBar td input {
	position: relative;
	top: -4px;
}
.ActionCell {
	background-color: #E7E7E7;
	margin-bottom: 5px;
	padding-bottom: 0px;
	vertical-align: middle;
}

.ActionCell ul {
	height: 15px;
}
.ActionCell li {
	padding-left: 5px;
}

.ListRepetitionHeaderRow th {
	background-color: none ! important;
	padding-bottom: 5px;
}

.ListRepetitionHeaderRow {
	background-color: #efefef;
	height: 40px;
}

.QueryRepetitionTable .requiredMarker {
	display: none;
}

.QueryRepetitionTable .PropertyTable td {
	padding: 0px 4px;
}

.PropertyName {
	white-space: normal ! important;
	text-align: center;
}

.HeaderCell td, .HeaderCell th {
	ve-rtical-align: bottom;
}

.HeaderCell table {
	padding-bottom: 4px;
}
.formcontainer td hr {
	display: none;
}

.ERXTabPanel .Tabs {
	margin-top: 16px;
	margin-bottom: 6px;
}

.ERXTabPanel .TabItems {
	display: inline;
	background-color: #E7E7E7;
	border-left: 1px solid black;
	padding: 6px 0px;
	margin-left: 6px;
}

.ERXTabPanel .TabItems li {
	display: inline;
	background-color: #E7E7E7;
	border-right: 1px solid black;
	border-top: 1px solid black;
	padding: 6px 5px;
	margin: 0px;
	text-transform: uppercase;
}

.ERXTabPanel .TabItems li div {
	border: 0px solid black;
	display: inline;
}

.ERXTabPanel .TabContent {
}

.ERXTabPanel li.tab {
	background-color: orange;
}

.ERDControllerButtonLinkList {
	display: inline;
	margin: 0px;
	padding: 0px;
}

.ERDControllerButtonLinkList li {
	display: inline;
	margin: 0px;
	padding: 0px;
}

.ERDControllerButtonLinkList li a {
	padding: 0px 5px;
}

.AttributeRow0 {
	background-color: none;
}

.AttributeRow1 {
	background-color: blue;
}

button {
	background-color: #4b0000;
	color: white;
	width: 80px;
	text-align: center;
}

.Actions {
	text-align: right;
}

.ERXSubmitButton a {
	color: buttontext;
	cursor: default;
	background-color: #4b0000;
	border-style: outset;
	border-width: 2px;
	border-top-color: buttonface;
	border-left-color: buttonface;
	border-right-color: buttonshadow;
	border-bottom-color: buttonshadow;
	padding: 0px 6px;
	margin: 5px;
	font-size: small;
	font-family: sans-serif;
	line-height: normal !important;
}

.ERXSubmitButton a:active {
	border-top-color: buttonshadow;
	border-left-color: buttonshadow;
	border-right-color: buttonface;
	border-bottom-color: buttonface;
}
