/*
 *	This is a global style sheet. the elements in here can be used throughout the site.
 *	To apply any portion of this style sheet add 'class="element"' to an HTML tag
 *	that surrounds the desired portion; where '.element' is the
 *	style you wish to apply. Note how the '.' is removed.
 */

/* Basic overall typography for the site. */
body, li, td, p, br, form, input, text, select, option, textarea, th, ol, ul, table, blockquote {  
	padding: 0px;
}

.ContentTable {
	width: 100%;
}

form#ERDQuickSearch {
	display: block;
	width: 450px;
	vertical-align: baseline;
}

#ERDQuickSearchButton {
	width: 450px;
	position: relative;
	top: 5px;
	width: 30px;
}

table {
	border-collapse: collapse;
}

body {
	padding: 0px;
	margin: 0px;
}

.Greeting {
	position: absolute;
}

.MenuRow {
	background-color: grey;
}

.Nav1Selected {
	background-color: orange;
}
	
.Nav2Selected {
	background-color: orange;
}
	
.Nav3Selected {
	background-color: orange;
}
	
.HeaderRow {
	background-color: blue;
	color: white;
	border-bottom: 5px solid green;
}

.MainItems {
	color: white;
}

.HeaderRow A {
	color: white;
}

.HeaderRow A:visited {
	color: yellow;
	
}
.HeaderRow A:active {
	color: white;
}

.InspectTable {
	width: 100%;
}

.ListTable {
}

.ListTable th {
	text-align: center;
}

.ListRepetitionRow td {
	background-color: #efefef;
}

.ListRepetitionRow {
	
	border-bottom: 1px solid black;
}

.ListRepetitionRow tr {
	
	border-bottom: 0px solid black;
}

.QueryTable {
	float: left;
	border-right: 5px solid grey;
	margin-right: 25px;
}

.LayoutTable {
	border-right: 0px;
	margin-right: 0px;
}

.ERXNavigationMenu .Level1ItemTable, 
.ERXNavigationMenu .Level2ItemTable, 
.ERXNavigationMenu .Level3ItemTable {
	float: right;
}

.MainItems .Level1ItemTable td,
.ERXNavigationMenu .Level1ItemTable td,
.ERXNavigationMenu .Level2ItemTable td,
.ERXNavigationMenu .Level3ItemTable td {
	vertical-align: middle;
	text-align: center;
	height: 16px;
	padding: 5px;
}

select {
	width: 300px;
}

.ERD2WQueryOperatorPopup {
	width: 180px;
}

.ERDControllerButtonLinkList li {
	display: inline;
}

td.Section {
    background-color: #cccccc;
    padding: 5px 10px 5px 5px;
    border-bottom : 1px solid Black;
    border-top : 1px solid Black;
}

.QueryTable .PropertyTable {
    width: 100%;
    background-color: #E7E7E7;
	padding: 5px 10px 5px 5px;
}

.QueryTable .PropertyTable {
    margin-top: 5px;
}

.PropertyNameCell {
    background-color: #E7E7E7;
    padding: 0px 10px 0px 5px;
    width:180px;
}

.PropertyNameCell .required {
    color: white;
}
