<?xml version="1.0" encoding="UTF-8"?>
<rss version="0.93">
<channel>
<title><webobject name="feedTitle"></webobject></title>
<webobject name="Link"><webobject name="feedUrl"></webobject></webobject>
<description><webobject name="feedDescription"></webobject></description>
<webobject name="items">
<item>
<pubDate><webobject name="itemPubDate"></webobject></pubDate>
<title><webobject name="itemTitle"></webobject></title>
<webobject name="Link"><webobject name="itemLink"></webobject></webobject>
<description><![CDATA[<webobject name = "Content"></webobject>]]></description>
<webobject name="hasAuthor"><author><webobject name="itemAuthor"/></author></webobject>
<webobject name = "hasGuid"><guid><webobject name = "itemGuid"/></guid></webobject>
<webobject name = "hasNoGuid"><guid isPermaLink = "false"><webobject name = "itemTitle"/></guid></webobject>
</item>
</webobject>
</channel>
</rss>