<webObject name=Wrapper><DIV ALIGN=RIGHT><WEBOBJECT NAME=ERPrinterButton></WEBOBJECT></DIV>
	<WEBOBJECT NAME=MainTable>
		<TR>
			<TD><TABLE BORDER=0 CELLSPACING=1>
						<TR VALIGN=top>
							<TD VALIGN=top ALIGN=right><WEBOBJECT NAME=InspectTable>
									<WEBOBJECT NAME=BannerConditional>
										<TR>
											<TD ALIGN=center>
												<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=0>
													<TR>
														<TD COLSPAN=2>
															
														</TD>
													</TR>
													<WEBOBJECT NAME=InspectTableHeaderRow>
														<TD ALIGN=left><H2><B><WEBOBJECT NAME=EntityName></WEBOBJECT></B></H2></TD>
														<TD ALIGN=RIGHT width=30></TD>
													</WEBOBJECT>
												</TABLE>
											</TD>
										</TR>
									</WEBOBJECT>
									<TR>
										<TD ALIGN=CENTER></TD>
									</TR>
									<tr>
										<TD VALIGN=top ALIGN=center>
											<TABLE BORDER=1 CELLPADDING=2 CELLSPACING=2>
												<WEBOBJECT NAME=AttributeRepetition>
													<WEBOBJECT NAME=QueryRow>
														<TD ALIGN=right><B><WEBOBJECT NAME=String2></WEBOBJECT></B></TD>
														<TD>
															<WEBOBJECT NAME=AttributeValue></WEBOBJECT></TD>
													</WEBOBJECT>
												</WEBOBJECT>
											</TABLE>
										</TD>
									</TR>
								</WEBOBJECT>
							</TD>
						</TR>
						
					</TABLE>
			</TD>
		</TR>
	</WEBOBJECT>
</webObject>