<html>
	<head>
		<title>Log4J Configuration</title>
	</head>
	<body bgcolor=#FFFFFF>
		<h2 align=CENTER><webobject name=Hyperlink1>Log4J Configuration for
				<webobject name=String1></webobject></webobject></h2>
		<p></p>
		<table cellpadding=0 cellspacing=0 border=0>
			<tr>
				<td><webobject name=Form1><webobject name=TextFieldFilterString></webobject><webobject name=SubmitButtonFilter></webobject>&nbsp;<webobject name=SubmitButtonResetFilter></webobject></webobject></td>
				<td>&nbsp;&nbsp;&nbsp;</td>
				<td><webobject name=Form3>Logger:&nbsp;<webobject name=TextFieldLoggerName></webobject><webobject name=SubmitButtonAddLogger></webobject></webobject></td>
				<td>&nbsp;&nbsp;</td>
				<td><webobject name=Form4>Rule Rhs:&nbsp;<webobject name=TextFieldRuleKey></webobject><webobject name=SubmitButtonAddRuleKey></webobject></webobject></td>
			</tr>
		</table>
		<webobject name=Form2><webobject name=SubmitButton2></webobject>&nbsp;<webobject name=SubmitButton4></webobject>&nbsp;<webobject name=SubmitButton5></webobject><br>
			<br>
			<table cellpadding=0 cellspacing=0 border=0>
				<webobject name=RepetitionLoggers><webobject name=GenericContainerTR>
						<td><webobject name=StringLoggerName></webobject></td>
						<td><webobject name=StringLoggerLevel></webobject></td>
						<webobject name=GenericContainerTD>&nbsp;&nbsp;&nbsp;<webobject name=RadioButtonDebugLevel></webobject><webobject name=B1>Debug</webobject>&nbsp;&nbsp;<webobject name=RadioButtonInfoLevel></webobject><webobject name=B2>Info</webobject>&nbsp;&nbsp;<webobject name=RadioButtonWarnLevel></webobject><webobject name=B3>Warn</webobject>&nbsp;&nbsp;<webobject name=RadioButtonErrorLevel></webobject><webobject name=B4>Error</webobject>&nbsp;&nbsp;<webobject name=RadioButtonFatalLevel></webobject><webobject name=B5>Fatal</webobject>&nbsp;&nbsp;<webobject name=RadioButtonOffLevel></webobject><webobject name=B6>Off</webobject>&nbsp;&nbsp;<webobject name=RadioButtonUnsetLevel></webobject><i>Unset</i></webobject></webobject></webobject>
			</table>
			<br>
			<webobject name=SubmitButtonUpdate2></webobject>&nbsp;<webobject name=SubmitButtonShowAll2></webobject>&nbsp;<webobject name=SubmitButtonShowExplicitLevels2></webobject></webobject>
<TABLE CELLSPACING=0 CELLPADDING=0 BORDER=0><TR><TD><WEBOBJECT NAME=Form7><A TARGET="_new" HREF="http://logging.apache.org/log4j/docs/api/org/apache/log4j/PatternLayout.html">Conversion Pattern</A>: <WEBOBJECT NAME=TextFieldFilterString2></WEBOBJECT><WEBOBJECT NAME=SubmitButtonFilter2></WEBOBJECT>&nbsp;</WEBOBJECT></TD><TD>&nbsp;&nbsp;&nbsp;</TD></TR></TABLE><hr><webobject name=ShowLoggerString><br><textarea cols="60" rows="20" wrap="off"><webobject name=LoggerString></webobject></textarea></webobject>
	</body>
</html>