@import url("ERDIVEditPage.css");

/* WebObjectsEditToManyFault.css */

li.D2WAjaxEditToManyFault {
	background-color: #333333;
}

li.D2WAjaxEditToManyFault a {
	display: block;
}

button.D2WAjaxEditToManyFault_Delete {
	float: right;
	color: white;
}

button.D2WAjaxEditToManyFault_Add {
	text-indent: -5000px;
	cursor: pointer;
	background: url(/WebObjects/Frameworks/JavaDirectToWeb.framework/WebServerResources/add-sm-btn.gif);
	height: 17px;
	width: 46px;
	border:0;
	display: block;
}

button.D2WAjaxEditToManyFault_Delete {
	margin-top: -27px;
	height: 27px;
	width: 27px;
	font-size: 9pt;
	text-align: center;
}

button.D2WAjaxEditToManyFault_Delete:hover {
	text-decoration: none;
	background-color: #202020;	
	font-weight: bold;
}

li.D2WAjaxEditToManyFault {
	width: 20em;
}

/* WebObjectsEditToOneFault.css */

div.D2WAjaxEditToOneFault {
	background-color: #333333;
}

div.D2WAjaxEditToOneFault a {
	display: block;
}

button.D2WAjaxEditToOneFault_Delete {
	color: white;
	float: right;
}

button.D2WAjaxEditToOneFault_Add {
	text-indent: -5000px;
	cursor: pointer;
	background: url(/WebObjects/Frameworks/JavaDirectToWeb.framework/WebServerResources/add-sm-btn.gif);
	height: 17px;
	width: 46px;
	border:0;
	display: block;
}

button.D2WAjaxEditToOneFault_Delete {
	margin-top: -27px;
	height: 27px;
	width: 27px;
	font-size: 9pt;
	text-align: center;
}

button.D2WAjaxEditToOneFault_Delete:hover {
	text-decoration: none;
	background-color: #202020;	
	font-weight: bold;
}

div.D2WAjaxEditToOneFault {
	width: 20em;
}


/* The following are styles for the edit page */

div#a form.edit h1.edit {
	background: url(/WebObjects/Frameworks/JavaDirectToWeb.framework/WebServerResources/edit-ban.gif);
	background-repeat: no-repeat;
	text-indent: -5000px;
	width: 550px;
	height: 34px;
}

div#a h2.entity {
	min-width: expression(document.getElementById('section').offsetWidth + "px");
}

div#a form.edit fieldset.button ul li button {
	text-indent: -5000px;
	display: block;
	height:27px;
	border: 0px;
	cursor: pointer;
	width: 100px;
}

div#a form.edit fieldset.button ul li button.cancel {
	background: url(/WebObjects/Frameworks/JavaDirectToWeb.framework/WebServerResources/cancel-btn.gif);
}

div#a form.edit fieldset.button ul li button.save {
	background: url(/WebObjects/Frameworks/JavaDirectToWeb.framework/WebServerResources/save-btn.gif);
}

div#a form.edit div.accordion-content ul li.attribute legend.propertyKey {
	font-size: 10pt;
	margin-left: -128px; /*width of left column*/
	color: white;
}

div#a form.edit fieldset.attribute {
	padding-left: 12em; /*width of left column*/
}

div#a form.edit div.accordion-content ul li.attribute div.content {
	border-left: solid #333333 1px;
	padding-left: 4px;
	margin-top: -27px;
	min-height: 27px;
}

div#a form.edit div.accordion-content ul li.attribute {
	line-height: 27px;
}

div#a form.edit fieldset.button {
	width: expression(document.getElementById('section').offsetWidth + "px");
	margin-top: 3px;
	width: 100%;
}

div#a form.edit fieldset.button ul {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	margin-bottom: 10px;
}

/* The following are styles for WebObjects Look specific D2W components */

div.D2WAjaxEditToOneFault, li.D2WAjaxEditToManyFault {
	background-color: #333333;
}
