<WEBOBJECT NAME=PageWrapper>
    <webobject name="Help"></webobject>
    
    <webobject name="AboveDisplayPropertyKeys"></webobject>
    
    <WEBOBJECT NAME=QueryTable>
        <WEBOBJECT NAME=BannerConditional>
            <TR>
                <TD ALIGN=center>
                    <TABLE BORDER=0>
                        <TR>
                            <TD ALIGN=left COLSPAN=3><WEBOBJECT NAME=Banner></WEBOBJECT></TD>
                        </TR>
                        <WEBOBJECT NAME=QueryTableHeaderRow>
                            <TD ALIGN=left COLSPAN=3><B>
                                <WEBOBJECT NAME=FontContainer>Entities</WEBOBJECT></B></TD>
                        </WEBOBJECT>
                        <TR>
                            <TD></TD>
                        </TR>
                    </TABLE>
                </TD>
            </TR>
        </WEBOBJECT>
        <TR>
            <TD>&nbsp;</TD>
        </TR>
        <TR>
            <TD ALIGN=left VALIGN=top>
                <TABLE BORDER=0 CELLSPACING=0 CELLPADDING=1>
                    <WEBOBJECT NAME=EntitiesRepetition>
                        <WEBOBJECT NAME=QueryRow>
                            <!WOB-Tokenizer Allow-Marker="FORM" As-Child-Of="TR">
                            <WEBOBJECT NAME=QueryForm>
                                <!WOB-Tokenizer Allow-Marker="TD" As-Child-Of="FORM">
                                <TD ALIGN=right><STRONG><FONT COLOR=000000 SIZE=-1><WEBOBJECT NAME=EntityName></WEBOBJECT></FONT></STRONG>&nbsp;</TD>
                                <TD BGCOLOR=#ffffff><IMG BORDER=0 HEIGHT=1 WIDTH=1></TD>
                                <TD ALIGN=right>&nbsp;<WEBOBJECT NAME=QueryAnyField></WEBOBJECT></TD>
                                <TD VALIGN=center><WEBOBJECT NAME=SearchButtonImage></WEBOBJECT></TD>
                                <TD VALIGN=center><WEBOBJECT NAME=RegularQueryHyperlink><WEBOBJECT NAME=MoreOptionsImage></WEBOBJECT></WEBOBJECT></TD>
                            </WEBOBJECT>
                            <!WOB-Tokenizer Restore-Original-Grammar>
                        </WEBOBJECT>
                        <TR>
                            <TD BGCOLOR="#ffffff"><IMG BORDER=0 HEIGHT=1 WIDTH=1></TD>
                            <TD></TD>
                            <TD></TD>
                            <TD></TD>
                            <TD></TD>
                        </TR>
                    </WEBOBJECT>
                </TABLE>
            </TD>
        </TR>
    </WEBOBJECT>
    
    <webobject name="BelowDisplayPropertyKeys"></webobject>
    
</WEBOBJECT>