<!DOCTYPE html>
<html>
  <head>
    <meta charset = "utf-8" />
    <meta name = "viewport" content = "width=device-width, initial-scale=1" />
    <wo:genericElement elementName="link" rel="stylesheet" href="$themeStyleSheetUrl" />
    <wo:genericElement elementName="link" rel="stylesheet" href="$iconsStyleSheetUrl" />
    <wo:genericElement elementName="link" rel="stylesheet" href="$structurceStyleSheetUrl" />
    <wo:genericContainer elementName="script" src="$jQueryUrl" />
    <wo:genericContainer elementName="script" src="$javascriptUrl" />
    <wo:genericContainer elementName = "script" src = "$autocompleteUrl" />
    <webobject name = "InHeaderContent" />
  </head>
  <body>
    <wo:genericContainer elementName = "div" data-role = "page" data-dialog = "true" otherTagString = "$otherTagString">
      <div data-role = "header">
        <wo:WOGenericContainer elementName = "$heading"><wo:WOString value = "$^data-title" /></wo:WOGenericContainer>
      </div>
      <webobject name = "HasNoNewTemplates"><webobject name = "MainComponent" /></webobject>
      <webobject name = "ContainerContent" />
    </wo:genericContainer>
  </body>
</html>