<webobject name=SwitchComponent3><br />
	<webobject name=Help></webobject>
	<table BORDER=0>
		<tr>
			<td class=Alert><WEBOBJECT NAME=Title></WEBOBJECT></td>
		</tr>
		<webobject name=Conditional2>
			<tr>
				<td class=Big>
					<webobject name=Message></webobject>
				</td>
			</tr>
		</webobject><webobject name=HasExplanationComponent>
			<tr>
				<td align=CENTER><webobject name=SwitchComponent4></webobject></td>
			</tr>
		</webobject>
		<webobject name=HasNextPage>
		<tr>
			<td align=right>
				<webobject name=HasNoBranchChoices><webobject name=OKButton></webobject></webobject>
				<webobject name=HasBranchChoices><webobject name=Repetition1><webobject name=BranchButton></webobject>&nbsp;</webobject></webobject>
			</td>
		</tr>
		</webobject>
	</table>
</webobject>