<table border=0>
	<tr>
		<td colspan=4>
			<table border=0 width=100%>
				<tr bgcolor=#aaaaaa>
					<td><font size=2 face=arial,geneva><webobject name=showAddSub><webobject name=ActiveImage1></webobject></webobject></font></td>
					<td><font size=2 face=arial,geneva>key</font></td>
					<td><font size=2 face=arial,geneva>Mthd?</font></td>
					<td><font size=2 face=arial,geneva>Time?</font></td>
					<td><font size=2 face=arial,geneva>Format</font></td>
					<td><font size=2 face=arial,geneva>Pre-defs Types</font></td>
					<td><font size=2 face=arial,geneva>Edges?</font></td>
				</tr>
				<webobject name=Repetition1>
					<tr>
						<td align=right><webobject name=showDeleteSub><webobject name=ActiveImage2></webobject></webobject></td>
						<td><webobject name=TextField6></webobject></td>
						<td><webobject name=CheckBox4></webobject></td>
						<td><webobject name=CheckBox5></webobject></td>
						<td><webobject name=TextField7></webobject></td>
						<td><webobject name=PopUpButton1></webobject></td>
						<td><webobject name=CheckBox6></webobject></td>
					</tr>
					<tr>
						<td align=right><font size=2 face=arial,geneva>PossibleValues</font></td>
						<td colspan=6><webobject name=TextField8></webobject></td>
					</tr>
				</webobject>
			</table>
		</td>
	</tr>
	<tr>
		<td><font size=2 face=arial,geneva>Is this a string?
			<webobject name=CheckBox3></webobject><webobject name=collapse>
				<table>
					<tr>
						<td align=RIGHT><font size=2 face=arial,geneva>Show 'Total' Group:</font></td>
						<td><webobject name=CheckBox1></webobject>
							<webobject name=TextField2></webobject></td>
						<td align=left><font size=2 face=arial,geneva>'Total' Label</font></td>
						<td align=right><font size=2 face=arial,geneva>&nbsp;&nbsp;&nbsp;&nbsp;Compnd
							Sep:<webobject name=TextField5></webobject></font></td>
					</tr>
					<tr>
						<td align=RIGHT><font size=2 face=arial,geneva>Show 'Other' Group:</font></td>
						<td><webobject name=CheckBox2></webobject>
							<webobject name=TextField3></webobject></td>
						<td align=left><font size=2 face=arial,geneva>'Other' Label</font></td>
						<td align=RIGHT><font size=2 face=arial,geneva>Range
							Sep:<webobject name=TextField4></webobject></font></td>
					</tr>
					<tr>
						<td align=RIGHT><font size=2 face=arial,geneva> Calendar Format:</font></td>
						<td><webobject name=TextField1></webobject></td>
						<td align=RIGHT><font size=2 face=arial,geneva></font></td>
						<td colspan=2></td>
					</tr>
				</table>
			</webobject></font></td>
	</tr>
</table>