<webobject name = "IsRefreshEnabled">
  <webobject name = "Refresh"></webobject>
</webobject>
<webobject name = "NavPage"></webobject>
<b>
  <font size = "+3">
    <webobject name = "AppIsRunning">
      <webobject name = "AppLink">
        <webobject name = "AppName"></webobject>
      </webobject>
    </webobject>
    <webobject name = "AppIsNOTRunning">
      <webobject name = "AppName"></webobject>
    </webobject>
  </font>
</b>
<br />
<webobject name = "IsRefreshEnabled">
  <font size = "-1">
    This page automatically updates every
    <webobject name = "RefreshRate"></webobject>
    seconds.
  </font>
  <br />
</webobject>
<font size = "-1">
  <webobject name = "RefreshLink">Refresh Now</webobject>
</font>
<br />
<p align = "CENTER">
  <font color = "#FF0000">
    <b>
      <br />
      <webobject name = "MessageString"></webobject>
    </b>
  </font>
</p>
<table border = "1" cellpadding = "2" cellspacing = "0" bgcolor = "#E8E8E8">
  <tr>
    <th rowspan="2">Selected</th>
    <th rowspan="2">Name</th>
    <th rowspan="2">Host: Port</th>
    <th rowspan="2">Status</th>
    <th rowspan="2">Start - Stop</th>
    <th rowspan="2">Auto- Recover</th>
    <th rowspan="2">Refuse New Sessions</th>
    <th rowspan="2">Scheduled</th>
    <th rowspan="2">Next shutdown</th>
    <th colspan="6">Statistics</th>
    <th rowspan="2">Configure</th>
    <th rowspan="2">Delete</th>
  </tr>
  <tr>
    <th>Transactions</th>
    <th>Active Sessions</th>
    <th>Average Transactions</th>
    <th>Average Idle Period</th>
    <th>Deaths</th>
    <th>WOStats</th>
   </tr>
  <webobject name = "InstanceRepetition">
    <tr>
<!-- Selection -->
<td><webobject name = "SelectOneForm"><webobject name = "IsSelected"/></webobject></td>

<!--       Instance Number       -->
      <td align = "CENTER">
        <webobject name = "InstanceRunningConditional">
          <webobject name = "InstAdaptorLink">
            <webobject name = "InstIndex"></webobject>
          </webobject>
        </webobject>
        <webobject name = "InstanceNOTRunningConditional">
          <webobject name = "InstIndex"></webobject>
        </webobject>
      </td>
<!--       Host - Port       -->
      <td align = "CENTER" valign = "MIDDLE">
        <font size = "-1">
          <webobject name = "InstanceRunningConditional">
            <webobject name = "InstDirectLink">
              <webobject name = "InstRunningOnHost"></webobject>
            </webobject>
          </webobject>
          <webobject name = "InstanceNOTRunningConditional">
            <webobject name = "InstRunningOnHost"></webobject>
          </webobject>
        </font>
      </td>
<!--       Status (On/Off/Starting/Stopping)       -->
      <td align = "CENTER" valign = "MIDDLE">
        <webobject name = "InstStatusImage"></webobject>
      </td>
<!--       Start/Stop Buttons       -->
      <td align = "CENTER" valign = "MIDDLE">
        <webobject name = "StartInstanceLink">
          <webobject name = "StartImage"></webobject>
        </webobject>
        <webobject name = "StopInstanceLink">
          <webobject name = "StopImage"></webobject>
        </webobject>
      </td>
<!--       Auto-Recover       -->
      <td align = "CENTER" valign = "MIDDLE">
        <webobject name = "IFSchedulingIsOn">
          <webobject name = "YellowOnImage"></webobject>
        </webobject>
        <webobject name = "IFSchedulingIsOff">
          <webobject name = "ToggleAutoRecoverLink">
            <webobject name = "AutoRecoverImage"></webobject>
          </webobject>
        </webobject>
      </td>
<!--       Refuse New Sessions       -->
      <td align = "CENTER" valign = "MIDDLE">
        <webobject name = "IFSchedulingIsOn">
          <webobject name = "RefuseNewSessionsImage"></webobject>
        </webobject>
        <webobject name = "IFSchedulingIsOff">
          <webobject name = "InstanceRunningConditional">
            <webobject name = "ToggleRefuseNewSessionsLink">
              <webobject name = "RefuseNewSessionsImage"></webobject>
            </webobject>
          </webobject>
          <webobject name = "InstanceNOTRunningConditional">
            <webobject name = "OffImage"></webobject>
          </webobject>
        </webobject>
      </td>
<!--       Schedule       -->
      <td align = "CENTER" valign = "MIDDLE">
        <webobject name = "ToggleSchedulingLink">
          <webobject name = "SchedulingImage"></webobject>
        </webobject>
      </td>
<!--       Next Scheduled Shutdown       -->
      <td align = "CENTER" valign = "MIDDLE">
        <webobject name = "NextShutdown"></webobject>
      </td>
<!--       Statistics       -->
      <td align = "CENTER" valign = "MIDDLE">
        <webobject name = "InstTransactions"></webobject>
      </td>
      <td align = "CENTER" valign = "MIDDLE">
        <webobject name = "InstActiveSessions"></webobject>
      </td>
      <td align = "CENTER" valign = "MIDDLE">
        <webobject name = "InstAverageTransaction"></webobject>
      </td>
      <td align = "CENTER" valign = "MIDDLE">
        <webobject name = "InstAverageIdle"></webobject>
      </td>
      <td align = "CENTER" valign = "MIDDLE">
        <webobject name = "ShouldDisplayDeathDetailLink">
          <webobject name = "InstDeathDetailLink">
            <webobject name = "InstDeathCount"></webobject>
          </webobject>
        </webobject>
        <webobject name = "ShouldNOTDisplayDeathDetailLink">-</webobject>
      </td>
      <td align = "CENTER" valign = "MIDDLE">
        <webobject name = "InstanceRunningConditional">
          <webobject name = "LinkToWOStats">
            <webobject name = "WOStatsButton"></webobject>
          </webobject>
        </webobject>
        <webobject name = "InstanceNOTRunningConditional">
          <webobject name = "WOStatsOffButton"></webobject>
        </webobject>
      </td>
<!--       Configure       -->
      <td align = "CENTER" valign = "MIDDLE">
        <webobject name = "InstConfigureLink">
          <webobject name = "ConfigButton"></webobject>
        </webobject>
      </td>
<!--       Delete       -->
      <td align = "CENTER" valign = "MIDDLE">
        <webobject name = "InstDeleteLink">
          <webobject name = "DeleteButton"></webobject>
        </webobject>
      </td>
    </tr>
  </webobject>
  <webobject name = "HasInstancesConditional">
    <tr>
      <td colSpan = "15" bgColor = "#ffffff">&nbsp</td>
    </tr>
    <tr bgcolor = "#D4D4D4">
	<td><webobject name = "SelectAllForm">
	<input type="checkbox" name="selectall" onclick="this.form.submit()" checked="checked">/
	<input type="checkbox" name="deselectall" onclick="this.form.submit()" value="on" ></webobject></td>
      <td vAlign = "center" align = "middle" colSpan = "3">
        <font size = "+1">
          <b>ALL INSTANCES:</b><br /><webobject name = "SelectRunning">Running</webobject> <webobject name = "SelectNotRunning">Not Running</webobject>
        </font>
      </td>
<!--       Start / Stop All       -->
      <td align = "CENTER" valign = "MIDDLE">
        <webobject name = "StartAllLink">
          <webobject name = "StartImage"></webobject>
        </webobject>
        <webobject name = "StopAllLink">
          <webobject name = "StopImage"></webobject>
        </webobject>
      </td>
<!--       AutoRecover All      -->
      <td align = "CENTER" valign = "MIDDLE">
        <webobject name = "AutoRecoverEnableAllLink">
          <webobject name = "StartImage"></webobject>
        </webobject>
        <webobject name = "AutoRecoverDisableAllLink">
          <webobject name = "StopImage"></webobject>
        </webobject>
      </td>
<!--       Refuse New Sessions All       -->
      <td align = "CENTER" valign = "MIDDLE">
        <webobject name = "RefuseNewSessionsAllLink">
          <webobject name = "StartImage"></webobject>
        </webobject>
        <webobject name = "AcceptNewSessionsAllLink">
          <webobject name = "StopImage"></webobject>
        </webobject>
      </td>
<!--       Scheduling All       -->
      <td align = "CENTER" valign = "MIDDLE">
        <webobject name = "SchedulingEnableAllLink">
          <webobject name = "StartImage"></webobject>
        </webobject>
        <webobject name = "SchedulingDisableAllLink">
          <webobject name = "StopImage"></webobject>
        </webobject>
      </td>
<!--       Next Scheduled Shutdown       -->
      <td>&nbsp</td>
<!--       Statistics All       -->
      <td align = "CENTER" valign = "MIDDLE">
        <webobject name = "TotalTransactions"></webobject>
      </td>
      <td align = "CENTER" valign = "MIDDLE">
        <webobject name = "TotalActiveSessions"></webobject>
      </td>
      <td align = "CENTER" valign = "MIDDLE">
        <webobject name = "TotalAverageTransaction"></webobject>
      </td>
      <td align = "CENTER" valign = "MIDDLE">
        <webobject name = "TotalAverageIdleTime"></webobject>
      </td>
      <td align = "CENTER" valign = "MIDDLE">
        <webobject name = "ClearDeathsLink">
          Clear
          <br />
          Deaths
        </webobject>
      </td>
      <td align = "CENTER" valign = "MIDDLE">
        <webobject name = "ActualRatePerMinute"></webobject>
        TPM      </td>
<!--       Configure       -->
      <td align = "CENTER" valign = "MIDDLE">
        <webobject name = "ConfigureLink">
          <webobject name = "ConfigButton"></webobject>
        </webobject>
      </td>
      <td>&nbsp</td>
    </tr>
  </webobject>
</table>
<hr />
<webobject name = "AddHasHostsConditional">
  <webobject name = "AddInstanceForm">
    <webobject name = "AddInstanceSubmitButton"></webobject>
    <webobject name = "AddNumInstances"></webobject>
    instance(s) on host:
    <webobject name = "AddHostPopUp"></webobject>
  </webobject>
</webobject>
<webobject name = "AddHasNOHostsConditional">
  There are no hosts configured.
  <br />
  <br />
  Please
  <webobject name = "AddHostsLink">add hosts</webobject>
  before adding instances.
</webobject>