{
    attributes = (
        {
            columnName = "ARCHIVE_DATE"; 
            externalType = date; 
            name = archiveDate; 
            userInfo = {modificationDate = "2001-11-05 10:12:39 +0000"; }; 
            valueClassName = NSCalendarDate; 
            valueType = T; 
        }, 
        {
            columnName = "UNIQUE_ID"; 
            externalType = int; 
            name = uniqueID; 
            precision = 38; 
            userInfo = {modificationDate = "2001-11-05 10:12:39 +0000"; }; 
            valueClassName = NSNumber; 
            valueType = i; 
        }
    ); 
    attributesUsedForLocking = (uniqueID, archiveDate); 
    className = Setting; 
    classProperties = (uniqueID, archiveDate); 
    externalName = SETTINGS; 
    fetchSpecificationDictionary = {}; 
    name = Setting; 
    primaryKeyAttributes = (uniqueID); 
    userInfo = {modificationDate = "2001-11-05 10:21:43 +0000"; }; 
}
