{
    attributes = (
        {
            columnName = ARCHIVED; 
            externalType = int; 
            name = archived; 
            precision = 38; 
            userInfo = {modificationDate = "2001-11-05 10:12:39 +0000"; }; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = COMMENTARY; 
            externalType = varchar; 
            name = comment; 
            userInfo = {modificationDate = "2001-11-05 10:12:39 +0000"; }; 
            valueClassName = NSString; 
            valueType = S; 
            width = 120; 
        }, 
        {
            columnName = "FROM_DATE"; 
            externalType = datetime; 
            name = fromDate; 
            userInfo = {modificationDate = "2001-11-05 10:12:39 +0000"; }; 
            valueClassName = NSCalendarDate; 
            valueType = T; 
        }, 
        {
            allowsNull = Y; 
            columnName = "FROM_PERIOD"; 
            externalType = varchar; 
            name = fromPeriod; 
            valueClassName = NSString; 
            valueType = S; 
            width = 2; 
        }, 
        {
            columnName = "PERSONS_ID"; 
            externalType = int; 
            name = personId; 
            precision = 38; 
            userInfo = {modificationDate = "2002-01-15 12:16:42 +0000"; }; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "TO_DATE"; 
            externalType = datetime; 
            name = toDate; 
            userInfo = {modificationDate = "2001-11-05 10:12:39 +0000"; }; 
            valueClassName = NSCalendarDate; 
            valueType = T; 
        }, 
        {
            allowsNull = Y; 
            columnName = "TO_PERIOD"; 
            externalType = varchar; 
            name = toPeriod; 
            valueClassName = NSString; 
            valueType = S; 
            width = 2; 
        }, 
        {
            columnName = "TOTAL_TIME"; 
            externalType = int; 
            name = totalTime; 
            precision = 38; 
            serverTimeZone = "US/Pacific"; 
            userInfo = {modificationDate = "2001-11-05 10:12:39 +0000"; }; 
            valueClassName = NSNumber; 
            valueType = d; 
        }, 
        {
            columnName = TYPE; 
            externalType = varchar; 
            name = type; 
            userInfo = {modificationDate = "2001-11-05 10:12:39 +0000"; }; 
            valueClassName = NSString; 
            valueType = S; 
            width = 80; 
        }, 
        {
            columnName = "UNIQUE_ID"; 
            externalType = int; 
            name = uniqueId; 
            precision = 38; 
            userInfo = {modificationDate = "2001-11-05 10:12:39 +0000"; }; 
            valueClassName = NSNumber; 
            valueType = i; 
        }
    ); 
    attributesUsedForLocking = (
        uniqueId, 
        archived, 
        comment, 
        fromDate, 
        personId, 
        toDate, 
        totalTime, 
        type, 
        fromPeriod, 
        toPeriod
    ); 
    className = VacationEvent; 
    classProperties = (
        comment, 
        fromDate, 
        toDate, 
        totalTime, 
        type, 
        person, 
        archived, 
        fromPeriod, 
        toPeriod
    ); 
    externalName = dates; 
    name = VacationEvent; 
    primaryKeyAttributes = (uniqueId); 
    relationships = (
        {
            destination = Person; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = primaryKey; sourceAttribute = personId; }); 
            name = person; 
            userInfo = {modificationDate = "2001-11-05 10:12:39 +0000"; }; 
        }
    ); 
    userInfo = {modificationDate = "2002-01-15 12:12:50 +0000"; }; 
}
