<table class="ERXNavigationMenu">
    <tr class="Level1ItemRow">
        <td>
            <table class="Level1ItemTable">
                <tr>
			        <webobject name=HasLevel1SpacerWidth><td><WEBOBJECT NAME=level1SpacerWidth></WEBOBJECT></td></webobject>
                    <webobject name=level1Items>
                        <webobject name=l1NavObject></webobject>
                    </webobject>
                </tr>
            </table></td>
    </tr>
    <webobject name=showLevel2>
        <tr class="Level2ItemRow">
            <td>
                <table class="Level2ItemTable">
                    <tr>
                        <webobject name=HasLevel2SpacerWidth><td><webobject name=level2SpacerWidth></webobject></td></webobject>
                        <webobject name=level2Items><webobject name=l2NavObject></webobject></webobject>
                    </tr>
                </table>
            </td>
         </tr>
        <webobject name=showLevel3>
        	<tr class="Level3ItemRow">
        		<td>
		        	<table class="Level3ItemTable">
		                <tr>
		                    <webobject name=HasLevel3SpacerWidth><webobject name=level3SpacerWidth></webobject></webobject>
		                    <webobject name=level3Items><webobject name=l3navObject></webobject></webobject>
		                </tr>
		            </table>
				</td>
			</tr>
        </webobject>
    </webobject>
</table>
