{
    attributes = (
        {
            columnName = "MOVIE_ID"; 
            externalType = integer; 
            name = movieID; 
            prototypeName = id; 
        }, 
        {
            allowsNull = Y; 
            columnName = REVIEW; 
            externalType = blob; 
            name = review; 
            prototypeName = varcharLarge; 
        }, 
        {
            allowsNull = N; 
            columnName = "REVIEW_ID"; 
            externalType = integer; 
            name = reviewID; 
            prototypeName = id; 
        }, 
        {
            allowsNull = Y; 
            columnName = REVIEWER; 
            externalType = char; 
            name = reviewer; 
            prototypeName = varchar50; 
        }
    ); 
    attributesUsedForLocking = (reviewID, movieID, reviewer); 
    className = "webobjectsexamples.businesslogic.eo.Review"; 
    classProperties = (reviewer, review, movie); 
    externalName = REVIEW; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {
        "_clientClassPropertyNames" = (reviewer, review, movie); 
        "_nameInObjectStore" = REVIEW; 
    }; 
    name = Review; 
    primaryKeyAttributes = (reviewID); 
    relationships = (
        {
            destination = Movie; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = movieID; sourceAttribute = movieID; }); 
            name = movie; 
        }
    ); 
}
