<wo:PageWrapper usePrintCss = "$usePrintCss" pageTitle = "Example Application for ERPDFGeneration.framework in Project Wonder">
  <h1>ERPDFGeneration Examples (using css for print media) </h1>
  <p>This application is intended to exercise the facilities
    in ERPDFGeneration framework of Project Wonder. Enormous profit
    from the use of this framework is left as an exercise for the user.
  </p>
  <p>The ERPDFGeneration framework is pretty small and narrowly focused
    so the following links are variations on the basic task of generating
    pdf output from material within your application. For reporting output
    using pdf (and other formats) you can also look at Jasper Reports (and 
    the corresponding Wonder framework, ERJasperReports (Frameworks/Reporting/ERJasperReports).
    An example of that framework is found in Examples/Reporting/ERJasperReportsExample.
  </p>
  <h3>Examples</h3>
  <dl>
    <dt>
      <wo:WOHyperlink pageName = "SimplePDFGeneration1">Simple PDF Generation</wo:WOHyperlink>
    </dt>
    <dd>This page wrapped in an ERPDFWrapper component rather than the page wrapper used for 
      html view and navigation. The difference between that page and this page is only
      the use of ERPDFWrapper instead of PageWrapper (from the example application). 
      I did put in a filename binding for the ERPDFWrapper, but it is not necessary.
    </dd>
    <dt>
      <wo:WOHyperlink pageName = "SimplePDFGeneration2">Simple PDF Generation with print media css</wo:WOHyperlink>
    </dt>
    <dd>
      The print media css file is already loaded 
      in this page. Click on the link to "Simple PDF Generation with print media css" or "Simple PDF Generation" to 
      see the effects of adding a print style sheet to the same page. (magical... isn't it?).
      <wo:WOHyperlink pageName = "Main">Click Here</wo:WOHyperlink>
      to unload the print style sheet. 
    </dd>
    <dt>ERPDFWrapper using additional configuration</dt>
    <dd />
    <dt>Simple FOP example</dt>
    <dd>As with the Simple PDF Generation example above, this uses the contents of this page 
      to feed an FOP transformation to PDF. This process uses the Apache FOP project.
    </dd>
    <dt>Simple FOP example using XML</dt>
    <dd>It is probably more likely that you'll be using FOP to transform XML source material.
      (If you can use Jasper Reports for reporting on XML data sources, it may be helpful to 
      consider that option because writing xsl for fo is not difficult, but it's also not as nice
      as using the report writer in Jasper. The reason I added the FOP processor is because I 
      have xml reports that are built in multiple stages and much of the fo transforms pre-date
      the Jasper Reports option ... so get off my back and quit dissing FOP!)</dd>
  </dl>
</wo:PageWrapper>