<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
  <head>
    <meta name = "generator" content = "WebObjects 5" />
    <title>Validity Example</title>
  </head>
  <body bgcolor = "#FFFFFF">
    <table align = "CENTER" width = "550">
      <tr>
        <td align = "CENTER">
          <b>
            <font size = "4">Validity Example</font>
          </b>
        </td>
      </tr>
      <tr>
        <td>This form will display the error messages together. If you would like to see an example, just press Submit.<p>
            <webobject name = "Hyperlink1">Home</webobject>
          </p>
          <webobject name = "Form1">
            <webobject name = "Conditional1">
              <webobject name = "Generic1">
                <font size = "4">
                  <b>New User successfully inserted, 
                    <webobject name = "Hyperlink2">add</webobject>
                    another?</b>
                </font>
              </webobject>
            </webobject>
            <webobject name = "Conditional2">
              <table align = "CENTER" width = "350">
                <tr>
                  <td colspan = "2">
                    <b>
                      <font size = "4">New User</font>
                    </b>
                  </td>
                </tr>
                <tr>
                  <td colspan = "2"><webobject name = "GSVExceptionViewer1" /></td>
                </tr>
                <tr>
                  <td>Firstname</td>
                  <td><webobject name = "TextField1" /></td>
                </tr>
                <tr>
                  <td>Lastname</td>
                  <td><webobject name = "TextField3" /></td>
                </tr>
                <tr>
                  <td>Username</td>
                  <td><webobject name = "TextField2" /></td>
                </tr>
                <tr>
                  <td>Password</td>
                  <td><webobject name = "TextField4" /></td>
                </tr>
                <tr>
                  <td>Verify Password</td>
                  <td><webobject name = "TextField6" /></td>
                </tr>
                <tr>
                  <td>Number</td>
                  <td><webobject name = "TextField5" /></td>
                </tr>
                <tr>
                  <td align = "CENTER" colspan = "2"><webobject name = "SubmitButton1" /></td>
                </tr>
              </table>
            </webobject>
          </webobject>
        </td>
      </tr>
    </table>
    <div align = "CENTER"><webobject name = "Footer1" /></div>
  </body>
</html>