body, li, td, p, br, form, input, text, select, option, textarea, th, ol, ul, table, blockquote {
        font-size: 11px;
        font-family: Verdana, Helvetica, Arial, sans-serif;
        }
a {
        color: #003366;
        text-decoration: underline;
        hover: #333366;
        }

.white { color: #ffffff; }

.grey { color: #CCCCCC; }

.PropertyName { font-weight: bold; }

.Nav1 {
	text-decoration: underline;

	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;

	color: #f3f3f3;
	font-size:11px;

        font-weight:bold; 
}


.Nav1:hover {
 	text-decoration: underline;  

}

.Nav1Selected {
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;

        font-weight:bold;

	text-decoration: none;

	color: #000000;
	font-size:11px;

}

.Nav2 {
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;

	text-decoration: underline;

	color: #000000;
	font-size:11px;

        font-weight:bold;

}

.Nav2Disabled {
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;

	text-decoration: none;

	color: #999999;
	font-size:11px;

        font-weight:bold;

}


.Nav2:hover {
 	text-decoration: underline;  

}


.Nav2Selected {
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;

	text-decoration: none;

	color: #f3f3f3;
	font-size:11px;

        font-weight:bold;

}

