<webobject name="PageWrapper"><webobject name="Help"></webobject>
<table align="center" border="0">
			<tr>
				<td class="Header"><webobject name=Header></webobject></td>
			</tr>
<webobject name="ListNotEmpty">
	<tr>
		<td class="TopActions">
			<webobject name=ShowCancel><webobject name=BackLink></webobject></webobject>
			<webobject name=ShowPrint><webobject name=ERPrinterButton></webobject></webobject><webobject name = "MassMofidy"></webobject><webobject name = "Filter"></webobject>
	        <div class="BranchChoices"><webobject name=ActionBar></webobject></div>
		</td>
	</tr>
	<tr>
		<td class="NavigationBarCell"><webobject name=NavigationBar></webobject></td>
	</tr>
	<tr>
		<td><webobject name="ListPageRepetition2"></webobject></td>
	</tr>
</webobject>
<webobject name="ListEmpty">
	<tr><td><webobject name="EmptyMessageComponent"></webobject></td></tr>
</webobject>
	<tr>
			<td class="Actions">
				<webobject name=ShowCancel><webobject name=BackLink></webobject></webobject>
				<webobject name=ShowPrint><webobject name=ERPrinterButton></webobject></webobject><webobject name = "MassMofidy"></webobject><webobject name = "Filter"></webobject>
	        	<div class="BranchChoices"><webobject name=ActionBar></webobject></div>
			</td>
	</tr>

</table>
</webobject>