<SCRIPT TYPE=text/javascript>
<!-- Begin
function move(fbox,tbox) {
var i = 0;
var j = 0;
for(var i=0; i<fbox.options.length; i++) {
	if(fbox.options[i].selected && fbox.options[i] != "") {
		var no = new Option();
		fbox.options[i].selected = false;
		no.value = fbox.options[i].value;
		no.text = fbox.options[i].text;
		tbox.options[tbox.options.length] = no;
		for(var j=i; j<fbox.options.length-1; j++){
			fbox.options[j].value = fbox.options[j+1].value;
			fbox.options[j].text = fbox.options[j+1].text;
		}
		fbox.options[fbox.options.length-1].value = "";
		fbox.options[fbox.options.length-1].text = "";
		fbox.options.length = fbox.options.length-1;
   }
}
updateHidden();
}

function editForm(){
var result;
for(var z=0; z<document.forms.length; z++){
	if(document.forms[z].name == 'EditForm'){
		result = document.forms[z];
	}
}
return result;
}

function remove(box) {
for(var i=0; i<box.options.length; i++) {
if(box.options[i].selected && box.options[i] != "") {
box.options[i].value = "";
box.options[i].text = "";
   }
}
BumpUp(box);
updateHidden();
} 
function BumpUp(abox) {
for(var i = 0; i < abox.options.length; i++) {
if(abox.options[i].value == "")  {
for(var j = i; j < abox.options.length - 1; j++)  {
abox.options[j].value = abox.options[j + 1].value;
abox.options[j].text = abox.options[j + 1].text;
}
var ln = i;
break;
   }
}
if(ln < abox.options.length)  {
abox.options.length -= 1;
BumpUp(abox);
   }
}

function Moveup(dbox) {
for(var i = 0; i < dbox.options.length; i++) {
if (dbox.options[i].selected && dbox.options[i] != "" && dbox.options[i] != dbox.options[0]) {
var tmpval = dbox.options[i].value;
var tmpval2 = dbox.options[i].text;
var tmpval3 = dbox.options[i].selected;
dbox.options[i].value = dbox.options[i - 1].value;
dbox.options[i].text = dbox.options[i - 1].text;
dbox.options[i].selected = dbox.options[i - 1].selected;
dbox.options[i-1].value = tmpval;
dbox.options[i-1].text = tmpval2;
dbox.options[i-1].selected = tmpval3;
      }
   }
updateHidden();
}
function Movedown(ebox) {
for(var i = ebox.options.length - 1; i >-1; i--) {
if (ebox.options[i].selected && ebox.options[i] != "" && ebox.options[i+1] != ebox.options[ebox.options.length]) {
var tmpval = ebox.options[i].value;
var tmpval2 = ebox.options[i].text;
var tmpval3 = ebox.options[i].selected;
ebox.options[i].value = ebox.options[i+1].value;
ebox.options[i].text = ebox.options[i+1].text;
ebox.options[i].selected = ebox.options[i+1].selected;
ebox.options[i+1].value = tmpval;
ebox.options[i+1].text = tmpval2;
ebox.options[i+1].selected = tmpval3;
      }
   }
updateHidden();
}

function updateHidden(){	
	var box = editForm().list2;
	var result = new String();
	for(var i = 0; i < box.options.length; i++){
		if(box.options[i].value.length > 0){
			if(box.options[i].text.substr(0,1)!="-"){
				result = result.concat(new String(box.options[i].value));
				if(i<box.options.length-1){
					result = result.concat(new String(","));
				}
			}
		}
	}
	editForm().resultHiddenField.value = result;
}

 
//  End -->

</SCRIPT>
<TABLE>
	<TR>
		<TD ROWSPAN=2><WEBOBJECT NAME=Browser1></WEBOBJECT></TD>
		<TD WIDTH=80 ALIGN=CENTER>
			&nbsp;<a href="javascript:move(editForm().list1,editForm().list2);">&lt;&lt;</a>
		</TD>
		<TD ROWSPAN=2><WEBOBJECT NAME=Browser2></WEBOBJECT></TD>
		<TD ROWSPAN=2>
			&nbsp;&nbsp;
		</TD>
		<TD ALIGN=CENTER ROWSPAN=2>
			<a href="javascript:Moveup(editForm().list2);" >//\\</a><BR><BR>
			<a href="javascript:Movedown(editForm().list2);" >\\//</a>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=80 ALIGN=CENTER><a HREF="javascript:move(editForm().list2, editForm().list1);">&gt;&gt;</a>
		</TD>
	</TR>
</TABLE>
<WEBOBJECT NAME=HiddenField1 ></WEBOBJECT>