<WEBOBJECT NAME=PageWrapper><BR><BR>
    <WEBOBJECT NAME=Help></WEBOBJECT><BR><BR>
    
    <webobject name="AboveDisplayPropertyKeys"></webobject>
    
    <TABLE BORDER=0>
        <TR>
            <TD ALIGN=RIGHT ROWSPAN=3 VALIGN=TOP><WEBOBJECT NAME=Image1></WEBOBJECT>&nbsp;&nbsp;&nbsp;</TD>
            <TD CLASS=Alert>Error<HR></TD>
        </TR>
        <TR>
            <TD CLASS=Big><WEBOBJECT NAME=String1></WEBOBJECT></TD>
        </TR>
        <TR>
            <TD></TD>
            <TD ALIGN=RIGHT><BR><WEBOBJECT NAME=Hyperlink1><WEBOBJECT NAME=CancelButton></WEBOBJECT></WEBOBJECT></TD>
        </TR>
    </TABLE><BR>

    <webobject name="BelowDisplayPropertyKeys"></webobject>

</WEBOBJECT>