<webObject name=Wrapper>
   <WEBOBJECT NAME=ListNotEmpty><DIV ALIGN=RIGHT><WEBOBJECT NAME=ERPrinterButton></WEBOBJECT></DIV>
      <CENTER>
         
         <br />
         <WEBOBJECT NAME=ListTable>
         	<TR>
         		<TD COLSPAN=2><H4><WEBOBJECT NAME=EntityName2></WEBOBJECT></H4><br />
         		</TD>
         	</TR><WEBOBJECT NAME=ListTableHeaderRow>
               <WEBOBJECT NAME=ColumnLabelRepetition><TH NOWRAP VALIGN=bottom COLSPAN=2><TABLE>
                        <TR>
                           <TH><WEBOBJECT NAME=PropertyName></WEBOBJECT></TH>
                           <TH></TH>
                        </TR>
                     </TABLE></TH></WEBOBJECT>
               
            </WEBOBJECT>
            <WEBOBJECT NAME=EntityRepetition><WEBOBJECT NAME=ListTableRow>
                  <WEBOBJECT NAME=AttributeRepetition><WEBOBJECT NAME=GenericContainer1>
                        <WEBOBJECT NAME=AttributeDisplay></WEBOBJECT></WEBOBJECT></WEBOBJECT>
                  
               </WEBOBJECT>
            </WEBOBJECT></WEBOBJECT><br />
         
      </CENTER>
   </WEBOBJECT>
</webObject>
