<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <webobject name = "HeadTag">
    <webobject name = "StyleSheets">
    </webobject>
  </webobject>
  <webobject name = "BodyTag">
    <webobject name = "IsDebug">
        <div id="ERD2WDebugFlags"><webobject name = "ERD2WDebugFlags" /></div>
    </webobject>
    <div id = "ContentWrapper">
      <div id = "MenuHeader">
        <webobject name = "EntitiesMenu" />
      </div>
      <div id = "MainContent"> 
        <webobject name = "MainContent" />
      </div>
    </div>
  <webobject name = "WOLToolBar"/>
  <webobject name = "ERMD2WStyleSheetInjector"/>
  </webobject>
</html>