.pages {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
}

.paginator {
	font-size: 12px;
	padding-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.paginator a {
	color: rgb(50, 50, 150);
	padding: 2px 6px;
	border: solid 1px rgb(208, 208, 208);
	background: rgb(255, 255, 255);
	text-decoration: none;
}

.paginator a:visited {
	color: rgb(50, 50, 150);
	padding: 2px 6px;
	border: solid 1px rgb(208, 208, 208);
	background: rgb(255, 255, 255);
	text-decoration: none;
}

.paginator .atStart {
	margin-right: 20px;
	padding: 2px 6px;
	background: rgb(255, 255, 255);
	color: rgb(160, 160, 160);
}

.paginator .prev {
	margin-right: 20px;
	padding: 2px 6px;
	border: solid 1px rgb(208, 208, 208);
	background: rgb(255, 255, 255);
}

.paginator .break {
	padding: 2px 6px;
	border: none;
	background: rgb(255, 255, 255);
	text-decoration: none;
}

.paginator .next {
	margin-left: 20px;
	padding: 2px 6px;
	border: solid 1px rgb(208, 208, 208);
	background: rgb(255, 255, 255);
}

.paginator .atEnd {
	margin-left: 20px;
	padding: 2px 6px;
	background: rgb(255, 255, 255);
	color: rgb(160, 160, 160);
}

.paginator .currentPage {
	padding: 2px 6px;
	border: 1px solid rgb(144, 144, 144);
	font-weight: bold;
	font-size: 13px;
	vertical-align: top;
	background: rgb(255, 255, 255);
	color: rgb(50, 50, 150);
}

.paginator a:hover {
	color: rgb(255, 255, 255);
	background: rgb(50, 50, 150);
	border-color: rgb(0, 48, 96);
	text-decoration: none;
}

.pages div.results {
	text-align: center;
	font: 11px/15px Arial, Helvetica;
	color: rgb(160, 160, 160);
	margin-top: 8px; 
}