<wo:Main pageTitle = "MooTools Accordion Test Page">
	
	<style>
	
		div.pressed {
			color: red;
		}
		
	</style>
	
	<script>
	
		var AccordionStateChange = {
			
			onActive : function(toggler, elements) {
				toggler.addClass('pressed');
			},
			
			onBackground : function(toggler, elements) {
				toggler.removeClass('pressed');			
			}
			
		};
	
	</script>
	<h3>MooTools Accordion</h3>
	<hr/>
	<p>
		A basic accordion.
	</p>
	<webobject name = "Accordion">
		<webobject name = "Tab1">
			<div style = "height: 200px; overflow-y:auto">
				Project WONDER is a collection of frameworks and tools for the WebObjects application server. It aims to fill some of the gaps 
				left in the packaged product, as well as add some useful and powerful utilities for WebObjects developers. Amongst a host of 
				other things, we provides a rich set of tools and additions for use in WebObjects and EOF and many extensions and enhancements
				to WebObjects' DirectToWeb functionality.
				<p>
				Project WONDER is a collection of frameworks and tools for the WebObjects application server. It aims to fill some of the gaps 
				left in the packaged product, as well as add some useful and powerful utilities for WebObjects developers. Amongst a host of 
				other things, we provides a rich set of tools and additions for use in WebObjects and EOF and many extensions and enhancements
				to WebObjects' DirectToWeb functionality.
				<p>
				Project WONDER is a collection of frameworks and tools for the WebObjects application server. It aims to fill some of the gaps 
				left in the packaged product, as well as add some useful and powerful utilities for WebObjects developers. Amongst a host of 
				other things, we provides a rich set of tools and additions for use in WebObjects and EOF and many extensions and enhancements
				to WebObjects' DirectToWeb functionality.
				<p>
				Project WONDER is a collection of frameworks and tools for the WebObjects application server. It aims to fill some of the gaps 
				left in the packaged product, as well as add some useful and powerful utilities for WebObjects developers. Amongst a host of 
				other things, we provides a rich set of tools and additions for use in WebObjects and EOF and many extensions and enhancements
				to WebObjects' DirectToWeb functionality.
			</div>			
		</webobject>
		<webobject name = "Tab2">
			Project WONDER is a collection of frameworks and tools for the WebObjects application server. It aims to fill some of the gaps 
			left in the packaged product, as well as add some useful and powerful utilities for WebObjects developers. Amongst a host of 
			other things, we provides a rich set of tools and additions for use in WebObjects and EOF and many extensions and enhancements
			to WebObjects' DirectToWeb functionality.
		</webobject>
		<webobject name = "Tab3">
			This is the third tab.
		</webobject>
		<webobject name = "Tab4">
			This is the fourth tab.
		</webobject>
	</webobject>

</wo:Main>