<webObject name=Wrapper><WEBOBJECT NAME=HasHeader><WEBOBJECT NAME=Header></WEBOBJECT></WEBOBJECT>
   <WEBOBJECT NAME=ListNotEmpty>
      <CENTER>
        
         <BR>
         <WEBOBJECT NAME=ListTable>
         	<TR>
         		<TD COLSPAN=2><H4><WEBOBJECT NAME=EntityName2></WEBOBJECT></H4>
         		</TD>
         	</TR><WEBOBJECT NAME=ListTableHeaderRow>
               <WEBOBJECT NAME=ColumnLabelRepetition><TH NOWRAP VALIGN=bottom><TABLE>
                        <TR>
                           <TH><WEBOBJECT NAME=PropertyName></WEBOBJECT></TH>
                           <TH></TH>
                        </TR>
                     </TABLE></WEBOBJECT>
               
            </WEBOBJECT>
           <webObject name=GroupingRepetition>
<TR height=1>
                    <webobject name=GenericContainer9><IMG ALT="" SRC="http://training.netstruxr.com/nsi/s.gif" HEIGHT=1></webobject>
                    <TD></TD>
                </TR>
				<TR bgcolor="#dddddd">
            		<WEBOBJECT NAME=GenericContainer4><WEBOBJECT NAME=SwitchComponent1></WEBOBJECT></WEBOBJECT>
				</TR>            <WEBOBJECT NAME=EntityRepetition><WEBOBJECT NAME=ListTableRow>
                  <WEBOBJECT NAME=AttributeRepetition><WEBOBJECT NAME=GenericContainer1>
                        <WEBOBJECT NAME=AttributeDisplay></WEBOBJECT></WEBOBJECT></WEBOBJECT>
                  
               </WEBOBJECT>
            </WEBOBJECT>

<WEBOBJECT NAME=HasTotal>
	<TR HEIGHT=1>
		<WEBOBJECT NAME=GenericContainer2><IMG ALT="" SRC=http://training.netstruxr.com/nsi/s.gif HEIGHT=1></WEBOBJECT>
		<TD></TD>
	</TR>
	<TR>
		<TD></TD>
		<WEBOBJECT NAME=AttributeRepetition2><WEBOBJECT NAME=AttributeCell><WEBOBJECT NAME=IsTotallingKey><WEBOBJECT NAME=SumForSubList></WEBOBJECT></WEBOBJECT></WEBOBJECT>
			<TD>&nbsp;&nbsp;</TD>
		</WEBOBJECT>
	</TR>
</WEBOBJECT><tr><td><IMG ALT="" SRC="http://training.netstruxr.com/nsi/s.gif" HEIGHT=30></td>
<TD></TD></tr>

</webObject></WEBOBJECT><BR>
         
      </CENTER>
   </WEBOBJECT>
</webObject>
