<wo:UberHeaderFooter title="Exception">
<style>
table {
	width: 100%;
}

th {
	text-align: left;
}
</style>

  <wo:UberPanel id="exception" title="Exception">
  	<p><wo:str value="$exceptionParagraph"/></p>
  	
    <wo:WORepetition list="$exceptions" item="$currentException">
  	<p><b><webobject name=ExceptionNameString></webobject></b></p>
    <table>
      <tr> 
        <th>File</th>
        <th>Line#</th>
        <th>Method</th>
        <th>Package</th>
      </tr>
      
      <webobject name=CurrentExceptionFrames> 
	      <tr> 
	        <td><webobject name=filename></webobject></td>
	        <td><webobject name=line></webobject></td>
	        <td><webobject name=methodname></webobject></td>
	        <td><webobject name=packagename></webobject></td>
	      </tr>
      </webobject> 
    </table>
    </wo:WORepetition>
    </wo:UberPanel>
</wo:UberHeaderFooter>