<table border="0" width="100%" cellpadding="0" cellspacing="0">
	<webobject name=hasTitle>
		<tr cellType="CELL_TYPE_STRING">
			<webobject name=showTopCrits><webobject name=vGroups>
					<td class="spacer">
						<spacer />
					</td>
				</webobject></webobject><webobject name=colSpanTdHead><webobject name=title></webobject></webobject>
		</tr>
	</webobject><webobject name=horzDimensions>
		<tr cellType="CELL_TYPE_STRING">
			<webobject name=showTopCrits><webobject name=vGroups>
					<td class="spacer">
						<spacer />
					</td>
				</webobject></webobject><webobject name=hCriteriaList>
				<webobject name=colSpanTd><webobject name=criteriaLabel></webobject></webobject>
			</webobject>
		</tr>
	</webobject><webobject name=showHeadersForAsCells><webobject name=depthList>
			<tr cellType="CELL_TYPE_STRING">
				<webobject name=showTopCrits><webobject name=vGroups>
					<td class="spacer">
						<spacer />
					</td>
					</webobject></webobject><webobject name=numberOfCrits><webobject name=attribs>
						<webobject name=attributeTd><webobject name=attribLabel></webobject></webobject>
					</webobject></webobject>
			</tr>
		</webobject></webobject><webobject name=showNoColNoRow>
		<webobject name=recordGroup></webobject>
	</webobject><webobject name=showSingleRow>
		<tr cellType="CELL_TYPE_STRING">
			<webobject name=hCriteriaList2>
				<webobject name=recordGroup></webobject>
			</webobject>
					<td class="spacer">
						<spacer />
					</td>
					<td class="spacer">
						<spacer />
					</td>
		</tr>
	</webobject><webobject name=vCriteriaList>
		<tr onMouseOver = "this.oldClass=this.className; this.className ='highlighted'; return false;" onMouseOut = "this.className=this.oldClass; return false;">
			<webobject name=vindent><webobject name=showIndentCell>
					<webobject name=rowSpanTd><webobject name=vIndentCriteriaLabel></webobject></webobject>
				</webobject></webobject><webobject name=showTopCrits>
				<webobject name=rowSpanTd2><webobject name=vcriteriaLabel></webobject></webobject>
			</webobject><webobject name=hCriteriaList2>
				<webobject name=recordGroup></webobject>
			</webobject><webobject name=showSingleCol>
				<webobject name=recordGroup></webobject>
			</webobject>
		</tr>
	</webobject>
</table>