<webobject name="ERXOncePerRequestConditional1"><script type="text/javascript">
<!--
var erxKeepAliveUrl = "<webobject name="Link"></webobject>";
var erxKeepAlive = null;
try {
    erxKeepAlive = new XMLHttpRequest();
} catch (e) {
    try {
        erxKeepAlive = new ActiveXObject("Msxml2.XMLHTTP");
    } catch(e) {
        try {
            erxKeepAlive=new ActiveXObject("Microsoft.XMLHTTP");
        } catch(e) {
        }
    }
}

if(erxKeepAlive) {
	erxKeepAlive.onreadystatechange = function() {
	
    	if(erxKeepAlive.readyState==4) {
    		// do something?
    	}
    	
    };
 
    window.setInterval( function() {
    	var myUrl = erxKeepAliveUrl;
    	myUrl = myUrl + "&r=" + (new Date()).getTime();
    	erxKeepAlive.open("GET", myUrl, false);
    	erxKeepAlive.send(null);
    }, <webobject name="Interval"></webobject>);
}
//-->
</script></webobject>