.buttons_tab {
  margin-top: 20px;
}

.buttons_tab .demo_box {
	border: 1px #888 solid ;
	padding: 10px;
	margin:  20px;
	background-color: #fff;
}

.buttons_tab .demo_box h2 {
	font-size: 14px;
	padding: 0;
	margin:  0;
}

.buttons_tab .demo_box .buttons {
	text-align: right ;
	margin-top: 10px;
}

.buttons_tab .demo_box .tab.segmented .root h2 {
	border: 1px #888 dotted ;
	padding:  10px;
	margin:  0;
	text-align: center ;
	background-color: #c8f09d;
}
