<webobject name = "HasPropertyName">
  <webobject name = "FieldLabel">
    <webobject name = "PropertyName" />
    <webobject name = "DisplayMandatory">
      <webobject name = "abbr">*</webobject>
    </webobject>
  </webobject>
</webobject>
<webobject name = "DebuggingEnabled">
  <a class = "D2WPropertyDebugInfoToolTip">? 
    <span>
      <table class = "D2WPropertyDebugInfo">
        <webobject name = "ContextDictionaryRepetition">
          <tr>
            <th><webobject name = "CurrentKey" /></th>
            <td><webobject name = "CurrentValue" /></td>
          </tr>
        </webobject>
      </table>
    </span></a>
</webobject>