
# This file defines the basic configuration for building the adaptors.
# It defines the architecture (OS), which adaptor(s) to build, and other
# misc. configuration info. that is needed by other project makefiles.

# Set the platform you are building on
# possible values: MINGW MACOS LINUX WINDOWS HPUX SOLARIS FreeBSD
# 
ADAPTOR_OS = MACOS

# Set a specific architecture to building for. If you comment this out it will attempt to discover available architectures.
# Some possible architectures are: x86_64 i386 ppc7400
# If you specific more than one architecture it will build a "fat" binary with all the architectures contained in one file.
RC_ARCHS=x86_64 i386

ifeq "MINGW" "${ADAPTOR_OS}"
OS = ${ADAPTOR_OS}
endif

# Define the OS.
ifeq "" "${OS}"
OS = ${ADAPTOR_OS}
endif

# Define some generic defaults
# DEBUG_FLAG = -g
APXS1.3 = ${APXS}
APXS2.2 = ${APXS}
APACHEINCLUDE_DIR = `${APXS} -q INCLUDEDIR`
APACHEMODULE_DIR = `${APXS} -q LIBEXECDIR`

# For mixed mode with WebObjects 4 Apps as well when using static configuration
# the old refuseNewSession Attribute on instances can be reactivated by removing
# the comment from this line
#CFLAGS += -DSUPPORT_REFUSENEWSESSION_ATTR

# Based on the OS, determine which adaptor(s) we build, and other settings.
# NOTE: if you want to recompile the Apache 1.3 module on Mac OS X 10.5, you're
# going to have to download Apache 1.3 from the foundation and link against those binaries.

# MacOS X
ifeq "MACOS" "$(OS)"

ifeq "${RC_CFLAGS}" ""
ADAPTORS = CGI FastCGI Apache2.2
else
ADAPTORS = CGI Apache Apache2.2

endif

# Default path for apxs (Apache 1.3) on version 10.2 - 10.4
#APXS = /usr/sbin/apxs

# Default path for apxs on version 10.5 Server for Apache 1.3
APXS1.3 = /usr/sbin/apxs-1.3

# Default path for apxs on version 10.5 for Apache 2.2
APXS2.2 = /usr/sbin/apxs

APACHEINCLUDE_DIR = /usr/include/apache2 #override default include dir
APACHEMODULE_DIR = /usr/libexec/apache2

ifeq "${RC_ARCHS}" ""
RC_ARCHS = $(shell bash -c '/usr/bin/lipo -info /usr/sbin/httpd | sed -e "s/^.*: //"')
endif
ifeq "${RC_CFLAGS}" ""
RC_CFLAGS = $(patsubst %, -arch %, ${RC_ARCHS})
endif

CC = gcc

endif

# Windows
ifeq "WINDOWS" "${OS}"
CC = gcc
EXESUFFIX = .exe
ADAPTORS = CGI IIS
endif

ifeq "SOLARIS" "$(OS)"
ADAPTORS = CGI Apache2.2
# Default path for apxs on Solaris 10.
APXS = $(shell bash -c 'if [ -e /usr/bin/apxs ]; then echo /usr/bin/apxs;else echo /opt/webstack/bin/apxs;fi;')
CC = /opt/SUNWspro/bin/cc
endif

ifeq "HPUX" "$(OS)"
ADAPTORS = CGI NSAPI
endif

# LINUX 
ifeq "LINUX" "$(OS)" 
CC = gcc
CFLAGS += -I/usr/local/include
LDFLAGS += -L/usr/local/lib

# REDHAT 9
ifeq "REDHAT9" "$(OS_VERSION)"
ADAPTORS = CGI Apache2
APXS = /usr/sbin/apxs
APACHEINCLUDE_DIR = /usr/include/httpd

# OTHER LINUX
else

ADAPTORS = CGI Apache2.2 
APXS = $(shell bash -c 'if [ -e /usr/bin/apxs2 ]; then echo /usr/bin/apxs2;else if [ -e /usr/bin/apxs ]; then echo /usr/bin/apxs; else if [ -d /usr/local/apache ]; then echo /usr/local/apache/bin/apxs;else echo /usr/sbin/apxs;fi;fi;fi')
endif

endif
#end Linux

ifeq "FreeBSD" "${OS}"
CFLAGS += -I/usr/local/include
LDFLAGS += -L/usr/local/lib
APXS ?= /usr/local/sbin/apxs
ADAPTORS ?= CGI Apache2.2
endif

# If you are building NSAPI uncomment this and specify where Netscape is installed.
# This is typically /opt/netscape/suitespot
# NS_ROOT = 

ifeq "MINGW" "${OS}"
CC = gcc
LIBS += -lwsock32 
EXESUFFIX = .exe
ADAPTORS = CGI IIS
endif

# default compiler is cc
ifeq "${CC}" ""
CC = cc
endif
