
# This file defines the basic configuration for building the adaptors.
# It defines the architecture (OS), which adaptor(s) to build, and other
# misc. configuration info. that is needed by other project makefiles.

# Set the platform you are building on
# MACOS =

# Define the OS.
ifeq "" "${OS}"
OS = MACOS
endif

DEBUG_FLAG = -g

# Based on the OS, determine which adaptor(s) we build, and other settings.

# MacOS X Server
ifeq "NEXTSTEP" "${OS}"
ADAPTORS = CGI Apache
APXS = /usr/sbin/apxs
endif

# MacOS X
ifeq "MACOS" "$(OS)"
ADAPTORS = CGI Apache

# Default path for apxs on version 10.0.
APXS = /usr/sbin/apxs

# Uncomment the following lines to build for Apache2 or Apache2.2
# override above setting by setting ADAPTORS to either 'Apache2' or 'Apache2.2'
#ADAPTORS = Apache2.2
# Set this to the location of your Apache2 dir
#APACHE2_DIR = /usr/local/apache-2.2.3
#APXS = $(APACHE2_DIR)/bin/apxs # override above setting
#APACHEINCLUDE_DIR = $(APACHE2_DIR)/include #override default include dir
#APACHEMODULE_DIR = $(APACHE2_DIR)/modules
#CC = gcc
# end Apache2 build directives

endif

# Windows
ifeq "WINDOWS" "${OS}"
CC = gcc
EXESUFFIX = .exe
ADAPTORS = CGI IIS
endif

ifeq "SOLARIS" "$(OS)"
ADAPTORS = CGI NSAPI Apache
# Default path for apxs on Solaris 8.
APXS = /usr/apache/bin/apxs
endif

ifeq "HPUX" "$(OS)"
ADAPTORS = CGI NSAPI
endif

# LINUX 
ifeq "LINUX" "$(OS)" 

# REDHAT 9
ifeq "REDHAT9" "$(OS_VERSION)"
ADAPTORS = CGI Apache2
APXS = /usr/sbin/apxs
APACHEINCLUDE_DIR = /usr/include/httpd

# OTHER LINUX
else

ADAPTORS = CGI Apache 
APXS = $(shell bash -c 'if [ -d /usr/local/apache ]; then echo /usr/local/apache/bin/apxs;else echo /usr/sbin/apxs;fi')
APACHEINCLUDEFLAGS = $(shell bash -c 'if [ -d /usr/local/apache ]; then echo -I/usr/local/apache/include;else echo -I/usr/include/apache;fi')
endif

endif
#end Linux

# If you are building NSAPI uncomment this and specify where Netscape is installed.
# This is typically /opt/netscape/suitespot
# NS_ROOT = 

# default compiler is cc
ifeq "${CC}" ""
CC = cc
endif
