<webobject name = "CalendarNavBarContainer">
  <webobject name = "NavButtons">
    <webobject name = "Previous" />
    <webobject name = "OptionalForm">
      <div>
        <webobject name = "SelectedDateLabel"><webobject name = "LabelString" /></webobject>
        <webobject name = "SelectedDate" />
      </div>
    </webobject>
    <webobject name = "TodaySpan"><webobject name = "Today" /></webobject>
    <webobject name = "Next" />
  </webobject>
  <webobject name = "HasMultipleViews">
    <webobject name = "ViewButtons">
      <webobject name = "ButtonRepetition">
        <webobject name = "ViewSpan"><webobject name = "ViewButton" /></webobject>
      </webobject>
    </webobject>
  </webobject>
</webobject>