<webobject name = "AjaxExampleComponent">
<style>
.main1 {
	background-color: rgb(200, 150, 150);
}

.mainContent {
	padding-left: 10px;
	padding-right: 10px;
}

.main2 {
	background-color: rgb(150, 200, 150);
}

.main3 {
	background-color: rgb(150, 150, 200);
}
</style>

<div class = "main1">
	<div class = "mainContent">
This is a main1 class div.  It's important to note that AjaxRoundEffect modifies the entire CSS class to be
rounded.  So you only want to declare it once per class.
<p>
The webobject tag that rounds a class must come AFTER the declaration and use of the class.
<p>
You can declare a single rounded class, round it, and just add that class to each of your div definitions.  For
instance, the main page of the AjaxExamples declares a "rounded" class, then has a &lt;div class = "main rounded"&gt; and
a &lt;div class = "title rounded"&gt;.
	</div>
</div>

<p>

<div class = "main1">
	<div class = "mainContent">
		This is also a main1 class div.
	</div>
</div>

<p>

<div class = "main2">
This is a main2 class div without a div on the inside.
</div>

<p>

<webobject name = "RoundMain3">
This is a main3 single-use rounded div.  It will generate the div tags for you if you specify generateTags = true.
</webobject>

<webobject name = "RoundMain1"></webobject>
<webobject name = "RoundMain2"></webobject>

</webobject>