 <table border=0>
  <tr bgcolor=cccccc> 
    <td valign=top> <table border=0>
        <tr bgcolor=999999> 
          <td colspan=2>Record Grouping</td>
        </tr>
        <tr> 
          <td colspan=1>Record Group Display:</td>
          <td colspan=2><webobject name=recGrpDisplayList></webobject></td>
        </tr>
        <tr> 
          <td colspan=1>Report Style:</td>
          <td colspan=2><webobject name=reportStyle></webobject></td>
        </tr>
        <tr> 
          <td>Single Total to Show:</td>
          <td><webobject name=totToShow></webobject></td>
        </tr>
        <tr> 
          <td>Format for Single Total:</td>
          <td><webobject name=totToShow2></webobject></td>
        </tr>
        <tr> 
          <td>Show Attribute Headings:</td>
          <td><webobject name=showRecordGroupHeadings></webobject></td>
        </tr>
        <tr> 
          <td>Show Record Groups as Tables</td>
          <td><webobject name=showRecordGroupAsTable></webobject></td>
        </tr>
        <tr> 
          <td>Show Dimension Navigation</td>
          <td><webobject name=showNavigationCheck></webobject></td>
        </tr>
        <tr> 
          <td>Show Custom Report</td>
          <td><webobject name=showCustomCheck></webobject></td>
        </tr>
        <tr> 
          <td>Order</td>
          <td>V: <webobject name=keysInV></webobject>, 
            H: <webobject name=keysInH></webobject>, Z: <webobject name=keysInZ></webobject></td>
        </tr>
        <tr> 
          <td colspan=2><webobject name=regenReport></webobject></td>
        </tr>
      </table></td>
    <td valign=top> <table border=0>
        <tr> 
          <td bgcolor=999999 colspan=3>Dimension 
            Group Totaling</td>
        </tr>
        <webobject name=allGroups> 
        <tr> 
          <td colspan=1><webobject name=grpLabel></webobject></td>
          <td colspan=2><webobject name=shouldTotalCheck></webobject></td>
        </tr>
        </webobject> </table></td>
  </tr>
</table>
