<webobject name = "IsShowColumnSelector">
  <div class = "ColumnSelector">
    <svg class = "icon icon-menu3" xmlns = "http://www.w3.org/2000/svg" xmlns:xlink = "http://www.w3.org/1999/xlink" viewBox = "0 0 1408 1024">
      <title><webobject name = "ColumnSelectorLabel"/></title>
      <path class = "path1" d = "M0 192h896v192h-896v-192zM0 448h896v192h-896v-192zM0 704h896v192h-896v-192z" />
      <path class = "path2" d = "M992 448l192 192 192-192z" />
    </svg>
    <ul class = "ColumnSelectorMenu">
      <webobject name = "SectionRepetition">
        <webobject name = "ColumnLabelRepetition">
          <webobject name = "Property">
            <webobject name = "ToggleColumnVisibility"><webobject name = "PropertyName" /></webobject>
          </webobject>
        </webobject>
      </webobject>
    </ul>
  </div>
</webobject>