<webobject name="HasNoTestContents">
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title>Selenium Test Suite</title>
</head>
<body> 
	<table id="suiteTable" cellpadding="1" cellspacing="1" border="1">
		<tbody>
		<tr><td>Test Suites</td></tr>
		<webobject name="TestDirectoriesRepetition">
			<webobject name="TestsRepetition">
			<tr><td><webobject name="TestDirectory"/>/<webobject name="TestLink"/></td></tr>
			</webobject>
		</webobject>
		</tbody>
	</table>
</body>
</html>
</webobject>
<webobject name="HasTestContents">
<webobject name="TestContents"/>
</webobject>