<webobject name = "HasKey"><script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("<webobject name=Key/>");<webobject name = "HasServer">
pageTracker._setDomainName(<webobject name=Server/>); pageTracker._setAllowLinker(true);</webobject>pageTracker._initData();
pageTracker._trackPageview(<webobject name=Href/>);
</script></webobject>