<tr>
	<td bgcolor=#000000 colspan=3 width=20>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
				<td bgcolor=#000000 width=10><webobject name=ActiveImage4></webobject></td>
				<td bgcolor=#000000 width=10><webobject name=ActiveImage3></webobject></td>
				<td bgcolor=#000000 width=10><webobject name=ActiveImage2></webobject></td>
			</tr>
		</table>
	</td>
	<td width=10><font size=2 face=arial,geneva><webobject name=TextField1></webobject></font></td>
	<td width=10><font size=2 face=arial,geneva><webobject name=TextField2></webobject></font></td>
	<td align=left width=10><font size=2 face="arial,geneva"><webobject name=TextField4></webobject></font></td>
	<td width=10 align=left><font size=2 face=arial,geneva><webobject name=CheckBox3></webobject></font></td>
	<td width=10><font size=2 face=arial,geneva><webobject name=isGroup><webobject name=TextField3></webobject></webobject></font></td>
	<td width=10 align=left><font size=2 face=arial,geneva><webobject name=isNoGroup><webobject name=CheckBox1></webobject></webobject></font></td>
	<td bgcolor=#ffffff valign=center align=center><webobject name=toggle></webobject></td>
</tr>
<webobject name=isGroup>
	<tr>
		<td align=left colspan=10>
			<table border=0>
				<tr>
					<td bgcolor=999999 width=2>.</td>
					<td><font size=2 face=arial,geneva><webobject name=Custom1>
							<table>
								<tr>
									<td colspan=9><webobject name=add></webobject></td>
								</tr>
								<tr bgcolor=999999>
									<td colspan=3><font size=2 face=arial,geneva>Arrangement</font></td>
									<td width=10><font size=2 face=arial,geneva>Key&nbsp;Path</font></td>
									<td width=10><font size=2 face=arial,geneva>Label</font></td>
									<td width=10><font size=2 face=arial,geneva>Total</font></td>
									<td width=10><font size=2 face=arial,geneva>Format</font></td>
									<td width=10><font size=2 face=arial,geneva>Sort</font></td>
									<td width=10><font size=2 face=arial,geneva>Nest</font></td>
								</tr>
								<webobject name=Repetition1>
									<webobject name=Custom2></webobject>
								</webobject>
							</table>
						</webobject></font>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</webobject>