{
    attributes = (
        {columnName = amount; name = amount; prototypeName = amount; }, 
        {columnName = cashed; name = cashed; prototypeName = boolean; }, 
        {
            allowsNull = N; 
            columnName = employeeID; 
            name = employeeID; 
            prototypeName = id; 
        }, 
        {allowsNull = N; name = id; prototypeName = id; }, 
        {columnName = paymentDate; name = paymentDate; prototypeName = dateTime; }
    ); 
    attributesUsedForLocking = (amount, cashed, employeeID, id, paymentDate); 
    className = "er.erxtest.model.Paycheck"; 
    classProperties = (amount, cashed, employee, paymentDate); 
    externalName = Paycheck; 
    fetchSpecificationDictionary = {}; 
    name = Paycheck; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            destination = Employee; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = employeeID; }); 
            name = employee; 
        }
    ); 
}
