<webobject name=PageWrapper><webobject name=Help></webobject><webobject name=Errors></webobject>
	<webobject name=EditingForm>
		<table>
			<tr valign=top>
				<td valign=top align=right><webobject name="TabPanel"><webobject name=InspectTable>
							<webobject name=Sections>
								<webobject name=HasSectionName>
									<tr>
										<td colspan="3" bgcolor=#FFFFFF height=26 valign="middle"><webobject name=SwitchComponent3></webobject></td>
									</tr>
								</webobject>
								<webobject name=DoNotFlush>
									<tr height=6>
										<td colspan=3>&nbsp;</td>
									</tr>
								</webobject>
								<tr>
									<td colspan=3 align=left>
										<webobject name=NotUsingMatrixLayout>
											<table border=0 cellpadding=0 cellspacing=1>
												<webobject name=AttributeRepetition>
													<tr>
														<webobject name=HasDisplayNameForProperty>
															<td valign=TOP align=LEFT><webobject name=SwitchComponent1></webobject></td>
														</webobject>
														<webobject name=DoNotFlush>
															<td>&nbsp</td>
														</webobject>
														<td valign="top" align="left"><webobject name=AttributeValue2></webobject></td>
													</tr>
												</webobject>
											</table>
										</webobject>
										<webobject name=Conditional4><webobject name=ERTable1>
												<table cellpadding=0 cellspacing=0 border=0>
													<tr>
														<td valign=TOP align=LEFT width=150><webobject name=SwitchComponent2></webobject></td>
														<td>&nbsp;</td>
														<td valign=TOP><webobject name=AttributeValue1></webobject></td>
													</tr>
												</table>
											</webobject></webobject>
									</td>
								</tr>
								<webobject name=DoNotFlush>
									<tr height=6>
										<td colspan=3>&nbsp;</td>
									</tr>
								</webobject>
							</webobject>
							<tr bgcolor=#999999>
								<td width=770 height=20 colspan=3 bgcolor=#999999 valign="middle"> </td>
							</tr>
						</webobject>
					</webobject></td></tr>
			<tr>
				<td align=center colspan=3>
					<table border=0 cellpadding=0 cellspacing=0>
						<tr>
							<td align=center>
								<webobject name=IsEditingConditional>
									<webobject name=CancelLink><webobject name=CancelButton></webobject></webobject>
								</webobject>
								<webobject name=IsNotEditingConditional>
									<webobject name=ReturnLink><webobject name=ReturnButton></webobject></webobject>
								</webobject>
							</td>
							<webobject name=IsEntityWritable>
								<td align=right> </td>
							</webobject>
							<td align=left>
								<webobject name=IsEntityWritable2>
									<webobject name=IsNotEditingConditional2>
										<webobject name=EditLink><webobject name=EditImage></webobject></webobject>
									</webobject>
								</webobject>
								<webobject name=IsEditingConditional2>
									<webobject name=SubmitChanges></webobject></webobject>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</webobject>
</webobject>