<webobject name = "HasExtraPropertyKeysConditional">
  <div class = "extraPropertyKeys">
    <webobject name = "ExtraPropertyKeysRepetition">
      <webobject name = "DebuggingEnabled">
        <span class = "propertyInfo">
          <span class = "propertyKey"><webobject name = "PropertyKey" /></span>
          <span class = "componentName"><webobject name = "ComponentName" /> </span>
        </span>
      </webobject>
      <webobject name = "PropertyKeySwitchComponent" />
    </webobject>
  </div>
</webobject>