<HTML>
	<HEAD>
		<TITLE><WEBOBJECT NAME=String10></WEBOBJECT></TITLE>
	</HEAD>
	<BODY BGCOLOR=#FFFFFF>
		<WEBOBJECT NAME=Form1><WEBOBJECT NAME=SubmitButton4></WEBOBJECT><WEBOBJECT NAME=Conditional12><WEBOBJECT NAME=SubmitButton10></WEBOBJECT><WEBOBJECT NAME=PopUpButton3></WEBOBJECT><WEBOBJECT NAME=SubmitButton5></WEBOBJECT><WEBOBJECT NAME=SubmitButton14></WEBOBJECT><WEBOBJECT NAME=SubmitButton7></WEBOBJECT><WEBOBJECT NAME=SubmitButton12></WEBOBJECT><WEBOBJECT NAME=SubmitButton6></WEBOBJECT><WEBOBJECT NAME=SubmitButton11></WEBOBJECT><WEBOBJECT NAME=SubmitButton13></WEBOBJECT><WEBOBJECT NAME=SubmitButton15></WEBOBJECT><WEBOBJECT NAME=SubmitButton1></WEBOBJECT><WEBOBJECT NAME=SubmitButton3></WEBOBJECT></WEBOBJECT>
			<TABLE CELLSPACING=2 CELLPADDING=0 BORDER=0 WIDTH=100%>
				<TR>
					<TD WIDTH=140 VALIGN=top>
						<TABLE CELLSPACING=0 BORDER=0 CELLPADDING=2>
							<TR BGCOLOR=#cecece>
								<TD>Name</TD>
								<WEBOBJECT NAME=Conditional6></WEBOBJECT>
							</TR>
							<WEBOBJECT NAME=Repetition4>
								<TR>
									<TD><WEBOBJECT NAME=Hyperlink1><WEBOBJECT NAME=String9></WEBOBJECT></WEBOBJECT><WEBOBJECT NAME="Conditional15"><br><WEBOBJECT NAME="Repetition2"> <WEBOBJECT NAME=String11></WEBOBJECT><br/></WEBOBJECT></WEBOBJECT></TD>
									<WEBOBJECT NAME=Conditional7></WEBOBJECT>
								</TR>
							</WEBOBJECT>
						</TABLE>
					</TD>
					<WEBOBJECT NAME=Conditional1>
						<TD ALIGN=LEFT VALIGN=top>
							<P><FONT SIZE=5><WEBOBJECT NAME=TextField3></WEBOBJECT></FONT><WEBOBJECT NAME=SubmitButton2></WEBOBJECT></P>
							<TABLE CELLSPACING=0 CELLPADDING=2 BORDER=0 WIDTH=100%>
								<TR BGCOLOR=#dfdfdf>
									<TD WIDTH=40>&nbsp;</TD>
									<TD WIDTH=20>CP</TD>
									<TD WIDTH=20>NULL</TD>
									<TD WIDTH=100>Name</TD>
									<TD WIDTH=150>Prototype</TD>
									<TD WIDTH=100%>&nbsp;</TD>
								</TR>
								<WEBOBJECT NAME=Repetition3><WEBOBJECT NAME=Conditional3>
										<TR>
											<TD><WEBOBJECT NAME=Conditional9><WEBOBJECT NAME=SubmitButton8></WEBOBJECT></WEBOBJECT></TD>
											<TD><WEBOBJECT NAME=attrIsCP></WEBOBJECT></TD>
											<TD><WEBOBJECT NAME=allowsNull></WEBOBJECT></TD>
											<TD><WEBOBJECT NAME=attName></WEBOBJECT></TD>
											<TD><WEBOBJECT NAME=Conditional11><WEBOBJECT NAME=PopUpButton2></WEBOBJECT></WEBOBJECT><WEBOBJECT NAME=Conditional16><WEBOBJECT NAME=String13></WEBOBJECT></WEBOBJECT></TD>
											<TD>&nbsp;<WEBOBJECT NAME=Conditional2>No Column name!
													(<WEBOBJECT NAME=String2></WEBOBJECT>)</WEBOBJECT><WEBOBJECT NAME=Conditional8>Used in a relationship</WEBOBJECT></TD>
										</TR>
									</WEBOBJECT><WEBOBJECT NAME=Conditional4>
										<TR BGCOLOR=#d4faff>
											<TD>&nbsp;</TD>
											<TD>PK</TD>
											<TD><B>--</B></TD>
											<TD><WEBOBJECT NAME=String3></WEBOBJECT></TD>
											<TD>Primary Key</TD>
											<TD>&nbsp;<WEBOBJECT NAME=Conditional10>Used in a relationship</WEBOBJECT></TD>
										</TR>
									</WEBOBJECT></WEBOBJECT>
							</TABLE>
							<WEBOBJECT NAME=Conditional5>
								<HR>
								<TABLE CELLSPACING=0 CELLPADDING=2 BORDER=0 WIDTH=100%>
									<TR BGCOLOR=#cecece>
										<TD WIDTH=40>&nbsp;</TD>
										<TD WIDTH=20>CP</TD>
										<TD WIDTH=20>MANY</TD>
										<TD WIDTH=100>Name</TD>
										<TD WIDTH=100%>Destination</TD>
									</TR>
									<WEBOBJECT NAME=Repetition1>
										<TR>
											<TD><WEBOBJECT NAME=SubmitButton9></WEBOBJECT></TD>
											<TD><WEBOBJECT NAME=relIsCP></WEBOBJECT></TD>
											<TD><WEBOBJECT NAME=relIsMany></WEBOBJECT></TD>
											<TD><WEBOBJECT NAME=relName></WEBOBJECT></TD>
											<TD><WEBOBJECT NAME=Conditional13><WEBOBJECT NAME=Hyperlink2><WEBOBJECT NAME=String6></WEBOBJECT></WEBOBJECT>:<WEBOBJECT NAME=String7></WEBOBJECT>-&gt;<WEBOBJECT NAME=String8></WEBOBJECT></WEBOBJECT><WEBOBJECT NAME=Conditional14><B><WEBOBJECT NAME=String5></WEBOBJECT>s</B></WEBOBJECT></TD>
										</TR>
									</WEBOBJECT>
								</TABLE>
							</WEBOBJECT>
							<HR>
							<WEBOBJECT NAME=String4></WEBOBJECT>
							<P></P>
						</TD>
					</WEBOBJECT>
				</TR>
			</TABLE>
		</WEBOBJECT><WEBOBJECT NAME=CollapsibleComponentContent1>
			<HR>
			<TT><WEBOBJECT NAME=String1></WEBOBJECT></TT>
			<PRE></PRE>
		</WEBOBJECT>
	</BODY>
</HTML>