<label class="ERD2WAjaxQueryDateRange_label_from"><webobject name = "SessionLocalizerERD2WQueryDateRangeFrom"></webobject></label>
<webobject name = "DateMinField"></webobject><em class="ERD2WAjaxQueryDateRange_Subscript"><webobject name = "DateReadableDescription"></webobject></em>
<label class="ERD2WAjaxQueryDateRange_label_to"><webobject name = "SessionLocalizerERD2WQueryDateRangeTo"></webobject></label>
<webobject name = "DateMaxField"></webobject><em class="ERD2WAjaxQueryDateRange_Subscript"><webobject name = "DateReadableDescription"></webobject></em>