<webobject name=Wrapper><webobject name=HasHeader><webobject name=Header></webobject></webobject>
	<webobject name=ListNotEmpty><webobject name=EntityName2></webobject>
		<webobject name=ListTable>
			<webobject name=ListTableHeaderRow>
				<webobject name=ColumnLabelRepetition>
					<th nowrap valign=bottom>
						<webobject name=PropertyName></webobject>
					</th>
				</webobject>
			</webobject>
			<webobject name=GroupingRepetition>
				<tr height=1>
					<webobject name=GenericContainer9>
						<spacer height=1 />
					</webobject>
				</tr>
				<tr bgcolor="#dddddd">
					<webobject name=GenericContainer4><webobject name=SwitchComponent1></webobject></webobject>
				</tr>
				<webobject name=EntityRepetition><webobject name=ListTableRow>
						<webobject name=AttributeRepetition><webobject name=GenericContainer1>
								<webobject name=AttributeDisplay></webobject></webobject></webobject>
					</webobject>
				</webobject>
				<webobject name=HasTotal>
					<tr height=1>
						<webobject name=GenericContainer2>
							<spacer height=30 height=1 />
						</webobject>
					</tr>
					<tr>
						<webobject name=AttributeRepetition2><webobject name=AttributeCell><webobject name=IsTotallingKey><webobject name=SumForSubList></webobject></webobject></webobject>
						</webobject>
					</tr>
				</webobject>
			</webobject></webobject>
	</webobject>
</webobject>