<table class="ERDEmptyList">
    <tr>
        <td class="ERDEmptyListImage"><webobject name=ExclamationImage></webobject></td>
        <td class="ERDEmptyListMessage">
            <webobject name=FontContainer>
                <webobject name=HasNoMessage><webobject name=EmptyListTemplate></webobject></webobject>
                <webobject name=HasMessage><webobject name=EmptyListMessage></webobject></webobject>
            </webobject>
        </td>
    </tr>
    <webobject name="ShowCreateObjectLink">
    	<tr>
	    	<td>&nbsp;</td>
	    	<td class="ERDEmptyListCreateObject">
	    		<webobject name="CreateObjectLink"><webobject name = "CreateObjectString"></webobject></webobject>
	    	</td>
	    </tr>
    </webobject>
</table>