CC = gcc 

GCCTARGET = $(shell bash -c '${CC} -dumpmachine')

ifeq "${GCCTARGET}" "mingw32"
WINEDITION = win32
else
WINEDITION = win64
endif

CFLAGS = -I/C/Program\ Files\ \(x86\)/Java/jdk1.5.0_14/include -I/C/Program\ Files\ \(x86\)/Java/jdk1.5.0_14/include/win32 -L${WINEDITION}
LIBS =  -lz -lstdc++ -static
EXESUFFIX = .exe
