<webobject name = "IsRefreshEnabled">
  <webobject name = "Refresh"></webobject>
</webobject>
<webobject name = "NavPage">
<webobject name = "AddHasNOHostsConditional">
<div class="Box ErrorBox">
  <h3>There are no hosts configured.</h3>
  <p>Please <webobject name = "AddHostsLink">add hosts</webobject> before adding instances.</p>
</div>
</webobject>
<div class="Box ApplicationDetailsBox">
  <h2 class="SectionHeading">
    <webobject name = "AppIsRunning">
      <webobject name = "AppLink">
        <webobject name = "AppName"></webobject>
      </webobject>
    </webobject>
    <webobject name = "AppIsNOTRunning">
      <webobject name = "AppName"></webobject>
    </webobject>
  </h2>
<webobject name = "IsRefreshEnabled">
    <p>This page automatically updates every <webobject name = "RefreshRate"></webobject> seconds.</p>
</webobject>
<webobject name = "HasBouncer"><div>Bouncer: <webobject name = "Bouncer"/></div></webobject>
<p><webobject name = "RefreshLink">Refresh</webobject> | 
	<webobject name = "ShowDetailStatistics">
		<webobject name="ShowStatistics">Hide Stats</webobject>
		<webobject name="NotShowStatistics">Show Stats</webobject>
    </webobject></p>

<span class="error"><webobject name = "MessageString"></webobject>
</span>
<table>
  <tr>
    <th>Select</th>
    <th>Name</th>
    <th>Host: Port</th>
    <th>Status</th>
    <th>Start - Stop</th>
    <th>Auto- Recover</th>
    <th>Refuse New Sessions</th>
    <th>Scheduled</th>
    <th>Next shutdown</th>
	<th>Deaths</th>
    <webobject name = "ShowStatistics">
	    <th>Transactions</th>
	    <th>Active Sessions</th>
	    <th>Average Transactions</th>
	    <th>Average Idle Period</th>
   </webobject><webobject name = "ShowWOStats">
 		<th>WOStats</th>
	</webobject>
    <th>Configure</th>
    <th>Delete</th>
  </tr>
  <tr>
     </tr>
  <webobject name = "InstanceRepetition">
    <tr>
<!-- Selection -->
	<td class="InstanceSelect"><webobject name = "SelectOneForm"><webobject name = "Observer"><webobject name = "IsSelected"/></webobject></webobject></td>

<!--       Instance Number       -->
      <td>
        <webobject name = "InstanceRunningConditional">
          <webobject name = "InstAdaptorLink">
            <webobject name = "InstIndex"></webobject>
          </webobject>
        </webobject>
        <webobject name = "InstanceNOTRunningConditional">
          <webobject name = "InstIndex"></webobject>
        </webobject>
      </td>
<!--       Host - Port       -->
      <td class="InstanceHostPort">
          <webobject name = "InstanceRunningConditional">
            <webobject name = "InstDirectLink">
              <webobject name = "InstRunningOnHost"></webobject>
            </webobject>
          </webobject>
          <webobject name = "InstanceNOTRunningConditional">
            <webobject name = "InstRunningOnHost"></webobject>
          </webobject>
      </td>
<!--       Status (On/Off/Starting/Stopping)       -->
      <td class="InstanceStatusColumn">
        <webobject name = "InstStatusImage"></webobject>
      </td>
<!--       Start/Stop Buttons       -->
      <td class="InstanceStartStop">
      	<div class="Balls">
        <webobject name = "StartInstanceLink"><webobject name = "StartImage"></webobject></webobject>
        &nbsp;
        <webobject name = "StopInstanceLink"><webobject name = "StopImage"></webobject></webobject>
        </div>
      </td>
<!--       Auto-Recover       -->
      <td class="InstanceAutoRecover">
        <webobject name = "IFSchedulingIsOn">
          <div class="AppControl AppControlAutoRecoverSchedulingOn">On</div>
        </webobject>
        <webobject name = "IFSchedulingIsOff">
          <webobject name = "ToggleAutoRecoverLink"><webobject name="AutoRecoverDiv"><webobject name="AutoRecoverLabel"/></webobject></webobject>
        </webobject>
      </td>
<!--       Refuse New Sessions       -->
      <td class="InstanceRefuseNewSessions">
        <webobject name = "IFSchedulingIsOn">
          <webobject name="RefuseNewSessionsDiv"><webobject name="RefuseNewSessionsLabel"/></webobject>
        </webobject>
        <webobject name = "IFSchedulingIsOff">
          <webobject name = "InstanceRunningConditional">
            <webobject name = "ToggleRefuseNewSessionsLink">
              <webobject name="RefuseNewSessionsDiv"><webobject name="RefuseNewSessionsLabel"/></webobject>
            </webobject>
          </webobject>
          <webobject name = "InstanceNOTRunningConditional">
            <div class="AppControl AppControlOff">Off</div>
          </webobject>
        </webobject>
      </td>
<!--       Schedule       -->
      <td class="InstanceSchedule">
        <webobject name = "ToggleSchedulingLink">
        	<webobject name="ScheduleDiv"><webobject name="ScheduleLabel"/></webobject>
        </webobject>
      </td>
<!--       Next Scheduled Shutdown       -->
      <td class="NextShutDown">
        <webobject name = "NextShutdown"></webobject>
      </td>
      <td class="DeathCount">
        <webobject name = "ShouldDisplayDeathDetailLink">
          <span class="Deaths"><webobject name = "InstDeathCount"></webobject></span>
          <webobject name = "InstDeathDetailLink">
            (Details)
          </webobject>
        </webobject>
        <webobject name = "ShouldNOTDisplayDeathDetailLink">-</webobject>
      </td>
<!--       Statistics       -->
      <webobject name = "ShowStatistics"><td class="TransactionsCount">
        <webobject name = "InstTransactions"></webobject>
      </td>
      <td class="ActiveSessionCount">
        <webobject name = "InstActiveSessions"></webobject>
      </td>
      <td class="AverageTransactionsCount">
        <webobject name = "InstAverageTransaction"></webobject>
      </td>
      <td class="AverageIdlePeriod">
        <webobject name = "InstAverageIdle"></webobject>
      </td>
    </webobject>
    <webobject name = "ShowWOStats">
      <td class="InstanceWOStats">
        <webobject name = "InstanceRunningConditional">
          <webobject name = "LinkToWOStats"><span>WOStats</span></webobject>
        </webobject>
        <webobject name = "InstanceNOTRunningConditional"><div class="WOStatsOff">Off</div></webobject>
      </td>
      </webobject>
<!--       Configure       -->
      <td>
        <webobject name = "InstConfigureLink">Configure</webobject>
      </td>
<!--       Delete       -->
      <td>
        <webobject name = "InstDeleteLink">Delete</webobject>
      </td>
    </tr>
  </webobject>
  <webobject name = "HasInstancesConditional">
    <webobject name = "ShowStatistics">
    <tr class="SpacerTableRow">
      <td colSpan = "16">&nbsp</td>
    </tr>
    </webobject>
 	<webobject name = "ShowWOStats">
    <tr class="SpacerTableRow">
      <td colSpan = "13">&nbsp</td>
    </tr>
    </webobject>
    <tr>
	<td class="AllSelect">
		<strong>Select</strong><br />
		<webobject name = "SelectAllLink">All</webobject> | <webobject name = "SelectNoneLink">None</webobject>
	</td>
      <td class="AllFilter" colSpan = "3">
         <b>Select all instances that are:</b><br /><webobject name = "SelectRunning">Running</webobject> | <webobject name = "SelectNotRunning">Not Running</webobject>
      </td>
<!--       Start / Stop All       -->
      <td class="AllStartStop">
      	<div class="Balls">
        <webobject name = "StartAllLink"><webobject name = "StartImage"/></webobject>
        &nbsp;
        <webobject name = "StopAllLink"><webobject name = "StopImage"/></webobject>
        </div>
      </td>
<!--       AutoRecover All      -->
      <td class="AllAutoRecover">
      	<div class="Balls">
        <webobject name = "AutoRecoverEnableAllLink"><webobject name = "StartImage"/></webobject>
        &nbsp;
        <webobject name = "AutoRecoverDisableAllLink"><webobject name = "StopImage"/></webobject>
      	</div>
      </td>
<!--       Refuse New Sessions All       -->
      <td class="AllRefuseNewSessions">
      	<div class="Balls">
        <webobject name = "RefuseNewSessionsAllLink"><webobject name = "StartImage"/></webobject>
        &nbsp;
        <webobject name = "AcceptNewSessionsAllLink"><webobject name = "StopImage"/></webobject>
        </div>
      </td>
<!--       Scheduling All       -->
      <td class="AllScheduling">
      	<div class="Balls">
        <webobject name = "SchedulingEnableAllLink"><webobject name = "StartImage"/></webobject>
        &nbsp;
        <webobject name = "SchedulingDisableAllLink"><webobject name = "StopImage"/></webobject>
        </div>
      </td>
<!--       Next Scheduled Shutdown       -->
      <td class="AllBounce"><webobject name = "BounceLink">Bounce</webobject>&nbsp;<webobject name = "BounceHelpLink"><webobject name="HelpImage"/></webobject></td>
      <td class="AllClearDeaths"><webobject name = "ClearDeathsLink">Clear Deaths</webobject></td>
<!--       Statistics All       -->
   <webobject name = "ShowStatistics">
      <td class="TotalTransactionCount">
        <webobject name = "TotalTransactions"></webobject>
      </td>
      <td class="TotalActiveSessions">
        <webobject name = "TotalActiveSessions"></webobject>
      </td>
      <td class="TotalAverageTransaction">
        <webobject name = "TotalAverageTransaction"></webobject>
      </td>
      <td class="TotalAverageIdleTime">
        <webobject name = "TotalAverageIdleTime"></webobject>
      </td>
    </webobject>
    <webobject name = "ShowWOStats">
      <td>
        <webobject name = "ActualRatePerMinute"></webobject>
        TPM      </td>
   </webobject>
<!--       Configure       -->
      <td>
        <webobject name = "ConfigureLink"><span>Configure</span></webobject></td>
      <td><webobject name = "InstDeleteAllLink"><span>Delete</span></webobject></td>
    </tr>
    
    <wo:if condition="$showDetailStatistics">
    <tr class="TotalsForRunningInstances">
    	<td colspan="10" class="label">Running Sessions</td>
    	<td class="TotalTransactionCount"><webobject name = "TotalTransactionsForActiveInstances"></webobject></td>
      	<td class="TotalActiveSessions"><webobject name = "ActiveSessionsForActiveInstances"></webobject></td>
      	<td class="TotalAverageTransaction"></td>
      	<td class="TotalAverageIdleTime"></td>
      	
  		<td colspan="2"></td>
    </tr>
    </wo>
    
  </webobject>
</table>
</div>
<webobject name = "AddHasHostsConditional">
<div class="Box AddInstanceBox">
  <webobject name = "AddInstanceForm">
   	Add: <webobject name = "AddNumInstances"></webobject> instance(s) on host: <webobject name = "AddHostPopUp"/> <webobject name = "AddInstanceSubmitButton"/>
  </webobject>
</div>
</webobject>
</webobject>
