<WEBOBJECT name=NavPage></WEBOBJECT></CENTER>
	<P ALIGN=CENTER><FONT COLOR=#FF0000><WEBOBJECT NAME=ErrorMsg></WEBOBJECT></FONT></P>
       	<TABLE BORDER=1 CELLPADDING=10 CELLSPACING=1 WIDTH=95%>
       		<TR>
       			<TD>
			<CENTER>
			<FONT size=+1><B>Monitor Password</B></FONT><BR>
      			<WEBOBJECT NAME=AdminPasswordIsSet>The password is currently set. </WEBOBJECT><BR>
       			<WEBOBJECT NAME=AdminPasswordIsNotSet>The password is currently <B>NOT</B> set. </WEBOBJECT><BR>
       			<FONT COLOR=#FF0000><WEBOBJECT NAME=ErrorMsg></WEBOBJECT></FONT><BR>
       			<WEBOBJECT NAME=PasswordChangeForm>
       			       	<TABLE BORDER=1 CELLPADDING=2 CELLSPACING=2>
       			       		<TR>
       			       			<TD ALIGN=RIGHT> Enter New Password: </TD>
       			       			<TD><WEBOBJECT NAME=AdminPassword1></WEBOBJECT></TD>
					</TR>
					<TR>
      						<TD ALIGN=RIGHT> Confirm New Password: </TD>
						<TD><WEBOBJECT NAME=AdminPassword2></WEBOBJECT></TD>
					</TR>
				</TABLE><BR>
				<WEBOBJECT NAME=PasswordChangeFormSubmit></WEBOBJECT>
				<WEBOBJECT NAME=PasswordChangeFormSubmit2></WEBOBJECT>
				<BR>
       			</WEBOBJECT>
			</CENTER>
       			</TD>
       		</TR>
       	</TABLE>
       	<BR>
       	<TABLE BORDER=1 CELLPADDING=10 CELLSPACING=1 WIDTH=95%>
       		<TR>
       			<TD>
			<CENTER>
			<FONT size=+1><B>Detail View Refesh Settings</B></FONT><BR><BR>
      			The Detail View page can be configured to automatically refresh itself in your browser's window. <BR>
       			<WEBOBJECT name=DetailViewForm>
       			       	<WEBOBJECT name=AutoRefreshCheckbox></WEBOBJECT> Auto-Refresh the Detail View<BR>
       			       	<WEBOBJECT name=AutoRefreshTimeIntervalField></WEBOBJECT> second delay before refreshing.<BR>
       			       	<BR>
       			       	<WEBOBJECT name=DetailViewSubmitButton></WEBOBJECT>
       			</WEBOBJECT>
			</CENTER>
       			</TD>
       		</TR>
       	</TABLE>

<CENTER>
</CENTER>
  </TD></TR>
</TABLE>
</CENTER>

</BODY>
</HTML>
