<webobject name=EGWrapper>
<div>
<table name="Sheet 1" border="1" cellType="CELL_TYPE_NUMERIC" cellFormat="0" class="default">
	<tr>
		<td height="20" width="30" class="default">1,1</td>
		<td cellType="CELL_TYPE_STRING">AAA</td>
	</tr>
	<tr>
		<td>1,2</td>
		<td cellType="CELL_TYPE_STRING">2003.12.23</td>
	</tr>
	<tr>
		<td>20</td>
		<td>3,2</td>
	</tr>
	<tr>
		<td class="bold">2,2</td>
		<td cellType="CELL_TYPE_FORMULA" class="bold">sum(A1:A99)</td>
	</tr>
</table>
<table name="Sheet 2" class="default">
	<tr>
		<td>1,1</td>
		<td>1,1</td>
		<td>1,1</td>
	</tr>
	<tr>
		<td colspan="2">1,2</td>
		<td>1,1</td>
	</tr>
	<tr>
		<td colspan="2">2,1</td>
		<td>1,1</td>
	</tr>
	<tr>
		<td>2,2</td>
		<td>1,1</td>
		<td>1,1</td>
	</tr>
</table>
<table name="Sheet 3">
	<tr>
		<td>1,1</td>
		<td>1,1</td>
		<td>1,1</td>
	</tr>
	<tr>
		<td colspan="2">1,2</td>
		<td>1,1</td>
	</tr>
	<tr>
		<td colspan="2">2,1</td>
		<td>1,1</td>
	</tr>
	<tr>
		<td>2,2</td>
		<td>1,1</td>
		<td>1,1</td>
	</tr>
</table>
</div>
</webobject>