<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html><head><title>ER Components Tour</title></head>
<body>

<h3 align="center">GoogleCharts</h3>

<p><WEBOBJECT NAME = BackLink>Back</WEBOBJECT></p>

<p>
Chart01:<br/>
<pre>&lt;wo:GCLineChart data="$someArrayOfData" colors="FF0000,00FF00"/&gt;</pre>
<WEBOBJECT NAME = Chart01></WEBOBJECT>
</p><hr/>

<p>
Chart02:<br/>
<pre>&lt;wo:GCLineChart data="$someArrayOfData" colors="$someArrayOfColors"/&gt;</pre>
<WEBOBJECT NAME = Chart02></WEBOBJECT>
</p><hr/>

<p>
Chart03:<br/>
<pre>&lt;wo:GCLineChart data="[0, 40, 10, 70, 20]" colors="FF0000,00FF00"/&gt;</pre>
<WEBOBJECT NAME = Chart03></WEBOBJECT>
</p><hr/>

<p>
Chart04:<br/>
<pre>&lt;wo:GCLineChart data="[[0, 40, 10, 70, 20],[41, 10, 80, 50]]" colors="FF0000,00FF00"/&gt;</pre>
<WEBOBJECT NAME = Chart04></WEBOBJECT>
</p><hr/>

<p>
Chart05:<br/>
<pre>&lt;wo:GCSparkline size="120x40" data="[27,25,25,25,25,27,100,31,25,36,25,25,39,25,31,25,25,25,26,26,25,25,28,25,25,100,28,27,31,25,27,27,29,25,27,26,26,25,26,26,35,33,34,25,26,25,36,25,26,37,33,33,37,37,39,25,25,25,25]" colors="0077CC"/&gt;</pre>
<WEBOBJECT NAME = Chart05></WEBOBJECT>
</p><hr/>

<p>
Chart06:<br/>
<pre>&lt;wo:GCBarChart data="[300, 100, 30, 200]" /&gt;</pre>
<WEBOBJECT NAME = Chart06></WEBOBJECT>
</p><hr/>

<p>
Chart07:<br/>
<pre>&lt;wo:GCBarChart data="[300, 100, 30, 200]" orientation="horizontal"/&gt;</pre>
<WEBOBJECT NAME = Chart07></WEBOBJECT>
</p><hr/>

<p>
Chart08:<br/>
<pre>&lt;wo:GCBarChart data="[[300, 100, 30, 200], [100, 200, 300, 10]]" colors="['FF0000', '00FF00']"/&gt;</pre>
<WEBOBJECT NAME = Chart08></WEBOBJECT>
</p><hr/>

<p>
Chart09:<br/>
<pre>&lt;wo:GCBarChart data="[[300, 100, 30, 200], [100, 200, 300, 10]]" colors="['FF0000', '00FF00']" stacked="$false"/&gt;</pre>
<WEBOBJECT NAME = Chart09></WEBOBJECT>
</p><hr/>

<p>
Chart10:<br/>
<pre>&lt;wo:GCPieChart data="[20, 35, 45]"/&gt;</pre>
<WEBOBJECT NAME = Chart10></WEBOBJECT>
</p><hr/>

<p>
Chart11:<br/>
<pre>&lt;wo:GCPie3DChart data="[20, 35, 45]"/&gt;</pre>
<WEBOBJECT NAME = Chart11></WEBOBJECT>
</p><hr/>

<p>
Chart12:<br/>
<pre>&lt;wo:GCVennDiagram data="[100, 80, 60, 30, 30, 30, 10]"/&gt;</pre>
<WEBOBJECT NAME = Chart12></WEBOBJECT>
</p><hr/>

<p>
Chart13:<br/>
<pre>&lt;wo:GCScatterPlot data="[[1, 2, 3, 4, 5], [1, 2, 3, 4 ,5], [5, 4, 3, 2, 1]]"/&gt;</pre>
<WEBOBJECT NAME = Chart13></WEBOBJECT>
</p><hr/>

<p>
Chart14:<br/>
<pre>&lt;wo:GCMeter data="[70]" label="Flavor"/&gt;</pre>
<WEBOBJECT NAME = Chart14></WEBOBJECT>
</p><hr/>

<p>
Chart15:<br/>
<pre>&lt;wo:GCBarChart title="Recent Chart Sexyness" data="[15, 30, 10, 20, 100, 20, 40, 100]"/&gt;</pre>
<WEBOBJECT NAME = Chart15></WEBOBJECT>
</p><hr/>

<p>
Chart16:<br/>
<pre>&lt;wo:GCBarChart title="Recent Chart Sexyness" titleSize="20" data="[15, 30, 10, 20, 100, 20, 40, 100]"/&gt;</pre>
<WEBOBJECT NAME = Chart16></WEBOBJECT>
</p><hr/>

<p>
Chart17:<br/>
<pre>&lt;wo:GCBarChart title="Recent Chart Sexyness" titleColor="FF0000" data="[15, 30, 10, 20, 100, 20, 40, 100]"/&gt;</pre>
<WEBOBJECT NAME = Chart17></WEBOBJECT>
</p><hr/>

<p>
Chart18:<br/>
<pre>&lt;wo:GCBarChart title="Recent Chart Sexyness" size="600x400" data="[15, 30, 10, 20, 100, 20, 40, 100]"/&gt;</pre>
<WEBOBJECT NAME = Chart18></WEBOBJECT>
</p><hr/>

<p>
Chart19:<br/>
<pre>&lt;wo:GCBarChart title="Mike's Mojo" data="[15, 30, 10, 20, 100, 20, 40, 100, 90, 100, 80]" background="FF9994"/&gt;</pre>
<WEBOBJECT NAME = Chart19></WEBOBJECT>
</p><hr/>

<p>
Chart20:<br/>
<pre>&lt;wo:GCBarChart title="Mike's Mojo" data="[15, 30, 10, 20, 100, 20, 40, 100, 90, 100, 80]" background="FF9994" chartBackground="000000"/&gt;</pre>
<WEBOBJECT NAME = Chart20></WEBOBJECT>
</p><hr/>

<p>
Chart21:<br/>
<pre>&lt;wo:GCBarChart title="Mike's Mojo" data="[15, 30, 10, 20, 100, 20, 40, 100, 90, 100, 80]" colors="76A4FB" background="EEEEEE" chartBackground="CCCCCC"/&gt;</pre>
<WEBOBJECT NAME = Chart21></WEBOBJECT>
</p><hr/>

<p>
Chart22:<br/>
<pre>&lt;wo:GCLineChart title="Mike's Mojo" data="[15, 30, 10, 20, 100, 20, 40, 100, 90, 100, 80]" colors="76A4FB"/&gt;</pre>
<WEBOBJECT NAME = Chart22></WEBOBJECT>
</p><hr/>

<p>
Note: Using <pre>legend="['Mike\'s Mojo', 'Anjo\'s Mojo']"</pre> results in an error:
<table>
<tr><td>Application:</td><td>ERComponentTour</td></tr>
<tr><td>Error:</td><td>java.lang.IllegalArgumentException: Failed to convert String to array.</td></tr>
<tr><td>Reason:</td><td>Failed to convert String to array.</td></tr>
<tr><td>Stack trace:</td><td></td></tr>
<tr><td>File</td><td>Line# 	Method 	Package</td></tr>
<tr><td></td><td>AjaxUtils.java 	395 	arrayValueForObject 	er.ajax</td></tr>
<tr><td></td><td>AjaxUtils.java 	341 	arrayValueForAssociation 	er.ajax</td></tr>
<tr><td></td><td>GCAbstractChart.java 	410 	appendToResponse 	er.googlechart.components</td></tr>
</table>

<p>
Chart23:<br/>
<pre>&lt;wo:GCBarChart title="Mike vs Anjo" data="[[300, 100, 30, 200], [100, 200, 300, 10]]" colors="FF0000,00FF00" stacked="$false" size="400x300" legend="['Mike Mojo', 'Anjo Mojo']"/&gt;</pre>
<WEBOBJECT NAME = Chart23></WEBOBJECT>
</p><hr/>
 
<p>
Chart24:<br/>
<pre>&lt;wo:GCLineChart title="Mike vs Anjo" data="[[300, 100, 30, 200], [100, 200, 300, 10]]" colors="FF0000,00FF00" stacked="$false" size="400x300" legend="['Mike Mojo', 'Anjo Mojo']"/&gt;</pre>
<WEBOBJECT NAME = Chart24></WEBOBJECT>
</p><hr/>

<p>
Chart25:<br/>
<pre>&lt;wo:GCPie3DChart title="wo_fu" size="400x200" data="[10, 45, 45]" labels="Chuck,Anjo,Mike"/&gt;</pre>
<WEBOBJECT NAME = Chart25></WEBOBJECT>
</p><hr/>

<p>
Chart26:<br/>
<pre>&lt;wo:GCLineChart data="[300, 100, 30, 200, 100, 200, 300, 10]" labeledAxes="x,y,r" /&gt;</pre>
<WEBOBJECT NAME = Chart26></WEBOBJECT>
</p><hr/>

<p>
Chart27:<br/>
<pre>&lt;wo:GCLineChart data="[300, 100, 30, 200, 100, 200, 300, 10]" labeledAxes="x" axisLabels="['Jan','July','Jan','July','Jan']" /&gt;</pre>
<WEBOBJECT NAME = Chart27></WEBOBJECT>
</p><hr/>

<p>
Chart28: XXX - THERE IS A PROBLEM HERE...<br/>
<pre>&lt;wo:GCLineChart data="[300, 100, 30, 200, 100, 200, 300, 10]" labeledAxes="x,r" axisLabels="[['Jan','July','Jan','July','Jan'], ['2005','2006','2007']]" /&gt;</pre>
<WEBOBJECT NAME = Chart28></WEBOBJECT>
</p><hr/>

<p>
Chart29:<br/>
<pre>&lt;wo:GCLineChart custom="chd=s:93zyvneTTOMJMLIJFHEAECFJGHDBFCFIERcgnpy45879,IJKNUWUWYdnswz047977315533zy1246872tnkgcaZQONHCECAAAAEII&chls=3,6,3|1,1,0" /&gt;</pre>
<WEBOBJECT NAME = Chart29></WEBOBJECT>
</p><hr/>

<p>
Chart30:<br/>
<pre>&lt;wo:GCLineChart data="[300, 100, 30, 200, 100, 200, 300, 10]" /&gt;</pre>
<WEBOBJECT NAME = Chart30></WEBOBJECT>
</p><hr/>

<p>
Chart31:<br/>
<pre>&lt;wo:GCLineChart data="[300, 100, 30, 200, 100, 200, 300, 10]" maxValue="500" /&gt;</pre>
<WEBOBJECT NAME = Chart31></WEBOBJECT>
</p><hr/>

<p>
Chart32:<br/>
<pre>&lt;wo:GCLineChart data="[300, 100, 30, 200, 100, 200, 300, 10]" maxValue="$false" /&gt;</pre>
<WEBOBJECT NAME = Chart32></WEBOBJECT>
</p><hr/>

<p>
Chart33:<br/>
<pre>&lt;wo:GCMap width="440" height="220" area="usa" colors="f5f5f5,edf0d4,6c9642,13390a" backgroundStyle="solid" background="eaf7fe" data="s:fSGBDQBQBBAGABCBDAKLCDGFCLBBEBBEPASDKJBDD9BHHEAACAC" regions="NY,PA,TN,WV,NV,NJ,NH,VA,HI,VT,NM,NC,ND,NE,LA,SD,DC,DE,FL,WA,KS,WI,OR,KY,ME,OH,IA,ID,CT,WY,UT,IN,IL,AK,TX,CO,MD,MA,AL,MO,MN,CA,OK,MI,GA,AZ,MT,MS,SC,RI,AR" /&gt;</pre>
<WEBOBJECT NAME = Chart33></WEBOBJECT>
</p><hr/>

<p>
Chart34:<br/>
<pre>&lt;wo:GCQRCode size="150x150" text="Hello world" encoding="UTF-8" /&gt;</pre>
<WEBOBJECT NAME = Chart34></WEBOBJECT>
</p><hr/>

<p>
Chart35:<br/>
<pre>&lt;wo:GCRadarChart data="[10,20,30,40,50,60,70,80,90]" /&gt;</pre>
<WEBOBJECT NAME = Chart35></WEBOBJECT>
</p><hr/>

</body></html>
