{
    attributes = (
        {allowsNull = N; columnName = eventID; name = eventID; prototypeName = id; }, 
        {allowsNull = N; columnName = giverID; name = giverID; prototypeName = id; }, 
        {allowsNull = N; name = id; prototypeName = id; }, 
        {
            allowsNull = N; 
            columnName = receiverID; 
            name = receiverID; 
            prototypeName = id; 
        }
    ); 
    attributesUsedForLocking = (eventID, giverID, id, receiverID); 
    className = "com.secretpal.model.SPSecretPal"; 
    classProperties = (event, giver, receiver); 
    externalName = SPSecretPal; 
    fetchSpecificationDictionary = {}; 
    name = SPSecretPal; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            destination = SPEvent; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = eventID; }); 
            name = event; 
        }, 
        {
            destination = SPPerson; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = giverID; }); 
            name = giver; 
        }, 
        {
            destination = SPPerson; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = receiverID; }); 
            name = receiver; 
        }
    ); 
}
