<webobject name = "AjaxExampleComponent">
        <style>
.exampleArea {
	border-style: solid;
	border-color: rgb(0, 0, 0);
	border-width: 2px;
	padding: 5px;
	background-color: rgb(200, 200, 200);
}
				</style>

        <p>Initial time: <webobject name="String1"></webobject></p>
        <p><webobject name = "UpdateLink">Do Update with AjaxUpdateLink</webobject></p>
        <p><webobject name = "UpdateShortcutLink">Do Update With Javascript Function</webobject></p>
        <p><webobject name = "UpdateWithActionLink">Do Update After Action</webobject></p>
        <p><webobject name = "UpdateFromWindowLink">Update From Window</webobject></p>
        <p><webobject name = "UpdateWithActionFunction"></webobject><webobject name = "UpdateFunctionCall">AjaxUpdateLink with Client-Added Parameter 'name=Mike'</webobject></p>
        <div id = "statusMessage">
        This status area will be updated by javascript embedded in the first update container.
        </div>
        <p>
        <b>On-Demand Update</b>
        <webobject name="AjaxUpdateContainer1">
        	<b><webobject name="String1"></webobject></b>
        	<p>
        	<webobject name="Hyperlink1">Example Link (You will only be able to use component actions in an AjaxUpdateContainer if you include ERExtensions framework and extend ERXSession)</webobject>
        	<p>
        	<webobject name="Hyperlink2">Example Link (This is a Direct Action)</webobject>
        	<hr>
        	<p>
        	If you embed a script tag inside of an updating area, make sure to set evalScripts = true in the AjaxUpdateContainer's bindings.  If you update
        	the container using an AjaxUpdateLink, set evalScripts = true on the update link.  This update container updates the 
        	status message above every time it is reloaded.
					<script>
					Element.update('statusMessage', 'Javascript update from container <webobject name="String1"></webobject>');
					</script>
        	<hr>
					<p>
					Below is a nested update container:
					<br>
		      <p><webobject name = "UpdateLink4">Update Nested Update Container (Link Outside Container)</webobject></p>
	        <webobject name="AjaxUpdateContainer4">
			      <p><webobject name = "UpdateLink5">Update Nested Update Container (Link Inside Container)</webobject></p>
	        	<b><webobject name="String1"></webobject></b>
	        </webobject>
	        <p>
	        <webobject name = "UpdateForm">
	        	This is a multipleSubmit form inside an update container.
		        <webobject name = "Submit1Action"/>
		        <webobject name = "Submit2Action"/>
		       </webobject>		        
        </webobject>
        </p>

        <p>
        <b>Periodic Update</b>
        <webobject name="AjaxUpdateContainer2">
        	<b><webobject name="String1"></webobject></b>
        	<p>
        	<webobject name="Hyperlink2">Example Link (This is a Direct Action)</webobject>
        	<p>
        	<webobject name="Hyperlink1">Example Link (You will only be able to use component actions in an AjaxUpdateContainer if you include ERExtensions framework and extend ERXSession)</webobject>
        	<p>
        	<webobject name="Hyperlink1">Example Link (You will only be able to use component actions in an AjaxUpdateContainer if you include ERExtensions framework and extend ERXSession)</webobject>
        </webobject>
        </p>
        
        <webobject name = "DirectActionReplacementLink">Replace The Contents Below With a Direct Action</webobject>.  General replaceID rules apply (i.e. no component actions in the response)
        
        <div id = "directActionReplacementDiv">
        	This will be replaced
        </div>
        
        <p>
        <webobject name = "ExampleArea5">
        	<webobject name = "ExampleForm5">
        	This is exampleArea5
        	<br> 
        	<b><webobject name="String1"></webobject></b>
        	<br>
        	<webobject name = "UpdateExampleArea5Then6">Update 5 Then 6</webobject>
        	</webobject>
        </webobject>
        <p>
        <webobject name = "ExampleArea6">
        	<webobject name = "ExampleForm6">
        	This is exampleArea6
        	<br> 
        	<b><webobject name="String1"></webobject></b>
        	<br>
        	<webobject name = "UpdateExampleArea6Then5">Update 6 Then 5</webobject>
        	</webobject>
        </webobject>
        
        <p>
        <script>
        function onCompleteTest() {
        	alert('complete exampleArea7!');
        }
        function onCompleteTest2() {
        	alert('complete exampleArea8!');
        }
        </script>
        <webobject name = "ExampleArea7">
        	This is exampleArea7, which has an alert onComplete.
        </webobject>
        <webobject name = "ExampleArea7Updater">Update exampleArea7</webobject>
</webobject>