<webobject name = "ShowBatchNavigationConditional">
<webobject name = "DivContainer">
  <webobject name="ShowPageStringConditional"><strong><webobject name = "LocalizedStringForPage"/>:  </strong></webobject>
  <webobject name = "IsNotFirstBatchConditional">
	  <span class="ERXBatchNavBack"><webobject name = "PreviousPageLink"><webobject name="BackString" /></webobject></span>
  </webobject>
	<webobject name="ShowPageNumbersConditional">
	  <webobject name = "PageNumbersRepetition">
	  	<webobject name = "IsSelectedConditional"><span class = "Selected"><webobject name = "Link"><webobject name = "CurrentNumber"/></webobject></span></webobject>
	  	<webobject name = "ERXElse"><webobject name = "Link1"><webobject name = "CurrentNumber1"/></webobject></webobject>
	  </webobject>
	</webobject>
  <webobject name = "IsNotLastBatchConditional">
	  <span class = "ERXBatchNavForward"><webobject name = "NextPageLink"><webobject name="ForwardString" /></webobject></span>
  </webobject>
</webobject>
</webobject>