<wo:PageWrapper>
  <div class = "section">
    <h1>TaskInfo List</h1>
    <wo:AjaxUpdateContainer id = "ListContainer">
    <table width = "100%" class = "list">
      <tr>
        <th class = "left">ID</th>
        <th class = "left">When</th>
        <th class = "left">Status</th>
        <th class = "right">Count</th>
        <th class = "right">Rate</th>
      </tr>
      <wo:loop list = "$dg.displayedObjects" item = "$item">
        <tr>
          <td class = "left"><wo:str value = "$item.primaryKey" /></td>
          <td class = "left"><wo:str value = "$item.startTime" formatter = "$timeFormatter" /></td>
          <td class = "left"><wo:str value = "$item.workflowState" /></td>
          <td class = "right"><wo:str value = "$item.countResultItems" formatter = "$wholeNumberFormatter" /></td>
          <td class = "right"><wo:str value = "$item.processingRate" formatter = "$wholeNumberFormatter" /></td>
          <td class = "right">
            <wo:ERXDataHyperlink pageName = "TaskInfoPage" taskInfo = "$item"><wo:img filename = "magnifier.png" alt = "View" /></wo:ERXDataHyperlink>
          </td>
        </tr>
      </wo:loop>
    </table>
    </wo:AjaxUpdateContainer>
  </div>
<div class = "section prepend-top">
<wo name = "Navigation" />
</div>
</wo:PageWrapper>