<!--
  -- WOSimpleArrayDisplay2.html
  -- [JavaWOExtensions Project]
-->
<webobject name=ShouldDisplayConditional><table border=0 cellpadding=0 cellspacing=3 width="100%">
	<tr>
    	<td><FONT SIZE="-1"><webobject name=ArrayRepetition><webobject name=DisplayItem></webobject><br/></webobject></FONT></td>
			<webobject name=MoreThanConditional>
        	<td width=1 bgcolor=#b0b0b0><br/></td>
        	<td ALIGN=RIGHT VALIGN=middle>...<webobject name=ListAction><webObject name=InspectImage></webObject></webobject></td>
		</webobject>
	</tr>
</table></webobject>
<webObject name=NothingDisplayed> &nbsp </webObject>
