<webobject name = "PageWrapper">
  <webobject name = "D2wContextShowHeader">
    <webobject name = "Generic6">
      <webobject name = "IsThereATitle">
        <webobject name = "Generic4"><webobject name = "D2wContextTitle" /></webobject>
      </webobject>
      <webobject name = "Generic7"><webobject name = "DisplayNameForGroupingKey" /></webobject>
      <webobject name = "D2wContextDisplayPropertyKeys1">
        <webobject name = "Generic5">
          <webobject name = "D2wContextDisplayNameForProperty" />
          <webobject name = "AreThereUnits">(<webobject name = "D2wContextResolvedUnit" />)</webobject>
        </webobject>
      </webobject>
    </webobject>
  </webobject>
  <webobject name = "ERGroupingRepetition">
    <webobject name = "Generic3">
      <webobject name = "IsThereATitle2"><webobject name = "Generic9" /></webobject>
      <webobject name = "Generic2"><webobject name = "ValueForGroup" /></webobject>
      <webobject name = "D2wContextDisplayPropertyKeys2"><webobject name = "Generic12" /></webobject>
    </webobject>
    <webobject name = "Sublist">
      <webobject name = "XMLNode1">
        <webobject name = "IsThereATitle3"><webobject name = "Generic10" /></webobject>
        <webobject name = "Generic8" />
        <webobject name = "D2wContextDisplayPropertyKeys">
          <webobject name = "CELL"><webobject name = "AttributeDisplay" /> </webobject>
        </webobject>
      </webobject>
      <webobject name = "D2wContextHasThirdLevel"><webobject name = "SwitchComponent1" /></webobject>
    </webobject>
  </webobject>
</webobject>