<webobject name="HasListContents">
  <webobject name="CenterWrapper"><webobject name="D2WPick1" /></webobject>
</webobject>
<webobject name="HasEmptyList">
  <webobject name="HasEmptyListMessage">
    <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<webobject name="String1" />
    <br />
    <br />
  </webobject>
  <webobject name="NoEmptyListMessage">
    <webobject name="HasEmptyListComponent"><webobject name="EmptyListComponent" /></webobject>
  </webobject>
</webobject>