<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>Threads and Background Tasks</title>
    <!-- Source File -->
    <wo:ERXStyleSheet filename = "reset.css" />
    <wo:ERXStyleSheet filename = "fonts.css" />
    <wo:ERXStyleSheet filename = "grids.css" />
    <wo:ERXStyleSheet filename = "base.css" />
    <wo:ERXStyleSheet filename = "example.css" />
  </head>
  <body>
    <div id = "doc">
      <div id = "hd">
        <div class = "center append-bottom" style = "overflow: hidden;"> <wo:img class = "large-round-corners" filename = "wowodc_2011.png" /></div>
        <ul id = "nav" class = "small-round-corners">
          <li>
            <wo:link pageName = "Main">Home</wo:link>
          </li>
          <li>
            <wo:link pageName = "TaskInfoList">TaskInfo-List</wo:link>
          </li>
          <li>
            <wo:link pageName = "AppMonitor">Task Monitor</wo:link>
          </li>
        </ul>
      </div>
      <wo:if condition = "$hasErrors">
        <div id = "errors" class = "large-round-corners">
          <ul> <wo:str value = "$errorString" escapeHTML = "$false" /> </ul>
        </div>
      </wo:if>
      <div id = "bd">
        <div class = "append-bottom"> <wo:WOComponentContent /> </div>
        <div class = "push"></div>
      </div>
      <div id = "ft"> </div>
    </div>
  </body>
</html>