<webobject name=PageWrapper><webobject name=QueryTable><webobject name=BannerConditional>
			<tr>
				<td align=center>
					<table border=0>
						<tr>
							<td align=left colspan=3><webobject name=Banner></webobject></td>
						</tr>
						<webobject name=QueryTableHeaderRow>
							<td align=left colspan=3><b><webobject name=FontContainer><webobject name=Entities></webobject></webobject></b></td>
						</webobject>
						<tr>
							<td>
								<spacer width=1 height=1></spacer>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</webobject>
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td align=left valign=top>
				<table cellspacing=0 border=0 cellpadding=1>
					<webobject name=Repetition1><webobject name=EntitiesRepetition>
							<webobject name=HasSectionName>
								<tr>
									<td class=Section bgcolor="#FFFFFF" valign=middle colspan=5 height=26><webobject name=SwitchComponent3></webobject></td>
								</tr>
							</webobject><webobject name=QueryRow>
								<webobject name=QueryForm>
									<td align=right><strong><font color=000000 size=-1><webobject name=EntityName></webobject></font></strong>&nbsp;</td>
									<td bgcolor="#ffffff">
										<spacer width=1 height=1 /> </td>
									<td align=right>&nbsp;<webobject name=QueryAnyField></webobject></td>
									<td valign=center><webobject name=SearchButtonImage></webobject></td>
									<td valign=center><webobject name=RegularQueryHyperlink><webobject name=MoreOptionsImage></webobject></webobject></td>
								</webobject>
							</webobject>
							<tr>
								<td bgcolor="#ffffff" colspan=5>
									<spacer width=1 height=1></spacer>
								</td>
							</tr>
						</webobject></webobject>
				</table>
			</td>
		</tr>
	</webobject></webobject>