<WEBOBJECT NAME=PageWrapper>This is from the ugly look template. - Note that not only can you change images and background colors, but html structure as well.<BR>
<WEBOBJECT NAME=EditingForm><WEBOBJECT NAME=ERTableWithBorder1>
						<TR VALIGN=top>
							<TD VALIGN=top><WEBOBJECT NAME=InspectTable>
									<WEBOBJECT NAME=BannerConditional>
										<TR>
											<TD ALIGN=center VALIGN=TOP>
												<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=0>
													<TR>
														<TD COLSPAN=2>*****************************************************************************</TD>
													</TR>
													<WEBOBJECT NAME=InspectTableHeaderRow>
														<TD ALIGN=left><WEBOBJECT NAME=FontContainer><B><FONT SIZE=7><WEBOBJECT NAME=EntityName></WEBOBJECT></FONT></B></WEBOBJECT></TD>
														<TD ALIGN=RIGHT><WEBOBJECT NAME=Conditional1>You Have Changes -&gt;&gt;&gt;&gt;&gt;&nbsp;&nbsp;<WEBOBJECT NAME=Image1></WEBOBJECT></WEBOBJECT></TD>
														
													</WEBOBJECT>
												</TABLE>
											</TD>
										</TR>
									</WEBOBJECT>
									<TR>
										<TD ALIGN=CENTER><WEBOBJECT NAME=Errors></WEBOBJECT></TD>
									</TR>
									<WEBOBJECT NAME=Sections><WEBOBJECT NAME=HasSectionName><TR><TD COLSPAN=3 BGCOLOR=#FFFFFF HEIGHT=26 VALIGN=middle CLASS=Section><WEBOBJECT NAME=SwitchComponent3></WEBOBJECT></TD></TR></WEBOBJECT><TR HEIGHT=6><TD COLSPAN=3>&nbsp;</TD></TR><TR><TD COLSPAN=3 ALIGN=left><TABLE BORDER=0 CELLPADDING=0 CELLSPACING=1><WEBOBJECT NAME=AttributeRepetition><TR><WEBOBJECT NAME=DisplayNameLength><TD VALIGN=TOP ALIGN=LEFT><WEBOBJECT NAME=SwitchComponent1></WEBOBJECT></TD></WEBOBJECT><WEBOBJECT NAME=Conditional7><TD>&nbsp;&nbsp;</TD></WEBOBJECT><TD VALIGN=top ALIGN=left><WEBOBJECT NAME=AttributeValue2></WEBOBJECT></TD></TR></WEBOBJECT></TABLE></TD></TR><TR HEIGHT=6><TD COLSPAN=3>&nbsp;</TD></TR></WEBOBJECT><tr>
										<TD VALIGN=top ALIGN=center>
											
										</TD>
									</TR>
								</WEBOBJECT>
							</TD>
						</TR>
						<TR>
							<TD ALIGN=center COLSPAN=3>
								<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=0>
									<TR>
										<TD ALIGN=center>
											<WEBOBJECT NAME=IsEditingConditional>
												<WEBOBJECT NAME=CancelLink><WEBOBJECT NAME=CancelButton></WEBOBJECT></WEBOBJECT>
											</WEBOBJECT>
											<WEBOBJECT NAME=IsNotEditingConditional>
												<WEBOBJECT NAME=ShowCancel><WEBOBJECT NAME=ReturnLink><WEBOBJECT NAME=ReturnButton></WEBOBJECT></WEBOBJECT></WEBOBJECT>
											</WEBOBJECT>
										</TD>
										<WEBOBJECT NAME=IsEntityWritable>
											<TD ALIGN=right> </TD>
										</WEBOBJECT>
										<TD ALIGN=left>
											<WEBOBJECT NAME=IsEntityWritable2>
												<WEBOBJECT NAME=IsNotEditingConditional2>
													<WEBOBJECT NAME=EditLink><WEBOBJECT NAME=EditImage></WEBOBJECT></WEBOBJECT>
												</WEBOBJECT>
											</WEBOBJECT>
											<WEBOBJECT NAME=IsEditingConditional2>
												<WEBOBJECT NAME=SubmitChanges></WEBOBJECT>
											</WEBOBJECT>
										</TD>
									</TR>
								</TABLE>
							</TD>
						</TR>
				</WEBOBJECT></WEBOBJECT>
</WEBOBJECT>