/* D2WDisplayBoolean2.css */

span.true, span.false {
	text-indent: -5000px;
	display: block;
	width: 16px;
	height: 16px;
}

span.true {
	background: url(/WebObjects/Frameworks/JavaDirectToWeb.framework/WebServerResources/CheckboxOn.gif);
}

span.false {
	background: url(/WebObjects/Frameworks/JavaDirectToWeb.framework/WebServerResources/CheckboxOff.gif);
}

/* ERXAjaxBatchNavigationBar.css */

fieldset.batch_nav_bar ul.batch_nav_bar li.batch_nav_bar {
	float: left;
	width: 33%;
}

fieldset.batch_nav_bar fieldset.page_nav button.previous {
	background: url(/WebObjects/Frameworks/JavaWOExtensions.framework/WebServerResources/lft-OSarw.gif) no-repeat;
}

fieldset.batch_nav_bar fieldset.page_nav button.next {
	background: url(/WebObjects/Frameworks/JavaWOExtensions.framework/WebServerResources/rt-OSarw.gif) no-repeat;
}

fieldset.batch_nav_bar fieldset.page_nav button {
	height:16px;
	width:11px;
	text-indent: -5000px;
	display: block;
	border: 0px;
	cursor: pointer;
	margin: 2px;
}

fieldset.batch_nav_bar li.page_nav fieldset.page_nav ul li {
	float: right;
}

fieldset.batch_nav_bar ul.batch_nav_bar li.page_batch fieldset.page_batch {
	width: 135px;
	margin-left: auto;
	margin-right: auto;
}

fieldset.batch_nav_bar fieldset.page_nav {
	float: right;
	width: 9.5em;
}

fieldset.batch_nav_bar ul.batch_nav_bar li.page_nav {
	float: right;
}

input.batch_number {
	width: 14px;
}

input.batch_size {
	width: 16px;
}

fieldset#bottom_batch_nav li.entity_name {
	display: none;
}

/* ERDSearchDisplayGroup.css */

ul.ERDSearchDisplayGroup label:after {
	content: ":";
}

ul.ERDSearchDisplayGroup li {
	float: right;
}

/* ERXSortOrder2.css*/

div#a div table.list thead tr th div.property {
	margin: 2px;
}

div#a div table.list thead tr th div.sort {
	margin: 4px 4px 4px 2px;
}

/* ERDListPage.css */

div#a table.list thead tr th div {
	float: left;
	padding-right: 2px;		/* space between title and sort link */	
}

div#a table.list {
	border-collapse: collapse;
}

div#a table.list tbody tr td {
	padding-left: 2px;
	padding-right: 2px;
}

div#a fieldset#bottom_batch_nav ul li.content ul li.export {
	display: none;
}
