@import url("Neutral.css");
@import url("ERDIVEditPage.css");
@import url("NeutralEditToManyFault.css");
@import url("NeutralEditToOneFault.css");
@import url("NeutralCalendarDateSelect.css");
@import url("NeutralAjaxAccordion.css");
@import url("NeutralEditToOneRelationship2.css");

/* The following are styles for the edit page */

div#a #EditForm h1.edit {
	background: url(/WebObjects/Frameworks/JavaDirectToWeb.framework/WebServerResources/EditMetalBan.gif) no-repeat;
	text-indent: -5000px;
}

div#a #EditForm h2.entity, div#a #EditForm fieldset.button {
	background-color: #eeeeee;
}

div#a #EditForm fieldset.button ul li button {
	text-indent: -5000px;
	display: block;
	height:31px;
	border: 0px;
	cursor: pointer;
	width: 88px;
}

div#a #EditForm fieldset.button ul li button.cancel {
	background: url(/WebObjects/Frameworks/JavaDirectToWeb.framework/WebServerResources/CancelMetalBtn.gif);
}

div#a #EditForm fieldset.button ul li button.save {
	background: url(/WebObjects/Frameworks/JavaDirectToWeb.framework/WebServerResources/SaveMetalBtn.gif);
}

div#a #EditForm fieldset li.attribute {
	background-color: #eeeeee;
	min-width: expression(document.getElementById('section').offsetWidth + "px");
}

div#a #EditForm .accordion-toggle {
	background-color: rgb(203, 206, 211);
}

div#a #EditForm div.accordion-content ul li.attribute div.content {
	border-left: solid white 2px;
	padding-left: 2px;
	margin-top: -1.5em;
	min-height: 1.5em;
}

div#a #EditForm div.accordion-content ul li.attribute legend.propertyKey {
	font-size: 10pt;
	margin-left: -160px; /*width of left column*/
}

div#a #EditForm div.accordion-content ul li.attribute {
	line-height: 1.5em;
	border-top: solid white 2px;
}

div#a #EditForm div.accordion-content ul {
	margin-bottom: 5px;
}

div#a #EditForm fieldset.button {
	height:31px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	min-width: expression(document.getElementById('a').offsetWidth + "px");
	background-color: #eeeeee;
}
