/* The following are styles for the ERDEditButton2 */

a.ERDEditButton2 {
	background: url(/WebObjects/Frameworks/JavaDirectToWeb.framework/WebServerResources/write-btn.gif) no-repeat;
	width: 18px;
	height: 16px;
	text-indent: -5000px;
	display: block;
	border: 0px;
	cursor: pointer;
}

