a.ERDTrashcan2 {
	background: url(/WebObjects/Frameworks/JavaDirectToWeb.framework/WebServerResources/trashcan-btn.gif) no-repeat;
	width: 24px;
	height: 24px;
	text-indent: -5000px;
	display: block;
	border: 0px;
	cursor: pointer;
}
