@import url("ERDIVInspectPage.css");
@import url("WebObjectsInspect.css");

tr.detail h1.task {
	display: none;
}

tr.detail div.button {
	display: none;
}

tr.detail {
	background-color: transparent;
}
