
a.ERDInspectButton2 {
	background: url(/WebObjects/Frameworks/JavaDirectToWeb.framework/WebServerResources/rt-OSarw.gif) no-repeat;
	width: 16px;
	height: 16px;
	text-indent: -5000px;
	display: block;
	border: 0px;
	cursor: pointer;
}