@import url("WebObjects.css");
@import url("WebObjectsTabPanel.css");
@import url("WebObjectsEditPage.css");
@import url("WebObjectsAjaxAccordion.css");

div#a form div.tab_panel .accordion-toggle {
	max-width: 100%;
	margin: 0;
	padding-top:4px;
	padding-bottom: 4px;
}