<webobject name = "PageWrapper">
  <webobject name = "RequiredWrapper">
    <webobject name = "NotIsListEmpty">
      <webobject name = "HiddenField" />
      <webobject name = "ShowTopActionBlock">
        <webobject name = "TopActionBlock">
          <webobject name = "HasPrinterFriendlyVersion"><webobject name = "PrinterButton" /></webobject>
        </webobject>
      </webobject>
      <webobject name = "RepetitionUpdateContainer">
        <webobject name = "NavBar"> <webobject name = "NavigationBar" /> </webobject>
        <webobject name = "ShowTopBatchCount">
          <webobject name = "TopNavBatchSize"><webobject name = "BatchSizeControl" /></webobject>
        </webobject>
        <webobject name = "ObservationWrapper"><webobject name = "ListPageRepetition" /></webobject>
          <webobject name = "ShowBottomBatchNavBar">
            <webobject name = "BottomNavBar"> <webobject name = "NavigationBar" /> </webobject>
          </webobject>
          <webobject name = "ShowBottomBatchCount">
            <webobject name = "BottomNavBatchSize"><webobject name = "BatchSizeControl" /></webobject>
          </webobject>
      </webobject>
      <webobject name = "ShowBottomActionBlock">
        <webobject name = "BottomActionBlock">
          <ul class = "ActionList">
            <webobject name = "ShowCancel">
              <li><webobject name = "CancelPageButton" /></li>
            </webobject>
            <webobject name = "ShowActions">
              <li><webobject name = "SelectAllButton" /></li>
              <li><webobject name = "UnselectAllButton" /></li>
            </webobject>
            <webobject name = "NotHasBranchChoices">
              <li><webobject name = "BackActionButton" /></li>
            </webobject>
          </ul>
          <webobject name = "HasBranchChoices">
            <ul class = "BranchActionList">
              <webobject name = "BranchChoices">
                <li><webobject name = "BranchActionButton" /></li>
              </webobject>
            </ul>
          </webobject>
        </webobject>
      </webobject>
    </webobject>
    <webobject name = "IsListEmpty">
      <webobject name = "EmptyMessageComponent" />
      <webobject name = "ShowBottomActionBlock">
        <webobject name = "BottomActionBlock">
          <webobject name = "HideReturnOnSelect">
            <webobject name = "ShowCancel">
              <ul class = "ActionList">
                <li> <webobject name = "ReturnButton" /> </li>
              </ul>
            </webobject>
          </webobject>
        </webobject>
      </webobject>
    </webobject>
  </webobject>
</webobject>