<webobject name=PageWrapper><webobject name=Help></webobject>
	<table class="InspectTable">
		<tr>
            <td class="Header"><webobject name=Header></webobject><webobject name=HasChangesMarker></webobject></td>
		</tr>
		<webobject name=EditingForm>
			<tr>
				<td class="TopActions">
					<webobject name=IsEditingConditional>
						<webobject name=CancelButton></webobject> <webobject name=SubmitChanges></webobject>
					</webobject>
					<webobject name=IsNotEditingConditional>
						<webobject name=ShowCancel><webobject name=ReturnButton></webobject></webobject> <webobject name=IsObjectEditable><webobject name=EditButton></webobject></webobject>
					</webobject>
					<webobject name=PrinterButton></webobject>
					<webobject name=ActionBar></webobject><webobject name = "Controller"></webobject>
				</td>
			</tr>
			<tr>
				<td class="Errors"><webobject name=Errors></webobject></td>
			</tr>
			<tr>
				<td class="Repetition"><webobject name=InspectPageRepetition></webobject></td>
			</tr>
			<tr>
				<td class="Actions">
					<webobject name=IsEditingConditional>
						<webobject name=CancelButton></webobject> <webobject name=SubmitChanges></webobject>
					</webobject>
					<webobject name=IsNotEditingConditional>
						<webobject name=ShowCancel><webobject name=ReturnButton></webobject></webobject> <webobject name=IsObjectEditable><webobject name=EditButton></webobject></webobject>
					</webobject>
					<webobject name=HasChangesMarker></webobject>
					<webobject name=PrinterButton></webobject>
					<webobject name=ActionBar></webobject><webobject name = "Controller"></webobject>
				</td>
			</tr>
		</webobject>
	</table>
</webobject>