<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>TickTockMan</title>
</head>
<body>
<h2>Repent, Harlequin!</h2>
<p>Time: <wo:str value="$time" dateformat="%Y/%m/%d %H:%M:%S %z" /></p>
<p>Millis: <wo:str value="$millis" numberformat="0" /></p>
<p>or:
<ul>
  <li><wo:link pageName="TimeMeNow">time me now</wo:link></li>
  <li><wo:link pageName="TimeZonesPage">all time zones (in JDK)</wo:link></li>
  <li>more to come...</li>
</ul>
</p>
</body></html>
