<webobject name = "UsingTablesConditional">
<webobject name = "Td"><webobject name = "MeetsDisplayConditions"><webobject name = "contextComponentActionURL"><webobject name = "displayName" /></webobject><webobject name = "hasActivityAndIsEnabled"> <webobject name = "NewMarker" /></webobject><webobject name = "hasNoActivityAndIsEnabled" /></webobject></webobject>
</webobject><webobject name = "NotUsingTablesConditional">
<webobject name = "li"><webobject name = "MeetsDisplayConditions"><webobject name = "contextComponentActionURL"><webobject name = "Span1"><webobject name = "displayName" /></webobject></webobject><webobject name = "hasActivityAndIsEnabled"> <webobject name = "NewMarker" /></webobject><webobject name = "hasNoActivityAndIsEnabled" /></webobject></webobject>
</webobject>