<WEBOBJECT NAME=Conditional1>
	<P><FONT COLOR=#ff0000><B><WEBOBJECT NAME=String1></WEBOBJECT></B></FONT></P>
</WEBOBJECT><WEBOBJECT NAME=Conditional2>
	<TABLE CELLPADDING=1 CELLSPACING=1 BORDER=0>
		<TR>
			<TD ALIGN=RIGHT><B><FONT SIZE=4>Test:&nbsp;</FONT></B></TD>
			<TD><FONT SIZE=4><WEBOBJECT NAME=String11></WEBOBJECT></FONT></TD>
		</TR>
		<TR>
			<TD ALIGN=RIGHT>Run Time:&nbsp;</TD>
			<TD><WEBOBJECT NAME=String7></WEBOBJECT>
				milliseconds</TD>
		</TR>
		<TR>
			<TD ALIGN=RIGHT>Result:&nbsp;</TD>
			<TD><WEBOBJECT NAME=Conditional3><FONT SIZE=4><B>OK</B></FONT> (<WEBOBJECT NAME=String2></WEBOBJECT>
					tests)</WEBOBJECT><WEBOBJECT NAME=Conditional4><FONT SIZE=4><B>FAILURES!!!</B></FONT>
					<TABLE CELLPADDING=0 CELLSPACING=1 BORDER=0>
						<TR>
							<TD ALIGN=RIGHT>Tests run:</TD>
							<TD><WEBOBJECT NAME=String4></WEBOBJECT></TD>
						</TR>
						<TR>
							<TD ALIGN=RIGHT>Failures:</TD>
							<TD><WEBOBJECT NAME=String5></WEBOBJECT></TD>
						</TR>
						<TR>
							<TD ALIGN=RIGHT>Errors:</TD>
							<TD><WEBOBJECT NAME=String6></WEBOBJECT></TD>
						</TR>
					</TABLE>
				</WEBOBJECT></TD>
		</TR>
	</TABLE>
	<WEBOBJECT NAME=Conditional5>
		<TABLE WIDTH=100% BORDER=1 CELLSPACING=0 CELLPADDING=0>
			<TR BGCOLOR=#ff0000>
				<TH BGCOLOR=#ff0000><FONT COLOR=#ffffff>#</FONT></TH>
				<TH ALIGN=LEFT BGCOLOR=#ff0000><FONT COLOR=#ffffff>Method / Description</FONT></TH>
				<WEBOBJECT NAME=Conditional6>
					<TH ALIGN=LEFT><FONT COLOR=#ffffff>Exception</FONT></TH>
				</WEBOBJECT>
			</TR>
			<WEBOBJECT NAME=Repetition1>
				<TR>
					<TD ALIGN=CENTER BGCOLOR=#ffffff VALIGN=TOP><B><WEBOBJECT NAME=String16></WEBOBJECT></B></TD>
					<TD BGCOLOR=#ffffff VALIGN=TOP>
						<TABLE CELLPADDING=1 CELLSPACING=0 BORDER=0>
							<TR>
								<TD ALIGN=RIGHT>Class:&nbsp;</TD>
								<TD NOWRAP><WEBOBJECT NAME=String13></WEBOBJECT></TD>
							</TR>
							<TR>
								<TD ALIGN=RIGHT>Name:&nbsp;</TD>
								<TD NOWRAP BGCOLOR=#ffff00><B><WEBOBJECT NAME=String12></WEBOBJECT></B></TD>
							</TR>
							<TR>
								<TD ALIGN=RIGHT></TD>
								<TD><WEBOBJECT NAME=String14></WEBOBJECT></TD>
							</TR>
						</TABLE>
					</TD>
					<WEBOBJECT NAME=Conditional7>
						<TD VALIGN=TOP>
							<TABLE>
<WEBOBJECT NAME=ReasonRepetition><TR><TD><WEBOBJECT NAME=filename></WEBOBJECT></TD><TD><WEBOBJECT NAME=line></WEBOBJECT></TD><TD><WEBOBJECT NAME=methodname></WEBOBJECT></TD><TD><WEBOBJECT NAME=packagename></WEBOBJECT></TD></TR></WEBOBJECT></TABLE>
							
						</TD>
					</WEBOBJECT>
				</TR>
			</WEBOBJECT>
			<CAPTION ALIGN=TOP><B><FONT SIZE=4>Failures</FONT></B></CAPTION>
		</TABLE>
	</WEBOBJECT><WEBOBJECT NAME=Conditional10>
		<TABLE WIDTH=100% BORDER=1 CELLSPACING=1 CELLPADDING=1>
			<TR BGCOLOR=#ff0000>
				<TH BGCOLOR=#ff0000><FONT COLOR=#ffffff>#</FONT></TH>
				<TH ALIGN=LEFT><FONT COLOR=#ffffff>Method / Description</FONT></TH>
				<WEBOBJECT NAME=Conditional9>
					<TH ALIGN=LEFT><FONT COLOR=#ffffff>Exception</FONT></TH>
				</WEBOBJECT>
			</TR>
			<WEBOBJECT NAME=Repetition2>
				<TR>
					<TD ALIGN=CENTER BGCOLOR=#ffffff VALIGN=TOP><B><WEBOBJECT NAME=String17></WEBOBJECT></B></TD>
					<TD BGCOLOR=#ffffff VALIGN=TOP>
						<TABLE CELLPADDING=1 CELLSPACING=0 BORDER=0>
							<TR>
								<TD ALIGN=RIGHT>Class:&nbsp;</TD>
								<TD NOWRAP><WEBOBJECT NAME=String10></WEBOBJECT></TD>
							</TR>
							<TR>
								<TD ALIGN=RIGHT>Name:&nbsp;</TD>
								<TD NOWRAP BGCOLOR=#ffff00><B><WEBOBJECT NAME=String15></WEBOBJECT></B></TD>
							</TR>
							<TR>
								<TD ALIGN=RIGHT></TD>
								<TD><WEBOBJECT NAME=String3></WEBOBJECT></TD>
							</TR>
						</TABLE>
					</TD>
					<WEBOBJECT NAME=Conditional8>
						<TD VALIGN=TOP><TABLE>
<WEBOBJECT NAME=ReasonRepetition2><TR><TD><WEBOBJECT NAME=filename2></WEBOBJECT></TD><TD><WEBOBJECT NAME=line2></WEBOBJECT></TD><TD><WEBOBJECT NAME=methodname2></WEBOBJECT></TD><TD><WEBOBJECT NAME=packagename2></WEBOBJECT></TD></TR></WEBOBJECT></TABLE>
						</TD>
					</WEBOBJECT>
				</TR>
			</WEBOBJECT>
			<CAPTION ALIGN=TOP><B><FONT SIZE=4>Errors</FONT></B></CAPTION>
		</TABLE>
	</WEBOBJECT></WEBOBJECT>