BEGIN:VCALENDAR
CALSCALE:GREGORIAN
PRODID:ERPublishCalendarPage
X-WR-CALNAME;VALUE=TEXT:<WEBOBJECT NAME=CalendarName></WEBOBJECT>
X-WR-TIMEZONE;VALUE=TEXT:<WEBOBJECT NAME=CalendarTimeZone></WEBOBJECT>
VERSION:2.0
<WEBOBJECT NAME=EventRepetition>BEGIN:VEVENT
SEQUENCE:<WEBOBJECT NAME=EventSequence></WEBOBJECT>
UID:<WEBOBJECT NAME=EventUID></WEBOBJECT>
DTSTAMP:<WEBOBJECT NAME=EventTimestamp></WEBOBJECT>
SUMMARY:<WEBOBJECT NAME=EventSummary></WEBOBJECT>
<WEBOBJECT NAME=EventStatusConditional>STATUS:<WEBOBJECT NAME=EventStatus></WEBOBJECT>
</WEBOBJECT><WEBOBJECT NAME=WholeDayConditional>DTSTART;VALUE=DATE:<WEBOBJECT NAME=EventStartDate></WEBOBJECT>
DTEND;VALUE=DATE:<WEBOBJECT NAME=EventEndDate></WEBOBJECT>
</WEBOBJECT><WEBOBJECT NAME=TimedConditional>DTSTART;TZID=<WEBOBJECT NAME=EventStartTimeZone></WEBOBJECT>:<WEBOBJECT NAME=EventStartTime></WEBOBJECT>
DTEND;TZID=<WEBOBJECT NAME=EventEndTimeZone></WEBOBJECT>:<WEBOBJECT NAME=EventEndTime></WEBOBJECT>
</WEBOBJECT><WEBOBJECT NAME=RecurringConditional>RRULE:FREQ=<WEBOBJECT NAME=RepeatFrequency></WEBOBJECT>;INTERVAL=1;COUNT=<WEBOBJECT NAME=RepeatCount></WEBOBJECT><WEBOBJECT NAME=RepeatDayOfWeekConditional>;BYDAY=<WEBOBJECT NAME=RepeatDayOfWeekString></WEBOBJECT></WEBOBJECT><WEBOBJECT NAME=RepeatDaysOfMonthConditional>;BYMONTHDAY=<WEBOBJECT NAME=RepeatDaysOfMonthString></WEBOBJECT></WEBOBJECT>;BYMONTH=<WEBOBJECT NAME=RepeatMonth></WEBOBJECT>
</WEBOBJECT>END:VEVENT
</WEBOBJECT>END:VCALENDAR
