<html>
  <head>
    <title>Processing... Please Wait ...</title>
    <wo:ERXStyleSheet framework = "$styleSheetFramework" filename = "$styleSheetFilename" />
    <style>
                table.progressBar td.percentageFinished {
                    background-image: url(<webobject name = "FinishedImage" />);
                    background-repeat: repeat-x;
                }

                table.progressBar td.percentageUnfinished {
                    background-image: url(<webobject name = "UnfinishedImage" />);
                    background-repeat: repeat-x;
                }
    </style>
    <script>
      var performNextPageAction = function () {
          window.location='<wo name = "NextPageActionURL" />';
      }
    </script>
  </head>
  <body>
    <div id = "MainContent">
    <div id = "status-panel">
      <wo name = "TaskProgressRefresh">
        <div id = "status-area">
          <!-- We either show the task status, or fallback to user-defined default status, or fallback to global default status message -->
          <wo:if condition = "$future.hasStatus">
            <p class = "status-message"> <wo:str value = "$future.status" /> </p>
          </wo:if>
          <wo:else>
            <p class = "status-message"><wo:str value = "$defaultStatus" /></p>
          </wo:else>
        </div>
        <div id = "progress-area">
          <!-- We show a percentage based progress feedback, or fallback to an ajax busy indicator -->
          <wo:if condition = "$future.hasPercentComplete">
            <table class = "progressBar" width = "100%" cellspacing = "0">
              <tr>
                <webobject name = "Finished">&nbsp;</webobject>
                <webobject name = "Unfinished"></webobject>
              </tr>
            </table>
            <p class = "percent-display"> <wo:str value = "$finishedPercentage" valueWhenEmpty = "0%" /> </p>
          </wo:if>
          <wo:else>
            <!-- Just show an ajax busy indicator -->
            <wo:image framework = "Ajax" filename = "ajax-spinner-large-66.gif" />
          </wo:else>
        </div>
        <div id = "ElapsedTimeArea">
          <p class = "elapsed-time">Elapsed Time: <wo:str value = "$elapsedTime" /></p>
        </div>

        <!-- The content of this next javascript changes when the task is done so that the nextPage action is fired -->
        <script>
        <wo:str value = "$controlScriptContent" />
        </script>
      </wo>
		<wo:if condition = "$future.isStoppable">
		<wo:AjaxUpdateContainer id = "StopControlArea">

        <!-- We want the Stop control outside of the refresh area, otherwise a user click on Stop at the same time as a refresh request might not have any effect. -->
        <wo:if condition = "$wasStoppedByUser">
        	<p class = "stopping-message">Stopping...</p>
        </wo:if>
        <wo:else>
        <wo:AjaxUpdateLink action = "$stopTask" updateContainerID = "StopControlArea">
        	<wo:img framework = "ERExtensions" filename = "button_stop_cancel.png" />
        </wo>
        </wo:else>
		</wo:AjaxUpdateContainer>
        </wo:if>
        </div>
      <wo:if condition = "$application.isDevelopmentMode">
        <wo:if condition = "$isDebugMode">
          <div id = "development-info">
            <h4>Development Info</h4>
            <ul>
              <li>NextPageController: <wo:str value = "$nextPageForResultController.class.simpleName//VALID" /></li>
              <wo:if condition = "$longRunningCallable">
                <li>Callable Task: <wo:str value = "$longRunningCallable.class.simpleName//VALID" /></li>
              </wo:if>
              <wo:if condition = "$longRunningRunnable">
                <li>Runnable Task: <wo:str value = "$longRunningRunnable.class.simpleName//VALID" /></li>
              </wo:if>
            </ul>
          </div>
        </wo:if>
      </wo:if>
    </div>
  </body>
</html>