<webobject name = "ToggleLink"><webobject name = "LabelContent"><webobject name = "ToggleLinkString" /></webobject></webobject>
<webobject name = "AjaxUpdateContainer">
  <webobject name = "Expanded"><webobject name = "Content" /></webobject>
  <webobject name="IsAjaxRequest"><script type="text/javascript">
      AjaxUtils.toggleClassName('<webobject name = "LinkID" />', 'expanded', <webobject name = "ExpandedValue" />);
      <webobject name="HasEscapedLinkString">$('<webobject name = "LinkID" />').update('<webobject name = "EscapedLinkString" />');</webobject>
  </script></webobject>
</webobject>