<ul class="ObjList">
  <webobject name = "ObjectsRepetition">
    <webobject name = "ObjectListItem">
      <webobject name = "HasLeftActionsConditional">
        <div class = "ActionCell LftActionCell">
          <ul class = "ObjActionList LftObjActionList">
            <webobject name = "LeftActions">
              <li><webobject name = "LeftAction" /></li>
            </webobject>
          </ul>
        </div>
      </webobject>
      <webobject name = "SectionRepetition">
      <ul class="ObjAttributeList">
        <webobject name = "AttributeRepetition">
          <webobject name = "IsNotOmitted"><webobject name = "AttColumnCell"><webobject name = "AttributeDisplay" /></webobject></webobject>
        </webobject>
      </ul>
      </webobject>
      <webobject name = "HasRightActionsConditional">
        <div class = "ActionCell RtActionCell">
          <ul class = "ObjActionList RtObjActionList">
            <webobject name = "RightActions">
              <li><webobject name = "RightAction" /></li>
            </webobject>
          </ul>
        </div>
      </webobject>
      <div class="ObjRowClear"></div>
    </webobject>
  </webobject>
</ul>
<p class = "ERMDebugText" style = "font-size:10px;">
  <webobject name = "D2wContextEntityName" />-&gt;<webobject name = "D2wContextParentPageConfiguration" />/<webobject name = "D2wContextPageConfiguration" />
</p>