.dict_word_input {
    font-size: 12px;
}

.dict_strategy_select {
    width: 90px;
    font-size: 12px;
}

.dict_database_select {
    width: 70px;
    font-size: 12px;
}

.dict_match_select {
    margin: 8px;
    width: 150px;
    height: 348px;
}

.dict_define_div {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 0px;
    margin-right: 8px;
    padding: 8px;
    overflow: auto;
    height: 330px;
}