<webobject name="Wrapper">
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <webobject name="Form">
    <table border="0">
      <tr>
        <td valign="TOP" align="RIGHT" width="100" rowspan="2"><webobject name="Image1" />&nbsp;&nbsp;&nbsp;</td>
        <td>
          <b>
            <font color="#ff0707">
              <font size="5">Error</font>
            </font>
          </b>
          <hr />
        </td>
      </tr>
      <tr>
        <td>
          <font size="4">
            <b><webobject name="String1" /></b>
          </font>
          <p />
        </td>
      </tr>
      <webobject name="HasNextPage">
        <tr>
          <td />
          <td align="CENTER">
            <webobject name="Conditional1"><webobject name="ERSingleButton1" /></webobject>
            <webobject name="Conditional4">
              <webobject name="Repetition1"><webobject name="SubmitButton1" />&nbsp;</webobject>
            </webobject>
          </td>
        </tr>
      </webobject>
    </table>
  </webobject>
</webobject>