<webobject name = "PageWrapper">
  <webobject name = "ERDBannerComponent1" />
  <webobject name = "ListNotEmpty">
    <center>
      <table border = "0">
        <tr>
          <td><webobject name = "NavBar" /></td>
          <td>
            <webobject name = "D2wContextHasPrinterFriendlyVersion"><webobject name = "ERPrinterButton" /></webobject>
          </td>
        </tr>
      </table>
      <webobject name = "ERXRepeatingTable">
        <webobject name = "ShowDisplayProperty">
          <b><webobject name = "DisplayNameForProperty" /></b>
        </webobject>
        <webobject name = "NotShowDisplayProperty"><webobject name = "AttributeDisplay" /></webobject>
      </webobject>
      <br />
      <webobject name = "HideReturnOnSelect1">
        <webobject name = "ShowCancel">
          <webobject name = "BackLink"><webobject name = "ReturnButton" /></webobject>
        </webobject>
      </webobject>
    </center>
  </webobject>
  <webobject name = "ListEmpty">
    <br />
    <webobject name = "EmptyMessageComponent" />
    <br />
    <br />
    <webobject name = "HideReturnOnSelect2">
      <webobject name = "ShowCancel2">
        <webobject name = "BackLink2"><webobject name = "ReturnButton2" /></webobject>
      </webobject>
    </webobject>
  </webobject>
</webobject>