<webobject name=Custom1><webobject name=editForm><webobject name=Conditional1>
			<font size=2 face="arial,geneva"><webobject name=attListEd></webobject></font>
		</webobject></webobject><webobject name=editForm2>
		<table cellspacing=1 cellpadding=1 border=0 bgcolor=cccccc>
			<tr>
				<td>
					<table>
						<tr bgcolor=999999>
							<td>Edit&nbsp;MasterCriteria&nbsp;<webobject name=addMC></webobject></td>
						</tr>
						<webobject name=crits>
							<tr bgcolor=999999>
								<td><webobject name=deleteMC></webobject>&nbsp;<webobject name=labelMC></webobject></td>
							</tr>
							<tr>
								<td><webobject name=mcEditor></webobject></td>
							</tr>
						</webobject>
					</table>
				</td>
			</tr>
			<tr>
				<td><webobject name=sub2></webobject></td>
			</tr>
		</table>
	</webobject></webobject>