<wo:ERIUIContainer title = "Settings">
	<wo:ERXWOTemplate templateName = "toolbar">
		<wo:ERIUIBackButton action = "$something">Back</wo:ERIUIBackButton>
		<wo:ERIUIButton pageName = "Prefs">Prefs</wo:ERIUIButton>
	</wo:ERXWOTemplate>
	
	<wo:ERXWOTemplate templateName = "content">
		<ul>
			<li><wo:ERIUINextLink action = "$something">Main LI Link 1</wo:ERIUINextLink></li>
			<li><wo:ERIUINextLink action = "$something">Main LI Link 2</wo:ERIUINextLink></li>
			<li><wo:ERIUINextLink action = "$something">Main LI Link 3</wo:ERIUINextLink></li>
			<li><wo:ERIUINextLink action = "$something">Main LI Link 4</wo:ERIUINextLink></li>
			<li><wo:ERIUINextLink action = "$something">Main LI Link 5</wo:ERIUINextLink></li>
			<li><wo:ERIUINextLink action = "$something">Main LI Link 6</wo:ERIUINextLink></li>
			<li><wo:ERIUINextLink action = "$something">Main LI Link 7</wo:ERIUINextLink></li>
			<li><wo:ERIUIPreviousLink action = "$something">Slide Left Link</wo:ERIUIPreviousLink></li>
		</ul>
	</wo:ERXWOTemplate>
</wo:ERIUIContainer>