{
	"NON_NULLABLE_COLUMNS" = "T";
	"DRIVER_NAME" = "H2 JDBC Driver";
	"DBMS_NAME" = "H2";
	"typeInfo" = {
		"BINARY" = {
			"defaultJDBCType" = (
				"BINARY"
			);
			"createParams" = "1";
			"maxScale" = "0";
			"minScale" = "0";
			"isNullable" = "T";
			"isSearchable" = "T";
			"precision" = "2147483647";
		};
		"VARBINARY" = {
			"defaultJDBCType" = (
				"VARBINARY"
			);
			"createParams" = "1";
			"maxScale" = "0";
			"minScale" = "0";
			"isNullable" = "T";
			"isSearchable" = "T";
			"precision" = "2147483647";
		};
		"SMALLINT" = {
			"defaultJDBCType" = (
				"SMALLINT"
			);
			"createParams" = "0";
			"maxScale" = "0";
			"minScale" = "0";
			"isNullable" = "T";
			"isSearchable" = "T";
			"precision" = "5";
		};
		"LONGVARBINARY" = {
			"defaultJDBCType" = (
				"LONG VARBINARY"
			);
			"createParams" = "1";
			"maxScale" = "0";
			"minScale" = "0";
			"isNullable" = "T";
			"isSearchable" = "T";
			"precision" = "2147483647";
		};
		"TIME" = {
			"defaultJDBCType" = (
				"TIME"
			);
			"createParams" = "0";
			"maxScale" = "0";
			"minScale" = "0";
			"isNullable" = "T";
			"isSearchable" = "T";
			"precision" = "6";
		};
		"BOOLEAN" = {
			"defaultJDBCType" = (
				"16"
			);
			"createParams" = "0";
			"maxScale" = "0";
			"minScale" = "0";
			"isNullable" = "T";
			"isSearchable" = "T";
			"precision" = "1";
		};
		"TINYINT" = {
			"defaultJDBCType" = (
				"TINYINT"
			);
			"createParams" = "0";
			"maxScale" = "0";
			"minScale" = "0";
			"isNullable" = "T";
			"isSearchable" = "T";
			"precision" = "3";
		};
		"DOUBLE" = {
			"defaultJDBCType" = (
				"DOUBLE"
			);
			"createParams" = "0";
			"maxScale" = "0";
			"minScale" = "0";
			"isNullable" = "T";
			"isSearchable" = "T";
			"precision" = "17";
		};
		"CHAR" = {
			"defaultJDBCType" = (
				"CHAR"
			);
			"createParams" = "1";
			"maxScale" = "0";
			"minScale" = "0";
			"isNullable" = "T";
			"isSearchable" = "T";
			"precision" = "2147483647";
		};
		"INTEGER" = {
			"defaultJDBCType" = (
				"INTEGER"
			);
			"createParams" = "0";
			"maxScale" = "0";
			"minScale" = "0";
			"isNullable" = "T";
			"isSearchable" = "T";
			"precision" = "10";
		};
		"VARCHAR" = {
			"defaultJDBCType" = (
				"VARCHAR"
			);
			"createParams" = "1";
			"maxScale" = "0";
			"minScale" = "0";
			"isNullable" = "T";
			"isSearchable" = "T";
			"precision" = "2147483647";
		};
		"REAL" = {
			"defaultJDBCType" = (
				"REAL"
			);
			"createParams" = "0";
			"maxScale" = "0";
			"minScale" = "0";
			"isNullable" = "T";
			"isSearchable" = "T";
			"precision" = "7";
		};
		"RESULT_SET" = {
			"defaultJDBCType" = (
				"-10"
			);
			"createParams" = "0";
			"maxScale" = "0";
			"minScale" = "0";
			"isNullable" = "T";
			"isSearchable" = "T";
			"precision" = "0";
		};
		"LONGVARCHAR" = {
			"defaultJDBCType" = (
				"LONG VARCHAR"
			);
			"createParams" = "1";
			"maxScale" = "0";
			"minScale" = "0";
			"isNullable" = "T";
			"isSearchable" = "T";
			"precision" = "2147483647";
		};
		"VARCHAR_IGNORECASE" = {
			"defaultJDBCType" = (
				"VARCHAR"
			);
			"createParams" = "1";
			"maxScale" = "0";
			"minScale" = "0";
			"isNullable" = "T";
			"isSearchable" = "T";
			"precision" = "2147483647";
		};
		"BLOB" = {
			"defaultJDBCType" = (
				"BLOB"
			);
			"createParams" = "1";
			"maxScale" = "0";
			"minScale" = "0";
			"isNullable" = "T";
			"isSearchable" = "T";
			"precision" = "2147483647";
		};
		"NUMERIC" = {
			"defaultJDBCType" = (
				"NUMERIC"
			);
			"createParams" = "2";
			"maxScale" = "0";
			"minScale" = "0";
			"isNullable" = "T";
			"isSearchable" = "T";
			"precision" = "2147483647";
		};
		"DATE" = {
			"defaultJDBCType" = (
				"DATE"
			);
			"createParams" = "0";
			"maxScale" = "0";
			"minScale" = "0";
			"isNullable" = "T";
			"isSearchable" = "T";
			"precision" = "8";
		};
		"BIGINT" = {
			"defaultJDBCType" = (
				"BIGINT"
			);
			"createParams" = "0";
			"maxScale" = "0";
			"minScale" = "0";
			"isNullable" = "T";
			"isSearchable" = "T";
			"precision" = "19";
		};
		"OTHER" = {
			"defaultJDBCType" = (
				"OTHER"
			);
			"createParams" = "1";
			"maxScale" = "0";
			"minScale" = "0";
			"isNullable" = "T";
			"isSearchable" = "T";
			"precision" = "2147483647";
		};
		"DECIMAL" = {
			"defaultJDBCType" = (
				"DECIMAL"
			);
			"createParams" = "2";
			"maxScale" = "0";
			"minScale" = "0";
			"isNullable" = "T";
			"isSearchable" = "T";
			"precision" = "2147483647";
		};
		"CLOB" = {
			"defaultJDBCType" = (
				"CLOB"
			);
			"createParams" = "1";
			"maxScale" = "0";
			"minScale" = "0";
			"isNullable" = "T";
			"isSearchable" = "T";
			"precision" = "2147483647";
		};
		"TIMESTAMP" = {
			"defaultJDBCType" = (
				"TIMESTAMP"
			);
			"createParams" = "0";
			"maxScale" = "10";
			"minScale" = "0";
			"isNullable" = "T";
			"isSearchable" = "T";
			"precision" = "23";
		};
		"ARRAY" = {
			"defaultJDBCType" = (
				"2003"
			);
			"createParams" = "0";
			"maxScale" = "0";
			"minScale" = "0";
			"isNullable" = "T";
			"isSearchable" = "T";
			"precision" = "0";
		};
		"UUID" = {
			"defaultJDBCType" = (
				"BINARY"
			);
			"createParams" = "1";
			"maxScale" = "0";
			"minScale" = "0";
			"isNullable" = "T";
			"isSearchable" = "T";
			"precision" = "2147483647";
		};
		"FLOAT" = {
			"defaultJDBCType" = (
				"FLOAT"
			);
			"createParams" = "0";
			"maxScale" = "0";
			"minScale" = "0";
			"isNullable" = "T";
			"isSearchable" = "T";
			"precision" = "17";
		};
		"IDENTITY" = {
			"defaultJDBCType" = (
				"BIGINT"
			);
			"createParams" = "0";
			"maxScale" = "0";
			"minScale" = "0";
			"isNullable" = "T";
			"isSearchable" = "T";
			"precision" = "19";
		};
		"ENUM" = {
			"defaultJDBCType" = (
				"OTHER"
			);
			"createParams" = "1";
			"maxScale" = "0";
			"minScale" = "0";
			"isNullable" = "T";
			"isSearchable" = "T";
			"precision" = "2147483647";
		};
		"TIMESTAMP WITH TIME ZONE" = {
			"defaultJDBCType" = (
				"2014"
			);
			"createParams" = "0";
			"maxScale" = "10";
			"minScale" = "0";
			"isNullable" = "T";
			"isSearchable" = "T";
			"precision" = "30";
		};
		"GEOMETRY" = {
			"defaultJDBCType" = (
				"OTHER"
			);
			"createParams" = "1";
			"maxScale" = "0";
			"minScale" = "0";
			"isNullable" = "T";
			"isSearchable" = "T";
			"precision" = "2147483647";
		};
		"SERIAL" = {
			"defaultJDBCType" = (
				"INTEGER"
			);
			"createParams" = "0";
			"maxScale" = "0";
			"minScale" = "0";
			"isNullable" = "T";
			"isSearchable" = "T";
			"precision" = "10";
		};
	};
	"IDENTIFIER_QUOTE_STRING" = "\"";
	"ANSI92_CONFORMANCE" = "ANSI92EntryLevel";
	"DRIVER_VER" = "1.4.195 (2017-04-23)";
	"STRING_FUNCTIONS" = "ASCII,BIT_LENGTH,LENGTH,OCTET_LENGTH,CHAR,CONCAT,CONCAT_WS,DIFFERENCE,HEXTORAW,RAWTOHEX,INSTR,INSERT,LOWER,UPPER,LEFT,RIGHT,LOCATE,POSITION,LPAD,RPAD,LTRIM,RTRIM,TRIM,REGEXP_REPLACE,REGEXP_LIKE,REPEAT,REPLACE,SOUNDEX,SPACE,STRINGDECODE,STRINGENCODE,STRINGTOUTF8,SUBSTRING,UTF8TOSTRING,XMLATTR,XMLNODE,XMLCOMMENT,XMLCDATA,XMLSTARTDOC,XMLTEXT,TO_CHAR,TRANSLATE";
}