<WEBOBJECT NAME=PageWrapper>This is ugly the ugly list template.<BR> <WEBOBJECT NAME=NonNullConditional1><WEBOBJECT NAME=SwitchComponent1></WEBOBJECT></WEBOBJECT><WEBOBJECT NAME=ListNotEmpty>
      <CENTER>
         <TABLE BORDER=0><TR><TD><WEBOBJECT NAME=NavBar1></WEBOBJECT></TD><TD></TD></TR></TABLE><WEBOBJECT NAME=ListTable><WEBOBJECT NAME=ListTableHeaderRow>
               <TH></TH>
               <WEBOBJECT NAME=ColumnLabelRepetition>
                  <TH NOWRAP VALIGN=bottom>
                     <TABLE>
                        <TR>
                           <TH><B><I><U><TT><WEBOBJECT NAME=PropertyName></WEBOBJECT></TT></U></I></B><BR><WEBOBJECT NAME=IsPropertySortable><WEBOBJECT NAME=AttributeSorter2></WEBOBJECT></WEBOBJECT></TH>
                           <TH></TH>
                        </TR>
                     </TABLE>
                  </TH>
               </WEBOBJECT>
               <TH></TH>
            </WEBOBJECT>
            <WEBOBJECT NAME=EntityRepetition><WEBOBJECT NAME=ListTableRow>
                  <TD>
                     <TABLE>
                        <TR>
                           <TD>
                              <WEBOBJECT NAME=IsSelecting>
                                 <WEBOBJECT NAME=SelectEO><WEBOBJECT NAME=SelectImage></WEBOBJECT></WEBOBJECT>
                              </WEBOBJECT>
                              <WEBOBJECT NAME=IsListing>
                                 <WEBOBJECT NAME=IsEntityWritable>
                                    <WEBOBJECT NAME=EditEO><WEBOBJECT NAME=EditImage></WEBOBJECT></WEBOBJECT>
                                 </WEBOBJECT>
                                 <WEBOBJECT NAME=IsEntityNotWritable>
                                    <WEBOBJECT NAME=InspectEO><WEBOBJECT NAME=InspectImage></WEBOBJECT></WEBOBJECT>
                                 </WEBOBJECT>
                              </WEBOBJECT>
                           </TD>
                           <TD> </TD>
                        </TR>
                     </TABLE>
                  </TD>
                  <WEBOBJECT NAME=AttributeRepetition>
                     <WEBOBJECT NAME=AttributeCell>
                        <WEBOBJECT NAME=AttributeDisplay></WEBOBJECT>
                        </WEBOBJECT>
                  </WEBOBJECT>
                  <TD>
                     <TABLE>
                        <TR>
                           <TD><WEBOBJECT NAME=IsListing2><WEBOBJECT NAME=IsEntityWritable2><WEBOBJECT NAME=DeleteEO2><WEBOBJECT NAME=DeleteImage2></WEBOBJECT></WEBOBJECT></WEBOBJECT></WEBOBJECT></TD>
                        </TR>
                     </TABLE>
                  </TD>
               </WEBOBJECT>
               <TR HEIGHT=2>
                  <TD COLSPAN=50 BGCOLOR="#ffffff"><IMG BORDER=0 HEIGHT=2 WIDTH=1></TD>
               </TR>
            </WEBOBJECT></WEBOBJECT><BR>
         <WEBOBJECT NAME=HideReturnOnSelect1>
            <WEBOBJECT NAME=ShowCancel><WEBOBJECT NAME=BackLink><WEBOBJECT NAME=ReturnButton></WEBOBJECT></WEBOBJECT></WEBOBJECT>
         </WEBOBJECT>
      </CENTER>
   </WEBOBJECT><WEBOBJECT NAME=ListEmpty><WEBOBJECT NAME=EmptyMessageComponent></WEBOBJECT><BR>
      <BR>
      <WEBOBJECT NAME=HideReturnOnSelect2>
         <WEBOBJECT NAME=ShowCancel2><WEBOBJECT NAME=BackLink2><WEBOBJECT NAME=ReturnButton2></WEBOBJECT></WEBOBJECT></WEBOBJECT>
      </WEBOBJECT>
   </WEBOBJECT>
</WEBOBJECT>