<wo:UberHeaderFooter title="Attachment">
  <wo:UberPanel title="Company Logos">
  	<p>Select a Company to change its logo.</p>
    <ul>
      <wo:WORepetition list="$companies.displayedObjects" item="$company">
        <li><wo:ERAttachmentViewer attachment="$company.logo" class="logo" width="50"/> <wo:WOHyperlink action="$selectCompany"><wo:str value="$company.name" /></wo:WOHyperlink></li>
      </wo:WORepetition>
    </ul>
    <wo:ERXFlickrBatchNavigation displayGroup="$companies" />
    <p>
    	<wo:WOHyperlink action="$newCompany">new company</wo:WOHyperlink>
    </p>
  </wo:UberPanel>

	<wo:if condition="$selectedCompany">
	  <wo:UberPanel title="$selectedCompany.name">
	  	<wo:form enctype="multipart/form-data">
	  		<p>
		  		<wo:WOTextField value="$selectedCompany.name"/>
	  		<p/>
	  		<p>
		  		<wo:ERAttachmentViewer attachment="$selectedCompany.logo" class="logo"/>
		    	<wo:WOSubmitButton action="$clearAttachment" value="clear logo"/>
		    	<wo:ERAttachmentUpload editingContext="$selectedCompany.editingContext" attachment="$selectedCompany.logo" width="50" height="50" />
	    	</p>
	    	
	    	<wo:WOSubmitButton action="$save" value="save"/>
    	</wo:form>
	  </wo:UberPanel>
	</wo:if>
</wo:UberHeaderFooter>