<div class="tab_panel">
<ul class="tab">
  <webObject name = "TabRepetition">
  	<webObject name = "SelectedTabConditional"><li class="selected"><span><webObject name = "TabName" /></span></li></webObject>
    <webObject name = "NotSelectedTabConditional"><li><webObject name = "HasSubmitAction"><span><webObject name = "TabName2" /></span></webObject><webObject name = "HasNoSubmitAction"><webObject name = "TabLink"><span><webObject name = "TabName3" /></span></webObject></webObject></li></webObject>
  </webObject>
</ul>
<div class="tab content"><webObject name = "Content" /></div>
</div>