<webobject name = "IsApplicationDevelopmentMode">
	<span id = "_wolToolBarContainer">
		<span id = "_wolHandle" onclick = "WOLipsToolbar.toggle()">-</span>
		<webobject name = "ToolBar">
			&#160;&#160;&#160;
			<span id = "_wolPageComponent" class = "_wolImportant"><webobject name = "WOLComponentLink"><webobject name="SimpleName"/></webobject></span>
			<span class = "_wolUnimportant">&#160;|&#160;</span>
			<webobject name = "WOLClickToOpen"/>
			<webobject name = "ComponentContent"/>
		</webobject>
	</span>
	<script>WOLipsToolBar.initialize()</script>
</webobject>