<wo:UberHeaderFooter title="Home">
  <wo:UberPanel title="Features">
  	<p>Each page in &uuml;ber shows various features available in Project Wonder. This app is not designed to impress you, but rather to provide a feature showcase for automated testing.</p>
    <ul>
      <li><wo:WOHyperlink actionClass="PageAction" directActionName="Ajax">Ajax</wo:WOHyperlink></li>
      <li><wo:WOHyperlink actionClass="PageAction" directActionName="AppserverTools">Appserver Tools</wo:WOHyperlink></li>
      <li><wo:WOHyperlink actionClass="PageAction" directActionName="Attachment">Attachment</wo:WOHyperlink></li>
      <li><wo:WOHyperlink actionClass="PageAction" directActionName="CharacterEncoding">Character Encoding</wo:WOHyperlink></li>
      <li><wo:WOHyperlink actionClass="PageAction" directActionName="ComponentTools">Component Tools</wo:WOHyperlink></li>
      <li><wo:WOHyperlink actionClass="PageAction" directActionName="EOF">EOF</wo:WOHyperlink></li>
      <li><wo:WOHyperlink actionClass="PageAction" directActionName="GoogleCharts">Google Charts</wo:WOHyperlink></li>
      <li><wo:WOHyperlink actionClass="PageAction" directActionName="OtherTools">Other Tools</wo:WOHyperlink></li>
      <li><wo:WOHyperlink actionClass="PageAction" directActionName="Resources">Resources</wo:WOHyperlink></li>
      <li><wo:WOHyperlink actionClass="PageAction" directActionName="REST">REST</wo:WOHyperlink></li>
      <li><wo:WOHyperlink actionClass="PageAction" directActionName="Taggable">Taggable</wo:WOHyperlink></li>
      <li><wo:WOHyperlink actionClass="PageAction" directActionName="WOOGNL">WOOGNL</wo:WOHyperlink></li>
    </ul>
  </wo:UberPanel>

  <wo:UberPanel title="Behind-the-Scenes Features">
  	<p>The following features are enabled behind-the-scenes.</p>
  	<ul>
  		<li>Automatic Inverse Relationships</li>
  		<li>EC Safe Locking</li>
  		<li>ERPrototypes</li>
  		<li>Migrations</li>
  		<li>Response compression</li>
  	</ul>
  </wo:UberPanel>
</wo:UberHeaderFooter>