<WEBOBJECT NAME=EntitiesForm>
   <TABLE BORDER=0 CELLPADDING=4 CELLSPACING=0>
      <WEBOBJECT NAME=HasValidSession>
         <TR VALIGN=middle ALIGN=center>
            <TD VALIGN=middle ALIGN=left>
               <FONT SIZE="-1" COLOR="#ffffff"><B>Entities:</B></FONT><BR>
               <WEBOBJECT NAME=EntitiesPopup></WEBOBJECT>
            </TD>
         </TR>
         <TR VALIGN=middle ALIGN=center>
            <TD VALIGN=middle ALIGN=center>
               <WEBOBJECT NAME=FindButton></WEBOBJECT>
            </TD>
         </TR>
         <TR VALIGN=middle ALIGN=center>
            <TD VALIGN=middle ALIGN=center>
               <WEBOBJECT NAME=NewButton></WEBOBJECT>
            </TD>
         </TR>
         <TR>
            <TD>
               <HR WIDTH=50>
            </TD>
         </TR>
         <TR VALIGN=middle ALIGN=center>
            <TD ALIGN=center VALIGN=middle>
               <WEBOBJECT NAME=HomeLink><WEBOBJECT NAME=HomeButton></WEBOBJECT></WEBOBJECT></TD>
         </TR>
         <TR>
            <TD ALIGN=center VALIGN=middle><WEBOBJECT NAME=LoginLink><WEBOBJECT NAME=LoginButton></WEBOBJECT></WEBOBJECT></TD>
         </TR>
         <WEBOBJECT NAME=LAEnabledConditional>
            <TR>
               <TD ALIGN=center VALIGN=middle><WEBOBJECT NAME=CustomizeLink><WEBOBJECT NAME=CustomizeButton></WEBOBJECT></WEBOBJECT></TD>
            </TR>
         </WEBOBJECT>
         <TR>
            <TD> &nbsp; </TD>
         </TR>
         <TR>
            <TD> <FONT COLOR="#ffffff">&nbsp;<WEBOBJECT NAME=Hyperlink1>Edit Tab New Movie</WEBOBJECT><BR><BR><WEBOBJECT NAME=Hyperlink2>Wizard Tab New Movie</WEBOBJECT></FONT> </TD>
         </TR>
         <TR>
         <TD></TD></TR>
      </WEBOBJECT>
   </TABLE>
</WEBOBJECT>
<WEBOBJECT NAME=RemoteControl></WEBOBJECT>