{
    attributes = (
        {columnName = value; name = id; valueClassName = NSNumber; valueType = c; }, 
        {columnName = value; name = value; valueClassName = NSCalendarDate; }
    ); 
    attributesUsedForLocking = (value, id); 
    className = EOGenericRecord; 
    classProperties = (value); 
    externalName = NSTimestamp; 
    fetchSpecificationDictionary = {}; 
    name = NSTimestamp; 
    primaryKeyAttributes = (id); 
}
