{
    attributes = (
        {columnName = value; name = id; valueClassName = NSNumber; valueType = c; }, 
        {columnName = value; name = value; valueClassName = NSString; width = 200; }
    ); 
    attributesUsedForLocking = (value, id); 
    classProperties = (value); 
    externalName = String; 
    fetchSpecificationDictionary = {}; 
    name = String; 
    primaryKeyAttributes = (id); 
}
