<webobject name = "AjaxExampleComponent">
	<style>
	ul#exampleTree img.nodeControl {
		border: none;
		vertical-align: top;
	}

	ul#exampleTree ul {
		margin: 0px;
		padding: 0px 0px 0px 19px;
	}

	ul#exampleTree li {
		list-style: none;
	}

	ul#exampleTree li a {
		text-decoration: none;
		font-family: "Helvetica";
	}
	
	ul#exampleTree .nodeLabel {
		margin-left: 19px;
		margin-top: -16px;
		margin-bottom: 3px;
	}
	</style>
	
	Below is an example of the AjaxTree component.
	
	<webobject name = "AjaxTree"><div class = "nodeLabel">
		<webobject name = "TreeNodeAction"/>
		<br>
		two-line label
		</div></webobject>
	
	Below the tree.
	
	<webobject name = "Busy"></webobject>
</webobject>