{
    attributes = (
        {
            columnName = info; 
            externalType = varchar; 
            name = info; 
            valueClassName = NSString; 
            width = 64; 
        }, 
        {
            columnName = pk; 
            externalType = INT; 
            name = pk; 
            valueClassName = NSNumber; 
            valueType = i; 
        }
    ); 
    attributesUsedForLocking = (info, pk); 
    className = "com.webobjects.eocontrol.EOGenericRecord"; 
    classProperties = (info, results); 
    externalName = environments; 
    fetchSpecificationDictionary = {}; 
    name = Environment; 
    primaryKeyAttributes = (pk); 
    relationships = (
        {
            destination = EnvJoin; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = envPk; sourceAttribute = pk; }); 
            name = envJoins; 
        }, 
        {definition = "envJoins.result"; name = results; }
    ); 
}
