<webobject name=HasPropertyName>
	<table cellspacing=0 border=0 cellpadding=0>
		<tr>
			<td align=RIGHT class=requiredMarker width=10 valign=TOP><webobject name=DisplayMandatory>*</webobject></td>
			<td nowrap align=LEFT valign=middle class=PropertyName><webobject name=GenericContainer2><webobject name=PropertyName></webobject></webobject></td>
		</tr>
	</table>
</webobject><WEBOBJECT NAME=DebuggingEnabled><A ONMOUSEOUT="this.innerHTML=this.innerHTML.replace('visibility: visible;','visibility: hidden;');" ONMOUSEOVER="this.innerHTML=this.innerHTML.replace('visibility: hidden;','visibility: visible;');">?<SPAN ONCLICK="this.style.visibility='hidden'; return false;" STYLE="position:absolute;visibility: hidden;"><TABLE BORDER=1 ONCLICK="this.style.visibility='hidden'; return false;" BGCOLOR=white><WEBOBJECT NAME=Repetition1><TR><TD><B><WEBOBJECT NAME=String1></WEBOBJECT></B></TD><TD><WEBOBJECT NAME=String2></WEBOBJECT></TD></TR></WEBOBJECT></TABLE></A></WEBOBJECT>