<webobject name = "OptionalForm">
  <webobject name = "HasNoDirectAction">
    <webobject name = "UseSubmitButton">
      <webobject name = "ButtonAsAction"></webobject>
    </webobject>
    <webobject name = "DontUseSubmitButton">
      <webobject name = "UseButton"><webobject name = "ButtonAsButton"><webobject name = "Value"></webobject></webobject></webobject>
      <webobject name = "DontUseButton"><webobject name = "ButtonAsInput"></webobject></webobject>
    </webobject>
  </webobject>
  <webobject name = "HasDirectAction">
    <webobject name = "UseSubmitButton">
      <webobject name = "ButtonAsDirectAction"></webobject>
    </webobject>
    <webobject name = "DontUseSubmitButton">
      <webobject name = "UseButton"><webobject name = "ButtonAsButton"><webobject name = "Value"></webobject></webobject></webobject>
      <webobject name = "DontUseButton"><webobject name = "ButtonAsInput"></webobject></webobject>
    </webobject>
  </webobject>
</webobject>