<HTML>
   <HEAD>
      <TITLE>Direct to Web</TITLE>
   </HEAD>
   <WEBOBJECT NAME=BodyContainer>
      <WEBOBJECT NAME=LoginForm>
         <CENTER>
            <BR>
            <BR>
            <FONT SIZE=7><B>Bug Tracker</B></FONT><P>(<webObject name=DbName></webObject>)</P><BR>
            <TABLE BORDER=0 CELLPADDING=4 CELLSPACING=2>
               <TR VALIGN=middle>
                  <TD ALIGN=CENTER><WEBOBJECT NAME=Conditional1><TABLE BORDER=1 BGCOLOR=#ff5a6a><TR><TD><FONT COLOR=#000000><B><WEBOBJECT NAME=String1></WEBOBJECT></B></FONT></TD></TR></TABLE></WEBOBJECT></TD>
               </TR>
               <TR>
                  <TD>
                     <TABLE BORDER=0 CELLPADDING=2 CELLSPACING=0>
                        <TR>
                           <TH ALIGN=right> Username: </TH>
                           <TD ALIGN=right>
                              <WEBOBJECT NAME=UsernameField></WEBOBJECT>
                           </TD>
                        </TR>
                        <TR>
                           <TH ALIGN=right> Password: </TH>
                           <TD ALIGN=right>
                              <WEBOBJECT NAME=PasswordField></WEBOBJECT>
                           </TD>
                        </TR>
                        <TR><TD><B>Remember Password:</B></TD><TD><WEBOBJECT NAME=CheckBox1></WEBOBJECT></TD></TR><TR>
                           <TD COLSPAN=2 ALIGN=right> <BR>
                              <WEBOBJECT NAME=LoginButton></WEBOBJECT>
                           </TD>
                        </TR>
                     </TABLE>
                  </TD>
               </TR>
            </TABLE>
                 </CENTER>
      </WEBOBJECT>
   </WEBOBJECT>
</HTML>