
# This file defines the basic configuration for building the adaptors.
# It defines the architecture (OS), which adaptor(s) to build, and other
# misc. configuration info. that is needed by other project makefiles.

# Set the platform you are building on
# MACOS =

# Define the OS.
ifeq "" "${OS}"
OS = MACOS
endif

# DEBUG_FLAG = -g

# Based on the OS, determine which adaptor(s) we build, and other settings.

# MacOS X Server
ifeq "NEXTSTEP" "${OS}"
ADAPTORS = CGI Apache
APXS = /usr/sbin/apxs
endif

# MacOS X
ifeq "MACOS" "$(OS)"
ADAPTORS = CGI Apache
# Default path for apxs on version 10.0.
APXS = /usr/sbin/apxs
endif

# Windows
ifeq "WINDOWS" "${OS}"
CC = gcc
EXESUFFIX = .exe
ADAPTORS = CGI IIS
endif

ifeq "SOLARIS" "$(OS)"
ADAPTORS = CGI NSAPI Apache
# Default path for apxs on Solaris 8.
APXS = /usr/apache/bin/apxs
endif

ifeq "HPUX" "$(OS)"
ADAPTORS = CGI NSAPI
endif

# If you are building NSAPI uncomment this and specify where Netscape is installed.
# This is typically /opt/netscape/suitespot
# NS_ROOT = 

# default compiler is cc
ifeq "${CC}" ""
CC = cc
endif
