<WEBOBJECT NAME=PageWrapper>
	<WEBOBJECT NAME=Repetition1>
		<WEBOBJECT NAME=ListTable>
			<TR>
				<WEBOBJECT NAME=ColumnLabelRepetition>
					<WEBOBJECT NAME=AttributeLabelCell>
						<WEBOBJECT NAME=PropertyNameComponent></WEBOBJECT>
					</WEBOBJECT>
				</WEBOBJECT>
			</TR>
			<WEBOBJECT NAME=EntityRepetition>
				<TR>
					<WEBOBJECT NAME=AttributeRepetition>
						<WEBOBJECT NAME=AttributeCell>
							<WEBOBJECT NAME=AttributeDisplay></WEBOBJECT>
						</WEBOBJECT>
					</WEBOBJECT>
				</TR>
			</WEBOBJECT>
		</WEBOBJECT>
	</WEBOBJECT>
</WEBOBJECT>