{
    attributes = (
        {columnName = ID; name = id; prototypeName = id; }, 
        {columnName = "KEY_"; name = key; prototypeName = varchar100; }, 
        {
            allowsNull = Y; 
            columnName = "VALUE_"; 
            name = value; 
            prototypeName = varchar1000; 
        }
    ); 
    attributesUsedForLocking = (id, key, value); 
    className = "er.corebusinesslogic.ERCStatic"; 
    classProperties = (key, value); 
    externalName = ERCSTATIC; 
    fetchSpecificationDictionary = {}; 
    name = ERCStatic; 
    primaryKeyAttributes = (id); 
    userInfo = {modificationDate = "2002-06-04 14:00:54 +0200"; }; 
}
