{
    attributes = (
        {
            columnName = duration; 
            name = duration; 
            prototypeName = longNumber; 
            userInfo = {
                "_EntityModeler" = {documentation = "The planned task duration in milliseconds."; }; 
            }; 
        }, 
        {
            allowsNull = Y; 
            columnName = endnumber; 
            name = endNumber; 
            prototypeName = longNumber; 
            userInfo = {
                "_EntityModeler" = {
                    documentation = "The last number in the sequence of numbers that we looked for prime numbers."; 
                }; 
            }; 
        }, 
        {
            allowsNull = Y; 
            columnName = endtime; 
            name = endTime; 
            prototypeName = dateTime; 
            userInfo = {"_EntityModeler" = {documentation = "The time we finished the task."; }; }; 
        }, 
        {allowsNull = N; name = id; prototypeName = id; }, 
        {
            columnName = startnumber; 
            name = startNumber; 
            prototypeName = longNumber; 
            userInfo = {
                "_EntityModeler" = {
                    documentation = "The first number in the sequence of numbers that we looked for prime numbers."; 
                }; 
            }; 
        }, 
        {
            allowsNull = Y; 
            columnName = starttime; 
            name = startTime; 
            prototypeName = dateTime; 
            userInfo = {"_EntityModeler" = {documentation = "The time we started the task."; }; }; 
        }, 
        {
            columnName = workflowstate; 
            name = workflowState; 
            prototypeName = varchar255; 
        }
    ); 
    attributesUsedForLocking = (id, workflowState); 
    className = "wowodc.eof.TaskInfo"; 
    classProperties = (duration, endNumber, endTime, startNumber, startTime, workflowState); 
    externalName = taskinfo; 
    fetchSpecificationDictionary = {}; 
    name = TaskInfo; 
    primaryKeyAttributes = (id); 
}
