<webobject name = "BusyImageConditional">
	<webobject name = "BusyDiv">
		<table width = "100%" height = "100%"><tr><td align="center"><webobject name = "BusyImage"></webobject><br/></td></tr></table>
	</webobject>
</webobject>
<script type="text/javascript">
Ajax.Responders.register({
   onCreate: function(request, transport) {
	   <webobject name = "HasBusyClass">
	     $(request.container.success).addClassName('<webobject name = "BusyClass"></webobject>');
	   </webobject>
     if ($('<webobject name = "DivID"></webobject>')) {
       Effect.Appear('<webobject name = "DivID"></webobject>', {duration:0.0, queue:'front'});
     }
   },
   onComplete: function(request, transport) {
	   <webobject name = "HasBusyClass">
	     $(request.container.success).removeClassName('<webobject name = "BusyClass"></webobject>');
	   </webobject>
     if ($('<webobject name = "DivID"></webobject>')) {
       Effect.Fade('<webobject name = "DivID"></webobject>', {duration:0.5, queue:'end'});
     }
   }
});
</script>
