<webobject name = "ProgressUpdateContainer">
	<webobject name = "FireStartedJavascriptEventsConditional">
		<script>
		<webobject name = "StartedFunction"/>
		</script>
	</webobject>
	<webobject name = "ProgressBarVisible">
		<wo:genericContainer class = "$progressBarContainerClass" elementName = "div">
			<wo:genericContainer class = "bar" elementName = "div" style = "$percentage"></wo:genericContainer>
		</wo:genericContainer>
		<wo:genericContainer class = "progressSummary" elementName = "div">
			<webobject name = "ProcedureStartedConditional">
				<webobject name = "ProgressNotStartedConditional"><webobject name = "StartingText"/></webobject>
				<webobject name = "CanceledConditional"><webobject name = "CancelingText"/></webobject>
			</webobject>
			<webobject name = "ProgressStartedConditional">
				<webobject name = "NotCanceledConditional">
					<webobject name = "Value" /> <webobject name="ProgressOfText"/> <webobject name = "Maximum" /><webobject name = "HasStatusConditional">, <webobject name = "Status"/></webobject>
					<webobject name = "AllowCancelConditional">
						( <webobject name = "CancelAction"><webobject name = "CancelText"/></webobject> )
					</webobject>
				</webobject>
			</webobject>
		</wo:genericContainer>
	</webobject>
	<webobject name = "ProcedureStartedConditional">
		<webobject name = "DoneConditional">
			<webobject name = "FireFinishedJavascriptEventsConditional">
				<script>
					<webobject name = "FinishedFunction"/>
					<webobject name = "CanceledConditional"><webobject name = "CanceledFunction"/></webobject>
					<webobject name = "FailedConditional"><webobject name = "FailedFunction"/></webobject>
					<webobject name = "SucceededConditional"><webobject name = "SucceededFunction"/></webobject>
					<webobject name = "ID"/>Update();
				</script>
			</webobject>
		</webobject>
		<webobject name = "NotDoneConditional">
			<wo:genericContainer elementName = "script">
				setTimeout("<webobject name = "ID"/>Update()", <webobject name = "RefreshTime"/>);
			</wo:genericContainer>
		</webobject>
	</webobject>
	<webobject name = "Contents"/>
</webobject>