<webobject name = "HasKeys">
  <webobject name = "IsSelfContained"><?xml version="1.0" encoding="UTF-8"?></webobject>
  <webobject name = "SVG">
    <webobject name = "PieGroup">
      <webobject name = "KeyRepetition">
        <webobject name = "SliceGroup">
          <webobject name = "SingleKey"><webobject name = "Ellipse" /></webobject>
          <webobject name = "NotSingleKey">
            <webobject name = "SliceShapes"> <webobject name = "Slice" /> </webobject>
          </webobject>
          <webobject name = "NotSingleKey">
            <webobject name = "ShouldAnimate"><webobject name = "AnimateTransform" /></webobject>
          </webobject>
        </webobject>
      </webobject>
      <webobject name = "KeyRepetition">
        <webobject name = "LabelGroup">
          <webobject name = "LabelShapes">
            <webobject name = "LabelBox" />
            <webobject name = "LabelText"><webobject name = "Label" /></webobject>
          </webobject>
        </webobject>
      </webobject>
    </webobject>
  </webobject>
</webobject>