<webobject name = "AjaxExampleComponent">
AjaxUpdateContainer has an optional 'observeFieldID' binding.  You can set this binding to the id of the element to observe.  When the element changes,
the observed value will be sent back to the server (as a "partial form submissions"), and the AjaxUpdateContainer will be updated.  This feature 
requires that you use the ERExtensions framework (due to required changes to WOForm).
<p>
This can be used to create dependent PopUpButtons like in the following example:
<p>
<webobject name = "DependentListForm">
	<webobject name = "StateField"></webobject>
	<p>
	<webobject name = "CountyUpdateComponent">
		<webobject name = "CountyField"></webobject>
	</webobject>
</webobject>
</webobject>