<webobject name = "PageWrapper">
  <webobject name = "RequiredWrapper">
    <webobject name = "ShowTopActionBlock">
      <webobject name = "TopActionBlock">
        <webobject name = "ShowCancel">
          <ul class = "ActionList">
            <li><webobject name = "ReturnButton" /></li>
          </ul>
        </webobject>
        <webobject name = "SecondaryActionBlock" />
      </webobject>
    </webobject>
    <webobject name = "InnerWrapper">
      <webobject name = "ListNotEmpty">
        <webobject name = "RepetitionUpdateContainer">
          <webobject name = "NavBar"> <webobject name = "NavigationBar" /> </webobject>
          <webobject name = "ListPageRepetition" />
        </webobject>
      </webobject>
      <webobject name = "ListEmpty"> <webobject name = "EmptyMessageComponent" /> </webobject>
    </webobject>
    <webobject name = "ShowBottomActionBlock">
      <webobject name = "BottomActionBlock">
        <webobject name = "ShowCancel">
          <ul class = "ActionList">
            <li><webobject name = "ReturnButton" /></li>
          </ul>
        </webobject>
        <webobject name = "SecondaryActionBlock" />
      </webobject>
    </webobject>
  </webobject>
</webobject>