body {
	background-color: #234;
	color: #dd8;
	font-family: tahoma;
	font-size: 12px;
}

a:link, a:visited {
	color: #8cf;
}

a:hover {
	color: #ff8;
}

h1 {
	background-color: #456;
	border: 1px solid;
	border-color: #678 #012 #012 #678;
	color: #ff8;
	padding: 2px 5px;
}

pre {
	background-color: #000;
	border: 1px dotted #02d;
	border-left: 2px solid #04f;
	margin: 0px 1em;
	padding: 5px 1em;
}
