
.postit {
  border: 1px solid #cccccc;
  font-family: Helvetica;
  font-size: 8pt;
}

.yellow {
	background-color: #ffff99;
}

.red {
	background-color: #ffcccc;
}

.blue {
	background-color: #ccccff;
}

.green {
	background-color: #99ff99;
}

.annotationElement {
	background-color: grey; 
	opacity: .5; 
	border: 2px solid #F00;
	font-family: Helvetica;
  	font-size: 8pt;
	text-align: center; 
}

.annotationTitle {
	background-color: white; 
}

.edit {
	font-family: Helvetica;
  	font-size: 11pt;
}
