body { 
  margin-top: 8px;
  margin-bottom: 16px;
  margin-left: 40px;
  margin-right: 40px; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

hr {
  border: none;
  color: #7b1018;
  background-color: #7b1018;
  height: 3px;
}

p { 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: justify;
  margin-top: 0px;
  margin-bottom: 8px;
}

code {
  font-family: Courier;
  font-size: 12px;
}

ul { 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding-left: 20px;
  margin-left: 20px;
}

td { 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #005159;
  margin-top: 16px;
  margin-bottom: 8px;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #005159;
  margin-top: 16px;
  margin-bottom: 8px;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-top: 16px;
  margin-bottom: 8px;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
  font-size: 12px;
}

em { 
  font-style: oblique;
}

pre { 
  border: 1px solid black;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 24px;
  margin-right: 24px; 
  padding: 12px;
  background: #e8e8e8;
  font-family: Courier;
  font-size: 12px;
}

.tagline { 
  font-style: oblique;
  color: #7b1018;
  margin-bottom: 12px;
}

.menu {
  text-align: left;
}

.copyright {
  text-align: right;
}

.info-block { 
  border: 1px solid black;
  margin-top: 8px;
  margin-bottom: 16px;
  margin-left: 24px;
  margin-right: 24px; 
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 24px;
  padding-left: 0px;
  background: #fff8d8;
}

.code-block { 
  border: 1px solid black;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 24px;
  margin-right: 24px; 
  padding: 12px;
  background: #e8e8e8;
  font-family: Courier;
  font-size: 12px;
}

.browser-outer { 
  margin-top: 8px;
  margin-bottom: 16px;
  margin-left: 24px;
  margin-right: 24px; 
}

.browser-table {
  border-collapse: collapse;
  margin: 0px;
}

.browser-cell-title {
  background: #fff8d8;
  border: 1px solid black;
  padding: 6px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12px;
}

.browser-cell {
  background: #e8e8e8;
  border: 1px solid black;
  padding: 6px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
