<wo name = "PageWrapper">
  <div id = "DownloadIsCompletePageContent">
    <h1>Download Preparation Complete</h1>
    <p class = "message">Preparation of your download file is complete. Your file should download momentarily.
      
      <!-- input stream downloads can only be downloaded once. so only file downloads can be reopened for multiple retries -->
      If it does not download,
      <wo:link action = "$downloadTheFile">click here</wo:link>
    </p>
    <wo:if condition = "$referringPage">
      <p class = "return-option">Return to 
        <wo:link action = "$returnToReferringPage"> <wo:str value = "$returnLinkText" /> </wo:link>
      </p>
    </wo:if>
    <wo:if condition = "$session.browser.isIE">
    <div class = "focus-panel standard-padding">
    <h4>Why did my file not download automatically?</h4>
    <p>Some browsers, such as Microsoft Internet Explorer, may fail to download files automatically resulting in a 
    less-than ideal user experience. If you want a better user experience, 
    try using <wo:link href = "http://getfirefox.com" target = "_blank">FireFox,</wo:link> the most 
    popular web browser. It
    is free... and it is very secure.</p>
    </div>
    </wo:if>
  </div>
</wo>