<webobject name = "DragResizeContainerDiv">
	<webobject name = "Content"></webobject>
</webobject>
<script type = "text/javascript">
var <webobject name = "DragResizeContainerID"></webobject> = new DragResize('dragresize', <webobject name = "AjaxOptions"></webobject>)
<webobject name = "DimensionsFromElementConditional">
	var el = $('<webobject name = "DimensionsElementID"></webobject>');
	<webobject name = "DragResizeContainerID"></webobject>.minLeft = el.offsetLeft;
	<webobject name = "DragResizeContainerID"></webobject>.maxLeft = el.offsetLeft + el.offsetWidth;
	<webobject name = "DragResizeContainerID"></webobject>.minTop = el.offsetTop;
	<webobject name = "DragResizeContainerID"></webobject>.maxTop = el.offsetTop + el.offsetHeight;
	<webobject name = "DragResizeContainerID"></webobject>.maxWidth = el.offsetWidth;
	<webobject name = "DragResizeContainerID"></webobject>.maxHeight = el.offsetHeight;
</webobject>
<webobject name = "DragResizeContainerID"></webobject>.reqNum = 0;
<webobject name = "DragResizeContainerID"></webobject>.apply($('<webobject name = "DragResizeContainerID"></webobject>'));
</script>
