<webobject name="NavPage">
<div class="Box ApplicationNameBox">
  <h1>Configuring Application &quot;<webobject name="AppName" />&quot;</h1>
  <div class="DetailViewButtonWrapper">
  	<webobject name="ReturnLink">Detail View</webobject>
  </div>
</div>
<div class="Box NewInstanceSettingsBox">
  <webobject name = "NewInstanceConfigAjaxExpansion">
	<p>New Instances will be automatically configured to have the following settings. Defaults may be pushed individually (or together) to existing instances using the &quot;Push&quot; buttons in the far right column. To only set defaults for new instances (existing instances remain unchanged), use the &quot;Update for New Instances Only&quot; button at the bottom.</p>
           <webobject name="InstDefaultsForm">
              <table class="FormFieldTable">
                <tr><th> Path*: </th>
                  <td class="PathPickWrapper">
                    <div class="PathPicker"><div class="PathPickInner"><label>MacOSX</label><webobject name="TextField12" /></div><webobject name="PathPickerWizard5"><span>Pick...</span></webobject></div>
                    <div class="PathPicker"><div class="PathPickInner"><label>Windows:</label><webobject name="TextField11" /></div><webobject name="PathPickerWizard4"><span>Pick...</span></webobject></div>
                    <div class="PathPicker"><div class="PathPickInner"><label>Unix:</label><webobject name="PathField" /></div><webobject name="PathPickerWizard"><span>Pick...</span></webobject></div>
                  </td>
                  <td class="PushButtonWrapper"><webobject name="PathOnlyButton" /></td>
                </tr>
                <tr><th>Auto Recover:</th>
                  <td><webobject name="AutoRecoverCheckbox" /> <span class="Comment">(Does not apply to scheduled instances)</span></td>
                  <td class="PushButtonWrapper"><webobject name="AutoRecoverOnlyButton" /></td>
                </tr>
                <tr>
                  <th>Minimum Active Sessions: </th>
                  <td><webobject name="MinimumActiveSessionField" /></td>
                  <td class="PushButtonWrapper"><webobject name="MinimumOnlyButton" /></td>
                </tr>
                <tr>
                  <th>Caching enabled: </th>
                  <td><webobject name="CachingEnabledCheckbox" /></td>
                  <td class="PushButtonWrapper"><webobject name="CachingOnlyButton" /></td>
                </tr>
                <tr>
                  <th>Debugging enabled: </th>
                  <td><webobject name="DebuggingLogsCheckbox" /></td>
                  <td class="PushButtonWrapper"><webobject name="DebuggingOnlyButton" /></td>
                </tr>
                <tr>
                  <th>Output Path**:</th>
                  <td class="PathPickWrapper">
                  	<div class="PathPicker"><div class="PathPickInner"><label>MacOSX</label><webobject name="TextField10" /></div><webobject name="PathPickerWizard6"><span>Pick...</span></webobject></div>
                    <div class="PathPicker"><div class="PathPickInner"><label>Windows:</label><webobject name="TextField6" /></div><webobject name="PathPickerWizard3"><span>Pick...</span></webobject></div>
                    <div class="PathPicker"><div class="PathPickInner"><label>Unix:</label><webobject name="TextField3" /></div><webobject name="PathPickerWizard2"><span>Pick...</span></webobject></div>
                  </td>
                  <td class="PushButtonWrapper"><webobject name="OutputOnlyButton" /></td>
                </tr>
                <tr>
                  <th>Auto Open In Browser<br />Auto Open Client Application:</th>
                  <td><webobject name="CheckBox6" /></td>
                  <td class="PushButtonWrapper"><webobject name="AutoOpenOnlyButton" /></td>
                </tr>
                <tr>
                  <th>Lifebeat Interval:</th>
                  <td><webobject name="TextField7" /></td>
                  <td class="PushButtonWrapper"><webobject name="LifebeatOnlyButton" /></td>
                </tr>
                <tr>
                  <th>Additional<br />Arguments: 
                  </th>
                  <td><webobject name="ArgsField" /></td>
                  <td class="PushButtonWrapper"><webobject name="AddArgsOnlyButton" /></td>
                </tr>
                <tr>
                  <td colspan="2"><webobject name="SaveChangesSubmitButton" /></td>
                  <td class="PushButtonWrapper"><webobject name="PushSubmitButton" /></td>
                </tr>
              </table>
            <p>* The path of the executable (inside the '.woa' directory).</p>
            <p>** This should be a directory - the path should end with a file separator (instance logs will be saved as &lt;ApplicationName&gt;-&lt;ID&gt;)</p>
          </webobject>
  </webobject>
</div>
<div class="Box ApplicationConfigBox">
  <webobject name="ApplicationConfigAjaxExpansion">
  <p>&nbsp;</p>
          <webobject name="AppSettingsForm">
              <table class="FormFieldTable">
                <tr><th>Name: </th>
                  <td><webobject name="RealNameField" /> <span class="Comment">(All instances of this application must be off to change the name)</span></td>
                </tr>
                <tr><th>Starting Port: </th>
                  <td><webobject name="TextField4" /></td>
                </tr>
                <tr><th>Time Allowed For Startup: </th>
                  <td><webobject name="TextField5" /></td>
                </tr>
                <tr><th>Phased Startup: </th>
                  <td><webobject name="CheckBox1" /></td>
                </tr>
                <tr><th>Adaptor: </th>
                  <td><webobject name="AdaptorField" /> <span class="Comment">('WODefaultAdaptor' is the default)</span></td>
                </tr>
                <tr><th>Minimum Adaptor threads: </th>
                  <td><webobject name="AdaptorThreadsMinField" /> <span class="Comment">(Applies only to the WODefaultAdaptor for WO 5.x)</span></td>
                </tr>
                <tr><th>Maximum Adaptor threads: </th>
                  <td><webobject name="AdaptorThreadsMaxField" /> <span class="Comment">(Applies only to the WODefaultAdaptor for WO 5.x)</span></td>
                </tr>
                <tr><th>Adaptor threads: </th>
                  <td><webobject name="AdaptorThreadsField" /> <span class="Comment">(Applies only to the WODefaultAdaptor for WO 4.5.x)</span></td>
                </tr>
                <tr><th>Listen Queue Size: </th>
                  <td><webobject name="ListenQueueSizeField" /></td>
                </tr>
                <tr><th>Project Search Path: </th>
                  <td><webobject name="ProjectSearchPathField" /></td>
                </tr>
                <tr><th>Session TimeOut (sec): </th>
                  <td><webobject name="SessionTimeOutField" /></td>
                </tr>
                <tr><th>Statistics Page Password: </th>
                  <td><webobject name="StatisticsPasswordField" /></td>
                </tr>
              </table>
              <p><webobject name="AppDefaultsOnlyButton" /></p>
          </webobject>
  </webobject>
</div>
<div class="Box SchedulingSettingsBox">
  <webobject name="SchedulingConfigAjaxExpansion">
          <p>With this feature you can have Monitor schedule your instances to restart instances at regular intervals.</p>
          <p>Note that all scheduled instances automatically act as if they are AutoRecovering.</p>
          <webobject name="Conditional1">
          	<p>There are no Instances configured for this Application.</p>
          </webobject>
          <webobject name="Conditional2">
            <webobject name="Option3Form">
              <table cellpadding="1" cellspacing="1" border="1">
                <tr>
                  <th>ID</th>
                  <th>Host : Port</th>
                  <th>Is<br />Scheduled</th>
                  <th>Graceful<br />Scheduling</th>
                  <th colspan="3">Scheduling Type</th>
                </tr>
                <webobject name="Repetition1">
                  <tr>
                    <td><webobject name="String1" /></td>
                    <td><webobject name="String2" /></td>
                    <td><webobject name="CheckBox2" /></td>
                    <td><webobject name="CheckBox7" /></td>
                    <td>
                    	<div class="ControlColOne"><webobject name="RadioButton1" /></div><div class="ControlColTwo">Every <webobject name="PopUpButton6" /> hours,<br />
                      starting at <webobject name="PopUpButtonH" /> hours.</div></td>
                    <td><webobject name="RadioButton2" /> Every day at <webobject name="PopUpButtonD" /> hours.</td>
                    <td><div class="ControlColOne"><webobject name="RadioButton3" /></div><div class="ControlColTwo">Every week on  <webobject name="PopUpButton8" />,<br />
                      at <webobject name="PopUpButtonW" /> hours.</div></td>
                  </tr>
                </webobject>
              </table>
              <br />
              <webobject name="SubmitButton2" />
            </webobject>
          </webobject>
  </webobject>
</div>
<div class="Box EmailSettingsBox">
  <webobject name="EmailConfigAjaxExpansion">
          <webobject name="NOSmtpHostConfigured">
            <p>Monitor needs an SMTP host and a Return Address configured in order to send email notifications.</p>
            <p>Go to the <webobject name="ConfigurePageLink">Configure Page</webobject> to setup an SMTP host and specify a Return Address.</p>
          </webobject>
          <webobject name="SmtpHostConfigured">
            <p>When instances of this application terminate unexpectedly, Monitor will send an email notification to the email addresses below.</p>
            <p>Instance terminations from manual shutdowns (through Monitor) or scheduling are not counted as unexpected terminations.</p>
            <webobject name="EmailForm">
                <p><webobject name="CheckBox3" /> <strong>Email Notifications are Enabled</strong></p>
                <p>Enter multiple email addresses separated by commas: <webobject name="EmailAddressesField" /></p>
                <br />
                <p><webobject name="SubmitButton1" /></p>
            </webobject>
          </webobject>
  </webobject>
</div>
<div class="Box AdapterSpecificSettingsBox">
  <webobject name="AdaptorSpecificConfigAjaxExpansion">
  <p>&nbsp;</p>
          <webobject name="AdaptorSettingsForm">
              <table class="FormFieldTable">
                <tr><th>Load balancing scheme:</th>
                  <td><webobject name="LoadBalancingScheme" /><br />
                    Custom Scheduler Name: <webobject name="TextField8" />(optional)</td>
                </tr>
                <tr><th>Retries:</th>
                  <td><webobject name="RetriesField" /></td>
                </tr>
                <tr><th>Redirection URL:</th>
                  <td><webobject name="RedirectionURLField" /></td>
                </tr>
                <tr><th>Dormant:</th>
                  <td><webobject name="TimeoutField" /></td>
                </tr>
                <tr><th>Send timeout:</th>
                  <td><webobject name="SendTimeoutField" /></td>
                </tr>
                <tr><th>Receive timeout:</th>
                  <td><webobject name="ReceiveTimeoutField" /></td>
                </tr>
                <tr><th>Connect timeout:</th>
                  <td><webobject name="ConnectTimeoutField" /></td>
                </tr>
                <tr><th>Send Buffer Size:</th>
                  <td><webobject name="ConnectTimeoutField2" /></td>
                </tr>
                <tr><th>Receive Buffer Size:</th>
                  <td><webobject name="ConnectTimeoutField3" /></td>
                </tr>
                <tr><th>Connection pool size:</th>
                  <td><webobject name="PoolsizeField" /></td>
                </tr>
                <tr><th>URL Version:</th>
                  <td><webobject name="PopUpButton1" /></td>
                </tr>
              </table>
              <p><webobject name="UpdateAdaptorButton" /></p>
          </webobject>
  </webobject>
</div>
<script type="text/javascript">
document.getElementById('appSettingsForm').onsubmit = function(event) {
	var statsPassword = document.getElementById('statsPassword').value;
	if (statsPassword && statsPassword.length != 0) {
		var badChars = ['$', '&', '+', ',' ,'/' ,':', ';', '=', '?', '@', ' ', '<', '>', '#', '%'];
		for (var i=0; i<badChars.length; i++) {
			if (statsPassword.indexOf(badChars[i]) != -1) {
				alert('WARNING: "Statistics Page Password" should not contain characters and have special meaning in URLs.');
				break;
			}
		}
	}
	return true;
}
</script>
</webobject>