<webobject name=Conditional1>Page Configuration:
	<webobject name = "SummaryHover"><webobject name=String1></webobject></webobject>
			<webobject name = "Summary">
				<webobject name="Repetition1">
					<tr>
						<td>
							<b>
								<webobject name="String9"></webobject>
							</b>
						</td>
						<td>
							<webobject name="String8"></webobject>
						</td>
					</tr>
				</webobject>
			</webobject>
		<br />
	<webobject name=Conditional3><font size=2><webobject name=Hyperlink1>HIDE property-level component
			names</webobject></font></webobject><webobject name=Conditional2><font size=2><webobject name=Hyperlink2>SHOW
			property-level component names</webobject></font></webobject><br>
	<webobject name = "TableToggle">Click To Toggle</webobject>
	<webobject name=Form1>
		<webobject name = "DebugTable">
			<tr>
				<td>Task</td>
				<td><webobject name=String2></webobject></td>
			</tr>
			<tr>
				<td width=120>SubTask</td>
				<td><webobject name=String11></webobject></td>
			</tr>
			<tr>
				<td>Tab Section</td>
				<td><webobject name=String3></webobject></td>
			</tr>
			<tr>
				<td>Entity Name</td>
				<td><webobject name=String4></webobject></td>
			</tr>
			<tr>
				<td>Template Name</td>
				<td><webobject name=String12></webobject></td>
			</tr>
			<tr>
				<td width=200>Parent Page Configuration</td>
				<td><webobject name=String13></webobject></td>
			</tr>
			<webobject name=Conditional4>
				<tr>
					<td>Page Editing Context</td>
					<td><webobject name=String5></webobject>:
						<webobject name=Hyperlink3>Show</webobject></td>
				</tr>
			</webobject>
			<tr>
				<td>Default Editing Context</td>
				<td><webobject name=String7></webobject>:
					<webobject name=Hyperlink4>Show</webobject></td>
			</tr>
			<tr>
				<td>Rule tracing</td>
				<td>Turn
					<webobject name=Hyperlink5></webobject></td>
			</tr>
				<tr>
					<td>D2W Key <webobject name=TextField1></webobject><webobject name = "Submit">&rarr;</webobject></td>
					<td><tt><webobject name=String6></webobject></tt></td>
				</tr>
		</webobject>
	</webobject>
</webobject>