<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <webobject name="Head"></webobject>
    <body>
    
    <div id="c"><h1><span>DirectToWeb</span></h1></div>
    
    <webobject name="B">
      <webobject name="Header"></webobject><webobject name = "IsDebug"><webobject name="ERD2WDebugFlags"></webobject></webobject>
    </webobject>
    
    <webobject name="Divider"></webobject>
    
	<div id="a">
      <webobject name="Content"></webobject>
    </div>
 
   </body>
</html>