<webobject name = "AjaxExampleComponent">
<style type="text/css">
.draggableExample {
	border-style: solid;
	border-color: rgb(0, 0, 0);
	border-width: 2px;
	padding: 5px;
	background-color: rgb(100, 150, 100);
}

.droppableExample {
	border-style: solid;
	border-color: rgb(0, 0, 0);
	border-width: 2px;
	padding: 5px;
	background-color: rgb(150, 100, 100);
}
</style>

<div id = "statusMessage">
Drag one of the green draggable items onto one of the red droppable items.
</div>
<p>

<webobject name = "DraggableExample1">
This is draggable #1, Item <b><webobject name="FirstItem"></webobject></b> (I move around freely)
</webobject>

<p>&nbsp;</p>
<webobject name="ItemLoop">
<webobject name = "DraggableExample2">
This is draggable #2 Item <b><webobject name="Item"></webobject></b> (I return to my place)
</webobject>
<p></p>

</webobject>

<p>&nbsp;</p>

<webobject name = "DroppableExample1">
This is a drop area #1.
</webobject>

<p>&nbsp;</p>

<webobject name = "DroppableExample2">
This is a drop area #2.
</webobject>

</webobject>