<webobject name = "AjaxExampleComponent">
<style>
ul#exampleListA {
	margin: 0px;
	padding: 0px;
}

ul#exampleListA li {
	border: 1px solid black;
	margin-bottom: 3px;
	padding: 3px;
	list-style: none;
}

ul#exampleListB {
	margin: 0px;
	padding: 0px;
}

ul#exampleListB li {
	border: 1px solid black;
	margin-bottom: 3px;
	padding: 3px;
	list-style: none;
}
</style>

The first list is an NSMutableArray and will reorder in-place:
<webobject name = "SortableListA"><webobject name = "ListItemNameA"></webobject></webobject>
<p>
The second list is an NSArray and will be replaced when reordered:
<webobject name = "SortableListB"><webobject name = "ListItemNameB"></webobject></webobject>

</webobject>