<webobject name="ListTable">
	<webobject name=HasSections>
		<tr>
			<td>
				<spacer/>
			</td>
			<webobject name=SectionRepetition><webobject name=SectionCell><webobject name=SectionTitle></webobject></webobject></webobject>
			<td>
				<spacer/>
			</td>
		</tr>
	</webobject>
	<webobject name=ListTableHeaderRow>
		<td>
			<spacer/>
		</td>
		<webobject name=SectionRepetition><webobject name=ColumnLabelRepetition>
				<th nowrap valign=bottom class="HeaderCell">
					<table align="center">
						<tr>
							<th><webobject name=PropertyName></webobject></th><webobject name=IsPropertySortable><th>&nbsp;<webobject name=AttributeSorter2></webobject></th></webobject>
						</tr>
					</table>
				</th>
			</webobject></webobject>
		<td>
			<spacer/>
		</td>
	</webobject>
	<webobject name=ListTableRow>
		<td rowspan=4>
			<table border=0>
				<tr>
					<webobject name=LeftActions>
						<td><webobject name=LeftAction></webobject></td>
					</webobject>
				</tr>
			</table>
		</td>
		<webobject name=DividingCells><webobject name=ComponentContent1></webobject>
			<spacer/>
		</webobject>
		<td rowspan=4>
			<table border=0>
				<tr>
					<webobject name=RightActions>
						<td><webobject name=RightAction></webobject></td>
					</webobject>
				</tr>
			</table>
		</td>
	</webobject>
	<webobject name = "AttributeRow">
		<webobject name=SectionRepetition><webobject name=AttributeRepetition>
				<webobject name=AttributeCell><webobject name=AttributeDisplay></webobject></webobject>
			</webobject></webobject>
	</webobject>
	<webobject name = "ExtraRow">
		<webobject name=ExtraCell><webobject name = "HasExtraListComponent">has<webobject name = "ExtraListComponent"></webobject></webobject></webobject>
	</webobject>
	<webobject name = "ActionRow">
		<webobject name=ActionCell><webobject name=CenterActions><webobject name=CenterAction></webobject></webobject></webobject>
	</webobject>
</webobject>