<webobject name = "UpdateContainer">
	<webobject name = "IsNotEditingConditional"><webobject name = "IsChangingToViewConditional"><script>AIP.cleanupEdit('<webobject name = "ID"></webobject>');</script></webobject>
		<webobject name = "EditFunction"></webobject><webobject name = "ManualViewControlConditional">
			<webobject name = "ViewComponent"/>
		</webobject>
		<webobject name = "NotManualViewControlConditional">
			<webobject name = "EditAction"><webobject name = "ViewComponent"/></webobject>
		</webobject>
	</webobject>
	<webobject name = "IsEditingConditional"><webobject name = "EditForm">
			<webobject name = "EditComponent"/><webobject name = "IsChangingToEditConditional"><script>AIP.cleanupView('<webobject name = "ID"></webobject>');</script></webobject>
			<webobject name = "SubmitOnSaveConditional"><webobject name = "SaveSubmitFunction"></webobject></webobject>
			<webobject name = "LinkOnSaveConditional"><webobject name = "SaveLinkFunction"></webobject></webobject>
			<webobject name = "CancelFunction"></webobject>
			<webobject name = "NotManualEditControlConditional">
				<webobject name = "SaveAction"><webobject name = "SaveLabel"/></webobject>
				<webobject name = "CancelAction"><webobject name = "CancelLabel"/></webobject>
			</webobject>
	</webobject></webobject>
</webobject>