<wo:PageWrapper title="Forgot My Password" hideBreadcrumb="$true">
	<div class="panel">
		<div class="title">Forgot My Password</div>
		
		<div class="contents">
			<wo:form>
				<div class="row">
					<span class="label">Email Address</span>
					<wo:textfield value="$emailAddress"/>
				</div>

				<div class="row">
					<wo:submit action="$sendEmail" value="Reset My Password"/> or <wo:WOHyperlink directActionName="default">cancel</wo:WOHyperlink>
				</div>
			</wo:form>
		</div>
	</div>
</wo:PageWrapper>