<webobject name = "SwitchComponent1">
  <webobject name = "D2wContextShowHeader">
    <webobject name = "AreThereObjects">
      <webobject name = "Generic2">
        <webobject name = "Repetition4"><webobject name = "Generic3" /></webobject>
        <webobject name = "IsThereATitle">
          <webobject name = "Generic7"><webobject name = "D2wContextTitle" /></webobject>
        </webobject>
        <webobject name = "D2wContextDisplayPropertyKeys1">
          <webobject name = "Generic1">
            <webobject name = "D2wContextDisplayNameForProperty" />
            <webobject name = "D2wContextShouldShowUnits">
              <webobject name = "AreThereUnits">(<webobject name = "D2wContextResolvedUnit" />)</webobject>
            </webobject>
          </webobject>
        </webobject>
      </webobject>
    </webobject>
  </webobject>
  <webobject name = "DisplayGroupDisplayedObjects">
    <webobject name = "Generic6">
      <webobject name = "Repetition5"><webobject name = "Generic4" /></webobject>
      <webobject name = "IsThereATitle2"><webobject name = "Generic9" /></webobject>
      <webobject name = "D2wContextDisplayPropertyKeys">
        <webobject name = "Generic5"><webobject name = "AttributeDisplay" /></webobject>
      </webobject>
    </webobject>
    <webobject name = "D2wContextHasThirdLevel"><webobject name = "SwitchComponent2" /></webobject>
  </webobject>
</webobject>