<webobject name = "Accordion">
	<webobject name = "Sections">
		<webobject name = "HasSectionName">
		<div class="accordion-toggle"><webobject name = "Section" /></div>
		</webobject>
		<webobject name = "SectionContainer">
		<ul class="properties">
		<webobject name = "AttributeRepetition">
		    <webobject name = "ListContainer">
		      <h4 class="propertyKey"><webobject name = "PropertyName" /><webobject name = "DebugPropertyName" /></h4>
		      <webobject name = "ContentClass"><webobject name = "DebugComponentName" />
		      	<webobject name = "AttributeValue" />
		      </webobject>
		    </webobject>
		</webobject>
		</ul>
		</webobject>
	</webobject>
</webobject>