<webobject name = "AjaxExampleComponent">
        <style>
.exampleArea {
	border-style: solid;
	border-color: rgb(0, 0, 0);
	border-width: 2px;
	padding: 5px;
	background-color: rgb(200, 200, 200);
}
				</style>

This example shows how you might use an AjaxUpdateContainer to refresh as the progress of a background operation changes.  You
should also check out the Progress / File Upload example for one that uses the AjaxProgressBar.

        <p>Initial time: <webobject name="String1"></webobject></p>
        <p><webobject name="Form"><webobject name="AjaxUpdateLink">Start task</webobject></webobject></p>
        <webobject name="AjaxUpdateContainer">
        	<webobject name="HasTask">
        		<p>Current status: <b><webobject name="Status"></webobject></b></p>
        		<webobject name="TaskIsAlive"><p><webobject name="StopThread">Stop task</webobject></p><script type="text/javascript"><webobject name="UpdateScript"></webobject></script></webobject>
        	</webobject>
        </webobject>
 </webobject>