 <div class="ajaxGridNavBar">
    <webobject name="NavUpdater">
    	<table><tr>
	    <td style="text-align:left;"><webobject name="PrevBatch">&lt;&lt;</webobject>
    	&nbsp;&nbsp;
		Page <b><span id="currentBatch"><webobject name="CurrentBatchIndex"/></span></b> of <b><webobject name="BatchCount"/></b>
    	&nbsp;&nbsp;
    	<webobject name="NextBatch">&gt;&gt;</webobject>
    	</td>
    	<td style="text-align:center;">
    	 Number of lines per page: <webobject name="BatchSizes"/><webobject name="UpdateBatchSize"/>
    	      	</td>
    	<td style="text-align:right;">
    	Displaying <b><webobject name="FirstIndex"/></b> to <b><webobject name="LastIndex"/></b> of <b><webobject name="TotalCount"/></b> entries.
    	</td></tr></table>
	   	<webobject name="BatchSlider"/>
    </webobject name="NavUpdater">
 </div>
