<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
  <head>
    <title></title>
  </head>
  <body bgcolor = "#FFFFFF">
    <webobject name = "REFUSED">
      <center>
        <h2>
          <font color = "#FF0000">This Request Requires A User Login</font>
        </h2>
        <br/>
          <webobject name = "Form1">
            <table border = "1" cellPadding = "2" cellSpacing = "0" bgcolor = "#f6ffff">
              <tr>
                <td>
                  <table border = "0" width = "80%">
                    <tr align = "CENTER">
                      <td>User</td>
                      <td>
                        <webobject name = "USERNAME"></webobject>
                      </td>
                    </tr>
                    <tr align = "CENTER">
                      <td>Password</td>
                      <td>
                        <webobject name = "PASSWORD"></webobject>
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>
                        <webobject name = "SUBMIT"></webobject>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <br/>
          </webobject>
      </center>
    </webobject>
    <webobject name = "ALLOWED">
      <webobject name = "Form4">
        <table border = "0" width = "100%">
          <tr>
            <td align = "CENTER" colspan = "2">
              <H2>
                Statistics For
                <font color = "#FF0000">
                  <webobject name = "ApplicationName"></webobject>
                  <webobject name = "Instance">
                    #
                    <font color = "#FF0000">
                      <webobject name = "Instance1"></webobject>
                    </font>
                  </webobject>
                </font>
                On Host
                <font color = "#FF0000">
                  <webobject name = "Host"></webobject>
                </font>
              </H2>
            </td>
          </tr>
          <tr>
            <td align = "CENTER">
              <webobject name = "REFRESH"></webobject>
            </td>
          </tr>
        </table>
      </webobject>
      <hr />
      <br/>
        <center>
          <table border = "2" cellpadding = "4" cellspacing = "2" bgcolor = "#d0d0d0">
            <tr align = "CENTER" bgcolor = "#b0b0b0">
              <td colspan = "6">
                <font size = "+1">
                  <b>Application Statistics</b>
                </font>
              </td>
            </tr>
            <tr>
              <td>&nbsp</td>
              <td align = "CENTER">
                <font size = "-1">Transactions</font>
              </td>
              <td align = "CENTER">
                <font size = "-1">
                  Average Transaction
                  <br/>Time
                </font>
              </td>
              <td align = "CENTER">
                <font size = "-1">
                  Average Idle
                  <br/>Time
                </font>
              </td>
              <td align = "CENTER">
                <font size = "-1">
                  Moving Average*
                  <br/>Transaction Time
                </font>
              </td>
              <td align = "CENTER">
                <font size = "-1">
                  Moving Average*
                  <br/>Idle Time
                </font>
              </td>
            </tr>
            <tr>
              <td>Overall</td>
              <td align = "CENTER">
                <font color = "#0000FF">
                  <webobject name = "Transactions"></webobject>
                </font>
              </td>
              <td align = "CENTER">
                <font color = "#0000FF">
                  <webobject name = "AvgTransactionTime"></webobject>
                </font>
              </td>
              <td align = "CENTER">
                <font color = "#0000FF">
                  <webobject name = "AvgIdleTime"></webobject>
                </font>
              </td>
              <td align = "CENTER">
                <font color = "#0000FF">
                  <webobject name = "MovingAvgTransactionTime"></webobject>
                </font>
              </td>
              <td align = "CENTER">
                <font color = "#0000FF">
                  <webobject name = "MovingAvgIdleTime"></webobject>
                </font>
              </td>
            </tr>
            <tr>
              <td>Component Actions</td>
              <td align = "CENTER">
                <font color = "#0000FF">
                  <webobject name = "ComponentActionTransactions"></webobject>
                </font>
              </td>
              <td align = "CENTER">
                <font color = "#0000FF">
                  <webobject name = "AvgComponentActionTransactions"></webobject>
                </font>
              </td>
              <td align = "CENTER">
                <font size = "-1">NA</font>
              </td>
              <td align = "CENTER">&nbsp</td>
              <td align = "CENTER">
                <font size = "-1">NA</font>
              </td>
            </tr>
            <tr>
              <td>Direct Actions</td>
              <td align = "CENTER">
                <font color = "#0000FF">
                  <webobject name = "DirectActionTransactions"></webobject>
                </font>
              </td>
              <td align = "CENTER">
                <font color = "#0000FF">
                  <webobject name = "AvgDirectActionTransactions"></webobject>
                </font>
              </td>
              <td align = "CENTER">
                <font size = "-1">NA</font>
              </td>
              <td align = "CENTER">&nbsp</td>
              <td align = "CENTER">
                <font size = "-1">NA</font>
              </td>
            </tr>
            <tr>
              <td>Started at</td>
              <td colspan = "5">
                <font color = "#0000FF">
                  <webobject name = "StatsDictStartedAt"></webobject>
                </font>
              </td>
            </tr>
            <tr>
              <td>Running time</td>
              <td colspan = "5">
                <font color = "#0000FF">
                  <webobject name = "RunningTime"></webobject>
                </font>
              </td>
            </tr>
          </table>
          <font size = "-1">
            * The sample size for Moving Averages is
            <font color = "#0000FF">
              <webobject name = "MovingAvgSampleSize"></webobject>
            </font>
            transactions.
          </font>
        </center>
        <hr />
        <center>
          <table border = "2" cellpadding = "4" cellspacing = "2" bgcolor = "#d0d0d0">
            <tr align = "CENTER" bgcolor = "#b0b0b0">
              <td colspan = "2">
                <font size = "+1">
                  <b>Sessions Statistics</b>
                </font>
              </td>
            </tr>
            <webobject name = "SessionsRepetition">
              <tr>
                <td>
                  <webobject name = "SessionsKeyCell"></webobject>
                </td>
                <td align="right">
                  <font color = "#0000FF">
                    <webobject name = "SessionsValueCell"></webobject>
                  </font>
                </td>
              </tr>
            </webobject>
            <webobject name = "ISMAXSESSIONS">
              <tr>
                <td colspan = "2">
                  Peak Concurrent Sessions at
                  <br/>
                    <font color = "#0000FF">
                      <webobject name = "MaxSessions"></webobject>
                    </font>
                  
                </td>
              </tr>
            </webobject>
          </table>
        </center>
        <br/>
          <center>
            <table border = "0" width = "100%">
<!--   spacer table - invisible   -->
              <tr>
                <td align = "CENTER">
                  <table border = "2" cellpadding = "4" cellspacing = "2" bgcolor = "#d0d0d0">
                    <tr align = "CENTER" bgcolor = "#b0b0b0">
                      <td colspan = "2">
                        <b>Memory Usage</b>
                      </td>
                    </tr>
                    <webobject name = "MemoryRepetition">
                      <tr>
                        <td>
                          <webobject name = "MemoryKeyCell"></webobject>
                        </td>
                        <td align = "RIGHT">
                          <font color = "#0000FF">
                            <webobject name = "MemoryValueCell"></webobject>
                          </font>
                        </td>
                      </tr>
                    </webobject>
                  </table>
                </td>
                <td align = "CENTER">
                  <table border = "2" cellpadding = "4" cellspacing = "2" bgcolor = "#d0d0d0">
                    <tr align = "CENTER" bgcolor = "#b0b0b0">
                      <td colspan = "2">
                        <b>Avg. Memory Usage Per Session (bytes)</b>
                      </td>
                    </tr>
                    <webobject name = "SessionMemoryRepetition">
                      <tr>
                        <td>
                          <webobject name = "SessionMemoryKeyCell"></webobject>
                        </td>
                        <td align = "RIGHT">
                          <font color = "#0000FF">
                            <webobject name = "SessionMemoryValueCell"></webobject>
                          </font>
                        </td>
                      </tr>
                    </webobject>
                  </table>
                </td>
              </tr>
            </table>
          </center>
          <br/>
            <webobject name = "ISLASTUSER">
              Response Descriptions For Last User :
              <br/>
                <center>
                  <table border = "2" cellpadding = "4" cellspacing = "2" bgcolor = "#d0d0d0" width = "80%">
                    <webobject name = "SessionStatsRepetition">
                      <tr>
                        <td>
                          <font color = "#0000FF">
                            <webobject name = "SessionStatsField"></webobject>
                          </font>
                        </td>
                      </tr>
                    </webobject>
                  </table>
                </center>
              
            </webobject>
            <hr />
            <center>
              <table border = "2" cellpadding = "4" cellspacing = "2" width = "80%" bgcolor = "#d0d0d0">
                <tr>
                  <td colspan = "5" align = "CENTER" bgcolor = "#b0b0b0">
                    <font size = "+1">
                      <b>
                        Component Action
							Statistics
                      </b>
                    </font>
                  </td>
                </tr>
                <tr align = "CENTER" bgcolor = "#d6d8df">
                  <td width = "20%">Name</td>
                  <td width = "50%">Served</td>
                  <td width = "10%">Min</td>
                  <td width = "10%">Avg</td>
                  <td width = "10%">Max</td>
                </tr>
                <webobject name = "PagesRepetition">
                  <tr>
                    <td align = "CENTER">
                      <font color = "#0000FF">
                        <webobject name = "PageName"></webobject>
                      </font>
                    </td>
                    <td align = "left">
                      <webobject name = "PageCountBar"></webobject>
                    </td>
                    <td align = "CENTER">
                      <font color = "#0000FF">
                        <webobject name = "PageMin"></webobject>
                      </font>
                    </td>
                    <td align = "CENTER">
                      <font color = "#0000FF">
                        <b>
                          <webobject name = "PageAvg"></webobject>
                        </b>
                      </font>
                    </td>
                    <td align = "CENTER">
                      <font color = "#0000FF">
                        <webobject name = "PageMax"></webobject>
                      </font>
                    </td>
                  </tr>
                </webobject>
              </table>
            </center>
            <hr />
            <center>
              <table border = "2" cellpadding = "4" cellspacing = "2" width = "80%" bgcolor = "#d0d0d0">
                <tr>
                  <td colspan = "5" align = "CENTER" bgcolor = "#b0b0b0">
                    <font size = "+1">
                      <b>Direct Action Statistics</b>
                    </font>
                  </td>
                </tr>
                <tr align = "CENTER" bgcolor = "#d6d8df">
                  <td width = "20%">Name</td>
                  <td width = "50%">Served</td>
                  <td width = "10%">Min</td>
                  <td width = "10%">Avg</td>
                  <td width = "10%">Max</td>
                </tr>
                <webobject name = "ActionsRepetition">
                  <tr>
                    <td align = "CENTER">
                      <font color = "#0000FF">
                        <webobject name = "ActionName"></webobject>
                      </font>
                    </td>
                    <td align = "left">
                      <webobject name = "ActionBar"></webobject>
                    </td>
                    <td align = "CENTER">
                      <font color = "#0000FF">
                        <webobject name = "ActionMin"></webobject>
                      </font>
                    </td>
                    <td align = "CENTER">
                      <font color = "#0000FF">
                        <b>
                          <webobject name = "ActionAvg"></webobject>
                        </b>
                      </font>
                    </td>
                    <td align = "CENTER">
                      <font color = "#0000FF">
                        <webobject name = "ActionMax"></webobject>
                      </font>
                    </td>
                  </tr>
                </webobject>
              </table>
            </center>
            <hr />
            <center>
              <table border = "2" cellPadding = "4" cellspacing = "2" width = "80%" bgcolor = "#d0d0d0">
                <tr>
                  <td colspan = "3" align = "CENTER" bgcolor = "#b0b0b0">
                    <font size = "+1">
                      <b>
                        Detailed
							Statistics
                      </b>
                    </font>
                  </td>
                </tr>
                <tr align = "CENTER" bgcolor = "#d6d8df">
                  <td width = "40%">Response Description</td>
                  <td width = "50%">Percent Of Total</td>
                  <td width = "10%">Served</td>
                </tr>
                <webobject name = "DetailsRepetition">
                  <tr>
                    <td align = "CENTER">
                      <font color = "#0000FF">
                        <webobject name = "DetailName"></webobject>
                      </font>
                    </td>
                    <td align = "left">
                      <webobject name = "BAR_DETAILS"></webobject>
                    </td>
                    <td align = "CENTER">
                      <font color = "#0000FF">
                        <webobject name = "DetailCount"></webobject>
                      </font>
                    </td>
                  </tr>
                </webobject>
              </table>
              <br/>
                <webobject name = "ISLOGPATH">
                  <hr />
                  <br/>
                    Statistics Details Saved In Common Log Format In File
                    <font color = "#0000FF">
                      <webobject name = "LOGPATH"></webobject>
                    </font>
                  
                </webobject>
                <hr />
                <center>
                  <table border = "2" cellpadding = "4" cellspacing = "2" width = "80%" bgcolor = "#d0d0d0">
                    <tr>
                      <td colspan = "5" align = "CENTER" bgcolor = "#b0b0b0">
                        <font size = "+1">
                          <b>ERX Stats (<webobject name = "ResetStats">reset</webobject>, <webobject name = "ShowTraces">show traces</webobject>)</b>
                        </font>
                      </td>
                    </tr>
                    <tr align = "CENTER" bgcolor = "#d6d8df">
                      <td width = "10%">Count</td>
                      <td width = "10%">Min</td>
                      <td width = "10%"><b>Avg</b></td>
                      <td width = "10%">Max</td>
                      <td width = "10%">Sum</td>
                    </tr>
                    <webobject name = "ERXStatsRepetition">
                      <tr>
                        <td colspan="5">
                          <webobject name = "ERXStatsKey" />
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <webobject name = "ERXStatsCountBar" />
                        </td>
                        <td>
                          <webobject name = "ERXStatsMin" />
                        </td>
                        <td>
                          <webobject name = "ERXStatsAvg" />
                        </td>
                        <td>
                          <webobject name = "ERXStatsMax" />
                        </td>
                        <td>
                          <webobject name = "ERXStatsSumBar" />
                        </td>
                      </tr>
                      <webobject name = "ShouldShowTraces">
	                      <tr>
	                        <td colspan="5">
	                          <pre><webobject name = "ERXStatsTraces" /></pre>
	                        </td>
	                      </tr>
	                  </webobject>
                    </webobject>
                  </table>
                </center>
                <hr />
                <table width = "80%" border = "2" cellspacing = "2" cellpadding = "4" bgcolor = "#d0d0d0">
                  <tr>
                    <td colspan = "2" bgcolor = "#b0b0b0" align = "CENTER">
                      <font size = "+1">
                        <b>
                          Java VM
							Information
                        </b>
                      </font>
                    </td>
                  </tr>
                  <tr>
                    <td>Vendor</td>
                    <td>
                      <webobject name = "Link"></webobject>
                    </td>
                  </tr>
                  <tr>
                    <td>JDK</td>
                    <td>
                      <webobject name = "JdkVersion"></webobject>
                    </td>
                  </tr>
                  <tr>
                    <td>Operating System</td>
                    <td>
                      <webobject name = "OperatingSystem"></webobject>
                    </td>
                  </tr>
                </table>
            </center>
    </webobject>
  </body>
</html>