<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML>
   <HEAD>
      <TITLE>Direct to Web</TITLE>
   </HEAD>
   <WEBOBJECT NAME=BodyContainer>
      <WEBOBJECT NAME=LoginForm>
         <CENTER>
            <BR>
            <BR>
            <BR>
            <TABLE BORDER=0 CELLPADDING=4 CELLSPACING=2>
               <TR VALIGN=middle>
                  <TD ALIGN=right></TD>
               </TR>
               <TR>
                  <TD>
                     <TABLE BORDER=0 CELLPADDING=2 CELLSPACING=0>
                        <TR>
                           <TH ALIGN=right> Username: </TH>
                           <TD ALIGN=right>
                              <WEBOBJECT NAME=UsernameField></WEBOBJECT>
                           </TD>
                        </TR>
                        <TR>
                           <TH ALIGN=right> Password: </TH>
                           <TD ALIGN=right>
                              <WEBOBJECT NAME=PasswordField></WEBOBJECT>
                           </TD>
                        </TR>
                        <WEBOBJECT NAME=AssistantConditional>
                        <TR>
                           <TH ALIGN=right> Assistant: </TH>
                           <TD ALIGN=left>
                              <WEBOBJECT NAME=LACheckbox></WEBOBJECT>
                           </TD>
                        </TR>
                        </WEBOBJECT>
                        <TR>
                           <TD COLSPAN=2 ALIGN=right> <BR>
                              <WEBOBJECT NAME=LoginButton></WEBOBJECT>
                           </TD>
                        </TR>
                     </TABLE>
                  </TD>
               </TR>
            </TABLE>
            <BR>
         </CENTER>
      </WEBOBJECT>
   </WEBOBJECT>
</HTML>