<ol id = "menu">
	<li><wo:link directActionName = "PageAction/Main">Main</wo:link></li>
	<li><wo:link directActionName = "PageAction/LiveSearch">Live Search</wo:link></li>
	<li><wo:link directActionName = "PageAction/ToggleDetails">Toggle Details</wo:link></li>
	<li><wo:link directActionName = "PageAction/Calendar">Calendar</wo:link></li>
	<li><wo:link directActionName = "PageAction/AjaxForm">Ajax Form</wo:link></li>
	<li><wo:link directActionName = "PageAction/RowToggle">Row Toggle</wo:link></li>
	<li><wo:link directActionName = "PageAction/AjaxNotifications">Ajax Notifications</wo:link></li>
	<li><wo:link directActionName = "PageAction/ExpensiveUpdates">Expensive Updates</wo:link></li>
	<li><wo:link directActionName = "PageAction/RSSReader">RSS Reader</wo:link></li>
	<li><wo:link directActionName = "PageAction/ClientSideRendering">Client-side Rendering</wo:link></li>
	<li><wo:link directActionName = "PageAction/ModalEditor">Modal Editors</wo:link></li>
	<li><wo:link directActionName = "PageAction/D3PieChart">D3 Pie chart</wo:link></li>
	<li><wo:link directActionName = "PageAction/FoundationAndjQuery">Foundation and jQuery</wo:link></li>
	<li><wo:link directActionName = "SeleniumStartTesting">Selenium Tests</wo:link></li>
</ol>
