<webObject name = "AjaxContainer">
<ul class="tab">
  <webObject name = "TabRepetition">
  	<webObject name = "SelectedTabConditional"><li class="selected"><span><webObject name = "TabName" /></span></li></webObject>
    <webObject name = "NotSelectedTabConditional"><li><webObject name = "HasSubmitAction"><webObject name = "TabName2"><webObject name = "TabName3" /></webObject></webObject><webObject name = "HasNoSubmitAction"><webObject name = "TabLink"><webObject name = "TabName3" /></webObject></webObject></li></webObject>
  </webObject>
</ul>
<div class="tab content"><webObject name = "Content" /></div>
</webObject>