<webobject name="PageWrapper">
	<webobject name="Help">
	</webobject>
	<webobject name="QueryForm">
		<webobject name="QueryTable">
			<webobject name="BannerConditional">
				<tr>
					<td align="center">
						<table border="0">
							<tr>
								<td>
									<webobject name="Banner">
									</webobject>
								</td>
							</tr>
							<webobject name="QueryTableHeaderRow">
								<td align="left">
									<b>
										<webobject name="FontContainer">
											<webobject name="Conditional3">
												<webobject name="Header">
												</webobject>
											</webobject>
											<webobject name="Conditional4">
												<webobject name="Header2">
												</webobject>
											</webobject>
										</webobject>
									</b>
								</td>
							</webobject>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						&nbsp; 
					</td>
				</tr>
			</webobject>
			<tr>
				<td align="left" valign="top">
					<webobject name="QueryPageRepetition">
					</webobject>
				</td>
			</tr>
			<tr>
				<td align="CENTER">
					<webobject name="ShowCancel">
						<webobject name="BackLink">
							<webobject name="ReturnButton">
							</webobject>
						</webobject>
					</webobject>
					<webobject name="QuerySubmitButton">
					</webobject>
					&nbsp; 
				</td>
			</tr>
			<tr valign="top">
				<td align="right" valign="top">
				</td>
			</tr>
			<tr>
				<td align="center">
				</td>
			</tr>
		</webobject>
	</webobject>
	<webobject name="Conditional1">
		<webobject name="Conditional2">
			<webobject name="ListPage">
			</webobject>
		</webobject>
	</webobject>
</webobject>
