<webobject name=PageWrapper><webobject name=Help></webobject><webobject name=QueryForm><webobject name=MainTable>
			<tr valign=top>
				<td align=right valign=top><webobject name=QueryTable><webobject name=BannerConditional>
							<tr>
								<td align=center>
									<table border=0>
										<tr>
											<td><webobject name=Banner></webobject></td>
										</tr>
										<webobject name=QueryTableHeaderRow>
											<td align=left><b><webobject name=FontContainer><webobject name=EntityName></webobject><webobject name=FetchLimitConditional>
														(<webobject name=FetchLimit></webobject>
														max)</webobject></webobject></b></td>
										</webobject>
									</table>
								</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
							</tr>
						</webobject>
						<tr>
							<td align=left valign=top>
								<table cellspacing=2 border=0 cellpadding=2>
									<webobject name=ResourceRepetition><webobject name=QueryTableRow>
											<td align=right valign=middle><webobject name=SwitchComponent1></webobject></td>
											<td align=left valign=middle>&nbsp;
												<webobject name=ResourceInputRepresentation></webobject></td>
										</webobject></webobject>
								</table>
							</td>
						</tr>
					</webobject></td>
			</tr>
			<tr>
				<td align=center><webobject name=ShowCancel><webobject name=BackLink><webobject name=ReturnButton></webobject></webobject></webobject><webobject name=QuerySubmitButton></webobject>&nbsp;</td>
			</tr>
		</webobject></webobject><webobject name=Conditional1><webobject name=Conditional2><webobject name=ListPage></webobject></webobject></webobject></webobject>