{
    attributes = (
        {
            allowsNull = N; 
            columnName = "APP_USER_ID"; 
            externalType = integer; 
            name = appUserID; 
            precision = 9; 
            prototypeName = id; 
        }, 
        {columnName = "USER_NAME"; name = userName; prototypeName = varchar50; }
    ); 
    attributesUsedForLocking = (appUserID, userName); 
    className = "webobjectsexamples.businesslogic.movies.common.AppUser"; 
    classProperties = (userName); 
    externalName = "app_user"; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {
        "_clientClassPropertyNames" = (userName); 
        "_javaClientClassName" = "webobjectsexamples.businesslogic.movies.common.AppUser"; 
    }; 
    maxNumberOfInstancesToBatchFetch = 10; 
    name = AppUser; 
    primaryKeyAttributes = (appUserID); 
}
