<webobject name = "AjaxExampleComponent">
	<style type="text/css">
#leftDropBlock {
	border-style: solid;
	border-color: rgb(0, 0, 0);
	border-width: 2px;
	background-color: rgb(200, 0, 0);
	float: left;
	width: 200px;
	margin: 10px;
	padding: 10px;
}

#rightDropBlock {
	border-style: solid;
	border-color: rgb(0, 0, 0);
	border-width: 2px;
	background-color: rgb(0, 200, 0);
	float: right;
	width: 200px;
	margin: 10px;
	padding: 10px;
}

.draggableItem {
	border-style: solid;
	border-color: rgb(0, 0, 0);
	border-width: 1px;
	background-color: rgb(0, 0, 200);
	color: rgb(255, 255, 255);
	font-weight: bold;
}
	</style>
	
	<webobject name = "BothLists">
		<webobject name = "LeftDropBlock">
			<webobject name = "LeftItemRepetition">
				<webobject name = "DragItem"><webobject name = "DragItemTitle"></webobject></webobject>
			</webobject>
		</webobject>
		
		<webobject name = "RightDropBlock">
			<webobject name = "RightItemRepetition">
				<webobject name = "DragItem"><webobject name = "DragItemTitle"></webobject></webobject>
			</webobject>
		</webobject>
	</webobject>
	
</webobject>