<wo name = "HasPropertyName">
	<wo name = "IsEditing">
		<wo name = "EditingLabelContainer">
			<wo name = "PropertyName" />
		</wo>
	</wo>
	<wo name = "IsInspecting">
		<wo name = "InspectLabelContainer">
			<wo name = "PropertyName" />
		</wo>	
	</wo>
</wo>
<wo name = "DebuggingEnabled">
	<a href = "#">
		<table class = "D2WPropertyDebugInfo">
			<wo name="ContextDictionaryRepetition">
				<tr>
					<th><webobject name="CurrentKey" /></th>
					<td><webobject name="CurrentValue" /></td>
				</tr>
			</wo>				
		</table>
	</a>
</wo>