{
    attributes = (
        {
            columnName = groupID; 
            externalType = int; 
            name = groupID; 
            precision = 38; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = name; 
            externalType = varchar; 
            name = name; 
            valueClassName = NSString; 
            valueType = S; 
            width = 80; 
        }, 
        {
            allowsNull = Y; 
            columnName = parentGroupID; 
            externalType = int; 
            name = parentGroupID; 
            precision = 38; 
            valueClassName = NSNumber; 
            valueType = i; 
        }
    ); 
    attributesUsedForLocking = (groupID, name, parentGroupID); 
    className = Group; 
    classProperties = (name, parentGroup, persons, subGroups); 
    externalName = GROUPS; 
    fetchSpecificationDictionary = {}; 
    name = Group; 
    primaryKeyAttributes = (groupID); 
    relationships = (
        {
            destination = Group; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = groupID; sourceAttribute = parentGroupID; }); 
            name = parentGroup; 
        }, 
        {
            destination = Person; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = groupID; sourceAttribute = groupID; }); 
            name = persons; 
        }, 
        {
            destination = Group; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = parentGroupID; sourceAttribute = groupID; }); 
            name = subGroups; 
        }
    ); 
}
