{
    attributes = (
        {
            allowsNull = Y; 
            columnName = EMAIL; 
            externalType = varchar; 
            name = email; 
            userInfo = {modificationDate = "2001-11-05 10:12:39 +0000"; }; 
            valueClassName = NSString; 
            valueType = S; 
            width = 255; 
        }, 
        {
            allowsNull = Y; 
            columnName = groupID; 
            externalType = int; 
            name = groupID; 
            precision = 38; 
            userInfo = {modificationDate = "2001-11-05 10:12:39 +0000"; }; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = NAME; 
            externalType = varchar; 
            name = name; 
            userInfo = {modificationDate = "2001-11-05 10:12:39 +0000"; }; 
            valueClassName = NSString; 
            valueType = S; 
            width = 40; 
        }, 
        {
            allowsNull = Y; 
            columnName = notes; 
            externalType = varchar; 
            name = notes; 
            valueClassName = NSString; 
            width = 255; 
        }, 
        {
            columnName = PASSWD; 
            externalType = varchar; 
            name = password; 
            userInfo = {modificationDate = "2001-11-05 10:12:39 +0000"; }; 
            valueClassName = NSString; 
            valueType = S; 
            width = 20; 
        }, 
        {
            columnName = "PRIMARY_KEY"; 
            externalType = int; 
            name = primaryKey; 
            precision = 38; 
            userInfo = {modificationDate = "2001-11-05 10:12:39 +0000"; }; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = TYPE; 
            externalType = varchar; 
            name = type; 
            userInfo = {modificationDate = "2001-11-05 10:12:39 +0000"; }; 
            valueClassName = NSString; 
            valueType = S; 
            width = 20; 
        }, 
        {
            columnName = "USER_ID"; 
            externalType = varchar; 
            name = userID; 
            userInfo = {modificationDate = "2001-11-05 10:12:39 +0000"; }; 
            valueClassName = NSString; 
            valueType = S; 
            width = 40; 
        }
    ); 
    attributesUsedForLocking = (type, password, name, groupID, userID, email, primaryKey); 
    className = Person; 
    classProperties = (name, password, type, dates, email, yearlyData, userID, group, notes); 
    externalName = PERSONS; 
    name = Person; 
    primaryKeyAttributes = (primaryKey); 
    relationships = (
        {
            deleteRule = EODeleteRuleCascade; 
            destination = VacationEvent; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = personId; sourceAttribute = primaryKey; }); 
            name = dates; 
            ownsDestination = Y; 
            userInfo = {modificationDate = "2001-11-05 10:12:39 +0000"; }; 
        }, 
        {
            destination = Group; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = groupID; sourceAttribute = groupID; }); 
            name = group; 
        }, 
        {
            deleteRule = EODeleteRuleCascade; 
            destination = YearlyData; 
            isMandatory = Y; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = personID; sourceAttribute = primaryKey; }); 
            name = yearlyData; 
            ownsDestination = Y; 
            propagatesPrimaryKey = Y; 
            userInfo = {modificationDate = "2001-11-05 11:33:35 +0000"; }; 
        }
    ); 
    userInfo = {modificationDate = "2001-11-06 11:42:56 +0000"; }; 
}
