{
    attributes = (
        {
            columnName = "PERSON_ID"; 
            externalType = int; 
            name = personID; 
            precision = 38; 
            userInfo = {modificationDate = "2001-11-05 10:12:39 +0000"; }; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "VACATION_CO"; 
            externalType = int; 
            name = vacationCarryOver; 
            precision = 38; 
            userInfo = {modificationDate = "2001-11-05 10:12:39 +0000"; }; 
            valueClassName = NSNumber; 
            valueType = d; 
        }, 
        {
            columnName = "VACATION_ENT"; 
            externalType = int; 
            name = vacationEntitled; 
            precision = 38; 
            userInfo = {modificationDate = "2001-11-05 10:12:39 +0000"; }; 
            valueClassName = NSNumber; 
            valueType = d; 
        }, 
        {
            columnName = YEAR; 
            externalType = int; 
            name = year; 
            precision = 38; 
            userInfo = {modificationDate = "2001-11-05 10:12:39 +0000"; }; 
            valueClassName = NSNumber; 
            valueType = i; 
        }
    ); 
    attributesUsedForLocking = (personID, vacationCarryOver, vacationEntitled, year); 
    className = YearlyData; 
    classProperties = (vacationCarryOver, vacationEntitled, year, person); 
    externalName = "YEARLY_DATA"; 
    name = YearlyData; 
    primaryKeyAttributes = (personID, year); 
    relationships = (
        {
            destination = Person; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = primaryKey; sourceAttribute = personID; }); 
            name = person; 
            userInfo = {modificationDate = "2001-11-05 13:26:04 +0000"; }; 
        }
    ); 
    userInfo = {modificationDate = "2001-11-06 12:26:57 +0000"; }; 
}
