<webobject name = "AjaxExampleComponent">
<h1>The Old Way</h1>
<p>
<i>Above <webobject name = "Timestamp"/></i>
</p>
<div id = "content">
    <webobject name = "HelloWorld"/>
    <br/>
    <webobject name = "UpdateLink">update</webobject>
</div>
<p>
<i>Below <webobject name = "Timestamp"/></i>
</p>
<h1>The New Way</h1>
<p>
<i>Above <webobject name = "Timestamp"/></i>
</p>
<webobject name = "UpdateArea">
    <webobject name = "HelloWorld"/>
    <br/>
    <webobject name = "AjaxUpdateLink">update</webobject>
</webobject>
<p>
<i>Below <webobject name = "Timestamp"/></i>
</p>
</webobject>