<webobject name = "PageWrapper">
<h1>Did You Mean...</h1>
<webobject name = "PrimeIndexLink">Prime Index</webobject>
<div id="SearchWrapper">
	<wo:form>
		<h4>Search</h4>
		<wo:textfield class="textfield" value="$searchString"/> <wo:submit value="Search" action="$searchAction"></wo:submit>
	</wo:form>
	<wo:if condition="$suggestion">
		<em>Did you mean: <wo:link action="$useSuggestionAction"><wo:str value="$suggestion"/></wo:link></em>
	</wo:if>
	<table>
		<tr><th>Index</th><th>Title</th><th>Rank</th></tr>
		<wo:if condition = "$foundScoreDocsCount">
		<wo:loop count = "$foundScoreDocsCount" index = "$foundSetIndex">
			<tr><td><wo:str value="$foundSetIndex" /></td><td><wo:str value="$currentDocument.title//VALID" /></td><td><wo:str value="$currentDocument.score" /></td></tr>
		</wo:loop>
		</wo:if>
		<wo:if condition = "$foundScoreDocsCount" negate="$true">
			<tr><td>-</td><td><em>No Results Found</em></td><td>-</td></tr>
		</wo:if>
	</table>
</div>
</webobject>