<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
	<head>
		<title>Event Logging Setup Page</title>
	</head>
	<body>
		
		<webobject name=Conditional1> <U><B><FONT SIZE=6>WOEvent Logging Setup</FONT></B></U>
			<P/><webobject name=Hyperlink2>Show Event Log</webobject><b><font size=6><br/>
			</font></b><font size=4>You have the following classes registered for
			logging:</font><webobject name=LogClassListForm>
				<table>
					<webobject name=ClassLoop><webobject name=CategoryLoop>
							<tr>
								<td><webobject name=IsClassName>
										<webobject name=IsClassSelected></webobject>
									</webobject><webobject name=IsNotClassName>&nbsp;</webobject></td>
								<td><webobject name=ClassOrCategoryName></webobject></td>
							</tr>
						</webobject>
						<tr>
							<td>&nbsp;</td>
							<td>
								<hr/>
							</td>
						</tr>
					</webobject>
				</table>
				<P/>
				<webobject name=SelectAllButton></webobject>&nbsp;&nbsp;&nbsp;<webobject name=ClearAllButton></webobject>&nbsp;&nbsp;&nbsp;<webobject name=SetAsSelected></webobject>
				<P/>
				<webobject name=Hyperlink1>Show Event Log</webobject></webobject>
		</webobject><webobject name=Conditional2><h2 ALIGN=CENTER><FONT COLOR=#ff0000>This Request Requires A User
			Login</FONT></h2><br/>
			<WEBOBJECT NAME=Form1>
				<TABLE CELLPADDING="2" BORDER="1" BGCOLOR="#f6ffff" ALIGN="CENTER" CELLSPACING="0">
						<TR>
							<TD>
								<TABLE BORDER=0 WIDTH="80%">
									<TR align=CENTER>
										<TD> User </TD>
										<TD>
											<WEBOBJECT NAME="USERNAME"></WEBOBJECT>
										</TD>
									</TR>
									<TR align=CENTER>
										<TD> Password </TD>
										<TD>
											<WEBOBJECT NAME="PASSWORD"></WEBOBJECT>
										</TD>
									</TR>
									<TR>
										<TD></TD>
										<TD><WEBOBJECT NAME=SUBMIT></WEBOBJECT></TD>
									</TR>
								</TABLE>
							</TD>
						</TR>
					</TABLE>
				<br/>
			</WEBOBJECT></webobject>
		<p/>
	</body>
</html>
