<h2 id="webobjects_logo"><span>WebObjects</span></h2>

      <webobject name="HasValidSession">
      	
      	<h3 class="section">Entities:</h3>
      	<ul class="action">
      	<webobject name="EntitiesRepetition">
      		<li>
				<webobject name="FindButton"><webobject name="FindString" /></webobject>
				<webobject name="FindButton1"></webobject>
				<webobject name="NewButton"></webobject>	
			</li>
      	</webobject>
      	</ul>

      </webobject>

	<div class="link"><webobject name="HomeLink"><span>Home</span></webobject></div>
	<div class="link"><webobject name="ToggleLookLink"><span>Toggle Theme</span></webobject></div>
