<webobject name=ERXOncePerRequestConditional1><iframe name="RSIFrame" id="RSIFrame" style="border:0px;width:0px;height:0px;" src="about:blank"></iframe><script language="javascript">
function <webobject name=Name></webobject>RPC(<webobject name=Repetition1><webobject name=String1></webobject>,</webobject>callback) {
        var AMP = \u0026;
	var url = "<webobject name=URL></webobject>" <webobject name=Repetition1> + AMP + "<webobject name=String1></webobject>=" + escape(<webobject name=String1></webobject>)</webobject> + AMP + "callback=" + escape(callback);
	//alert("url="+url);
        var nav = navigator.userAgent;

	var frame;
	if(!frame) { if(document.frames) { frame = document.frames["RSIFrame"] } }
	if(!frame) frame = document.getElementById("RSIFrame");
        var loc = null;
	if(nav.indexOf("Gecko") != -1) loc = frame.contentDocument.location;
	else if(nav.indexOf("Safari") != -1) loc = frame.location;
	else if(nav.indexOf("MSIE") != -1) { if (nav.indexOf("Mac") != -1) { loc = frame.document.location; } }
	else loc = frame.document.location;
        if(loc) {
        	if (loc.replace) {
        		 loc.replace(url);
        	}
        }
        if(loc) {
        	if (!loc.replace) {
        		loc = url;
        	}
        }
	return false
}
</script>
</WEBOBJECT><webobject name=ComponentContent1></webobject>
