<div class="ChartSelection">
	<ul>
		<webobject name=Repetition1>
			<li><webobject name=ChartClassLabel></webobject>:<ul>
					<webobject name=Repetition3>
						<li><webobject name=Hyperlink1><webobject name=ChartTypeLabel></webobject></webobject>
					</webobject>
				</ul>
			</li>
		</webobject>
	</ul>
</div>
<hr size="1" />
<div>
	<webobject name=HasAttributes><webobject name=depthList><webobject name=attribs>
				<webobject name=Conditional2>
					<p><webobject name=String1></webobject></p>
				</webobject><webobject name=Conditional1><webobject name=AttributeChart></webobject></webobject>
			</webobject></webobject></webobject><webobject name=HasNoAttributes><webobject name=GroupChart></webobject></webobject>
</div>