<webobject name = "PageWrapper">
  <webobject name = "Help" />
  <h1 class = "task list simple">
    <span>List</span>
  </h1>
  <h2 class = "entity list simple"><webobject name = "EntityName" /></h2>
  <webobject name = "UpdateContainer">
    <webobject name = "NavBar">
      <webobject name = "ShowQuickSearch"><webobject name = "QuickSearch" /></webobject>
    </webobject>
    <webobject name = "ListNotEmpty">
     
     <webobject name = "EOList">
     	<webobject name = "EORepetition">
     	<li>
     	<webobject name = "InspectLink">
 			<webobject name = "AttributeRepetition"><webobject name = "AttributeDisplay" /></webobject>
 		</webobject>
 		<webobject name = "CanDelete"><webobject name = "Trash" /></webobject>
     	</li>
     	</webobject>
     </webobject>
       
    </webobject>
    <webobject name = "NavBar2">
      <ul>
        <li class = "back">
          <webobject name = "BackLink">
   			<span>Back</span>
		  </webobject>
        </li>
        <webobject name = "ShowAdd">
          <li class = "add"><webobject name = "AddButton">Add</webobject></li>
        </webobject>
      </ul>
    </webobject>
  </webobject>
</webobject>