<webobject name = "PageWrapper">
	<webobject name = "ContentWrapper">
		<webobject name = "HasObjects">
			<webobject name = "ShowNav">
				<webobject name = "NavBar"><webobject name = "FilteringComponent"/></webobject>
			</webobject>
			<webobject name = "ObjectRepetition"/>
		</webobject>
		<webobject name = "ListEmpty">
			<webobject name = "EmptyMessageComponent"/>
		</webobject>
	</webobject>
	<webobject name = "DisplayQuery"><webobject name = "QueryComponent" /></webobject>
	<webobject name = "DisplayList"><webobject name = "ListComponent" /></webobject>
	<webobject name = "DisplayInspect"><webobject name = "InspectComponent" /></webobject>
</webobject>