<webobject name = "NavPage">
<p align = "right">
  <webobject name = "ReturnLink">
    <webobject name = "DetailViewButton" />
  </webobject>
</p>
<font size = "+1">
  <b>
    Configuring Instance "
    <font size = "+1">
      <webobject name = "InstName" />
    </font>
    " on
    <font size = "+1">
      <webobject name = "String1" />
    </font>
  </b>
</font>
<br />
The Instance must be restarted for changes to take effect.<br></br>
<font size = "-1">
  (Changes to these settings only affect this instance;
  <br />
  to affect all instances, use the
  <webobject name = "AppConfigureLink">Application Configure Page</webobject>
  )
  <br></br>
</font>
<p align = "CENTER">
  <font color = "#FF0000">
    <webobject name = "WarningMessage" />
  </font>
</p>
<br></br>
<table border = "1" cellpadding = "10" cellspacing = "1" width = "95%">
  <tr>
    <td>
      <center>
        <font size = "+1">
          <b>Instance Settings</b>
        </font>
        <br></br>
        <webobject name = "ArgumentsForm">
          <table border = "1" cellpadding = "2" cellspacing = "2" width = "90%">
            <tr>
              <td align = "RIGHT">Port:</td>
              <td>
                <webobject name = "Port" />
                (The instance must be off to change this setting)              </td>
            </tr>
            <tr>
              <td align = "RIGHT">ID:</td>
              <td>
                <webobject name = "TextField1" />
              </td>
            </tr>
            <webobject name = "isWindowsHost">
              <tr>
                <td>&nbsp;</td>
                <td>
                  <font size = "-1">
                    <b>Note:</b>
                    This instance is on a Microsoft Windows host. 
       				       		A drive letter (e.g. "D:") may be required to create a valid path.
                  </font>
                </td>
              </tr>
            </webobject>
            <tr>
              <td align = "RIGHT">
                <webobject name = "pathDiff" />
                Path*:              </td>
              <td>
                <webobject name = "Path" />
                <webobject name = "PathPickerWizardLink">
                  <webobject name = "PathWizardImage" />
                </webobject>
              </td>
            </tr>
            <tr>
              <td align = "RIGHT">
                <webobject name = "minDiff" />
                Minimum Active Sessions:              </td>
              <td>
                <webobject name = "TextField2" />
              </td>
            </tr>
            <tr>
              <td align = "RIGHT">
                <webobject name = "cachingDiff" />
                Caching enabled:              </td>
              <td>
                <webobject name = "Caching" />
              </td>
            </tr>
            <tr>
              <td align = "RIGHT">
                <webobject name = "outputDiff" />
                Output Path:              </td>
              <td>
                <webobject name = "OutputPath" />
                <webobject name = "PathPickerWizardLink2">
                  <webobject name = "PathWizardImage2" />
                </webobject>
              </td>
            </tr>
            <tr>
              <td align = "RIGHT">
                <webobject name = "browserDiff" />
                Auto Open In Browser:              </td>
              <td>
                <webobject name = "CheckBox2" />
              </td>
            </tr>
            <tr>
              <td align = "RIGHT">
                <webobject name = "debugDiff" />
                Debugging enabled:              </td>
              <td>
                <webobject name = "DebuggingEnabled" />
              </td>
            </tr>
            <tr>
              <td align = "RIGHT">
                <webobject name = "lifebeatDiff" />
                Lifebeat Interval:              </td>
              <td>
                <webobject name = "TextField3" />
              </td>
            </tr>
            <tr>
              <td align = "RIGHT" valign = "TOP">
                <webobject name = "argsDiff" />
                Additional
                <br />
                Arguments:
              </td>
              <td>
                <webobject name = "AdditionalArguments" />
              </td>
            </tr>
          </table>
          <font size = "-1">* The path of the executable (inside the '.woa' directory).</font>
          <font size = "-1">
            <font color = "#FF0000">**</font>
            Setting differs from the Application level setting.          </font>
          <br />
          <br></br>
          <webobject name = "InstanceSettingsSubmit" />
          <br />
          <br />
          With the current settings, this instance will be started with the following arguments:
          <br></br>
          <table border = "1" cellpadding = "8" bgcolor = "#E0E0F0">
            <tr>
              <td>
                <tt>
                  <webobject name = "CommandLineString" />
                </tt>
              </td>
            </tr>
          </table>
        </webobject>
      </center>
    </td>
  </tr>
</table>
<br></br>
<table border = "1" cellpadding = "10" cellspacing = "1" width = "95%">
  <tr>
    <td>
      <center>
        <font size = "+1">
          <b>Adaptor Settings</b>
        </font>
        <br></br>
        <webobject name = "AdaptorSettingsForm">
          <table cellpadding = "2" cellspacing = "2" border = "1">
            <tr>
              <td align = "RIGHT">Send timeout:</td>
              <td>
                <webobject name = "SendTimeoutField" />
              </td>
            </tr>
            <tr>
              <td align = "RIGHT">Receive timeout:</td>
              <td>
                <webobject name = "ReceiveTimeoutField" />
              </td>
            </tr>
            <tr>
              <td align = "RIGHT">Connect timeout:</td>
              <td>
                <webobject name = "ConnectTimeoutField" />
              </td>
            </tr>
            <tr>
              <td align = "RIGHT">Send Buffer Size:</td>
              <td>
                <webobject name = "PoolsizeField" />
              </td>
            </tr>
            <tr>
              <td align = "RIGHT">Receive Buffer Size:</td>
              <td>
                <webobject name = "TextField4" />
              </td>
            </tr>
          </table>
          <br></br>
          <webobject name = "UpdateAdaptorButton" />
        </webobject>
      </center>
    </td>
  </tr>
</table>
<br></br>
<table border = "1" cellpadding = "10" cellspacing = "1" width = "95%">
  <tr>
    <td>
      <center>
        <font size = "+1">
          <b>Force Quit</b>
        </font>
        <br></br>
        <webobject name = "ForceQuitForm">
          Clicking this button will force quit this instance.
          <br />
          The instance will do no error handling, nor will it attempt to finish processing requests in progress.
          <br />
          This only works on 5.2 applications or above.
          <br />
          The instance should exit within
          <webobject name = "lifebeatIntervalString" />
          seconds.
          <br></br>
          <br></br>
          <webobject name = "ForceQuitButton" />
        </webobject>
      </center>
    </td>
  </tr>
</table>
</webobject>