<webobject name = "NavPage">
<div class="Box ApplicationNameBox">
    <h1>Configuring Instance "<webobject name = "InstName" />" on <webobject name = "String1" /></h1>
    <div class="DetailViewButtonWrapper">
  		<webobject name="ReturnLink">Detail View</webobject>
  	</div>
  	<div class="TextBox">
	<p>The Instance must be restarted for changes to take effect.</p>
	<p class="Comment">(Changes to these settings only affect this instance; for all instances, use the <webobject name = "AppConfigureLink">Application Configure Page</webobject>)</p>
	</div>
</div>
<div class="Box InstanceSettingsBox">
	<h2 class="SectionHeading">Instance Settings</h2>
        <webobject name = "ArgumentsForm">
          <table class="FormFieldTable">
            <tr><th>Port:</th>
              <td><webobject name = "Port" /> <span class="Comment">(The instance must be off to change this setting)</span></td>
            </tr>
            <tr><th>ID:</th>
              <td><webobject name = "TextField1" /></td>
            </tr>
            <webobject name = "isWindowsHost">
              <tr><th>&nbsp;</th>
                <td><p class="Comment"><b>Note:</b> This instance is on a Microsoft Windows host. A drive letter (e.g. "D:") may be required to create a valid path.</p></td>
              </tr>
            </webobject>
            <tr>
              <th><webobject name = "pathDiff" />Path*:</th>
              <td><div class="PathPicker"><div class="PathPickInner"><webobject name = "Path" /></div><webobject name = "PathPickerWizardLink"><span>Pick...</span></webobject></div></td>
            </tr>
            <tr>
              <th><webobject name = "minDiff" />Minimum Active Sessions:</th>
              <td><webobject name = "TextField2" /></td>
            </tr>
            <tr>
              <th><webobject name = "cachingDiff" />Caching enabled:</th>
              <td><webobject name = "Caching" /></td>
            </tr>
            <tr>
              <th><webobject name = "outputDiff" />Output Path:</th>
              <td><div class="PathPicker"><div class="PathPickInner"><webobject name = "OutputPath" /></div><webobject name = "PathPickerWizardLink2"><span>Pick...</span></webobject></div></td>
            </tr>
            <tr>
              <th><webobject name = "browserDiff" />Auto Open In Browser:</th>
              <td><webobject name = "CheckBox2" /></td>
            </tr>
            <tr>
              <th><webobject name = "debugDiff" />Debugging enabled:</th>
              <td><webobject name = "DebuggingEnabled" /></td>
            </tr>
            <tr>
              <th><webobject name = "lifebeatDiff" />Lifebeat Interval:</th>
              <td><webobject name = "TextField3" /></td>
            </tr>
            <tr>
              <th valign = "TOP">
                <webobject name = "argsDiff" />
                Additional
                <br />
                Arguments:
              </th>
              <td>
                <webobject name = "AdditionalArguments" />
              </td>
            </tr>
          </table>
          <p>* The path of the executable (inside the '.woa' directory). <span  class = "Warning">**</span> Setting differs from the Application level setting.</p>
          <p><webobject name = "InstanceSettingsSubmit" /></p>
          <p>With the current settings, this instance will be started with the following arguments:</p>
		  <div class="CurrentParameters"><code><webobject name = "CommandLineString" /></code></div>
        </webobject>
</div>
<div class="Box AdaptorSettingsBox">
	<h2 class="SectionHeading">Adaptor Settings</h2>
        <webobject name = "AdaptorSettingsForm">
          <table class="FormFieldTable">
            <tr>
            	<th>Send timeout:</th>
              <td><webobject name = "SendTimeoutField" /></td>
            </tr>
            <tr>
              <th>Receive timeout:</th>
              <td><webobject name = "ReceiveTimeoutField" /></td>
            </tr>
            <tr>
              <th>Connect timeout:</th>
              <td><webobject name = "ConnectTimeoutField" /></td>
            </tr>
            <tr>
              <th>Send Buffer Size:</th>
              <td><webobject name = "PoolsizeField" /></td>
            </tr>
            <tr>
              <th>Receive Buffer Size:</th>
              <td><webobject name = "TextField4" /></td>
            </tr>
          </table>
          <p><webobject name = "UpdateAdaptorButton" /></p>
        </webobject>
</div>
<div class="Box ForceQuitBox">
<h2 class="SectionHeading">Force Quit</h2>
          <p>Clicking this button will force quit this instance.</p>
          <p>The instance will do no error handling, nor will it attempt to finish processing requests in progress.</p>
          <p>The instance should exit within <webobject name = "lifebeatIntervalString" /> seconds.</p>
        <webobject name = "ForceQuitForm">
          <p><webobject name = "ForceQuitButton" /></p>
        </webobject>
        <p class="Comment">This only works on 5.2 applications or above.</p>
</div>
</webobject>