<webobject name="EntitiesForm">
   <table border="0" cellpadding="4" cellspacing="0">
      <webobject name="HasValidSession">
         <tr valign="middle" align="center">
            <td valign="middle" align="left">
               <b>Entities:</b><br>
               <webobject name="EntitiesPopup"></webobject>
            </td>
         </tr>
         <tr valign="middle" align="center">
            <td valign="middle" align="center">
               <webobject name="FindButton"></webobject>
            </td>
         </tr>
         <tr valign="middle" align="center">
            <td valign="middle" align="center">
               <webobject name="NewButton"></webobject>
            </td>
         </tr>
         <tr>
            <td>
               <hr width="50">
            </td>
         </tr>
         <tr valign="middle" align="center">
            <td align="center" valign="middle">
               <webobject name="HomeLink"><webobject name="HomeButton"></webobject></webobject></td>
         </tr>
         <tr>
            <td align="center" valign="middle"><webobject name="LoginLink"><webobject name="LoginButton"></webobject></webobject></td>
         </tr>
         <webobject name="LAEnabledConditional">
            <tr>
               <td align="center" valign="middle"><webobject name="CustomizeLink"><webobject name="CustomizeButton"></webobject></webobject></td>
            </tr>
         </webobject>
         <tr>
            <td>&nbsp;</td>
         </tr>
         <tr>
            <td>&nbsp;</td>
         </tr>
         <tr>
         <td></td></tr>
      </webobject>
   </table>
</webobject>
<webobject name="RemoteControl"></webobject>