{
    attributes = (
        {
            columnName = ID; 
            externalType = int; 
            name = id; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = KEY; 
            externalType = char; 
            name = key; 
            valueClassName = NSString; 
            width = 128; 
        }, 
        {
            columnName = USER_ID; 
            externalType = int; 
            name = userID; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = VALUE; 
            externalType = char; 
            name = value; 
            valueClassName = NSString; 
            width = 500; 
        }
    ); 
    attributesUsedForLocking = (id, key, userID); 
    className = EOGenericRecord; 
    classProperties = (key, value, user); 
    externalName = PREFERENCE; 
    fetchSpecificationDictionary = {}; 
    name = Preference; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            destination = User; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = userID; }); 
            name = user; 
        }
    ); 
}
