<webobject name="UsingTablesConditional">
    <webobject name="MeetsDisplayConditions">
		<webobject name="Td">
    		<webobject name="contextComponentActionURL"><webobject name="displayName"></webobject></webobject>
    		<webobject name="hasActivityAndIsEnabled">
    			<webobject name="NewMarker"></webobject>
    		</webobject>
    		<webobject name="hasNoActivityAndIsEnabled"></webobject>
    	</webobject>
	</webobject>
</webobject>

<webobject name="NotUsingTablesConditional">
	<webobject name="MeetsDisplayConditions">
    	<webobject name="li">
			<webobject name="contextComponentActionURL"><webobject name="displayName"></webobject></webobject>
    		<webobject name="hasActivityAndIsEnabled">
                    <webobject name="NewMarker"></webobject>
    		</webobject>
    		<webobject name="hasNoActivityAndIsEnabled"></webobject>
		</webobject>
	</webobject>
</webobject>
