<wo:PageWrapper title="Make a New Group">
	<wo:ERXWOTemplate templateName="breadcrumb">
		<li><wo:ERXDataHyperlink pageName="SPHomePage">Home</wo:ERXDataHyperlink></li>
	</wo:ERXWOTemplate>
	
	<div class="panel">
		<div class="title">
			<wo:if condition="$group.isNewObject">Make a New Group</wo:if>
			<wo:else><wo:str value="$group.name"/></wo:else>
		</div>
		
		<div class="contents">
			<wo:form>
				<div class="row">
					<span class="label">Group Name</span>
					<wo:textfield value="$group.name"/>
				</div>
								
				<div class="row">
					<span class="label">Description</span>
					<wo:textfield value="$group.description"/>
				</div>
				
				<!-- 
				<div class="row">
					<span class="label">Join Code</span>
					<wo:textfield value="$group.groupPassword"/>
					<div class="explanation">a join code is a code you can give out to your friends so they can join your group</div>
				</div>
				-->

				<div class="row">
					<wo:submit action="$addGroup" value="Do It"/> or <wo:ERXDataHyperlink pageName="SPHomePage">cancel</wo:ERXDataHyperlink>
				</div>
			</wo:form>
		</div>
	</div>
</wo:PageWrapper>