<WEBOBJECT name=NavPage></WEBOBJECT>
	<P ALIGN=CENTER><FONT COLOR=#FF0000><WEBOBJECT NAME=ErrorMsg></WEBOBJECT></FONT></P>
       	<TABLE BORDER=1 CELLPADDING=10 CELLSPACING=1 WIDTH=95%>
       		<TR>
       			<TD>
       				<CENTER>
			       	<FONT SIZE=+1><B>
					Configuring Host "<FONT SIZE=+1><WEBOBJECT name=HostName></WEBOBJECT></FONT>"
				</B></FONT>
       				<WEBOBJECT name=HostSettingsForm>
					The Host Type  determines the Path and OutputPath settings for an instance. The defaults are set at the application level. Changing the Type of this host will not automatically cause instances to update their Path and OutputPath settings. The new settings can be pushed from the Applications page. <BR><BR>
					Select the new Host Type: <WEBOBJECT NAME=HostTypePopup></WEBOBJECT><BR>
					<BR>
					<WEBOBJECT NAME=HostConfigureButton></WEBOBJECT>
				</WEBOBJECT>
       				</CENTER>
       			</TD>
       		</TR>
       	</TABLE>
	<P></P>
       	<TABLE BORDER=1 CELLPADDING=10 CELLSPACING=1 WIDTH=95%>
       		<TR>
       			<TD>
       				<CENTER>
			       	<FONT SIZE=+1><B>
					Synchronize Host "<FONT SIZE=+1><WEBOBJECT name=HostName></WEBOBJECT></FONT>"
				</B></FONT>
       				<WEBOBJECT name=HostSyncForm>
					If this host is behaving strangely, it is possible that the host's configuration information is out of sync with the rest of your site or Monitor. Click the button to try to resync configuration information. <BR><BR>
					<WEBOBJECT NAME=HostSyncButton></WEBOBJECT>
				</WEBOBJECT>
       				</CENTER>
       			</TD>
       		</TR>
       	</TABLE>

</CENTER>
  </TD></TR>
</TABLE>
</CENTER>

</BODY>
</HTML>
