<webobject name="ERXOncePerRequest"><script>
function ERD2WFlyOverCustomComponent_getPos(obj) {
    var pos = new Object(), save = obj;
    pos.left = 0;
    pos.top = 0;
    pos.width = obj.offsetWidth;
    pos.height = obj.offsetHeight;

    while(obj.offsetParent) {
        if(obj.offsetParent) {
            pos.left += obj.offsetLeft;
            pos.top += obj.offsetTop;
        }
        obj = obj.offsetParent;
    }

    if(navigator.appVersion.indexOf("Mac")!=-1 && 0) {
        pos.left -= document.body.leftMargin - 7;
        pos.top -= document.body.topMargin - 9;
        pos.width += 4;
        pos.height += 4;
    }
    return pos;
}

</script>
</webobject><webobject name=Link><webobject name=NoLabel><webobject name=Display></webobject></webobject><webobject name=Conditional2><webobject name=Label></webobject></webobject></webobject><webobject name=Span>
	<table cellpadding=2 border=1 cellspacing=2 bgcolor="white">
		<webobject name=Loop>
			<tr>
				<td><b><webobject name=String1></webobject></b></td>
				<td><webobject name=SwitchComponent1></webobject></td>
			</tr>
		</webobject>
	</table>
</webobject>
