<webobject name=PageWrapper><webobject name=Help></webobject>
	<table cellspacing=0 border=0 cellpadding=0>
		<tr>
			<td colspan=2><webobject name=ERDBannerComponent2></webobject><webobject name=Header></webobject></td>
		</tr>
		<webobject name=InspectTableHeaderRow>
			<td align=left><webobject name=FontContainer><b><webobject name=EntityName></webobject></b></webobject></td>
			<td align=RIGHT><webobject name=Conditional1>&nbsp;&nbsp;<webobject name=Image1></webobject></webobject><webobject name=Conditional2><webobject name=ERPrinterButton></webobject></webobject></td>
		</webobject>
		<webobject name=EditingForm>
			<tr>
				<td align=CENTER valign=top colspan=2><webobject name=Errors></webobject></td>
			</tr>
			<tr>
				<td valign=top align=center valign=top colspan=2>
					<webobject name=InspectPageRepetition></webobject></td>
			</tr>
			<tr>
				<td colspan=2>
					<table cellspacing=0 align=CENTER cellpadding=0 border=0>
						<tr>
							<td align=center><webobject name=IsEditingConditional>
									<webobject name=CancelLink><webobject name=CancelButton></webobject></webobject>
								</webobject><webobject name=IsNotEditingConditional>
									<webobject name=ShowCancel><webobject name=ReturnLink><webobject name=ReturnButton></webobject></webobject></webobject>
								</webobject></td>
							<webobject name=IsEntityWritable>
								<td align=right></td>
							</webobject>
							<td align=left><webobject name=IsEntityWritable2><webobject name=IsNotEditingConditional2>
										<webobject name=EditLink><webobject name=EditImage></webobject></webobject>
									</webobject></webobject><webobject name=IsEditingConditional2>
									<webobject name=SubmitChanges></webobject>
								</webobject></td>
						</tr>
					</table>
				</td>
			</tr>
		</webobject>
	</table>
</webobject>