<!--webobject name=Custom1></webobject--><script>
<webobject name="Array"></webobject>
function Entity(n,id,uid,ch,sel,def) {
    this.name = n;
    this.id = id;
    this.uid = uid;
    this.children = ch;
    this.isSelected = sel;
    this.defaultSubItem = def;
}
function ERXJSPopupRelationshipPicker_compareObjects(a, b) {
    if(a.name.toLowerCase() < b.name.toLowerCase()) return -1;
    if(a.name == b.name) return 0;
    return 1;
}
function ERXJSPopupRelationshipPicker_updateSelectControl(selectControl, objects, allString) {
    var hasSelection = false;
    var offset = 0;
    var matches =  new Object();
    if(selectControl.options != null) {
		for (var i=0; i < selectControl.options.length; i++) {
            selectControl.options[i] = null;
        }
        selectControl.options.length = 1;
        // add "- all -" option if present
		if (allString != null) {
            selectControl.options[0] = new Option(allString, "WONoSelectionString", false, false);
            offset = 1;
        }
        var j = 0;
        for (var i=0; i < objects.length; i++) {
            var entity = objects[i];
            if(matches[entity.uid] == undefined) {
            	selectControl.options[j+offset] = new Option(entity.name, entity.id, false, false);
            	if (entity.isSelected) {
                	selectControl.options[j+offset].selected = true;
                	hasSelection = true;
            	}
            	matches[entity.uid] = entity.uid;
            	j++;
            }
        }
        if(selectControl.options.length > 0 && !hasSelection) {
            selectControl.options[0].selected = true;
        }
   }
}
function ERXJSPopupRelationshipPicker(objects, parentControl, parentStringForAll, childControl, childStringForAll) {
    this.objects = objects;
    this.parentControl = parentControl;
    this.childControl = childControl;
    this.parentStringForAll = parentStringForAll;
    this.childStringForAll = childStringForAll;
    ERXJSPopupRelationshipPicker_updateSelectControl(this.parentControl,this.objects,this.parentStringForAll);
	var children = new Array();
	var hasSelection = false;
	for(var i = 0; i < this.objects.length; i++) {
		var parent = this.objects[i];
		if(parent.isSelected) {
			children = children.concat(parent.children);
			hasSelection = true;
		}
	}
	if(!hasSelection) {
		children = this.allChildren();
	}
	ERXJSPopupRelationshipPicker_updateSelectControl(this.childControl,children,this.childStringForAll);
}
ERXJSPopupRelationshipPicker.prototype.parentForId = function(id) {
    for(var i = 0; i < this.objects.length; i++) {
        if (this.objects[i].id == id) {
            return this.objects[i];
        }
    }
    return null;
}
ERXJSPopupRelationshipPicker.prototype.parentIdForChildId = function(id) {
    for(var i = 0; i < this.objects.length; i++) {
        var parent = this.objects[i];
        for(var j = 0; parent.children != null && j < parent.children.length; j++) {
            if (parent.children[j].id == id) {
                return parent.id;
            }
        }
    }
    return null;
}
ERXJSPopupRelationshipPicker.prototype.allChildren = function() {
    var allChildren = new Array();
    for(var i=0; i < this.objects.length; i++) {
        if (this.objects[i].children != null) {
            allChildren = allChildren.concat(this.objects[i].children);
        }
    }
    return allChildren.sort(ERXJSPopupRelationshipPicker_compareObjects);
}
ERXJSPopupRelationshipPicker.prototype.updateControls = function(children) {
    ERXJSPopupRelationshipPicker_updateSelectControl(this.parentControl,this.objects,this.parentStringForAll);
    ERXJSPopupRelationshipPicker_updateSelectControl(this.childControl,children,this.childStringForAll);
}
ERXJSPopupRelationshipPicker.prototype.parentChanged = function(selectedChild) {
	var children = new Array();
	var hasSelection = false;
	for(var i = 0; i < this.parentControl.options.length; i++) {
		var option = this.parentControl.options[i];
		var parent = this.parentForId(option.value);
		if(parent != null) {
			if(option.selected) {
				hasSelection = true;
				children = children.concat(parent.children);
				parent.isSelected = true;
			} else {
				parent.isSelected = false;
			}
			childToSelect = parent.defaultSubItem;
			if (selectedChild!=null) {
				childToSelect=selectedChild;
				}
			for(var j = 0; j < parent.children.length; j++) {
				if(j == childToSelect) {
					parent.children[j].isSelected = option.selected; 
				} else {
					parent.children[j].isSelected = false; 
				}
			}
		}
	}
	if(hasSelection) {
		this.updateControls(children);
	} else {
		this.updateControls(this.allChildren());
	}
}
ERXJSPopupRelationshipPicker.prototype.childChanged = function() {
/*	var index = this.childControl.selectedIndex;
	if(index >= 0) {
		var id = this.childControl.options[index].value;
		var parentId = this.parentIdForChildId(id);
		var parent = this.parentForId(parentId);
		for (var i=0; i < this.objects.length; i++) {
			if(this.objects[i].id == parentId) {
				this.objects[i].isSelected = true;
			} else {
				this.objects[i].isSelected = false;
			}
		}
	}
	if(id == "WONoSelectionString") {
	   this.updateControls(this.allChildren());
	}*/
}
</script><noscript>
	<b>You must enable JavaScript for this page to work !!!</b>
</noscript>

<table>
	<tr>
		<th><webobject name=String2></webobject></th>
		<th><webobject name=String1></webobject></th>
	</tr>
	<tr>
		<td><webobject name=ParentPopUpString></webobject></td>
		<td><webobject name=ChildPopUpString></webobject></td>
	</tr>
</table>
<webobject name=HiddenFormElementStrings></webobject>