<!--webobject name=Custom1></webobject--><script>
<webobject name="Array"></webobject>
function Entity(n,id,ch,sel,def) {
	this.name = n;
	this.entityId = id;
	this.children = ch;
	this.selected = sel;
	this.def = def;
}
function getParentEntityForId(parentschildren,parent_id) {
	for(loop = 0; loop < parentschildren.length; loop++) {
		if (parentschildren[loop].entityId == parent_id) {
			return parentschildren[loop];
		}
	}
	return undefined;
}
function getParentEntityForChildId(parentschildren,child_id) {
	for(loop = 0; loop < parentschildren.length; loop++) {
		var parent = parentschildren[loop];
		for(loop2 = 0; parent.children != null && loop2 < parent.children.length; loop2++) {
			if (parent.children[loop2].entityId == child_id) {
				return parent.entityId;
			}
		}
	}
	return undefined;
}
function compareEntities(a, b) {
	if(a.name.toLowerCase() < b.name.toLowerCase()) return -1;
	if(a.name == b.name) return 0;
	return 1;
}
function allChildren(parentschildren) {
	var allChildren = new Array();
	for (loop=0; loop < parentschildren.length; loop++) {
		if (parentschildren[loop].children != null) {
			allChildren = allChildren.concat(parentschildren[loop].children);
		}
	}
	return allChildren.sort(compareEntities);
}

function parentSwapped(parentschildren,new_parent_id,children_select,selected_parent,selected_child) {
	var parent_entity = getParentEntityForId(parentschildren,new_parent_id);
	if(selected_parent.value != new_parent_id) {
		selected_parent.value = new_parent_id;
		var children_array = null;
		var def = 0;
		if (parent_entity != null) {
			children_array = parent_entity.children;
			def = parent_entity.def;
		} else {
			children_array = allChildren(parentschildren);
		}
		if(children_select != null) {
			setSelectToArrayOfEntities(children_select, children_array, childPopUpStringForAll);
			children_select.options[def].selected = true;
			childSwapped(parentschildren,children_select.options[def].value,null,selected_parent,selected_child);
		}
	}
}
function childSwapped(parentschildren,new_child_id,parent_select,selected_parent,selected_child) {
	if(selected_child.value != new_child_id) {
		selected_child.value = new_child_id;
		if(("null" != new_child_id && new_child_id != null) && parent_select != null) {
			var new_parent_id = getParentEntityForChildId(parentschildren,new_child_id);
			for (loop=0; loop < parentschildren.length; loop++) {
				parentschildren[loop].selected = (parentschildren[loop].entityId == new_parent_id);
			}
			setSelectToArrayOfEntities(parent_select,parentschildren,parentPopUpStringForAll);
			parentSwapped(parentschildren,new_parent_id,null,selected_parent,selected_child);
		}
	}
}
function setSelectToArrayOfEntities(the_select, the_entities_array, allString) {
	var isSelectedEntity = false;
	var offset = 0;
	for (loop=0; loop < the_select.options.length; loop++) {
		the_select.options[loop] = null;
	}
	the_select.options.length = 0;
	if (allString != null) {
		the_select.options[0] = new Option(allString, null, false, false);
		offset = 1;
	}
	for (loop=0; loop < the_entities_array.length; loop++) {
		var entity = the_entities_array[loop];
		the_select.options[loop+offset] = new Option(entity.name, entity.entityId, false, entity.selected);
		if (entity.selected) {
			the_select.options[loop+offset].selected = true;
			isSelectedEntity = true;
		}
	}
	if (isSelectedEntity == false) {
		the_select.options[0].selected = true;
	} else {
		the_select.options[0].selected = false;
	}
}
</script>
<noscript>
	<b>You must enable JavaScript for this page to work !!!</b>
</noscript>
<table>
	<tr>
		<td align=center><i><font color=#8a8a8a><webobject name=String2></webobject></font></i></td>
		<td align=center><i><font color=#8a8a8a><webobject name=String1></webobject></font></i></td>
	</tr>
	<tr>
		<td><webobject name=ParentPopUpString></webobject></td>
		<td><webobject name=ChildPopUpString></webobject></td>
	</tr>
</table>
<webobject name=HiddenFormElementStrings></webobject>