<webobject name = "AttributeRepetitionDiv">
  <webobject name = "Sections">
    <webobject name = "Div1">
      <webobject name = "HasSectionName">
        <div class = "SectionHeading">
          <h2><webobject name = "Section" /></h2>
        </div>
      </webobject>
      <webobject name = "AttributeRepetition">
        <webobject name = "LineDiv">
          <webobject name = "IsNotOmitted">
            <div class = "LineInner">
              <webobject name = "LabelWrapper">
                <webobject name = "HasPropertyName"><webobject name = "PropertyName" /></webobject>
                <webobject name = "HasNoPropertyName">
                  <webobject name = "EmptyLabelSpan">&nbsp;</webobject>
                </webobject>
              </webobject>
              <webobject name = "AttributeWrapper">
                <span>
                  <webobject name = "shouldObserve">
	                  <webobject name = "SafeWrapper"><webobject name = "AjaxObserveField"><webobject name = "AttributeValue" /></webobject></webobject>
                  </webobject>
                  <webobject name = "shouldNotObserve">
	                  <webobject name = "SafeWrapper"><webobject name = "AttributeValue" /></webobject>
                  </webobject>
                </span>
              </webobject>
              <div class = "AttributeClear"></div>
            </div>
          </webobject>
        </webobject>
      </webobject>
    </webobject>
  </webobject>
</webobject>