{

    editors = {

        isEntityDeletable = {
                    class=com.apple.client.directtoweb.CheckboxComponentConfigurationPanel;
                    title="Deletable";
                    editingFor=page;
                    type=boolean;
                };
        isEntityInspectable = {
                    class=com.apple.client.directtoweb.CheckboxComponentConfigurationPanel;
                    title="Inspectable";
                    editingFor=page;
                    type=boolean;
                };
        isEntityEditable = {
                    class=com.apple.client.directtoweb.CheckboxComponentConfigurationPanel;
                    title="Editable";
                    editingFor=page;
                    type=boolean;
                };
        extraBindings = {
                        class=com.apple.client.directtoweb.TextFieldComponentConfigurationPanel;
                        title="Extra Bindings";
                        ruleKey="extraBindings";
                        editingFor=property;
                        inputSize=30;
                    };
        restrictedChoiceKey = {
                        class=com.apple.client.directtoweb.TextFieldComponentConfigurationPanel;
                        title="Restricted Choice Key";
                        inputSize=20;
                        editingFor=property;
                    };

        sectionName = {
                        class=com.apple.client.directtoweb.TextFieldComponentConfigurationPanel;
                        title="Section Name";
                        inputSize=15;
                        editingFor=property;
                    };
        sortKey = {
                        class=com.apple.client.directtoweb.TextFieldComponentConfigurationPanel;
                        title="Sort Key";
                        inputSize=15;
                        editingFor=property;
                    };
        noSelectionString = {
                        class=com.apple.client.directtoweb.TextFieldComponentConfigurationPanel;
                        title="no Selection String";
                        inputSize=15;
                        editingFor=property;
                    };
        pickButtonLabel = {
                        class=com.apple.client.directtoweb.TextFieldComponentConfigurationPanel;
                        title="Pick Button Label";
                        inputSize=15;
                        editingFor=page;
                    };
        };

    "components" = {
        "ERD2WInspectPageTemplate" = {
                "page" = "yes";
                "inspectionInformation" = "A simple inspect page.";
                "editors" = (
                        "backgroundColorForTable", isEntityDeletable, isEntityEditable, 
                        "showBanner"
                );
        };
        "ERD2WPickListTemplate" = {
                "page" = "yes";
                "inspectionInformation" = "A simple inspect page.";
                "editors" = (
                        "backgroundColorForTable",
                        "showBanner", "pickButtonLabel",
                        "isEntityInspectable"
                );
        };
        ERD2WEditToOneRelationship = {
            editors = ( keyWhenRelationship, allowCollapsing, toOneUIStyle, numCols, size, sortKey, restrictedChoiceKey , noSelectionString);
            inspectionInformation = "A component able to edit the set of objects on the other side of a to-one relationship. Since this component fetches all potential candidates for this relationship (all entities of the type specified for the target of the relationship, it can be expensive if there are many such objects. The displayed element can optionally be collapsed. You can pick the UI style that this component uses (radio buttons, popup or browser). When using radio buttons, you can pick how many columns they use, when using a browser, what the size of the browser is.";
        };
        "ERD2WQueryPageTemplate" = {
			"page" = "yes";
			"inspectionInformation" = "A simple query page.";
			"editors" = (
				"backgroundColorForTable",
				"showBanner",
				"fetchLimit",
				"isDeep",
				"usesDistinct",
				"refreshRefetchedObjects"
			);
		};
        "ERD2WTabInspectPageTemplate" = {
                                "page" = "yes";
                                "inspectionInformation" = "A tab panel inspect page.";
                                "supports" = (
                                        "tabName"
                                );
                                "editors" = (
                                        "backgroundColorForTable",
                                        "showBanner",
                                        "tableWidth",
                                        "isEntityEditable" 
                                );
                        };

        "ERD2WWizardCreationPage" = {
                                "page" = "yes";
                                "inspectionInformation" = "A wizard page.";
                                "supports" = (
                                        "tabName", "sectionName"
                                );
                                "editors" = (
                                        "backgroundColorForTable",
                                        "showBanner",
                                        "tableWidth"
                                );
                        };

        ERD2WCustomComponentWithArgs = {
            editors = ( extraBindings, customComponentName );
        };
        QueryRecentDates = {};

        EditPassword = {
            editors = ( length );
        };
	  ERD2WEditYesNo = {};
        ERD2WDisplayHTML = {};
	  ERD2WEditNumberWithUnit = {};
	  ERD2WDisplayNumberWithUnit = {};
        "ERD2WCompactListPageTemplate" = {
			"page" = "yes";
			"inspectionInformation" = "A compact list page, listing entries in a table.";
			"supports" = (
				"justification"
			);
			"editors" = (
				"backgroundColorForTable",
				"showBanner",
				"readOnly",
				"batchSize"
			);
		};
        ERD2WEditLargeString = {
            editors = ( rows, length );
            inspectionInformation = "A string-input component rendered as a multi-line text field (TEXTAREA) -- proper handling of \"\" vs <null>.";
        };
   "ERSelectPageTemplate" = {
			"page" = "yes";
			"inspectionInformation" = "A simple list page, listing entries in a table.";
			"supports" = (
				"justification"
			);
			"editors" = (
				"backgroundColorForTable",
				"showBanner",
				"readOnly",
				"batchSize"
			);
		};
	"ERD2WListPageTemplate" = {
			"page" = "yes";
			"inspectionInformation" = "A simple list page, listing entries in a table.";
			"supports" = (
				"justification"
			);
			"editors" = (
				"backgroundColorForTable",
				"showBanner",
				"readOnly",
				"batchSize", "isEntityDeletable", "isEntityInspectable"
			);
		};


	};
 }



