<webobject name = "Wrapper">
	Click <webobject name = "Link">  here </webobject> to make a long running AJAX request, <br /> 
	individual load indicator (configured on AjaxUpdateLink) will show up here: <img src="http://www.napyfab.com/ajax-indicators/images/indicator.gif" id="busy1" style="display:none;"/> <br/>
	<hr />
	Click <webobject name = "OtherLink">  here </webobject> to make some other long running AJAX request, <br />
	individual load indicator (configured on AjaxUpdateLink) will show up here:  <img src="http://www.napyfab.com/ajax-indicators/images/indicator.gif" id="busy2" style="display:none;"/>
	<div id="busy" style="display: none; position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; z-index: 9999;">
		<table width="100%" height="100%"><tr><td align="center">
			<img src="http://www.napyfab.com/ajax-indicators/images/indicator_verybig.gif" /><br />
			This is a <b>Global</b> activity inidicator (AjaxBusyIndicator). <br/> 
			Won't make too much sense to add more than one to a page.
		</td></tr></table>
	</div>
	<hr />
	<webobject name="Container">
		<p>	You have made <webobject name = "NumRequestsString"></webobject> requests. </p>
	</webobject>
	<webobject name="Busy"></webobject>
</webobject>
