<webobject name = "ProgressUpdateContainer">
	<webobject name = "ProgressBarVisible">
		<table class = "progressBarContainer">
			<tr>
				<td class = "progressValue"><webobject name = "Value" /></td>
				<td width = "100%"><table class = "progressBar" width = "100%" cellspacing = "0">
							<webobject name = "ProgressStartedConditional">
								<webobject name = "Finished">&nbsp;</webobject>
							</webobject>
							<webobject name = "ProgressNotDoneConditional">
								<webobject name = "Unfinished">&nbsp;</webobject>
							</webobject>
						</table></td>
				<td class = "progressMaximum"><webobject name = "Maximum" /></td>
				<td>
					<webobject name = "StartedConditional">
						<webobject name = "AllowCancelConditional">
							<webobject name = "CancelAction"><webobject name = "CancelText"/></webobject>
						</webobject>
					</webobject>
				</td>
			</tr>
		</table>
	</webobject>
	<webobject name = "StartedConditional">
		<webobject name = "DoneConditional">
			<webobject name = "FireJavascriptEventsConditional">
				<script>
				<webobject name = "FinishedFunction"/>
				<webobject name = "CanceledConditional">
					<webobject name = "CanceledFunction"/>
				</webobject>
				<webobject name = "FailedConditional">
					<webobject name = "FailedFunction"/>
				</webobject>
				<webobject name = "SucceededConditional">
					<webobject name = "SucceededFunction"/>
				</webobject>
				</script>
			</webobject>
		</webobject>
		<webobject name = "NotDoneConditional">
			<script>
			setTimeout("<webobject name = "ID"/>Update()", 1000);
			</script>
		</webobject>
	</webobject>
</webobject>