<% # ========================================================================
   # SampleControls.ContentController Unit Test
   # ========================================================================
%>
<% content_for('final') do %>

<script>

Test.context("SampleControls.ContentController",{

  "TODO: Add your own tests here": function() {
    true.shouldEqual(true) ;
  }

}) ;

if (window.main && (appMain = main)) main = null ; 
</script>

<% end %>
