<% # ========================================================================
   # SampleControls.FormController Unit Test
   # ========================================================================
%>
<% content_for('final') do %>

<script>

Test.context("SampleControls.FormController",{

  "TODO: Add your own tests here": function() {
    true.shouldEqual(true) ;
  }

}) ;

// Cancel main() so app does not start
if (window.main && (appMain = main)) main = null ; 

</script>

<% end %>
