<webobject name=PageWrapper>
<webobject name=EntitySelectedConditional>
<webobject name=QueryForm>
<webobject name=QueryTable>
<webobject name=QueryTableHeaderRow><td align=center colspan=2><b><webobject name=EntityName></webobject></b> Query</td></webobject>
<webobject name=ResourceRepetition><tr>
<td align=right><strong><webobject name=ResourceLabel>:</webobject></strong></td>
<td><webobject name=ResourceInputRepresentation></webobject></td>
</tr></webobject>
<tr><td align=center colspan=2><webobject name=SubmitButton1></webobject></td></tr>
</webobject>
</webobject>
</webobject>
</webobject>