<WEBOBJECT NAME=PageWrapper><WEBOBJECT NAME=Help></WEBOBJECT>
   <WEBOBJECT NAME=QueryForm>
<webobject name="QuerySubmitButton2"></webobject>      <WEBOBJECT NAME=MainTable>
         <TR VALIGN=top>
            <TD VALIGN=top ALIGN=right><WEBOBJECT NAME=QueryTable><WEBOBJECT NAME=BannerConditional>
                     <TR>
                        <TD ALIGN=center>
                           <TABLE BORDER=0>
                              <TR>
                                 <TD colspan="2"><WEBOBJECT NAME=Banner></WEBOBJECT></TD>
                              </TR>
                              <WEBOBJECT NAME=QueryTableHeaderRow>
                                 <TD align="left"><B><WEBOBJECT NAME=FontContainer><WEBOBJECT NAME=EntityName></WEBOBJECT><WEBOBJECT NAME=FetchLimitConditional>
                                          (<WEBOBJECT NAME=FetchLimit></WEBOBJECT>
                                          max)</WEBOBJECT></WEBOBJECT></B></TD><webobject name="SavedQueryComponentDefined"><td align="left"><webobject name="SavedQuerySwitchedComponent"></webobject></td></webobject>
                              </WEBOBJECT>
                           </TABLE>
                        </TD>
                     </TR>
                     <TR>
                        <TD>&nbsp;</TD>
                     </TR>
                  </WEBOBJECT>
                  <TR>
                     <TD ALIGN=left VALIGN=top>
                        <TABLE BORDER=0 CELLPADDING=2 CELLSPACING=2>
                           <WEBOBJECT NAME=ResourceRepetition>
                              <WEBOBJECT NAME=QueryTableRow>
                                 <TD ALIGN=right VALIGN=middle> <WEBOBJECT NAME=SwitchComponent1></WEBOBJECT><FONT SIZE="-1"><B>
                                    &nbsp;</B></FONT> </TD>
                                 <TD ALIGN=left VALIGN=middle>&nbsp;
                                    <WEBOBJECT NAME=ResourceInputRepresentation></WEBOBJECT>
                                 </TD>
                              </WEBOBJECT>
                           </WEBOBJECT>
                        </TABLE>
                     </TD>
                  </TR>
               </WEBOBJECT></TD>
         </TR>
         <TR>
            <TD ALIGN=center>
               <WEBOBJECT NAME=ShowCancel><WEBOBJECT NAME=BackLink><WEBOBJECT NAME=ReturnButton></WEBOBJECT></WEBOBJECT></WEBOBJECT><WEBOBJECT NAME=QuerySubmitButton></WEBOBJECT>&nbsp; </TD>
         </TR>
      </WEBOBJECT>
   </WEBOBJECT>
<WEBOBJECT NAME=Conditional1><WEBOBJECT NAME=Conditional2><WEBOBJECT NAME=ListPage></WEBOBJECT></WEBOBJECT></WEBOBJECT></WEBOBJECT>