<webobject name=horzDimensions><webobject name=hCriteriaList><webobject name=table><tr cellType="CELL_TYPE_STRING">
				<webobject name=showTopCrits><webobject name=vGroups>
						<td class="spacer">
							<spacer />
						</td>
					</webobject></webobject>
				<webobject name=colSpanTd><webobject name=criteriaLabel></webobject>
				</webobject>
			</tr>
			<webobject name=showHeadersForAsCells><webobject name=depthList>
					<tr cellType="CELL_TYPE_STRING">
						<webobject name=showTopCrits><webobject name=vGroups>
								<td class="spacer">
									<spacer />
								</td>
							</webobject></webobject><webobject name=attribs>
							<webobject name=attributeTd><webobject name=attribLabel></webobject></webobject>
						</webobject><webobject name=numberOfCrits></webobject>
					</tr>
				</webobject></webobject><webobject name=showNoColNoRow>
				<webobject name=recordGroupTest></webobject>
			</webobject><webobject name=showSingleRow>
				<tr cellType="CELL_TYPE_STRING">
					<webobject name=hCriteriaList>
						<webobject name=recordGroupTest></webobject>
					</webobject>
					<td class="spacer">
						<spacer />
					</td>
					<td class="spacer">
						<spacer />
					</td>
				</tr>
			</webobject><webobject name=vCriteriaList>
				<tr>
					<webobject name=vindent><webobject name=showIndentCell>
							<webobject name=rowSpanTd><webobject name=vIndentCriteriaLabel></webobject></webobject>
						</webobject></webobject><webobject name=showTopCrits>
						<webobject name=rowSpanTd2><webobject name=vcriteriaLabel></webobject></webobject>
					</webobject>
					<webobject name=recordGroupTest></webobject>
					<webobject name=showSingleCol>
						<webobject name=recordGroupTest></webobject>
					</webobject>
				</tr>
			</webobject></webobject></webobject></webobject>