<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html><head><title>ER Components Tour</title></head>
<body>

<h3 align="center">ERPPieChart & ERPCategoryChart</h3>

<p>LineChart:</p>

<blockquote>
<wo:ERPCategoryChart items="$itemSet1" nameKey="name" valueKey="value" categoryKey="category" chartType="LineChart" />
</blockquote>

<p>BarChart:</p>

<blockquote>
<wo:ERPCategoryChart items="$itemSet1" nameKey="name" valueKey="value" categoryKey="category" chartType="BarChart" />
</blockquote>


<p>StackedBarChart:</p>

<blockquote>
<wo:ERPCategoryChart items="$itemSet1" nameKey="name" valueKey="value" categoryKey="category" chartType="StackedBarChart" />
</blockquote>

<p>BarChart3D:</p>

<blockquote>
<wo:ERPCategoryChart items="$itemSet1" nameKey="name" valueKey="value" categoryKey="category" chartType="BarChart3D" />
</blockquote>

<p>StackedBarChart3D:</p>

<blockquote>
<wo:ERPCategoryChart items="$itemSet1" nameKey="name" valueKey="value" categoryKey="category" chartType="StackedBarChart3D" />
</blockquote>

<p>AreaChart:</p>

<blockquote>
<wo:ERPCategoryChart items="$itemSet1" nameKey="name" valueKey="value" categoryKey="category" chartType="AreaChart" />
</blockquote>

<p>StackedAreaChart:</p>

<blockquote>
<wo:ERPCategoryChart items="$itemSet1" nameKey="name" valueKey="value" categoryKey="category" chartType="StackedAreaChart" />
</blockquote>

<p>WaterfallChart:</p>

<blockquote>
<wo:ERPCategoryChart items="$itemSet1" nameKey="name" valueKey="value" categoryKey="category" chartType="WaterfallChart" />
</blockquote>

</body></html>