
{
    attributes = 
    (
       
       {
           columnName = REQ_SUB_TYPE_ID;
           name = id;
           prototypeName = id;
           userInfo = 
           {
               modificationDate = "2002-05-06 07:22:12 +0200";
           };
       }, 
       
       {
           columnName = SUB_TYPE_DESC;
           name = subTypeDescription;
           prototypeName = varchar50;
           userInfo = 
           {
               modificationDate = "2002-05-06 07:22:17 +0200";
           };
       }
    );
    attributesUsedForLocking = 
    (
       id, 
       subTypeDescription
    );
    cachesObjects = Y;
    className = er.bugtracker.RequirementSubType;
    classProperties = 
    (
       subTypeDescription
    );
    externalName = REQ_SUB_TYPE;
    internalInfo = 
    {};
    isReadOnly = Y;
    name = RequirementSubType;
    primaryKeyAttributes = 
    (
       id
    );
    sharedObjectFetchSpecificationNames = 
    (
       FetchAll
    );
    userInfo = 
    {
        modificationDate = "2002-05-06 07:47:04 +0200";
    };
}