
{
    attributes = 
    (
       
       {
           columnName = REQ_TYPE_ID;
           name = id;
           prototypeName = id;
           userInfo = 
           {
               modificationDate = "2002-05-06 07:21:22 +0200";
           };
       }, 
       
       {
           columnName = TYPE_DESCRIPTION;
           name = typeDescription;
           prototypeName = varchar50;
           userInfo = 
           {
               modificationDate = "2002-05-06 07:21:35 +0200";
           };
       }
    );
    attributesUsedForLocking = 
    (
       id, 
       typeDescription
    );
    cachesObjects = Y;
    className = er.bugtracker.RequirementType;
    classProperties = 
    (
       typeDescription
    );
    externalName = REQ_TYPE;
    internalInfo = 
    {};
    isReadOnly = Y;
    name = RequirementType;
    primaryKeyAttributes = 
    (
       id
    );
    sharedObjectFetchSpecificationNames = 
    (
       FetchAll
    );
    userInfo = 
    {
        modificationDate = "2002-05-04 13:06:03 +0200";
    };
}