<WEBOBJECT NAME=PageWrapper><WEBOBJECT NAME=MainTable>
		<TR>
			<TD>
					<TABLE BORDER=0>
						<TR VALIGN=top>
							<TD VALIGN=top ALIGN=right><WEBOBJECT NAME=InspectTable><WEBOBJECT NAME=BannerConditional>
										<TR>
											<TD ALIGN=center VALIGN=TOP>
												<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=0>
													<TR>
														<TD COLSPAN=2><WEBOBJECT NAME=Banner></WEBOBJECT></TD>
													</TR>
													<WEBOBJECT NAME=InspectTableHeaderRow>
														<TD ALIGN=left><WEBOBJECT NAME=FontContainer><B><WEBOBJECT NAME=EntityName></WEBOBJECT></B></WEBOBJECT></TD>
														<TD ALIGN=RIGHT><WEBOBJECT NAME=Conditional1><WEBOBJECT NAME=Image1></WEBOBJECT></WEBOBJECT></TD>
													</WEBOBJECT>
												</TABLE>
											</TD>
										</TR>
									</WEBOBJECT>
									<TR>
										<TD ALIGN=CENTER></TD>
									</TR>
									<TR>
										<TD VALIGN=top ALIGN=center>
											<TABLE BORDER=0 CELLPADDING=2 CELLSPACING=2>
												<WEBOBJECT NAME=AttributeRepetition><WEBOBJECT NAME=QueryRow>
														<TD ALIGN=right><WEBOBJECT NAME=PropertyName></WEBOBJECT></TD>
														<TD><WEBOBJECT NAME=AttributeValue></WEBOBJECT></TD>
													</WEBOBJECT></WEBOBJECT>
											</TABLE>
										</TD>
									</TR>
								</WEBOBJECT></TD>
						</TR>
						<TR>
							<TD ALIGN=center COLSPAN=3>
								<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=0>
									<TR>
										<TD ALIGN=center>
											<WEBOBJECT NAME=ShowCancel><WEBOBJECT NAME=ReturnLink><WEBOBJECT NAME=ReturnButton></WEBOBJECT></WEBOBJECT></WEBOBJECT>
										</TD>
										<WEBOBJECT NAME=IsEntityWritable>
											<TD ALIGN=right></TD>
										</WEBOBJECT>
										<TD ALIGN=left><WEBOBJECT NAME=IsEntityWritable2>
												<WEBOBJECT NAME=EditLink><WEBOBJECT NAME=EditImage></WEBOBJECT></WEBOBJECT>
											</WEBOBJECT></TD>
									</TR>
								</TABLE>
							</TD>
						</TR>
					</TABLE>
				</TD>
		</TR>
	</WEBOBJECT></WEBOBJECT>