<webobject name="Conditional2"><script language=javascript>
var ignoreValidationErrors = 0
function validateValueForKey(element,key,entityName,contextID,spanid) {
	if(ignoreValidationErrors == 1) return false
	ignoreValidationErrors = 1
	return validateValueForKeyInEntityRPC(element.value,key,entityName,contextID,"validateValueForKeyCallback(this,'"+spanid+"')")
}

function validateValueForKeyCallback(frame,name) {
	var error = frame.document.body.innerHTML
	document.getElementById(name).innerHTML = error
	ignoreValidationErrors = 0
}
</script>
</webobject><webobject name="On"><webobject name=Span></webobject><webobject name=ComponentContent></webobject>
<webobject name=Repetition1>
	<webobject name=RemoteCall><webobject name=Conditional1><script language=javascript>
var form = document.forms["<webobject name=FormName></webobject>"];
var validationElement = form["<webobject name=Name></webobject>"];
var validationFunction = new Function("{validateValueForKey(this,'<webobject name=KeyName></webobject>','<webobject name=EntityName></webobject>','<webobject name=ContextID></webobject>','<webobject name=SpanID></webobject>');}")
validationElement.onBlur = validationFunction
validationElement.onblur = validationFunction

</script></webobject></webobject></webobject></webobject><webobject name="Off"><webobject name=ComponentContent></webobject></webobject>