<webobject name = "PageWrapper">
<webobject name = "HasMessage"><webobject name = "Message" /></webobject>

<webobject name = "HasExplanationComponent"><webobject name = "ExplanationComponent" /></webobject>

<webobject name = "HasNextPage"><webobject name = "HasBranches"><webobject name = "BranchRepetition"><webobject name = "BranchName" />
<webobject name = "Branch" />
</webobject></webobject>
<webobject name = "HasNoBranches"><webobject name = "OKName" />
<webobject name = "OKButton" /></webobject>
</webobject>
</webobject>
