<table border=0 cellpadding=1 cellspacing=1 bgcolor=cccccc>
	<tr>
		<td>
			<table>
				<tr bgcolor=999999>
					<td colspan=10><font size=2 face=arial,geneva>Edit Attributes
						</font><webobject name=add></webobject></td>
				</tr>
				<tr bgcolor=999999>
					<td colspan=3><font size=2 face=arial,geneva>Arrangement</font></td>
					<td width=10><font size=2 face=arial,geneva>Key Path</font></td>
					<td width=10><font size=2 face=arial,geneva>Label</font></td>
					<td width=10><font size=2 face=arial,geneva>Function</font></td>
					<td width=10><font size=2 face=arial,geneva>Total</font></td>
					<td width=10><font size=2 face=arial,geneva>Format</font></td>
					<td width=10><font size=2 face=arial,geneva>Sort</font></td>
					<td width=10><font size=2 face=arial,geneva>Nest</font></td>
				</tr>
				<webobject name=attList>
					<webobject name=attribEdit></webobject>
				</webobject>
			</table>
		</td>
	</tr>
	<tr>
		<td> <font size=2 face=arial,geneva><webobject name=sub></webobject></font> </td>
	</tr>
</table>