<webobject name=PageWrapper><webobject name=Help></webobject>
	<table  align=center border=0>
		<tr>
			<td colspan=2><webobject name=ERDBannerComponent2></webobject><webobject name=Header></webobject></td>
		</tr>
		<webobject name=Conditional1><webobject name=Form1><webobject name=HiddenField></webobject>
				<tr>
					<td><webobject name=NavBar1></webobject></td><td><webobject name="Conditional3"><webobject name="ERPrinterButton"></webobject></webobject></td>
				</tr>
				<tr>
					<td  colspan=2><webobject name="ListPageRepetition2"></webobject></td>
				</tr>
				<tr>
					<td align=CENTER  colspan=2><webobject name=ShowCancel><webobject name=SubmitButton2></webobject>&nbsp;</webobject><webobject name=ShowCancel3><webobject name=SubmitButton4></webobject>&nbsp;<webobject name=SubmitButton5></webobject>&nbsp;</webobject>
						<webobject name=ERXNonNullConditional1><webobject name=SubmitButton1></webobject></webobject><webobject name=ERXNonNullConditional2><webobject name=Repetition1><webobject name=SubmitButton3></webobject>&nbsp;</webobject></webobject></td>
				</tr>
				<tr>
					<td  colspan=2>&nbsp;</td>
				</tr></webobject>
			</webobject>
			<webobject name=Conditional2>
				<tr>
					<td  colspan=2><webobject name=EmptyMessageComponent></webobject></td>
				</tr>
				<tr>
					<td align=CENTER  colspan=2><webobject name=HideReturnOnSelect2>
							<webobject name=ShowCancel2><webobject name=BackLink2><webobject name=ReturnButton2></webobject></webobject></webobject>
						</webobject></td>
				</tr>
			</webobject>
	</table>
</webobject>