<webobject name=PageWrapper><webobject name=Help></webobject>
	<table  align=center border=0>
		<tr>
			<td colspan=2><webobject name=ERDBannerComponent2></webobject><webobject name=Header></webobject></td>
		</tr>
		<webobject name=Conditional1><webobject name=Form1><webobject name=HiddenField></webobject>
				<tr>
					<td align=CENTER><webobject name=NavBar1></webobject></td>
				</tr>
				<tr>
					<td><webobject name=ListTable><webobject name=ListTableHeaderRow>
								<th>
									<spacer>
								</th>
								<webobject name=ColumnLabelRepetition>
									<th nowrap>
										<table border=0>
											<tr>
												<th><webobject name=PropertyName></webobject><webobject name=IsPropertySortable><br>
														<webobject name=AttributeSorter2></webobject></webobject></th>
											</tr>
										</table>
									</th>
								</webobject>
								<th>Select</th>
							</webobject>
							<tr height=2>
								<td bgcolor="#ffffff" colspan=50>
									<spacer height=2 width=1>
								</td>
							</tr>
							<webobject name=EntityRepetition><webobject name=ListTableRow>
									<td valign=MIDDLE><webobject name=InspectImage></webobject></td>
									<webobject name=AttributeRepetition><webobject name=AttributeCell><webobject name=AttributeDisplay></webobject></webobject></webobject>
									<td><webobject name=CheckBox2></webobject></td>
								</webobject>
								<tr height=2>
									<td bgcolor="#ffffff" colspan=50>
										<spacer height=2 width=1>
									</td>
								</tr>
							</webobject></webobject></td>
				</tr>
				<tr>
					<td align=CENTER><webobject name=ShowCancel><webobject name=SubmitButton2></webobject>&nbsp;</webobject><webobject name=ShowCancel3><webobject name=SubmitButton4></webobject>&nbsp;<webobject name=SubmitButton5></webobject>&nbsp;</webobject>
						<webobject name=ERXNonNullConditional1><webobject name=SubmitButton1></webobject></webobject><webobject name=ERXNonNullConditional2><webobject name=Repetition1><webobject name=SubmitButton3></webobject>&nbsp;</webobject></webobject></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr></webobject>
			</webobject>
			<webobject name=Conditional2>
				<tr>
					<td><webobject name=EmptyMessageComponent></webobject></td>
				</tr>
				<tr>
					<td align=CENTER><webobject name=HideReturnOnSelect2>
							<webobject name=ShowCancel2><webobject name=BackLink2><webobject name=ReturnButton2></webobject></webobject></webobject>
						</webobject></td>
				</tr>
			</webobject>
	</table>
</webobject>