<WEBOBJECT NAME=PageWrapper><WEBOBJECT NAME=Help></WEBOBJECT>
	<WEBOBJECT NAME=ListNotEmpty><WEBOBJECT NAME=Form1>
			<WEBOBJECT NAME=NavBar><WEBOBJECT NAME=FilterDisplayGroupButton></WEBOBJECT><WEBOBJECT NAME=IsGenericExportButtonKnown><WEBOBJECT NAME=ExcelExportButton></WEBOBJECT></WEBOBJECT></WEBOBJECT><WEBOBJECT NAME=HiddenField></WEBOBJECT><BR>
				<WEBOBJECT NAME=ListTable><WEBOBJECT NAME=ListTableHeaderRow>
						<TH></TH>
						<WEBOBJECT NAME=ColumnLabelRepetition>
							<TH NOWRAP VALIGN=bottom>
								<TABLE><TR><TH><B CLASS=white><WEBOBJECT NAME=SwitchComponent1></WEBOBJECT></B><WEBOBJECT NAME=IsPropertySortable><WEBOBJECT NAME=AttributeSorter></WEBOBJECT></WEBOBJECT></TH><TH></TH></TR></TABLE>
							</TH>
						</WEBOBJECT>
						<TH VALIGN=BOTTOM>Select</TH>
					</WEBOBJECT><WEBOBJECT NAME=EntityRepetition><WEBOBJECT NAME=ListTableRow>
							<TD>
								<webobject name="IsEntityInspectableConditional">
									<webobject name="InspectObjectHyperlink"><webobject name="InspectImage"></webobject></webobject>
								</webobject>
								<webobject name="IsEntityWritableConditional">
									<webobject name="EditObjectHyperlink"><webobject name="EditImage"></webobject></webobject>
								</webobject>
							</TD>
							<WEBOBJECT NAME=AttributeRepetition><WEBOBJECT NAME=AttributeCell>
									<WEBOBJECT NAME=AttributeDisplay></WEBOBJECT>
									</WEBOBJECT></WEBOBJECT>
							<TD>
								<WEBOBJECT NAME=CheckBox2></WEBOBJECT>
							</TD>
						</WEBOBJECT>
						<TR HEIGHT=2>
							<TD COLSPAN=50 BGCOLOR=#ffffff><IMG BORDER=0 HEIGHT=2 WIDTH=1></TD>
						</TR>
					</WEBOBJECT></WEBOBJECT><br><webobject name="DisplayBottomBatchNavigationConditional"><webobject name="NavBar2"><webobject name="FilterDisplayGroupButton2"></webobject><webobject name="IsGenericExportButtonKnown2"><webobject name="ExcelExportButton2"></webobject></webobject></webobject></webobject><BR>
				
					<WEBOBJECT NAME=ShowCancel><WEBOBJECT NAME=SubmitButton2></WEBOBJECT>&nbsp;</WEBOBJECT>
				<WEBOBJECT NAME=Conditional2><WEBOBJECT NAME=SubmitButton4></WEBOBJECT>&nbsp;<WEBOBJECT NAME=SubmitButton6></WEBOBJECT>&nbsp;<WEBOBJECT NAME=SubmitButton5></WEBOBJECT>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</WEBOBJECT><WEBOBJECT NAME=ERXNonNullConditional1><WEBOBJECT NAME=SubmitButton1></WEBOBJECT></WEBOBJECT><WEBOBJECT NAME=ERXNonNullConditional2><WEBOBJECT NAME=Repetition1><WEBOBJECT NAME=SubmitButton3></WEBOBJECT>&nbsp;</WEBOBJECT></WEBOBJECT>
		</WEBOBJECT></WEBOBJECT><WEBOBJECT NAME=ListEmpty><WEBOBJECT NAME=EmptyMessageComponent></WEBOBJECT><BR>
		<BR>
		<WEBOBJECT NAME=HideReturnOnSelect2>
			<WEBOBJECT NAME=ShowCancel2><WEBOBJECT NAME=BackLink2><WEBOBJECT NAME=ReturnButton2></WEBOBJECT></WEBOBJECT></WEBOBJECT>
		</WEBOBJECT></WEBOBJECT></WEBOBJECT>
