<webobject name="PageWrapper">
	<webobject name="Help"></webobject>
	
	<webobject name="AboveDisplayPropertyKeys"></webobject>
	
	<webobject name="ListNotEmpty">
		
		<webobject name="ShowBatchNavigationConditional">
		<webobject name="NavBar">
			<webobject name="FilterDisplayGroupButton"></webobject> 
			<webobject name="IsGenericExportButtonKnown">
				<webobject name="ExcelExportButton"></webobject>
			</webobject>
		</webobject>
		</webobject>
			
		<webobject name="HiddenField"></webobject><br />
		
		<webobject name="Form1">
		
			<webobject name="ListTable">
				<webobject name="ListTableHeaderRow">
					<th>&nbsp;</th>
					<webobject name="ColumnLabelRepetition">
					<th nowrap="nowrap" valign="bottom" class="ERNEUPickListPageColumnLabelRepetition">
						<table>
							<tr>
								<th>
									<span class="ERNEUPickListPageColumnLabel"><webobject name="SwitchComponent1"></webobject></span>
								</th>
								<webobject name="IsPropertySortable">
								<td><webobject name="AttributeSorter"></webobject></td>
								</webobject>
							</tr>
						</table>
					</th>
					</webobject>
					<th valign="bottom">Select</th>
				</webobject>
				<webobject name="EntityRepetition">
				<webobject name="ListTableRow">
					<td>
						<webobject name="IsEntityInspectableConditional">
							<webobject name="InspectObjectHyperlink"><webobject name="InspectImage"></webobject></webobject>
						</webobject>
						<webobject name="IsEntityWritableConditional">
							<webobject name="EditObjectHyperlink"><webobject name="EditImage"></webobject></webobject>
						</webobject>
					</td>
					<webobject name="AttributeRepetition">
					<webobject name="AttributeCell">
						<webobject name="AttributeDisplay"></webobject>
					</webobject>
					</webobject>
					<td>
						<webobject name="CheckBox2"></webobject>
					</td>
				</webobject>
				<tr>
					<td colspan="50" bgcolor="#ffffff"><img border="0" height="2" width="1" /></td>
				</tr>
				</webobject>
			</webobject><br />
			
			<webobject name="ShowBatchNavigationConditional">
			<webobject name="DisplayBottomBatchNavigationConditional">
			<webobject name="NavBar">
				<webobject name="FilterDisplayGroupButton"></webobject> 
				<webobject name="IsGenericExportButtonKnown">
					<webobject name="ExcelExportButton"></webobject>
				</webobject>
			</webobject><br />
			</webobject>
		</webobject>

			<webobject name="ShowCancel">
				<webobject name="SubmitButton2"></webobject>&nbsp;
			</webobject>
			<webobject name="Conditional2">
				<webobject name="SubmitButton4"></webobject>&nbsp;
				<webobject name="SubmitButton6"></webobject>&nbsp;
				<webobject name="SubmitButton5"></webobject>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</webobject>
			<webobject name="ERXNonNullConditional1">
				<webobject name="SubmitButton1"></webobject>
			</webobject>
			<webobject name="ERXNonNullConditional2">
				<webobject name="Repetition1">
					<webobject name="SubmitButton3"></webobject>&nbsp;
				</webobject>
			</webobject>
		
		</webobject>

	</webobject>
	
	<webobject name="ListEmpty">
		<webobject name="EmptyMessageComponent"></webobject>
		
		<webobject name="HideReturnOnSelect2">
			<webobject name="ShowCancel2">
				<webobject name="BackLink2"><webobject name="ReturnButton2"></webobject></webobject>
			</webobject>
		</webobject>
	</webobject>
	
	<webobject name="BelowDisplayPropertyKeys"></webobject>
	
</webobject>
