{
    attributes = (
        {
            columnName = ACCOUNT_ID; 
            externalType = long; 
            name = accountID; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = NUMBER; 
            externalType = char; 
            name = number; 
            valueClassName = NSString; 
            width = 25; 
        }, 
        {
            allowsNull = Y; 
            columnName = ROUTING_NUMBER; 
            externalType = char; 
            name = routingNumber; 
            valueClassName = NSString; 
            width = 25; 
        }, 
        {
            allowsNull = Y; 
            columnName = TYPE; 
            externalType = char; 
            internalInfo = {_nameInObjectStore = ACCOUNT_TYPE; }; 
            name = type; 
            valueClassName = NSString; 
            width = 25; 
        }
    ); 
    attributesUsedForLocking = (accountID, routingNumber, number, type); 
    className = Account; 
    classProperties = (routingNumber, number, type); 
    externalName = ACCOUNT; 
    fetchSpecificationDictionary = {}; 
    name = Account; 
    primaryKeyAttributes = (accountID); 
}
