{
    attributes = (
        {
            allowsNull = Y; 
            columnName = ACCOUNT_ID; 
            externalType = long; 
            name = accountID; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = APARTMENT_NUMBER; 
            externalType = char; 
            name = apartment; 
            valueClassName = NSString; 
            width = 5; 
        }, 
        {
            allowsNull = Y; 
            columnName = CITY; 
            externalType = char; 
            internalInfo = {_nameInObjectStore = ""; }; 
            name = city; 
            valueClassName = NSString; 
            width = 25; 
        }, 
        {
            columnName = CONTACT_ID; 
            externalType = long; 
            name = contactID; 
            serverTimeZone = Europe/Amsterdam; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = EARNED_INCOME_CREDIT; 
            externalType = money; 
            name = earnedIncomeCredit; 
            precision = 15; 
            scale = 2; 
            valueClassName = NSDecimalNumber; 
        }, 
        {
            allowsNull = Y; 
            columnName = EARNED_INCOME_CREDIT; 
            externalType = money; 
            name = earnedIncomeCreditAmount; 
            precision = 15; 
            scale = 2; 
            valueClassName = NSDecimalNumber; 
        }, 
        {
            allowsNull = Y; 
            columnName = EARNED_INCOME_CREDIT_TYPE; 
            externalType = char; 
            name = earnedIncomeCreditType; 
            valueClassName = NSString; 
            width = 25; 
        }, 
        {
            columnName = FIRST_NAME; 
            externalType = char; 
            name = firstName; 
            serverTimeZone = Europe/Amsterdam; 
            valueClassName = NSString; 
            width = 25; 
        }, 
        {
            allowsNull = Y; 
            columnName = FUND_ELECTION_CAMPAIGN; 
            externalType = int; 
            name = fundElectionCampaign; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = INCOME; 
            externalType = money; 
            name = income; 
            precision = 15; 
            scale = 2; 
            valueClassName = NSDecimalNumber; 
        }, 
        {
            allowsNull = Y; 
            columnName = INCOME_TAX; 
            externalType = money; 
            name = incomeTax; 
            precision = 15; 
            scale = 2; 
            valueClassName = NSDecimalNumber; 
        }, 
        {
            allowsNull = Y; 
            columnName = INCOME_TAX_WITHHELD; 
            externalType = money; 
            name = incomeTaxWithheld; 
            precision = 15; 
            scale = 2; 
            valueClassName = NSDecimalNumber; 
        }, 
        {
            allowsNull = Y; 
            columnName = IS_RETURN_CLAIMABLE_BY_SOMEONE_ELSE; 
            externalType = int; 
            name = isReturnClaimableBySomeoneElse; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = LAST_NAME; 
            externalType = char; 
            name = lastName; 
            serverTimeZone = Europe/Amsterdam; 
            valueClassName = NSString; 
            width = 25; 
        }, 
        {
            allowsNull = Y; 
            columnName = SOCIAL_SECURITY_NUMBER; 
            externalType = char; 
            name = socialSecurityNumber; 
            serverTimeZone = Europe/Amsterdam; 
            valueClassName = NSString; 
            width = 50; 
        }, 
        {
            allowsNull = Y; 
            columnName = SPOUCE_ID; 
            externalType = long; 
            name = spouceID; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = STREET_ADDRESS; 
            externalType = char; 
            internalInfo = {_nameInObjectStore = ""; }; 
            name = streetAddress; 
            valueClassName = NSString; 
            width = 50; 
        }, 
        {
            allowsNull = Y; 
            columnName = TAX_FREE_ALLOWANCE; 
            externalType = money; 
            name = taxFreeAllowance; 
            precision = 15; 
            scale = 2; 
            valueClassName = NSDecimalNumber; 
        }, 
        {
            allowsNull = Y; 
            columnName = TAXABLE_INTEREST; 
            externalType = money; 
            name = taxableInterestIncome; 
            precision = 15; 
            scale = 2; 
            valueClassName = NSDecimalNumber; 
        }, 
        {
            allowsNull = Y; 
            columnName = UNEMPLOYMENT_COMPENSATION; 
            externalType = money; 
            name = unemploymentCompensation; 
            precision = 15; 
            scale = 2; 
            valueClassName = NSDecimalNumber; 
        }
    ); 
    attributesUsedForLocking = (
        contactID, 
        firstName, 
        lastName, 
        fundElectionCampaign, 
        apartment, 
        city, 
        streetAddress, 
        spouceID, 
        socialSecurityNumber, 
        accountID, 
        isReturnClaimableBySomeoneElse, 
        earnedIncomeCredit, 
        earnedIncomeCreditAmount, 
        earnedIncomeCreditType, 
        income, 
        incomeTax, 
        incomeTaxWithheld, 
        taxFreeAllowance, 
        taxableInterestIncome, 
        unemploymentCompensation
    ); 
    className = Applicant; 
    classProperties = (
        firstName, 
        lastName, 
        fundElectionCampaign, 
        apartment, 
        city, 
        streetAddress, 
        spouse, 
        socialSecurityNumber, 
        account, 
        isReturnClaimableBySomeoneElse, 
        earnedIncomeCredit, 
        earnedIncomeCreditAmount, 
        earnedIncomeCreditType, 
        income, 
        incomeTax, 
        incomeTaxWithheld, 
        taxFreeAllowance, 
        taxableInterestIncome, 
        unemploymentCompensation
    ); 
    externalName = APPLICANT; 
    fetchSpecificationDictionary = {}; 
    name = Applicant; 
    parent = Person; 
    primaryKeyAttributes = (contactID); 
    relationships = (
        {
            deleteRule = EODeleteRuleCascade; 
            destination = Account; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = accountID; sourceAttribute = accountID; }); 
            name = account; 
            ownsDestination = Y; 
        }, 
        {
            deleteRule = EODeleteRuleCascade; 
            destination = Spouse; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = contactID; sourceAttribute = spouceID; }); 
            name = spouse; 
            ownsDestination = Y; 
        }
    ); 
}
