{
    attributes = (
        {
            columnName = CONTACT_ID; 
            externalType = long; 
            name = contactID; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = FIRST_NAME; 
            externalType = char; 
            name = firstName; 
            valueClassName = NSString; 
            width = 25; 
        }, 
        {
            allowsNull = Y; 
            columnName = FUND_ELECTION_CAMPAIGN; 
            externalType = int; 
            name = fundElectionCampaign; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = LAST_NAME; 
            externalType = char; 
            name = lastName; 
            valueClassName = NSString; 
            width = 25; 
        }, 
        {
            allowsNull = Y; 
            columnName = SOCIAL_SECURITY_NUMBER; 
            externalType = char; 
            name = socialSecurityNumber; 
            valueClassName = NSString; 
            width = 50; 
        }
    ); 
    attributesUsedForLocking = (contactID, firstName, lastName, fundElectionCampaign, socialSecurityNumber); 
    className = EOGenericRecord; 
    classProperties = (firstName, lastName, fundElectionCampaign, socialSecurityNumber); 
    fetchSpecificationDictionary = {}; 
    isAbstractEntity = Y; 
    name = Person; 
    primaryKeyAttributes = (contactID); 
}
