<webobject name = "TabPanelWrapper">
  <webobject name = "HasTabs">
    <div class = "Tabs">
      <webobject name = "TablUl">
        <webobject name = "TabRepetition">
          <webobject name = "TabLi">
            <webobject name = "IsSelectedTab"><span><webobject name = "TabLabel" /></span></webobject>
            <webobject name = "NotSelectedTab"><webobject name = "SubmitLink"/></webobject>
          </webobject>
        </webobject>
      </webobject>
    </div>
    <div class = "TabPanelContent"><webobject name = "TabContentWrapper"><webobject name = "ComponentContent" /></webobject></div>
  </webobject>
  <webobject name = "HasNoTabs"><div class = "TabPanelContent"><webobject name = "ComponentContent" /></div></webobject>
</webobject>