<webobject name = "AjaxExampleComponent">
	<style>
.accordion {
	width : 500px;
	margin-top: 6px;
	border-top-width: 1px;
	border-top-style: solid;
}

.accordionTabTitleBar {
	font-family: Helvetica;
	font-size: 10px;
	padding: 4px 6px 4px 6px;
	border-style: solid none solid none;
	border-top-color: #BDC7E7;
	border-bottom-color: #182052;
	border-width: 1px 0px 1px 0px;
}

.accordionTabTitleBarHover {
	font-size: 12px;
	background-color: #1f669b;
	color: #000000;
}

.accordionTabContentBox {
	font-size: 11px;
	border: 1px solid #1f669b;
	border-top-width : 0px;
}

.accordionTabContent {
	padding: 4px 6px 4px 6px;
}

	</style>

From the Rico Accordion example: "The content div for each panel should not be styled to 
have borders, margins, or padding. When padding/margin is required, nest another DIV inside 
the content div and style it accordingly. Also, the panel content should not grow beyond the 
panelHeight attribute of the configuration parameter. On Firefox/Mac the scrollbar for an 
overflow area will cause the scrollbar to always be visible--even when the panel is collapsed. 
You can resolve this by setting the visibility of the contents when the panel starts to 
collapse or expand."
<p>
 
<webobject name = "Accordion">
	<webobject name = "Tab1">
Project WONDER is a collection of frameworks and tools for the WebObjects application server. It aims to fill some of the gaps 
left in the packaged product, as well as add some useful and powerful utilities for WebObjects developers. Amongst a host of 
other things, we provides a rich set of tools and additions for use in WebObjects and EOF and many extensions and enhancements
to WebObjects' DirectToWeb functionality.
<p>
Project WONDER is a collection of frameworks and tools for the WebObjects application server. It aims to fill some of the gaps 
left in the packaged product, as well as add some useful and powerful utilities for WebObjects developers. Amongst a host of 
other things, we provides a rich set of tools and additions for use in WebObjects and EOF and many extensions and enhancements
to WebObjects' DirectToWeb functionality.
<p>
Project WONDER is a collection of frameworks and tools for the WebObjects application server. It aims to fill some of the gaps 
left in the packaged product, as well as add some useful and powerful utilities for WebObjects developers. Amongst a host of 
other things, we provides a rich set of tools and additions for use in WebObjects and EOF and many extensions and enhancements
to WebObjects' DirectToWeb functionality.
<p>
Project WONDER is a collection of frameworks and tools for the WebObjects application server. It aims to fill some of the gaps 
left in the packaged product, as well as add some useful and powerful utilities for WebObjects developers. Amongst a host of 
other things, we provides a rich set of tools and additions for use in WebObjects and EOF and many extensions and enhancements
to WebObjects' DirectToWeb functionality.

	</webobject>

	<webobject name = "Tab2">
Project WONDER is a collection of frameworks and tools for the WebObjects application server. It aims to fill some of the gaps 
left in the packaged product, as well as add some useful and powerful utilities for WebObjects developers. Amongst a host of 
other things, we provides a rich set of tools and additions for use in WebObjects and EOF and many extensions and enhancements
to WebObjects' DirectToWeb functionality.
	</webobject>

	<webobject name = "Tab3">
Project WONDER is a collection of frameworks and tools for the WebObjects application server. It aims to fill some of the gaps 
left in the packaged product, as well as add some useful and powerful utilities for WebObjects developers. Amongst a host of 
other things, we provides a rich set of tools and additions for use in WebObjects and EOF and many extensions and enhancements
to WebObjects' DirectToWeb functionality.
	</webobject>

	<webobject name = "Tab4">
Project WONDER is a collection of frameworks and tools for the WebObjects application server. It aims to fill some of the gaps 
left in the packaged product, as well as add some useful and powerful utilities for WebObjects developers. Amongst a host of 
other things, we provides a rich set of tools and additions for use in WebObjects and EOF and many extensions and enhancements
to WebObjects' DirectToWeb functionality.
	</webobject>
</webobject>

 
<p>
<b>Accordion Form</b>
	<webobject name = "Accordion2">
		<webobject name = "Accordion2Tab1">
			<webobject name = "AccordionForm">
				Name1: <webobject name = "NameField1"/>
				<br/>
				<webobject name = "LinkTest1"/>
				<webobject name = "AccordionFormSubmit"/>
			</webobject>
		</webobject>
		<webobject name = "Accordion2Tab2">
			<webobject name = "AccordionForm2">
				Name1: <webobject name = "NameField2"/>
				<br/>
				<webobject name = "LinkTest2"/>
				<webobject name = "AccordionFormSubmit2"/>
			</webobject>
		</webobject>
	</webobject>

</webobject>