<nav class="pagination">
	<webobject name = "HasBatches">
		<webobject name = "AnchorPrev"><webobject name = "PreviousBatchLink"/></webobject>
		<webobject name = "AnchorNext"><webobject name = "NextBatchLink"/></webobject>
		<webobject name = "BatchPageForm">
			<fieldset>
				<legend><webobject name = "PageNumber"/></legend>
				<webobject name = "PageNumberField"/>/<webobject name = "BatchCount"/> <webobject name = "GoToPage"/>
			</fieldset>
		</webobject>
	</webobject>
	<webobject name = "DisplayBatchSizes">
		<webobject name = "BatchSizeForm">
			<fieldset>
				<legend><webobject name = "ItemsPerPage"/></legend>
				<webobject name = "AvailableBatchSizes"/><webobject name = "ApplyBatchSize"/>
			</fieldset>
		</webobject>
	</webobject>
</nav>