<webobject name = "AjaxExampleComponent">
AjaxUpdateContainer has an optional 'observeFieldID' binding.  You can set this binding to the id of the element to observe.  When the element changes,
the observed value will be sent back to the server (as a "partial form submission"), and the AjaxUpdateContainer will be updated.  This feature 
requires that you use the ERExtensions framework (due to required changes to WOForm).  With partial form submission, only the 
observed field's value is submitted back to the server so that you can attempt to avoid validation failures that might occur
if the entire form was submitted.
<p>
This can be used to create dependent PopUpButtons like in the following example:
<p>
<webobject name = "DependentListForm">
	<webobject name = "StateField"></webobject>
	<webobject name = "StateObserveField"></webobject>
	<p>
	<webobject name = "CountyUpdateComponent">
		<webobject name = "CountyField"></webobject>
		<webobject name = "CountyObserveField"></webobject>
		<p>
		<webobject name = "StreetUpdateComponent">
			<webobject name = "StreetField"></webobject>
			<webobject name = "StreetObserveField"></webobject>
			<p>
			Currently Selected Street: <webobject name = "SelectedStreetName"></webobject>
		</webobject>
	</webobject>
</webobject>

<pre>

</pre>

In the example below, you can see the use of the standalone AjaxObserveField tag to perform a similar task. But in this case,
the "fullSubmit" binding is set to "true", which causes the entire form to be submitted rather than just the partial form 
submission.  Notice that the "Address" is passed through in addition to the selection of the state.
<br>
<webobject name = "DependentListForm">
	<webobject name = "AddressField"></webobject>
	<br>
	<webobject name = "StateField2"></webobject>
	<webobject name = "County2Updater"></webobject>
	<p>
	<webobject name = "County2UpdateContainer">
		Address: <webobject name = "Address"></webobject>
		<br>
		<webobject name = "CountyField2"></webobject>
	</webobject>
</webobject>

</webobject>