<SCRIPT TYPE=text/javascript>
<!-- Begin

function editForm(){
var result;
for(var z=0; z<document.forms.length; z++){
	if(document.forms[z].name == 'RelationshipForm'){
		result = document.forms[z];
	}
}
return result;
}

function remove(box) {
for(var i=0; i<box.options.length; i++) {
if(box.options[i].selected && box.options[i] != "") {
box.options[i].value = "";
box.options[i].text = "";
   }
}
BumpUp(box);
updateHidden();
} 
function BumpUp(abox) {
for(var i = 0; i < abox.options.length; i++) {
if(abox.options[i].value == "")  {
for(var j = i; j < abox.options.length - 1; j++)  {
abox.options[j].value = abox.options[j + 1].value;
abox.options[j].text = abox.options[j + 1].text;
}
var ln = i;
break;
   }
}
if(ln < abox.options.length)  {
abox.options.length -= 1;
BumpUp(abox);
   }
}

function MoveupFast(dbox){
	 Moveup(dbox);
	 Moveup(dbox);
	 Moveup(dbox);
}

function Moveup(dbox) {
for(var i = 0; i < dbox.options.length; i++) {
if (dbox.options[i].selected && dbox.options[i] != "" && dbox.options[i] != dbox.options[0]) {
var tmpval = dbox.options[i].value;
var tmpval2 = dbox.options[i].text;
var tmpval3 = dbox.options[i].selected;
dbox.options[i].value = dbox.options[i - 1].value;
dbox.options[i].text = dbox.options[i - 1].text;
dbox.options[i].selected = dbox.options[i - 1].selected;
dbox.options[i-1].value = tmpval;
dbox.options[i-1].text = tmpval2;
dbox.options[i-1].selected = tmpval3;
      }
   }
updateHidden();
}

function MovedownFast(ebox){
	Movedown(ebox);
	Movedown(ebox);
	Movedown(ebox);
}

function Movedown(ebox) {
for(var i = ebox.options.length - 1; i >-1; i--) {
if (ebox.options[i].selected && ebox.options[i] != "" && ebox.options[i+1] != ebox.options[ebox.options.length]) {
var tmpval = ebox.options[i].value;
var tmpval2 = ebox.options[i].text;
var tmpval3 = ebox.options[i].selected;
ebox.options[i].value = ebox.options[i+1].value;
ebox.options[i].text = ebox.options[i+1].text;
ebox.options[i].selected = ebox.options[i+1].selected;
ebox.options[i+1].value = tmpval;
ebox.options[i+1].text = tmpval2;
ebox.options[i+1].selected = tmpval3;
      }
   }
updateHidden();
}

function updateHidden(){	
	var box = editForm().list2;
	var result = new String();
	for(var i = 0; i < box.options.length; i++){
		if(box.options[i].value.length > 0){
			if(box.options[i].text.substr(0,1)!="-"){
				result = result.concat(new String(box.options[i].value));
				if(i<box.options.length-1){
					result = result.concat(new String(","));
				}
			}
		}
	}
	editForm().resultHiddenField.value = result;
}

 
//  End -->

</SCRIPT>

<WEBOBJECT NAME=PageWrapper>
    <WEBOBJECT NAME=Help></WEBOBJECT>
    
    <webobject name="HasAbovePropertyKeysConditional">
    <webobject name="AbovePropertyKeysRepetition">
        <webobject name="PropertyKeySwitchComponent"></webobject>
    </webobject>
    </webobject>
    
    <WEBOBJECT NAME=InspectTable><TR><TD><WEBOBJECT NAME=Banner></WEBOBJECT></TD></TR><WEBOBJECT NAME=HeaderRow><TD ALIGN=left COLSPAN=3><FONT COLOR="#ffffff"><B><WEBOBJECT NAME=AttributeName></WEBOBJECT>(s)</B></FONT></TD><TD HEIGHT=10></TD></WEBOBJECT><TR><TD ALIGN=center>

<WEBOBJECT NAME=ToManyForm><TABLE><TR><TD VALIGN=middle><FONT SIZE=-1><STRONG><WEBOBJECT NAME=NumberOfEntities></WEBOBJECT> <WEBOBJECT NAME=EntityName></WEBOBJECT>(s)</STRONG></FONT></TD><TD><WEBOBJECT NAME=AttributeValue></WEBOBJECT></TD><WEBOBJECT NAME=DisplayArrows><WEBOBJECT NAME=Conditional3><TD ALIGN=CENTER><WEBOBJECT NAME=SubmitButton1></WEBOBJECT><P ALIGN=CENTER><WEBOBJECT NAME=SubmitButton2></WEBOBJECT></P></TD>
</WEBOBJECT>
<WEBOBJECT NAME=Conditional4><TD ALIGN=CENTER><TABLE><TR><TD><A HREF="javascript:MoveupFast(editForm().list2);"><WEBOBJECT NAME=Image3></WEBOBJECT></A></TD></TR><TR><TD><A HREF="javascript:Moveup(editForm().list2);"><WEBOBJECT NAME=Image1></WEBOBJECT></A></TD></TR><TR><TD>&nbsp;</TD></TR><TR><TD><A HREF="javascript:Movedown(editForm().list2);"><WEBOBJECT NAME=Image2></WEBOBJECT></A></TD></TR><TR><TD><A HREF="javascript:MovedownFast(editForm().list2);"><WEBOBJECT NAME=Image4></WEBOBJECT></A></TD></TR></TABLE>
</TD>
</WEBOBJECT></WEBOBJECT>
<TD VALIGN=middle><WEBOBJECT NAME=RemoveButton></WEBOBJECT><BR><WEBOBJECT NAME=Hyperlink1>Remove All</WEBOBJECT><WEBOBJECT NAME=HiddenField1></WEBOBJECT></TD></TR>
<TR>
	<TD ALIGN=CENTER COLSPAN=5><BR>
		<WEBOBJECT NAME=Conditional1><WEBOBJECT NAME=SubmitButton3></WEBOBJECT><WEBOBJECT NAME=SubmitButton4></WEBOBJECT><WEBOBJECT NAME=IsEntityWritable2><WEBOBJECT NAME=SubmitButton5></WEBOBJECT></WEBOBJECT></WEBOBJECT></TD>
</TR></TABLE>


</WEBOBJECT>

</TD><TD></TD><TD></TD></TR><TR><TD>&nbsp;</TD></TR>
<WEBOBJECT NAME=Conditional2><TR><TD ALIGN=center COLSPAN=3><WEBOBJECT NAME=ReturnLink><WEBOBJECT NAME=ReturnButton></WEBOBJECT></WEBOBJECT> <WEBOBJECT NAME=QueryLink><WEBOBJECT NAME=QueryButton></WEBOBJECT></WEBOBJECT><WEBOBJECT NAME=IsEntityWritable><WEBOBJECT NAME=NewLink><WEBOBJECT NAME=NewButton></WEBOBJECT></WEBOBJECT></WEBOBJECT></TD>
	<TD></TD></TR>
</WEBOBJECT></WEBOBJECT><WEBOBJECT NAME=DisplayQuery> <WEBOBJECT NAME=QueryComponent></WEBOBJECT> </WEBOBJECT><WEBOBJECT NAME=DisplayList> <WEBOBJECT NAME=ListComponent></WEBOBJECT> </WEBOBJECT><WEBOBJECT NAME=DisplayNew> <WEBOBJECT NAME=InspectComponent></WEBOBJECT> </WEBOBJECT>

    <webobject name="HasBelowPropertyKeysConditional">
    <webobject name="BelowPropertyKeysRepetition">
        <webobject name="PropertyKeySwitchComponent"></webobject>
    </webobject>
    </webobject>

</WEBOBJECT>

