<script defer="defer">

function makeMarker<webobject name = "MarkerID"/>(point) {
	<webobject name = "MarkerID"/> = new GMarker(point);
  <webobject name = "MapID"/>.addOverlay(<webobject name = "MarkerID"/>);
	
	GEvent.addListener(<webobject name = "MarkerID"/>, "click", function() {
	  <webobject name = "MapID"/>.closeInfoWindow();
    <webobject name = "MarkerID"/>.openInfoWindowHtml('<webobject name = "InfoWindowHtml"/>');
  });
}

<webobject name = "LngLatConditional">
  makeMarker<webobject name = "MarkerID"/>(new GLatLng(<webobject name = "Latitude"/>, <webobject name = "Longitude"/>));
</webobject>
  
<webobject name = "AddressConditional">
  var geocoder = new GClientGeocoder();
  geocoder.getLatLng(
   '<webobject name = "Address"/>',
   function(point) {
     if (!point) {
       alert(address + " not found");
     } else {
       makeMarker<webobject name = "MarkerID"/>(point);
     }
   }
 	);
</webobject>

</script>