<?xml version="1.0" encoding="UTF-8"?>
<rss xmlns:itunes = "http://www.itunes.com/dtds/podcast-1.0.dtd" version = "2.0">
  <channel>
    <title><webobject name = "FeedTitle" /></title>
    <webobject name = "Link"><webobject name = "FeedUrl" /></webobject>
    <language><webobject name = "FeedLanguage" /></language>
    <copyright><webobject name = "FeedCopyright" /></copyright>
    <itunes:subtitle><webobject name = "FeedSubtitle" /></itunes:subtitle>
    <itunes:author><webobject name = "FeedAuthor" /></itunes:author>
    <itunes:summary><webobject name = "FeedDescription" /></itunes:summary>
    <description><webobject name = "FeedDescription" /></description>
    <itunes:owner>
      <itunes:name><webobject name = "FeedOwnerName" /></itunes:name>
      <itunes:email><webobject name = "FeedOwnerEmail" /></itunes:email>
    </itunes:owner>
    <webobject name = "FeedImageUrl" />
    <webobject name = "FeedCategory" />
    <webobject name = "ListRepetition">
      <item>
        <title><webobject name = "ItemTitle" /></title>
        <itunes:author><webobject name = "ItemAuthor" /></itunes:author>
        <itunes:subtitle><webobject name = "ItemSubtitle" /></itunes:subtitle>
        <itunes:summary><![CDATA[<webobject name = "Content"></webobject>]]></itunes:summary>
        <description><![CDATA[<webobject name = "Content"></webobject>]]></description>
        <webobject name = "ItemEnclosureUrl" />
        <guid><webobject name = "ItemGuid" /></guid>
        <pubDate><webobject name = "ItemPubDate" /></pubDate>
      </item>
    </webobject>
  </channel>
</rss>