<webobject name=PageWrapper>
	
<div id="resultset" style="border-top: 0px none lime;">
	<table id=reports border=0 cellspacing=0 cellpadding=0 width=98%>
		<tr>
			<td><webobject name=EGWrapper1><webobject name="Enabled"><style id="spacer" />
<style id="WRTitle" cellType="CELL_TYPE_STRING" />
<style id="WRHTotal0" cellType="CELL_TYPE_STRING" />
<style id="WRHTotal1" cellType="CELL_TYPE_STRING" />
<style id="WRHTotal2" cellType="CELL_TYPE_STRING" />
<style id="WRVTotal0" />
<style id="WRVTotal1" />
<style id="WRVTotal2" />
<style id="WRPlusStrong"/>
<style id="WRPlusMedium" />
<style id="WRPlusLight" />
<style id="WRMinusStrong"/>
<style id="WRMinusMedium" />
<style id="WRMinusLight" />
<style id="WRAttribute0Total0" cellType="CELL_TYPE_STRING" />
<style id="WRAttribute0Total1" cellType="CELL_TYPE_STRING" />
<style id="WRAttribute0Total2" cellType="CELL_TYPE_STRING" />
<style id="WRAttribute1Total1" cellType="CELL_TYPE_STRING" />
<style id="WRAttribute1Total2" cellType="CELL_TYPE_STRING" />
<style id="WRValue" />
<style id="WRWeekend" />
<style id="WRVTotal2" />
</webobject><webobject name=QuickReport></webobject></webobject></td>
		</tr>
	</table>
</div>
<webobject name=HasReport>
	<table cellspacing=0 width="100%" border=0 cellpadding=8>
		<tr>
			<td class="formcontainer">
				<table>
					<tr>
						<td class=PropertyName>Modes: </td>
						<td>&nbsp;</td>
						<td><webobject name="ShowingAsTable"><webobject name=ExportExcelLink><webobject name=ExportExcelString></webobject></webobject>
								<webobject name=ERXLocalizedString3></webobject><webobject name=ShowAsChartLink><webobject name=ShowAsChartString></webobject></webobject>
							</webobject>
							<webobject name="ShowingAsChart"><webobject name=ShowAsTableLink><webobject name=ShowAsTableString></webobject></webobject></webobject></td>
					</tr>
					<tr>
						<td colspan=3 class="hdivider" height="1">
							<spacer />
						</td>
					</tr>
					<tr>
						<td colspan=3 class="hdivider" height="1">
							<spacer />
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table></webobject>
</WEBOBJECT>