/* The following are general styles for the tab panel */

div.tab_panel ul.tab li {
	float: left;
	-moz-border-radius-topright: 7px;
	-moz-border-radius-topleft: 7px;
	-webkit-border-top-right-radius: 7px;
	-webkit-border-top-left-radius: 7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-left: 2px;
	margin-right: 2px;
}

div.tab_panel ul.tab li {
	float: left;
}

div.tab_panel ul.tab li a, div.tab_panel ul.tab li span {
	text-align: center;
	display: block;
}

div.tab_panel ul.tab li button {
	border: none;
	background: transparent;
	margin: 0;
	padding: 0;
}

div.tab_panel div.tab.content {
	clear: left;
}
