@import url("ERDEditableList.css");

div#a div.ERDEditableList table thead tr th {
	background-color: rgb(51, 102, 153);
	color: white;
	border: solid rgb(238, 238, 238) 1px;
}

/* the following are custom settings for the batch nav bar - when embedded */

div#a div.ERDEditableList fieldset.batch_nav_bar h3 {
	padding-right: 4px;
}

div#a div.ERDEditableList fieldset.batch_nav_bar h3, div#a div.ERDEditableList fieldset.batch_nav_bar h3 span.count {
	font-size: 10px;
	color: grey;
	font-style: italic;
	vertical-align: baseline;
}

div#a div.ERDEditableList fieldset.batch_nav_bar h3 span.count {
	padding:0 2px 0 0;
	border: 0;
	background-color: transparent;
	-webkit-border-radius: 0;
}

div#a div.ERDEditableList fieldset.batch_nav_bar li.batch_nav_bar {
	width: auto;
}

div#a div.ERDEditableList fieldset.batch_nav_bar {
	height: auto;
}
