{
    attributes = (
        {
            columnName = id; 
            externalType = int; 
            name = id; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = name; 
            externalType = char; 
            name = name; 
            valueClassName = NSString; 
            width = 50; 
        }
    ); 
    attributesUsedForLocking = (id, name); 
    className = er.wrox.eo.Group; 
    classProperties = (name, users); 
    externalName = group; 
    fetchSpecificationDictionary = {}; 
    name = Group; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            deleteRule = EODeleteRuleCascade; 
            destination = UserGroup; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = groupID; sourceAttribute = id; }); 
            name = groupUsers; 
            propagatesPrimaryKey = Y; 
        }, 
        {definition = groupUsers.user; joinSemantic = EOInnerJoin; name = users; }
    ); 
}
