{
    attributes = (
        {
            columnName = GROUP_ID; 
            externalType = int; 
            name = groupID; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = USER_ID; 
            externalType = int; 
            name = userID; 
            valueClassName = NSNumber; 
            valueType = i; 
        }
    ); 
    attributesUsedForLocking = (groupID, userID); 
    className = EOGenericRecord; 
    externalName = user_group; 
    fetchSpecificationDictionary = {}; 
    name = UserGroup; 
    primaryKeyAttributes = (groupID, userID); 
    relationships = (
        {
            destination = Group; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = groupID; }); 
            name = group; 
        }, 
        {
            destination = User; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = userID; }); 
            name = user; 
        }
    ); 
}
