<webobject name=PageWrapper>
    <blockquote><h3><webobject name=String2></webobject>
            Open Bugs targeted to [<webobject name=Repetition1><webobject name=String1></webobject>
            </webobject>]</h3></blockquote>
    <table cellpadding=2 cellspacing=2 border=0>
        <tr>
            <td align=CENTER><b>User</b></td><td align=CENTER><b>Bugs</b></td>
        </tr>
        <webobject name=BugsPerUser><tr>
                <td><webobject name=Self></webobject></td>
                <td><webobject name=Hyperlink1><webobject name=BugCount></webobject></webobject></td>
            </tr></webobject>
    </table>
    <p align=CENTER><!--[<WEBOBJECT NAME=Hyperlink2>Look at another release</WEBOBJECT>]--></p></webobject>