<WEBOBJECT NAME=PageWrapper>
	<BLOCKQUOTE><H3><WEBOBJECT NAME=String2></WEBOBJECT> Open Bugs targetted to [<WEBOBJECT NAME=Repetition1><WEBOBJECT NAME=String1></WEBOBJECT> </WEBOBJECT>]</H3></BLOCKQUOTE>
	<TABLE CELLPADDING=2 CELLSPACING=2 BORDER=0>
		<TR>
			<TD ALIGN=CENTER><B>User</B></TD><TD ALIGN=CENTER><B>Bugs</B></TD>
		</TR>
		<WEBOBJECT NAME=BugsPerUser><tr>
				<TD><WEBOBJECT NAME=Self></WEBOBJECT></TD><TD><WEBOBJECT NAME=Hyperlink1><WEBOBJECT NAME=BugCount></WEBOBJECT></WEBOBJECT></TD>
		</tr></webObject>
	</TABLE>
<P ALIGN=CENTER><!--[<WEBOBJECT NAME=Hyperlink2>Look at another release</WEBOBJECT>]--></P></webObject>