{
    attributes = (
        {
            allowsNull = Y; 
            columnName = format; 
            name = format; 
            prototypeName = varchar100; 
        }, 
        {allowsNull = N; name = id; prototypeName = id; }, 
        {allowsNull = N; columnName = name; name = name; prototypeName = varchar100; }, 
        {allowsNull = N; columnName = type; name = type; prototypeName = intNumber; }
    ); 
    attributesUsedForLocking = (format, id, name, type); 
    className = "er.indexing.attributes.ERIAttributeType"; 
    classProperties = (format, indexedAttributes, name, type); 
    externalName = ERIAttributeType; 
    fetchSpecificationDictionary = {}; 
    name = ERIAttributeType; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            destination = ERIAttribute; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = indexedAttributeTypeID; sourceAttribute = id; }); 
            name = indexedAttributes; 
        }
    ); 
}
