{
    attributes = (
        {allowsNull = N; name = id; prototypeName = id; }, 
        {allowsNull = N; columnName = name; name = name; prototypeName = varchar100; }
    ); 
    attributesUsedForLocking = (id, name); 
    className = "er.indexing.attributes.ERIEntity"; 
    classProperties = (indexedAttributes, name); 
    externalName = ERIEntity; 
    fetchSpecificationDictionary = {}; 
    name = ERIEntity; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            destination = ERIAttribute; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = indexedEntityId; sourceAttribute = id; }); 
            name = indexedAttributes; 
        }
    ); 
}
