<webobject name=PageWrapper>
<webobject name=Help></webobject>
<webobject name=EditForm>
<table class="CreateTable">
	<tr>
		<td class="Header">
			<webobject name=ERDBannerComponent></webobject><webobject name=Header></webobject>
		</td>
	</tr>
	<tr>
		<td class="Banner">
			<span class=BannerText><webobject name=StepName></webobject></span>
			<span class=BannerStepNumbersText><webobject name=Steps></webobject></span>
		</td>
	</tr>
	<tr>
		<td class="Errors"><webobject name=Errors></webobject></td>
	</tr>
	<tr>
		<td class="Repetition"><webobject name=InspectPageRepetition></webobject></td>
	</tr>
	<tr>
		<td class="Actions">
			<webobject name=ShowCancel><webobject name=CancelButton></webobject></webobject>
			<webobject name=ShowPrevious><webobject name=PreviousButton></webobject></webobject>
			<webobject name=ShowNext><webobject name=NextButton></webobject></webobject>
			<webobject name=ShowSave><webobject name=SaveButton></webobject></webobject>
		</td>
	</tr>
</table>
</webobject></webobject>