<svg style="fill-rule:nonzero;clip-rule:nonzero;stroke:#000000;stroke-miterlimit:4; font-family:'Myriad-Roman'; font-size:195.3435;">
	<g>
		<text transform="matrix(0.9775 0 0 1 0 162.3291)"><tspan x="0" y="0" style="stroke:none;"><webobject name=TextString></webobject></tspan></text>
		<text transform="matrix(0.9775 0 0 1 0 162.3291)"><tspan x="0" y="0" style="fill:none;stroke:#DE2411;stroke-width:22;"><webobject name=TextString></webobject></tspan></text>
		<text transform="matrix(0.9775 0 0 1 0 162.3291)"><tspan x="0" y="0" style="fill:none;stroke:#66B938;stroke-width:18;stroke-dasharray:14 11;"><webobject name=TextString></webobject></tspan></text>
		<text transform="matrix(0.9775 0 0 1 0 162.3291)"><tspan x="0" y="0" style="fill:none;stroke:#FFD200;stroke-width:14;"><webobject name=TextString></webobject></tspan></text>
		<text transform="matrix(0.9775 0 0 1 0 162.3291)"><tspan x="0" y="0" style="fill:none;stroke:#F2026D;stroke-width:10;stroke-dasharray:11 6;"><webobject name=TextString></webobject></tspan></text>
		<text transform="matrix(0.9775 0 0 1 0 162.3291)"><tspan x="0" y="0" style="fill:none;stroke:#42A1C9;stroke-width:6;"><webobject name=TextString></webobject></tspan></text>
		<text transform="matrix(0.9775 0 0 1 0 162.3291)"><tspan x="0" y="0" style="fill:none;stroke:#271E7B;stroke-width:6.5;stroke-dasharray:11 11;"><webobject name=TextString></webobject></tspan></text>
	</g>
</svg>