<webobject name=PageWrapper>

<webobject name=Help />

  <webobject name=EditForm>

	<h1 class="banner text"><webobject name=StepName></webobject></h1>
	<h2 class="banner step"><webobject name=Steps></webobject></h2>
	
	<webobject name=InspectPageRepetition></webobject>
	
	<fieldset class="button">
    <ul>
        <webobject name=ShowCancel><li><webobject name=CancelButton></webobject></li></webobject>
		<webobject name=ShowPrevious><li><webobject name=PreviousButton>Previous</webobject></li></webobject>
		<webobject name=ShowNext><li><webobject name=NextButton>Next</webobject></li></webobject>
		<webobject name=ShowSave><li><webobject name=SaveButton></webobject></li></webobject>
	</ul>
   </fieldset>

 </webobject>

  <webobject name=Errors></webobject>

</webobject>
