<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>JasperReportsExample</title>
	<!-- Source File -->
	<wo:ERXStyleSheet filename = "reset.css"></wo:ERXStyleSheet>
	<wo:ERXStyleSheet filename = "fonts.css"></wo:ERXStyleSheet>
	<wo:ERXStyleSheet filename = "grids.css"></wo:ERXStyleSheet>
	<wo:ERXStyleSheet filename = "base.css"></wo:ERXStyleSheet>
	<wo:ERXStyleSheet filename = "jrexample.css"></wo:ERXStyleSheet>
</head>
<body>
<div id="doc">
   <div id="hd">
   <div class = "center">
<wo:img filename = "WOWODC.png" /></div>
<div class = "center"><wo:img filename = "example-sub-logo.png" /></div>
</div> 
   <div id="bd"><div class = "large-round-corners border focus prepend-top">
<wo:WOComponentContent></wo:WOComponentContent>
</div>
</div> 
   <div id="ft"><!-- footer --></div> 
</div>
</body>
</html>
