
{
    attributes = 
    (
       
       {
           columnName = value;
           name = id;
           valueClassName = NSNumber;
           valueType = c;
       }, 
       
       {
           columnName = value;
           name = value;
           valueClassName = NSCalendarDate;
       }
    );
    attributesUsedForLocking = 
    (
       id, 
       value
    );
    className = Record;
    classProperties = 
    (
       value
    );
    externalName = NSTimestamp;
    internalInfo = 
    {};
    name = NSTimestamp;
    primaryKeyAttributes = 
    (
       id
    );
}