

BODY {
  margin       : 0pt;
  font-family  : Verdana, Arial, Helvetica;
  font-size    : 10pt;
  color        : #000066;
  border-width : 0pt;
}

TABLE {
   font-size       : 100%;
   border          : 0pt;
   margin          : 0pt;
}

.page {
   background-color: #FFFDE5; 
   border          : inset 1pt; 
   border-spacing  : 2pt; 
   padding         : 2pt;
   cellspacing	   : 0pt;
   border-style    : solid;
   border-color    : #D9B755;
}


.large { font-size: 120%;}
.small { font-size:  80%;}


.majorHeader { font-weight:bold;font-size: 120%; background-color : #FFE999; } 
.header { font-weight:bold;background-color : #FFE999; }
.minorHeader { font-weight:bold;font-size:  80%;  background-color : #FFE999; }
.odd  { background-color: #FFFFEF; }
.even { background-color: #FFFAD3; }
.odd2  { background-color: #DDDDFF; }
.even2 { background-color: #BBBBF9; }

.minorOdd { background-color: #FFFFEF; font-size: 80%;  }
.minorEven { background-color: #FFFAD3; font-size: 80%;  }
.minorOdd2 { background-color: #DDDDFF; font-size: 80%; }
.minorEven2 { background-color: #BBBBF9; font-size: 80%; }

.summary { background-color: #FFF2B9; }

TH { border           : inset 0pt; }

TD { padding         : 2pt;}

