<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>ERCayenne Example</title>
</head>
<body>

<table border="1">
	<tr>
		<td>Artist</td>
		<td>Painting</td>
	</tr>
	<wo:loop list="$picasso.paintings" item="$painting">
	<tr>
		<td><wo:str value="$painting.artist.name" /></td>
		<td><wo:str value="$painting.name" /></td>
	</tr>
	</wo:loop>
</table>

</body>
</html>