<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 20000303 Stylable//EN"   "http://www.w3.org/TR/2000/03/WD-SVG-20000303/DTD/svg-20000303-stylable.dtd">
<!-- Generator: Adobe Illustrator 9.0, SVG Export Plug-In  -->
<svg viewBox="0 0 542.28 731.52" xml:space="preserve">
	<g id="Layer_x0020_1" style="fill-rule:nonzero;clip-rule:nonzero;stroke:#000000;stroke-miterlimit:4; font-family:'NewCenturySchlbk-Roman'; font-size:8.963; word-spacing:1.68em;">
		<text transform="matrix(1 0 0 1 65.0386 160.2085)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">Do you want $3 to go to this fund?</tspan></text>
		<text transform="matrix(1 0 0 1 329.0488 158.7148)"><tspan x="0" y="0" style="stroke:none; font-family:'Universal-NewswithCommPi'; font-size:6.971; word-spacing:0em;">©</tspan></text>
		<text transform="matrix(0.9777 0 0 1 84.8569 234.8076)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">Taxable interest income of $400 or less. If the total is</tspan></text>
		<text transform="matrix(0.9777 0 0 1 84.8569 244.7656)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">over $400, you cannot use Form 1040EZ.</tspan></text>
		<path style="fill:none;stroke-width:1.992;stroke-linecap:square;stroke-miterlimit:10;" d="M87.02,338.98h14"/>
		<path style="fill:none;stroke-width:1.992;stroke-linecap:square;stroke-miterlimit:10;" d="M87.02,339.08v10.06"/>
		<path style="fill:none;stroke-width:1.992;stroke-linecap:square;stroke-miterlimit:10;" d="M101.02,339.08v10.06"/>
		<path style="fill:none;stroke-width:1.992;stroke-linecap:square;stroke-miterlimit:10;" d="M87.02,349.17h14"/>
		<text transform="matrix(1 0 0 1 65.0386 6.1206)" style="stroke:none; font-size:6.971; word-spacing:0em;"><tspan x="0" y="0">Department of the Treasury</tspan><tspan x="92.03" y="0">&#208;</tspan><tspan x="99" y="0">Internal</tspan></text>
		<text transform="matrix(1 0 0 1 193.1582 6.1206)"><tspan x="0" y="0" style="stroke:none; font-size:6.971; word-spacing:0em;">Revenue Service</tspan></text>
		<text transform="matrix(1 0 0 1 0.2085 16.1797)"><tspan x="0" y="0" style="stroke:none; font-family:'NewCenturySchlbk-Bold'; font-size:6.971;letter-spacing:-1.000000e-003em; word-spacing:0em;">Form</tspan></text>
		<text transform="matrix(1 0 0 1 65.0386 18.5688)"><tspan x="0" y="0" style="stroke:none; font-family:'FranklinGothic-Demi'; font-size:11.95; word-spacing:0em;">Income T</tspan></text>
		<text transform="matrix(1 0 0 1 113.9263 18.5688)"><tspan x="0" y="0" style="stroke:none; font-family:'FranklinGothic-Demi'; font-size:11.95; word-spacing:0em;">ax Retur</tspan></text>
		<text transform="matrix(1 0 0 1 160.4116 18.5688)"><tspan x="0" y="0" style="stroke:none; font-family:'FranklinGothic-Demi'; font-size:11.95; word-spacing:0em;">n for Single and</tspan></text>
		<text transform="matrix(1 0 0 1 65.0386 30.5186)"><tspan x="0" y="0" style="stroke:none; font-family:'FranklinGothic-Demi'; font-size:11.95; word-spacing:0em;">Joint Filers W</tspan></text>
		<text transform="matrix(1 0 0 1 138.5313 30.5186)"><tspan x="0" y="0" style="stroke:none; font-family:'FranklinGothic-Demi'; font-size:11.95; word-spacing:0em;">ith No Dependents</tspan></text>
		<text transform="matrix(1.0001 0 0 1.0001 0.21 30.5186)"><tspan x="0" y="0" style="stroke:none; font-family:'FranklinGothic-Demi'; font-size:13.942; word-spacing:0em;">1040EZ</tspan></text>
		<text transform="matrix(1 0 0 1 259.4189 30.5186)"><tspan x="0" y="0" style="stroke:none; font-family:'FranklinGothic-Demi'; font-size:15.934; word-spacing:0em;">1996</tspan></text>
		<text transform="matrix(1 0 0 1 309.5596 30.5186)"><tspan x="0" y="0" style="stroke:none; font-size:6.971; word-spacing:0em;">OMB No. 1545-0675</tspan></text>
		<path style="fill:none;stroke-width:1.992;stroke-miterlimit:10;" d="M0.21,35.5h525.86"/>
		<text transform="matrix(1 0 0 1 370.377 90.9575)"><tspan x="0" y="0" style="stroke:none; font-family:'NewCenturySchlbk-Bold'; word-spacing:0em;">Spouse&apos;s social security number</tspan></text>
		<text transform="matrix(1 0 0 1 386.0264 157.2568)"><tspan x="0" y="0" style="stroke:none; font-family:'NewCenturySchlbk-Bold'; letter-spacing:-3.000000e-003em; word-spacing:0em;">No</tspan></text>
		<text transform="matrix(0.8889 0 0 1 345.8389 157.2505)"><tspan x="0" y="0" style="stroke:none; font-family:'NewCenturySchlbk-Bold'; letter-spacing:-2.000000e-003em; word-spacing:0em;">Yes</tspan></text>
		<path style="fill:none;stroke-width:1.992;stroke-miterlimit:10;" d="M471.94,170.65v-28.83"/>
		<path style="fill:none;stroke-width:1.992;stroke-miterlimit:10;" d="M471.94,156.24h30.37"/>
		<text transform="matrix(0.975 0 0 1 65.0386 147.5918)"><tspan x="0" y="0" style="stroke:none; font-family:'NewCenturySchlbk-Bold'; font-size:7.967; word-spacing:0em;">Note:</tspan></text>
		<text transform="matrix(0.975 0 0 1 86.1602 147.5918)" style="stroke:none; font-family:'NewCenturySchlbk-Italic'; font-size:7.967; word-spacing:0em;"><tspan x="0" y="0"> Checking </tspan><tspan x="39.24" y="0">»</tspan><tspan x="42.34" y="0">Yes</tspan><tspan x="54.87" y="0">¼</tspan><tspan x="57.97" y="0"> will not change your tax or reduce your refund.</tspan></text>
		<text transform="matrix(0.8889 0 0 1 0.2588 146.2266)"><tspan x="0" y="0" style="stroke:none; font-family:'NewCenturySchlbk-Bold'; word-spacing:0em;">Presidential</tspan></text>
		<text transform="matrix(0.8889 0 0 1 0.2588 156.1846)"><tspan x="0" y="0" style="stroke:none; font-family:'NewCenturySchlbk-Bold'; letter-spacing:1.000000e-003em; word-spacing:0em;">Election</tspan></text>
		<text transform="matrix(0.8889 0 0 1 0.2588 166.1421)"><tspan x="0" y="0" style="stroke:none; font-family:'NewCenturySchlbk-Bold'; letter-spacing:1.000000e-003em; word-spacing:0em;">Campaign</tspan></text>
		<text transform="matrix(0.8889 0 0 1 0.2588 176.1001)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">(See page 7.)</tspan></text>
		<path style="fill:none;stroke-width:0.996;stroke-miterlimit:10;" d="M0.21,179.5h335.91"/>
		<text transform="matrix(1 0 0 1 84.8569 194.7349)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">Total wages, salaries, and tips. This</tspan></text>
		<text transform="matrix(1 0 0 1 84.8569 204.6924)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">should be shown in box 1 of your</tspan></text>
		<text transform="matrix(1 0 0 1 84.8569 214.6504)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">W-2 form(s). Attach your W-2 form(s).</tspan></text>
		<text transform="matrix(1 0 0 1 70.4175 194.8779)"><tspan x="0" y="0" style="stroke:none; font-family:'FranklinGothic-Demi'; word-spacing:0em;">1</tspan></text>
		<text transform="matrix(1 0 0 1 331.1152 214.6504)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">1</tspan></text>
		<path style="fill:none;stroke-width:0.498;stroke-miterlimit:10;" d="M65.14,217.64h270.98"/>
		<text transform="matrix(1 0 0 1 0.21 210.9868)"><tspan x="0" y="0" style="stroke:none; font-family:'NewCenturySchlbk-Bold'; font-size:7.967;letter-spacing:3.000000e-003em; word-spacing:0em;">Attach</tspan></text>
		<text transform="matrix(1 0 0 1 0.21 219.9497)"><tspan x="0" y="0" style="stroke:none; font-family:'NewCenturySchlbk-Bold'; font-size:7.967; word-spacing:0em;">Copy B of</tspan></text>
		<text transform="matrix(1 0 0 1 0.21 228.9126)"><tspan x="0" y="0" style="stroke:none; font-family:'NewCenturySchlbk-Bold'; font-size:7.967; word-spacing:0em;">Form(s)</tspan></text>
		<text transform="matrix(1 0 0 1 0.21 237.8755)"><tspan x="0" y="0" style="stroke:none; font-family:'NewCenturySchlbk-Bold'; font-size:7.967; word-spacing:0em;">W-2 here.</tspan></text>
		<text transform="matrix(0.9375 0 0 1 0.21 246.8379)"><tspan x="0" y="0" style="stroke:none; font-size:7.967; word-spacing:0em;">Enclose, but</tspan></text>
		<text transform="matrix(0.9375 0 0 1 0.21 255.8008)"><tspan x="0" y="0" style="stroke:none; font-size:7.967; word-spacing:0em;">do not attach,</tspan></text>
		<text transform="matrix(0.9375 0 0 1 0.21 264.7632)"><tspan x="0" y="0" style="stroke:none; font-size:7.967; word-spacing:0em;">any payment</tspan></text>
		<text transform="matrix(0.9375 0 0 1 0.21 273.7261)"><tspan x="0" y="0" style="stroke:none; font-size:7.967; word-spacing:0em;">with your</tspan></text>
		<text transform="matrix(0.9375 0 0 1 0.21 282.689)"><tspan x="0" y="0" style="stroke:none; font-size:7.967; word-spacing:0em;">return.</tspan></text>
		<text transform="matrix(1 0 0 1 70.417 234.3599)"><tspan x="0" y="0" style="stroke:none; font-family:'FranklinGothic-Demi'; word-spacing:0em;">2</tspan></text>
		<text transform="matrix(1 0 0 1 331.1143 244.7656)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">2</tspan></text>
		<text transform="matrix(0.9777 0 0 1 84.8569 288.0356)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">Add lines 1, 2, and 3. This is your </tspan></text>
		<text transform="matrix(0.9777 0 0 1 227.8604 288.0356)"><tspan x="0" y="0" style="stroke:none; font-family:'NewCenturySchlbk-Bold'; word-spacing:0em;">adjusted gross</tspan></text>
		<text transform="matrix(0.9777 0 0 1 84.8569 297.9937)"><tspan x="0" y="0" style="stroke:none; font-family:'NewCenturySchlbk-Bold'; word-spacing:0em;">income. </tspan></text>
		<text transform="matrix(0.9777 0 0 1 123.2388 297.9937)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">If under $9,500, see page 9 to find out if you can</tspan></text>
		<text transform="matrix(0.9777 0 0 1 84.8569 307.9512)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">claim the earned income credit on line 8.</tspan></text>
		<path style="fill:none;stroke-width:0.498;stroke-miterlimit:10;" d="M65.14,311.39h270.98"/>
		<text transform="matrix(0.9445 0 0 1 84.9561 320.0425)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">Can your parents (or someone else) claim you on their return?</tspan></text>
		<text transform="matrix(1 0 0 1 70.417 320.0425)"><tspan x="0" y="0" style="stroke:none; font-family:'FranklinGothic-Demi'; word-spacing:0em;">5</tspan></text>
		<text transform="matrix(1 0 0 1 0.21 325.0259)"><tspan x="0" y="0" style="stroke:none; font-family:'NewCenturySchlbk-Bold'; word-spacing:0em;">Note: </tspan></text>
		<text transform="matrix(1 0 0 1 27.6362 325.0259)"><tspan x="0" y="0" style="stroke:none; font-family:'NewCenturySchlbk-Italic'; letter-spacing:2.000000e-003em; word-spacing:0em;">You</tspan></text>
		<text transform="matrix(1 0 0 1 0.2095 334.9839)"><tspan x="0" y="0" style="stroke:none; font-family:'NewCenturySchlbk-BoldItalic'; word-spacing:0em;">must </tspan></text>
		<text transform="matrix(1 0 0 1 25.8438 334.9839)"><tspan x="0" y="0" style="stroke:none; font-family:'NewCenturySchlbk-Italic'; letter-spacing:-1.000000e-003em; word-spacing:0em;">check</tspan></text>
		<text transform="matrix(1 0 0 1 0.2095 344.9419)"><tspan x="0" y="0" style="stroke:none; font-family:'NewCenturySchlbk-Italic'; word-spacing:0em;">Yes or No.</tspan></text>
		<text transform="matrix(0.8889 0 0 1 84.9561 330.7876)"><tspan x="0" y="0" style="stroke:none; font-family:'NewCenturySchlbk-Bold'; word-spacing:0em;">Yes.</tspan></text>
		<text transform="matrix(0.8889 0 0 1 195.0195 330.7876)"><tspan x="0" y="0" style="stroke:none; font-family:'NewCenturySchlbk-Bold'; word-spacing:0em;">No.</tspan></text>
		<text transform="matrix(1 0 0 1 331.1006 349.7085)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">5</tspan></text>
		<path style="fill:none;stroke-width:0.498;stroke-miterlimit:10;" d="M65.14,357.17h270.98"/>
		<text transform="matrix(1 0 0 1 84.8569 367.8926)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">Subtract line 5 from line 4. If line 5 is larger than</tspan></text>
		<text transform="matrix(1 0 0 1 84.8569 377.8506)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">line 4, enter 0. This is your </tspan></text>
		<text transform="matrix(1 0 0 1 202.9893 377.8506)"><tspan x="0" y="0" style="stroke:none; font-family:'NewCenturySchlbk-Bold'; word-spacing:0em;">taxable income.</tspan></text>
		<text transform="matrix(1 0 0 1 318.8818 376.3574)"><tspan x="0" y="0" style="stroke:none; font-family:'Universal-NewswithCommPi'; font-size:6.971; word-spacing:0em;">©</tspan></text>
		<text transform="matrix(1 0 0 1 70.3867 367.8926)"><tspan x="0" y="0" style="stroke:none; font-family:'FranklinGothic-Demi'; word-spacing:0em;">6</tspan></text>
		<text transform="matrix(1 0 0 1 331.1113 377.8506)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">6</tspan></text>
		<path style="fill:none;stroke-width:0.996;stroke-miterlimit:10;" d="M0.21,380.84h335.91"/>
		<text transform="matrix(1 0 0 1 0.21 398.416)"><tspan x="0" y="0" style="stroke:none; font-family:'FranklinGothic-Demi'; font-size:11.95; word-spacing:0em;">Payments</tspan></text>
		<text transform="matrix(1 0 0 1 0.21 411.3574)"><tspan x="0" y="0" style="stroke:none; font-family:'FranklinGothic-Demi'; font-size:11.95; word-spacing:0em;">and tax</tspan></text>
		<text transform="matrix(1 0 0 1 84.8569 419.4082)"><tspan x="0" y="0" style="stroke:none; font-family:'NewCenturySchlbk-Bold'; word-spacing:0em;">Earned income credit </tspan></text>
		<text transform="matrix(1 0 0 1 189.9033 419.4082)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">(see page 9). Enter type</tspan></text>
		<text transform="matrix(1 0 0 1 84.8569 428.3721)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">and amount of nontaxable earned income below.</tspan></text>
		<text transform="matrix(1 0 0 1 70.3906 397.8076)"><tspan x="0" y="0" style="stroke:none; font-family:'FranklinGothic-Demi'; word-spacing:0em;">7</tspan></text>
		<text transform="matrix(1 0 0 1 331.1152 407.7656)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">7</tspan></text>
		<path style="fill:none;stroke-width:0.498;stroke-miterlimit:10;" d="M65.14,410.75h270.98"/>
		<text transform="matrix(1 0 0 1 84.8569 487.9629)"><tspan x="0" y="0" style="stroke:none; font-family:'NewCenturySchlbk-Bold'; word-spacing:0em;">Tax. </tspan></text>
		<text transform="matrix(1 0 0 1 107.8022 487.9629)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">Use the amount on </tspan></text>
		<text transform="matrix(1 0 0 1 191.2476 487.9629)"><tspan x="0" y="0" style="stroke:none; font-family:'NewCenturySchlbk-Bold'; word-spacing:0em;">line 6 </tspan></text>
		<text transform="matrix(1 0 0 1 220.1978 487.9629)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">to find your tax in the</tspan></text>
		<text transform="matrix(1 0 0 1 84.8564 497.9209)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">tax </tspan></text>
		<text transform="matrix(1 0 0 1 101.25 497.9209)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">table </tspan></text>
		<text transform="matrix(1 0 0 1 125.1182 497.9209)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">on </tspan></text>
		<text transform="matrix(1 0 0 1 138.1865 497.9209)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">pages </tspan></text>
		<text transform="matrix(1 0 0 1 164.8691 497.9209)" style="stroke:none; word-spacing:0em;"><tspan x="0" y="0">20</tspan><tspan x="9.97" y="0">±</tspan><tspan x="14.95" y="0">24</tspan></text>
		<text transform="matrix(1 0 0 1 192.9053 497.9209)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">of the booklet. Then, enter the</tspan></text>
		<text transform="matrix(1 0 0 1 84.8564 507.8779)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">tax from the table on this line.</tspan></text>
		<text transform="matrix(1 0 0 1 65.0127 487.9629)"><tspan x="0" y="0" style="stroke:none; font-family:'FranklinGothic-Demi'; word-spacing:0em;">10</tspan></text>
		<text transform="matrix(1 0 0 1 326.0957 507.8779)"><tspan x="0" y="0" style="stroke:none; letter-spacing:8.000000e-003em; word-spacing:0em;">10</tspan></text>
		<path style="fill:none;stroke-width:0.996;stroke-miterlimit:10;" d="M0.21,510.87h335.91"/>
		<text transform="matrix(1 0 0 1 0.21 528.4434)"><tspan x="0" y="0" style="stroke:none; font-family:'FranklinGothic-Demi'; font-size:11.95; word-spacing:0em;">Refund</tspan></text>
		<text transform="matrix(0.9555 0 0 1 84.8569 528.4043)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">If line 9 is larger than line 10, subtract line 10 from</tspan></text>
		<text transform="matrix(0.9555 0 0 1 84.8569 538.3623)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">line 9. This is your </tspan></text>
		<text transform="matrix(0.9555 0 0 1 163.8169 538.3623)"><tspan x="0" y="0" style="stroke:none; font-family:'NewCenturySchlbk-Bold'; letter-spacing:2.000000e-003em; word-spacing:0em;">refund.</tspan></text>
		<text transform="matrix(1 0 0 1 65.0088 528.4043)"><tspan x="0" y="0" style="stroke:none; font-family:'FranklinGothic-Demi'; word-spacing:0em;">11a</tspan></text>
		<text transform="matrix(1 0 0 1 326.0918 538.3623)"><tspan x="0" y="0" style="stroke:none; letter-spacing:6.000000e-003em; word-spacing:0em;">11a</tspan></text>
		<text transform="matrix(0.9777 0 0 1 84.8569 622.9795)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">If line 10 is larger than line 9, subtract line 9 from line</tspan></text>
		<text transform="matrix(0.9777 0 0 1 84.8569 632.4443)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">10. This is the </tspan></text>
		<text transform="matrix(0.9777 0 0 1 147.0742 632.4443)"><tspan x="0" y="0" style="stroke:none; font-family:'NewCenturySchlbk-Bold'; word-spacing:0em;">amount you owe. </tspan></text>
		<text transform="matrix(0.9777 0 0 1 228.2983 632.4443)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">See page 13 for details</tspan></text>
		<text transform="matrix(0.9777 0 0 1 84.8569 641.9092)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">on how to pay and what to write on your payment.</tspan></text>
		<path style="fill:none;stroke-width:0.996;stroke-miterlimit:10;" d="M0.21,644.89h335.91"/>
		<text transform="matrix(0.8429 0 0 1 0 652.9053)"><tspan x="0" y="0" style="stroke:none; font-family:'NewCenturySchlbk-Bold'; font-size:6.971; word-spacing:0em;">I have read this return. Under penalties of perjury, I declare that to the best of my knowledge and belief, the</tspan></text>
		<text transform="matrix(0.8429 0 0 1 0 659.877)"><tspan x="0" y="0" style="stroke:none; font-family:'NewCenturySchlbk-Bold'; font-size:6.971; word-spacing:0em;">return is true, correct, and accurately lists all amounts and sources of income I received during the tax year.</tspan></text>
		<text transform="matrix(1 0 0 1 0.21 676.2881)"><tspan x="0" y="0" style="stroke:none; font-family:'FranklinGothic-Demi'; font-size:11.95; word-spacing:0em;">Sign</tspan></text>
		<text transform="matrix(1 0 0 1 0.21 688.2373)"><tspan x="0" y="0" style="stroke:none; font-family:'FranklinGothic-Demi'; font-size:11.95; word-spacing:0em;">her</tspan></text>
		<text transform="matrix(1 0 0 1 17.4175 688.2373)"><tspan x="0" y="0" style="stroke:none; font-family:'FranklinGothic-Demi'; font-size:11.95; word-spacing:0em;">e</tspan></text>
		<text transform="matrix(0.9445 0 0 1 364.332 664.7754)"><tspan x="0" y="0" style="fill:#808080;stroke:none; font-family:'HelveticaNeue-Roman'; letter-spacing:-5.000000e-003em; word-spacing:0em;">For</tspan></text>
		<text transform="matrix(0.9445 0 0 1 364.332 674.7334)"><tspan x="0" y="0" style="fill:#808080;stroke:none; font-family:'HelveticaNeue-Roman'; letter-spacing:1.000000e-003em; word-spacing:0em;">Official</tspan></text>
		<text transform="matrix(0.9445 0 0 1 364.332 684.6914)"><tspan x="0" y="0" style="fill:#808080;stroke:none; font-family:'HelveticaNeue-Roman'; letter-spacing:1.000000e-003em; word-spacing:0em;">Use</tspan></text>
		<text transform="matrix(0.9445 0 0 1 364.332 694.6494)"><tspan x="0" y="0" style="fill:#808080;stroke:none; font-family:'HelveticaNeue-Roman'; letter-spacing:1.000000e-003em; word-spacing:0em;">Only</tspan></text>
		<path style="fill:none;stroke-width:0.498;stroke-miterlimit:10;" d="M61.06,664.09h275.06"/>
		<text transform="matrix(1 0 0 1 0.21 699.7607)"><tspan x="0" y="0" style="stroke:none; font-size:7.967; word-spacing:0em;">Keep copy for</tspan></text>
		<text transform="matrix(1 0 0 1 0.21 707.7275)"><tspan x="0" y="0" style="stroke:none; font-size:7.967; word-spacing:0em;">your records.</tspan></text>
		<path style="fill:none;stroke-width:0.996;stroke-miterlimit:10;" d="M0.21,717.86h525.86"/>
		<text transform="matrix(1 0 0 1 0.21 729.0283)"><tspan x="0" y="0" style="stroke:none; font-family:'NewCenturySchlbk-Bold'; font-size:7.967; word-spacing:0em;">For Privacy Act and Paperwork Reduction Act Notice, see page 5.</tspan></text>
		<text transform="matrix(1 0 0 1 406.5654 729.0283)"><tspan x="0" y="0" style="stroke:none; font-family:'OCRA'; font-size:9.958; word-spacing:0em;">Form </tspan></text>
		<text transform="matrix(1 0 0 1 438.6309 729.0283)"><tspan x="0" y="0" style="stroke:none; font-family:'OCRA'; font-size:9.958; word-spacing:0em;">1040EZ </tspan></text>
		<text transform="matrix(1 0 0 1 485.0352 729.0283)"><tspan x="0" y="0" style="stroke:none; font-family:'OCRA'; font-size:9.958; word-spacing:0em;">(1996)</tspan></text>
		<text transform="matrix(1 0 0 1 0.21 197.0747)"><tspan x="0" y="0" style="stroke:none; font-family:'FranklinGothic-Demi'; font-size:11.95; word-spacing:0em;">Income</tspan></text>
		<path style="fill:none;stroke-width:3.585;stroke-miterlimit:10;" d="M427.23,681.05v23.83"/>
		<path style="fill:none;stroke-width:3.585;stroke-miterlimit:10;" d="M445.11,681.05v23.83"/>
		<path style="fill:none;stroke-width:3.585;stroke-miterlimit:10;" d="M425.39,681.05h21.31"/>
		<path style="fill:none;stroke-width:3.585;stroke-miterlimit:10;" d="M425.39,704.88h21.31"/>
		<path style="fill:none;stroke-width:3.585;stroke-miterlimit:10;" d="M427.54,649.13v23.83"/>
		<path style="fill:none;stroke-width:3.585;stroke-miterlimit:10;" d="M445.17,649.13v23.83"/>
		<path style="fill:none;stroke-width:3.585;stroke-miterlimit:10;" d="M425.7,649.13h21.31"/>
		<path style="fill:none;stroke-width:3.585;stroke-miterlimit:10;" d="M425.7,672.96h21.31"/>
		<path style="fill:none;stroke-width:3.585;stroke-miterlimit:10;" d="M454.1,649.13v23.83"/>
		<path style="fill:none;stroke-width:3.585;stroke-miterlimit:10;" d="M471.72,649.13v23.83"/>
		<path style="fill:none;stroke-width:3.585;stroke-miterlimit:10;" d="M452.26,649.13h21.31"/>
		<path style="fill:none;stroke-width:3.585;stroke-miterlimit:10;" d="M452.26,672.96h21.31"/>
		<path style="fill:none;stroke-width:3.585;stroke-miterlimit:10;" d="M480.92,649.13v23.83"/>
		<path style="fill:none;stroke-width:3.585;stroke-miterlimit:10;" d="M498.54,649.13v23.83"/>
		<path style="fill:none;stroke-width:3.585;stroke-miterlimit:10;" d="M479.07,649.13h21.31"/>
		<path style="fill:none;stroke-width:3.585;stroke-miterlimit:10;" d="M479.07,672.96h21.31"/>
		<path style="fill:none;stroke-width:3.585;stroke-miterlimit:10;" d="M506.6,649.13v23.83"/>
		<path style="fill:none;stroke-width:3.585;stroke-miterlimit:10;" d="M524.23,649.13v23.83"/>
		<path style="fill:none;stroke-width:3.585;stroke-miterlimit:10;" d="M504.76,649.13h21.31"/>
		<path style="fill:none;stroke-width:3.585;stroke-miterlimit:10;" d="M504.76,672.96h21.31"/>
		<path style="fill:none;stroke-width:3.585;stroke-miterlimit:10;" d="M454.07,681.05v23.83"/>
		<path style="fill:none;stroke-width:3.585;stroke-miterlimit:10;" d="M471.69,681.05v23.83"/>
		<path style="fill:none;stroke-width:3.585;stroke-miterlimit:10;" d="M452.23,681.05h21.31"/>
		<path style="fill:none;stroke-width:3.585;stroke-miterlimit:10;" d="M452.23,704.88h21.31"/>
		<path style="fill:none;stroke-width:3.585;stroke-miterlimit:10;" d="M480.9,681.05v23.83"/>
		<path style="fill:none;stroke-width:3.585;stroke-miterlimit:10;" d="M498.52,681.05v23.83"/>
		<path style="fill:none;stroke-width:3.585;stroke-miterlimit:10;" d="M479.05,681.05h21.31"/>
		<path style="fill:none;stroke-width:3.585;stroke-miterlimit:10;" d="M479.05,704.88h21.31"/>
		<path style="fill:none;stroke-width:3.585;stroke-miterlimit:10;" d="M506.57,681.05v23.83"/>
		<path style="fill:none;stroke-width:3.585;stroke-miterlimit:10;" d="M524.2,681.05v23.83"/>
		<path style="fill:none;stroke-width:3.585;stroke-miterlimit:10;" d="M504.73,681.05h21.31"/>
		<path style="fill:none;stroke-width:3.585;stroke-miterlimit:10;" d="M504.73,704.88h21.31"/>
		<text transform="matrix(1 0 0 1 315.3262 729.0283)"><tspan x="0" y="0" style="stroke:none; font-size:6.971; word-spacing:0em;">Cat. No. 11329W</tspan></text>
		<text transform="matrix(1 0 0 1 331.1006 308.4009)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">4</tspan></text>
		<text transform="matrix(1 0 0 1 70.4028 288.0366)"><tspan x="0" y="0" style="stroke:none; font-family:'FranklinGothic-Demi'; word-spacing:0em;">4</tspan></text>
		<text transform="matrix(1 0 0 1 64.9985 622.9932)"><tspan x="0" y="0" style="stroke:none; font-family:'FranklinGothic-Demi'; word-spacing:0em;">12</tspan></text>
		<text transform="matrix(1 0 0 1 326.0811 641.9141)"><tspan x="0" y="0" style="stroke:none; letter-spacing:8.000000e-003em; word-spacing:0em;">12</tspan></text>
		<text transform="matrix(1 0 0 1 65.0386 176.5107)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">If a joint return, does your spouse want $3 to go to this fund?</tspan></text>
		<text transform="matrix(1 0 0 1 329.0488 175.0166)"><tspan x="0" y="0" style="stroke:none; font-family:'Universal-NewswithCommPi'; font-size:6.971; word-spacing:0em;">©</tspan></text>
		<text transform="matrix(1 0 0 1 377.9063 45.9448)"><tspan x="0" y="0" style="stroke:none; font-family:'NewCenturySchlbk-Bold'; word-spacing:0em;">Your social security number</tspan></text>
		<path style="fill:none;stroke-width:0.498;stroke-miterlimit:10;" d="M61.06,693.96h133.56"/>
		<path style="fill:none;stroke-width:0.498;stroke-miterlimit:10;" d="M65.14,163.2h270.98"/>
		<path style="fill:none;stroke-width:1.992;stroke-linecap:square;stroke-miterlimit:10;" d="M363.09,158.66h17.93"/>
		<path style="fill:none;stroke-width:1.992;stroke-linecap:square;stroke-miterlimit:10;" d="M381.01,158.66v-14.94"/>
		<path style="fill:none;stroke-width:1.992;stroke-linecap:square;stroke-miterlimit:10;" d="M381.01,143.73h-17.93"/>
		<path style="fill:none;stroke-width:1.992;stroke-linecap:square;stroke-miterlimit:10;" d="M363.09,143.73v14.94"/>
		<path style="fill:none;stroke-width:1.992;stroke-linecap:square;stroke-miterlimit:10;" d="M363.09,179.5h17.93"/>
		<path style="fill:none;stroke-width:1.992;stroke-linecap:square;stroke-miterlimit:10;" d="M381.01,179.5v-14.94"/>
		<path style="fill:none;stroke-width:1.992;stroke-linecap:square;stroke-miterlimit:10;" d="M381.01,164.56h-17.93"/>
		<path style="fill:none;stroke-width:1.992;stroke-linecap:square;stroke-miterlimit:10;" d="M363.09,164.56v14.94"/>
		<path style="fill:none;stroke-width:1.992;stroke-linecap:square;stroke-miterlimit:10;" d="M401.92,158.66h17.93"/>
		<path style="fill:none;stroke-width:1.992;stroke-linecap:square;stroke-miterlimit:10;" d="M419.84,158.66v-14.94"/>
		<path style="fill:none;stroke-width:1.992;stroke-linecap:square;stroke-miterlimit:10;" d="M419.84,143.73h-17.93"/>
		<path style="fill:none;stroke-width:1.992;stroke-linecap:square;stroke-miterlimit:10;" d="M401.92,143.73v14.94"/>
		<path style="fill:none;stroke-width:1.992;stroke-linecap:square;stroke-miterlimit:10;" d="M401.92,179.5h17.93"/>
		<path style="fill:none;stroke-width:1.992;stroke-linecap:square;stroke-miterlimit:10;" d="M419.84,179.5v-14.94"/>
		<path style="fill:none;stroke-width:1.992;stroke-linecap:square;stroke-miterlimit:10;" d="M419.84,164.56h-17.93"/>
		<path style="fill:none;stroke-width:1.992;stroke-linecap:square;stroke-miterlimit:10;" d="M401.92,164.56v14.94"/>
		<path style="fill:none;stroke-width:0.498;stroke-miterlimit:10;" d="M336.12,693.96h-134.3"/>
		<path style="fill:none;stroke-width:5.975;stroke-miterlimit:10;" d="M198.22,664.09v53.78"/>
		<text transform="matrix(1 0 0 1 84.8569 462.1211)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">Add lines 7 and 8 (do not include nontaxable earned </tspan></text>
		<text transform="matrix(1 0 0 1 84.8569 472.0781)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">income). These are your </tspan></text>
		<text transform="matrix(1 0 0 1 188.4692 472.0781)"><tspan x="0" y="0" style="stroke:none; font-family:'NewCenturySchlbk-Bold'; word-spacing:0em;">total payments.</tspan></text>
		<text transform="matrix(1 0 0 1 70.3906 418.542)"><tspan x="0" y="0" style="stroke:none; font-family:'FranklinGothic-Demi'; word-spacing:0em;">8</tspan></text>
		<text transform="matrix(1 0 0 1 331.1152 441.4971)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">8</tspan></text>
		<path style="fill:none;stroke-width:0.498;stroke-miterlimit:10;" d="M65.14,447.34h270.98"/>
		<text transform="matrix(1 0 0 1 70.3867 462.1211)"><tspan x="0" y="0" style="stroke:none; font-family:'FranklinGothic-Demi'; word-spacing:0em;">9</tspan></text>
		<text transform="matrix(1 0 0 1 331.1113 473.4414)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">9</tspan></text>
		<path style="fill:none;stroke-width:0.498;stroke-miterlimit:10;" d="M65.14,475.07h270.98"/>
		<text transform="matrix(1 0 0 1 84.8569 397.8086)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">Enter your Federal income tax withheld from box 2 of</tspan></text>
		<text transform="matrix(1 0 0 1 84.8569 407.7666)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">your W-2 form(s).</tspan></text>
		<text transform="matrix(1 0 0 1 89.478 439.3057)"><tspan x="0" y="0" style="stroke:none; font-family:'NewCenturySchlbk-Bold'; font-size:6.971; word-spacing:0em;">Type</tspan></text>
		<text transform="matrix(1 0 0 1 240.7065 439.3057)"><tspan x="0" y="0" style="stroke:none; font-family:'NewCenturySchlbk-Bold'; font-size:6.971; word-spacing:0em;">$</tspan></text>
		<path style="fill:none;stroke-width:1.494;stroke-linecap:square;stroke-miterlimit:10;" d="M237.07,444.78h80.69"/>
		<path style="fill:none;stroke-width:1.494;stroke-linecap:square;stroke-miterlimit:10;" d="M317.77,444.78v-13.49"/>
		<path style="fill:none;stroke-width:1.494;stroke-linecap:square;stroke-miterlimit:10;" d="M317.77,431.29h-80.69"/>
		<path style="fill:none;stroke-width:1.494;stroke-linecap:square;stroke-miterlimit:10;" d="M237.07,431.29v13.49"/>
		<path style="fill:none;stroke-width:1.494;stroke-linecap:square;stroke-miterlimit:10;" d="M85.87,444.78h145.49"/>
		<path style="fill:none;stroke-width:1.494;stroke-linecap:square;stroke-miterlimit:10;" d="M231.37,444.78v-13.49"/>
		<path style="fill:none;stroke-width:1.494;stroke-linecap:square;stroke-miterlimit:10;" d="M231.37,431.29H85.87"/>
		<path style="fill:none;stroke-width:1.494;stroke-linecap:square;stroke-miterlimit:10;" d="M85.87,431.29v13.49"/>
		<path style="fill:none;stroke-width:3.585;stroke-miterlimit:10;" d="M400.36,681.05v23.83"/>
		<path style="fill:none;stroke-width:3.585;stroke-miterlimit:10;" d="M417.99,681.05v23.83"/>
		<path style="fill:none;stroke-width:3.585;stroke-miterlimit:10;" d="M398.52,681.05h21.31"/>
		<path style="fill:none;stroke-width:3.585;stroke-miterlimit:10;" d="M398.52,704.88h21.31"/>
		<path style="fill:none;stroke-width:3.585;stroke-miterlimit:10;" d="M400.67,649.13v23.83"/>
		<path style="fill:none;stroke-width:3.585;stroke-miterlimit:10;" d="M418.55,649.13v23.83"/>
		<path style="fill:none;stroke-width:3.585;stroke-miterlimit:10;" d="M398.83,649.13h21.31"/>
		<path style="fill:none;stroke-width:3.585;stroke-miterlimit:10;" d="M398.83,672.96h21.31"/>
		<text transform="matrix(1 0 0 1 84.8569 274.7817)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">Unemployment compensation (see page 9).</tspan></text>
		<path style="fill:none;stroke-width:0.498;stroke-miterlimit:10;" d="M65.14,247.75h270.98"/>
		<text transform="matrix(1 0 0 1 70.3867 274.7817)"><tspan x="0" y="0" style="stroke:none; font-family:'FranklinGothic-Demi'; word-spacing:0em;">3</tspan></text>
		<text transform="matrix(1 0 0 1 331.1113 274.7817)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">3</tspan></text>
		<path style="fill:none;stroke-width:0.498;stroke-miterlimit:10;" d="M65.14,278.76h270.98"/>
		<text transform="matrix(1 0 0 1 27.2666 64.0498)"><tspan x="0" y="0" style="fill:#808080;stroke:none; font-family:'FranklinGothic-Demi'; font-size:11.95; word-spacing:0em;">Use</tspan></text>
		<text transform="matrix(1 0 0 1 27.2666 77.9956)"><tspan x="0" y="0" style="fill:#808080;stroke:none; font-family:'FranklinGothic-Demi'; font-size:11.95; word-spacing:0em;">the</tspan></text>
		<text transform="matrix(1 0 0 1 27.2666 91.9409)"><tspan x="0" y="0" style="fill:#808080;stroke:none; font-family:'FranklinGothic-Demi'; font-size:11.95; word-spacing:0em;">IRS</tspan></text>
		<text transform="matrix(1 0 0 1 27.2666 105.8867)"><tspan x="0" y="0" style="fill:#808080;stroke:none; font-family:'FranklinGothic-Demi'; font-size:11.95; word-spacing:0em;">label</tspan></text>
		<text transform="matrix(1 0 0 1 27.2666 119.8325)"><tspan x="0" y="0" style="fill:#808080;stroke:none; font-family:'FranklinGothic-Demi'; font-size:11.95; word-spacing:0em;">her</tspan></text>
		<text transform="matrix(1 0 0 1 44.4746 119.8325)"><tspan x="0" y="0" style="fill:#808080;stroke:none; font-family:'FranklinGothic-Demi'; font-size:11.95; word-spacing:0em;">e</tspan></text>
		<text transform="matrix(1 0 0 1 68.605 46.9209)"><tspan x="0" y="0" style="stroke:none; font-family:'HelveticaNeue-Roman'; font-size:6.971; word-spacing:0em;">Your first name and initial</tspan></text>
		<path style="fill:none;stroke-width:0.498;stroke-miterlimit:10;" d="M61.06,63.63h275.06"/>
		<path style="fill:none;stroke-width:0.498;stroke-miterlimit:10;" d="M291.34,111.63v-24.1"/>
		<text transform="matrix(1 0 0 1 298.5361 94.9209)"><tspan x="0" y="0" style="stroke:none; font-family:'HelveticaNeue-Roman'; font-size:6.971; word-spacing:0em;">Apt. no.</tspan></text>
		<text transform="matrix(0.8571 0 0 1 68.605 94.9209)"><tspan x="0" y="0" style="stroke:none; font-family:'HelveticaNeue-Roman'; font-size:6.971; word-spacing:0em;">Home address (number and street). If you have a P.O. box, see page 7.</tspan></text>
		<text transform="matrix(0.8429 0 0 1 68.605 118.9209)"><tspan x="0" y="0" style="stroke:none; font-family:'HelveticaNeue-Roman'; font-size:6.971; word-spacing:0em;">City, town or post office, state, and ZIP code. If you have a foreign address, see page 7.</tspan></text>
		<path style="fill:none;stroke-width:1.494;stroke-miterlimit:10;" d="M22.08,135.63h8.48"/>
		<path style="fill:none;stroke-width:1.494;stroke-miterlimit:10;" d="M12.12,125.66V49.58"/>
		<path style="fill:none;stroke-width:0.498;stroke-miterlimit:10;" d="M61.06,87.63h275.06"/>
		<text transform="matrix(1 0 0 1 68.605 70.9209)"><tspan x="0" y="0" style="stroke:none; font-family:'HelveticaNeue-Roman'; font-size:6.971; word-spacing:0em;">If a joint return, spouse&apos;s first name and initial</tspan></text>
		<path style="fill:none;stroke-width:1.494;stroke-miterlimit:10;" d="M22.08,39.63h8.48"/>
		<path style="fill:none;stroke-width:0.498;stroke-miterlimit:10;" d="M61.06,111.53h275.06"/>
		<text transform="matrix(1 0 0 1 252.5679 46.9209)"><tspan x="0" y="0" style="stroke:none; font-family:'HelveticaNeue-Roman'; font-size:6.971; word-spacing:0em;">Last name</tspan></text>
		<text transform="matrix(1 0 0 1 252.5679 70.9219)"><tspan x="0" y="0" style="stroke:none; font-family:'HelveticaNeue-Roman'; font-size:6.971; word-spacing:0em;">Last name</tspan></text>
		<path style="fill:none;stroke-width:1.494;stroke-miterlimit:10;" d="M22.08,39.62c-5.5,0-9.96,4.46-9.96,9.96"/>
		<path style="fill:none;stroke-width:1.494;stroke-miterlimit:10;" d="M12.12,125.66c0,5.5,4.46,9.96,9.96,9.96"/>
		<path style="stroke:none;" d="M30.55,133.83h18v3.98h-18v-3.98z"/>
		<text transform="matrix(1 0 0 1 0.21 625.2305)"><tspan x="0" y="0" style="stroke:none; font-family:'FranklinGothic-Demi'; font-size:11.95; word-spacing:0em;">Amount</tspan></text>
		<text transform="matrix(1 0 0 1 0.21 637.1807)"><tspan x="0" y="0" style="stroke:none; font-family:'FranklinGothic-Demi'; font-size:11.95; word-spacing:0em;">you owe</tspan></text>
		<path style="fill:none;stroke-width:0.996;stroke-miterlimit:10;" d="M0.21,613.23h335.91"/>
		<text transform="matrix(1 0 0 1 75.7646 554.6543)"><tspan x="0" y="0" style="stroke:none; font-family:'FranklinGothic-Demi'; word-spacing:0em;">b</tspan></text>
		<text transform="matrix(0.9555 0 0 1 84.8569 554.6543)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">Routing number</tspan></text>
		<text transform="matrix(0.9555 0 0 1 185.2354 567.4805)"><tspan x="0" y="0" style="stroke:none; letter-spacing:-1.000000e-003em; word-spacing:0em;">Account</tspan></text>
		<text transform="matrix(0.9555 0 0 1 185.2354 576.4434)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">number</tspan></text>
		<text transform="matrix(1 0 0 1 75.7646 567.4814)"><tspan x="0" y="0" style="stroke:none; font-family:'FranklinGothic-Demi'; word-spacing:0em;">c</tspan></text>
		<text transform="matrix(0.9555 0 0 1 84.8569 567.4814)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">Type</tspan></text>
		<text transform="matrix(1 0 0 1 84.8569 575.668)"><tspan x="0" y="0" style="stroke:none; font-size:6.971;letter-spacing:1.000000e-003em; word-spacing:0em;">Checking</tspan></text>
		<text transform="matrix(1 0 0 1 133.3057 575.668)"><tspan x="0" y="0" style="stroke:none; font-size:6.971;letter-spacing:1.000000e-003em; word-spacing:0em;">Savings</tspan></text>
		<path style="fill:none;stroke:#808080;stroke-width:0.996;stroke-linecap:square;stroke-miterlimit:10;" d="M358.26,653.61v-5.97"/>
		<path style="fill:none;stroke:#808080;stroke-width:0.996;stroke-linecap:square;stroke-miterlimit:10;" d="M358.26,647.64h11.95"/>
		<path style="fill:none;stroke:#808080;stroke-width:0.996;stroke-linecap:square;stroke-miterlimit:10;" d="M358.26,699.36v5.98"/>
		<path style="fill:none;stroke:#808080;stroke-width:0.996;stroke-linecap:square;stroke-miterlimit:10;" d="M358.26,705.34h11.95"/>
		<path style="fill:none;stroke-width:0.996;stroke-linecap:square;stroke-miterlimit:10;" d="M158.62,551.96h190.49"/>
		<text transform="matrix(0.8889 0 0 1 112.2026 330.7876)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">Enter amount</tspan></text>
		<text transform="matrix(0.8889 0 0 1 112.2026 340.2524)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">from worksheet</tspan></text>
		<text transform="matrix(0.8889 0 0 1 112.2026 349.7178)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">on back.</tspan></text>
		<text transform="matrix(0.8889 0 0 1 222.9121 330.7969)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">If </tspan></text>
		<text transform="matrix(0.8889 0 0 1 231.5166 330.7969)"><tspan x="0" y="0" style="stroke:none; font-family:'NewCenturySchlbk-Bold'; word-spacing:0em;">single, </tspan></text>
		<text transform="matrix(0.8889 0 0 1 261.0742 330.7969)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">enter 6,550.00.</tspan></text>
		<text transform="matrix(0.8889 0 0 1 222.9121 340.2617)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">If </tspan></text>
		<text transform="matrix(0.8889 0 0 1 231.5166 340.2617)"><tspan x="0" y="0" style="stroke:none; font-family:'NewCenturySchlbk-Bold'; word-spacing:0em;">married, </tspan></text>
		<text transform="matrix(0.8889 0 0 1 270.0771 340.2617)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">enter 11,800.00.</tspan></text>
		<text transform="matrix(0.8889 0 0 1 222.9121 349.7266)"><tspan x="0" y="0" style="stroke:none; word-spacing:0em;">See back for explanation.</tspan></text>
		<text transform="matrix(1 0 0 1 61.0557 671.8262)"><tspan x="0" y="0" style="stroke:none; font-size:6.971; word-spacing:0em;">Your signature</tspan></text>
		<text transform="matrix(1 0 0 1 120.6299 701.7041)"><tspan x="0" y="0" style="stroke:none; font-size:6.971; word-spacing:0em;">Your occupation</tspan></text>
		<path style="fill:none;stroke-width:0.498;stroke-miterlimit:10;" d="M252.21,693.96v23.9"/>
		<text transform="matrix(1 0 0 1 61.0557 701.7012)"><tspan x="0" y="0" style="stroke:none; font-size:6.971;letter-spacing:2.000000e-003em; word-spacing:0em;">Date</tspan></text>
		<path style="fill:none;stroke-width:0.498;stroke-miterlimit:10;" d="M115.42,693.96v23.9"/>
		<text transform="matrix(1 0 0 1 204.3486 671.8262)"><tspan x="0" y="0" style="stroke:none; font-size:6.971; word-spacing:0em;">Spouse&apos;s signature if joint return</tspan></text>
		<text transform="matrix(1 0 0 1 255.1953 701.7041)"><tspan x="0" y="0" style="stroke:none; font-size:6.971; word-spacing:0em;">Spouse&apos;s occupation</tspan></text>
		<text transform="matrix(1 0 0 1 204.3486 701.7041)"><tspan x="0" y="0" style="stroke:none; font-size:6.971;letter-spacing:2.000000e-003em; word-spacing:0em;">Date</tspan></text>
		<text transform="matrix(1 0 0 1 0 542.1563)"><tspan x="0" y="0" style="stroke:none; font-size:7.967; word-spacing:0em;">Have it sent</tspan></text>
		<text transform="matrix(1 0 0 1 0 551.1191)"><tspan x="0" y="0" style="stroke:none; font-size:7.967; word-spacing:0em;">directly to</tspan></text>
		<text transform="matrix(1 0 0 1 0 560.082)"><tspan x="0" y="0" style="stroke:none; font-size:7.967; word-spacing:0em;">your bank</tspan></text>
		<text transform="matrix(1 0 0 1 0 569.0449)"><tspan x="0" y="0" style="stroke:none; font-size:7.967; word-spacing:0em;">account! See</tspan></text>
		<text transform="matrix(1 0 0 1 0 578.0078)"><tspan x="0" y="0" style="stroke:none; font-size:7.967; word-spacing:0em;">page 13 and</tspan></text>
		<text transform="matrix(1 0 0 1 0 586.9707)"><tspan x="0" y="0" style="stroke:none; font-size:7.967; word-spacing:0em;">fill in 11b, c,</tspan></text>
		<text transform="matrix(1 0 0 1 0 595.9336)"><tspan x="0" y="0" style="stroke:none; font-size:7.967; word-spacing:0em;">and d.</tspan></text>
		<text transform="matrix(1 0 0 1 174.832 567.4814)"><tspan x="0" y="0" style="stroke:none; font-family:'FranklinGothic-Demi'; word-spacing:0em;">d</tspan></text>
		<text transform="matrix(0.8889 0 0 1 345.8389 178.1035)"><tspan x="0" y="0" style="stroke:none; font-family:'NewCenturySchlbk-Bold'; letter-spacing:-2.000000e-003em; word-spacing:0em;">Yes</tspan></text>
		<text transform="matrix(1 0 0 1 386.0215 178.1035)"><tspan x="0" y="0" style="stroke:none; font-family:'NewCenturySchlbk-Bold'; letter-spacing:-3.000000e-003em; word-spacing:0em;">No</tspan></text>
		<path style="fill:none;stroke-width:0.996;stroke-linecap:square;stroke-miterlimit:10;" d="M200.69,580.8v9.53"/>
		<path style="fill:none;stroke-width:0.996;stroke-linecap:square;stroke-miterlimit:10;" d="M200.69,590.33h8.63"/>
		<text transform="matrix(1 0 0 1 205.106 592.3174)"><tspan x="0" y="0" style="stroke:none; font-family:'Universal-NewswithCommPi'; font-size:6.971;letter-spacing:-3.000000e-003em; word-spacing:0em;">©</tspan></text>
		<text transform="matrix(1 0 0 1 407.5361 646.6006)"><tspan x="0" y="0" style="stroke:none; font-family:'HelveticaNeue-Roman'; font-size:6.971;letter-spacing:3.298em; word-spacing:0em;">12</tspan></text>
		<text transform="matrix(1 0 0 1 460.9619 646.6006)"><tspan x="0" y="0" style="stroke:none; font-family:'HelveticaNeue-Roman'; font-size:6.971;letter-spacing:3.298em; word-spacing:0em;">3</tspan></text>
		<text transform="matrix(1 0 0 1 487.7803 646.6006)"><tspan x="0" y="0" style="stroke:none; font-family:'HelveticaNeue-Roman'; font-size:6.971;letter-spacing:3.298em; word-spacing:0em;">4</tspan></text>
		<text transform="matrix(1 0 0 1 513.4609 646.6006)"><tspan x="0" y="0" style="stroke:none; font-family:'HelveticaNeue-Roman'; font-size:6.971;letter-spacing:3.298em; word-spacing:0em;">5</tspan></text>
		<text transform="matrix(1 0 0 1 407.5361 713.0557)"><tspan x="0" y="0" style="stroke:none; font-family:'HelveticaNeue-Roman'; font-size:6.971;letter-spacing:3.298em; word-spacing:0em;">67</tspan></text>
		<text transform="matrix(1 0 0 1 460.9619 713.0557)"><tspan x="0" y="0" style="stroke:none; font-family:'HelveticaNeue-Roman'; font-size:6.971;letter-spacing:3.298em; word-spacing:0em;">8</tspan></text>
		<text transform="matrix(1 0 0 1 487.7803 713.0557)"><tspan x="0" y="0" style="stroke:none; font-family:'HelveticaNeue-Roman'; font-size:6.971;letter-spacing:3.298em; word-spacing:0em;">9</tspan></text>
		<text transform="matrix(1 0 0 1 511.4814 713.0557)"><tspan x="0" y="0" style="stroke:none; font-family:'HelveticaNeue-Roman'; font-size:6.971;letter-spacing:3.298em; word-spacing:0em;">1</tspan></text>
		<text transform="matrix(1 0 0 1 515.4131 713.0557)"><tspan x="0" y="0" style="stroke:none; font-family:'HelveticaNeue-Roman'; font-size:6.971;letter-spacing:3.298em; word-spacing:0em;">0</tspan></text>
		<path style="fill:none;stroke-width:0.498;stroke-miterlimit:10;" d="M43.1,135.63h276.14"/>
		<path style="fill:none;stroke-width:0.498;stroke-miterlimit:10;" d="M29.11,39.63h270.82"/>
		<path style="stroke:none;" d="M299.81,37.64h18v3.98h-18v-3.98z"/>
		<path style="fill:none;stroke-width:1.494;stroke-miterlimit:10;" d="M336.12,49.59c0-5.5-4.46-9.96-9.96-9.96"/>
		<path style="fill:none;stroke-width:1.494;stroke-miterlimit:10;" d="M336.12,125.7V49.59"/>
		<path style="fill:none;stroke-width:1.494;stroke-miterlimit:10;" d="M326.16,39.63h-8.48"/>
		<path style="fill:none;stroke-width:1.494;stroke-miterlimit:10;" d="M326.16,135.66h-8.48"/>
		<path style="fill:none;stroke-width:1.494;stroke-miterlimit:10;" d="M326.16,135.66c5.5,0,9.96-4.46,9.96-9.96"/>
		<path style="fill:none;stroke-width:0.498;stroke-miterlimit:10;" d="M61.06,39.63v96"/>
		<path style="fill:none;stroke-width:1.992;stroke-linecap:square;stroke-miterlimit:10;" d="M194.84,338.98h14"/>
		<path style="fill:none;stroke-width:1.992;stroke-miterlimit:10;" d="M194.84,339.08v10.06"/>
		<path style="fill:none;stroke-width:1.992;stroke-miterlimit:10;" d="M208.84,339.08v10.06"/>
		<path style="fill:none;stroke-width:1.992;stroke-linecap:square;stroke-miterlimit:10;" d="M194.84,348.97h14"/>
		<path style="fill:none;stroke-width:1.992;stroke-linecap:square;stroke-miterlimit:10;" d="M92.95,585.09h14"/>
		<path style="fill:none;stroke-width:1.992;stroke-linecap:square;stroke-miterlimit:10;" d="M92.95,585.19v10.06"/>
		<path style="fill:none;stroke-width:1.992;stroke-linecap:square;stroke-miterlimit:10;" d="M106.95,585.19v10.06"/>
		<path style="fill:none;stroke-width:1.992;stroke-linecap:square;stroke-miterlimit:10;" d="M92.95,595.28h14"/>
		<path style="fill:none;stroke-width:1.992;stroke-linecap:square;stroke-miterlimit:10;" d="M138.99,585.29h14"/>
		<path style="fill:none;stroke-width:1.992;stroke-miterlimit:10;" d="M138.99,585.39v10.06"/>
		<path style="fill:none;stroke-width:1.992;stroke-miterlimit:10;" d="M152.99,585.39v10.06"/>
		<path style="fill:none;stroke-width:1.992;stroke-linecap:square;stroke-miterlimit:10;" d="M138.99,595.28h14"/>
		<text transform="matrix(1 0 0 1 58.0479 566.7646)"><tspan x="0" y="0" style="stroke:none; font-family:'Universal-NewswithCommPi'; font-size:6.971;letter-spacing:3.298em; word-spacing:0em;">©</tspan></text>
		<text transform="matrix(1 0 0 1 58.0479 553.9385)"><tspan x="0" y="0" style="stroke:none; font-family:'Universal-NewswithCommPi'; font-size:6.971;letter-spacing:3.298em; word-spacing:0em;">©</tspan></text>
		<text transform="matrix(1 0 0 1 245.8047 30.5142)"><tspan x="0" y="0" style="stroke:none; font-family:'HelveticaNeue-Roman'; font-size:6.971;letter-spacing:3.000000e-003em; word-spacing:0em;">(99)</tspan></text>
		<path style="fill:#FFFFFF;stroke-width:3;stroke-miterlimit:10;" d="M346.29,77.85h178v-25h-178v25z"/>
		<path style="fill:#FFFFFF;stroke-width:3;stroke-miterlimit:10;" d="M346.29,122.6h178v-25h-178v25z"/>
		<path style="fill:#FFFFFF;stroke-width:3;stroke-miterlimit:10;" d="M364.79,214.1h159.5v-25h-159.5v25z"/>
		<text transform="matrix(1 0 0 1 414.2939 206.0967)"><tspan x="0" y="0" style="stroke:none; font-family:'Courier'; font-size:14; word-spacing:0em;"><WEBOBJECT NAME="String1"></WEBOBJECT></tspan></text>
		<path style="fill:#FFFFFF;stroke-width:3;stroke-miterlimit:10;" d="M416.79,247.1h107.5v-25h-107.5v25z"/>
		<text transform="matrix(1 0 0 1 424 239.0967)"><tspan x="0" y="0" style="stroke:none; font-family:'Courier'; font-size:14; word-spacing:0em;"><WEBOBJECT NAME="String2"></WEBOBJECT></tspan></text>
		<path style="fill:#FFFFFF;stroke-width:3;stroke-miterlimit:10;" d="M364.79,278.6h159.5v-25h-159.5v25z"/>
		<text transform="matrix(1 0 0 1 414 270.5972)"><tspan x="0" y="0" style="stroke:none; font-family:'Courier'; font-size:14; word-spacing:0em;"><WEBOBJECT NAME="String3"></WEBOBJECT></tspan></text>
		<path style="fill:#FFFFFF;stroke-width:3;stroke-miterlimit:10;" d="M364.79,310.6h159.5v-25h-159.5v25z"/>
		<text transform="matrix(1 0 0 1 414.2939 302.5972)"><tspan x="0" y="0" style="stroke:none; font-family:'Courier'; font-size:14; word-spacing:0em;"><WEBOBJECT NAME="String4"></WEBOBJECT></tspan></text>
		<path style="fill:#FFFFFF;stroke-width:3;stroke-miterlimit:10;" d="M364.79,343.6h159.5v-25h-159.5v25z"/>
		<text transform="matrix(1 0 0 1 414.2939 335.5972)"><tspan x="0" y="0" style="stroke:none; font-family:'Courier'; font-size:14; word-spacing:0em;"><WEBOBJECT NAME="String5"></WEBOBJECT></tspan></text>
		<path style="fill:#FFFFFF;stroke-width:3;stroke-miterlimit:10;" d="M364.79,377.6h159.5v-25h-159.5v25z"/>
		<text transform="matrix(1 0 0 1 414.2939 369.5977)"><tspan x="0" y="0" style="stroke:none; font-family:'Courier'; font-size:14; word-spacing:0em;"><WEBOBJECT NAME="String6"></WEBOBJECT></tspan></text>
		<path style="fill:#FFFFFF;stroke-width:3;stroke-miterlimit:10;" d="M364.79,409.6h159.5v-25h-159.5v25z"/>
		<text transform="matrix(1 0 0 1 414.2939 401.5977)"><tspan x="0" y="0" style="stroke:none; font-family:'Courier'; font-size:14; word-spacing:0em;"><WEBOBJECT NAME="String7"></WEBOBJECT></tspan></text>
		<path style="fill:#FFFFFF;stroke-width:3;stroke-miterlimit:10;" d="M364.79,475.6h159.5v-25h-159.5v25z"/>
		<text transform="matrix(1 0 0 1 414.2939 467.5977)"><tspan x="0" y="0" style="stroke:none; font-family:'Courier'; font-size:14; word-spacing:0em;"><WEBOBJECT NAME="String8"></WEBOBJECT></tspan></text>
		<path style="fill:#FFFFFF;stroke-width:3;stroke-miterlimit:10;" d="M364.79,507.6h159.5v-25h-159.5v25z"/>
		<text transform="matrix(1 0 0 1 414.2939 499.5977)"><tspan x="0" y="0" style="stroke:none; font-family:'Courier'; font-size:14; word-spacing:0em;"><WEBOBJECT NAME="String9"></WEBOBJECT></tspan></text>
		<path style="fill:#FFFFFF;stroke-width:3;stroke-miterlimit:10;" d="M363.79,573.6h159.5v-25h-159.5v25z"/>
		<path style="fill:#FFFFFF;stroke-width:3;stroke-miterlimit:10;" d="M416.79,442.6h107.5v-25h-107.5v25z"/>
		<text transform="matrix(1 0 0 1 424.2939 434.5977)"><tspan x="0" y="0" style="stroke:none; font-family:'Courier'; font-size:14; word-spacing:0em;"><WEBOBJECT NAME="String10"></WEBOBJECT></tspan></text>
		<path style="fill:#FFFFFF;stroke-width:3;stroke-miterlimit:10;" d="M381.79,540.6h142.5v-25h-142.5v25z"/>
		<path style="fill:#FFFFFF;stroke-width:3;stroke-miterlimit:10;" d="M221.79,606.6h301.5v-25h-301.5v25z"/>
		<path style="fill:#FFFFFF;stroke-width:3;stroke-miterlimit:10;" d="M382.79,637.6h141.5v-25h-141.5v25z"/>
		<text transform="matrix(1 0 0 1 414.2939 629.5977)"><tspan x="0" y="0" style="stroke:none; font-family:'Courier'; font-size:14; word-spacing:0em;"><WEBOBJECT NAME="String11"></WEBOBJECT></tspan></text>
		<text transform="matrix(1 0 0 1 253 62.5967)"><tspan x="0" y="0" style="stroke:none; font-family:'Courier'; font-size:11.9993; word-spacing:0em;"><WEBOBJECT NAME="LastNameString"></WEBOBJECT></tspan></text>
		<text transform="matrix(1 0 0 1 68.2939 62.5967)"><tspan x="0" y="0" style="stroke:none; font-family:'Courier'; font-size:11.9993; word-spacing:0em;"><WEBOBJECT NAME="String12"></WEBOBJECT></tspan></text>
		<text transform="matrix(1 0 0 1 253 87.5967)"><tspan x="0" y="0" style="stroke:none; font-family:'Courier'; font-size:11.9993; word-spacing:0em;"><WEBOBJECT NAME="SpouceLastNameString"></WEBOBJECT></tspan></text>
		<text transform="matrix(1 0 0 1 68.2939 87.5967)"><tspan x="0" y="0" style="stroke:none; font-family:'Courier'; font-size:11.9993; word-spacing:0em;"><WEBOBJECT NAME="SpouceFirstNameString"></WEBOBJECT></tspan></text>
		<text transform="matrix(1 0 0 1 68.2939 110.5967)"><tspan x="0" y="0" style="stroke:none; font-family:'Courier'; font-size:11.9993; word-spacing:0em;"><WEBOBJECT NAME="String13"></WEBOBJECT></tspan></text>
		<text transform="matrix(1 0 0 1 68.2939 134.5967)"><tspan x="0" y="0" style="stroke:none; font-family:'Courier'; font-size:11.9993; word-spacing:0em;"><WEBOBJECT NAME="String14"></WEBOBJECT></tspan></text>
		<WEBOBJECT NAME="Conditional1"><text transform="matrix(1 0 0 1 405.2939 157.5967)"><tspan x="0" y="0" style="stroke:none; font-family:'Courier'; font-size:18; word-spacing:0em;">X</tspan></text></WEBOBJECT>
		<WEBOBJECT NAME="Conditional2"><text transform="matrix(1 0 0 1 199.2939 348.5972)"><tspan x="0" y="0" style="stroke:none; font-family:'Courier'; font-size:11.9993; word-spacing:0em;">X</tspan></text></WEBOBJECT>
		<text transform="matrix(1 0 0 1 245.7939 440.5977)"><tspan x="0" y="0" style="stroke:none; font-family:'Courier'; font-size:10.0006; word-spacing:0em;"><WEBOBJECT NAME="String15"></WEBOBJECT></tspan></text>
		<WEBOBJECT NAME="Conditional3"><text transform="matrix(1 0 0 1 142.2939 594.5977)"><tspan x="0" y="0" style="stroke:none; font-family:'Courier'; font-size:11.9993; word-spacing:0em;">X</tspan></text></WEBOBJECT>
		<text transform="matrix(1 0 0 1 379.1719 70.8481)"><tspan x="0" y="0" style="stroke:none; font-family:'Courier'; font-size:14; word-spacing:0em;"><WEBOBJECT NAME="String16"></WEBOBJECT></tspan></text>
		<text transform="matrix(1 0 0 1 378.1719 115.8481)"><tspan x="0" y="0" style="stroke:none; font-family:'Courier'; font-size:14; word-spacing:0em;"><WEBOBJECT NAME="String17"></WEBOBJECT></tspan></text>
		<text transform="matrix(1 0 0 1 111.5493 440.3477)"><tspan x="0" y="0" style="stroke:none; font-family:'Courier'; font-size:10.0006; word-spacing:0em;"><WEBOBJECT NAME="String18"></WEBOBJECT></tspan></text>
		<text transform="matrix(1 0 0 1 415.1719 532.8477)"><tspan x="0" y="0" style="stroke:none; font-family:'Courier'; font-size:14; word-spacing:0em;"><WEBOBJECT NAME="String19"></WEBOBJECT></tspan></text>
		<text transform="matrix(1 0 0 1 414 566.8477)"><tspan x="0" y="0" style="stroke:none; font-family:'Courier'; font-size:14; word-spacing:0em;"><WEBOBJECT NAME="String20"></WEBOBJECT></tspan></text>
		<text transform="matrix(1 0 0 1 375 599.8477)"><tspan x="0" y="0" style="stroke:none; font-family:'Courier'; font-size:14; word-spacing:0em;"><WEBOBJECT NAME="String21"></WEBOBJECT></tspan></text>
		<WEBOBJECT NAME="Conditional4"><text transform="matrix(1 0 0 1 96.4248 594.0469)"><tspan x="0" y="0" style="stroke:none; font-family:'Courier'; font-size:11.9993; word-spacing:0em;">X</tspan></text></WEBOBJECT>
		<WEBOBJECT NAME="Conditional5"><text transform="matrix(1 0 0 1 90.4248 348.0469)"><tspan x="0" y="0" style="stroke:none; font-family:'Courier'; font-size:11.9993; word-spacing:0em;">X</tspan></text></WEBOBJECT>
		<WEBOBJECT NAME="Conditional6"><text transform="matrix(1 0 0 1 365.7373 157.1475)"><tspan x="0" y="0" style="stroke:none; font-family:'Courier'; font-size:18; word-spacing:0em;">X</tspan></text></WEBOBJECT>
		<WEBOBJECT NAME="Conditional7"><text transform="matrix(1 0 0 1 366.7373 178.1475)"><tspan x="0" y="0" style="stroke:none; font-family:'Courier'; font-size:18; word-spacing:0em;">X</tspan></text></WEBOBJECT>
		<WEBOBJECT NAME="Conditional8"><text transform="matrix(1 0 0 1 405.7373 178.1475)"><tspan x="0" y="0" style="stroke:none; font-family:'Courier'; font-size:18; word-spacing:0em;">X</tspan></text></WEBOBJECT>
	</g>
</svg>