<webobject name=SwitchComponent3><webobject name=ERD2WDebuggingHelp1></webobject>
<webobject name=Form2>
	<table border=0>
		<tr>
			<td align=RIGHT rowspan=4 class=Headline width=100 valign=TOP attribute1=Value>&nbsp;<webobject name=ExclamationImage></webobject></td>
			<td class=Alert><WEBOBJECT NAME=Errors></WEBOBJECT></td>
		</tr>
		<webobject name=Conditional2>
			<tr>
				<td class=Big><webobject name=Message></webobject>
					<p></p>
				</td>
			</tr>
		</webobject>
		<tr>
			<td><webobject name=Conditional3><WEBOBJECT NAME=SwitchComponent4></WEBOBJECT></webobject><webobject name=Conditional4>
						<table>
							<tr>
								<td align=CENTER><webobject name=ERConfirmMessage1></webobject></td>
							</tr>
						</table>
					</webobject>
					<WEBOBJECT NAME=HasNoBranchChoices><WEBOBJECT NAME=OKButton2></WEBOBJECT> <WEBOBJECT NAME=OKButton></WEBOBJECT></WEBOBJECT><WEBOBJECT NAME=HasBranchChoices><WEBOBJECT NAME=Repetition1><WEBOBJECT NAME=BranchButton></WEBOBJECT>&nbsp;</WEBOBJECT></WEBOBJECT>
				</td>
		</tr>
	</table>
	</webobject>
</webobject>