<WEBOBJECT NAME=SwitchComponent3><WEBOBJECT NAME=ERD2WDebuggingHelp1></WEBOBJECT><BR>
	<BR>
	<TABLE BORDER=0>
		<TR>
			<TD VALIGN=TOP ALIGN=RIGHT WIDTH=100 ROWSPAN=4 ATTRIBUTE1=Value CLASS="Headline">?&nbsp;</TD>
			<TD class=Alert>Please Confirm
				<HR>
				<WEBOBJECT NAME=Errors></WEBOBJECT></TD>
		</TR>
		<WEBOBJECT NAME=Conditional2>
			<TR>
				<TD class=Big><WEBOBJECT NAME=String3></WEBOBJECT>
					<P></P>
				</TD>
			</TR>
		</WEBOBJECT>
		<WEBOBJECT NAME=Conditional3>
			<TR>
				<TD ALIGN=CENTER><WEBOBJECT NAME=SwitchComponent4></WEBOBJECT></TD>
			</TR>
		</WEBOBJECT>
		<WEBOBJECT NAME=Form2>
			<WEBOBJECT NAME=Conditional4>
				<TR>
					<TD ALIGN=CENTER><WEBOBJECT NAME=ERConfirmMessage1></WEBOBJECT></TD>
				</TR>
			</WEBOBJECT>
			<TR>
				<TD ALIGN=right></TD>
				<TD ALIGN=RIGHT><BR>
					<BR>
					<WEBOBJECT NAME=SubmitButton1></WEBOBJECT>&nbsp;<WEBOBJECT NAME=SubmitButton2></WEBOBJECT></TD>
			</TR>
		</WEBOBJECT>
	</TABLE>
</webObject>