<webobject name=SwitchComponent3><webobject name="DebuggingHelp"></webobject>
    <table border=0>
        <tr>
            <td align=RIGHT rowspan=4 class=Headline width=100 valign=TOP attribute1=Value>&nbsp;<webobject name=ExclamationImage></webobject></td>
            <td class=Alert><webobject name=Errors></webobject></td>
        </tr>
        <webobject name="HasMessage">
            <tr>
                <td>
                    <webobject name=Message></webobject>
                </td>
            </tr>
        </webobject>
        <tr>
            <td>
                <webobject name="Form">
                    <webobject name="showExplanationComponent"><webobject name="explanationComponentName"></webobject></webobject><webobject name="shouldProvideConfirmMessage">
                        <table>
                            <tr>
                                <td align=CENTER><webobject name="ERDConfirmMessage"></webobject></td>
                            </tr>
                        </table>
                    </webobject>
                    <webobject name=HasNoBranchChoices><webobject name=OKButton2></webobject>
                        <webobject name=OKButton></webobject></webobject><webobject name=HasBranchChoices><webobject name=Repetition1><webobject name=BranchButton></webobject>&nbsp;</webobject></webobject>
                </webobject>
            </td>
        </tr>
    </table>
</webobject>