<webobject name = "CanClickToOpen">
<script>
	WOLipsClickToOpen.url['Open'] = '<webobject name = "ClickToOpenURL"/>';
	WOLipsClickToOpen.url['Debug'] = '<webobject name = "ClickToDebugURL"/>';
</script>
<a href = "javascript:void(0);" onclick = "WOLipsClickToOpen.start('clickToOpen', 'Open', false)" id = "clickToOpen">Click to Open</a>
<span class = "_wolUnimportant">&#160;|&#160;</span>
<a href = "javascript:void(0);" onclick = "WOLipsClickToOpen.start('clickToDebug', 'Debug', true)" id = "clickToDebug">Click to Debug</a>
</webobject>
<webobject name = "NoClickToOpen">
<span class = "_wolImportant">Click to Open Disabled</span>
</webobject>