{
    attributes = (
        {columnName = ID; name = id; prototypeName = id; }, 
        {columnName = "KEY_"; name = key; prototypeName = varchar100; }, 
        {allowsNull = Y; columnName = "USER_ID"; name = userID; prototypeName = id; }, 
        {
            allowsNull = Y; 
            columnName = "VALUE_"; 
            name = value; 
            prototypeName = varcharLarge; 
        }
    ); 
    attributesUsedForLocking = (id, key, userID); 
    className = "er.corebusinesslogic.ERCPreference"; 
    classProperties = (key, userID, value); 
    externalName = ERCPREFER; 
    fetchSpecificationDictionary = {}; 
    name = ERCPreference; 
    primaryKeyAttributes = (id); 
    userInfo = {modificationDate = "2002-06-24 18:44:03 +0200"; }; 
}
