<table border=0 cellpadding=1 cellspacing=1 bgcolor= cccccc >
    <tr><td>
    <table>
	<tr bgcolor= 999999 >
		<td colspan=10><font size=2 face=arial,geneva>Edit Attributes </font><WEBOBJECT name=add></WEBOBJECT></td>
	</tr>
        <tr bgcolor= 999999 >
            <TD  colspan=3><font size=2 face=arial,geneva>Arrangement</td>
            <TD width=10 ><font size=2 face=arial,geneva>Key Path</font></TD>
            <TD width=10 ><font size=2 face=arial,geneva>Label</font></TD>
            <TD width=10 ><font size=2 face=arial,geneva>Function</font></TD>
            <TD width=10 ><font size=2 face=arial,geneva>Total</font></TD>
            <TD width=10 ><font size=2 face=arial,geneva>Format</font></TD>
            <TD width=10 ><font size=2 face=arial,geneva>Sort</font></TD>
            <TD width=10><font size=2 face=arial,geneva>Nest</font></TD>		
        </tr>
	<WEBOBJECT name= attList > 
              <WEBOBJECT name=attribEdit></WEBOBJECT>
	 </WEBOBJECT>
</table></td></tr>
<tr><td>
<font size=2 face=arial,geneva><WEBOBJECT name=sub></WEBOBJECT></font>
</td></tr>
</table>
