<table>
    <tr>
        <td colspan="2"><webobject name="PageConfiguration"></webobject><webobject name="Task"></webobject>
            <webobject name="EntityName"></webobject><webobject name="PropertyKey"></webobject></td>
    </tr>
    <tr>
        <th width="50%">Component</th>
        <th>Appearance</th>
    </tr>
    <webobject name="Properties">
        <tr>
            <td valign="top"><webobject name="ComponentName"></webobject>
                <br>
                <font size="-1"><webobject name="Info"></webobject>
                    <br>
                </font>
                <table border="1" width="100%">
                    <webobject name="Editors">
                        <tr>
                            <td><webobject name="EditorKey"></webobject>:
                                <webobject name="EditorValue"></webobject>
                                <br>
                                <font size="-1"><webobject name="Title"></webobject>
                                    <b><webobject name="Type"></webobject></b></font></td>
                        </tr>
                    </webobject>
                </table>
            </td>
            <td valign="top"><webobject name="Wrapper">
                    <webobject name="UseDisplayGroup"><webobject name="DisplayGroupSwitch"></webobject></webobject>
                    <webobject name="UseObject"><webobject name="ObjectSwitch"></webobject></webobject>
                </webobject></td>
        </tr>
        <tr>
            <td colspan="2">
                <hr>
            </td>
        </tr>
    </webobject>
</table>