
{
    attributes = 
    (
       
       {
           columnName = BUG_ID;
           name = bugID;
           prototypeName = id;
           userInfo = 
           {
               modificationDate = "2002-05-06 07:28:05 +0200";
           };
       }, 
       
       {
           allowsNull = Y;
           columnName = DATE_SUBMITTED;
           name = dateSubmitted;
           prototypeName = dateTime;
           userInfo = 
           {
               modificationDate = "2002-05-06 07:15:09 +0200";
           };
       }, 
       
       {
           allowsNull = N;
           name = id;
           prototypeName = id;
       }, 
       
       {
           columnName = ORIGINATOR_ID;
           name = originatorID;
           prototypeName = id;
           userInfo = 
           {
               modificationDate = "2002-05-06 07:28:05 +0200";
           };
       }, 
       
       {
           allowsNull = Y;
           columnName = PARENT_ID;
           name = parentID;
           prototypeName = id;
           userInfo = 
           {
               modificationDate = "2002-05-06 07:28:05 +0200";
           };
       }, 
       
       {
           allowsNull = Y;
           columnName = DESCRIPTION;
           name = textDescription;
           prototypeName = longText;
           userInfo = 
           {
               modificationDate = "2002-05-06 07:30:56 +0200";
           };
       }
    );
    attributesUsedForLocking = 
    (
       bugID, 
       id, 
       originatorID, 
       parentID, 
       textDescription
    );
    className = er.bugtracker.Comment;
    classProperties = 
    (
       attachements, 
       bug, 
       dateSubmitted, 
       originator, 
       parent, 
       textDescription
    );
    externalName = Comment;
    internalInfo = 
    {
        _clientClassPropertyNames = 
        (
           dateSubmitted, 
           originator, 
           textDescription
        );
    };
    name = Comment;
    primaryKeyAttributes = 
    (
       id
    );
    relationships = 
    (
       
       {
           destination = Attachement;
           isMandatory = N;
           isToMany = Y;
           joinSemantic = EOInnerJoin;
           joins = 
           (
              
              {
                  destinationAttribute = commentID;
                  sourceAttribute = id;
              }
           );
           name = attachements;
       }, 
       
       {
           destination = Bug;
           isMandatory = Y;
           isToMany = N;
           joinSemantic = EOInnerJoin;
           joins = 
           (
              
              {
                  destinationAttribute = id;
                  sourceAttribute = bugID;
              }
           );
           name = bug;
       }, 
       
       {
           destination = People;
           isMandatory = Y;
           isToMany = N;
           joinSemantic = EOInnerJoin;
           joins = 
           (
              
              {
                  destinationAttribute = id;
                  sourceAttribute = originatorID;
              }
           );
           name = originator;
           userInfo = 
           {
               modificationDate = "2002-05-04 13:06:03 +0200";
           };
       }, 
       
       {
           destination = Comment;
           joinSemantic = EOInnerJoin;
           joins = 
           (
              
              {
                  destinationAttribute = id;
                  sourceAttribute = parentID;
              }
           );
           name = parent;
       }
    );
}