
{
    attributes = 
    (
       
       {
           columnName = ID;
           name = id;
           prototypeName = osType;
           userInfo = 
           {
               modificationDate = "2002-05-06 07:21:51 +0200";
           };
       }, 
       
       {
           columnName = SORT_ORDER;
           name = sortOrder;
           prototypeName = intNumber;
           userInfo = 
           {
               modificationDate = "2002-05-06 07:20:36 +0200";
           };
       }, 
       
       {
           columnName = DESCRIPTION;
           name = textDescription;
           prototypeName = varchar50;
           userInfo = 
           {
               modificationDate = "2002-05-06 07:20:56 +0200";
           };
       }
    );
    attributesUsedForLocking = 
    (
       id, 
       sortOrder, 
       textDescription
    );
    cachesObjects = Y;
    className = er.bugtracker.State;
    classProperties = 
    (
       sortOrder, 
       textDescription
    );
    externalName = STATE;
    internalInfo = 
    {};
    isReadOnly = Y;
    name = State;
    primaryKeyAttributes = 
    (
       id
    );
    sharedObjectFetchSpecificationNames = 
    (
       FetchAll
    );
    userInfo = 
    {
        modificationDate = "2002-05-04 13:06:03 +0200";
    };
}