<webobject name=editForm>
	<webobject name=showPresentationControls>
		<webobject name=Custom1><webobject name=WRLayoutEditor1></webobject></webobject>
	</webobject>
	<table border=0 width=100% cellpadding=0 cellspacing=0>
		<tr>
			<td align=left valign=bottom rowspan=2>
				<webobject name=zlist2></webobject>
			</td>
			<td align=right valign=bottom> </td>
		</tr>
		<tr>
			<td align=right valign=bottom>
				<webobject name=zlist1></webobject>
			</td>
		</tr>
	</table>
	<webobject name=showDefaultReportStyle>
		<webobject name=dontshowVerticalRows>
			<table border width=100%>
				<webobject name=horzDimensions>
					<tr>
						<webobject name=vGroups>
							<td></td>
						</webobject>
						<webobject name=hCriteriaList>
							<webobject name=colSpanTd><b><font size=2 face=arial,geneva><webobject name=criteriaLabel></webobject></font></b></webobject>
						</webobject>
					</tr>
				</webobject>
				<webobject name=showHeadersForAsCells>
					<webobject name=depthList>
						<tr>
							<webobject name=vGroups>
								<td> </td>
							</webobject>
							<webobject name=numberOfCrits>
								<webobject name=attribs>
									<webobject name=td><b><font size=2 face=arial,geneva><webobject name=attribLabel></webobject></b></webobject>
								</webobject>
							</webobject>
						</tr>
					</webobject>
				</webobject>
				<webobject name=showNoColNoRow>
					<webobject name=recordGroupTest></webobject>
				</webobject>
				<webobject name=showSingleRow>
					<tr>
						<webobject name=hCriteriaList2>
							<webobject name=recordGroupTest></webobject>
						</webobject>
						<td></td>
						<td></td>
					</tr>
				</webobject>
				<webobject name=vCriteriaList>
					<tr>
						<webobject name=vindent><webobject name=showIndentCell>
								<webobject name=rowSpanTd>
									<b><font size=2 face=arial,geneva><webobject name=vIndentCriteriaLabel></webobject></b>
								</webobject>
							</webobject></webobject>
						<webobject name=rowSpanTd2><b><font size=2 face=arial,geneva><webobject name=vcriteriaLabel></webobject></b></webobject>
						<webobject name=hCriteriaList2>
							<webobject name=recordGroupTest></webobject>
						</webobject>
						<webobject name=showSingleCol>
							<webobject name=recordGroupTest></webobject>
						</webobject>
					</tr>
				</webobject>
			</table>
		</webobject>
		<webobject name=showVerticalRows>
			<table border=0>
				<webobject name=vCriteriaList>
					<webobject name=vindent2><webobject name=showIndentCell>
							<webobject name=showVHeadings>
								<tr>
									<td><font color=ffffff>.</font></td>
									<td></td>
								</tr>
								<tr>
									<td><font color=ffffff>.</font></td>
									<td></td>
								</tr>
								<webobject name=attribsGroup></webobject>
							</webobject>
							<tr>
								<webobject name=groupDepth>
									<td></td>
								</webobject>
								<webobject name=rowSpanTd2Span><b><font size=2 face=arial,geneva><webobject name=vIndentCriteriaLabel></webobject></font></b></webobject>
							</tr>
						</webobject></webobject>
					<webobject name=recordGroupTest></webobject>
				</webobject>
			</table>
			<br>
		</webobject>
	</webobject>
	<webobject name=dontshowDefaultReportStyle>
		<webobject name=customContent></webobject>
	</webobject>
	<webobject name=zlist3></webobject>
</webobject>