<webobject name = "UpdateContainer">
	<webobject name = "IsNotEditingConditional">
		<script>
		if (typeof <webobject name = "SaveFunctionName"></webobject> != 'undefined') { delete <webobject name = "SaveFunctionName"></webobject>; }
		if (typeof <webobject name = "CancelFunctionName"></webobject> != 'undefined') { delete <webobject name = "CancelFunctionName"></webobject>; }
		</script>
		<webobject name = "EditFunction"></webobject>
		<webobject name = "ManualViewControlConditional">
			<webobject name = "ViewComponent"/>
		</webobject>
		<webobject name = "NotManualViewControlConditional">
			<webobject name = "EditAction"><webobject name = "ViewComponent"/></webobject>
		</webobject>
	</webobject>
	<webobject name = "IsEditingConditional"><webobject name = "EditForm">
			<webobject name = "EditComponent"/>
			<script>if (typeof <webobject name = "EditFunctionName"></webobject> != 'undefined') { delete <webobject name = "EditFunctionName"></webobject>; }</script>
			<webobject name = "SubmitOnSaveConditional"><webobject name = "SaveSubmitFunction"></webobject></webobject>
			<webobject name = "LinkOnSaveConditional"><webobject name = "SaveLinkFunction"></webobject></webobject>
			<webobject name = "CancelFunction"></webobject>
			<webobject name = "NotManualEditControlConditional">
				<webobject name = "SaveAction"><webobject name = "SaveLabel"/></webobject>
				<webobject name = "CancelAction"><webobject name = "CancelLabel"/></webobject>
			</webobject>
	</webobject></webobject>
</webobject>