<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html><head><title>ER Components Tour</title></head>
<body>

<h3 align="center">A Captcha!</h3>

<p><WEBOBJECT NAME = HomeLink>Back To Main Page</WEBOBJECT></p>

<p>
<WEBOBJECT NAME = AttemptedCondition>
Last attempt was a <WEBOBJECT NAME = UserIsOk>SUCCESS!</WEBOBJECT><WEBOBJECT NAME = UserIsNotOk>FAILURE!</WEBOBJECT>
</WEBOBJECT>
<WEBOBJECT NAME = NotAttemptedCondition>
Well, do you feel lucky, punk? Do ya?
</WEBOBJECT>
</p>

<WEBOBJECT NAME = Form>
<WEBOBJECT NAME = Captcha></WEBOBJECT>
<br/><br/>
<WEBOBJECT NAME = SubmitButton></WEBOBJECT>
</WEBOBJECT>

</body></html>