<WEBOBJECT NAME="Help">
</WEBOBJECT>
<table border="0">
	<webobject name="ListNotEmpty">
		<tr>
			<td align="CENTER" colspan="2">
				<webobject name="ListPageRepetition2">
				</webobject>
			</td>
		</tr>
	</webobject>
	<webobject name="ListEmpty">
		<tr>
			<td colspan="2">
				<webobject name="EmptyMessageComponent">
				</webobject>
			</td>
		</tr>
	</webobject>
	<webobject name="HideReturnOnSelect1">
		<webobject name="ShowCancel">
			<tr>
				<td align="CENTER" colspan="2">
					<webobject name="BackLink">
						<webobject name="ReturnButton">
						</webobject>
					</webobject>
				</td>
			</tr>
		</webobject>
	</webobject>
</table>
