div.slider {
	font-family: Lucida Grande;
	font-size: 0.8em;
	color: rgb(50, 50, 50);
	text-shadow: rgba(255, 255, 255, 0.50) 0px 1px 1px;
	-moz-text-shadow: rgba(255, 255, 255, 0.50) 0px 1px 1px;
	border: 1px solid rgb(100, 100, 100);
	border-radius: 0.25em;
	-moz-border-radius: 0.25em;
	display: inline-block;
	position: relative;
	padding: 0em;
	margin: 0em;
	background-color: rgb(200, 200, 200);
	background-image: -webkit-gradient(
	    linear,
	    left top,
	    left bottom,
	    color-stop(0, rgba(0, 0, 0, 0.3)),
	    color-stop(0.30, rgba(0, 0, 0, 0.1)),
	    color-stop(1, rgba(0, 0, 0, 0.0))
	);
	background-image: -moz-linear-gradient(
	    top,
		rgba(0, 0, 0, 0.3) 0%,
		rgba(0, 0, 0, 0.1) 30%,
		rgba(0, 0, 0, 0.0) 100%
	);
	z-index: 0;
	height: 1.75em;
	-webkit-user-select: none;
	-moz-user-select: none;
}

div.slider ol.items {
	list-style: none;
	margin: 0em;
	padding: 0.25em 0em;
	margin-right: -1px;
	white-space: nowrap;
}

div.slider ol.items li {
	display: inline-block;
	text-align: center;
	padding: 0em;
	margin: 0em;
	margin-top: 0.05em;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
}

div.slider ol.items li input[type='radio'] {
	display: none;
}

div.slider ol.items li.selected {
	cursor: default;
	/*color: rgb(150, 18, 23);*/
	/*text-shadow: rgba(0, 0, 0, 0.20) 0px -1px 1px;*/
}

div.slider ol.separators {
	list-style: none;
	margin: 0em;
	padding: 0.25em 0em;
	margin-right: -1px;
	position: absolute;
	z-index: -2;
	white-space: no-wrap;
}

div.slider ol.separators li {
	display: inline-block;
	text-align: center;
	padding: 0em;
	margin: 0em;
	margin-top: 0.05em;
	cursor: pointer;
	overflow: hidden;
	white-space: no-wrap;
	border-left: 1px solid rgba(127, 127, 127, 0.2);
	margin-left: -1px;
	margin-top: -0.3em;
	padding-bottom: 0.6em;
}

div.slider ol.separators li:first-child {
	border-left: none;
	margin-left: 0px;
}

div.slider div.selector {
	border: 1px solid rgb(100, 100, 100);
	-webkit-box-shadow: 0em 0em 0.5em rgba(100, 100, 100, 0.2);
	-moz-box-shadow: 0em 0em 0.5em rgba(100, 100, 100, 0.2);
	border-radius: 0.25em;
	-moz-border-radius: 0.25em;
	padding: 0em;
	margin: 0em;
	position: absolute;
	top: 0em;
	height: 1.75em;
	background-color: rgb(251, 251, 251);
	background-image: -webkit-gradient(
		linear, 
		left top, 
		left bottom, 
		from(rgba(0, 0, 0, 0.0)), 
		to(rgba(0, 0, 0, 0.15)));
	background-image: -moz-linear-gradient(
		top,
		rgba(0, 0, 0, 0.0) 0%,
		rgba(0, 0, 0, 0.15) 100%);
	z-index: -1;
	margin-top: -1px;
	margin-left: -2px;
	margin-right: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	left: 0px;
}

div.slider ol li {
	width: 5em;
}

div.slider div.selector_active {
	background-color: rgb(210, 210, 210) !important;
	background-image: -moz-linear-gradient(top, rgb(210, 210, 210), rgb(252, 252, 252)) !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(210, 210, 210)), to(rgb(252, 252, 252))) !important;
}

div.slider div.selectorDrag {
	cursor: move;
	position: absolute;
	height: 1.75em;
	top: 0;
	z-index: 10000;
}