<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
	<title><webobject name = "TestName"/></title>
</head>
<body> 
<table border="1" cellpadding="1" cellspacing="1">
	<thead>
		<tr><td colspan="3" rowspan="1"></td></tr>
	</thead>
	<tbody>
	<webobject name = "Tests">
	<webobject name = "IsCommand">
			<tr>
			<td><webobject name = "ElementName"/></td>
			<td><webobject name = "ElementTarget"/></td>
			<td><webobject name = "ElementValue"/></td></tr>
		</webobject>
	</webobject>
	</tbody>
</table>
</body>
</html>
