{
    attributes = (
        {columnName = CREATED; name = created; prototypeName = dateTime; }, 
        {columnName = ID; name = id; prototypeName = id; }, 
        {columnName = "TEXT_"; name = text; prototypeName = varcharLarge; }, 
        {columnName = "USER_ID"; name = userID; prototypeName = id; }
    ); 
    attributesUsedForLocking = (id, text, userID); 
    className = "er.corebusinesslogic.ERCLogEntry"; 
    classProperties = (created, text, userID); 
    externalName = "ERCLOG_ENTRY"; 
    fetchSpecificationDictionary = {}; 
    name = ERCLogEntry; 
    primaryKeyAttributes = (id); 
    userInfo = {modificationDate = "2002-06-04 14:00:54 +0200"; }; 
}
