<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
<title>WebObjects Error</title>
</head>
<body bgcolor="#ffffff">
<table border=0 width="100%">
  <tr> 
    <td align=center valign=top> <webobject name=ExclamationImage></webobject><br/>
      Re-enter<br/>
      <webobject name=ReenterHyperlink> <b><webobject name=ApplicationNameString></webobject></b> 
      </webobject> </td>
    <td align=left valign=top> <webobject name=VisibleConditional> 
      <hr>
      <table border=0 width="100%">
        <tr> 
          <td align=right valign=top> <b>Application:</b> </td>
          <td align=left valign=top> <webobject name=ApplicationNameString></webobject> 
          </td>
        </tr>
        <tr> 
          <td align=right valign=top height="13"> <b>Error:</b> </td>
          <td align=left valign=top height="13"> <webobject name=ExceptionNameString></webobject> 
          </td>
        </tr>
        <tr> 
          <td align=right valign=top> <b>Reason:</b> </td>
          <td align=left valign=top> <webobject name=CurrentReason></webobject> 
          </td>
        </tr>
        <tr> 
          <td align=right valign=top> <b>Stack trace:</b> </td>
          <td align=left valign=top> 
            <table border=0 width="100%">
              <tr> 
                <td>File</td>
                <td>Line#</td>
                <td>Method</td>
                <td>Package</td>
              </tr>
              <tr> 
                <td colspan=4> 
                  <hr size=1 width="100%">
                </td>
              </tr>
              <webobject name=ReasonRepetition> 
              <tr> 
                <td><webobject name=filename></webobject></td>
                <td><webobject name=line></webobject></td>
                <td><webobject name=methodname></webobject></td>
                <td><webobject name=packagename></webobject></td>
              </tr>
              </webobject> 
              <tr> 
                <td colspan=4> 
                  <hr size=1 width="100%">
                </td>
              </tr>
              <tr> 
                <td colspan=4 align=left>NA : Non applicable, JIT activated</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      </webobject> </td>
  </tr>
</table>
</body>
</html>
