(

"^java\\.lang\\.reflect\\.Method\\..*",
"^sun\\.reflect\\.NativeMethodAccessorImpl\\..*",
"^sun\\.reflect\\.DelegatingMethodAccessorImpl\\..*",
"^com\\.webobjects\\.foundation\\.NSSelector\\..*",
"^sun\\.reflect\\.GeneratedMethodAccessor.*",
"^java\\.lang\\.Thread\\.run$",

"^com\\.webobjects\\.appserver\\.WOApplication\\.dispatchRequest$",
"^com\\.webobjects\\.appserver\\.WOComponent\\.appendToResponse$",
"^com\\.webobjects\\.appserver\\.WOComponent\\._appendPageToResponse$",
"^com\\.webobjects\\.appserver\\.WOComponent\\._generateResponseInContext$",
"^com\\.webobjects\\.appserver\\.WOComponent\\.generateResponse$",

"^com\\.webobjects\\.appserver\\._private\\..*",
"^com\\.webobjects\\.appserver\\._private\\.WOActionRequestHandler\\..*",
"^com\\.webobjects\\.appserver\\._private\\.WOComponentContent\\..*",
"^com\\.webobjects\\.appserver\\._private\\.WOComponentReference\\..*",
"^com\\.webobjects\\.appserver\\._private\\.WODynamicGroup\\..*",
"^com\\.webobjects\\.appserver\\._private\\.WOKeyValueAssociation\\..*",

"^com\\.webobjects\\.eoaccess\\.EODatabase.*",

"^com\\.webobjects\\.foundation\\.NSKeyValueCoding\\$.*",
"^com\\.webobjects\\.foundation\\.NSKeyValueCodingAdditions\\$.*",
"^com\\.webobjects\\.foundation\\.NSNotificationCenter\\..*",
"^com\\.webobjects\\.foundation\\.NSNotificationCenter\\$_Entry\\..*",

"^com\\.webobjects\\.jdbcadaptor\\.JDBCChannel\\..*",
"^com\\.webobjects\\.jdbcadaptor\\.JDBCContext\\..*",

"^er\\.extensions\\.appserver\\.ERXDirectActionRequestHandler\\..*",
"^er\\.extensions\\.appserver\\.ERXApplication\\.dispatchRequestImmediately$",
"^er\\.extensions\\.appserver\\.ERXApplication\\.dispatchRequest$",
"^er\\.extensions\\.components\\._private\\..*",
"^er\\.extensions\\.jdbc\\.ERXJDBCAdaptor\\$.*",

"^.*\\.takeValuesFromRequest$",
"^.*\\.takeChildrenValuesFromRequest$",
"^.*\\.invokeAction$",
"^.*\\.invokeChildrenAction$",
"^.*\\.appendChildrenToResponse$",
"^.*\\.appendToResponse$",
"^.*\\.takeValueForKey$",
"^.*\\.takeValueForKeyPath$",
"^.*\\.valueForBinding$",
"^.*\\.valueForKey$",
"^.*\\.valueForKeyPath$",
"^.*\\.validateTakeValueForKeyPath$",
"^.*\\.handleQueryWithUnboundKey$",

"^.*Application\\.run$",
"^.*Application\\.main$"
)