<webobject name="ERXOncePerRequest"><script>

var currentERXFlyOver = null;

function ERXJSFlyOverCustomComponent_show(link,obj) {
    if(currentERXFlyOver) {
    	ERXJSFlyOverCustomComponent_hide(currentERXFlyOver);
    	currentERXFlyOver = null;
    }
    var style=obj.style;
    style.top = "0px";
 	style.<webobject name = "Align"/> = "0px";
 	if(obj.getAttribute('needsClick') != 'true') {
    	style.top = "20px";
    	style.left = link.style.width;
    }
    style.visibility='visible';
    currentERXFlyOver = obj;
}
function ERXJSFlyOverCustomComponent_hideAuto(obj) {
	if(obj.style.visibility='visible') {
		setTimeout("ERXJSFlyOverCustomComponent_hide(" + obj.id + ")", 5000);
    }
}

function ERXJSFlyOverCustomComponent_hide(obj) {
    var style=obj.style; 
    style.visibility='hidden';
    currentERXFlyOver = null;
}

function ERXJSFlyOverCustomComponent_toggle(link, obj) {
    var style=obj.style; 
    if(currentERXFlyOver == obj) {
    	ERXJSFlyOverCustomComponent_hide(obj);
    } else {
    	ERXJSFlyOverCustomComponent_show(link, obj);
    }
}
</script>
</webobject><span style="position: relative; text-align: left;" class="ERXJSFlyOver"><webobject name="RollOverConditional"><webobject name="RollOverLink"><webobject name=Label></webobject></webobject></webobject><webobject name="OnClickConditional"><webobject name="OnClickLink"><webobject name=Label></webobject></webobject></webobject><webobject name=Span><webobject name=Content></webobject></webobject></span>


