<script type = "text/javascript"><webobject name = "ToggleFunctionName"/> = function(actionUrl) { new Ajax.Updater('<webobject name = "ContainerID"></webobject>', actionUrl, { method:'get', evalScripts: true }); return true; };</script>
<webobject name = "TreeNodeUpdater">
	<webobject name = "TreeNodeRepetition">
		<webobject name = "CloseCountRepetition"><webobject name = "CloseULLI"/></webobject>
		<webobject name = "IsLeafConditional"><webobject name = "NodeItem"/><webobject name = "LeafImage"/><webobject name = "TreeNodeRenderer"/><webobject name = "CloseLI"/></webobject>
		<webobject name = "IsNotLeafConditional">
			<webobject name = "IsCollapsedConditional"><webobject name = "NodeItem"/><webobject name = "ExpandAction"><webobject name = "CollapsedImage"/></webobject><webobject name = "TreeNodeRenderer"/><webobject name = "CloseLI"/></webobject>
			<webobject name = "IsExpandedConditional"><webobject name = "NodeItem"/><webobject name = "CollapseAction"><webobject name = "ExpandedImage"/></webobject><webobject name = "TreeNodeRenderer"/><webobject name = "OpenUL"/></webobject>
		</webobject>
	</webobject>
	<webobject name = "LastCloseCountRepetition"><webobject name = "CloseULLI"/></webobject>
</webobject>