<div class = "ERMDEmptyList">
  <span class = "ERMDEmptyListMessage">
    <webobject name = "HasNoMessage"><webobject name = "EmptyListTemplate" /></webobject>
    <webobject name = "HasMessage"><webobject name = "EmptyListMessage" /></webobject>
  </span>
  <webobject name = "ShowCreateObjectLink">
    <span class = "ERMDEmptyListCreateObject">
      <webobject name = "CreateObjectLink">
        <span><webobject name = "CreateObjectString" /></span>
      </webobject>
    </span>
  </webobject>
</div>