<webobject name=PageWrapper>
	<webobject name=Repetition1><webobject name=ListTable>
		<webobject name=NoCustomSheetComponent>
		<TR>
			<webobject name=ColumnLabelRepetition><webobject name=AttributeLabelCell><webobject name=PropertyNameComponent></webobject></webobject></webobject>
		</TR>
		<webobject name=BatchRepetition>
		<webobject name=ObjectRepetition>
		<TR>
			<webobject name=AttributeRepetition><webobject name=AttributeCell><webobject name=AttributeDisplay></webobject></webobject></webobject>
		</TR>
		</webobject>
		</webobject>
		</webobject>
		<webobject name=HasCustomSheetComponent>
			<webobject name=CustomComponentForSheet></webobject>
		</webobject>
	</webobject></webobject>
</webobject>