<webobject name = "EmptyAttachment">
	<webobject name = "EmptyAttachmentComponent" />
</webobject>
<webobject name = "HasAttachment">
  <webobject name = "IfIE">
    <webobject name = "IEMovieObject">
      <webobject name = "Source" />
      <webobject name = "OtherParams"> <webobject name = "Param" /> </webobject>
      <webobject name = "AltContent" />
    </webobject>
  </webobject>
  <webobject name = "IfNotIE">
    <webobject name = "MovieObject">
      <webobject name = "Source" />
      <webobject name = "OtherParams"> <webobject name = "Param" /> </webobject>
      <webobject name = "AltContent" />
    </webobject>
  </webobject>
</webobject>