<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title><wo name = "PageTitle" /></title> 
		<wo:ERXStyleSheet framework = "app" filename = "css/bootstrap.min.css" />
		<wo:ERXStyleSheet framework = "app" filename = "css/bootstrap-responsive.min.css" />	
	</head>
	<body>
		<div class = "container" style = "margin-top: 20px;">
			<div class = "row">
				<div class = "span3">
					<ul class="nav nav-list">
						<li><wo:link pageName = "HomePage">
							<i class="icon-home"></i>
							Home
						</wo:link></li>
						<li><wo:link directActionName = "PageAction/MTAUCPeriodicalTestPage">
							<i class="icon-refresh"></i>
							Periodical Updater
						</wo:link></li>
						<li><wo:link directActionName = "PageAction/MTAULTestPage">
							<i class="icon-repeat"></i>
							Update Links
						</wo:link></li>
						<li><wo:link directActionName = "PageAction/MTASBTestPage">
							<i class="icon-edit"></i>
							Ajax Submit Button
						</wo:link></li>
						<li><wo:link directActionName = "PageAction/MTAccordionTestPage">
							<i class="icon-th-list"></i>
							Accordion Example
						</wo:link></li>
						<li><wo:link directActionName = "PageAction/MTAjaxTabbedPanelTestPage">
							<i class="icon-th-large"></i>
							Tabbed Panel Example
						</wo:link></li>
						<li><wo:link directActionName = "PageAction/MTAjaxDragDropTestPage">
							<i class="icon-move"></i>
							Drag and Drop Example
						</wo:link></li>
						<li><wo:link directActionName = "PageAction/MTAjaxObserveFieldTestPage">
							<i class="icon-cog"></i>
							Ajax Observe Field
						</wo:link></li>
						<li><wo:link directActionName = "PageAction/MTJSSliderTestPage">
							<i class="icon-resize-vertical"></i>
							JavaScript Slider 
						</wo:link></li>
						<li><wo:link directActionName = "PageAction/MTAjaxSortablesTestPage">
							<i class="icon-random"></i>
							Sortable List
						</wo:link></li>
						<li><wo:link directActionName = "PageAction/MTFileUploadTestPage">
							<i class="icon-upload"></i>
							File Upload
						</wo:link></li>
						<li><wo:link directActionName = "PageAction/MTAjaxTreeExamplePage">
							<i class="icon-folder-open"></i>
							Ajax Tree
						</wo:link></li>
						<li><wo:link directActionName = "PageAction/MTAjaxModalContainerTestPage">
							<i class="icon-search"></i>
							Modal Containers
						</wo:link></li>
						<li><wo:link directActionName = "PageAction/MTJSDatePickerTestPage">
							<i class="icon-time"></i>
							Date Picker
						</wo:link></li>
						<li><wo:link directActionName = "PageAction/MTAjaxPingUpdateTestPage">
							<i class="icon-refresh"></i>
							Ajax Ping
						</wo:link></li>					
						<li><wo:link directActionName = "PageAction/MTMediaBoxTestPage">
							<i class="icon-picture"></i>
							Media Box
						</wo:link></li>					
						<li><wo:link directActionName = "PageAction/MTAjaxInPlaceTestPage">
							<i class="icon-edit"></i>
							Ajax In Place
						</wo:link></li>	
						<li><wo:link directActionName = "PageAction/MTStyledPopUpButtonTestPage">
							<i class="icon-edit"></i>
							Styled PopUp Button
						</wo:link></li>											
						<li><wo:link directActionName = "PageAction/MTAjaxExpansionTestPage">
							<i class="icon-edit"></i>
							Ajax Expansion
						</wo:link></li>											
						<li><wo:link directActionName = "PageAction/MTAjaxAutoCompleteTestPage">
							<i class="icon-edit"></i>
							Ajax Auto Complete
						</wo:link></li>											
					</ul>	
				</div>
				<div class = "span9">
					<wo:WOComponentContent />
				</div>		
			</div>
		</div>
	</body>
</html>