<webobject name = "AjaxExampleComponent">
<p>
AjaxInPlaceEditor is a wrapper component around the scriptaculous in-place editor.  It acts like a WOTextField in a form.
</p>

<b>AjaxInPlaceEditor</b>
<webobject name = "InLineEditorUpdater">
<b>Simple In-Place Editor (click text to edit):</b>
<br>
<webobject name = "InPlaceEditorSimple"></webobject>
<p>
<b>Multiline In-Place Editor (click text to edit):</b>
<br>
<webobject name = "InPlaceEditorMultiline"></webobject>
</webobject>
<p>
<b>In-Place Editor Stripped (click text to edit).  Click outside the textfield to stop editing.:</b>
<br>
<webobject name = "InPlaceEditorStripped"></webobject>
<p>
<b>Numeric In-Place Editor (click text to edit).  This one still has some funky error handling when formatting fails, but we'll fix that.:</b>
<br>
<webobject name = "InPlaceEditorNumeric"></webobject>
</webobject>
