<table border=1 width="100%">
	<webobject name=horzDimensions>
		<tr>
			<webobject name=vGroups>
				<td></td>
			</webobject><webobject name=hCriteriaList>
				<webobject name=colSpanTd><b><font size=2 face="arial,geneva"><webobject name=criteriaLabel></webobject></font></b></webobject>
			</webobject>
		</tr>
	</webobject><webobject name=showHeadersForAsCells><webobject name=depthList>
			<tr>
				<webobject name=vGroups>
					<td></td>
				</webobject><webobject name=numberOfCrits><webobject name=attribs>
						<webobject name=td><b><font size=2 face="arial,geneva"><webobject name=attribLabel></webobject></font></b></webobject>
					</webobject></webobject>
			</tr>
		</webobject></webobject><webobject name=showNoColNoRow>
		<webobject name=recordGroupTest></webobject>
	</webobject><webobject name=showSingleRow>
		<tr>
			<webobject name=hCriteriaList2>
				<webobject name=recordGroupTest></webobject>
			</webobject>
			<td></td>
			<td></td>
		</tr>
	</webobject><webobject name=vCriteriaList>
		<tr>
			<webobject name=vindent><webobject name=showIndentCell>
					<webobject name=rowSpanTd><b><font size=2 face="arial,geneva"><webobject name=vIndentCriteriaLabel></webobject></font></b></webobject>
				</webobject></webobject><webobject name=rowSpanTd2><b><font size=2 face="arial,geneva"><webobject name=vcriteriaLabel></webobject></font></b></webobject><webobject name=hCriteriaList2>
				<webobject name=recordGroupTest></webobject>
			</webobject><webobject name=showSingleCol>
				<webobject name=recordGroupTest></webobject>
			</webobject>
		</tr>
	</webobject>
</table>