{
    attributes = (
        {columnName = BCC_ADDR; name = bccAddresses; prototypeName = varchar1000; }, 
        {columnName = CC_ADDR; name = ccAddresses; prototypeName = varchar1000; }, 
        {columnName = CONTENT_TYPE; name = contentType; prototypeName = varchar255; }, 
        {columnName = CREATED; name = created; prototypeName = dateTime; }, 
        {columnName = DATE_SENT; name = dateSent; prototypeName = dateTime; }, 
        {columnName = FROM_ADDR; name = fromAddress; prototypeName = varchar100; }, 
        {columnName = ID; name = id; prototypeName = id; }, 
        {columnName = IS_READ; name = isRead; prototypeName = charFlag; }, 
        {columnName = LAST_MODIFIED; name = lastModified; prototypeName = dateTime; }, 
        {columnName = MAIL_STATE_ID; name = mailStateID; prototypeName = osType; }, 
        {
            columnName = REPLY_TO_ADDR; 
            name = replyToAddresses; 
            prototypeName = varchar1000; 
        }, 
        {columnName = TEXT_; name = text; prototypeName = varcharLarge; }, 
        {columnName = TITLE; name = title; prototypeName = varchar100; }, 
        {columnName = TO_ADDR; name = toAddresses; prototypeName = varchar1000; }, 
        {columnName = X_MAILER; name = xMailer; prototypeName = varchar255; }
    ); 
    attributesUsedForLocking = (
        id, 
        mailStateID, 
        fromAddress, 
        toAddresses, 
        bccAddresses, 
        title, 
        xMailer, 
        contentType, 
        isRead
    ); 
    className = er.corebusinesslogic.ERCMailMessage; 
    classProperties = (
        state, 
        created, 
        lastModified, 
        fromAddress, 
        toAddresses, 
        ccAddresses, 
        bccAddresses, 
        title, 
        text, 
        dateSent, 
        replyToAddresses, 
        attachments, 
        xMailer, 
        contentType, 
        isRead
    ); 
    externalName = ERCMAIL_MESSAG; 
    name = ERCMailMessage; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            destination = ERCMessageAttachment; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = mailMessageId; sourceAttribute = id; }); 
            name = attachments; 
            ownsDestination = Y; 
            userInfo = {modificationDate = "2002-06-04 14:00:54 +0200"; }; 
        }, 
        {
            destination = ERCMailState; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = mailStateID; }); 
            name = state; 
            userInfo = {modificationDate = "2002-06-04 14:00:54 +0200"; }; 
        }
    ); 
    userInfo = {
        modificationDate = "2002-06-04 14:00:54 +0200"; 
        superclass = ERCStampedEnterpriseObject; 
    }; 
}
