{
    attributes = (
        {columnName = ID; name = id; prototypeName = osType; }, 
        {columnName = NAME; name = name; prototypeName = varchar100; }
    ); 
    attributesUsedForLocking = (id, name); 
    cachesObjects = Y; 
    className = "er.corebusinesslogic.ERCMailState"; 
    classProperties = (name); 
    externalName = "ERCMAIL_STATE"; 
    isReadOnly = Y; 
    name = ERCMailState; 
    primaryKeyAttributes = (id); 
    sharedObjectFetchSpecificationNames = (FetchAll); 
    userInfo = {modificationDate = "2002-06-04 14:00:54 +0200"; }; 
}
