<!DOCTYPE html>
<html>
    <webobject name="Head">
        <webobject name = "CSS" />
    	<webobject name = "Prototype" />
    	<webobject name = "Effects" />
    	<webobject name = "Builder" />
    	<webobject name = "CalendarDateSelectScript" />
    	<webobject name = "CalendarDateSelectCSS" />
    	<webobject name = "AccordionScript" />
    	<webobject name = "LightwindowScript" />
    	<webobject name = "LightwindowCSS" />
    </webobject>
    <body>
    
	<webobject name="A">
      <webobject name="Content"></webobject>
    </webobject>
 
   </body>
</html>