<!DOCTYPE html>
<html>
   <head>
      <title>Direct to Web</title>
   </head>
   <body>
	
	<div id="login">

		<div class="module">

      <WEBOBJECT NAME=LoginForm>
			<h1>Direct to Web</h1>
			<div class="module-body">
				<p>
					<label class="login" for="username">username:</label><WEBOBJECT NAME=UsernameField></WEBOBJECT>
                    <label class="login" for="password">password:</label><WEBOBJECT NAME=PasswordField></WEBOBJECT>
 				</p>
			</div>
			<div class="module-footer">
				<p>
					<WEBOBJECT NAME=LoginButton></WEBOBJECT><br class="clear" />	
 				</p>
			</div>
      </WEBOBJECT>
		</div>
	</div>
	
   </body>
</html>