<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML>
	<HEAD>
		<TITLE></TITLE>
	</HEAD>
	<BODY BGCOLOR=#FFFFFF>
		<WEBOBJECT NAME=REFUSED>
			<CENTER>
				<h2><FONT color=#FF0000>This Request Requires A User Login</FONT></h2>
				<BR/>
				<WEBOBJECT NAME=Form1>
					<TABLE border=1 cellPadding=2 cellSpacing=0 bgcolor="#f6ffff">
						<TR>
							<TD>
								<TABLE BORDER=0 WIDTH="80%">
									<TR align=CENTER>
										<TD> User </TD>
										<TD>
											<WEBOBJECT NAME="USERNAME"></WEBOBJECT>
										</TD>
									</TR>
									<TR align=CENTER>
										<TD> Password </TD>
										<TD>
											<WEBOBJECT NAME="PASSWORD"></WEBOBJECT>
										</TD>
									</TR>
									<TR>
										<TD></TD>
										<TD><WEBOBJECT NAME=SUBMIT></WEBOBJECT></TD>
									</TR>
								</TABLE>
							</TD>
						</TR>
					</TABLE>
					<BR>
				</WEBOBJECT>
			</CENTER>
		</WEBOBJECT><WEBOBJECT NAME=ALLOWED>
			<WEBOBJECT NAME=Form4>
				<TABLE BORDER=0 WIDTH="100%">
					<TR>
						<TD ALIGN=CENTER COLSPAN=2>
							<H2>Statistics For <FONT color=#FF0000>
								<WEBOBJECT name=String2></WEBOBJECT>
								<WEBOBJECT name=Conditional2>
									#<FONT color=#FF0000>
									<WEBOBJECT name=String6></WEBOBJECT>
									</FONT>
								</WEBOBJECT>
								</FONT>On Host <FONT color=#FF0000>
								<WEBOBJECT name=String11></WEBOBJECT>
								</FONT> </H2>
						</TD>
					</TR>
					<TR>
						<TD ALIGN=CENTER>
							<WEBOBJECT NAME="REFRESH"></WEBOBJECT>
						</TD>
					</TR>
				</TABLE>
			</WEBOBJECT>
			<HR/>
			<BR/>
			<CENTER>
				<TABLE BORDER=2 CELLPADDING=4 CELLSPACING=2 bgcolor="#d0d0d0">
					<TR align=CENTER bgcolor="#b0b0b0">
						<TD COLSPAN=6><FONT SIZE=+1><B>Application Statistics</B></FONT> </TD>
					</TR>
					<TR>
						<TD> &nbsp </TD>
						<TD ALIGN=CENTER><FONT SIZE=-1>Transactions</FONT></TD>
						<TD ALIGN=CENTER><FONT SIZE=-1>Average Transaction<BR>
							Time</FONT></TD>
						<TD ALIGN=CENTER><FONT SIZE=-1>Average Idle<BR>
							Time</FONT></TD>
						<TD ALIGN=CENTER><FONT SIZE=-1>Moving Average*<BR>
							Transaction Time</FONT></TD>
						<TD ALIGN=CENTER><FONT SIZE=-1>Moving Average*<BR>
							Idle Time</FONT></TD>
					</TR>
					<TR>
						<TD>Overall</TD>
						<TD ALIGN=CENTER><FONT color=#0000FF><WEBOBJECT name=Transactions></WEBOBJECT></FONT></TD>
						<TD ALIGN=CENTER><FONT color=#0000FF><WEBOBJECT name=AvgTransactionTime></WEBOBJECT></FONT></TD>
						<TD ALIGN=CENTER><FONT color=#0000FF><WEBOBJECT name=AvgIdleTime></WEBOBJECT></FONT></TD>
						<TD ALIGN=CENTER><FONT color=#0000FF><WEBOBJECT name=MovingAvgTransactionTime></WEBOBJECT></FONT></TD>
						<TD ALIGN=CENTER><FONT color=#0000FF><WEBOBJECT name=MovingAvgIdleTime></WEBOBJECT></FONT></TD>
					</TR>
					<TR>
						<TD>Component Actions</TD>
						<TD ALIGN=CENTER><FONT color=#0000FF><WEBOBJECT name=ComponentActionTransactions></WEBOBJECT></FONT></TD>
						<TD ALIGN=CENTER><FONT color=#0000FF><WEBOBJECT name=AvgComponentActionTransactions></WEBOBJECT></FONT></TD>
						<TD ALIGN=CENTER><FONT size=-1>NA</FONT></TD>
						<TD ALIGN=CENTER> &nbsp </TD>
						<TD ALIGN=CENTER><FONT size=-1>NA</FONT></TD>
					</TR>
					<TR>
						<TD>Direct Actions</TD>
						<TD ALIGN=CENTER><FONT color=#0000FF><WEBOBJECT name=DirectActionTransactions></WEBOBJECT></FONT></TD>
						<TD ALIGN=CENTER><FONT color=#0000FF><WEBOBJECT name=AvgDirectActionTransactions></WEBOBJECT></FONT></TD>
						<TD ALIGN=CENTER><FONT size=-1>NA</FONT></TD>
						<TD ALIGN=CENTER> &nbsp </TD>
						<TD ALIGN=CENTER><FONT size=-1>NA</FONT></TD>
					</TR>
					<TR>
						<TD>Started at</TD>
						<TD COLSPAN=5> <FONT color=#0000FF><WEBOBJECT name=String21></WEBOBJECT></FONT> </TD>
					</TR>
					<TR>
						<TD>Running time</TD>
						<TD COLSPAN=5> <FONT color=#0000FF><WEBOBJECT name=RunningTime></WEBOBJECT></FONT> </TD>
					</TR>
				</TABLE>
				<FONT SIZE=-1> * The sample size for Moving Averages is
				<FONT color=#0000FF><WEBOBJECT name=MovingAvgSampleSize></WEBOBJECT></FONT> transactions.
				</FONT>
			</CENTER>
			<HR/>
			<CENTER>
				<TABLE BORDER=2 CELLPADDING=4 CELLSPACING=2 bgcolor="#d0d0d0">
					<TR align=CENTER bgcolor="#b0b0b0">
						<TD COLSPAN=2><FONT SIZE=+1><B>Sessions Statistics</B></FONT></TD>
					</TR>
					<WEBOBJECT name=SessionsRepetition>
						<TR>
							<TD>
								<WEBOBJECT name=SessionsKeyCell></WEBOBJECT>
							</TD>
							<TD> <FONT color=#0000FF><WEBOBJECT name=SessionsValueCell></WEBOBJECT></FONT> </TD>
						</TR>
					</WEBOBJECT>
					<WEBOBJECT NAME="ISMAXSESSIONS">
						<TR>
							<TD COLSPAN=2>Peak Concurrent Sessions at<BR>
								<FONT color=#0000FF><WEBOBJECT NAME="MaxSessions"></WEBOBJECT></FONT> </TD>
						</TR>
					</WEBOBJECT>
				</TABLE>
			</CENTER>
			<BR/>
			<CENTER>
				<TABLE BORDER=0 WIDTH="100%">
					<!-- spacer table - invisible -->
					<TR>
						<TD ALIGN=CENTER>
							<TABLE BORDER=2 CELLPADDING=4 CELLSPACING=2 bgcolor="#d0d0d0">
								<TR align=CENTER bgcolor="#b0b0b0">
									<TD COLSPAN=2><B>Memory Usage (bytes)</B> </TD>
								</TR>
								<WEBOBJECT name=MemoryRepetition>
									<TR>
										<TD>
											<WEBOBJECT name=MemoryKeyCell></WEBOBJECT>
										</TD>
										<TD ALIGN="RIGHT">
											<FONT color=#0000FF><WEBOBJECT name=MemoryValueCell></WEBOBJECT></FONT> </TD>
									</TR>
								</WEBOBJECT>
							</TABLE>
						</TD>
						<TD ALIGN=CENTER>
							<TABLE BORDER=2 CELLPADDING=4 CELLSPACING=2 bgcolor="#d0d0d0">
								<TR align=CENTER bgcolor="#b0b0b0">
									<TD COLSPAN=2><B>Avg. Memory Usage Per Session (bytes)</B> </TD>
								</TR>
								<WEBOBJECT name=SessionMemoryRepetition>
									<TR>
										<TD>
											<WEBOBJECT name=SessionMemoryKeyCell></WEBOBJECT>
										</TD>
										<TD ALIGN="RIGHT">
											<FONT color=#0000FF><WEBOBJECT name=SessionMemoryValueCell></WEBOBJECT></FONT>
										</TD>
									</TR>
								</WEBOBJECT>
							</TABLE>
						</TD>
					</TR>
				</TABLE>
			</CENTER>
			<BR/>
			<WEBOBJECT NAME=ISLASTUSER>
				Response Descriptions For Last User : <BR>
				<CENTER>
					<table border=2 cellpadding=4 cellspacing=2 bgcolor="#d0d0d0" WIDTH="80%">
						<WEBOBJECT name=SessionStatsRepetition>
							<TR>
								<TD> <FONT color=#0000FF><WEBOBJECT name=SessionStatsField></WEBOBJECT></FONT> </TD>
							</TR>
						</WEBOBJECT>
					</table>
				</CENTER>
			</WEBOBJECT>
			<HR/>
			<CENTER>
				<TABLE border=2 cellpadding=4 cellspacing=2 width="80%" bgcolor="#d0d0d0">
					<TR>
						<TD COLSPAN=5 ALIGN=CENTER BGCOLOR="#b0b0b0"> <FONT SIZE=+1><B> Component Action
							Statistics </B></FONT> </TD>
					</TR>
					<TR align=CENTER bgcolor="#d6d8df">
						<TD WIDTH="20%"> Name </TD>
						<TD WIDTH="50%">Served </TD>
						<TD WIDTH="10%"> Min </TD>
						<TD WIDTH="10%"> Avg </TD>
						<TD WIDTH="10%"> Max </TD>
					</TR>
					<WEBOBJECT NAME=PagesRepetition>
						<TR>
							<TD ALIGN=CENTER><FONT color=#0000FF><WEBOBJECT NAME=PageName></WEBOBJECT></FONT></TD>
							<TD align=left><WEBOBJECT NAME="PageCountBar"></WEBOBJECT></TD>
							<TD ALIGN=CENTER><FONT color=#0000FF><WEBOBJECT NAME=PageMin></WEBOBJECT></FONT></TD>
							<TD ALIGN=CENTER><FONT color=#0000FF><B><WEBOBJECT NAME=PageAvg></WEBOBJECT></B></FONT></TD>
							<TD ALIGN=CENTER><FONT color=#0000FF><WEBOBJECT NAME=PageMax></WEBOBJECT></FONT></TD>
						</TR>
					</WEBOBJECT>
				</TABLE>
			</CENTER>
			<HR/>
			<CENTER>
				<TABLE border=2 cellpadding=4 cellspacing=2 width="80%" bgcolor="#d0d0d0">
					<TR>
						<TD COLSPAN=5 ALIGN=CENTER BGCOLOR="#b0b0b0"> <FONT SIZE=+1><B> Direct Action Statistics
							</B></FONT> </TD>
					</TR>
					<TR align=CENTER bgcolor="#d6d8df">
						<TD WIDTH="20%">Name</TD>
						<TD WIDTH="50%">Served</TD>
						<TD WIDTH="10%">Min</TD>
						<TD WIDTH="10%">Avg</TD>
						<TD WIDTH="10%">Max</TD>
					</TR>
					<WEBOBJECT NAME=ActionsRepetition>
						<TR>
							<TD ALIGN=CENTER><FONT color=#0000FF><WEBOBJECT NAME=ActionName></WEBOBJECT></FONT></TD>
							<TD align=left><WEBOBJECT NAME="ActionBar"></WEBOBJECT></TD>
							<TD ALIGN=CENTER><FONT color=#0000FF><WEBOBJECT NAME=ActionMin></WEBOBJECT></FONT></TD>
							<TD ALIGN=CENTER><FONT color=#0000FF><B><WEBOBJECT NAME=ActionAvg></WEBOBJECT></B></FONT></TD>
							<TD ALIGN=CENTER><FONT color=#0000FF><WEBOBJECT NAME=ActionMax></WEBOBJECT></FONT></TD>
						</TR>
					</WEBOBJECT>
				</TABLE>
			</CENTER>
			<HR/>
			<CENTER>
				<TABLE border=2 cellPadding=4 cellspacing=2 width="80%" bgcolor="#d0d0d0">
					<TR>
						<TD COLSPAN=3 ALIGN=CENTER BGCOLOR="#b0b0b0"> <FONT SIZE=+1><B>Detailed
							Statistics</B></FONT> </TD>
					</TR>
					<TR align=CENTER bgcolor="#d6d8df">
						<TD WIDTH="40%"> Response Description </TD>
						<TD WIDTH="50%">Percent Of Total </TD>
						<TD WIDTH="10%"> Served </TD>
					</TR>
					<WEBOBJECT NAME=DetailsRepetition>
						<TR>
							<TD ALIGN=CENTER><FONT color=#0000FF><WEBOBJECT NAME=DetailName></WEBOBJECT></FONT></TD>
							<TD align=left><WEBOBJECT NAME="BAR_DETAILS"></WEBOBJECT></TD>
							<TD ALIGN=CENTER><FONT color=#0000FF><WEBOBJECT NAME=DetailCount></WEBOBJECT></FONT></TD>
						</TR>
					</WEBOBJECT>
				</TABLE>
				<BR>
				<WEBOBJECT NAME=ISLOGPATH>
					<HR>
					<BR>
					Statistics Details Saved In Common Log Format In File
					<FONT color=#0000FF><WEBOBJECT NAME=LOGPATH></WEBOBJECT></FONT></WEBOBJECT>
				<HR>
				<TABLE WIDTH="80%" BORDER=2 CELLSPACING=2 CELLPADDING=4 BGCOLOR="#d0d0d0">
					<TR>
						<TD COLSPAN=2 BGCOLOR="#b0b0b0" ALIGN=CENTER><FONT SIZE=+1><B>Java VM
							Information</B></FONT></TD>
					</TR>
					<TR>
						<TD>Vendor</TD>
						<TD><WEBOBJECT NAME=Hyperlink1></WEBOBJECT></TD>
					</TR>
					<TR>
						<TD>JDK</TD>
						<TD><WEBOBJECT NAME=String1></WEBOBJECT></TD>
					</TR>
					<TR>
						<TD>Operating System</TD>
						<TD><WEBOBJECT NAME=String3></WEBOBJECT></TD>
					</TR>
				</TABLE>
				<P></P>
				<BR>
				<A HREF="http://www.apple.com/WebObjects"><WEBOBJECT name=PoweredByImage></WEBOBJECT></A>
			</CENTER>
		</WEBOBJECT>
	</BODY>
</HTML>
