<WEBOBJECT NAME=Template><WEBOBJECT NAME=Form1><TABLE CELLPADDING=0 CELLSPACING=0 WIDTH=100%% BORDER=0>
	<TR VALIGN=BOTTOM><TD><FONT SIZE=3><FONT FACE="Helvetica, Sans-Serif"><B>Choose
	a calendar:</B></FONT><BR>
	<WEBOBJECT NAME=Conditional2><WEBOBJECT NAME=PopUpButton3></WEBOBJECT>,&nbsp;</WEBOBJECT><WEBOBJECT NAME=PopUpButton1></WEBOBJECT>,&nbsp;<WEBOBJECT NAME=PopUpButton2></WEBOBJECT></FONT></TD><TD ALIGN=RIGHT><B><FONT SIZE=3><FONT FACE="Helvetica, Sans-Serif"><FONT COLOR=#000000><WEBOBJECT NAME=String6></WEBOBJECT> Calendar</FONT></FONT></FONT></B>, <B><FONT SIZE=4><FONT FACE="Helvetica, Sans-Serif"><FONT COLOR=#7e021a><WEBOBJECT NAME=String2></WEBOBJECT>,
			<WEBOBJECT NAME=String5></WEBOBJECT>&nbsp;</FONT></FONT></FONT></B><B><FONT SIZE=4><FONT FACE="Helvetica, Sans-Serif"><WEBOBJECT NAME=ActiveImage1></WEBOBJECT></FONT></FONT></B><B><FONT SIZE=4><FONT FACE="Helvetica, Sans-Serif">&nbsp;<WEBOBJECT NAME=ActiveImage2></WEBOBJECT></FONT></FONT></B></TD></TR></TABLE><BR><WEBOBJECT NAME=TABLE>
			<TR BGCOLOR=#c0d2ff>
				<TH>
					Sun</TH>
				<TH>Mon</TH>
				<TH>Tue</TH>
				<TH>Wed</TH>
				<TH>Thu</TH>
				<TH>Fri</TH>
				<TH>Sat</TH>
			</TR>
			<WEBOBJECT NAME=Repetition1><WEBOBJECT NAME=ROW><WEBOBJECT NAME=Repetition2><WEBOBJECT NAME=COLUMN>
							<TABLE CELLPADDING=0 CELLSPACING=0 WIDTH=100% BORDER=0>
								<TR ALIGN=RIGHT>
									<TD><FONT COLOR=#00139c><B><FONT SIZE=4><FONT FACE="Courier, Fixed"><WEBOBJECT NAME=String1></WEBOBJECT></FONT></FONT></B></FONT></TD>
								</TR>
								<TR>
									<TD ALIGN=CENTER><BR><WEBOBJECT NAME=Repetition3><FONT SIZE=1><FONT COLOR=#bf0702><WEBOBJECT NAME=String3></WEBOBJECT></FONT></FONT><WEBOBJECT NAME=Conditional1><FONT SIZE=1>:
									</FONT><FONT SIZE=2><WEBOBJECT NAME=Hyperlink1><WEBOBJECT NAME=String4></WEBOBJECT></WEBOBJECT>&nbsp;</FONT><FONT SIZE=1><WEBOBJECT NAME=String7></WEBOBJECT><BR></FONT></WEBOBJECT></WEBOBJECT></TD>
								</TR>
							</TABLE>
						</WEBOBJECT></WEBOBJECT>
				</WEBOBJECT></WEBOBJECT></WEBOBJECT></WEBOBJECT></WEBOBJECT><BR>
<CENTER><WEBOBJECT NAME=Table1><FONT SIZE=2><FONT FACE=Arial><B><WEBOBJECT NAME=String9></WEBOBJECT></B>:&nbsp;<I><WEBOBJECT NAME=String8></WEBOBJECT></I></FONT></FONT></WEBOBJECT>
</CENTER>