._wolSelected {
	border: 1px solid rgb(200, 200, 215);
	background-color: rgba(240, 240, 255, 0.8) !important;
	background-color: rgb(240, 240, 255);
}

html._wolSelected {
	border: none;
}

html._wolSelected body {
	border: none;
	background-color: rgba(240, 240, 255, 0.8) !important;
	background-color: rgb(240, 240, 255);
}

span#_wolToolBarContainer {
	position:fixed;
	bottom: 0px;
	left: 0px;
	padding: 5px 5px;
	z-index: 99999;
	-webkit-border-top-right-radius: 5px;
	background-color: rgba(240, 240, 255, 0.8) !important;
	background-color: rgb(240, 240, 255);
	font-size: 8pt;
	border: 1px solid rgb(200, 200, 215);
	border-bottom: none;
	border-left: none;
	font-family: Helvetica, Arial, Geneva;
	color: rgb(80, 80, 95);
}

span#_wolToolBarContainer a {
	background-color: inherit;
	font-size: 8pt;
	font-family: Helvetica, Arial, Geneva;
	color: rgb(80, 80, 95);
	text-decoration: none;
}

span#_wolToolBarContainer a:hover {
	background-color: inherit;
	font-size: 8pt;
	font-family: Helvetica, Arial, Geneva;
	color: rgb(80, 80, 95);
	text-decoration: none;
}

span#_wolToolBarContainer span#_wolHandle {
	color: rgb(150, 150, 150);
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
}

span#_wolToolBarContainer span._wolImportant {
	font-weight: bold;
}

span#_wolToolBarContainer span._wolUnimportant {
	font-weight: normal;
	color: rgb(150, 150, 150);
}

div#_clickToOpenComponentList {
	font-size: 9pt;
	position: absolute;
	background-color: rgba(240, 240, 240, 0.8) !important;
	background-color: rgb(240, 240, 240);
	border: 1px solid rgb(200, 200, 200);
}

div#_clickToOpenComponentList h1 {
	background-color: rgba(220, 220, 220, 0.8) !important;
	background-color: rgb(220, 220, 220);
	color: rgb(0, 0, 0);
	font-size: 9pt;
	font-weight: bold;
	text-align: center;
	margin: 0px;
	padding: 3px 10px;
	border: none;
	border-bottom: 1px solid rgb(200, 200, 200);
	display: block;
}

div#_clickToOpenComponentList ul {
	font-size: 9pt;
	margin: 0px;
	padding: 0px;
}

div#_clickToOpenComponentList ul li {
	list-style: none;
	margin: 0px;
	padding: 3px 10px;
	cursor: pointer;
	display: block;
}

div#_clickToOpenComponentList ul li:hover {
	background-color: rgba(200, 200, 215, 0.8) !important;
	background-color: rgb(200, 200, 215);
}
