<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
   <head>
	  <meta http-equiv="content-type" content="text/html" />
      <title>Direct to Web</title>
	  
   </head>
   <body>
	
	<div id="login">

		<div class="module">

      <WEBOBJECT NAME=LoginForm>
			<h1>Direct to Web</h1>
			<div class="module-body">
				<p>
					<label class="login" for="username">username:</label><WEBOBJECT NAME=UsernameField></WEBOBJECT>
                    <label class="login" for="password">password:</label><WEBOBJECT NAME=PasswordField></WEBOBJECT>
 				</p>
			</div>
			<div class="module-footer">
				<p>
					<WEBOBJECT NAME=LoginButton></WEBOBJECT><br class="clear" />	
 				</p>
			</div>
      </WEBOBJECT>
		</div>
	</div>
	
   </body>
</html>