{
    attributes = (
        {
            allowsNull = N; 
            columnName = description; 
            name = description; 
            prototypeName = varcharLarge; 
        }, 
        {
            allowsNull = N; 
            columnName = "description-html"; 
            name = descriptionHtml; 
            prototypeName = varcharLarge; 
        }, 
        {allowsNull = N; name = id; prototypeName = id; }, 
        {
            allowsNull = N; 
            columnName = name; 
            name = name; 
            prototypeName = varcharLarge; 
        }, 
        {
            allowsNull = N; 
            columnName = position; 
            name = position; 
            prototypeName = intNumber; 
        }, 
        {
            allowsNull = N; 
            columnName = "posts-count"; 
            name = postsCount; 
            prototypeName = intNumber; 
        }, 
        {
            allowsNull = N; 
            columnName = "topics-count"; 
            name = topicsCount; 
            prototypeName = intNumber; 
        }
    ); 
    attributesUsedForLocking = (description, descriptionHtml, id, name, position, postsCount, topicsCount); 
    className = "se.caboo.beast.model.Forum"; 
    classProperties = (
        description, 
        descriptionHtml, 
        name, 
        position, 
        posts, 
        postsCount, 
        topics, 
        topicsCount
    ); 
    externalName = "forum,forums"; 
    fetchSpecificationDictionary = {}; 
    name = Forum; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            destination = Post; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = forumID; sourceAttribute = id; }); 
            name = posts; 
        }, 
        {
            destination = Topic; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = forumID; sourceAttribute = id; }); 
            name = topics; 
        }
    ); 
}
