<wo:ERIUIContainer title = "Performers">
	<wo:ERXWOTemplate templateName = "toolbar">
		<wo:ERIUILeftButton pageName = "Prefs">Prefs</wo:ERIUILeftButton>
                <wo:ERIUIDialogButton title = "Search" string = "Search" dialogVisible = "$searchVisible">
                        <wo:form multipleSubmit = "$true" action = "$search">
                                <wo:ERIUIGoButton action = "$search" value = "Search"/>
                                <input type = "search" value = ""/>
                        </wo:form>
                </wo:ERIUIDialogButton>
	</wo:ERXWOTemplate>
	<wo:ERXWOTemplate templateName = "content">
		<ul>
		<wo:loop list="$performers" item="$performer">
			<li><wo:ERIUINextLink action = "$toPerformer"><wo:str value="$performer.name" /></wo:ERIUINextLink></li>
		</wo:loop>
		</ul>
	</wo:ERXWOTemplate>
</wo:ERIUIContainer>
