<webobject name=PageWrapper>
    <webobject name=Help></webobject>
    <webobject name=ListTable>
        <webobject name=ListNotEmpty>
            <webobject name=EditForm>
                <webobject name=HiddenField></webobject>
                <webobject name=ShouldShowMassChange>
                    <tr><td><webobject name=MassChangeRepetition></webobject></td></tr>
                    <tr height=2><td><webobject name=ClearChangesButton></webobject> <webobject name=PropagateButton></webobject> <webobject name=ShouldShowPropagateDebug><br><webobject name=PropagateDebug></webobject></webobject></td></tr>
                    <tr height=2><td><hr></td></tr>
                    <tr bgcolor=white height=2><td>&nbsp;</td></tr>
                </webobject>
                <webobject name=ShouldShowBanner>
					<tr height="">
						<td colspan=30 bgcolor=#EBEBEB>
							<webobject name=NavBar></webobject></td>
					</tr>
				</webobject>
                <TR>
                    <TD ALIGN=center COLSPAN=3><WEBOBJECT NAME=Errors></WEBOBJECT></TD>
                </TR>
                <tr>
					<td><webobject name=ListPageRepetition><WEBOBJECT NAME=ErrorsForEntity></WEBOBJECT></webobject></td>
				</tr>
				<tr>
					<td ALIGN=CENTER COLSPAN=2><webobject name=CancelActiveImage></webobject>&nbsp;<webobject name=UpdateActiveImage></webobject>&nbsp;<webobject name=SaveActiveImage></webobject></td>
				</tr>
			</webobject>
        </webobject>
        <webobject name=ListEmpty>
		    <tr>
				<td ALIGN=CENTER COLSPAN=2><webobject name=EmptyMessageComponent></webobject></td>
			</tr>
			<tr>
				<td ALIGN=CENTER><webobject name=HideReturnOnSelect>
						<webobject name=ShowCancel><webobject name=ReturnActiveImage></webobject></webobject>
					</webobject></td>
			</tr>
		</webobject>
    </webobject>
</webobject>
