<webobject name = "AjaxInPlace">
<webobject name = "AjaxInPlaceViewTemplate">
	<webobject name = "RelatedObjectDisplayValue"/> <webobject name = "DeleteRelatedObjectLink">x</webobject> <webobject name = "ClickToEdit">change</webobject> <webobject name = "CreateRelatedObjectLink">new</webobject>
</webobject>
<webobject name = "AjaxInPlaceEditTemplate">
	<webobject name = "AjaxUpdateContainer">
		<div class="InplaceCurrentValue">
		<span class="InplaceCurrentLabel"><webobject name = "Current"/>: </span>
		<webobject name = "RelatedObjectDisplayValue1"/>
		</div>
		<div class="InplaceSearchBar">
			<webobject name = "WOTextField"/> <webobject name = "AjaxSubmitButton"><span><webobject name = "Search"/></span></webobject>
		</div>
		<webobject name = "EmbeddedSearchResultsList"/>
		<ul class="ActionList InplaceActionList" style=>
			<li><webobject name = "AjaxFunctionLink"><span><webobject name = "Cancel"/></span></webobject></li> 
			<webobject name = "FoundObjectsCount"><li><webobject name = "AjaxSubmitButton1"><span><webobject name = "Select"/></span></webobject></li></webobject>
		</ul>
	</webobject>
</webobject>
</webobject>