<TR >
	<td BGCOLOR=#000000 colspan=3 width=20><table border=0 cellpadding=0 cellspacing=0 ><tr>
        <TD  BGCOLOR=#000000 WIDTH=10 ><WEBOBJECT NAME=ActiveImage4></WEBOBJECT></td>
        <TD  BGCOLOR=#000000 WIDTH=10 ><WEBOBJECT NAME=ActiveImage3></WEBOBJECT></TD>
        <TD  BGCOLOR=#000000 WIDTH=10 ><WEBOBJECT NAME=ActiveImage2></WEBOBJECT></td>
	</tr></table></td>
        <TD WIDTH=10 ><font size=2 face=arial,geneva><WEBOBJECT NAME=TextField1></WEBOBJECT></TD>
        <TD WIDTH=10 ><font size=2 face=arial,geneva><WEBOBJECT NAME=TextField2></WEBOBJECT></TD>
        <TD ALIGN=left WIDTH=10><FONT SIZE=2 FACE="arial,geneva"><WEBOBJECT NAME=TextField4></WEBOBJECT></TD><TD WIDTH=10 align=left><font size=2 face=arial,geneva><WEBOBJECT NAME=CheckBox3></WEBOBJECT></TD>
        <TD WIDTH=10 ><font size=2 face=arial,geneva><WEBOBJECT NAME=Conditional1><WEBOBJECT NAME=TextField3></WEBOBJECT></WEBOBJECT></TD>
        <TD WIDTH=10 align=left ><font size=2 face=arial,geneva><WEBOBJECT NAME=Conditional2><WEBOBJECT NAME=CheckBox1></WEBOBJECT></WEBOBJECT></font></TD>
	<TD bgcolor=#ffffff valign=center align=center ><WEBOBJECT NAME=toggle></WEBOBJECT></TD>
</TR>
<WEBOBJECT NAME=Conditional3>
<TR>	
        <TD ALIGN=left COLSPAN=10>
	<table border=0 >
        <tr>
			<td bgcolor= 999999 width=2>.</td>
			<td><font size=2 face=arial,geneva><WEBOBJECT NAME=Custom1>
                <TABLE>
		<tr><td colspan=9><WEBOBJECT NAME=add></WEBOBJECT></td></tr>
        <tr bgcolor=999999> 
                    <TD  colspan=3><font size=2 face=arial,geneva>Arrangement</td>
                    <TD width=10 ><font size=2 face=arial,geneva>Key&nbsp;Path</font></TD>
                    <TD width=10 ><font size=2 face=arial,geneva>Label</font></TD>
                    <TD width=10 ><font size=2 face=arial,geneva>Total</font></TD>
                    <TD width=10 ><font size=2 face=arial,geneva>Format</font></TD>
                    <TD width=10 ><font size=2 face=arial,geneva>Sort</font></TD>
                    <TD width=10><font size=2 face=arial,geneva>Nest</font></TD>		
         </tr>
                <WEBOBJECT NAME=Repetition1>
                                <WEBOBJECT NAME=Custom2></WEBOBJECT>
                </WEBOBJECT>
                </TABLE>
        </WEBOBJECT>
	</td></tr></table>
        </TD>
</TR>
<!-- <tr>
        <TD ALIGN=CENTER COLSPAN=10 BGCOLOR=#aaaaaa ><WEBOBJECT NAME=img></WEBOBJECT></td>
</tr> -->
</WEBOBJECT>
