<webobject name = "AjaxExampleComponent">
	<p>
	This demo shows a periodic updating component inside of another update component.  This presents a complication in that 
	refreshing the outer component will not automatically be able to stop the updater in the inner component, which will cause 
	refresh threads to pile up (eventually resulting in a backtrack exception as the ajax cache gets blown out).  The workaround
	for this (for right now, at least) is to call the "Stop" function for the periodic updating component when the update
	operation is done.
	</p>
	
	<div>
	<webobject name = "UpdateOuterLink">update outer</webobject>
	/
	<webobject name = "UpdateInnerLink">update inner</webobject>
	</div>
	
	<webobject name = "AjaxUpdateContainer">
		Content above = <webobject name = "Now"/>

		<webobject name = "AjaxUpdateContainer1">
			Auto update = <webobject name = "Now1"/>
		</webobject>
		
		Content below.
	</webobject>
</webobject>