<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <webobject name="Head">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    	<webobject name = "CSS" />
    </webobject>
    <body>
    
    <div id="c"><h1><span>DirectToWeb</span></h1></div>
    
    <div id="b">
      <webobject name="Header"></webobject><webobject name = "IsDebug"><webobject name="ERD2WDebugFlags"></webobject></webobject>
    </div>
    
    <div id="vertical_divider"></div>
    
	<div id="a">
      <webobject name="Content"></webobject>
    </div>
 
   </body>
</html>