<fieldset>
<webobject name = "Accordion">
	<webobject name = "Sections">
		<webobject name = "HasSectionName">
		<div class="accordion-toggle"><webobject name = "Section" /></div>
		</webobject>
		<webobject name = "AccordionContent">
		<ul class="properties">
		<webobject name = "AttributeRepetition">
		    <webobject name = "AttributeContainer">
		    <fieldset class="attribute"> 
		      <webobject name = "PropertyClass"><webobject name = "PropertyName" /><webobject name = "DebugPropertyName" /></webobject>
		      <webobject name = "ContentClass"><webobject name = "DebugComponentName" />
		      	<webobject name = "AttributeValue" />
		      </webobject>
		    </fieldset>
		    </webobject>
		</webobject>
		</ul>
		</webobject>
	</webobject>
</webobject>
</fieldset>