<svg style="fill-rule:nonzero;clip-rule:nonzero;stroke:none;stroke-miterlimit:4; font-family:'Myriad-Roman'; font-size:195.3435;">
    <text transform="matrix(0.9775 0 0 1 0 174.3291)"><webobject name=TextString></webobject></text>
    <text transform="matrix(0.9775 0 0 1 0 162.3291)" style="fill:none;stroke:#74BE1E;stroke-width:8;"><webobject name=TextString></webobject></text>
    <text transform="matrix(0.9775 0 0 1 8 174.3291)" style="fill:none;stroke:#FFE500;stroke-width:15;"><webobject name=TextString></webobject></text>
    <text transform="matrix(0.9775 0 0 1 7 163.3291)" style="fill:none;stroke:#881B7A;stroke-width:8;"><webobject name=TextString></webobject></text>
    <text transform="matrix(0.9775 0 0 1 3 171.3291)" style="fill:none;stroke:#FC7E42;stroke-width:15;"><webobject name=TextString></webobject></text>
    <text transform="matrix(0.9775 0 0 1 0 174.3291)" style="fill:none;stroke:#62C2C2;stroke-width:10;"><webobject name=TextString></webobject></text>
</svg>