<webobject name="TargetIsXML"><webobject name="List1" /></webobject>
<webobject name="TargetNotXML">
  <webobject name="CenterWrapper">
    <webobject name="HasEmptyList">
      <webobject name="HasEmptyListMessage">
        <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<webobject name="String1" />
        <br />
        <br />
      </webobject>
      <webobject name="NoEmptyListMessage">
        <webobject name="HasEmptyListComponent"><webobject name="EmptyListComponent" /></webobject>
      </webobject>
    </webobject>
    <webobject name="HasList">
      <webobject name="List1"><webobject name="Content2" /></webobject>
    </webobject>
  </webobject>
</webobject>