   <WEBOBJECT NAME=ListNotEmpty><WEBOBJECT NAME=ListTable><WEBOBJECT NAME=Conditional1><WEBOBJECT NAME=ListTableHeaderRow>
               <TH></TH>
               <WEBOBJECT NAME=ColumnLabelRepetition>
                  <TH NOWRAP VALIGN=bottom>
                     <TABLE>
                        <TR>
                           <TH><WEBOBJECT NAME=PropertyName></WEBOBJECT><BR><WEBOBJECT NAME=IsPropertySortable><WEBOBJECT NAME=AttributeSorter2></WEBOBJECT></WEBOBJECT></TH>
                           <TH></TH>
                        </TR>
                     </TABLE>
                  </TH>
               </WEBOBJECT>
               <TH></TH>
            </WEBOBJECT></WEBOBJECT><WEBOBJECT NAME=EntityRepetition><WEBOBJECT NAME=ListTableRow>
                  <TD>
                     <TABLE>
                        <TR>
                           <TD>
                              <WEBOBJECT NAME=IsSelecting>
                                 <WEBOBJECT NAME=SelectEO><WEBOBJECT NAME=SelectImage></WEBOBJECT></WEBOBJECT>
                              </WEBOBJECT>
                              <WEBOBJECT NAME=IsListing>
                                 <WEBOBJECT NAME=IsEntityWritable>
                                    <WEBOBJECT NAME=EditEO><WEBOBJECT NAME=EditImage></WEBOBJECT></WEBOBJECT>
                                 </WEBOBJECT>
                                 <WEBOBJECT NAME=IsEntityNotWritable>
                                    <WEBOBJECT NAME=InspectEO><WEBOBJECT NAME=InspectImage></WEBOBJECT></WEBOBJECT>
                                 </WEBOBJECT>
                              </WEBOBJECT>
                           </TD>
                           <TD> </TD>
                        </TR>
                     </TABLE>
                  </TD>
                  <WEBOBJECT NAME=AttributeRepetition>
                     <WEBOBJECT NAME=AttributeCell><FONT SIZE="-1">
                        <WEBOBJECT NAME=AttributeDisplay></WEBOBJECT>
                        </FONT></WEBOBJECT>
                  </WEBOBJECT>
                  <TD>
                     <WEBOBJECT NAME=IsListing2><WEBOBJECT NAME=IsEntityWritable2><WEBOBJECT NAME=ERTrashcan1></WEBOBJECT></WEBOBJECT></WEBOBJECT>
                  </TD>
               </WEBOBJECT>
               </WEBOBJECT></WEBOBJECT><BR>
         <WEBOBJECT NAME=HideReturnOnSelect1>
            <WEBOBJECT NAME=ShowCancel><WEBOBJECT NAME=BackLink><WEBOBJECT NAME=ReturnButton></WEBOBJECT></WEBOBJECT></WEBOBJECT>
         </WEBOBJECT></WEBOBJECT><WEBOBJECT NAME=ListEmpty><WEBOBJECT NAME=EmptyMessageComponent></WEBOBJECT></WEBOBJECT>
