{
    attributes = (
        {allowsNull = N; name = id; prototypeName = id; }, 
        {allowsNull = N; columnName = name; name = name; prototypeName = varchar100; }
    ); 
    attributesUsedForLocking = (id, name); 
    className = "er.ajax.example.Company"; 
    classProperties = (employees, name); 
    externalName = Company; 
    fetchSpecificationDictionary = {}; 
    name = Company; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            destination = Employee; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = companyID; sourceAttribute = id; }); 
            name = employees; 
        }
    ); 
}
