{
    attributes = (
        {
            columnName = MOVIE_ID; 
            externalType = long; 
            name = movieID; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = NUMBER_OF_VOTES; 
            externalType = long; 
            name = numberOfVotes; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = RUNNING_AVERAGE; 
            externalType = float; 
            name = runningAverage; 
            precision = 9; 
            scale = 2; 
            valueClassName = NSNumber; 
            valueType = d; 
        }
    ); 
    attributesUsedForLocking = (movieID, numberOfVotes); 
    className = demo.eo.Voting; 
    classProperties = (numberOfVotes, movie, runningAverage); 
    externalName = VOTING; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {
        _clientClassPropertyNames = (numberOfVotes, movie, runningAverage); 
        _javaClientClassName = businesslogic.client.Voting; 
    }; 
    name = Voting; 
    primaryKeyAttributes = (movieID); 
    relationships = (
        {
            destination = Movie; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = movieID; sourceAttribute = movieID; }); 
            name = movie; 
        }
    ); 
}
