<WEBOBJECT NAME=PageWrapper>
    <webobject name="Help"></webobject>
    <CENTER>
        
        <webobject name="HasAbovePropertyKeysConditional">
        <webobject name="AbovePropertyKeysRepetition">
            <webobject name="PropertyKeySwitchComponent"></webobject>
        </webobject>
        </webobject>
        
      <WEBOBJECT NAME=InspectTable>
         <TR>
            <TD><WEBOBJECT NAME=Banner></WEBOBJECT></TD><TD></TD>
         </TR>
         <WEBOBJECT NAME=HeaderRow>
            <TD ALIGN=left COLSPAN=3><FONT COLOR=#ffffff><B><WEBOBJECT NAME=AttributeName></WEBOBJECT>(s)</B></FONT></TD>
            <TD HEIGHT=10></TD>
         </WEBOBJECT>
         <TR>
            <WEBOBJECT NAME=IsToMany>
               <TD ALIGN=center>
                  <WEBOBJECT NAME=ToManyForm>
                     <TABLE>
                        <TR>
                           <TD VALIGN=middle><FONT SIZE=-1><STRONG><WEBOBJECT NAME=NumberOfEntities></WEBOBJECT>
                              <WEBOBJECT NAME=EntityName></WEBOBJECT>(s)</STRONG></FONT></TD>
                           <TD><WEBOBJECT NAME=AttributeValue></WEBOBJECT></TD>
                           <TD VALIGN=middle><P><webobject name="ShouldAllowEditingConditional"><WEBOBJECT NAME=ActiveImage2></WEBOBJECT></webobject></P><WEBOBJECT NAME=RemoveButton></WEBOBJECT></TD>
                        </TR>
                     </TABLE>
                  </WEBOBJECT>
               </TD>
            </WEBOBJECT>
            <WEBOBJECT NAME=IsToOne>
               <TD VALIGN=middle ALIGN=center><WEBOBJECT NAME=ToOneValue></WEBOBJECT></TD>
               <TD VALIGN=middle ALIGN=center><WEBOBJECT NAME=ToOneForm><WEBOBJECT NAME=RemoveToOneButton></WEBOBJECT>
                  </WEBOBJECT></TD>
            </WEBOBJECT>
         </TR>
         <TR>
            <TD>&nbsp;</TD>
         </TR>
         <TR>
            <TD COLSPAN=3 ALIGN=center>
               <WEBOBJECT NAME=ReturnLink><WEBOBJECT NAME=ReturnButton></WEBOBJECT></WEBOBJECT>
               <WEBOBJECT NAME=QueryLink><WEBOBJECT NAME=QueryButton></WEBOBJECT></WEBOBJECT>
               <WEBOBJECT NAME=IsEntityWritable><WEBOBJECT NAME=NewLink><WEBOBJECT NAME=NewButton></WEBOBJECT></WEBOBJECT></WEBOBJECT>
            </TD>
         </TR>
      </WEBOBJECT>
      <WEBOBJECT NAME=DisplayQuery>
         <WEBOBJECT NAME=QueryComponent></WEBOBJECT>
      </WEBOBJECT>
      <WEBOBJECT NAME=DisplayList>
         <WEBOBJECT NAME=ListComponent></WEBOBJECT>
      </WEBOBJECT>
      <WEBOBJECT NAME=DisplayNew>
         <WEBOBJECT NAME=InspectComponent></WEBOBJECT>
      </WEBOBJECT>
      
      <webobject name="HasBelowPropertyKeysConditional">
      <webobject name="BelowPropertyKeysRepetition">
          <webobject name="PropertyKeySwitchComponent"></webobject>
      </webobject>
      </webobject>
      
   </CENTER>
</WEBOBJECT>