div.personInfo {
	padding: 1em;
	border: 3px solid rgb(220, 220, 220);
	background-color: rgb(240, 240, 240);
	-webkit-border-radius: 1em;
	margin-bottom: 1em;
}

h1 {
	margin-bottom: 0.1em;
	margin-top: 0em;
}

h1 img {
	margin-right: 8px;
	border: 1px solid rgb(180, 180, 180);
}

div.profile {
	margin-left: 62px;
}

div.profile > a {
	text-decoration: none;
	vertical-align: top;
	color: rgb(140, 140, 140);
}

div.profile > a img {
	border: none;
}

div.profile dl {
	margin-left: 19px;
}

div.profile dt {
	text-transform: lowercase;
	color: rgb(140, 140, 140);
}

div.profile dd {
	margin-bottom: 0.75em;
}

a#profile2Link {
	background-image: url(../img/triangleRight.gif);
	background-repeat: no-repeat;
	padding-left: 20px;
	margin-left: 62px;
	color: rgb(140, 140, 140);
	text-decoration: none;
}

a#profile2Link.expanded {
	background-image: url(../img/triangleDown.gif);
}