<webobject name = "PageWrapper">
	
  <webobject name = "Help" />
  
  <webobject name = "EditingForm">
    <webobject name = "HeaderContainer"><span>Edit</span></webobject>
    <h2 class="entity"><webobject name = "EntityName" /></h2>

	<webobject name="IsNotTab"><webobject name=InspectPageRepetition /></webobject>
	<webobject name="IsTab"><webobject name=TabPanel><webobject name=InspectPageRepetition1 /></webobject></webobject>
    
    <fieldset class="button">
    <ul>
        <li><webobject name = "SubmitButton6" /></li>
        <webobject name="NotModal"><li><webobject name = "SubmitChanges" /></li></webobject>
        <webobject name="Modal"><li><webobject name = "SubmitChanges1" /></li></webobject>
   </ul>
   </fieldset>
      
  </webobject>
   
  <webobject name = "NoConfirmation"><webobject name = "Errors" /></webobject>
  
  	<webobject name = "ShowConfirmation">
		<div id="confirmation_panel" style="display: none;"><webobject name = "ConfirmInspectPanel" /></div><webobject name = "DialogOnLoad" />
	</webobject>
  
</webobject>