<webobject name=Span><WEBOBJECT NAME=TextArea></WEBOBJECT></WEBOBJECT>
<WEBOBJECT NAME=OncePerRequest><div style="position:absolute;top:00px;left:500px;color=#ff00ff;width=500px;height=200px;" id="debug"><WEBOBJECT NAME=Script></WEBOBJECT><webobject name=Image1></WEBOBJECT><webobject name=Image2></WEBOBJECT><webobject name=Image3></WEBOBJECT><webobject name=Image4></WEBOBJECT><webobject name=Image5></WEBOBJECT><webobject name=Image6></WEBOBJECT></div></WEBOBJECT>
<script language="JavaScript1.2">dhtmlMake("<WEBOBJECT NAME=FormName></WEBOBJECT>","<WEBOBJECT NAME=VarName></WEBOBJECT>","<WEBOBJECT NAME=BaseUrl></WEBOBJECT>",1);
</script>
