## (required) the name of the openID success page (should implement IEROResponsePage)
# er.openid.successPageName=

## (required) the name of the openID failure page (should implement IEROResponsePage)
# er.openid.failurePageName=

## (optional) the host name to use as a proxy (if necessary)
# er.openid.proxyHostName=

## (optional) the port to use as a proxy (if necessary)
# er.openid.proxyPort=

## (optional) the name of the form redirection page to go to (defaults to EROFormRedirectionPage, should implement IEROFormRedirectionPage)
# er.openid.formRedirectionPageName=EROFormRedirectionPage