    <webobject name=HasValidSession>
<div class="MenuHeader">
     	<div class="TopRow">
        </div>
        <div class="MenuRow">
        </div>
 </div>
           <div class="Greeting">Hi <webobject name=user></webobject>, welcome to
                <webobject name="databaseName"></webobject> (<font size=-2>This is <webobject name=Main>not me</webobject></font>)
            </div>
	<webobject name="Menu"></webobject>
            <div class="FindBug">
            <webobject name=findBugByNumber>Bug# <webobject name=bugNumber></webobject> <webobject name=freeQuery>Free Query</webobject></webobject>
            </div>
            	<div class="QuickSearch">
            	<webobject name = "QuickSearch"></webobject>
            	</div>
    </webobject>
    <webobject name=NoValidSession></webobject>
    