<html>
	<head>
		<title><WEBOBJECT NAME=String3></WEBOBJECT></title>
	</head>
	<body bgcolor=white>
		<WEBOBJECT NAME=Form1><WEBOBJECT NAME=Conditional1>
				<TABLE BORDER=1 WIDTH=100%>
					<TR BGCOLOR=#ff4952>
						<TD><FONT COLOR=#ffffff><WEBOBJECT NAME=String2></WEBOBJECT></FONT></TD>
					</TR>
				</TABLE>
			</WEBOBJECT>
			<TABLE BORDER=0 BGCOLOR=#efefef>
				<TR>
					<TD VALIGN=TOP><WEBOBJECT NAME=Text1></WEBOBJECT>
						<TABLE CELLSPACING=2 CELLPADDING=0 BORDER=0 WIDTH=100%>
							<TR>
								<TD WIDTH=20%>Prio</TD>
								<TD><WEBOBJECT NAME=TextField3></WEBOBJECT></TD>
							</TR>
							<TR>
								<TD>Key</TD>
								<TD><WEBOBJECT NAME=TextField4></WEBOBJECT></TD>
							</TR>
							<TR>
								<TD>Class:</TD>
								<TD><WEBOBJECT NAME=PopUpButton2></WEBOBJECT></TD>
							</TR>
							<TR>
								<TD COLSPAN=2>
									<P>Comment:</P>
									<WEBOBJECT NAME=Text3></WEBOBJECT></TD>
							</TR>
							<TR>
								<TD>&nbsp;</TD>
								<TD><WEBOBJECT NAME=SubmitButton2></WEBOBJECT><WEBOBJECT NAME=SubmitButton5></WEBOBJECT></TD>
							</TR>
						</TABLE>
						<P></P>
					</TD>
					<TD VALIGN=TOP><WEBOBJECT NAME=Text2></WEBOBJECT></TD>
				</TR>
			</TABLE>
		</WEBOBJECT>
		<PRE><WEBOBJECT NAME=Conditional2><TT><WEBOBJECT NAME=String8></WEBOBJECT></TT><WEBOBJECT NAME=editor></WEBOBJECT><WEBOBJECT NAME=String7></WEBOBJECT></WEBOBJECT></PRE>
		<WEBOBJECT NAME=Hyperlink1>Main</WEBOBJECT>
		<hr/>
		<TABLE BORDER=0 WIDTH=100%>
			<TR>
				<TD><WEBOBJECT NAME=Form3>Find String:<WEBOBJECT NAME=TextField2></WEBOBJECT></WEBOBJECT></TD>
				<TD><WEBOBJECT NAME=Form2>Find Key:<WEBOBJECT NAME=PopUpButton1></WEBOBJECT></WEBOBJECT></TD>
				<TD><WEBOBJECT NAME=Form4>Find Pc:<WEBOBJECT NAME=PopUpButton3></WEBOBJECT></WEBOBJECT></TD>
			</TR>
		</TABLE>
		<hr/>
		<WEBOBJECT NAME=ERXBatchNavigationBar1></WEBOBJECT>
		<TABLE BORDER=0 WIDTH=100%>
			<TR>
				<TD WIDTH=60>&nbsp;</TD>
				<TH ALIGN=LEFT WIDTH=40>Prio
					<br/>
					<WEBOBJECT NAME=ERXSortOrder1></WEBOBJECT></TH>
				<TH ALIGN=LEFT WIDTH=100>Key
					<br/>
					<WEBOBJECT NAME=ERXSortOrder3></WEBOBJECT></TH>
				<TH ALIGN=LEFT>Value
					<br/>
					<WEBOBJECT NAME=ERXSortOrder4></WEBOBJECT></TH>
			</TR>
			<WEBOBJECT NAME=Repetition1>
				<TR>
					<TD rowspan=2 valign=top><WEBOBJECT NAME=SelectRule2>&gt;&gt;</WEBOBJECT><WEBOBJECT NAME=Hyperlink4>[+]</WEBOBJECT><WEBOBJECT NAME=Hyperlink5>[-]</WEBOBJECT></TD>
					<TD colspan=3><WEBOBJECT NAME=currentLhs></WEBOBJECT></TD>
				</TR>
				<TR BGCOLOR=#e1e1e1>
					<TD><WEBOBJECT NAME=currentAuthor></WEBOBJECT></TD>
					<TD><WEBOBJECT NAME=currentKey></WEBOBJECT></TD>
					<TD><WEBOBJECT NAME=currentValue></WEBOBJECT></TD>
				</TR>
				<TR><TD colspan=4><hr NOSHADE SIZE="1" /></td></tr>
			</WEBOBJECT>
		</TABLE>
	</body>
</html>