<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <webobject name="Head">
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <webobject name=ERXStyleSheet></webobject>
    </webobject>
    <webobject name="HasUser">
    <webobject name = "Body">
        <table class="ContentTable">
            <tr>
                <td class="HeaderRow"><webobject name=Header></webobject></td>
            </tr>
            <tr>
                <td class="ContentRow">
                    <webobject name=Content></webobject>
					<webobject name = "IsDebug"><webobject name="ERD2WDebugFlags"></webobject></webobject>
                </td>
            </tr>
        </table>
    </webobject>
<script>
function handleOnChange(e) {
    while(e.parentNode && e.className != "PropertyCell") {
    	e = e.parentNode;
    }
    if(e) {
    	e.style.backgroundColor = "#ffeecc";
    }
    return true;
 }
</script>
<webobject name = "Behaviours">{
 	".QueryRepetitionTable .Section" : function(element) {
         element.onclick = function() {
                var e = this.parentNode.nextSibling;
                while(e.nextSibling && e.className != "Divider") {
                	if(e.style) {
                		if(e.style.display == "none") {
                			e.style.display = undefined;
                		} else {
                			e.style.display = "none";
                 		}
                 	}
                 	e = e.nextSibling;
                }
                return true;
         }
    },
 	".InspectRepetitionTable INPUT" : function(element) {
         element.onchange = function() {
         	handleOnChange(element);
        }
    },
 	".InspectRepetitionTable SELECT" : function(element) {
         element.onchange = function() {
         	handleOnChange(element);
         }
    },
 	".InspectRepetitionTable TEXTAREA" : function(element) {
         element.onchange = function() {
         	handleOnChange(element);
         }
    }
}
</webobject>
    <webobject name = "HelpTexts"></webobject>
</webobject>
<webobject name="HasNoUser">
<webobject name = "LoginPanel"></webobject>
</webobject>
    
</html>