<webobject name = "NavPage">
<div class="Box ApplicationsListBox">
<h2 class="SectionHeading">Applications</h2>
<table>
  <tr>
    <th>Application</th>
    <th>Instances Running</th>
    <th>Instances Configured</th>
    <th>View Instances</th>
    <th>Configuration</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  <webobject name = "ApplicationsRepetition">
    <tr class="application">
      <td class="applicationName">
        <webobject name = "AppIsRunning">
          <webobject name = "ApplicationNameLink" />
        </webobject>
        <webobject name = "AppIsNOTRunning">
          <webobject name = "ApplicationName" />
        </webobject>
      </td>
      <td class="RunningInstanceCount"><webobject name = "RunningInstancesCount" /></td>
      <td class="ConfiguredInstanceCount"><webobject name = "ConfiguredInstanceCount" /></td>
      <td><webobject name = "AppDetailsLink"><span>View Details</span></webobject></td>
      <td><webobject name = "ConfigureLink"><span>Configure</span></webobject></td>
      <td><webobject name = "DeleteLink"><span>Delete</span></webobject></td>
      <td><webobject name = "BounceLink"><span>Bounce</span></webobject></td>
    </tr>
  </webobject>
  <tr class="Totals">
      <td class="applicationName">Totals</td>
      <td class="RunningInstanceCount"><webobject name = "TotalsRunningInstanceCount"></webobject></td>
      <td class="ConfiguredInstanceCount"><webobject name = "TotalsConfiguredInstanceCount"></webobject></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
  </tr>
</table>
</div>
<div class="Box AddApplicationBox">
<webobject name = "AddApplicationForm">
  Add Application Named:
  <webobject name = "ApplicationNameTextField" />
  <webobject name = "AddApplicationSubmitButton" />
</webobject>
<div class="Notes">
	<h4>Notes:</h4>
	<ul>
		<li>Application names may only contain alpha-numeric or '-'.</li>
    	<li>Application names do not need to match the Application executable's filename.</li>
    	<li>Application names are used by the adaptor for load-balancing.</li>
    </ul>
</div>
</div>
</webobject>