<WEBOBJECT name= Custom1 >

<WEBOBJECT name=editForm>
	<WEBOBJECT NAME=Conditional1>
		<font size=2 face=arial,geneva><WEBOBJECT name= attListEd ></WEBOBJECT></font>
	</WEBOBJECT>
</WEBOBJECT>

<WEBOBJECT name=editForm2>
<table border=0 cellpadding=1 cellspacing=1 bgcolor= cccccc >
	<tr>
		<td>
			<table>
				<tr bgcolor=999999 >
					<td><font size=2 face=arial,geneva>Edit&nbsp;MasterCriteria&nbsp;<WEBOBJECT name=addMC></WEBOBJECT>
					</td>
				</tr>
				<WEBOBJECT name=crits>
				<tr bgcolor=999999 >
					<td>
						<WEBOBJECT name=deleteMC ></WEBOBJECT>&nbsp;<font size=2 face=arial,geneva><WEBOBJECT name=labelMC ></WEBOBJECT>
					</td>
				</tr>
				<tr>
					<td>
						<WEBOBJECT name=mcEditor ></WEBOBJECT>
					</td>
				</tr>
				</WEBOBJECT>
			</table>	
		</td>
	</tr>
	<tr>
		<td>
			<font size=2 face=arial,geneva><WEBOBJECT name=sub2></WEBOBJECT></font>

		</td>
	</tr>
</table>
</WEBOBJECT>
</webobject>