<webobject name = "NavPage">
  <h1>Hosts</h1>
  <span class = "error">
    <webobject name = "ErrorMsg" />
  </span>
  <table border = "1" cellpadding = "4" cellspacing = "1" bgcolor = "#E0F0F0">
    <tr bgcolor = "#C0D0D0">
      <th>Host name</th>
      <th>Available*</th>
      <th>Host Type</th>
      <th>Running Instances</th>
      <th>Processor Description</th>
      <th>OS / Platform</th>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <webobject name = "HostsRepetition">
      <tr>
        <td>
               <webobject name = "HostName" /> /
             <webobject name = "HostAddress" />
        </td>
        <td>
          <webobject name = "HostIsAvailable">
              <b>
                <webobject name = "wotaskdLink">YES</webobject>
              </b>
          </webobject>
          <webobject name = "HostIsNOTAvailable">
            <font color = "red">
              <b>NO</b>
            </font>
          </webobject>
        </td>
        <td>
          <webobject name = "HostType" />
        </td>
        <td>
          <webobject name = "InstanceCount" />
        </td>
        <td>
          <webobject name = "ProcessorDescription" />
        </td>
        <td>
          <webobject name = "HostOSName" />
        </td>
        <td>
          <webobject name = "ConfigureHostLink">
            <webobject name = "ConfigureButton" />
          </webobject>
        </td>
        <td>
          <webobject name = "RemoveHostLink">
            <webobject name = "DeleteButton" />
          </webobject>
        </td>
      </tr>
    </webobject>
  </table>
  <br></br>
  <br></br>
  <hr></hr>
  <br></br>
  <br></br>
  <webobject name = "AddHostForm">
    <webobject name = "AddHostSubmitButton" />
    :
    <webobject name = "HostNameTextField" />
    of type:
    <webobject name = "PopUpButton1" />
    <br />
    <br />
    Hosts may be added as either hostnames or IP addresses**
  </webobject>
  <br></br>
  <p>
    *
    <font size = "-1">
      A host is available if it is running the
      <b>wotaskd</b>
      service/daemon.
    </font>
    <br />
    **
    <font size = "-1">
      If "localhost" or "127.0.0.1" is a host, it must be the
      <b>only</b>
      host.
    </font>
  </p>
</webobject>