(
    actions,
    allowCollapsing,
    allowsFiltering,
    alternateRowColor,
    backgroundColorForPage,
    backgroundColorForTable,
    bannerFileName,
    batchNavigationBarComponentName,
    batchSize,
    bold,
    border,
    branchChoices,
    browserSize,
    cancelMessage,
    choiceDisplayKey,
    choicesNames,
    colSpan,
    color,
    colorForLine,
    columnCount,
    componentAvailable,
    componentBorder,
    componentName,
    componentsToShowAtEndOfList,
    confirmConfigurationName,
    confirmDeleteConfigurationName,
    confirmMessageExplanation,
    confirmMessageIsTextfield,
    confirmMessageKey,
    confirmMessageManditory,
    confirmMessageManditoryErrorMessage,
    confirmMessageTextfieldMaxlength,
    confirmMessageTextfieldSize,
    confirmRows,
    createButtonComponentName,
    createConfigurationName,
    customComponentName,
    defaultActions,
    defaultBatchSize,
    defaultRestrictedRelationshipKey,
    defaultSortOrdering,
    destinationEntity,
    destinationEntityName,
    disabled,
    displayNameForConfirmDeleteConfiguration,
    displayNameForCreateConfiguration,
    displayNameForDestinationEntity,
    displayNameForEditConfiguration,
    displayNameForEntity,
    displayNameForInspectConfiguration,
    displayNameForKeyPath,
    displayNameForPageConfiguration,
    displayNameForProperty,
    displayNameForSectionKey,
    displayNameForTabKey,
    displayPropertyKeys,
    displayPropertyKeys.count,
    displayValueForNull,
    dummyEntity,
    dynamicPage,
    editConfigurationName,
    editEmbeddedConfigurationName,
    editIcon,
    editRelationshipConfigurationName,
    editTwoLevelComponentName,
    embeddedEntityName,
    embeddedPageConfiguration,
    emptyArrayDisplayString,
    emptyListComponentName,
    emptyListMessage,
    entity,
    entity.name,
    entityForControllerName,
    entityForPageConfiguration,
    escapeHTML,
    explanationComponentName,
    explanationConfigurationName,
    explanationString,
    fetchLimit,
    flushPropertyValue,
    footerComponentName,
    forcedSubTask,
    formEncoding,
    formatter,
    framesActive,
    framework,
    goingVertically,
    groupingComponentName,
    groupingKey,
    groupingOrderKey,
    hasCSVVersion,
    hasForm,
    hasPrinterFriendlyVersion,
    hasThirdLevel,
    headerComponentName,
    hidePropertyName,
    imageHeight,
    imageMimeType,
    imageWidth,
    indefiniteArticleForProperty,
    indexKey,
    innerComponentName,
    inspectComponentName,
    inspectConfigurationName,
    inspectEmbeddedConfigurationName,
    inspectIcon,
    isDeep,
    isEmbeddedInForm,
    isEntityDeletable,
    isEntityEditable,
    isEntityInspectable,
    isEntityPrintable,
    isMandatory,
    italic,
    itemWidth,
    justification,
    keyWhenGrouping,
    keyWhenRelationship,
    length,
    listConfigurationName,
    listEmbeddedConfigurationName,
    localizeDisplayKeys,
    mainTableHeight,
    massModificationPageConfiguration,
    matrixLayoutVertical,
    maxColumns,
    maxLength,
    maxValue,
    minValue,
    nextButtonName,
    noChoiceAvailableMessage,
    noSelectionString,
    nonSelectedTabBgColor,
    nullValueDisplay,
    numCols,
    object,
    objectUnsetMessage,
    offset,
    pageAvailable,
    pageConfiguration,
    pageConfigurationForFiltering,
    pageName,
    pageWrapperName,
    parentPageConfiguration,
    passwordConfirmationValidates,
    permissionToEdit,
    pickButtonLabel,
    popupName,
    possibleChoices,
    previousButtonName,
    propertyIsSortable,
    propertyKey,
    propertyNameComponentName,
    queryConfigurationName,
    readOnly,
    readOnlyEntityNames,
    refreshRefetchedObjects,
    relationship.isMandatory,
    renderBorder,
    repetitionComponentName,
    requiresEntity,
    resolvedUnit,
    restrictedRelationshipKey,
    restrictingDestinationDisplayKey,
    restrictingRelationshipKey,
    restrictingRelationshipSortKey,
    restrictingSecondarySortKey,
    rowSpan,
    rows,
    saveButtonLabel,
    sectionComponentName,
    sectionHelp,
    sectionImageName,
    selectButtonFileName,
    selectionManditory,
    shouldCollectValidationExceptions,
    shouldProvideConfirmMessage,
    shouldRenderBorder,
    shouldRevertChanges,
    shouldSaveChanges,
    shouldSetFailedValidationValue,
    shouldShowActionButtons,
    shouldShowCancelButton,
    shouldShowNextButton,
    shouldShowPreviousButton,
    shouldShowReturnButton,
    shouldShowSubmitButton,
    shouldShowUnits,
    shouldValidateBeforeSave,
    showActions,
    showBanner,
    showEditButton,
    showHeader,
    showIndex,
    showListInSamePage,
    showPublicNavigation,
    singleSelection,
    size,
    smartAttribute,
    smartDefaultAttributeWidth,
    smartDefaultRows,
    smartRelationship,
    sortCaseInsensitive,
    sortKey,
    sortKeyForList,
    sortOrderAttributeName,
    startupEntityName,
    startupTask,
    styleSheetFrameworkName,
    subTask,
    submitButtonName,
    tabComponentName,
    tabContents,
    tabKey,
    tabName,
    tableWidth,
    tabs,
    target,
    targetOutput,
    task,
    taskVerb,
    templateNameForCSVGroupingListPage,
    templateNameForCSVListPage,
    templateNameForCompactInspectPage,
    templateNameForCompactListPage,
    templateNameForConfirmPage,
    templateNameForEditRelationshipPage,
    templateNameForEditableList,
    templateNameForErrorPage,
    templateNameForGroupingListPage,
    templateNameForGroupingListXMLPage,
    templateNameForGroupingPrinterFriendlyListPage,
    templateNameForInspectPage,
    templateNameForListCalendarPage,
    templateNameForListComparePage,
    templateNameForListPage,
    templateNameForListXMLPage,
    templateNameForMessagePage,
    templateNameForPickListPage,
    templateNameForPickTypePage,
    templateNameForPrinterFriendlyInspectPage,
    templateNameForPrinterFriendlyList,
    templateNameForProgressPage,
    templateNameForQueryAllPage,
    templateNameForQueryPage,
    templateNameForQueryPageWithFetchSpecification,
    templateNameForTabInspectPage,
    templateNameForWizardCreationPage,
    textColor,
    threshold,
    title,
    toManyUIStyle,
    toOneUIStyle,
    totallingKeys,
    uiStyle,
    uniqueID,
    upperIndefiniteArticleForProperty,
    useFocus,
    useHorizontalLayoutTables,
    useMatrixLayout,
    useSubmitImages,
    useTabImages,
    useTabSectionImages,
    useTableLayout,
    usesDistinct,
    valueWhenEmpty,
    visibleEntityNames,
    webAssistantPageName,
    width,
    wrap,
    yearRangeBottom,
    yearRangeTop
)