(
    "######;0;-######", 
    "###,###.##;0;-###,###.##", 
    "###,##0.##;0;-###,###.##", 
    "##.###;0;-##.###", 
    "#,##0.00", 
    "#000000", 
    "#336699", 
    "#CCffCC", 
    "#CCFFFF", 
    "#D0D0FF", 
    "#e5e5e5", 
    "#ebebeb", 
    "#eeeeee", 
    "#f5d300", 
    "#FFA0A0", 
    "#FFCC99", 
    "#FFFFFF", 
    "$#,##0.00;-$#,##0.00", 
    "%b %d,%Y", 
    "&nbsp;", 
    "- none -", 
    "<added because of a bug in dependentKeys>", 
    "<ERDDefaultActionAssignment>", 
    "<ERDDefaultConfigurationNameAssignment>", 
    "<ERDDefaultDisplayNameAssignment>", 
    "<ERDDefaultModelAssignment>", 
    "<ERDImageNameAssignment>", 
    "<ERDSortedManyToManyAssignment>", 
    "<ERDTabDictionaryComputer>", 
    "<ERDUnitResolverAssignment>", 
    "add-sm-btn.gif", 
    app, 
    BASConfirmPage, 
    BASEditRelationshipPage, 
    BASErrorPage, 
    BASInspectPage, 
    BASListPage, 
    BASMasterDetailPage, 
    BASPlainListPage, 
    BASQueryAllEntitiesPage, 
    BASQueryPage, 
    "bino-btn.gif", 
    "ButtonSmallAdd.gif", 
    "ButtonSmallEdit.gif", 
    "ButtonSmallInspect.gif", 
    "ButtonSmallSelect.gif", 
    calendar, 
    center, 
    "choose-ban.gif", 
    "ChooseMetalBan.gif", 
    compact, 
    compare, 
    confirm, 
    D2WCompactInspectComponent, 
    D2WCustomComponent, 
    D2WCustomQueryComponent, 
    D2WDefaultCustomComponent, 
    D2WDisplayBoolean, 
    D2WDisplayDate, 
    D2WDisplayHyperlink, 
    D2WDisplayImage, 
    D2WDisplayImageFromPath, 
    D2WDisplayLargeString, 
    D2WDisplayMailTo, 
    D2WDisplayNumber, 
    D2WDisplayString, 
    D2WDisplayStyledDate, 
    D2WDisplayStyledNumber, 
    D2WDisplayStyledString, 
    D2WDisplayThresholdColoredNumber, 
    D2WDisplayToMany, 
    D2WDisplayToMany2, 
    D2WDisplayToManyBrowser, 
    D2WDisplayToManyFault, 
    D2WDisplayToManyTable, 
    D2WDisplayToOne, 
    D2WDisplayToOneFault, 
    D2WEditBoolean, 
    D2WEditDate, 
    D2WEditLargeString, 
    D2WEditNumber, 
    D2WEditString, 
    D2WEditToManyFault, 
    D2WEditToManyRelationship, 
    D2WEditToOneFault, 
    D2WEditToOneRelationship, 
    D2WEditUneditable, 
    D2WEmptyWrapper, 
    D2WGenerationWrapper, 
    D2WKeyPathContainer, 
    D2WQueryAnyField, 
    D2WQueryBoolean, 
    D2WQueryDateOperator, 
    D2WQueryDateRange, 
    D2WQueryNumberOperator, 
    D2WQueryNumberRange, 
    D2WQueryStringComponent, 
    D2WQueryStringOperator, 
    D2WQueryToManyField, 
    D2WQueryToManyRelationship, 
    D2WQueryToOneField, 
    D2WQueryToOneRelationship, 
    D2WQueryUnavailable, 
    D2WWebAssistantPage, 
    defaultActions, 
    defaultDisplayNameForProperty, 
    defaultPropertyKeysFromEntity, 
    defaultPropertyKeysFromEntityWithoutRelationships, 
    "destinationEntity.name", 
    "Don't care", 
    edit, 
    "edit editRelationship inspect list query select ", 
    "edit-ban.gif", 
    editEmbeddedConfigurationName, 
    "EditMetalBan.gif", 
    editRelationship, 
    entityForPageConfiguration, 
    "ERD2W.cancelCreationMessage", 
    "ERD2W.pickButtonLabel", 
    ERD2WCalendarPageTemplate, 
    ERD2WCompactInspectPageTemplate, 
    ERD2WCompactListPageTemplate, 
    ERD2WConfirmPageTemplate, 
    ERD2WCSVGroupingListPageTemplate, 
    ERD2WCSVListPageTemplate, 
    ERD2WCustomComponentWithArgs, 
    ERD2WCustomDisplayBoolean, 
    ERD2WDisplayDateOrNull, 
    ERD2WDisplayNumberWithUnit, 
    ERD2WDisplayString, 
    ERD2WDisplayToManyTable, 
    ERD2WDisplayToOne, 
    ERD2WDisplayURL, 
    ERD2WDisplayYesNo, 
    ERD2WEditableListTemplate, 
    ERD2WEditLargeString, 
    ERD2WEditNumber, 
    ERD2WEditNumberWithUnit, 
    ERD2WEditRelationshipTemplate, 
    ERD2WEditSortedToManyFault, 
    ERD2WEditString, 
    ERD2WEditToManyRelationship, 
    ERD2WEditToOneRelationship, 
    ERD2WEditURL, 
    ERD2WEditYesNo, 
    ERD2WGroupingListPageTemplate, 
    ERD2WGroupingListXMLPageTemplate, 
    ERD2WGroupingPickListPageTemplate, 
    ERD2WGroupingPrinterFriendlyListPageTemplate, 
    ERD2WInspectPageTemplate, 
    ERD2WListComparePageTemplate, 
    ERD2WListPageTemplate, 
    ERD2WListXMLPageTemplate, 
    ERD2WMessagePageTemplate, 
    ERD2WPickListPageTemplate, 
    ERD2WPickTypePageTemplate, 
    ERD2WPrinterFriendlyInspectPageTemplate, 
    ERD2WPrinterFriendlyListTemplate, 
    ERD2WProgressPageTemplate, 
    ERD2WPropertyName, 
    ERD2WQueryDateRange, 
    ERD2WQueryEntitiesPageTemplate, 
    ERD2WQueryNumberRange, 
    ERD2WQueryPageTemplate, 
    ERD2WQueryStringOperator, 
    ERD2WQueryToManyField, 
    ERD2WQueryToOneField, 
    ERD2WQueryToOneRelationship, 
    ERD2WStatelessCustomComponentWithArgs, 
    ERD2WTabInspectPageTemplate, 
    ERD2WWizardCreationPageTemplate, 
    ERD2WXMLDisplayNumber, 
    ERD2WXMLDisplayString, 
    ERD2WXMLDisplayToMany, 
    ERDDefaultCustomComponent, 
    ERDDefaultSectionComponent, 
    ERDDefaultSectionComponentCSV, 
    ERDDefaultSectionComponentPrinterFriendly, 
    ERDDeleteButton, 
    ERDDisplayMailTo, 
    ERDDisplayYearsMonths, 
    ERDEditButton, 
    ERDEditDateJavascript, 
    ERDEditDatePopup, 
    ERDEditDatePopupOrNull, 
    ERDEditPassword, 
    ERDEditPasswordConfirm, 
    ERDEditPasswordConfirmation, 
    ERDEmptyListMessage, 
    "ERDEmptyListMessage.emptyEmbeddedListMessage", 
    "ERDEmptyListMessage.emptyListMessage", 
    ERDGroupingListPageRepetition, 
    "ERDInspect.objectUnsetMessage", 
    ERDInspectButton, 
    ERDInspectPageRepetition, 
    ERDListPageRepetition, 
    ERDPrinterButton, 
    ERDPrinterFriendlyWrapper, 
    ERDQueryPageRepetition, 
    ERDRecoverableErrorPage, 
    ERDSectionText, 
    ERDSelectAllButton, 
    ERDSelectButton, 
    ERDSelectionComponent, 
    ERDSpacer, 
    ERDXMLPageWrapper, 
    error, 
    ERXBatchNavigationBar, 
    ERXBatchNavigationBarInForm, 
    ERXD2WInspect, 
    ERXEmptyComponent, 
    ERXImageTabPanel, 
    ERXTabPanel, 
    false, 
    Filter, 
    forcedSubTask, 
    group, 
    groupPick, 
    html, 
    index, 
    inspect, 
    inspectConfigurationName, 
    inspectEmbeddedConfigurationName, 
    "InspectMetalBan.gif", 
    isEntityReadOnly, 
    keyWhenRelationship, 
    left, 
    list, 
    "list-ban.gif", 
    listConfigurationName, 
    listEmbeddedConfigurationName, 
    "ListMetalBan.gif", 
    lookFrameworkName, 
    "magglass-btn.gif", 
    message, 
    "N/A", 
    NEUCompactInspectComponent, 
    NEUConfirmPage, 
    NEUEditRelationshipPage, 
    NEUErrorPage, 
    NEUInspectPage, 
    NEUListPage, 
    NEUMasterDetailPage, 
    NEUPlainListPage, 
    NEUQueryAllPage, 
    NEUQueryPage, 
    NEUTabInspectPage, 
    Next, 
    None, 
    PageWrapper, 
    pick, 
    pickType, 
    popup, 
    Previous, 
    propertyKey, 
    query, 
    queryAll, 
    queryConfigurationName, 
    radio, 
    right, 
    Save, 
    Search, 
    select, 
    "select-sm-btn.gif", 
    selectAction, 
    selectionAction, 
    "smartAttribute.width", 
    smartDefaultAttributeWidth, 
    smartDefaultEntityNames, 
    smartDefaultKeyWhenRelationship, 
    smartDefaultRows, 
    "smartRelationship.isMandatory", 
    Submit, 
    tab, 
    TabOne, 
    templateNameForCompactInspectPage, 
    templateNameForCompactListPage, 
    templateNameForConfirmPage, 
    templateNameForCSVGroupingListPageTemplate, 
    templateNameForCSVListPage, 
    templateNameForEditableList, 
    templateNameForEditRelationshipPage, 
    templateNameForErrorPage, 
    templateNameForGroupingListPage, 
    templateNameForGroupingListXMLPage, 
    templateNameForGroupingPrinterFriendlyListPage, 
    templateNameForInspectPage, 
    templateNameForListCalendarPage, 
    templateNameForListComparePage, 
    templateNameForListPage, 
    templateNameForListXMLPage, 
    templateNameForMessagePage, 
    templateNameForPickListPage, 
    templateNameForPickTypePage, 
    templateNameForPrinterFriendlyInspectPage, 
    templateNameForPrinterFriendlyList, 
    templateNameForProgressPage, 
    templateNameForQueryAllPage, 
    templateNameForQueryPage, 
    templateNameForQueryPageWithFetchSpecification, 
    templateNameForTabInspectPage, 
    templateNameForWizardCreationPage, 
    toString, 
    true, 
    Unset, 
    userPresentableDescription, 
    "view-ban.gif", 
    visibleEntityNames, 
    wizard, 
    WOLCompactInspectComponent, 
    WOLConfirmPage, 
    WOLEditRelationshipPage, 
    WOLErrorPage, 
    WOLInspectPage, 
    WOLListPage, 
    WOLMasterDetailPage, 
    WOLPlainListPage, 
    WOLQueryAllPage, 
    WOLQueryPage, 
    WOLTabInspectPage, 
    "write-btn.gif", 
    xml, 
    Yes
)