(
    attribute, 
    "attribute.className", 
    "attribute.externalType", 
    "attribute.width", 
    componentName, 
    "destinationEntity.name", 
    displayNameForProperty, 
    "entity.userInfo.isSortedJoinEntity", 
    existingPageName, 
    existingSubTask, 
    forcedSubTask, 
    frame, 
    isEmbeddedInForm, 
    isGenerating, 
    isMandatory, 
    look, 
    massChangeEntityDisplay, 
    pageConfiguration, 
    propertyIsKeyPath, 
    propertyKey, 
    propertyType, 
    relationship, 
    "relationship.destinationEntity.sharedObjectFetchSpecificationNames.count", 
    "relationship.destinationEntity.userInfo.isSortedJoinEntity", 
    "relationship.isToMany", 
    resolvedUnit, 
    "session.javaScriptEnabled", 
    smartAttribute, 
    "smartAttribute.allowsNull", 
    "smartAttribute.className", 
    "smartAttribute.userInfo.erPrototype", 
    "smartAttribute.userInfo.unit", 
    "smartAttribute.width", 
    smartRelationship, 
    "smartRelationship.destinationEntity.sharedObjectFetchSpecificationNames.count", 
    "smartRelationship.isToMany", 
    subTask, 
    targetOutput, 
    task, 
    useTabImages
)