<WEBOBJECT name=NavPage></WEBOBJECT>
<BR>
<FONT SIZE=+1>
Are you sure you want to delete the <I><WEBOBJECT NAME=AppName></WEBOBJECT></I> Application?<BR>
</FONT>
<BR>
<BR>
<FONT SIZE=-1>
Selecting 'Yes' will shutdown any running instances of this application, delete all instance configurations, and remove this application from the Application page.
</FONT>

<TABLE BORDER=0 CELLPADDING=40 CELLSPACING=10>
<TR>
<TD>
<FONT SIZE=+1>
    <WEBOBJECT name=DeleteClicked>Yes</WEBOBJECT>
</FONT>
</TD>
<TD>
<FONT SIZE=+1>
    <WEBOBJECT name=CancelClicked>No</WEBOBJECT>
</FONT>
</TD>
</TR>
</TABLE>

</CENTER>
  </TD></TR>
</TABLE>
</CENTER>

</BODY>
</HTML>
