<svg>
	<defs>
		<filter id="emboss" filterUnits="objectBoundingBox" x="0%" y="0%" width="100%" height="100%">
			<feColorMatrix type="luminanceToAlpha" result="dot"/>
			<feComponentTransfer result="dot">
				<feFuncA type="table" tableValues="1 0"/>
			</feComponentTransfer>


			<feDiffuseLighting resultScale="1" surfaceScale=".015" diffuseConstant="1" lightColor="gray" result="diffuse">
				<feDistantLight azimuth="135" elevation="60"/>
			</feDiffuseLighting>
			<feSpecularLighting in="dot" surfaceScale=".015" specularConstant="1" specularExponent="6" lightColor="white" result="specular">
				<feDistantLight azimuth="135" elevation="60"/>
			</feSpecularLighting>
			<feComposite in="diffuse" in2="specular" operator="arithmetic" k1="0" k2="1" k3="1" k4="0" result="litPaint"/>
		</filter>

		<filter id="gray" filterUnits="objectBoundingBox" x="0%" y="0%" width="100%" height="100%">
			<feColorMatrix type="luminanceToAlpha" result="dot"/>
			<feColorMatrix type="matrix" values="0 0 0 1 0  0 0 0 1 0  0 0 0 1 0  0 0 0 0 1"/>
		</filter>
	</defs>

	<g transform="scale(400)">
	    <webobject name=Image3></webobject><clipPath id="clip1">
			<rect x=".15" y=".2" width=".4" height=".3"/>
		</clipPath>
		<g style="clip-path:url(#clip1)">
			<g style="filter:url(#gray)">
			    <webobject name=Image2></webobject></g>
		</g>

		<clipPath id="clip2">
			<rect x=".4" y=".08" width=".45" height=".25"/>
		</clipPath>
		<webobject name=Image1></webobject>
	</g>
</svg>