<webobject name=TableContainer>
    <webObject name=HasHeaders>
        <webObject name=TableHeaderRow><webObject name=HeaderRepetition>
            <td align=center valign=middle class="HeaderCell"><WEBOBJECT NAME=Image1></WEBOBJECT></td>
        </webObject></webObject>
    </webObject>
    <webobject name=RowRepetition>
    <webObject name=TableRow>
        <webobject name=ColRepetition>
            <webObject name=CellContainer><webobject name=Content></webObject></webObject>
        </webobject>
    </webObject>
    </webobject>
</webobject>
