<webObject name=RenderBorder><WEBOBJECT NAME=Table><TR VALIGN=TOP>
		<webObject name="td1"><WEBOBJECT NAME=Image1></WEBOBJECT></webObject>
	</TR>
	<TR>
		<webObject name="td2"><BR><WEBOBJECT NAME=Image3></WEBOBJECT></webObject>
		<TD><WEBOBJECT NAME=ComponentContent1></WEBOBJECT></TD>
		<webObject name="td2"><BR><WEBOBJECT NAME=Image4></WEBOBJECT></webObject>
	</TR>
	<TR>
		<webObject name="td1"><WEBOBJECT NAME=Image2></WEBOBJECT></webObject>
	</TR></WEBOBJECT>
</webObject><webObject name=NoBorder><WEBOBJECT NAME=ComponentContent1></WEBOBJECT></WEBOBJECT>