<webobject name=RenderBorder><WEBOBJECT NAME=Table><TR VALIGN=TOP>
		<webobject name="td1"><WEBOBJECT NAME=Image1></WEBOBJECT></webobject>
	</TR>
	<TR>
		<webobject name="td2"><br/><WEBOBJECT NAME=Image3></WEBOBJECT></webobject>
		<TD><WEBOBJECT NAME=ComponentContent1></WEBOBJECT></TD>
		<webobject name="td2"><br/><WEBOBJECT NAME=Image4></WEBOBJECT></webobject>
	</TR>
	<TR>
		<webobject name="td1"><WEBOBJECT NAME=Image2></WEBOBJECT></webobject>
	</TR></WEBOBJECT>
</webobject><webObject name=NoBorder><WEBOBJECT NAME=ComponentContent1></WEBOBJECT></WEBOBJECT>