{
/*
You can look up those values in the HSSF javadocs.

Fonts:
    extends="someFontID" 
    name="Arial" 
    fontHeightInPoints="10" 
    fontHeight="10" 
    italic="true" 
    bold="BOLDWEIGHT_NORMAL|BOLDWEIGHT_BOLD" 
    strikeout="true" 
    color="1" 
    underline="U_NONE|U_SINGLE|U_DOUBLE|U_SINGLE_ACCOUNTING|U_DOUBLE_ACCOUNTING" 
    typeOffset="SS_NONE|SS_SUPER|SS_SUB" 

Styles:
    id="foo"
    font="someFontID"
    alignment="GENERAL|LEFT|CENTER|RIGHT"
    verticalAlignment="TOP|CENTER|BOTTOM|JUSTIFY"
    borderLeft_borderRight_borderTop_borderBottom=
            "NONE|THIN|MEDIUM|DASHED|HAIR|DOUBLE|DOTTED|
                    MEDIUM_DASHED|DASH_DOT|MEDIUM_DASH_DOT|DASH_DOT_DOT|
                    MEDIUM_DASH_DOT_DOT|SLANTED_DASH_DOT"
    leftBorderColor_rightBorderColor_topBorderColor_bottomBorderColor="0-xx"
    fillPattern="NO_FILL|SOLID_FOREGROUND|FINE_DOTS|ALT_BARS|SPARSE_DOTS|THICK_HORZ_BANDS|THICK_VERT_BANDS|THICK_BACKWARD_DIAG|
            THICK_FORWARD_DIAG|BIG_SPOTS|BRICKS|THIN_HORZ_BANDS|THIN_VERT_BANDS|THIN_BACKWARD_DIAG|THIN_FORWARD_DIAG|SQUARES|DIAMONDS"
    hidden="true"
    locked="true"
    wrapText="true"
    indention="0"
    rotation="-90...90"
    fillBackgroundColor="0-xx"
    format="some format string" (Note that this is the excel-format, not the WO format. See HSSFDataFormat for examples)
*/
    "Fonts" = {
        "default" = {
            name="Arial";
            fontHeightInPoints="10";
        };
        "bold" = {
            name="Arial Black";
        };
    };
    
    "Styles" = {
        "default" = {
            font="default";
            alignment="RIGHT";
        };
        "bold" = {
            font="bold";
            alignment="LEFT";
        };
        "everythingElse" = {
        	font = "default";
        	alignment="RIGHT";
        	fillPattern="SPARSE_DOTS";
        	borderTop="DASHED";
        };
    };
}