<webobject name=HasPropertyName>
	<table cellspacing=0 border=0 cellpadding=0>
		<tr>
			<webobject name = "DisplayRequiredMarkerCell"><td align=RIGHT class=requiredMarker width=10 valign=TOP><webobject name=DisplayMandatory>*</webobject></td></webobject>
			<td nowrap align=LEFT valign=middle class=PropertyName><webobject name=GenericContainer2><webobject name=PropertyName></webobject></webobject></td>
		</tr>
	</table>
</webobject><webobject name=DebuggingEnabled><a onmouseout="this.innerHTML=this.innerHTML.replace('visibility: visible;','visibility: hidden;');" onmouseover="this.innerHTML=this.innerHTML.replace('visibility: hidden;','visibility: visible;');">?<span onclick="this.style.visibility='hidden'; return false;" style="position:absolute;visibility: hidden;">
	<table border=1 onclick="this.style.visibility='hidden'; return false;" bgcolor=white>
		<webobject name=Repetition1>
			<tr>
				<td><b><webobject name=String1></webobject></b></td>
				<td><webobject name=String2></webobject></td>
			</tr>
		</webobject>
	</table></span>
	</a></webobject>