(
	{
		name = Root;
		children = ("Movie Central", "Actor Networking");
	},
        {
		name = "Movie Central";
                action = "session.findAMovie";

		children = ("New Movie", "New Movie Tab", "List All Movies", "Find A Movie");

		height = 19;
		width = 100;
	},
        {
		name = "New Movie Tab";
                action = "session.newMovieTabInspectPage";

		height = 19;
		width = 120;
	},
        {
		name = "New Movie";
                action = "session.newMovieWizardPage";

		height = 19;
		width = 100;
	},
        {
		name = "Find A Movie";
                action = "session.findAMovie";

		height = 19;
		width = 100;
	},
        {
		name = "List All Movies";
                action = "session.listAllMovies";

		height = 19;
		width = 100;
	},
        {
		name = "Actor Networking";
                directActionName = "QueryTalent";

		height = 19;
		width = 130;
	}
        
        
)
