<webobject name=SwitchComponent3><br>
	<webobject name=Help></webobject>
	
	<webobject name="AboveDisplayPropertyKeys"></webobject>
	
	<webobject name=Form1>
		<table border=0 width=770>
			<tr>
				<td class=Alert><webobject name=TitleAvailable><b><webobject name=String2></webobject></b></webobject><webobject name=NoTitleAvailable>Message</webobject>
					<hr>
				</td>
			</tr>
			<webobject name=Conditional2>
				<tr>
					<td class=Big><webobject name=String3></webobject>
						<p></p>
					</td>
				</tr>
			</webobject><webobject name=Conditional3>
				<tr>
					<td align=CENTER><webobject name=SwitchComponent4></webobject></td>
				</tr>
			</webobject><webobject name=HasPropertyKeys>
				<tr>
					<td><webobject name=InspectTable>
							<tr>
								<td align=center><webobject name=Errors></webobject></td>
							</tr>
							<tr>
								<td align=center valign=top>
									<table cellspacing=2 border=0 cellpadding=2>
										<webobject name=AttributeRepetition><webobject name=QueryRow>
												<td align=right><webobject name=SwitchComponent1></webobject><font size=-1><strong></strong></font></td>
												<td><webobject name=AttributeValue></webobject></td>
											</webobject></webobject>
									</table>
								</td>
							</tr>
						</webobject>
					</td>
				</tr>
			</webobject>
			<tr>
				<td align=right><br>
					<br>
					<webobject name=Conditional1><webobject name=ERSingleButton1></webobject></webobject><webobject name=Conditional4><webobject name=Repetition1><webobject name=SubmitButton1></webobject>&nbsp;</webobject></webobject></td>
			</tr>
		</table>
	</webobject>
	
	<webobject name="BelowDisplayPropertyKeys"></webobject>
	
</webobject>