body {
	font-family: Lucida Grande;
	font-weight: normal;
	background-color: rgb(250, 250, 250);
	margin: 0px;
	padding: 0px;
}

a:focus { 
    outline: none; 
}

button::-moz-focus-inner {
	border: 0;
}

input::-moz-focus-inner {
	border: 0;
}
 
div.page {
}

div.top {
	margin-bottom: 1.3em;
	font-size: 1.5em;
	font-weight: bold;
}

div.header {
	background-color: rgb(165, 175, 194);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(65, 75, 94)), to(rgb(165, 175, 194)));
	background-image: -moz-linear-gradient(0% 0% 270deg, rgb(65, 75, 94), rgb(165, 175, 194));
	border-bottom: 1px solid rgb(65, 75, 94);
	height: 3em;
	padding: 0em 1em;
}

div.header h1 {
	font-size: 1.5em;
	margin: 0px;
	color: rgb(255, 255, 255);
	padding: 0em;
	margin: 0em;
	padding-top: 0.4em;
}

div.header h1 a {
	text-decoration: none;
	color: rgb(255, 255, 255);
}

div.header h3 {
	float: right;
	font-size: 0.8em;
	margin: 0px;
	color: rgb(255, 255, 255);
	padding: 0em;
	margin: 0em;
	padding-top: 1.5em;
}

div.header h3 a {
	text-decoration: none;
	color: rgb(255, 255, 255);
}

div.header h1 span.title {
	margin-left: 1em;
	font-size: 0.75em;
}

div.breadcrumb {
	padding: 0.3em 1em;
}

div.breadcrumb ol {
	font-size: 0.8em;
	padding: 0px;
	margin: 0px;
	display: inline;
}

div.breadcrumb ol li {
	display: inline;
	padding: 0px;
	margin: 0px;
	color: rgb(150, 150, 150);
}

div.breadcrumb ol li a {
	text-decoration: none;
	color: rgb(150, 150, 150);
}

div.breadcrumb ol li.separator {
	color: rgb(224, 224, 224);
}

div.breadcrumb ol li.separator:first-child {
	display: none;
}

div.breadcrumb ol li.separator:before {
	content: '::';
}

div#notices {
    width: 80%;
    font-weight: bold;
    font-size: 110%;
    margin: 1em auto 1em auto;
}

div#notices ul, div#notices ul li {
	list-style-type: none;
	list-style-image: none;
	padding: 0;
	margin: 0;
	list-style-position: inside;
}

div#notices ul li {
	padding: 3px 0 4px 0;
}

div#notices div {
    border: 2px solid rgb(0, 0, 0);
    border-left: none;
    border-right: none;
    padding: 7px 42px;
    font-size: 0.8em;
}

div#notices div.errors {
	border-top-color: #f37657;
	border-bottom-color: #f37657;
    color: #741b03;
    background: #ffd5bd url(icon_err.png) no-repeat 10px 11px;
}

div#notices div.notifications {
    border-top-color: #ddcc99;
    border-bottom-color: #ddcc99;
    color: #554433;
    background: #ffc url(icon_warn.png) no-repeat 10px 8px;
}

div.body {
	width: 80%;
	margin: auto;
}

div.header {
}

form {
	margin: 0px;
	padding: 0px;
}

input[type='submit'], input[type='button'] {
	border-radius: 1em;
	-moz-border-radius: 1em;
	border: 1px solid rgb(180, 180, 180);
	font-family: Lucida Grande;
	font-weight: normal;
	padding: 0.3em 1em;
	background-color: rgb(204, 204, 204);
	background-image: -webkit-gradient(linear, 0 0, 0 30, from(rgb(238, 238, 238)), to(rgb(204, 204, 204)));
	background-image: -moz-linear-gradient(0% 0% 270deg, rgb(238, 238, 238), rgb(204, 204, 204) 30px);
	margin-top: 1em;
}

input[type='submit']:active, input[type='button']:active {
	background-color: rgb(204, 204, 204);
	background-image: -webkit-gradient(linear, 0 0, 0 30, from(rgb(204, 204, 204)), to(rgb(238, 238, 238)));
	background-image: -moz-linear-gradient(0% 0% 270deg, rgb(204, 204, 204), rgb(238, 238, 238) 30px);
}

input[type='submit'].mini {
	margin: 0px;
	padding: 0px 10px;
	font-size: 0.9em;
}

div.panel div.row input[type='submit'] {
	margin-top: 0.5em;
	margin-left: 8.2em;
}

input[type='text'] {
	padding: 0.2em;
	margin-right: 0.5em;
}

input[type='password'] {
	padding: 0.2em;
	margin-right: 0.5em;
}

div.panel div.row input[type='text'] {
	width: 70%;
}

div.panel div.row input[type='password'] {
	width: 70%;
}

div.panel div.row div.explanation {
	margin-left: 8em;
	padding-top: 0.5em;
	color: rgb(150, 150, 150);
}

div.panel {
	border: 1px solid rgb(180, 180, 180);
	border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	font-size: 1em;
	margin: auto;
}

div.panel div.title {
	border-bottom: 1px solid rgb(180, 180, 180);
	padding: 0.5em 1em;
	background-color: rgb(214, 214, 244);
	background-image: -webkit-gradient(linear, 0 0, 0 30, from(rgb(228, 228, 254)), to(rgb(214, 214, 244)));
	background-image: -moz-linear-gradient(0% 0% 270deg, rgb(228, 228, 254), rgb(214, 214, 244) 30px);

	border-top-left-radius: 0.4em;
	-moz-border-radius-topleft: 0.4em;
	border-top-right-radius: 0.4em;
	-moz-border-radius-topright: 0.4em;
	
	font-weight: bold;
	font-size: 1.1em;
	color: rgb(84, 84, 124);
}

div.panel div.contents {
	border-top: 1px solid rgb(255, 255, 255);
	padding: 1em;
	background-color: rgb(238, 238, 238);
	background-image: -webkit-gradient(linear, 0 0, 0 30, from(rgb(238, 238, 238)), to(rgb(255, 255, 255)));
	background-image: -moz-linear-gradient(0% 0% 270deg, rgb(238, 238, 238), rgb(255, 255, 255) 30px);
	border-bottom-left-radius: 0.4em;
	-moz-border-radius-bottomleft: 0.4em;
	border-bottom-right-radius: 0.4em;
	-moz-border-radius-bottomright: 0.4em;
}

div.panel form div.row {
	margin-top: 1em;
}

div.panel form div.row:first-child {
	margin-top: 0em;
}

div.panel form div.row span.label {
	width: 7em;
	display: block;
	float: left;
	text-align: right;
	padding: 0.3em;
	padding-right: 1em;
	color: rgb(100, 100, 100);
}

.separatorSections .section.title {
	font-weight: bold;
	font-size: 1.3em;
	margin-bottom: 0em;
	padding-bottom: 0.5em;
}

.separatorSections .section.title a {
	text-decoration: none;
	color: rgb(84, 84, 124);
}

.separatorSections {
	border: 1px solid rgb(255, 255, 255);
	border-radius: 0.50em;
	-moz-border-radius: 0.50em;
	margin: 0px;
	padding: 0px;
}

.separatorSections li.section {
	list-style-type: none;
}

.separatorSections .section {
	margin: 0px;
	padding: 0.5em 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid rgb(180, 180, 180);
	border: 1px solid rgb(180, 180, 180);

	border-top: 1px solid rgb(255, 255, 255);

	background-color: rgb(238, 238, 238);
	background-image: -webkit-gradient(linear, 0 0, 0 50, from(rgb(240, 240, 240)), to(rgb(255, 255, 255)));
	background-image: -moz-linear-gradient(0% 0% 270deg, rgb(240, 240, 240), rgb(255, 255, 255) 50px);
	
	color: rgb(100, 100, 100);
}

.separatorSections .section:first-child {
	border-top: 1px solid rgb(180, 180, 180);
	
	border-top-left-radius: 0.50em;
	-moz-border-radius-topleft: 0.50em;
	border-top-right-radius: 0.50em;
	-moz-border-radius-topright: 0.50em;
}

.separatorSections .section:last-child {
	border-bottom-left-radius: 0.50em;
	-moz-border-radius-bottomleft: 0.50em;
	border-bottom-right-radius: 0.50em;
	-moz-border-radius-bottomright: 0.50em;
}

.separatorSections .section h1 {
	font-size: 1.1em;
	margin-top: 1em;
	margin-bottom: 0.5em;
}

.separatorSections .section h2 {
	font-size: 1em;
	margin-top: 1em;
	margin-bottom: 0.5em;
}

.separatorSections .section h3 {
	font-size: 1em;
	margin-top: 1em;
	margin-bottom: 0.5em;
}

.separatorSections .section div.contents {
	padding-left: 20px;
}

.separatorSections .section a {
	text-decoration: underline;
	color: rgb(84, 84, 124);
}

.separatorSections .section h1 a {
	text-decoration: none;
}

.separatorSections .section a.toggle {
	text-decoration: none;
	background-image: url(triangleRight.gif);
	background-repeat: no-repeat;
	color: rgb(84, 84, 124);
	padding-left: 20px;
	padding-bottom: 5px;
	margin-left: 0px;
	font-weight: bold;
	font-size: 1.1em;
}

.separatorSections .section a.toggle.expanded {
	background-image: url(triangleDown.gif);
}

table td {
	border: none;
	padding: 0.2em;
}

td.actions {
	padding-right: 0.5em;
	white-space: nowrap;
}

td.status {
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
}

.separatorSections .section div.wishList tr.purchased td.item {
	text-decoration: line-through;
}

.separatorSections .section form {
	white-space: nowrap;
}

.separatorSections .section form input[type='text'] {
	width: 80%;
}

.separatorSections .section form input[type='password'] {
	width: 80%;
}

.separatorSections .section.callout {
	background-color: rgb(214, 214, 244);
	background-image: -webkit-gradient(linear, 0 0, 0 30, from(rgb(214, 214, 244)), to(rgb(228, 228, 254)));
	background-image: -moz-linear-gradient(0% 0% 270deg, rgb(214, 214, 244), rgb(228, 228, 254) 30px);
}

.separatorSections .section.callout2 {
	background-color: rgb(244, 244, 214);
	background-image: -webkit-gradient(linear, 0 0, 0 30, from(rgb(244, 244, 214)), to(rgb(254, 254, 228)));
	background-image: -moz-linear-gradient(0% 0% 270deg, rgb(244, 244, 214), rgb(254, 254, 228) 30px);
}

.separatorSections .section.pending {
	background-color: rgb(244, 244, 214);
	background-image: -webkit-gradient(linear, 0 0, 0 30, from(rgb(244, 244, 214)), to(rgb(254, 254, 228)));
	background-image: -moz-linear-gradient(0% 0% 270deg, rgb(244, 244, 214), rgb(254, 254, 228) 30px);
}

.separatorSections.advanced a {
	text-decoration: none;
}

.separatorSections.advanced a.advancedToggle {
	font-size: 1.1em;
	font-weight: bold;
	margin-bottom: 1em;
}

.separatorSections.advanced

div.panel div.contents ul {
	margin-bottom: 2em;
}

div.panel div.contents ul li {
}

div.panel div.contents a {
	color: rgb(84, 84, 124);
}

div.panel div.contents a:visited {
	color: rgb(84, 84, 124);
}

div.panel div.contents h1 {
	font-size: 1em;
	margin: 0em;
}

p {
	margin: 0.5em 0em;
}

.lessimportant {
	color: rgb(140, 140, 140);
}

.unimportant {
	color: rgb(180, 180, 180);
}

p:last-child {
	margin-bottom: 0.10em;
}