<webobject name = "PageWrapper">
  <webobject name = "QuickSearch" />
  <webobject name = "RequiredWrapper">
    <webobject name = "ShowTopActionBlock">
      <webobject name = "TopActionBlock">
      <webobject name="ShouldShowDefaultPageButtons">
        <webobject name = "ShowCancel">
          <ul class = "ActionList">
            <li><webobject name = "ReturnButton" /></li>
          </ul>
        </webobject>
        </webobject>
        <webobject name = "SecondaryActionBlock" />
      </webobject>
    </webobject>
    <webobject name = "InnerWrapper">
      <webobject name = "ListNotEmpty">
        <webobject name = "RepetitionUpdateContainer">
          <webobject name = "ShowTopBatchNavBar">
            <webobject name = "TopNavBar"> <webobject name = "NavigationBar" /> </webobject>
          </webobject>
          <webobject name = "ShowTopBatchCount">
            <webobject name = "TopNavBatchSize"><webobject name = "BatchSizeControl" /></webobject>
          </webobject>
          <webobject name = "ListPageRepetition" />
          <webobject name = "ShowBottomBatchNavBar">
            <webobject name = "BottomNavBar"> <webobject name = "NavigationBar" /> </webobject>
          </webobject>
          <webobject name = "ShowBottomBatchCount">
            <webobject name = "BottomNavBatchSize"><webobject name = "BatchSizeControl" /></webobject>
          </webobject>
        </webobject>
      </webobject>
      <webobject name = "ListEmpty"> <webobject name = "EmptyMessageComponent" /> </webobject>
    </webobject>
    <webobject name = "ShowBottomActionBlock">
      <webobject name = "BottomActionBlock">
      <webobject name="ShouldShowDefaultPageButtons">
        <webobject name = "ShowCancel">
          <ul class = "ActionList">
            <li><webobject name = "ReturnButton" /></li>
          </ul>
          </webobject>
        </webobject>
        <webobject name = "SecondaryActionBlock" />
      </webobject>
    </webobject>
  </webobject>
</webobject>