{
    attributes = (
        {
            columnName = "MOVIE_ID"; 
            externalType = long; 
            name = movieID; 
            precision = 9; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = REVIEW; 
            externalType = object; 
            name = review; 
            valueClassName = NSString; 
        }, 
        {
            columnName = "REVIEW_ID"; 
            externalType = long; 
            name = reviewID; 
            precision = 9; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = REVIEWER; 
            externalType = char; 
            name = reviewer; 
            valueClassName = NSString; 
            width = 50; 
        }
    ); 
    attributesUsedForLocking = (reviewID, movieID, reviewer); 
    className = EOGenericRecord; 
    classProperties = (reviewer, review, movie); 
    externalName = REVIEW; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {"_clientClassPropertyNames" = (reviewer, review, movie); }; 
    name = Review; 
    primaryKeyAttributes = (reviewID); 
    relationships = (
        {
            destination = Movie; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = movieID; sourceAttribute = movieID; }); 
            name = movie; 
        }
    ); 
}
