<webobject name="ListTable">
    <tr class="Header">
        <webobject name="HeaderCell"><webobject name="EntityName"></webobject></webobject>
    </tr>
    <tr class="Label">
       <webobject name="ColumnLabelRepetition">
            <th><webobject name="PropertyName"></webobject></th>
        </webobject>
    </tr>
    <webobject name="GroupingRepetition">
        <tr class="Section">
            <webobject name="SectionCell">
                <webobject name="SectionDisplay"></webobject>
            </webobject>
        </tr>
        <webobject name="EntityRepetition">
			<tr height=2 bgcolor=white>
				<webobject name=DividingCells><webobject name=ComponentContent1></webobject></webobject>
			</tr>
        	<webobject name="ListTableRow">
                <webobject name="AttributeRepetition">
					<webobject name="AttributeCell"><webobject name="AttributeDisplay"></webobject></webobject>
                </webobject>
            </webobject>
        </webobject>
        <webobject name="HasTotal">
            <tr class="Summary">
                <webobject name="AttributeRepetition2">
                    <webobject name="SumCell">
                        <webobject name="IsTotallingKey">
                            <webobject name="SumForSubList"></webobject>
                        </webobject>
                    </webobject>
                </webobject>
            </tr>
        </webobject>
    </webobject>
</webobject>