<webobject name = "HasValidSession">
<div class = "MenuHeaderWrapper">
<div class = "Heading MenuHeaderHeading">
    <h1>ERXPartials Example D2W application</h1>
</div>
<div class = "Menu UserMenu">
    <ul class = "MenuOptions UserMenuOptions">
        <li class="first"><a href = "#">Logged In User</a></li>
        <li><webobject name = "HomeLink">Homepage</webobject></li>
        <li><webobject name = "LoginLink">Log Out</webobject></li>
    </ul>
</div>
</div>
<webobject name = "ERXNavigationMenu"/>
</webobject>