<webobject name = "AjaxExampleComponent">
<style type="text/css">
.tracker {
	width: 422px;
	height: 10px;
	background-color:rgb(0, 155, 255);
}
.handle {
	cursor:move;
	width:10px; 
	height:10px;
	background-color:rgb(155, 0, 255);
}
.tableBody {
	float: left;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(0, 0, 0);
	background-color: rgb(240, 240, 240);
	margin-right: 20px;
	padding: 10px;
}

#editor {
	position: absolute;
	left: 300px;
	top: 200px;
}

.editor {
	background-color: rgb(255, 255, 255);	
	padding: 5px;
	border-style: solid;
	border-color: rgb(0, 0, 0);
	border-width: 1px;
}
</style>
	This value shouldn't change: <webobject name="Millis"></webobject><br>
	You can sort the entries, drag the slider, click on a name, edit the entry and save it, without ever leaving this page.
	<br>
	<webobject name="Slider"></webobject>
	  <webobject name="TableBody">
		<table width="400">
			<tr>
				<th><webobject name="PrevBatch">&lt;&lt;</webobject></th>
				<th><webobject name="NextBatch">&gt;&gt;</webobject></th>
			</tr>
			<tr>
				<th colspan="2">Current Batch: <span id="value"><webobject name="CurrentBatchIndex"></webobject></span> of <webobject name="BatchCount"></webobject></th>
			</tr>
			<tr>
				<th><webobject name="SortByName">Name</webobject></th>
				<th><webobject name="SortByValue">Value</webobject></th>
			</tr>
		</table>
		<table width="400" id = "tableRows">
			<webobject name="RowRepetition">
				<tr>
					<td><webobject name="SelectObject"><webobject name="Name"></webobject></webobject></td>
					<td align="right" width="40"><webobject name="Length"></webobject></td>
				</tr>
			</webobject>
		</table>
  </webobject>
	
	<webobject name="Editor">
		<webobject name="Conditional1">
			<webobject name="Form1">
				<table>
					<tr><td>Name</td><td><webobject name="EditName"></webobject></td></tr>
					<tr><td>Value</td><td><webobject name="EditValue"></webobject></td></tr>
					<tr><td align="right" colspan="2"><webobject name="SaveButton"></webobject></td></tr>
				</table>
			</webobject>
			<script>
			$('editor').show();
			</script>
		</webobject>
	</webobject>
	
	and some stuff below....
	<webobject name = "Busy"></webobject>
</webobject>
