<webobject name = "SwitchComponent2">
  <webobject name = "Help" />
  <br />
  <webobject name = "ErrorDictionaryPanel1" />
  <webobject name = "NonNullConditional1">
    <webobject name = "SwitchComponent1" />
  </webobject>
  <webobject name = "NonNullConditional3">
    <b>
      <webobject name = "D2wContextExplanationString" />
    </b>
  </webobject>
  <webobject name = "Form1">
    <div>
      <webobject name = "KeyValueConditional1">
        <table>
          <webobject name = "Choices">
            <tr>
              <td bgcolor = "#ffffff">
                <webobject name = "RadioButton1" />
              </td>
              <td>
                <webobject name = "DisplayName" />
              </td>
            </tr>
          </webobject>
        </table>
      </webobject>
      <webobject name = "KeyValueConditional2">
        <webobject name = "CheckBoxList1" />
      </webobject>
      <webobject name = "KeyValueConditional3">
        <webobject name = "PopUpButton1" />
        <br />
      </webobject>
      <br />
      <br />
      <webobject name = "NonNullConditional2">
        <webobject name = "CancelLink">
          <webobject name = "CancelButton" />
        </webobject>
      </webobject>
      <webobject name = "RightArrow" />
    </div>
  </webobject>
</webobject>