{
    attributes = (
        {
            columnName = BUDGET; 
            externalType = int; 
            name = budget; 
            valueClassName = NSDecimalNumber; 
            valueType = i; 
        }, 
        {
            columnName = NAME; 
            externalType = varchar; 
            name = name; 
            valueClassName = NSString; 
            valueType = S; 
            width = 40; 
        }, 
        {
            columnName = STUDIO_ID; 
            externalType = int; 
            name = studioID; 
            valueClassName = NSNumber; 
            valueType = i; 
        }
    ); 
    attributesUsedForLocking = (budget, name, studioID); 
    className = demo.eo.Studio; 
    classProperties = (budget, name, movies); 
    externalName = STUDIO; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {
        _clientClassPropertyNames = (budget, name, movies); 
        _javaClientClassName = businesslogic.client.Studio; 
    }; 
    name = Studio; 
    primaryKeyAttributes = (studioID); 
    relationships = (
        {
            destination = Movie; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = studioID; sourceAttribute = studioID; }); 
            name = movies; 
        }
    ); 
}
