{
    attributes = (
        {
            allowsNull = Y; 
            columnName = "FIRSTNAME_"; 
            externalType = char; 
            name = firstName; 
            valueClassName = NSString; 
            width = 200; 
        }, 
        {
            allowsNull = Y; 
            columnName = "LASTNAME_"; 
            externalType = char; 
            name = lastName; 
            valueClassName = NSString; 
            width = 200; 
        }, 
        {
            allowsNull = Y; 
            columnName = "PASSWORD_"; 
            externalType = char; 
            name = password; 
            valueClassName = NSString; 
            width = 200; 
        }, 
        {
            columnName = "ROWID_"; 
            externalType = int; 
            name = "rowid_"; 
            valueClassName = NSNumber; 
            valueType = i; 
            width = 4; 
        }, 
        {
            allowsNull = Y; 
            columnName = "USERNAME_"; 
            externalType = char; 
            name = username; 
            valueClassName = NSString; 
            width = 200; 
        }, 
        {
            allowsNull = Y; 
            columnName = "NUMBER_"; 
            externalType = int; 
            name = number; 
            valueClassName = NSNumber; 
            valueType = i; 
        }
    ); 
    attributesUsedForLocking = ("rowid_"); 
    className = "er.validexample.User"; 
    classProperties = (username, password, firstName, lastName, number); 
    externalName = "USER_"; 
    fetchSpecificationDictionary = {}; 
    name = User; 
    primaryKeyAttributes = ("rowid_"); 
}
