<table cellspacing="2" cellpadding="2" border="0">
	<tr>
		<td><b>Saved Queries</b></td>
		<td><webobject name="SavedQueryPopup"></webobject><webobject name="HiddenPopupChangedButton"></webobject></td>
		<webobject name="HasSelectedQuery"><td width="55"><webobject name="DeleteCurrentQuery"></webobject></td></webobject>
		<webobject name="HasSavedQueries"><td width="55"><webobject name="DeleteAllSavedQueries"></webobject></td></webobject>
		<webobject name="HasSavedQueries"><td width="55"><webobject name="MakeDefaultSavedQuery"></webobject></td></webobject>
	</tr>
	<tr>
		<td align="right">Name:</td>
		<td><webobject name="NewQueryNameTextField"></webobject></td>
		<td width="55"><webobject name="AddNewQuery"></webobject></td>
		<webobject name="HasSelectedQuery"><td width="55"><webobject name="UpdateQuery"></webobject></td></webobject>
		<td width="55"><webobject name="ClearFormButton"></webobject></td>
	</tr>
</table>