{
    attributes = (
        {
            columnName = amount; 
            externalType = CURRENCY; 
            name = amount; 
            precision = 38; 
            scale = 2; 
            userInfo = {modificationDate = "2002-07-21 21:47:27 +0200"; }; 
            valueClassName = NSNumber; 
            valueType = B; 
        }, 
        {
            columnName = blob; 
            externalType = MEMO; 
            name = blob; 
            valueClassName = NSData; 
        }, 
        {
            adaptorValueConversionMethodName = toString; 
            columnName = boolean; 
            externalType = LOGICAL; 
            factoryMethodArgumentType = EOFactoryMethodArgumentIsNSString; 
            name = boolean; 
            valueClassName = "java.lang.Boolean"; 
            valueFactoryMethodName = valueOf; 
            width = 5; 
        }, 
        {
            columnName = charFlag; 
            externalType = CHARACTER; 
            name = charFlag; 
            userInfo = {modificationDate = "2002-06-04 14:00:54 +0200"; }; 
            valueClassName = NSString; 
            valueType = c; 
            width = 1; 
        }, 
        {
            adaptorValueConversionMethodName = toCryptoString; 
            columnName = cryptoString; 
            externalType = CHARACTER; 
            factoryMethodArgumentType = EOFactoryMethodArgumentIsNSString; 
            name = cryptoString; 
            valueClassName = "er.extensions.ERXCryptoString"; 
            valueFactoryMethodName = createInstanceFromCryptoString; 
            width = 100; 
        }, 
        {
            columnName = currencyAmount; 
            externalType = CURRENCY; 
            name = currencyAmount; 
            precision = 38; 
            scale = 4; 
            valueClassName = NSDecimalNumber; 
            valueType = B; 
        }, 
        {
            columnName = date; 
            externalType = DATE; 
            name = date; 
            userInfo = {modificationDate = "2002-07-21 21:47:29 +0200"; }; 
            valueClassName = NSCalendarDate; 
        }, 
        {
            columnName = dateTime; 
            externalType = DATETIME; 
            name = dateTime; 
            userInfo = {modificationDate = "2002-06-04 14:00:54 +0200"; }; 
            valueClassName = NSCalendarDate; 
        }, 
        {
            columnName = doubleNumber; 
            externalType = DOUBLE; 
            name = doubleNumber; 
            userInfo = {modificationDate = "2002-06-04 14:00:54 +0200"; }; 
            valueClassName = NSNumber; 
            valueType = d; 
        }, 
        {
            columnName = flag; 
            externalType = LOGICAL; 
            name = flag; 
            userInfo = {modificationDate = "2002-07-21 21:47:30 +0200"; }; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            adaptorValueConversionMethodName = asString; 
            columnName = globalID; 
            externalType = CHARACTER; 
            factoryMethodArgumentType = EOFactoryMethodArgumentIsNSString; 
            name = globalID; 
            valueClassName = "er.extensions.ERXKeyGlobalID"; 
            valueFactoryMethodName = fromString; 
            valueType = c; 
            width = 255; 
        }, 
        {
            columnName = id; 
            externalType = INTEGER; 
            name = id; 
            serverTimeZone = "Europe/Berlin"; 
            userInfo = {modificationDate = "2002-05-03 15:42:07 +0200"; }; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            adaptorValueConversionMethodName = toString; 
            columnName = intBoolean; 
            externalType = LOGICAL; 
            factoryMethodArgumentType = EOFactoryMethodArgumentIsNSString; 
            name = intBoolean; 
            valueClassName = NSNumber; 
            valueFactoryMethodName = valueOf; 
            valueType = c; 
        }, 
        {
            columnName = intNumber; 
            externalType = INTEGER; 
            name = intNumber; 
            userInfo = {modificationDate = "2002-07-21 21:47:31 +0200"; }; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = ipAddress; 
            externalType = CHARACTER; 
            name = ipAddress; 
            valueClassName = NSString; 
            valueType = c; 
            width = 39; 
        }, 
        {
            adaptorValueConversionMethodName = name; 
            columnName = javaEnum; 
            externalType = CHARACTER; 
            factoryMethodArgumentType = EOFactoryMethodArgumentIsNSString; 
            name = javaEnum; 
            valueClassName = "java.lang.Enum"; 
            valueFactoryMethodName = valueOf; 
            width = 50; 
        }, 
        {
            columnName = longNumber; 
            externalType = BIGINT; 
            name = longNumber; 
            valueClassName = NSNumber; 
            valueType = l; 
        }, 
        {
            columnName = longText; 
            externalType = MEMO; 
            name = longText; 
            userInfo = {modificationDate = "2002-07-21 21:47:32 +0200"; }; 
            valueClassName = NSString; 
            valueType = c; 
            width = 10000000; 
        }, 
        {
            adaptorValueConversionMethodName = toBlob; 
            columnName = mutableArray; 
            externalType = MEMO; 
            name = mutableArray; 
            valueClassName = "er.extensions.ERXMutableArray"; 
            valueFactoryMethodName = fromBlob; 
        }, 
        {
            adaptorValueConversionMethodName = toBlob; 
            columnName = mutableDictionary; 
            externalType = MEMO; 
            name = mutableDictionary; 
            valueClassName = "er.extensions.ERXMutableDictionary"; 
            valueFactoryMethodName = fromBlob; 
        }, 
        {
            columnName = osType; 
            externalType = CHARACTER; 
            name = osType; 
            userInfo = {modificationDate = "2002-06-04 14:00:54 +0200"; }; 
            valueClassName = NSString; 
            valueType = c; 
            width = 4; 
        }, 
        {
            columnName = shortString; 
            externalType = CHARACTER; 
            name = shortString; 
            userInfo = {modificationDate = "2002-07-21 21:47:32 +0200"; }; 
            valueClassName = NSString; 
            valueType = c; 
            width = 50; 
        }, 
        {
            columnName = type; 
            externalType = CHARACTER; 
            name = type; 
            userInfo = {modificationDate = "2002-07-21 21:47:33 +0200"; }; 
            valueClassName = NSString; 
            valueType = c; 
            width = 4; 
        }, 
        {
            columnName = varchar10; 
            externalType = CHARACTER; 
            name = varchar10; 
            userInfo = {modificationDate = "2002-06-04 14:00:54 +0200"; }; 
            valueClassName = NSString; 
            valueType = c; 
            width = 10; 
        }, 
        {
            columnName = varchar100; 
            externalType = CHARACTER; 
            name = varchar100; 
            serverTimeZone = "Europe/Berlin"; 
            userInfo = {modificationDate = "2002-06-04 14:00:54 +0200"; }; 
            valueClassName = NSString; 
            valueType = c; 
            width = 100; 
        }, 
        {
            columnName = varchar1000; 
            externalType = CHARACTER; 
            name = varchar1000; 
            userInfo = {modificationDate = "2002-06-04 14:00:54 +0200"; }; 
            valueClassName = NSString; 
            valueType = c; 
            width = 1000; 
        }, 
        {
            columnName = varchar16; 
            externalType = CHARACTER; 
            name = varchar16; 
            serverTimeZone = "Europe/Berlin"; 
            userInfo = {modificationDate = "2002-06-04 14:00:54 +0200"; }; 
            valueClassName = NSString; 
            valueType = c; 
            width = 16; 
        }, 
        {
            columnName = varchar255; 
            externalType = CHARACTER; 
            name = varchar255; 
            serverTimeZone = "Europe/Berlin"; 
            userInfo = {modificationDate = "2002-06-04 14:00:54 +0200"; }; 
            valueClassName = NSString; 
            valueType = c; 
            width = 255; 
        }, 
        {
            columnName = varchar50; 
            externalType = CHARACTER; 
            name = varchar50; 
            serverTimeZone = "Europe/Berlin"; 
            userInfo = {modificationDate = "2002-08-21 22:42:33 +0200"; }; 
            valueClassName = NSString; 
            valueType = c; 
            width = 50; 
        }, 
        {
            columnName = varcharLarge; 
            externalType = MEMO; 
            name = varcharLarge; 
            userInfo = {modificationDate = "2002-08-19 11:56:16 +0200"; }; 
            valueClassName = NSString; 
            valueType = c; 
            width = 32765; 
        }
    ); 
    attributesUsedForLocking = (boolean, id); 
    className = EOGenericRecord; 
    classProperties = (
        amount, 
        blob, 
        boolean, 
        charFlag, 
        cryptoString, 
        currencyAmount, 
        date, 
        dateTime, 
        doubleNumber, 
        flag, 
        globalID, 
        intBoolean, 
        intNumber, 
        ipAddress, 
        javaEnum, 
        longNumber, 
        longText, 
        mutableArray, 
        mutableDictionary, 
        osType, 
        shortString, 
        type, 
        varchar10, 
        varchar100, 
        varchar1000, 
        varchar16, 
        varchar255, 
        varchar50, 
        varcharLarge
    ); 
    externalName = EOJDBCDBasePrototypes; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {
        "_clientClassPropertyNames" = (
            amount, 
            blob, 
            boolean, 
            charFlag, 
            date, 
            dateTime, 
            doubleNumber, 
            flag, 
            id, 
            intBoolean, 
            intNumber, 
            longNumber, 
            longText, 
            mutableArray, 
            mutableDictionary, 
            osType, 
            shortString, 
            type, 
            varchar10, 
            varchar100, 
            varchar1000, 
            varchar16, 
            varchar255, 
            varchar50, 
            varcharLarge
        ); 
    }; 
    isAbstractEntity = Y; 
    name = EOJDBCDBasePrototypes; 
    primaryKeyAttributes = (id); 
}
