{
    attributes = (
        {
            columnName = amount; 
            externalType = DECIMAL; 
            name = amount; 
            precision = 38; 
            scale = 2; 
            userInfo = {modificationDate = "2002-07-21 21:47:27 +0200"; }; 
            valueClassName = NSNumber; 
            valueType = B; 
        }, 
        {columnName = blob; externalType = OLE; name = blob; valueClassName = NSData; }, 
        {
            adaptorValueConversionMethodName = toString; 
            columnName = boolean; 
            externalType = BYTE; 
            factoryMethodArgumentType = EOFactoryMethodArgumentIsNSString; 
            name = boolean; 
            valueClassName = "java.lang.Boolean"; 
            valueFactoryMethodName = valueOf; 
            width = 5; 
        }, 
        {
            columnName = charFlag; 
            externalType = TEXT; 
            name = charFlag; 
            userInfo = {modificationDate = "2002-06-04 14:00:54 +0200"; }; 
            valueClassName = NSString; 
            valueType = c; 
            width = 1; 
        }, 
        {
            adaptorValueConversionMethodName = toCryptoString; 
            columnName = cryptoString; 
            externalType = TEXT; 
            factoryMethodArgumentType = EOFactoryMethodArgumentIsNSString; 
            name = cryptoString; 
            valueClassName = "er.extensions.crypting.ERXCryptoString"; 
            valueFactoryMethodName = createInstanceFromCryptoString; 
            width = 100; 
        }, 
        {
            columnName = currencyAmount; 
            externalType = NUMBER; 
            name = currencyAmount; 
            precision = 38; 
            scale = 4; 
            valueClassName = NSDecimalNumber; 
            valueType = B; 
        }, 
        {
            columnName = date; 
            externalType = DATE; 
            name = date; 
            userInfo = {modificationDate = "2002-07-21 21:47:29 +0200"; }; 
            valueClassName = NSCalendarDate; 
            valueType = D; 
        }, 
        {
            columnName = dateTime; 
            externalType = DATE; 
            name = dateTime; 
            userInfo = {modificationDate = "2002-06-04 14:00:54 +0200"; }; 
            valueClassName = NSCalendarDate; 
            valueType = T; 
        }, 
        {
            columnName = doubleNumber; 
            externalType = NUMBER; 
            name = doubleNumber; 
            userInfo = {modificationDate = "2002-06-04 14:00:54 +0200"; }; 
            valueClassName = NSNumber; 
            valueType = d; 
        }, 
        {
            adaptorValueConversionMethodName = toString; 
            columnName = duration; 
            externalType = TEXT; 
            factoryMethodArgumentType = EOFactoryMethodArgumentIsNSString; 
            name = duration; 
            userInfo = {modificationDate = "2002-08-21 22:42:33 +0200"; }; 
            valueClassName = "javax.xml.datatype.Duration"; 
            valueFactoryClassName = "er.prototypes.ValueFactory"; 
            valueFactoryMethodName = duration; 
            width = 28; 
        }, 
        {
            columnName = flag; 
            externalType = NUMBER; 
            name = flag; 
            userInfo = {modificationDate = "2002-07-21 21:47:30 +0200"; }; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            adaptorValueConversionMethodName = asString; 
            columnName = globalID; 
            externalType = TEXT; 
            factoryMethodArgumentType = EOFactoryMethodArgumentIsNSString; 
            name = globalID; 
            valueClassName = "er.extensions.eof.ERXKeyGlobalID"; 
            valueFactoryMethodName = fromString; 
            valueType = c; 
            width = 255; 
        }, 
        {
            columnName = id; 
            externalType = NUMBER; 
            name = id; 
            serverTimeZone = "Europe/Berlin"; 
            userInfo = {modificationDate = "2002-05-03 15:42:07 +0200"; }; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            adaptorValueConversionMethodName = toString; 
            columnName = intBoolean; 
            externalType = NUMBER; 
            factoryMethodArgumentType = EOFactoryMethodArgumentIsNSString; 
            name = intBoolean; 
            valueClassName = NSNumber; 
            valueFactoryMethodName = valueOf; 
            valueType = c; 
        }, 
        {
            columnName = intNumber; 
            externalType = NUMBER; 
            name = intNumber; 
            userInfo = {modificationDate = "2002-07-21 21:47:31 +0200"; }; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = ipAddress; 
            externalType = TEXT; 
            name = ipAddress; 
            valueClassName = NSString; 
            valueType = c; 
            width = 39; 
        }, 
        {
            adaptorValueConversionMethodName = name; 
            columnName = javaEnum; 
            externalType = TEXT; 
            factoryMethodArgumentType = EOFactoryMethodArgumentIsNSString; 
            name = javaEnum; 
            valueClassName = "java.lang.Enum"; 
            valueFactoryMethodName = valueOf; 
            width = 50; 
        }, 
        {
            adaptorValueConversionClassName = "er.prototypes.ValueConversion"; 
            adaptorValueConversionMethodName = jodaDateTime; 
            columnName = ""; 
            externalType = DATE; 
            factoryMethodArgumentType = EOFactoryMethodArgumentIsDate; 
            name = jodaDateTime; 
            valueClassName = "org.joda.time.DateTime"; 
            valueFactoryClassName = "er.prototypes.ValueFactory"; 
            valueFactoryMethodName = jodaDateTime; 
            valueType = T; 
        }, 
        {
            adaptorValueConversionClassName = "er.prototypes.ValueConversion"; 
            adaptorValueConversionMethodName = jodaLocalDate; 
            columnName = ""; 
            externalType = DATE; 
            factoryMethodArgumentType = EOFactoryMethodArgumentIsDate; 
            name = jodaLocalDate; 
            valueClassName = "org.joda.time.LocalDate"; 
            valueFactoryClassName = "er.prototypes.ValueFactory"; 
            valueFactoryMethodName = jodaLocalDate; 
            valueType = D; 
        }, 
        {
            adaptorValueConversionClassName = "er.prototypes.ValueConversion"; 
            adaptorValueConversionMethodName = jodaLocalDateTime; 
            columnName = ""; 
            externalType = DATE; 
            factoryMethodArgumentType = EOFactoryMethodArgumentIsDate; 
            name = jodaLocalDateTime; 
            valueClassName = "org.joda.time.LocalDateTime"; 
            valueFactoryClassName = "er.prototypes.ValueFactory"; 
            valueFactoryMethodName = jodaLocalDateTime; 
            valueType = T; 
        }, 
        {
            adaptorValueConversionClassName = "er.prototypes.ValueConversion"; 
            adaptorValueConversionMethodName = jodaLocalTime; 
            columnName = ""; 
            externalType = DATE; 
            factoryMethodArgumentType = EOFactoryMethodArgumentIsDate; 
            name = jodaLocalTime; 
            valueClassName = "org.joda.time.LocalTime"; 
            valueFactoryClassName = "er.prototypes.ValueFactory"; 
            valueFactoryMethodName = jodaLocalTime; 
            valueType = t; 
        }, 
        {
            columnName = longNumber; 
            externalType = NUMBER; 
            name = longNumber; 
            valueClassName = NSNumber; 
            valueType = l; 
        }, 
        {
            columnName = longText; 
            externalType = NUBER; 
            name = longText; 
            userInfo = {modificationDate = "2002-07-21 21:47:32 +0200"; }; 
            valueClassName = NSString; 
            valueType = c; 
            width = 10000000; 
        }, 
        {
            adaptorValueConversionMethodName = toBlob; 
            columnName = mutableArray; 
            externalType = "OLE Object"; 
            name = mutableArray; 
            valueClassName = "er.extensions.foundation.ERXMutableArray"; 
            valueFactoryMethodName = fromBlob; 
        }, 
        {
            adaptorValueConversionMethodName = toBlob; 
            columnName = mutableDictionary; 
            externalType = "OLE Object"; 
            name = mutableDictionary; 
            valueClassName = "er.extensions.foundation.ERXMutableDictionary"; 
            valueFactoryMethodName = fromBlob; 
        }, 
        {
            adaptorValueConversionClassName = "er.prototypes.ValueConversion"; 
            adaptorValueConversionMethodName = serializable; 
            columnName = serializable; 
            externalType = "OLE Object"; 
            factoryMethodArgumentType = EOFactoryMethodArgumentIsBytes; 
            name = serializable; 
            valueClassName = "java.io.Serializable"; 
            valueFactoryClassName = "er.prototypes.ValueFactory"; 
            valueFactoryMethodName = serializable; 
        }, 
        {
            adaptorValueConversionClassName = "er.prototypes.ValueConversion"; 
            adaptorValueConversionMethodName = blobArray; 
            columnName = blobArray; 
            externalType = "OLE Object"; 
            factoryMethodArgumentType = EOFactoryMethodArgumentIsData; 
            name = blobArray; 
            valueClassName = "com.webobjects.foundation.NSArray"; 
            valueFactoryClassName = "er.prototypes.ValueFactory"; 
            valueFactoryMethodName = blobArray; 
        }, 
        {
            adaptorValueConversionClassName = "er.prototypes.ValueConversion"; 
            adaptorValueConversionMethodName = blobDictionary; 
            columnName = blobDictionary; 
            externalType = "OLE Object"; 
            factoryMethodArgumentType = EOFactoryMethodArgumentIsData; 
            name = blobDictionary; 
            valueClassName = "com.webobjects.foundation.NSDictionary"; 
            valueFactoryClassName = "er.prototypes.ValueFactory"; 
            valueFactoryMethodName = blobDictionary; 
        }, 
        {
            adaptorValueConversionClassName = "er.prototypes.ValueConversion"; 
            adaptorValueConversionMethodName = stringArray; 
            columnName = stringArray; 
            externalType = MEMO; 
            factoryMethodArgumentType = EOFactoryMethodArgumentIsNSString; 
            name = stringArray; 
            valueClassName = "com.webobjects.foundation.NSArray"; 
            valueFactoryClassName = "er.prototypes.ValueFactory"; 
            valueFactoryMethodName = stringArray; 
            valueType = c; 
            width = 32765; 
        }, 
        {
            adaptorValueConversionClassName = "er.prototypes.ValueConversion"; 
            adaptorValueConversionMethodName = stringDictionary; 
            columnName = stringDictionary; 
            externalType = MEMO; 
            factoryMethodArgumentType = EOFactoryMethodArgumentIsNSString; 
            name = stringDictionary; 
            valueClassName = "com.webobjects.foundation.NSDictionary"; 
            valueFactoryClassName = "er.prototypes.ValueFactory"; 
            valueFactoryMethodName = stringDictionary; 
            valueType = c; 
            width = 32765; 
        }, 
        {
            columnName = osType; 
            externalType = TEXT; 
            name = osType; 
            userInfo = {modificationDate = "2002-06-04 14:00:54 +0200"; }; 
            valueClassName = NSString; 
            valueType = c; 
            width = 4; 
        }, 
        {
            columnName = shortString; 
            externalType = TEXT; 
            name = shortString; 
            userInfo = {modificationDate = "2002-07-21 21:47:32 +0200"; }; 
            valueClassName = NSString; 
            valueType = c; 
            width = 50; 
        }, 
        {
            columnName = type; 
            externalType = TEXT; 
            name = type; 
            userInfo = {modificationDate = "2002-07-21 21:47:33 +0200"; }; 
            valueClassName = NSString; 
            valueType = c; 
            width = 4; 
        }, 
        {
            columnName = varchar10; 
            externalType = TEXT; 
            name = varchar10; 
            userInfo = {modificationDate = "2002-06-04 14:00:54 +0200"; }; 
            valueClassName = NSString; 
            valueType = c; 
            width = 10; 
        }, 
        {
            columnName = varchar100; 
            externalType = TEXT; 
            name = varchar100; 
            serverTimeZone = "Europe/Berlin"; 
            userInfo = {modificationDate = "2002-06-04 14:00:54 +0200"; }; 
            valueClassName = NSString; 
            valueType = c; 
            width = 100; 
        }, 
        {
            columnName = varchar1000; 
            externalType = TEXT; 
            name = varchar1000; 
            userInfo = {modificationDate = "2002-06-04 14:00:54 +0200"; }; 
            valueClassName = NSString; 
            valueType = c; 
            width = 1000; 
        }, 
        {
            columnName = varchar16; 
            externalType = TEXT; 
            name = varchar16; 
            serverTimeZone = "Europe/Berlin"; 
            userInfo = {modificationDate = "2002-06-04 14:00:54 +0200"; }; 
            valueClassName = NSString; 
            valueType = c; 
            width = 16; 
        }, 
        {
            columnName = varchar255; 
            externalType = TEXT; 
            name = varchar255; 
            serverTimeZone = "Europe/Berlin"; 
            userInfo = {modificationDate = "2002-06-04 14:00:54 +0200"; }; 
            valueClassName = NSString; 
            valueType = c; 
            width = 255; 
        }, 
        {
            columnName = varchar50; 
            externalType = TEXT; 
            name = varchar50; 
            serverTimeZone = "Europe/Berlin"; 
            userInfo = {modificationDate = "2002-08-21 22:42:33 +0200"; }; 
            valueClassName = NSString; 
            valueType = c; 
            width = 50; 
        }, 
        {
            columnName = varcharLarge; 
            externalType = MEMO; 
            name = varcharLarge; 
            userInfo = {modificationDate = "2002-08-19 11:56:16 +0200"; }; 
            valueClassName = NSString; 
            valueType = c; 
            width = 32765; 
        }
    ); 
    attributesUsedForLocking = (id); 
    className = EOGenericRecord; 
    classProperties = (
        amount, 
        blob, 
        blobArray, 
        blobDictionary, 
        boolean, 
        charFlag, 
        cryptoString, 
        currencyAmount, 
        date, 
        dateTime, 
        doubleNumber, 
        duration, 
        flag, 
        globalID, 
        intBoolean, 
        intNumber, 
        ipAddress, 
        javaEnum, 
        jodaDateTime, 
        jodaLocalDate, 
        jodaLocalDateTime, 
        jodaLocalTime, 
        longNumber, 
        longText, 
        mutableArray, 
        mutableDictionary, 
        osType, 
        serializable, 
        shortString, 
        stringArray, 
        stringDictionary, 
        type, 
        varchar10, 
        varchar100, 
        varchar1000, 
        varchar16, 
        varchar255, 
        varchar50, 
        varcharLarge
    ); 
    externalName = EOJDBCAccessPrototypes; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {
        "_clientClassPropertyNames" = (
            amount, 
            blob, 
            boolean, 
            charFlag, 
            date, 
            dateTime, 
            doubleNumber, 
            duration, 
            flag, 
            id, 
            intBoolean, 
            intNumber, 
            jodaLocalDate, 
            jodaLocalDateTime, 
            jodaLocalTime, 
            longNumber, 
            longText, 
            mutableArray, 
            mutableDictionary, 
            osType, 
            shortString, 
            type, 
            varchar10, 
            varchar100, 
            varchar1000, 
            varchar16, 
            varchar255, 
            varchar50, 
            varcharLarge
        ); 
    }; 
    isAbstractEntity = Y; 
    name = EOJDBCAccessPrototypes; 
    primaryKeyAttributes = (id); 
}
