* {
	padding: 0;
	margin: 0;
}

div#a {
	width:auto;
	max-width: 1735px;
	margin-left: 1em;
}

div#a h1.task {
	margin-top: 0.5em;
}

div#a h2.entity {
	-moz-border-radius-topright: 3px;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	margin-bottom: 5px;
}

div#a h2.entity span {
	vertical-align: middle;
}

div#b {
	width: 180px;
	background-color: #336699;
}

div#c {
	display: none;
}

div#vertical_divider {
	width:1px;
	border-style:outset;
	border-width:2px;
	background-color: #336699;
	border-left-color: SteelBlue;
	border-top-color: SteelBlue;
	border-right-color: DarkGray;
	cursor: pointer;
}

div#b, div#vertical_divider, div#a {
	float: left;
	min-height: 1200px;
}

body {
    background-color: white;
	min-width: 1920px;
	font-family: Times;
    font-size: 16px;
    color: #0c1830;
}

#webobjects_logo {
	display: none;
}

#busy {
	position: absolute; 
	min-height: 1200px;
	width: 100%; 
	height: 100%; 
	top: 0px; 
	left: 185px; 
	z-index: 9999;
}

#busy div {
	text-indent: -5000px;
	background: url(/WebObjects/Frameworks/Ajax.framework/WebServerResources/wait16.gif) no-repeat;
	width: 16px;
	height: 16px;
}

/* globals */

ul, ol {
	list-style-type: none;
}

span.required {
	color: red;
}

em {
	font-size: 9pt;
	color: #777777;
}

em:before {
	content: "(";
}

em:after {
	content: ")";
}

button {
	cursor: pointer;
}

fieldset {
	border: 0;
}

legend {
	font-weight: bold;
	color: black;
}

th {
  background-color: white;
}

tr {
  background-color: #eeeeee;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

div.clear {
	clear: both;
	height: 0;
}

input, textarea {
	border: 2px solid rgb(219, 222, 227);
	padding: 2px;
}

select {
    border: none;
    overflow: auto;
}

option {
	border-bottom: 1px dotted #eeeeee;
}

option:hover {
	color: blue;
}

br {
	clear: both;
}

/* d2w debug */

span.d2wdebug {
	font-size: 9pt; 
}

/* The following are styles for the links */

div#b div.link a {
	clear: both;
	display: block;
	width:156px;
	height:32px;
	border: 0px;
	cursor: pointer;
	color: white;
	font-size: 14pt;
}

div#b div.link a, div#b ul.action, div#b h3.section {
	margin-left:auto;
	margin-right:auto;
}

a#home_link {
	text-indent: -5000px;
	background: url(/WebObjects/Frameworks/JavaDirectToWeb.framework/WebServerResources/HomeWOBoxMenu.gif) 0 50% no-repeat;
}

div#b h3.section {
	margin-top: 1em;
	font-size: 16px;
}

/* The following are styles for the entities menu */

div#b ul.action li, div#b h3.section {
	width: 135px;
}

div#b ul.action li {
	height: 21px;
}

div#b ul.action {
	border-style: inset;
	background-color: white;
	border-width: 1px;
	-webkit-appearance: listbox;
	width: 150px;
	max-height: 175px;
	overflow-y: scroll;
	overflow-x: hidden;
}

div#b ul.action li:hover a.text {
	text-decoration: none;
	color: white;
}

div#b ul.action a {
	line-height: 21px;
}

div#b ul.action a.text {
	float: left;
	width: 96px;
}

div#b ul.action a.box_add {
	float: right;
	width: 18px;
	text-indent: -5000px;
}

div#b ul.action a.box_query {
	text-indent: -5000px;
	float: left;
	width: 21px;
	color: white;
}

div#b ul.action li:hover {
	background-color: #336699;
	color: white;
}

div#b ul.action li:hover a {
	color: white;
	text-decoration: none;
}

div#b ul.action li:hover a.box_query {
	background: url(/WebObjects/Frameworks/JavaDirectToWeb.framework/WebServerResources/magglass-btn.png) no-repeat 1px 50%;
}

div#b ul.action li:hover a.box_add {
	background: url(/WebObjects/Frameworks/ERExtensions.framework/WebServerResources/plus.gif) no-repeat 1px 50%;
}
