* {
	padding: 0;
	margin: 0;
}

body {
  	background-image: url(/WebObjects/Frameworks/JavaDirectToWeb.framework/WebServerResources/fuzzyGreyStripe.gif);
	min-width: 1920px;
	font-family: lucinda grande, helvatica, arial, sans-serif;
	font-size: 11px;
	color: white;
}

div#a, div#b, div#vertical_divider {
	float: left;
}

div#vertical_divider {
	visibility: hidden;
}

div#a {
  	padding: 30px;
  	margin: 30px;
  	background-color: black;
  	-webkit-box-shadow: 10px 10px 5px #1f1f1f;
  	box-shadow: 10px 10px 5px #1f1f1f;
  	-moz-box-shadow: 10px 10px 5px #1f1f1f;
	max-width: 1675px;
	border: solid #181818 10px;
}

div#b {
	padding: 30px;
	margin: 30px;
	background-color: black;
	width: 160px;
	-webkit-box-shadow: 10px 10px 5px #1f1f1f;
	box-shadow: 10px 10px 5px #1f1f1f;
	-moz-box-shadow: 10px 10px 5px #1f1f1f;
	border: solid #181818 10px;
}

div#c {
	display: none;
}

#webobjects_logo {
	text-indent: -5000px;
	background: url(/WebObjects/Frameworks/JavaDirectToWeb.framework/WebServerResources/Apple-bw.gif);
	width: 111px;
	height: 37px;
	margin-top:1px;
}

div#a h1 {
	margin-bottom: 5px;
}

div#a h2.entity {
	background-color: #333333;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	margin-bottom: 1em;
	padding-left: 3px;
	color: white;
}

#busy {
	position: absolute; 
	width: 100%; 
	height: 100%; 
	top: 0px; 
	left: 0px; 
	z-index: 9999;
}

#busy div {
	color: white;
}

/* globals */

ul, ol {
	list-style-type: none;
}

span.required {
	color: red;
}

em {
	font-size: xx-small;
	color: #777777;
}

em:before {
	content: "(";
}

em:after {
	content: ")";
}

fieldset {
	border: 0;
}

legend {
	font-weight: bold;
}

a, a:link {
	text-decoration: none;
	color: #808080;
}

a:hover {
	text-decoration: underline;
}

button {
	border: none;
	background-color: transparent;
	cursor: pointer;
	color: white;
}

button:hover {
	text-decoration: underline;
}

br {
	clear: both;
}

/* The following are styles for the menu */

div#b div.link, div#b h3.section {
	padding: 5px;
	margin: 5px;
	font-weight: bold;
}

div#b ul.action, div#b ul.action li div {
	background-color: white;
}

div#b ul.action, div#b h3.section {
	margin: 5px;
}

div#b h3.section {
	padding: 5px;
	margin: 5px;
}

div#b ul.action li, div#b ul.action {
	width: 150px;
}

div#b ul.action a.text {
	float: left;
	width: 109px;
}

div#b ul.action li {
	height: 21px;
	font-size: 12px;
}

div#b ul.action a {
	line-height: 21px;
}

div#b ul.action a.box_add {
	float: right;
	width: 18px;
	font-size: 14px;
	text-indent: -5000px;
	text-align: center;
}

div#b ul.action a.box_query {
	float: left;
	width: 21px;
	text-indent: -5000px;
	text-align: center;
}

div#b ul.action a.text {
	margin-left: 2px;
}

div#b ul.action li:hover {
	background-color: black;
	color: white;
}

div#b ul.action li:hover a {
	color: white;
	text-decoration: none;
}

div#b ul.action li:hover a.box_add {
	background: #808080;
	text-indent: 0;
	text-shadow: 2px 2px 2px #000;
}

div#b ul.action li:hover a.box_query {
	background: #808080;
	text-indent: 0;
	text-shadow: 2px 2px 2px #000;
}

/* The following are styles for the links */

div#b div.link a {
	clear: both;
	display: block;
	border: 0px;
	cursor: pointer;
}

a#home_link {
	text-indent: -5000px;
	background: url(/WebObjects/Frameworks/JavaDirectToWeb.framework/WebServerResources/home-btn.gif) no-repeat;
	width: 100px;
	height: 27px;
}

a#toggle_look_link {
	font-size: 14pt;
}

a#toggle_look_link, div#b h3.section {
	margin-left: 15px;
}
