.calendar_date_select {
  color:white;
}

.calendar_date_select thead th {
  background-color: #000;
  border-top:1px solid #777;
  border-bottom:2px solid #333;
  color: white !important;
}

.calendar_date_select .cds_buttons {
  background-color: #555;
}

.calendar_date_select .cds_footer {
  background-color: black;
  font-size:12px;
}

.calendar_date_select .cds_header {
  background-color: #ccc;
  border-bottom: 2px solid #aaa;
}

.calendar_date_select .cds_buttons a {
  color: white;
}

.calendar_date_select td {
  background-color: #666666;
}

.calendar_date_select td.weekend {
  background-color: #606060;
}

.calendar_date_select td div {
  color: #fff;
}

.calendar_date_select td div.other {
  color: #888;
}

.calendar_date_select td.selected div {
  color:black;
}

.calendar_date_select tbody td {
  border-bottom: 1px solid #555;
}

.calendar_date_select td.selected {
  background-color:white;
}

.calendar_date_select td.disabled div {
  color: #454545;
}
