
.ERXSortOrder2_None, .ERXSortOrder2_Down, .ERXSortOrder2_Up {
	width: 9px;
	height: 11px;
	text-indent: -5000px;
	display: block;
	border: 0px;
	cursor: pointer;
}

.ERXSortOrder2_None {
	background: url(/WebObjects/Frameworks/JavaDirectToWeb.framework/WebServerResources/UnsortedForOnBlack.gif) no-repeat;
}

.ERXSortOrder2_Down {
	background: url(/WebObjects/Frameworks/JavaDirectToWeb.framework/WebServerResources/AscendingForOnBlack.gif) no-repeat;
}

.ERXSortOrder2_Up {
	background: url(/WebObjects/Frameworks/JavaDirectToWeb.framework/WebServerResources/DescendingForOnBlack.gif) no-repeat;
}
