<html>
    <webobject name="Head">
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <webobject name=ERXStyleSheet></webobject>
    </webobject>
    <webobject name = "Body">
        <table class="ContentTable">
            <tr>
                <td class="HeaderRow"><webobject name=Header></webobject></td>
            </tr>
            <tr>
                <td class="ContentRow">
                    <webobject name=Content></webobject>
					<webobject name = "IsDebug"><webobject name="ERD2WDebugFlags"></webobject></webobject>
                </td>
            </tr>
        </table>
    </webobject>
</html>