<html>
    <webobject name="Head">
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <webobject name=ERXStyleSheet></webobject>
    </webobject>
    <body>
        <table width="100%">
            <tr>
                <td><webobject name=Header></webobject></td>
            </tr>
            <tr>
                <td align=center valign=top>
                    <center>
                        <webobject name=Body></webobject>
                    </center>
                </td>
            </tr>
        </table>
    </body>
</html>