{
    localizers = {
        "de" = {
            isPluralizing = YES;
        };
        "en" = {
            isPluralizing = YES;
        };
        "jp" = {
            isPluralizing = NO;
        };
        "no" = {
            isPluralizing = YES;
        };
    };
    aliases = {
        "German" = "de";
        "English" = "en";
        "Japanese" = "jp";
        "Norwegian" = "no";
    };
}
