<?xml version="1.0" encoding="UTF-8"?>
<plist version="0.9">
<dict>
  <key>CFBundleName</key>                    <string>Wonder ERExtensions Framework</string>
  <key>CFBundleIdentifier</key>              <string>er.extensions</string>
  <key>CFBundleShortVersionString</key>      <string>6.0.1</string>
  <key>CFBundleInfoDictionaryVersion</key>   <string>6.0</string>
  <key>CFBundlePackageType</key>             <string>FMWK</string>
  <key>CFBundleSignature</key>               <string>webo</string>
</dict>
</plist>
