{
Version = "1.0";
Name = "IBM Jikes";
Executables = ("$(NEXT_ROOT)/Local/Library/Executables/jikes.bat");
OperatingSystems = (windows );
Architectures = ((i386));
Language = Java;
OutputFormat = {
   Status = ();
   Warnings = (
	"(.*):([0-9]*):[0-9]*:[0-9]*:[0-9]*: Warning: (.*)$",


	"^/usr/bin/javac: (.*)$", 
	"^javac: (.*)$", 
	"^Note: (.*)() uses a deprecated API.  (.*)$", 
	"^(.*):([0-9]*): Note: (.*)$"
    );
   Errors = (
	"(.*):([0-9]*):[0-9]*:[0-9]*:[0-9]*: (.*)$",



	"^(.*):([0-9]*): (.*)$",
	 "^javatool: ()()(.*)$", 
	"^()()(.*exiting javatool!)$"
    );
   File = (
	"^/usr/bin/javac .* (.*\.java)$"
    );
   Operation = "Compiling";
   };
}