(

"^java\\.lang\\.reflect\\.Method\\..*",
"^sun\\.reflect\\.NativeMethodAccessorImpl\\..*",
"^sun\\.reflect\\.DelegatingMethodAccessorImpl\\..*",
"^com\\.webobjects\\.foundation\\.NSSelector\\..*",
"^sun\\.reflect\\.GeneratedMethodAccessor.*",

"^com\\.webobjects\\.appserver\\.WOApplication\\.dispatchRequest$",
"^com\\.webobjects\\.appserver\\.WOComponent\\.appendToResponse$",
"^com\\.webobjects\\.appserver\\.WOComponent\\._appendPageToResponse$",
"^com\\.webobjects\\.appserver\\.WOComponent\\._generateResponseInContext$",
"^com\\.webobjects\\.appserver\\.WOComponent\\.generateResponse$",
"^com\\.webobjects\\.appserver\\.WOComponent\\.takeValueForKey$",
"^com\\.webobjects\\.appserver\\.WOComponent\\.takeValueForKeyPath$",
"^com\\.webobjects\\.appserver\\.WOComponent\\.valueForBinding$",
"^com\\.webobjects\\.appserver\\.WOComponent\\.valueForKey$",
"^com\\.webobjects\\.appserver\\.WOComponent\\.valueForKeyPath$",

"^com\\.webobjects\\.appserver\\._private\\..*",
"^com\\.webobjects\\.appserver\\._private\\.WOActionRequestHandler\\..*",
"^com\\.webobjects\\.appserver\\._private\\.WOComponentContent\\..*",
"^com\\.webobjects\\.appserver\\._private\\.WOComponentReference\\..*",
"^com\\.webobjects\\.appserver\\._private\\.WODynamicGroup\\..*",
"^com\\.webobjects\\.appserver\\._private\\.WOKeyValueAssociation\\..*",

"^com\\.webobjects\\.foundation\\.NSKeyValueCoding\\$.*",
"^com\\.webobjects\\.foundation\\.NSKeyValueCodingAdditions\\$.*",
"^com\\.webobjects\\.foundation\\.NSNotificationCenter\\$_Entry\\..*",

"^er\\.extensions\\.appserver\\.ERXDirectActionRequestHandler\\..*",
"^er\\.extensions\\.appserver\\.ERXApplication\\.dispatchRequestImmediately$",
"^er\\.extensions\\.appserver\\.ERXApplication\\.dispatchRequest$",
"^er\\.extensions\\.components\\._private\\..*",
"^er\\.extensions\\.components\\.ERXComponent\\.appendToResponse$"

)