<svg style="fill-rule:nonzero;clip-rule:nonzero;stroke:#000000;stroke-miterlimit:4; font-family:'Myriad-Roman'; font-size:195.3435;">
        <g>
                <g>
                    <linearGradient id="aigrd3" gradientUnits="userSpaceOnUse" x1="81.9229" y1="-21.4438" x2="279.5647" y2="176.1994">
                        <stop  offset="0" style="stop-color:#E2E1E1"/>
                        <stop  offset="0.1999" style="stop-color:#DBDBD9"/>
                        <stop  offset="0.3779" style="stop-color:#C9C8C5"/>
                        <stop  offset="0.5476" style="stop-color:#ADABA7"/>
                        <stop  offset="0.7123" style="stop-color:#898682"/>
                        <stop  offset="0.8717" style="stop-color:#605E5C"/>
                        <stop  offset="1" style="stop-color:#404040"/>
                    </linearGradient>
                    <linearGradient id="aigrd4" gradientUnits="userSpaceOnUse" x1="112.6865" y1="-52.2075" x2="310.3284" y2="145.4357">
                        <stop  offset="0" style="stop-color:#E2E1E1"/>
                        <stop  offset="0.1999" style="stop-color:#DBDBD9"/>
                        <stop  offset="0.3779" style="stop-color:#C9C8C5"/>
                        <stop  offset="0.5476" style="stop-color:#ADABA7"/>
                        <stop  offset="0.7123" style="stop-color:#898682"/>
                        <stop  offset="0.8717" style="stop-color:#605E5C"/>
                        <stop  offset="1" style="stop-color:#404040"/>
                    </linearGradient>
                </g>
                <text transform="matrix(0.9775 0 0 1 0 162.3291)"><tspan x="0" y="0" style="fill:url(#aigrd4);stroke:none;"><webobject name=TextString></webobject></tspan></text>
                <text transform="matrix(0.9775 0 0 1 0 162.3291)"><tspan x="0" y="0" style="stroke:none;fill:url(#aigrd3)"><webobject name=TextString></webobject></tspan></text>
        </g>
</svg>