{
    cell = {
        cellType = (
            CELL_TYPE_STRING,
            CELL_TYPE_FORMULA,
            CELL_TYPE_NUMERIC,
            CELL_TYPE_BLANK,
            CELL_TYPE_BOOLEAN,
            CELL_TYPE_ERROR
        );
    };
    
    font  = {
        bold = (
            BOLDWEIGHT_NORMAL,
            BOLDWEIGHT_BOLD
        );
        underline = (
            U_NONE,
            U_SINGLE,
            U_DOUBLE,
            U_SINGLE_ACCOUNTING
        );
        typeOffset = (
            SS_NONE,
            SS_SUPER,
            SS_SUB
        );
    };
    
    style = {
        alignment = (
            ALIGN_GENERAL,
            ALIGN_LEFT,
            ALIGN_CENTER,
            ALIGN_RIGHT
        );
        verticalAligment = (
            VERTICAL_TOP,
            VERTICAL_CENTER,
            VERTICAL_BOTTOM,
            VERTICAL_JUSTIFY
        );
        borderLeft = (
            BORDER_NONE,
            BORDER_THIN,
            BORDER_MEDIUM,
            BORDER_DASHED,
            BORDER_HAIR,
            BORDER_DOUBLE,
            BORDER_DOTTED,
            BORDER_MEDIUM_DASHED,
            BORDER_DASH_DOT,
            BORDER_MEDIUM_DASH_DOT,
            BORDER_DASH_DOT_DOT,
            BORDER_MEDIUM_DASH_DOT_DOT,
            BORDER_SLANTED_DASH_DOT
        );
        borderTop = (
            BORDER_NONE,
            BORDER_THIN,
            BORDER_MEDIUM,
            BORDER_DASHED,
            BORDER_HAIR,
            BORDER_DOUBLE,
            BORDER_DOTTED,
            BORDER_MEDIUM_DASHED,
            BORDER_DASH_DOT,
            BORDER_MEDIUM_DASH_DOT,
            BORDER_DASH_DOT_DOT,
            BORDER_MEDIUM_DASH_DOT_DOT,
            BORDER_SLANTED_DASH_DOT
        );
        borderRight = (
            BORDER_NONE,
            BORDER_THIN,
            BORDER_MEDIUM,
            BORDER_DASHED,
            BORDER_HAIR,
            BORDER_DOUBLE,
            BORDER_DOTTED,
            BORDER_MEDIUM_DASHED,
            BORDER_DASH_DOT,
            BORDER_MEDIUM_DASH_DOT,
            BORDER_DASH_DOT_DOT,
            BORDER_MEDIUM_DASH_DOT_DOT,
            BORDER_SLANTED_DASH_DOT
        );
        borderBottom= (
            BORDER_NONE,
            BORDER_THIN,
            BORDER_MEDIUM,
            BORDER_DASHED,
            BORDER_HAIR,
            BORDER_DOUBLE,
            BORDER_DOTTED,
            BORDER_MEDIUM_DASHED,
            BORDER_DASH_DOT,
            BORDER_MEDIUM_DASH_DOT,
            BORDER_DASH_DOT_DOT,
            BORDER_MEDIUM_DASH_DOT_DOT,
            BORDER_SLANTED_DASH_DOT
        );
        fillPattern = (
            NO_FILL,
            SOLID_FOREGROUND,
            FINE_DOTS,
            ALT_BARS,
            SPARSE_DOTS,
            THICK_HORZ_BANDS,
            THICK_VERT_BANDS,
            THICK_BACKWARD_DIAG,
            THICK_FORWARD_DIAG,
            BIG_SPOTS,
            BRICKS,
            THIN_HORZ_BANDS,
            THIN_BACKWARD_DIAG,
            THIN_FORWARD_DIAG,
            SQUARES,
            DIAMONDS
        );
    };
}