<table width=300 cellpadding=0 cellspacing=1 border=0 bgcolor=#555555>
        <tr bgcolor=#ffffff>
            <td width=50%><font size=2>Your first name and initial</font><br>
                <webobject name=TextField1></webobject></td>
            <td width=50% align=RIGHT><font size=2>Last name</font><br>
                <webobject name=TextField2></webobject></td>
        </tr>
        <tr bgcolor=#ffffff>
            <td><font size=2>Spouse's first name and initial</font><br>
                <webobject name=TextField3></webobject></td>
            <td align=RIGHT><font size=2>Last name:</font><br>
                <webobject name=TextField4></webobject></td>
        </tr>
        <tr bgcolor=#ffffff>
            <td width=80%><font size=2>Home address:</font></td>
            <td width=20% align=RIGHT><font size=2>Apt. no.</font></td>
        </tr>
        <tr bgcolor=#ffffff>
            <td colspan=2><webobject name=TextField5></webobject><webobject name=TextField6></webobject></td>
        </tr>
        <tr bgcolor=#ffffff>
            <td colspan=2><font size=2>City, town or Post Office</font><br>
                <webobject name=TextField7></webobject></td>
        </tr>
    </table>