<WEBOBJECT NAME=Template>
	<P ALIGN=CENTER><B><FONT COLOR=#ff0003><WEBOBJECT NAME=String5></WEBOBJECT></FONT></B></P>
	<WEBOBJECT NAME=Form1>Choose a year to show: <WEBOBJECT NAME=PopUpButton1></WEBOBJECT><FONT SIZE=4><BR></FONT><BR>
		<WEBOBJECT NAME=LeaveSummarySub1></WEBOBJECT><BR><FONT SIZE=4><WEBOBJECT NAME=SubmitButton5></WEBOBJECT></FONT><FONT SIZE=4><BR></FONT><BR><WEBOBJECT NAME=Conditional1><FONT COLOR=#ff0016><FONT SIZE=4>Requested Dates outstanding.<BR></FONT></FONT></WEBOBJECT><WEBOBJECT NAME=Custom1><TABLE CELLSPACING=2 CELLPADDING=2 BORDER=0 WIDTH=100% BGCOLOR=#ffffff>
				<TR BGCOLOR=#7b69ff>
					<TD><FONT COLOR=#fff8f2>Type</FONT></TD><TD><FONT COLOR=#fff8f2>From</FONT></TD><TD><FONT COLOR=#fff8f2>To</FONT></TD><TD><FONT COLOR=#fff8f2># days</FONT></TD><TD><FONT COLOR=#fff8f2>Description</FONT></TD><TD><FONT COLOR=#fff8f2>Delete</FONT></TD>
				</TR><WEBOBJECT NAME=Repetition1><TR><TD><FONT SIZE=4><WEBOBJECT NAME=PopUpButton2></WEBOBJECT></FONT></TD><TD><WEBOBJECT NAME=TextField11></WEBOBJECT>&nbsp;<FONT SIZE=2><WEBOBJECT NAME=PopUpButton5></WEBOBJECT></FONT></TD><TD><WEBOBJECT NAME=TextField12></WEBOBJECT>&nbsp;<FONT SIZE=2><WEBOBJECT NAME=PopUpButton6></WEBOBJECT></FONT><FONT SIZE=2></FONT></TD><TD><WEBOBJECT NAME=TextField13></WEBOBJECT></TD><TD><WEBOBJECT NAME=TextField14></WEBOBJECT></TD><TD ALIGN=CENTER><WEBOBJECT NAME=SubmitButton6></WEBOBJECT></TD></TR></WEBOBJECT>
			</TABLE>
		</WEBOBJECT><BR><BR><WEBOBJECT NAME=CollapsibleComponent1><WEBOBJECT NAME=AddDateSubComponent1></WEBOBJECT><FONT SIZE=4><WEBOBJECT NAME=SubmitButton3></WEBOBJECT></FONT></WEBOBJECT>
		
	</WEBOBJECT></WEBOBJECT>