<webobject name = "AjaxExampleComponent">
AjaxInPlace provides support for arbitrarily complex view and edit components.  This is in 
contrast to AjaxInPlaceEditor, which provides a thin wrapper around the scriptaculous in place editor
component (a text field).

<p>
<b>AjaxInPlace</b>
<webobject name = "ExampleInPlace">
	<webobject name = "View">View: <webobject name = "Value"/></webobject>
	<webobject name = "Edit">Edit: <webobject name = "ValueField"/></webobject>
</webobject>

<pre>

</pre>

<b>AjaxInPlace with Manual Controls</b>
<webobject name = "ExampleInPlaceManual">
	<webobject name = "ViewManual">
		View: <webobject name = "ManualValue"/>
		<br>
		<webobject name = "ClickToEdit">click to edit</webobject>
	</webobject>
	<webobject name = "EditManual">
		Edit: <webobject name = "ManualValueField"/>
		<br>
		<webobject name = "ClickToSave">click to save</webobject>
		<webobject name = "ClickToCancel">click to cancel</webobject>
	</webobject>
</webobject>

<pre>

</pre>

<b>AjaxInPlaceEditor</b>
<webobject name = "HideShowAction">Hide/Show Top Part (Shows In-Place inside AjaxUpdateComponent)</webobject>
<p>
<webobject name = "InLineEditorUpdater">
<webobject name = "ShowConditional">
This is the wrapper for the Scriptaculous In-Place Editor.
<p>
<b>Simple In-Place Editor (click text to edit):</b>
<br>
<webobject name = "InPlaceEditorSimple"></webobject>
<p>
<b>Multiline In-Place Editor (click text to edit):</b>
<br>
<webobject name = "InPlaceEditorMultiline"></webobject>
</webobject>
</webobject>
<p>
<b>In-Place Editor Stripped (click text to edit).  Click outside the textfield to stop editing.:</b>
<br>
<webobject name = "InPlaceEditorStripped"></webobject>
<p>
<b>Numeric In-Place Editor (click text to edit).  This one still has some funky error handling when formatting fails, but we'll fix that.:</b>
<br>
<webobject name = "InPlaceEditorNumeric"></webobject>
</webobject>
