<html>
<head>
</head>
<body>
<b>Simple In-Place Editor (click text to edit):</b>
<br>
<webobject name = "InPlaceEditorSimple"></webobject>
<p>
<b>Multiline In-Place Editor (click text to edit):</b>
<br>
<webobject name = "InPlaceEditorMultiline"></webobject>
<p>
<b>In-Place Editor Stripped (click text to edit):</b>
<br>
<webobject name = "InPlaceEditorStripped"></webobject>
<p>
<b>Numeric In-Place Editor (click text to edit):</b>
<br>
<webobject name = "InPlaceEditorNumeric"></webobject>

</body>
</html>
