<webobject name = "AjaxExampleComponent">
<b>AjaxInPlace</b>
<webobject name = "ExampleInPlace">
	<webobject name = "View">View: <webobject name = "Value"/></webobject>
	<webobject name = "Edit">Edit: <webobject name = "ValueField"/></webobject>
</webobject>
<p>

<b>AjaxInPlaceEditor</b>
<webobject name = "HideShowAction">Hide/Show Top Part (Shows In-Place inside AjaxUpdateComponent)</webobject>
<p>
<webobject name = "InLineEditorUpdater">
<webobject name = "ShowConditional">
This is the wrapper for the Scriptaculous In-Place Editor.
<p>
<b>Simple In-Place Editor (click text to edit):</b>
<br>
<webobject name = "InPlaceEditorSimple"></webobject>
<p>
<b>Multiline In-Place Editor (click text to edit):</b>
<br>
<webobject name = "InPlaceEditorMultiline"></webobject>
</webobject>
</webobject>
<p>
<b>In-Place Editor Stripped (click text to edit).  Click outside the textfield to stop editing.:</b>
<br>
<webobject name = "InPlaceEditorStripped"></webobject>
<p>
<b>Numeric In-Place Editor (click text to edit).  This one still has some funky error handling when formatting fails, but we'll fix that.:</b>
<br>
<webobject name = "InPlaceEditorNumeric"></webobject>
</webobject>
