<webobject name="UseRadio">
<table border=0>
	<tr>
		<td><webobject name=RadioButton1></webobject></td>
		<td><webobject name=ERXLocalizedString1></webobject></td>
		<td><webobject name=RadioButton2></webobject></td>
		<td>&nbsp;<webobject name=ERXLocalizedString2></webobject></td>
		<webobject name=AllowsNull>
			<td><webobject name=RadioButton3></webobject></td>
			<td>&nbsp;<webobject name=ERXLocalizedString3></webobject></td>
		</webobject>
	</tr>
</table>
</webobject>
<webobject name="UseCheckBox">
<table border=0>
	<tr>
		<td><webobject name=Checkbox></webobject></td>
		<td><webobject name=ERXLocalizedString1></webobject></td>
	</tr>
</table>
</webobject>