<webobject name=CheckBoxWrapper><WEBOBJECT NAME=Conditional2>
    <webobject name=CheckBoxRepetition>
    <table border=0 cellpadding=0 cellspacing=0><tr><td VALIGN=TOP ALIGN=CENTER><webobject name=CheckBox></webobject></td><WEBOBJECT NAME=GenericContainer1><webobject name=Content></webobject></WEBOBJECT></tr></table>
    </webobject>
<BR><WEBOBJECT NAME=Conditional1><INPUT TYPE=SUBMIT VALUE="Select All" NAME=SelectAll ONCLICK="checkAll(this.form, true)"> <INPUT TYPE=SUBMIT VALUE="Deselect All" NAME=DeselectAll ONCLICK="checkAll(this.form, false)"><SCRIPT TYPE=text/javascript>function checkAll(form, shouldCheck) {
    var elements = form.elements;
    var i = elements.length;
    while  (i-- >= 0) {
        var element = elements[i];
        if (element.type.toLowerCase() == "checkbox") {
            if (element.checked != shouldCheck) {
                element.checked=shouldCheck;
            }
        }
    }
}
</SCRIPT></WEBOBJECT></WEBOBJECT></webobject>
