<webobject name = "Form">
<webobject name = "ShowForm">
<webobject name = "HasDefaultSubmit"><div style="position: absolute; left: -10000px;"><button type="submit" name="WOFormDummySubmit" value="WOFormDummySubmit" /></div></webobject>
<webobject name = "HasSession"><div style="position: absolute; left: -10000px;"><webobject name = "WOSID" /></div></webobject>
<div style="position: absolute; left: -10000px;"><webobject name = "FID" /></div>
</webobject><webobject name = "Contents" />
</webobject>