<webobject name = "HasItems">
	<webobject name = "IsPopupConditional">
		<webobject name = "PropertyLabel"><webobject name = "LabelString"/></webobject>
		<webobject name = "PopupList" />
	</webobject>
	<webobject name = "IsRadioConditional">
		<webobject name = "RadioButtonFieldset"><webObject name = "String" /></webobject>
	</webobject>
	<webobject name = "IsBrowserConditional">
		<webobject name = "PropertyLabel"><webobject name = "LabelString"/></webobject>
		<webobject name = "Browser" />
	</webobject>
</webobject>
<webobject name = "HasNoItems">
	<webobject name = "PropertyLabel"><webobject name = "LabelString"/></webobject>
	<!-- What should we do here? Give them a ToOneFault object maybe? -->
</webobject>