{
    attributes = (
        {
            columnName = "ACCESS_LEVEL"; 
            externalType = integer; 
            name = accessLevel;  
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = "CUSTOMER_ID"; 
            externalType = integer; 
            name = customerID; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = PASSWORD; 
            externalType = char; 
            name = password; 
            valueClassName = NSString;
            valueType = c; 
            width = 20; 
        }, 
        {
            columnName = "USER_ID"; 
            externalType = integer; 
            name = userID;  
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = LOGIN; 
            externalType = char; 
            name = username; 
            valueClassName = NSString;
            valueType = c; 
            width = 20; 
        }
    ); 
    attributesUsedForLocking = (userID, username, password, accessLevel, customerID); 
    className = "webobjectsexamples.businesslogic.rentals.common.User"; 
    classProperties = (username, password, accessLevel, customer); 
    externalName = rentalsuser; 
    internalInfo = {
        "_clientClassPropertyNames" = (username, password, accessLevel, customer); 
        "_javaClientClassName" = "webobjectsexamples.businesslogic.rentals.common.User"; 
        "_nameInObjectStore" = "RENTALS_USER"; 
    }; 
    name = User; 
    primaryKeyAttributes = (userID); 
    relationships = (
        {
            destination = Customer; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = customerID; sourceAttribute = customerID; }); 
            name = customer; 
        }
    ); 
}
