<webobject name=PageWrapper>
    <webobject name=ERDBannerComponent1></webobject>
    <webobject name=ListNotEmpty><center>
            <table border=0>
                <tr>
                    <td><webobject name=NavBar></webobject></td><td><webobject name=Conditional1><webobject name=ERPrinterButton></webobject></webobject></td>
                </tr>
            </table>
            <webobject name=ERXRepeatingTable>
                <webobject name=Conditional2><b><webobject name=String1></webobject></b></webobject>
                <webobject name=Conditional3><webobject name=AttributeDisplay></webobject></webobject>
            </webobject>
            <br>
            <webobject name=HideReturnOnSelect1>
                <webobject name=ShowCancel><webobject name=BackLink><webobject name=ReturnButton></webobject></webobject></webobject>
            </webobject></center></webobject><webobject name=ListEmpty>
        <br>
        <webobject name=EmptyMessageComponent></webobject>
        <br>
        <br>
        <webobject name=HideReturnOnSelect2>
            <webobject name=ShowCancel2><webobject name=BackLink2><webobject name=ReturnButton2></webobject></webobject></webobject>
        </webobject></webobject>
</webobject>