table {
	border-spacing: 0em;
	border-bottom: 1px solid rgb(200, 200, 200);
}

tr.product td {
	border-top: 1px solid rgb(200, 200, 200);
	cursor: pointer;
	padding: 0.5em;
}

tr.product.selected td {
	background-color: rgb(230, 230, 245);
}