<webobject name = "HasKeyList">
   <ul class = "FacetFilterKeys">
    <webobject name = "KeyList">
      <webobject name = "HasValueList">
        <li class = "FacetFilterKey">
          <span><webobject name = "Key" /></span>
          <ul class = "FacetFilterItems">
            <webobject name = "ValueList">
              <webobject name = "ValueItem">
                <webobject name = "ValueLink"><webobject name = "Value" /></webobject> (<webobject name = "ValueCount" />)
              </webobject>
            </webobject>
            <webobject name = "HasSelectedValues"><li><webobject name = "ClearSelectionLink">[Clear]</webobject></li></webobject>
          </ul>
        </li>
      </webobject>
    </webobject>
    <webobject name = "HasSelectedValues"><li><webobject name = "ClearSelectionLink">[Clear all]</webobject></li></webobject>
  </ul>
</webobject>
