<webobject name = "HasKeyList">
  <ul class = "keyList">
    <webobject name = "KeyList">
      <webobject name = "HasValueList">
        <li class = "key">
          <webobject name = "Key" />
          <ul>
            <webobject name = "ValueList">
              <li>
                <webobject name = "IsSelectedValue">[X]</webobject>  <webobject name = "ValueLink"><webobject name = "Value" /></webobject> (<webobject name = "ValueCount" />)</li>
            </webobject>
            <webobject name = "HasSelectedValues"><li><webobject name = "ClearSelectionLink">[Clear]</webobject></li></webobject>
          </ul>
        </li>
      </webobject>
    </webobject>
  </ul>
</webobject>
