<wo:ERXPartialWrapper key="body">

<wo:SCJavaScript name="contacts/core.js" framework="app" key="pageJavaScript" />
<wo:SCJavaScript name="contacts/english.lproj/strings.js" framework="app" key="pageJavaScript" />
<wo:SCJavaScript name="contacts/models/contact.js" framework="app" key="pageJavaScript" />
<wo:SCJavaScript name="contacts/views/list_item.js" framework="app" key="pageJavaScript" />
<wo:SCJavaScript name="contacts/controllers/master.js" framework="app" key="pageJavaScript" />
<wo:SCJavaScript name="contacts/controllers/detail.js" framework="app" key="pageJavaScript" />
<wo:SCJavaScript name="contacts/fixtures/contact.js" framework="app" key="pageJavaScript" />
<wo:SCJavaScript name="contacts/main.js" framework="app" key="pageJavaScript" />

<wo:SCStyleSheet name="contacts/english.lproj/body.css" framework="app" key="@content_for_page_styles" />


<wo:SCSplitView id="workspace" class = "sc-app-workspace" direction ="horizontal">
  <wo:SCView id="sidebar" outlet="$true">
    <wo:SCScrollView id="master_list" outlet="$true">
      <wo:SCListView outlet = "$true"
        contentValueKey = "fullName"
        ?content = "Contacts.masterController.arrangedObjects"
        ?selection = "Contacts.masterController.selection"
        />
    </wo:SCScrollView>
  </wo:SCView>

  <wo:SCSplitDividerView outlet = "$true" width="$5" />

  <wo:SCView id="detail_view" outlet = "$true" >
    <table class="card-detail">
      <tr>
        <td><label>First Name:</label></td>
        <td>
          <wo:SCTextFieldView  outlet = "$true" hint="First Name"
            ?value = "Contacts.detailController.firstName"
           />
        </td>
      </tr>

      <tr>
        <td><label>Last Name:</label></td>
        <td>
          <wo:SCTextFieldView  outlet = "$true" hint="Last Name"
            ?value = "Contacts.detailController.lastName"
           />
        </td>
      </tr>

      <tr>
        <td colspan="2" class="buttons">
          <wo:SCButtonView outlet = "$true"
            title = "Cancel"
            action = "Contacts.detailController.discardChanges"
            ?isEnabled = "Contacts.detailController.hasChanges" />
          <wo:SCButtonView outlet = "$true"
            title = "Save Changes" isDefault = "$true"
            action = "Contacts.detailController.commitChanges"
            ?isEnabled = "Contacts.detailController.hasChanges"
            />
        </td>
      </tr>
    </table>
 </wo:SCView>
</wo:SCSplitView>
</wo:ERXPartialWrapper>
