<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Movies: ERAttachment</title>
	<wo:ERXStyleSheet filename = "Wrapper.css" />
</head>
<body>

	<div id = "header">
		<div id = "headerPart1">&nbsp;</div>
		<div id = "headerPart2">&nbsp;</div>
		<div id = "headerPart3">&nbsp;</div>
	</div>
	<div style = "padding-top: 140px;" />
	
	<div id = "contentBox">
		<wo:WOComponentContent />
	</div>
	
</body>
</html>
