
<CENTER>
	<WEBOBJECT NAME=Form1>
		<TABLE CELLPADDING=2 CELLSPACING=- BORDER=0>
			<TR>
				<TH ALIGN=RIGHT><B>Login:</B></TH>
				<TD><WEBOBJECT NAME=TextField1></WEBOBJECT></TD>
			</TR>
			<TR>
				<TH ALIGN=RIGHT><B>Password:</B></TH>
				<TD><WEBOBJECT NAME=TextField2></WEBOBJECT></TD>
			</TR><TR><TD>&nbsp;</TD><TD><WEBOBJECT NAME=CheckBox1></WEBOBJECT><FONT SIZE=2><I>Remember Password</I></FONT></TD></TR>
		</TABLE>
		&nbsp;&nbsp;<WEBOBJECT NAME=SubmitButton1></WEBOBJECT><I><FONT COLOR="#bc0200"><FONT SIZE=2><BR>
		<WEBOBJECT NAME=String1></WEBOBJECT></FONT></FONT></I></WEBOBJECT>
</CENTER>