{
    attributes = (
        {
            allowsNull = Y; 
            columnName = "BCC_ADDR"; 
            name = bccAddresses; 
            prototypeName = varchar1000; 
        }, 
        {
            allowsNull = Y; 
            columnName = "CC_ADDR"; 
            name = ccAddresses; 
            prototypeName = varchar1000; 
        }, 
        {
            columnName = "CONTENT_GZIPPED"; 
            name = contentGzipped; 
            prototypeName = intBoolean; 
        }, 
        {
            allowsNull = Y; 
            columnName = "CONTEXT_STRING"; 
            name = contextString; 
            prototypeName = varchar1000; 
        }, 
        {columnName = CREATED; name = created; prototypeName = dateTime; }, 
        {
            allowsNull = Y; 
            columnName = "DATE_SENT"; 
            name = dateSent; 
            prototypeName = dateTime; 
        }, 
        {
            columnName = "EXCEPTION_REASON"; 
            name = exceptionReason; 
            prototypeName = varchar1000; 
        }, 
        {columnName = "FROM_ADDR"; name = fromAddress; prototypeName = varchar255; }, 
        {columnName = ID; name = id; prototypeName = id; }, 
        {columnName = "IS_READ"; name = isRead; prototypeName = flag; }, 
        {columnName = "LAST_MODIFIED"; name = lastModified; prototypeName = dateTime; }, 
        {columnName = "MAIL_STATE_ID"; name = mailStateID; prototypeName = osType; }, 
        {
            allowsNull = Y; 
            columnName = "PLAIN_TEXT_"; 
            name = plainText; 
            prototypeName = varcharLarge; 
        }, 
        {
            allowsNull = Y; 
            columnName = "REPLY_TO_ADDR"; 
            name = replyToAddress; 
            prototypeName = varchar1000; 
        }, 
        {
            columnName = "SHOULD_ARCHIVE_SENT_MAIL"; 
            name = shouldArchiveSentMail; 
            prototypeName = intBoolean; 
        }, 
        {columnName = "TEXT_"; name = text; prototypeName = varcharLarge; }, 
        {columnName = TITLE; name = title; prototypeName = varchar255; }, 
        {columnName = "TO_ADDR"; name = toAddresses; prototypeName = varchar1000; }, 
        {
            allowsNull = Y; 
            columnName = "X_MAILER"; 
            name = xMailer; 
            prototypeName = varchar255; 
        }
    ); 
    attributesUsedForLocking = (
        bccAddresses, 
        contentGzipped, 
        contextString, 
        exceptionReason, 
        fromAddress, 
        id, 
        isRead, 
        mailStateID, 
        replyToAddress, 
        shouldArchiveSentMail, 
        title, 
        toAddresses, 
        xMailer
    ); 
    className = "er.corebusinesslogic.ERCMailMessage"; 
    classProperties = (
        bccAddresses, 
        ccAddresses, 
        contentGzipped, 
        created, 
        dateSent, 
        exceptionReason, 
        fromAddress, 
        isRead, 
        lastModified, 
        plainText, 
        replyToAddress, 
        shouldArchiveSentMail, 
        text, 
        title, 
        toAddresses, 
        xMailer, 
        attachments, 
        state, 
        contextString
    ); 
    externalName = "ERCMAIL_MESSAG_ARCHIVE"; 
    fetchSpecificationDictionary = {}; 
    name = ERCMailMessageArchive; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            destination = ERCMessageAttachment; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = mailMessageId; sourceAttribute = id; }); 
            name = attachments; 
            ownsDestination = Y; 
            userInfo = {modificationDate = "2002-06-04 14:00:54 +0200"; }; 
        }, 
        {
            destination = ERCMailState; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = mailStateID; }); 
            name = state; 
            userInfo = {modificationDate = "2002-06-04 14:00:54 +0200"; }; 
        }
    ); 
}
