{
    components = {
        ERNEUInspectPage = {
            editors = (
                backgroundColorForTable, 
                isEntityDeletable, 
                isEntityEditable, 
                shouldRenderBorder, 
                shouldShowActionButtons, 
                shouldShowCancelButton, 
                shouldShowSubmitButton, 
                shouldRevertChanges, 
                shouldSaveChanges, 
                shouldValidateBeforeSave, 
                shouldCollectValidationExceptions, 
                showBanner
            ); 
            inspectionInformation = "An extended inspect page. Use propertyKeys named like '(Some section)' to divide the page up in sections."; 
            page = yes; 
        }; 
        ERNEUListPage = {
            editors = (
                backgroundColorForTable, 
                showBanner, 
                readOnly, 
                batchSize, 
                isEntityDeletable, 
                isEntityInspectable
            ); 
            inspectionInformation = "A simple list page, listing entries in a table."; 
            page = yes; 
            supports = (justification); 
        }; 
        ERNEUQueryPage = {
            editors = (
                backgroundColorForTable, 
                showBanner, 
                fetchLimit, 
                isDeep, 
                usesDistinct, 
                refreshRefetchedObjects
            ); 
            inspectionInformation = "A simple query page."; 
            page = yes; 
        }; 
        ERNEUSelectPage = {
            editors = (backgroundColorForTable, showBanner, readOnly, batchSize); 
            inspectionInformation = "A simple list page, listing entries in a table."; 
            page = yes; 
            supports = (justification); 
        }; 
        ERNEUTabInspectPage = {
            editors = (
                backgroundColorForTable, 
                isEntityDeletable, 
                isEntityEditable, 
                shouldRenderBorder, 
                shouldShowActionButtons, 
                shouldShowCancelButton, 
                shouldShowSubmitButton, 
                shouldRevertChanges, 
                shouldSaveChanges, 
                shouldValidateBeforeSave, 
                shouldCollectValidationExceptions, 
                showBanner
            ); 
            inspectionInformation = "An extended tab inspect page. Use propertyKeys named like '(Some section)' to divide the page up in sections and '[Some Tab]' to divide it into Tabs."; 
            page = yes; 
            supports = (); 
        }; 
    }; 
    editors = {
    }; 
}