<webobject name = "AjaxExampleComponent">
	<p>
	This example demonstrates the AjaxTrigger component, which allows you to enqueue a series of updates to
	occur.  Note that these happen in series as multiple requests, not as a single request, so you will want
	to limit the number of updates you do in a single pass.
	</p>
	
	<webobject name = "AjaxUpdateContainer">
		<h1>Container 1</h1>
		<webobject name = "Now"/>
	
		<webobject name = "WOForm">
			<webobject name = "AjaxSubmitButton"></webobject>, and also update:
			<p>
			<webobject name = "WOCheckBox"></webobject> Container 2
			</p>
			<p>
			<webobject name = "WOCheckBox1"></webobject> Container 3
			</p>
		</webobject>
		
		<webobject name = "AjaxUpdateTrigger"></webobject>
	</webobject>
	
	<webobject name = "AjaxUpdateContainer1">
		<h1>Container 2</h1>
		<webobject name = "Now1"/>
	</webobject>
	
	<webobject name = "AjaxUpdateContainer2">
		<h1>Container 3</h1>
		<webobject name = "Now2"/>
	</webobject>
</webobject>