{
	BugsPerComponent = { 
        model = {
            AttributeDef = (
                {keyPath = "~valueForKeyPath(\"@count\").intValue()"; "total" = "true"; format="#,##0.#;-;#,##0.#"; },
            ); 
            GroupDef = (
                {
                    subCriteriaList = (
                        {
                            key = state.textDescription; 
                        }
                    ); 
                    userInfo = {
                        "IS_STRING" = true; 
                        "OTHER_LABEL" = ""; 
                        "SHOW_OTHER" = false; 
                        "SHOW_TOTAL" = true; 
                        "TOTAL_LABEL" = "All States"; 
                        compoundSeparator = " - "; 
                        rangeSeparator = " to "; 
                    }; 
                },
                {
                    subCriteriaList = (
                        {
                            key = component.textDescription; 
                        }
                    ); 
                    userInfo = {
                        "IS_STRING" = true; 
                        "OTHER_LABEL" = ""; 
                        "SHOW_OTHER" = false; 
                        "SHOW_TOTAL" = true; 
                        "TOTAL_LABEL" = "All Components"; 
                        compoundSeparator = " - "; 
                        rangeSeparator = " to "; 
                    }; 
                }
            ); 
        }; 
        settings = {
            keysInH = (state.textDescription);
            keysInV = (component.textDescription);
            keysInZ = ();
            recordGroupTotalFormat = "0";
            selectedRecordGroupDisplayType = TOTALS; 
            selectedReportStyle = "NESTED_CELLS"; 
            recordGroupComponentName = "WRRecordGroup"; 
            showCustomReportStyle = false; 
            showNavigation = false; 
            showPresentationControls = false; 
            showRecordGroupAsTable = false; 
            showRecordGroupHeadings = true; 
            showTopCriteriaLabel = true;
            title = "Bugs Per Component";
        };
    };
	BugsPerUser = {
         model = {
            AttributeDef = (
                {keyPath = "~valueForKeyPath(\"@count\").intValue()"; "total" = "true"; format="#,##0.#;-;#,##0.#"; },
            ); 
            GroupDef = (
                {
                    subCriteriaList = (
                        {
                            key = state.textDescription; 
                        }
                    ); 
                    userInfo = {
                        "IS_STRING" = true; 
                        "OTHER_LABEL" = ""; 
                        "SHOW_OTHER" = false; 
                        "SHOW_TOTAL" = true; 
                        "TOTAL_LABEL" = "All States"; 
                        compoundSeparator = " - "; 
                        rangeSeparator = " to "; 
                    }; 
                },
                {
                    subCriteriaList = (
                        {
                            key = owner.name; 
                        }
                    ); 
                    userInfo = {
                        "IS_STRING" = true; 
                        "OTHER_LABEL" = ""; 
                        "SHOW_OTHER" = false; 
                        "SHOW_TOTAL" = true; 
                        "TOTAL_LABEL" = "All Users"; 
                        compoundSeparator = " - "; 
                        rangeSeparator = " to "; 
                    }; 
                }
            ); 
        }; 
        settings = {
            keysInH = (state.textDescription);
            keysInV = (owner.name);
            keysInZ = ();
            recordGroupTotalFormat = "0";
            selectedRecordGroupDisplayType = TOTALS; 
            selectedReportStyle = "NESTED_CELLS"; 
            recordGroupComponentName = "WRRecordGroup"; 
            showCustomReportStyle = false; 
            showNavigation = false; 
            showPresentationControls = false; 
            showRecordGroupAsTable = false; 
            showRecordGroupHeadings = true; 
            showTopCriteriaLabel = true;
            title = "Bugs Per User";
        };
    };
}