<webobject name = "PageWrapper">
  <webobject name = "HasWebSockets">
    <script language = "javascript" type = "text/javascript">
      var wsUri = '<webobject name = "WebsocketURL" />';
      var output;
      var websocket;
      function init() {
      	output = document.getElementById("output");
      	testWebSocket();
      }  
      function testWebSocket() { 
      	websocket = new WebSocket(wsUri); 
      	websocket.onopen = function(evt) { onOpen(evt) }; 
      	websocket.onclose = function(evt) { onClose(evt) }; 
      	websocket.onmessage = function(evt) { onMessage(evt) };
      	websocket.onerror = function(evt) { onError(evt) };
      }  
      function onOpen(evt) { doSend('Joined the chat!'); }
      function onClose(evt) { alert('close'); }
      function onMessage(evt) { writeToScreen(evt.data); }
      function onError(evt) { alert('error: ' + evt.data); }
      function doSend(message) { websocket.send(message); }
      function writeToScreen(message) {
      	var pre = document.createElement("p");
      	pre.style.wordWrap = "break-word";
      	pre.innerHTML = message;
      	output.insertBefore(pre, output.firstChild);
      }
      function sendChat(message) {
        var field = document.getElementById('chatInput');
      	doSend(field.value);
      	field.value = '';
      }
      window.addEventListener("load", init, false);  
    </script>
    <h1>Welcome to WOChat!</h1>
    <input type = "text" id = "chatInput" />
    <input type = "button" value = "Send" name = "send" onclick = "sendChat();" />
    <div id = "output" style="overflow-y:scroll;height:300px;"></div>
  </webobject>
  <webobject name = "HasNoWebSockets">
  	<p>I'm sorry David, but you'll need a browser that supports websockets to participate in the chat.</p>
  </webobject>
</webobject>