<webobject name="PageWrapper">
	<webobject name="Help"></webobject>

	<webobject name="AboveDisplayPropertyKeys"></webobject>

   <webobject name="MainTable">
	  <tr>
		 <td>
			<webobject name="EditingForm">
			
			<p style="position: absolute; left: -9999px;"><webobject name="SubmitChangesButton"></webobject></p>
			
			<table>
				<tr>
					<td valign="top" align="right">
						<webobject name="InspectTable">
							<webobject name="BannerConditional">
							<tr>
								<td align="center">
									<table border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td>
												<webobject name="Banner"></webobject>
											</td>
										</tr>

										<webobject name="InspectTableHeaderRow">
											<td align="left"><strong><webobject name="EntityName"></webobject></strong></td>
										</webobject>

									</table>
								</td>
							</tr>
							</webobject>
							<tr>
								<td align="center"><webobject name="Errors"></webobject></td>
							</tr>
						   <tr>
							  <td valign="top" align="center">
								 <table border="0" cellpadding="2" cellspacing="2">
									<webobject name="AttributeRepetition">
									   <webobject name="InspectRow">
										  <td align="right"><webobject name="SwitchComponent1"></webobject></td>
										  <webobject name="PropertyKeyComponentGenericContainer"><webobject name="AttributeValue"></webobject></webobject>
									   </webobject>
									</webobject>
								 </table>
							  </td>
							</tr>
						</webobject>
					 </td>
				</tr>
				<tr>
					<td align="center">
						<table border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td align="center">
									<webobject name="ShowCancel">
										<webobject name="IsEditingConditional">
											<webobject name="IsIEConditional">
												<webobject name="CancelSubmitButton"></webobject>
											</webobject>
											<webobject name="IsNotIEConditional">
												<webobject name="CancelLink"><webobject name="CancelButton"></webobject></webobject>
											</webobject>
										</webobject>
										<webobject name="IsNotEditingConditional">
											<webobject name="ReturnLink"><webobject name="ReturnButton"></webobject></webobject>
										</webobject>
									</webobject>
								</td>
								<webobject name="IsEntityWritable">
									<td align="right">
										<webobject name="ShowDelete">
											<webobject name="IsNotIEConditional">
												<webobject name="DeleteLink"><webobject name="DeleteButton"></webobject></webobject>
											</webobject>
											<webobject name="IsIEConditional">
												<webobject name="DeleteSubmitButton"></webobject>
											</webobject>
										</webobject>
									</td>
								</webobject>
								<td align="left">
									<webobject name="ShowSubmit">
										<webobject name="IsEntityNotWritable">
											<webobject name="IsNotEditingConditional">
												<webobject name="EditLink"><webobject name="EditImage"></webobject></webobject>
											</webobject>
										</webobject>
										<webobject name="IsEditingConditional">
											<webobject name="IsIEConditional">
												<webobject name="SaveSubmitButton"></webobject>
											</webobject>
											<webobject name="IsNotIEConditional">
												<webobject name="SubmitChangesButton"></webobject>
											</webobject>
										</webobject>
									</webobject>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			</webobject>
		 </td>
	  </tr>
   </webobject>
   
   <webobject name="BelowDisplayPropertyKeys"></webobject>
   
<webobject name="UseFocusConditional">
	<webobject name="IsEditingConditional">
		<webobject name="FocusScript"></webobject>
	</webobject>
</webobject>

</WEBOBJECT>