<WEBOBJECT NAME=PageWrapper><WEBOBJECT NAME=Help></WEBOBJECT>
   <WEBOBJECT NAME=MainTable>
      <TR>
         <TD><WEBOBJECT NAME=EditingForm><WEBOBJECT NAME=SubmitChanges2></WEBOBJECT>
               <TABLE>
                  <TR VALIGN=top>
                     <TD VALIGN=top ALIGN=right><WEBOBJECT NAME=InspectTable>
                           <WEBOBJECT NAME=BannerConditional>

                              <TR>
                                 <TD ALIGN=center COLSPAN=3>
                                    <TABLE BORDER=0 CELLPADDING=0 CELLSPACING=0>
                                       <TR>
                                          <TD>
                                             <WEBOBJECT NAME=Banner></WEBOBJECT>
                                          </TD>
                                       </TR>

                                       <WEBOBJECT NAME=InspectTableHeaderRow>
                                          <TD ALIGN=left COLSPAN=3><B><WEBOBJECT NAME=EntityName></WEBOBJECT></B><WEBOBJECT NAME=FontContainer><B></B></WEBOBJECT></TD>
                                       </WEBOBJECT>

                                    </TABLE>
                                 </TD>
                              </TR>
                           </WEBOBJECT>
                           				<TR>
                           					<TD ALIGN=center COLSPAN=3><WEBOBJECT NAME=Errors></WEBOBJECT></TD>
                          			 	</TR>
                           <TR>
                              <TD VALIGN=top ALIGN=center>
                                 <TABLE BORDER=0 CELLPADDING=2 CELLSPACING=2>
                                    <WEBOBJECT NAME=AttributeRepetition>
                                       <WEBOBJECT NAME=QueryRow>
                                          <TD ALIGN=right><WEBOBJECT NAME=SwitchComponent1></WEBOBJECT><FONT SIZE=-1><STRONG></STRONG></FONT></TD>
                                          <webobject name="ProprtyKeyComponentGenericContainer"><WEBOBJECT NAME=AttributeValue></WEBOBJECT></webobject>
                                       </WEBOBJECT>
                                    </WEBOBJECT>
                                 </TABLE>
                              </TD>
                           </TR>
                        </WEBOBJECT>
                     </TD>
                  </TR>
                  <TR>
                     <TD ALIGN=center COLSPAN=3>
                        <TABLE BORDER=0 CELLPADDING=0 CELLSPACING=0>
                           <TR>
                              <TD ALIGN=center>
                                 <WEBOBJECT NAME=IsEditingConditional><WEBOBJECT NAME=Conditional3><WEBOBJECT NAME=SubmitButton1></WEBOBJECT></WEBOBJECT>
                                    <WEBOBJECT NAME=Conditional1><WEBOBJECT NAME=Conditional11><WEBOBJECT NAME=SubmitButton6></WEBOBJECT></WEBOBJECT><WEBOBJECT NAME=Conditional10><WEBOBJECT NAME=CancelLink><WEBOBJECT NAME=CancelButton></WEBOBJECT></WEBOBJECT></WEBOBJECT></WEBOBJECT>
                                 </WEBOBJECT>
                                 <WEBOBJECT NAME=IsNotEditingConditional>
                                    <WEBOBJECT NAME=ShowCancel><WEBOBJECT NAME=ReturnLink><WEBOBJECT NAME=ReturnButton></WEBOBJECT></WEBOBJECT></WEBOBJECT>
                                 </WEBOBJECT>
                              </TD>
                              <WEBOBJECT NAME=IsEntityWritable>
                                 <TD ALIGN=right>
                                    <WEBOBJECT NAME=Conditional8><WEBOBJECT NAME=DeleteLink><WEBOBJECT NAME=DeleteButton></WEBOBJECT></WEBOBJECT></WEBOBJECT><WEBOBJECT NAME=Conditional9><WEBOBJECT NAME=SubmitButton5></WEBOBJECT></WEBOBJECT>
                                 </TD>
                              </WEBOBJECT>
                              <TD ALIGN=left>
                                 <WEBOBJECT NAME=IsEntityWritable2>
                                    <WEBOBJECT NAME=IsNotEditingConditional2>
                                       <WEBOBJECT NAME=EditLink><WEBOBJECT NAME=EditImage></WEBOBJECT></WEBOBJECT>
                                    </WEBOBJECT>
                                 </WEBOBJECT>
                                 <WEBOBJECT NAME=IsEditingConditional2>
                                    <WEBOBJECT NAME=Conditional12><WEBOBJECT NAME=SubmitButton2></WEBOBJECT></WEBOBJECT><WEBOBJECT NAME=Conditional2><WEBOBJECT NAME=SubmitChanges></WEBOBJECT></WEBOBJECT>
                                 </WEBOBJECT>
                              </TD>
                           </TR>
                        </TABLE>
                     </TD>
                  </TR>
               </TABLE>
            </WEBOBJECT>
         </TD>
      </TR>
   </WEBOBJECT>
<WEBOBJECT NAME=Conditional5><WEBOBJECT NAME=IsEditingConditional5><WEBOBJECT NAME=Script></WEBOBJECT></WEBOBJECT></WEBOBJECT></WEBOBJECT>