<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>TickTockMan</title>
</head>
<body>


<p>Start: <wo:str value="$startTime" dateformat="%Y/%m/%d %H:%M:%S %z" /></p>
<wo:not condition="$endTime">
<p><wo:link action="$clickNow">Click me when you are ready...</wo:link></p>

<p>or, <wo:link pageName="Main">never mind</wo:link></p>
</wo:not>
<wo:if condition="$endTime">
<p>End: <wo:str value="$endTime" dateformat="%Y/%m/%d %H:%M:%S %z" /></p>
<p>Difference = <wo:str value="$difference" numberformat="0" /></p>
<p><wo:link pageName="Main">Back to Main Page</wo:link></p>
</wo:if>

</body>
</html>