<webobject name = "DropTarget">
	<wo:if condition = "$^includeFileSelector"><wo:genericContainer elementName = "input" type = "file" id = "$fileSelectorID" multiple = "multiple" /></wo:if>
	<webobject name = "Content"/>
</webobject>
<webobject name = "Enabled">
	<script>dragAndDropUpload('<webobject name = "DropTargetID" />', '<webobject name = "FileSelectorID" />', '<webobject name = "ActionURL" />', <webobject name = "EnterFunction"/>, <webobject name = "ExitFunction"/>, <webobject name = "OverFunction"/>, <webobject name = "CompleteFunction"/>, <webobject name = "CompleteAllFunction"/>, <webobject name = "ErrorFunction"/>);</script>
</webobject>
