<webobject name=PageWrapper>
	<webobject name=Help></webobject>
	<table class="ListTable">
		<tr>
			<td class="Header"><webobject name=ERDBannerComponent2></webobject><webobject name=Header></webobject></td>
		</tr>
		<webobject name=ListNotEmpty>
			<tr>
				<td class="NavigationBar"><webobject name=NavigationBar></webobject></td>
			</tr>
			<tr>
				<td class="Repetition"><webobject name=ListPageRepetition></webobject></td>
			</tr>
		</webobject>
		<webobject name=ListEmpty>
			<tr>
				<td><webobject name=EmptyMessageComponent></webobject></td>
			</tr>
		</webobject>
		<tr>
			<td class="Actions">
				<webobject name=ShowCancel><webobject name=BackLink><webobject name=ReturnButton></webobject></webobject></webobject>
				<webobject name=ShowPrint><webobject name=ERPrinterButton></webobject></webobject>
			</td>
		</tr>
		<webobject name=HideReturnOnSelect>
		</webobject>
	</table>
</webobject>