<webobject name = "CalendarTable">
  <caption><webobject name = "MonthName" /></caption>
  <thead>
    <tr>
      <webobject name = "HeaderLoop">
        <th><webobject name = "DayName" /></th>
      </webobject>
    </tr>
  </thead>
  <tbody>
    <webobject name = "DatesForWeeks">
      <tr>
        <webobject name = "DatesForCurrentWeek">
          <webobject name = "CurrentDate">
            <webobject name = "CalendarCellComponent" />
          </webobject>
        </webobject>
      </tr>
    </webobject>
  </tbody>
</webobject>