<webobject name=PageWrapper>
	<webobject name=ListNotEmpty><webobject name=Form1>
			<webobject name=HiddenField></webobject><br>
			<webobject name=Conditional1><webobject name=ErrorDictionaryPanel></webobject></webobject><br>
			<webobject name=ERTableWithBorder1><webobject name=ListTable>
					<webobject name=Conditional2>
						<tr height="">
							<td colspan=30 bgcolor=#EBEBEB>
								<webobject name=NavBar2></webobject></td>
						</tr>
					</webobject>
					<tr>
						<td><webobject name=ListPageRepetition2><webobject name=ErrorDictionaryPanel2></webobject></webobject></td>
					</tr>
				</webobject></webobject><br>
			<webobject name=CancelActiveImage></webobject>&nbsp;<webobject name=ActiveImage1></webobject>&nbsp;<webobject name=SaveActiveImage></webobject>
		</webobject></webobject><webobject name=ListEmpty><br>
		<table>
			<tr>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td><webobject name=ExclamationImage></webobject></td>
				<td>
					<center>
						<webobject name=FontContainer><b>No matching
							<webobject name=EntityName></webobject>
							records found.</b></webobject>
					</center>
				</td>
			</tr>
		</table>
		<br>
		<br>
		<webobject name=HideReturnOnSelect2>
			<webobject name=ShowCancel2><webobject name=ReturnActiveImage></webobject></webobject>
		</webobject></webobject></webobject>