<webobject name=PageWrapper><webobject name="Help"></webobject>
	<webobject name=ListTable><webobject name=ListNotEmpty><webobject name=Form1><webobject name=HiddenField></webobject><webobject name=ErrorDictionaryPanel></webobject>
				<webobject name=Conditional2>
					<tr height="">
						<td colspan=30 bgcolor=#EBEBEB>
							<webobject name=NavBar2></webobject></td>
					</tr>
				</webobject>
				<tr>
					<td><webobject name=ListPageRepetition2><webobject name=ErrorDictionaryPanel2></webobject></webobject></td>
				</tr>
				<tr>
					<td ALIGN=CENTER COLSPAN=2><webobject name=CancelActiveImage></webobject>&nbsp;<webobject name=ActiveImage1></webobject>&nbsp;<webobject name=SaveActiveImage></webobject></td>
				</tr>
			</webobject><webobject name=ListEmpty2>
				<tr>
					<td ALIGN=CENTER COLSPAN=2><webobject name=EmptyMessageComponent></webobject></td>
				</tr>
				<tr>
					<td ALIGN=CENTER><webobject name=HideReturnOnSelect1>
							<webobject name=ShowCancel1><webobject name=ReturnActiveImage2></webobject></webobject>
						</webobject></td>
				</tr>
			</webobject>
		</webobject></webobject>
</webobject>