<div class="pagination">
	<webobject name = "HasBatches">
		<h6><webobject name = "PageNumber"/></h6>
		<webobject name = "OrderedList">
			<webobject name = "BatchRepetition"><li><webobject name = "BatchIndexLink"/></li></webobject>
		</webobject>
	</webobject>
	<webobject name = "DisplayBatchSizes">
		<h6><webobject name = "ItemsPerPage"/></h6>
		<ul class="batchSizes">
			<webobject name = "AvailableBatchSizes"><li><webobject name = "BatchSizeLink"/></li></webobject>
		</ul>
	</webobject>
</div>