{
    attributes = (
        {allowsNull = N; name = id; prototypeName = id; }, 
        {columnName = name; name = name; prototypeName = varchar255; }, 
        {
            allowsNull = Y; 
            columnName = revenue; 
            name = revenue; 
            prototypeName = amount; 
        }
    ); 
    attributesUsedForLocking = (id, name, revenue); 
    className = "er.rest.model.Company"; 
    classProperties = (employees, name, revenue); 
    externalName = Company; 
    fetchSpecificationDictionary = {}; 
    name = Company; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            destination = Person; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = companyID; sourceAttribute = id; }); 
            name = employees; 
        }
    ); 
}
