{
    attributes = (
        {allowsNull = Y; columnName = age; name = age; prototypeName = intNumber; }, 
        {
            allowsNull = Y; 
            columnName = companyID; 
            name = companyID; 
            prototypeName = id; 
        }, 
        {allowsNull = N; name = id; prototypeName = id; }, 
        {columnName = name; name = name; prototypeName = varchar255; }, 
        {allowsNull = Y; columnName = salary; name = salary; prototypeName = amount; }
    ); 
    attributesUsedForLocking = (age, companyID, id, name, salary); 
    className = "er.rest.model.Person"; 
    classProperties = (age, company, name, salary); 
    externalName = Person; 
    fetchSpecificationDictionary = {}; 
    name = Person; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            destination = Company; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = companyID; }); 
            name = company; 
        }
    ); 
}
