.prepend-top {
	margin-top: 1.5em;
}

.append-bottom {
	margin-bottom: 1.5em;
}

.clearfix:after, .container:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	overflow: hidden;
}

.clearfix, .container {
	display: block;
}

.clear {
	clear: both;
}

.small-round-corners {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.large-round-corners {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.border {
	border: 1px solid #a1a5a9;
}

/* focus panel */
.focus {
	background-color: #F4F4F4;
	padding: 20px;
}

.center {
	text-align: center;
}
