<wo:SCPageTemplate isLive="true">
<wo:SCJavaScript name="foundation/application.js" />
<wo:SCJavaScript name="foundation/page.js" />
<wo:SCJavaScript name="globals/window.js" />
<wo:SCJavaScript name="foundation/run_loop.js" />

<wo:SCStyleSheet name="core.css"/>


<wo:SCStyleSheet name="buttons.css"/>
<wo:SCStyleSheet name="icons.css"/>
<wo:SCStyleSheet name="menu.css"/>
<wo:SCStyleSheet name="panes.css"/>
<wo:SCStyleSheet name="picker.css"/>
<wo:SCStyleSheet name="tab.css"/>
<wo:SCStyleSheet name="tests.css"/>
<wo:SCStyleSheet name="theme.css"/>
<wo:HelloWorld></wo:HelloWorld>
</wo:SCPageTemplate>