<wo:SCPageTemplate isLive="true">
<wo:SCJavaScript name="controllers/collection.js" />
<wo:SCStyleSheet name="buttons.css"/>
<wo:SCStyleSheet name="core.css"/>
<wo:SCStyleSheet name="icons.css"/>
<wo:SCStyleSheet name="menu.css"/>
<wo:SCStyleSheet name="panes.css"/>
<wo:SCStyleSheet name="picker.css"/>
<wo:SCStyleSheet name="tab.css"/>
<wo:SCStyleSheet name="tests.css"/>
<wo:SCStyleSheet name="theme.css"/>
<wo:ERXPartialWrapper key="body">
<wo:SCTabView 
	id="control_tabs"
	lazyTabs = true>
</wo:SCTabView>
</wo:ERXPartialWrapper>
</wo:SCPageTemplate>