<ul>
<li><wo:WOHyperlink directActionName = "helloWorld" actionClass = "er.sproutcore.example.DirectAction">Hello world</wo:WOHyperlink></li>
<li><wo:WOHyperlink directActionName = "contacts" actionClass = "er.sproutcore.example.DirectAction">Contacts</wo:WOHyperlink></li>
<li><wo:WOHyperlink directActionName = "sampleControls" actionClass = "er.sproutcore.example.DirectAction">Sample Controls</wo:WOHyperlink></li>
<li><wo:WOHyperlink directActionName = "photos" actionClass = "er.sproutcore.example.DirectAction">Photos</wo:WOHyperlink></li>
</ul>
