<webobject name=PageWrapper><webobject name=Help></webobject>
	<table class="InspectTable">
		<tr>
			<td class="Header"><webobject name=ERDBannerComponent></webobject><webobject name=Header></webobject></td>
		</tr>
		<tr>
			<td class="TopActions">
				<webobject name=HasChanges><webobject name=Floppy></webobject></webobject>
				<webobject name=ShowPrint><webobject name=ERDPrinterButton></webobject></webobject>
			<webobject name=HasBranchChoices>
				<div class="Separator"></div>
				<webobject name=BranchChoices><webobject name=BranchChoice></webobject></webobject>
			</webobject><webobject name = "Controller"></webobject>
			</td>
		</tr>
		<webobject name=EditingForm>
			<tr>
				<td class="Errors"><webobject name=Errors></webobject></td>
			</tr>
			<tr>
				<td class="Repetition"><webobject name=InspectPageRepetition></webobject></td>
			</tr>
			<tr>
				<td class="Actions">
					<webobject name=IsEditingConditional>
						<webobject name=CancelButton></webobject> <webobject name=SubmitChanges></webobject>
					</webobject>
					<webobject name=IsNotEditingConditional>
						<webobject name=ShowCancel><webobject name=ReturnButton></webobject></webobject> <webobject name=IsObjectEditable><webobject name=EditButton></webobject></webobject>
					</webobject>
			<webobject name=HasBranchChoices>
				<div class="Separator"></div>
				<webobject name=BranchChoices><webobject name=BranchChoice></webobject></webobject>
			</webobject><webobject name = "Controller"></webobject>
				</td>
			</tr>
		</webobject>
	</table>
</webobject>