<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title>Movies Demo Login</title>
    <webobject name = "Stylesheet"></webobject>
	</head>
	<body>
	  <webobject name = "HasErrorMessage">
	  <div class = "ErrBlock"><webobject name = "ErrorMessage"></webobject></div>
	  </webobject>
	  <div id="LoginForm">
	      <webobject name = "LoginForm">
	      <webobject name = "DefaultSubmit"/>
	      <h2>Login</h2>
	      <p><label for="username">Username:</label><webobject name = "UsernameField"/></p>
	      <p><label for="password">Password:</label><webobject name = "PasswordField"/></p>
        <p class="button_bar"><a href="javascript:void(0);" onclick="document.forms['LoginForm'].submit()" class="Button PageButton LoginPageButton"><span>Login</span></a></p>
        </webobject>
    </div>
	</body>
</html>
