<html>
<head>
</head>
<body>
The one notable catch here is that you have to follow the rules of scriptaculous for naming list items.  Specifically,
your items should have item IDs with the syntax "something_id" where "id" is the actual unique identifier for the item.  In
this example, all the items are named "exampleList_0", "exampleList_1" "exampleList_2", etc.
<p>
<webobject name = "SortableList">
	<webobject name = "ListContainer">
		<webobject name = "ListItemRepetition">
			<webobject name = "ListItemContainer"><webobject name = "ListItemName"></webobject></webobject>
		</webobject>
	</webobject>
</webobject>
</body>
</html>