{
    attributes = (
        {
            columnName = "MOVIE_ID"; 
            externalType = long; 
            name = movieID; 
            precision = 9; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "TALENT_ID"; 
            externalType = long; 
            name = talentID; 
            precision = 9; 
            valueClassName = NSNumber; 
            valueType = i; 
        }
    ); 
    attributesUsedForLocking = (movieID, talentID); 
    className = EOGenericRecord; 
    externalName = DIRECTOR; 
    fetchSpecificationDictionary = {}; 
    maxNumberOfInstancesToBatchFetch = 10; 
    name = Director; 
    primaryKeyAttributes = (movieID, talentID); 
    relationships = (
        {
            destination = Movie; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = movieID; sourceAttribute = movieID; }); 
            name = toMovie; 
        }, 
        {
            destination = Talent; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = talentID; sourceAttribute = talentID; }); 
            name = toTalent; 
        }
    ); 
}
