<webobject name = "HeaderFooter">
	<webobject name = "Form">
		Toggle? <webobject name = "CheckBox"/>
		<webobject name = "Observer"/>
		<webobject name = "ToggleArea">
			<webobject name = "ToggleAreaConditional">
				This is a toggle area that is triggered by an AjaxObserveField.
			</webobject>
		</webobject>

		<p>
		
		<webobject name = "ToggleArea2">
			<webobject name = "ToggleAreaConditional">
				This is a toggle area that is triggered with observeFieldID on AjaxUpdateContainer.
			</webobject>
		</webobject>
	</webobject>
</webobject>