{
    attributes = (
        {
            allowsNull = Y; 
            columnName = ""; 
            externalType = float; 
            name = amount; 
            userInfo = {modificationDate = "2002-07-21 21:47:27 +0200"; }; 
            valueClassName = NSNumber; 
            valueType = d; 
        }, 
        {
            allowsNull = Y; 
            columnName = ""; 
            externalType = object; 
            name = blob; 
            valueClassName = NSData; 
        }, 
        {
            adaptorValueConversionMethodName = toString; 
            allowsNull = Y; 
            columnName = ""; 
            externalType = varchar; 
            factoryMethodArgumentType = EOFactoryMethodArgumentIsNSString; 
            name = boolean; 
            valueClassName = "java.lang.Boolean"; 
            valueFactoryMethodName = valueOf; 
            valueType = S; 
            width = 5; 
        }, 
        {
            allowsNull = Y; 
            columnName = ""; 
            externalType = varchar; 
            name = charFlag; 
            userInfo = {modificationDate = "2002-06-04 14:00:54 +0200"; }; 
            valueClassName = NSString; 
            valueType = c; 
            width = 1; 
        }, 
        {
            allowsNull = Y; 
            columnName = ""; 
            externalType = timestamp; 
            name = date; 
            userInfo = {modificationDate = "2002-07-21 21:47:29 +0200"; }; 
            valueClassName = NSCalendarDate; 
            valueType = D; 
        }, 
        {
            allowsNull = Y; 
            columnName = ""; 
            externalType = timestamp; 
            name = dateTime; 
            userInfo = {modificationDate = "2002-06-04 14:00:54 +0200"; }; 
            valueClassName = NSCalendarDate; 
            valueType = T; 
        }, 
        {
            allowsNull = Y; 
            columnName = ""; 
            externalType = double; 
            name = doubleNumber; 
            userInfo = {modificationDate = "2002-06-04 14:00:54 +0200"; }; 
            valueClassName = NSNumber; 
            valueType = d; 
        }, 
        {
            allowsNull = Y; 
            columnName = ""; 
            externalType = int; 
            name = flag; 
            userInfo = {modificationDate = "2002-07-21 21:47:30 +0200"; }; 
            valueClassName = NSNumber; 
            valueType = b; 
        }, 
        {
            columnName = ""; 
            externalType = int; 
            internalInfo = {"_nameInObjectStore" = id; }; 
            name = id; 
            serverTimeZone = "Europe/Berlin"; 
            userInfo = {modificationDate = "2002-05-03 15:42:07 +0200"; }; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            adaptorValueConversionMethodName = toString; 
            allowsNull = Y; 
            columnName = ""; 
            externalType = bool; 
            factoryMethodArgumentType = EOFactoryMethodArgumentIsNSString; 
            name = intBoolean; 
            valueClassName = NSNumber; 
            valueFactoryMethodName = valueOf; 
            valueType = c; 
        }, 
        {
            allowsNull = Y; 
            columnName = ""; 
            externalType = long; 
            name = intNumber; 
            userInfo = {modificationDate = "2002-07-21 21:47:31 +0200"; }; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = ""; 
            externalType = text; 
            name = longText; 
            userInfo = {modificationDate = "2002-07-21 21:47:32 +0200"; }; 
            valueClassName = NSString; 
            valueType = C; 
        }, 
        {
            adaptorValueConversionMethodName = toBlob; 
            allowsNull = Y; 
            columnName = ""; 
            externalType = object; 
            name = mutableArray; 
            valueClassName = "er.extensions.ERXMutableArray"; 
            valueFactoryMethodName = fromBlob; 
        }, 
        {
            adaptorValueConversionMethodName = toBlob; 
            allowsNull = Y; 
            columnName = ""; 
            externalType = object; 
            name = mutableDictionary; 
            valueClassName = "er.extensions.ERXMutableDictionary"; 
            valueFactoryMethodName = fromBlob; 
        }, 
        {
            allowsNull = Y; 
            columnName = ""; 
            externalType = varchar; 
            name = osType; 
            userInfo = {modificationDate = "2002-06-04 14:00:54 +0200"; }; 
            valueClassName = NSString; 
            valueType = S; 
            width = 4; 
        }, 
        {
            allowsNull = Y; 
            columnName = ""; 
            externalType = varchar; 
            name = shortString; 
            userInfo = {modificationDate = "2002-07-21 21:47:32 +0200"; }; 
            valueClassName = NSString; 
            valueType = S; 
            width = 50; 
        }, 
        {
            allowsNull = Y; 
            columnName = ""; 
            externalType = varchar; 
            name = type; 
            userInfo = {modificationDate = "2002-07-21 21:47:33 +0200"; }; 
            valueClassName = NSString; 
            valueType = S; 
            width = 4; 
        }, 
        {
            allowsNull = Y; 
            columnName = ""; 
            externalType = varchar; 
            name = varchar10; 
            userInfo = {modificationDate = "2002-06-04 14:00:54 +0200"; }; 
            valueClassName = NSString; 
            valueType = S; 
            width = 10; 
        }, 
        {
            allowsNull = Y; 
            columnName = ""; 
            externalType = varchar; 
            name = varchar100; 
            serverTimeZone = "Europe/Berlin"; 
            userInfo = {modificationDate = "2002-06-04 14:00:54 +0200"; }; 
            valueClassName = NSString; 
            valueType = S; 
            width = 100; 
        }, 
        {
            allowsNull = Y; 
            columnName = ""; 
            externalType = varchar; 
            name = varchar1000; 
            userInfo = {modificationDate = "2002-06-04 14:00:54 +0200"; }; 
            valueClassName = NSString; 
            valueType = S; 
            width = 1000; 
        }, 
        {
            allowsNull = Y; 
            columnName = ""; 
            externalType = varchar; 
            name = varchar16; 
            serverTimeZone = "Europe/Berlin"; 
            userInfo = {modificationDate = "2002-06-04 14:00:54 +0200"; }; 
            valueClassName = NSString; 
            valueType = S; 
            width = 16; 
        }, 
        {
            allowsNull = Y; 
            columnName = ""; 
            externalType = varchar; 
            name = varchar255; 
            serverTimeZone = "Europe/Berlin"; 
            userInfo = {modificationDate = "2002-06-04 14:00:54 +0200"; }; 
            valueClassName = NSString; 
            valueType = S; 
            width = 255; 
        }, 
        {
            allowsNull = Y; 
            columnName = ""; 
            externalType = varchar; 
            name = varchar50; 
            serverTimeZone = "Europe/Berlin"; 
            userInfo = {modificationDate = "2002-08-21 22:42:33 +0200"; }; 
            valueClassName = NSString; 
            valueType = S; 
            width = 50; 
        }, 
        {
            allowsNull = Y; 
            columnName = ""; 
            externalType = text; 
            name = varcharLarge; 
            userInfo = {modificationDate = "2002-08-19 11:56:16 +0200"; }; 
            valueClassName = NSString; 
            valueType = S; 
        }
    ); 
    attributesUsedForLocking = (
        amount, 
        blob, 
        boolean, 
        charFlag, 
        date, 
        dateTime, 
        doubleNumber, 
        flag, 
        id, 
        intBoolean, 
        intNumber, 
        longText, 
        mutableArray, 
        mutableDictionary, 
        osType, 
        shortString, 
        type, 
        varchar10, 
        varchar100, 
        varchar1000, 
        varchar16, 
        varchar255, 
        varchar50, 
        varcharLarge
    ); 
    className = EOGenericRecord; 
    classProperties = (
        amount, 
        blob, 
        boolean, 
        charFlag, 
        date, 
        dateTime, 
        doubleNumber, 
        flag, 
        id, 
        intBoolean, 
        intNumber, 
        longText, 
        mutableArray, 
        mutableDictionary, 
        osType, 
        shortString, 
        type, 
        varchar10, 
        varchar100, 
        varchar1000, 
        varchar16, 
        varchar255, 
        varchar50, 
        varcharLarge
    ); 
    externalName = eoopenbaseprototypes; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {
        "_clientClassPropertyNames" = (
            amount, 
            blob, 
            boolean, 
            charFlag, 
            date, 
            dateTime, 
            doubleNumber, 
            flag, 
            id, 
            intBoolean, 
            intNumber, 
            longText, 
            mutableArray, 
            mutableDictionary, 
            osType, 
            shortString, 
            type, 
            varchar10, 
            varchar100, 
            varchar1000, 
            varchar16, 
            varchar255, 
            varchar50, 
            varcharLarge
        ); 
    }; 
    isAbstractEntity = Y; 
    name = EOJDBCOpenBasePrototypes; 
    primaryKeyAttributes = (id); 
    userInfo = {modificationDate = "2002-12-31 18:51:05 +0100"; }; 
}
