<webobject name = "PageWrapper">
  <webobject name = "ContentWrapper">
    <webobject name = "Errors" />
    <webobject name = "HasMessage"> <webobject name = "Message" /> </webobject>
    <webobject name = "HasExplanationComponent"> <webobject name = "ExplanationComponent" /> </webobject>
    <webobject name = "HasNextPage">
      <div class = "linkGroup">
        <webobject name = "HasBranches">
          <webobject name = "BranchRepetition">
            <webobject name = "BranchButton"><webobject name = "BranchButtonContent" /></webobject>
          </webobject>
        </webobject>
        <webobject name = "HasNoBranches">
          <webobject name = "OkButton"><webobject name = "OkButtonContent" /></webobject>
        </webobject>
      </div>
    </webobject>
  </webobject>
</webobject>