<webobject name=PageWrapper>
	<webobject name=Help></webobject>
	<table class="ListTable">
			<tr>
				<td class="Header"><webobject name=Header></webobject></td>
			</tr>
		<tr>
			<td class="TopActions">
				<webobject name=ShowCancel><webobject name=ReturnButton></webobject></webobject>
				<webobject name=PrinterButton></webobject>
				<webobject name=MassMofidy></webobject>
				<webobject name=Filter></webobject>
		    	<webobject name=ActionBar></webobject>
			</td>
		</tr>
		<webobject name=ListNotEmpty>
			<tr>
				<td class="NavigationBarCell"><webobject name=NavigationBar></webobject></td>
			</tr>
			<tr>
				<td class="Repetition"><webobject name=ListPageRepetition></webobject></td>
			</tr>
		</webobject>
		<webobject name=ListEmpty>
			<tr>
				<td><webobject name=EmptyMessageComponent></webobject></td>
			</tr>
		</webobject>
		<tr>
			<td class="Actions">
				<webobject name=ShowCancel><webobject name=ReturnButton></webobject></webobject>
				<webobject name=PrinterButton></webobject>
				<webobject name=MassMofidy></webobject>
				<webobject name=Filter></webobject>
	        	<webobject name=ActionBar></webobject>
			</td>
		</tr>
	</table>
</webobject>