<WEBOBJECT NAME=Conditional1><table border=0 bgcolor=cccccc>
	<webobject name=showZDimensions>
		<tr>
			<td colspan=3>
				<table CELLSPACING=1 CELLPADDING=1 BORDER=0 WIDTH="100%" BGCOLOR=white>
					<tr>
						<td colspan=3><b><font size=2 face="arial,geneva">Pagination</font></b></td>
					</tr>
					<webobject name=zDimensions>
						<tr>
							<td><webobject name=prevZ></webobject></td>
							<td><b><font size=2 face="arial,geneva"><webobject name=criteriaLabelZ></webobject></font></b> -
								<font size=2 face="arial,geneva"><webobject name=zGrpLabel></webobject></font></td>
							<td><webobject name=nextZ></webobject></td>
						</tr>
					</webobject>
				</table>
			</td>
		</tr>
	</webobject>
	<tr bgcolor=999999>
		<td colspan=3><b><font size=2 face="arial,geneva"><webobject name=String1></webobject></font></b></td>
	</tr>
	<webobject name=hlist>
		<tr bgcolor=000000>
			<td bgcolor=999999><font size=2 face="arial,geneva"><WEBOBJECT NAME=Hyperlink2><webobject name=String2></webobject></WEBOBJECT><webobject name=HmoveV></webobject></font></td>
			<td><webobject name=hUp></webobject><webobject name=hDown></webobject><font color=ffffff size=2 face="arial,geneva"><webobject name=dimHName></webobject></font></td>
			<td bgcolor=999999><webobject name=HmoveZ></webobject><font size=2 face="arial,geneva"><WEBOBJECT NAME=Hyperlink1><webobject name=String3></webobject></WEBOBJECT></font></td>
		</tr>
	</webobject>
</table></WEBOBJECT>