{
    attributes = (
        {allowsNull = N; name = id; prototypeName = id; }, 
        {allowsNull = N; columnName = name; name = name; prototypeName = varchar255; }, 
        {allowsNull = N; columnName = ownerID; name = ownerID; prototypeName = id; }
    ); 
    attributesUsedForLocking = (id, name, ownerID); 
    className = "er.rest.example.model.Animal"; 
    classProperties = (name, owner); 
    externalName = Animal; 
    fetchSpecificationDictionary = {}; 
    name = Animal; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            destination = Person; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = ownerID; }); 
            name = owner; 
        }
    ); 
}
