<webobject name="UsingTablesConditional">
<WEBOBJECT NAME=Td>&nbsp;&nbsp;<WEBOBJECT NAME=Hyperlink><WEBOBJECT NAME=String1></WEBOBJECT></WEBOBJECT>&nbsp;<WEBOBJECT NAME=Conditional1><WEBOBJECT NAME=Image2></WEBOBJECT></WEBOBJECT><WEBOBJECT NAME=Conditional2>&nbsp;</WEBOBJECT></WEBOBJECT>
</webobject>

<webobject name="NotUsingTablesConditional">
	<webobject name="MeetsDisplayConditions">
    	<webobject name="li">
			<webobject name="contextComponentActionURL"><webobject name="displayName"></webobject></webobject>
    		<webobject name="hasActivityAndIsEnabled">
                    <webobject name="NewMarker"></webobject>
    		</webobject>
    		<webobject name="hasNoActivityAndIsEnabled"></webobject>
		</webobject>
	</webobject>
</webobject>
