<webobject name="AjaxExampleComponent">
    <webobject name="PostItContainer">
        <webobject name="AnnotationUpdateContainer">
        <webobject name="ToggleEditingLink">[enable/disable editing]</webobject>
        <webobject name="EditingConditional">
	        <webobject name="AddAnnotationLink">[add annotation]</webobject>
    	    <webobject name="RemoveAnnotationLink">[delete annotation]</webobject>
        </webobject>
        	<webobject name="AnnotationsContainer">
        		<webobject name="SampleImage"></webobject>
		        <webobject name="AnnotationsRepetition">
			        <webobject name="Annotation">
			        	<webobject name="EditingConditional">
							<div class="annotationTitle">
								[move handle]
							</div>
		        			<webobject name="IBox">
			        			<webobject name="Form">
				        			<table cellspacing="0" width="100%" cellpadding="1" class="edit">
					        			<tr><td>Title</td><td><webobject name="AnnotationTitleField"></webobject></td></tr>
					    		    	<tr><td>Content</td><td><webobject name="AnnotationContentField"></webobject></td></tr>
			    		    			<tr><td colspan="2" align="center"><webobject name="SaveButton"></webobject></td></tr>
				        			</table>
					        	</webobject> 
				        	</webobject>
				        	<br />
				        	disable editing to see text on hover
						</webobject>
					</webobject>
    		    </webobject>
	        </webobject>
        </webobject>
        <webobject name="PostItNote1"> 
        	Ajax image annotations example. <br />
        	You can move around the annotations, add new ones, delete selected annotations and edit the contents of the annotations. <br />
        	The changes are sent to the server via AJAX.
        </webobject>
        <webobject name="PostItNote2"> 
        	You can use the same Components to add stickies to your page. <br />
        	Ajax requests have been disabled for the stickies.
        </webobject>
        <webobject name="PostItNote3"> 
        	The javascript behaves oddly when you try to resize an element, when there is no other element below it. <br /> 
        	Try to resize one of the stickies in their default position and you see what I mean. <br /> 
        	When you move the stickie over the image on the left, resize will work fine.
		</webobject>
    </webobject>
</webobject>
