<wo:PageWrapper title="Change Your Password" hideBreadcrumb="$true">
	<div class="panel">
		<div class="title">Change Your Password</div>
		
		<div class="contents">
			<wo:form>
				<wo:not condition="$person.anyMembershipsConfirmed">
					<div class="row">
						<span class="label">Your Name</span>
						<wo:textfield value="$person.name"/>
					</div>
				</wo:not>

				<div class="row">
					<span class="label">Password</span>
					<wo:password value="$password"/>
				</div>

				<div class="row">
					<span class="label">Confirm</span>
					<wo:password value="$confirmPassword"/>
				</div>

				<div class="row">
					<wo:submit action="$resetPassword" value="Change Your Password"/> or <wo:WOHyperlink directActionName="default">cancel</wo:WOHyperlink>
				</div>
			</wo:form>
		</div>
	</div>
</wo:PageWrapper>