<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
	<head>
		<TITLE>WOEvent Display Page</TITLE>
	</head>
	<body bgcolor=#FFFFFF>
		<WEBOBJECT NAME=Conditional3><h2 ALIGN=CENTER><FONT COLOR=#ff0000>This Request Requires A User Login</FONT></h2><br/><CENTER><WEBOBJECT NAME=Form1>
			<TABLE border=1 cellPadding=2 cellSpacing=0 bgcolor="#f6ffff">
						<TR>
							<TD>
								<TABLE BORDER=0 WIDTH="80%">
									<TR align=CENTER>
										<TD> User </TD>
										<TD>
											<WEBOBJECT NAME="USERNAME"></WEBOBJECT>
										</TD>
									</TR>
									<TR align=CENTER>
										<TD> Password </TD>
										<TD>
											<WEBOBJECT NAME="PASSWORD"></WEBOBJECT>
										</TD>
									</TR>
									<TR>
										<TD></TD>
										<TD><WEBOBJECT NAME=SUBMIT></WEBOBJECT></TD>
									</TR>
								</TABLE>
							</TD>
						</TR>
					</TABLE>
			<br/>
		</WEBOBJECT></CENTER></WEBOBJECT>
		<WEBOBJECT NAME=Conditional4>
			<P><WEBOBJECT NAME=Hyperlink1>Set up logging</WEBOBJECT></P>
			<WEBOBJECT NAME=Conditional1><WEBOBJECT NAME=DisplayModeForm><WEBOBJECT NAME=ShowAllRoot></WEBOBJECT>
					Show all root events<br/>
					<WEBOBJECT NAME=ShowAggregated></WEBOBJECT>
					Show aggregated hierarchical events<br/>
					<WEBOBJECT NAME=ShowByPageComponent></WEBOBJECT>
					Show events grouped by page, then by component<br/>
					<WEBOBJECT NAME=ShowByPage></WEBOBJECT>
					Show events grouped by page<br/>
					<WEBOBJECT NAME=ShowByPageAssoc></WEBOBJECT>
					Show events grouped by page, associations only<br/>
					<P>
						<WEBOBJECT NAME=ChangeLoggingButton></WEBOBJECT>&nbsp;&nbsp;&nbsp;<WEBOBJECT NAME=ResetLogging></WEBOBJECT></P></WEBOBJECT>
				<P ALIGN=LEFT><FONT SIZE=5><U>Current Event Log:<br/>
					</U></FONT><FONT SIZE=2>based on
					<WEBOBJECT NAME=String1></WEBOBJECT>
					events -- spent
					<WEBOBJECT NAME=String2></WEBOBJECT>
					ms in
					<WEBOBJECT NAME=String4></WEBOBJECT>
					events in EOF,
					<WEBOBJECT NAME=String3></WEBOBJECT>
					ms in
					<WEBOBJECT NAME=String5></WEBOBJECT>
					events in WOF<br/>
					</FONT></P>
				<TABLE CELLSPACING=1 WIDTH=100% BGCOLOR=#eeeeee>
					<TR>
						<TD BGCOLOR=#888888><B>Title</B></TD>
						<TD BGCOLOR=#cccccc><B>Comment</B></TD>
						<TD ALIGN=right BGCOLOR=#cccccc><B>Time</B></TD>
						<TD ALIGN=right BGCOLOR=#cccccc><B>Calls</B></TD>
						<TD ALIGN=left BGCOLOR=#cccccc><B>Relative</B></TD>
					</TR>
					<WEBOBJECT NAME=Outline>
						<WEBOBJECT NAME=RowSwitch>
						</WEBOBJECT>
					</WEBOBJECT>
				</TABLE>
				<p/>
			</WEBOBJECT><WEBOBJECT NAME=Conditional2>The event log is empty.</WEBOBJECT>
			<HR>
			<P><WEBOBJECT NAME=Hyperlink2>Set up logging</WEBOBJECT></P>
			<p/>
		</WEBOBJECT>
	</body>
</html>
