{
    attributes = (
        {
            columnName = IDOL_ID; 
            externalType = long; 
            name = idolID; 
            precision = 9; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = NAME; 
            externalType = char; 
            name = name; 
            valueClassName = NSString; 
            width = 50; 
        }, 
        {
            allowsNull = Y; 
            columnName = VOTES; 
            externalType = long; 
            name = votes; 
            valueClassName = NSNumber; 
            valueType = i; 
        }
    ); 
    attributesUsedForLocking = (idolID, name, votes); 
    className = EOGenericRecord; 
    classProperties = (name, votes); 
    externalName = IDOL; 
    fetchSpecificationDictionary = {}; 
    name = Idol; 
    primaryKeyAttributes = (idolID); 
}
