<wo:Main pageTitle = "Media Box Advanced - A Lightbox Variant For MooTools">

	<style>

		.image-strip {
			list-style-type: none;
			margin-top: 20px;
			margin-left: 0px;
		}
		
		.image-strip li {
			display: block;
			float: left;
			padding: 10px;
		}
	
	</style>
	
	<h2>Media Box - Images, Flash etc...</h2>
	<hr />
	<p>An easy-to-use pop up window replacement for youTube videos and more.  Original can be found here: <a href = "http://iaian7.com/webcode/mediaboxAdvanced" target = "_blank">http://iaian7.com</a></p>
	<hr/>
	<webobject name = "VideoLink">Video Test</webobject>
	<hr/>
	<h3>Images</h3>
	<hr/>
	<ul class = "image-strip">
		<li><webobject name = "ImageOneLink"><webobject name = "ImageOneThumb"></webobject></webobject></li>
		<li><webobject name = "ImageTwoLink"><webobject name = "ImageTwoThumb"></webobject></webobject></li>
		<li><webobject name = "ImageThreeLink"><webobject name = "ImageThreeThumb"></webobject></webobject></li>
	</ul>
</wo:Main>