<svg style="fill-rule:nonzero;clip-rule:nonzero;stroke:#000000;stroke-miterlimit:4; font-family:'Myriad-Roman'; font-size:195.3435;">
        <g>
                <text transform="matrix(0.9775 0 0 1 0 162.3291)"><tspan x="0" y="0" style="fill:#FDA02B;stroke:none;"><webobject name=TextString></webobject></tspan></text>
                <text transform="matrix(0.9775 0 0 1 0 162.3291)"><tspan x="0" y="0" style="stroke:none;"><webobject name=TextString></webobject></tspan></text>
                <text transform="matrix(0.9775 0 -3 0.5 0 162.3291)"><tspan x="0" y="0" style="stroke:none;"><webobject name=TextString></webobject></tspan></text>
        </g>
</svg>
