<webobject name=ShouldDisplayConditional>
<table border=1 cellpadding=0 cellspacing=1>
    <webobject name=ArrayRepetition>
        <tr>
            <td nowrap colspan=2>
                <webobject name=DisplayItem></webobject>
            </td>
        </tr>
    </webobject>
    <webobject name=MoreThanConditional>
        <tr><td>
                <webobject name=ListAction><i>All... (<webobject name=TotalItems></webobject> items)</i></webobject>
        </td></tr>
    </webobject>
</table>
</webobject>
