<div class="ERXTabPanel"><webobject name="HasTabs"><div class="Tabs"><webobject name=TabWrapper><webobject name=Tabs>
<webobject name=TabContainer>
<webobject name=SelectedTabConditional><div><webobject name=TabName></webobject></div></webobject>
<webobject name=NotSelectedTabConditional>
	<webobject name=HasSubmitAction>
		<webobject name=switchSubmitTab></webobject><webobject name=switchSubmitTabLink><div><webobject name=TabName></webobject></div></webobject>
	</webobject>
	<webobject name=HasNoSubmitAction><webobject name=TabLink><div><webobject name=TabName></webobject></div></webobject></webobject>
</webobject>
</webobject>
</webobject></webobject></div>
	<div class="TabContent"><webobject name=Wrapper><webobject name=ComponentContent></webobject></webobject></div>
</webobject>
<webobject name = "HasNoTabs"><div class="TabContent"><webobject name=ComponentContent></webobject></div></webobject></div>
