<webobject name = "MapContainer"/>
<script type="text/javascript">
	var <webobject name = "MapContainerID"/>;
	function load<webobject name = "MapContainerID"/>() {
    if (GBrowserIsCompatible()) {
	    <webobject name = "MapContainerID"/> = new GMap2(document.getElementById('<webobject name = "MapContainerID"/>'));

	    <webobject name = "LngLatConditional">
	      <webobject name = "MapContainerID"/>.setCenter(new GLatLng(<webobject name = "Latitude"/>, <webobject name = "Longitude"/>),<webobject name = "ZoomLevel"/>);
	    </webobject>
	    
	    <webobject name = "AddressConditional">
				showAddress(<webobject name = "MapContainerID"/>, '<webobject name = "Address"/>',<webobject name = "ZoomLevel"/>);
			</webobject>
			
			<webobject name = "ControlTypeConditional">
			  <webobject name = "MapContainerID"/>.addControl(new G<webobject name = "ControlType"/>Control());
			</webobject>
	  }
	}
	    
	load<webobject name = "MapContainerID"/>();
</script>
