<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title><webobject name = "Name"/></title>
</head>
<body> 
	<table border="1" cellpadding="1" cellspacing="1">
		<webobject name="ElementsRepetition">
			<webobject name = "IsMetaCommand">
				<webobject name = "IsM">
					<tr><td><b>MS: <webobject name = "Arguments"/></b></td></tr>
				</webobject>
				<webobject name = "IsA">
					<tr><td><i>AS: <webobject name = "Arguments"/></i></td></tr>
				</webobject>
			</webobject>
			<webobject name = "IsComment">
				<tr><td><webobject name = "Value"/></td></tr>
			</webobject>
		</webobject>
	</table>
</body>
</html>