<webobject name="FlyOver"><webobject name="LabelTemplate"><webobject name=NoLabel><webobject name=Display></webobject></webobject><webobject name=Conditional2><webobject name=Label></webobject></webobject></webobject><webobject name="ContentTemplate">
	<table cellpadding="2" border="1" cellspacing="2" bgcolor="white">
		<webobject name=Loop>
			<tr>
				<td><b><webobject name=String1></webobject></b></td>
				<td><webobject name=SwitchComponent1></webobject></td>
			</tr>
		</webobject>
	</table>
</webobject></webobject>
