<svg width="277" height="370">
	<defs>
		<filter id="Turb2" filterUnits="objectBoundingBox">
			<!--Copyright 2000 Adobe Systems. You may copy, modify, and distribute this file, if you include this notice & do not charge for the distribution. This file is provided "AS-IS" without warranties of any kind, including any implied warranties.-->
			<feTurbulence type="turbulence" baseFrequency="0.02" numOctaves="1" result="turb1">
				<animate attributeName="baseFrequency" values="0.01;0.08;0.01" dur="10s" repeatDur="indefinite"/>
				<animate attributeName="type" values="turbulence;fractalNoise" dur="2s" repeatDur="indefinite"/>
			</feTurbulence>
			<feDiffuseLighting id="turb1" in="turb1" resultScale="1" surfaceScale="10" diffuseConstant="1" lightColor="red" result="diffuse">
				<feDistantLight id="light" azimuth="135" elevation="60"/>
				<webobject name=SVGAnimate></webobject>
			</feDiffuseLighting>
			<feSpecularLighting in="turb1" surfaceScale="10" specularConstant="1" specularExponent="20" lightColor="white" result="specularOut">
				<feDistantLight id="light" azimuth="135" elevation="60"/>
			</feSpecularLighting>
			<feComposite in="diffuse" in2="specularOut" operator="arithmetic" k1="0" k2="1" k3="1" k4="0" result="litPaint"/>
		</filter>
	</defs>
	<rect height="277" width="370" style="filter:url(#Turb2);" x="0" y="0"></rect>
</svg>