<HTML>
	<HEAD>
		<TITLE>Page Title</TITLE>
	</HEAD>
	<BODY>
		<FONT SIZE=5><B>Docs by Example<BR>
		</B></FONT><FONT SIZE=1>documentation for DRGrouping and WRReporting frameworks<BR></FONT>-<B><WEBOBJECT NAME=Hyperlink4>Intro</WEBOBJECT></B><BR><FONT SIZE=1><BR>DynaReporter in Action:<BR>
		</FONT>
			-<B><WEBOBJECT NAME=Hyperlink3>Grouping with Custom Presentation</WEBOBJECT></B><br>
			-<B><WEBOBJECT NAME=Hyperlink2>Quick&nbsp;Report&nbsp;Test</WEBOBJECT></B><br>
			-<B><WEBOBJECT NAME=Hyperlink1>Oracle GROUP&nbsp;BY&nbsp;Test</WEBOBJECT></B><br>
		<FONT SIZE=3><B><BR>
		</B></FONT><FONT SIZE=1>Defining a DRReportModel:<BR></FONT>-<B><WEBOBJECT NAME=Hyperlink6>The WRReporting Editors</WEBOBJECT></B><BR><BR><FONT SIZE=1>Object Diagram:<BR></FONT>-<B><webobject name=url>DRGrouping ER Diagram</webobject></B><BR><BR>
	</BODY>
</HTML>