<WEBOBJECT NAME=PageWrapper>
	<WEBOBJECT NAME=Repetition1>
		<WEBOBJECT NAME=ListTable>
			<WEBOBJECT NAME=NoCustomSheetComponent>
				<WEBOBJECT NAME=HasHeader>
				<TR>
					<WEBOBJECT NAME=HeaderCell><WEBOBJECT NAME=ERExcelEscapeForXMLWrapper1><WEBOBJECT NAME=HeaderString></WEBOBJECT></WEBOBJECT></WEBOBJECT>
				</TR>
				<TR>
				</TR>
				</WEBOBJECT>
				<TR>
					<WEBOBJECT NAME=ColumnLabelRepetition>
						<WEBOBJECT NAME=ShouldShowProperty>
							<WEBOBJECT NAME=AttributeLabelCell><WEBOBJECT NAME=PropertyNameComponent></WEBOBJECT></WEBOBJECT>
						</WEBOBJECT>
					</WEBOBJECT>
				</TR>
				<WEBOBJECT NAME=BatchRepetition>
					<WEBOBJECT NAME=ObjectRepetition>
						<TR>
							<WEBOBJECT NAME=AttributeRepetition>
								<WEBOBJECT NAME=ShouldShowProperty>
									<WEBOBJECT NAME=AttributeCell><WEBOBJECT NAME=ERExcelEscapeForXMLWrapper1><WEBOBJECT NAME=AttributeDisplay></WEBOBJECT></WEBOBJECT></WEBOBJECT>
								</WEBOBJECT>
							</WEBOBJECT>
						</TR>
					</WEBOBJECT>
				</WEBOBJECT>
			</WEBOBJECT>
			<WEBOBJECT NAME=HasCustomSheetComponent>
				<WEBOBJECT NAME=CustomComponentForSheet>
				</WEBOBJECT>
			</WEBOBJECT>
		</WEBOBJECT>
	</WEBOBJECT>
</WEBOBJECT>