<table cellspacing=2 cellpadding=2 border=1 noshade>
	<tr>
		<td height=10 colspan=3><webobject name=PrevYear>&lt;&lt;&lt;</webobject>|<webobject name=PrevMonth>&lt;&lt;</webobject>|<webobject name=PrevWeek>&lt;</webobject></td>
		<td align=CENTER><font size=1><webobject name=MonthName></webobject></font></td>
		<td align=RIGHT colspan=3><webobject name=NextWeek>&gt;</webobject>|<webobject name=NextMonth>&gt;&gt;</webobject>|<webobject name=NextYear>&gt;&gt;&gt;</webobject></td>
	</tr>
	<tr>
		<webobject name=HeaderLoop>
			<td align=CENTER><webobject name=HeaderDisplayString></webobject></td>
		</webobject>
	</tr>
	<webobject name=DatesForWeeks>
		<tr>
			<webobject name=DatesForCurrentWeek><webobject name=TableCell><webobject name=ShowDate><webobject name=CellDisplayString></webobject></webobject></webobject></webobject>
		</tr>
	</webobject>
</table>