{
    cell = {
        cellType = (
            CELL_TYPE_STRING,
            CELL_TYPE_FORMULA,
            CELL_TYPE_NUMERIC,
            CELL_TYPE_BLANK,
            CELL_TYPE_BOOLEAN,
            CELL_TYPE_ERROR
        );
    };
    
    font  = {
        bold = (
            BOLDWEIGHT_NORMAL,
            BOLDWEIGHT_BOLD
        );
        underline = (
            U_NONE,
            U_SINGLE,
            U_DOUBLE,
            U_SINGLE_ACCOUNTING
        );
        typeOffset = (
            SS_NONE,
            SS_SUPER,
            SS_SUB
        );
    };
    
    style = {
        alignment = (
            GENERAL,
            LEFT,
            CENTER,
            RIGHT
        );
        verticalAligment = (
            TOP,
            CENTER,
            BOTTOM,
            JUSTIFY
        );
        borderLeft = (
            NONE,
            THIN,
            MEDIUM,
            DASHED,
            HAIR,
            DOUBLE,
            DOTTED,
            MEDIUM_DASHED,
            DASH_DOT,
            MEDIUM_DASH_DOT,
            DASH_DOT_DOT,
            MEDIUM_DASH_DOT_DOT,
            SLANTED_DASH_DOT
        );
        borderTop = (
            NONE,
            THIN,
            MEDIUM,
            DASHED,
            HAIR,
            DOUBLE,
            DOTTED,
            MEDIUM_DASHED,
            DASH_DOT,
            MEDIUM_DASH_DOT,
            DASH_DOT_DOT,
            MEDIUM_DASH_DOT_DOT,
            SLANTED_DASH_DOT
        );
        borderRight = (
            NONE,
            THIN,
            MEDIUM,
            DASHED,
            HAIR,
            DOUBLE,
            DOTTED,
            MEDIUM_DASHED,
            DASH_DOT,
            MEDIUM_DASH_DOT,
            DASH_DOT_DOT,
            MEDIUM_DASH_DOT_DOT,
            SLANTED_DASH_DOT
        );
        borderBottom= (
            NONE,
            THIN,
            MEDIUM,
            DASHED,
            HAIR,
            DOUBLE,
            DOTTED,
            MEDIUM_DASHED,
            DASH_DOT,
            MEDIUM_DASH_DOT,
            DASH_DOT_DOT,
            MEDIUM_DASH_DOT_DOT,
            SLANTED_DASH_DOT
        );
        fillPattern = (
            NO_FILL,
            SOLID_FOREGROUND,
            FINE_DOTS,
            ALT_BARS,
            SPARSE_DOTS,
            THICK_HORZ_BANDS,
            THICK_VERT_BANDS,
            THICK_BACKWARD_DIAG,
            THICK_FORWARD_DIAG,
            BIG_SPOTS,
            BRICKS,
            THIN_HORZ_BANDS,
            THIN_BACKWARD_DIAG,
            THIN_FORWARD_DIAG,
            SQUARES,
            DIAMONDS
        );
    };
}