<html>
<head>
  <title>WebObjects Error</title>
</head>
<body bgcolor="#ffffff">

        <table border=0 width=100%>
            <tr>
                <td align=right valign=top>
                    <b>Application:</b>
                </td>
                <td align=left valign=top>
                    <webobject name=ApplicationNameString></webobject>
                </td>
            </tr>
            <TR><TD ALIGN=RIGHT><b>Host Name:</b></TD><TD><WEBOBJECT NAME=String4></WEBOBJECT></TD></TR><TR><TD ALIGN=RIGHT><b>Date:</b></TD><TD><WEBOBJECT NAME=String3></WEBOBJECT></TD></TR>
            <WEBOBJECT NAME=Conditional1><TR><TD ALIGN=RIGHT><b>Actor:</b></TD><TD><WEBOBJECT NAME=String1></WEBOBJECT> - <WEBOBJECT NAME=String2></WEBOBJECT></TD></TR>
            </WEBOBJECT><tr>
                <td align=right valign=top>
                    <b>Error:</b>
                </td>
                <td align=left valign=top>
                    <WEBOBJECT NAME=ERXStringWithLineBreaks1></WEBOBJECT>
                </td>
            </tr>
			<webobject name=HasExtraInfoDictionary>
            <TR>
            	<TD ALIGN=RIGHT><B>Extra Information:</B></TD>
            	<TD></TD>
            </TR>
			<webobject name=ExtraInfoRowRepetition>
            <TR>
            	<TD ALIGN=RIGHT><B><WEBOBJECT NAME=UserInfoKeyString2></WEBOBJECT></B>:</TD>
            	<TD><WEBOBJECT NAME=UserInfoValueString2></WEBOBJECT></TD>
            </TR>
            </webobject>
			</webobject>
			<tr>
                <td align=right valign=top>
                    <b>Stacktrace:</b>
                </td>
                <td align=left valign=top>
                    <webobject name=ReasonRepetition>
                        <webobject name=ReasonString></webobject><br>
                    </webobject>
                </td>
            </tr>
			<WEBOBJECT NAME=Conditional2>
				<TR>
					<TD ALIGN=RIGHT VALIGN=TOP><B>Formatted Message:</B></TD>
					<TD><WEBOBJECT NAME=ERXStringWithLineBreaks2></WEBOBJECT></TD>
				</TR>
			</WEBOBJECT>
        </table>
</body>
</html>
