<webobject name = "AjaxExampleComponent">
<style>
div#fancy table {
	padding: 0px;
	margin: 0px;
	border-spacing: 0px;
	font-family: Helvetica;
}

div#fancy table th {
	font-weight: normal;
	text-align: right;
	text-transform: lowercase;
	padding-right: 10px;
}

div#fancy h2 {
	margin: 0px;
	padding: 0px;
	padding-bottom: 5px;
	font-family: Helvetica;
}

div#fancyView {
	background-color: rgb(200, 250, 200);
	border: 1px solid rgb(100, 150, 100);
	padding: 10px;
}

div#fancyView table th {
	color: rgb(100, 150, 100);
}

div#fancyEdit {
	background-color: rgb(200, 200, 250);
	border: 1px solid rgb(100, 100, 150);
	padding: 10px;
}

div#fancyEdit table th {
	color: rgb(100, 100, 150);
}

p.clickToEdit {
	font-style: italic;
	padding: 0px;
	margin: 0px;
	margin-top: 10px;
}
</style>
	
	AjaxInPlace provides support for arbitrarily complex view and edit components.  This is in 
	contrast to AjaxInPlaceEditor, which provides a thin wrapper around the scriptaculous in place editor
	component (a text field).
	
	<p>
	<b>Simple AjaxInPlace</b>
	</p>
	<webobject name = "ExampleInPlace">
		<webobject name = "View">View: <webobject name = "Value"/></webobject>
		<webobject name = "Edit">Edit: <webobject name = "ValueField"/></webobject>
	</webobject>
	
	<p>
	<b>Simple AjaxInPlace with Manual Controls</b>
	</p>
	<webobject name = "ExampleInPlaceManual">
		<webobject name = "ViewManual">
			View: <webobject name = "ManualValue"/>
			<br>
			<webobject name = "ClickToEdit">click to edit</webobject>
		</webobject>
		<webobject name = "EditManual">
			Edit: <webobject name = "ManualValueField"/>
			<br>
			<webobject name = "ClickToSave">click to save</webobject>
			<webobject name = "ClickToCancel">click to cancel</webobject>
		</webobject>
	</webobject>
	<p>
	<b>Fancier AjaxInPlace</b>
	<webobject name = "FancyInPlace">
		<webobject name = "FancyView">
			<div id = "fancyView">
				<h2>Personal Information</h2>
				<table>
					<tr>
						<th>First Name</th>
						<td><webobject name = "FirstName"/></td>
					</tr>

					<tr>
						<th>Last Name</th>
						<td><webobject name = "LastName"/></td>
					</tr>

					<tr>
						<th>Phone Number</th>
						<td><webobject name = "PhoneNumber"/></td>
					</tr>
				</table>
				<p class = "clickToEdit">click anywhere to edit</p>
			</div>
		</webobject>
		<webobject name = "FancyEdit">
			<div id = "fancyEdit">
				<h2>Edit Personal Information</h2>
				<table>
					<tr>
						<th>First Name</th>
						<td><webobject name = "FirstNameField"/></td>
					</tr>

					<tr>
						<th>Last Name</th>
						<td><webobject name = "LastNameField"/></td>
					</tr>

					<tr>
						<th>Phone Number</th>
						<td><webobject name = "PhoneNumberField"/></td>
					</tr>
				</table>
				<br/>
				<webobject name = "FancySave"/> or 
				<webobject name = "FancyCancel">cancel</webobject>
			</div>
		</webobject>
	</webobject>
</webobject>