<html>
<head>
  <title>WebObjects Error</title>
</head>
<body bgcolor="#ffffff">

<table border=0 width="100%">
<tr>
<td align=center valign=top>
    
</td>
<td align=left valign=top>
    
        <hr>
        <table border=0 width=100%>
            <tr>
                <td align=right valign=top>
                    <b>Application:</b>
                </td>
                <td align=left valign=top>
                    <webobject name=ApplicationNameString></webobject>
                </td>
            </tr>
            <TR><TD ALIGN=RIGHT><b>Host Name:</b></TD><TD><WEBOBJECT NAME=String4></WEBOBJECT></TD></TR><TR><TD ALIGN=RIGHT><b>Date:</b></TD><TD><WEBOBJECT NAME=String3></WEBOBJECT></TD></TR><TR><TD ALIGN=RIGHT><b>Actor:</b></TD><TD><WEBOBJECT NAME=String1></WEBOBJECT> - <WEBOBJECT NAME=String2></WEBOBJECT></TD></TR>
            <tr>
                <td align=right valign=top>
                    <b>Error:</b>
                </td>
                <td align=left valign=top>
                    <webobject name=ExceptionNameString></webobject>
                </td>
            </tr>
            <tr>
                <td align=right valign=top>
                    <b>Reason:</b>
                </td>
                <td align=left valign=top>
                    <webobject name=ReasonRepetition>
                        <webobject name=ReasonString></webobject><br>
                    </webobject>
                </td>
            </tr>
            <TR>
            	<TD COLSPAN=2>
            		<HR>
            		<b>Extra Info Dictionary:</b></TD>
            </TR>

<webobject name=ExtraInfoRowRepetition>
                <tr>
                    <td align=right valign=top>
                        <b><webobject name=UserInfoKeyString></webobject>:</b>
                    </td>
                    <td align=left valign=top>
                        <pre><webobject name=UserInfoValueString></webobject></pre>
                    </td>
                </tr>
                </webobject>
<tr>
                <td colspan=2 align=left valign=bottom>
                    <hr>
                    <b>User Info Dictionary:</b>
                </td>
            </tr>
            <webobject name=HasUserInfoConditional>
                <webobject name=UserInfoRowRepetition>
                <tr>
                    <td align=right valign=top>
                        <b><webobject name=UserInfoKeyString></webobject>:</b>
                    </td>
                    <td align=left valign=top>
                        <pre><webobject name=UserInfoValueString></webobject></pre>
                    </td>
                </tr>
                </webobject>
            </webobject>
            <webobject name=NoUserInfoConditional>
                <tr>
                <td align=right valign=top>
                    <!-- empty cell -->
                </td>
                <td align=left valign=top>
                <font color="#7f7f7f"><b>Exception has no userInfo dictionary</b></font>
                </td>
                </tr>
            </webobject>
        </table>
        
</td>
</tr>
</table>

</body>
</html>
