<svg style="fill-rule:nonzero;clip-rule:nonzero;stroke:#000000;stroke-miterlimit:4; font-family:'Myriad-Roman'; font-size:195.3435;">
        <text transform="matrix(0.9775 0 0 1 0 162.3291)" style="fill:none;stroke:#1F363B;stroke-width:30;"><webobject name=TextString></webobject></text>
        <text transform="matrix(0.9775 0 0 1 0 162.3291)" style="fill:none;stroke:#FFFFFF;stroke-width:24;"><webobject name=TextString></webobject></text>
        <text transform="matrix(0.9775 0 0 1 0 162.3291)" style="fill:none;stroke:#8B9596;stroke-width:21.5;"><webobject name=TextString></webobject></text>
        <text transform="matrix(0.9775 0 0 1 0 162.3291)" style="fill:none;stroke:#FFD43B;stroke-width:3;stroke-dasharray:9;"><webobject name=TextString></webobject></text>
</svg>
