<webobject name = "AjaxUpdateContainer">
  <webobject name = "HasRelatedItems">
    <webobject name = "RelatedItemsContainer">
      <webobject name = "BrowserList">
        <webobject name = "RelatedItem">
          <span class = "RelatedItemDescription"><webobject name = "ItemString"/></span>
          <ul class = "ObjActionList RelatedObjActionList">
            <li><webobject name = "EditButton"/></li>
            <li><webobject name = "RemoveButton"><span><webobject name = "RemoveButtonLabel"/></span></webobject>
            </li>
          </ul>
          <webobject name = "ShowRemoveDialog">
            <div class = "Dialog ConfirmDialog InlineConfirmDialog">
              <span class = "DialogMessage">Remove this item?</span>
              <ul class = "ObjActionList DialogObjActionList">
                <li><webobject name = "CancelButton"><span><webobject name = "CancelButtonLabel"/></span></webobject></li>
                <li><webobject name = "ConfirmButton"><span><webobject name = "ConfirmButtonLabel"/></span></webobject></li>
              </ul>
            </div>
          </webobject>
        </webobject>
      </webobject>
    </webobject>
  </webobject>
  <webobject name = "HasNoRelatedItems"> <webobject name = "EmptyListMessage"/> </webobject>
  <ul class = "ActionList RelatedActionList">
    <li><webobject name = "AddExistingButton"/></li>
    <li><webobject name = "AddNewButton"/></li>
    <li><webobject name = "EditRelationshipButton"/></li>
  </ul>
</webobject>
<ul>
<webobject name = "D2wContextKeysWhenRelationship">
<li><webobject name = "DisplayPropertyItem"/></li>
</webobject>
</ul>