<webobject name = "AjaxExampleComponent">
<!-- AK: this should be an ajax link... -->
<webobject name = "PushLink">Push</webobject>
<br />
<webobject name = "iframe"></webobject>
<script>
// AK: I don't have time to look up the proper API, but for a proof of concept, this should suffice
new Ajax.Request('<webobjects name=url/>', {
		  parameters: '',
		  method: 'GET',
		  asynchronous: true,
		  onInteractive: function(transport) {
		   var result = document.getElementById('result');
		    // AK: this should have a subclass that implements a protocoll that knows when a whole item
		    // has been transfered
		    if(!result.last) {
		    	result.last = "";
		    }
		  	result.innerHTML += "<br>" + transport.responseText.slice(result.last.length, transport.responseText.length);
		  	result.last = transport.responseText;
		  	//alert(transport.responseText);
		  }
       });
</script>
<div id="result"/>
</webobject>
