<webobject name=TaskIsEdit>
    <webobject name=HasObjects>
        <webobject name=HasRemove><webobject name=RemoveButton></webobject>|</webobject>
        <webobject name=DeleteButton></webobject>
    </webobject>
    <webobject name=ItemsToAdd></webobject>
    <webobject name=AddButton></webobject>
</webobject>
<webobject name=List>
    <table width="100%" cellpadding="4" cellspacing=0>
        <tr>
            <td width=30  class=Section>
                <webobject name=TaskIsEdit><webobject name=IsSelected></webobject></webobject>
            </td>
            <td class=Section><webobject name=EntityName></webobject> #<webobject name=Index></webobject></td>
        </tr>
    </table>
    <webobject name=Edit></webobject>
</webobject>