<webobject name="PageWrapper">
	<webobject name="Help"></webobject>
	<webobject name="QueryForm">
		<table class="QueryTable">
			<tr>
				<td class="Header">
					<webobject name=Header></webobject>
				</td>
			</tr>
			<tr>
				<td class= "TopActions">
					<webobject name="ShowCancel">
						<webobject name="ReturnButton"></webobject>
					</webobject>
					<webobject name="ClearButton"></webobject>
					<webobject name="QueryButton"></webobject>
				</td>
			</tr>
			<tr>
				<td class="Repetition">
					<webobject name="QueryPageRepetition"></webobject>
				</td>
			</tr>
			<tr>
				<td class= "Actions">
					<webobject name="ShowCancel">
						<webobject name="ReturnButton"></webobject>
					</webobject>
					<webobject name="ClearButton"></webobject>
					<webobject name="QueryButton"></webobject>
				</td>
			</tr>
		</table>
	</webobject>
	<webobject name="ShowList">
		<webobject name="ShowResults">
			<webobject name="ListPage"></webobject>
		</webobject>
	</webobject>
</webobject>
	