<webobject name="PageWrapper">
	<webobject name="Help"></webobject>
	<webobject name="BannerConditional"><webobject name="Banner"></webobject></webobject>
	
	<webobject name="AboveDisplayPropertyKeys"></webobject>
	
	<webobject name="ListNotEmpty">
		<center>
		<webobject name="ShowBatchNavigationConditional">
		<table>
			<tr>
				<td>
					<webobject name="NavBar">
						<webobject name="FilterDisplayGroupButton"></webobject>
						<webobject name="IsGenericExportButtonKnown"><webobject name="ExcelExportButton"></webobject></webobject>
					</webobject>
				</td>
				<webobject name="AreThereReferenceEO">
					<td>
						<table>
							<tr>
								<th colspan="3">Legend</th>
							</tr>
							<webobject name="Repetition1">
								<tr>
									<td><webobject name="String1"></webobject></td>
									<td>&nbsp;</td>
									<webobject name="Generic1">&nbsp;&nbsp;&nbsp;&nbsp;</webobject>
								</tr>
							</webobject>
						</table>
					</td>
				</webobject>
			</tr>
		</table>
		</webobject>
		
		<br />
		<webobject name="ListTable">
			<webobject name="ListTableHeaderRow">
				<th>&nbsp;</th>
				<webobject name="ColumnLabelRepetition">
				<th nowrap="nowrap" valign="bottom">
					<table>
						<tr>
							<th><webobject name="SwitchComponent1"></webobject></th>
							<td><webobject name="IsPropertySortable"><webobject name="SortOrder"></webobject></webobject></td>
						</tr>
					</table>
				</th>
				</webobject>
				<th>&nbsp;</th>
			</webobject>
			<webobject name="EntityRepetition">
			<webobject name="ListTableRow">
				<td>
					<webobject name="IsSelecting">
						<webobject name="SelectEO"><webobject name="SelectImage"></webobject></webobject>
					</webobject>
					<webobject name="IsListing">
						<webobject name="IsEntityWritable">
							<webobject name="Conditional1">
								<webobject name="ERXNonNullConditional2">
									<webobject name="SwitchComponent2"></webobject>
								</webobject>
								<webobject name="ERXNonNullConditional1">
									<webobject name="EditButton"></webobject>
								</webobject>
							</webobject>
						</webobject>
						<webobject name="IsEntityNotWritable">
							<webobject name="InspectButton"></webobject>
						</webobject>
					</webobject>
				</td>
				<webobject name="AttributeRepetition">
				<webobject name="AttributeCell">
						<webobject name="AttributeDisplay"></webobject>
				</webobject>
				</webobject>
				<td>
					<webobject name="IsListing2">
					<webobject name="IsEntityWritable2">
						<webobject name="Trash"></webobject>
					</webobject>
					</webobject>
				</td>
			</webobject>
			<tr>
				<td bgcolor="#ffffff" colspan='<webobject name="ColSpanNumber"></webobject>'><img border="0" height="2" width="1" /></td>
			</tr>
			</webobject>
		</webobject>
		
		<webobject name="ShowBatchNavigationConditional"><br />
		<webobject name="DisplayBottomBatchNavigationConditional">
			<table>
				<tr>
					<td>
						<webobject name="NavBar2"> 
							<webobject name="FilterDisplayGroupButton2"></webobject> 
							<webobject name="IsGenericExportButtonKnown2"><webobject name="ExcelExportButton2"></webobject></webobject>
						</webobject>
					</td>
					<webobject name="AreThereReferenceEO2">
					<td>
						<table>
							<tr>
								<th colspan="3">Legend</th>
							</tr>
							<webobject name="Repetition2">
							<tr>
								<td><webobject name="String2"></webobject></td>
								<td>&nbsp;</td>
								<webobject name="Generic2">&nbsp;&nbsp;&nbsp;&nbsp;</webobject>
							</tr>
							</webobject>
						</table>
					</td>
				</webobject>
				</tr>
			</table>
		</webobject>
		</webobject>

		<webobject name="ShowCancel">
			<webobject name="BackLink"><webobject name="ReturnButton"></webobject></webobject>
		</webobject>

		</center>
	</webobject>

   <webobject name="ListEmpty">
	   <webobject name="EmptyMessageComponent"></webobject>
	   <webobject name="ShowCancel2">
			<webobject name="BackLink2"><webobject name="ReturnButton2"></webobject></webobject>
		</webobject>
   </webobject>
	  
	  <webobject name="BelowDisplayPropertyKeys"></webobject>
	  
</webobject>
