<webobject name=Wrapper>
	<div align=RIGHT>
		<webobject name=ERPrinterButton></webobject>
	</div>
	<webobject name=MainTable>
		<tr>
			<td>
				<table border=0 cellspacing=1>
					<tr valign=top>
						<td valign=top align=right><webobject name=InspectTable>
								<webobject name=BannerConditional>
									<tr>
										<td align=center>
											<table border=0 cellpadding=0 cellspacing=0>
												<tr>
													<td colspan=2><spacer /></td>
												</tr>
												<webobject name=InspectTableHeaderRow>
													<td align=left><h2><webobject name=EntityName></webobject></h2></td>
													<td align=RIGHT width=30></td>
												</webobject>
											</table>
										</td>
									</tr>
								</webobject>
								<tr>
									<td align=CENTER></td>
								</tr>
								<tr>
									<td valign=top align=center>
										<webobject name=InspectPageRepetition></webobject>
									</td>
								</tr>
							</webobject>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</webobject>
</webobject>