<svg style="fill-rule:nonzero;clip-rule:nonzero;stroke:#000000;stroke-miterlimit:4; font-family:'Myriad-Roman'; font-size:195.3435;">
    <text transform="matrix(0.9775 0 0 1 0 162.3291)" style="stroke:none;"><webobject name=TextString></webobject></text>
    <text transform="matrix(0.9775 0 0 1 0 162.3291)" style="fill:none;stroke-width:4;"><webobject name=TextString></webobject></text>
    <text transform="matrix(0.9775 0 0 1 0 162.3291)" style="fill:none;stroke:#FFFFFF;stroke-width:3;"><webobject name=TextString></webobject></text>
    <text transform="matrix(0.9775 0 0 1 0 162.3291)" style="fill:none;stroke-width:8;stroke-dasharray:1 8;"><webobject name=TextString></webobject></text>
</svg>
