<webobject name = "Form">
	<div style="clear:both">
		<span style="text-align:center; color: red">
			<webobject name = "ValidationMessageContainer">
				<webobject name = "ValidationMessage"/>
			</webobject>
		</span>
	</div>
	<div style="clear:both">
		<span style="float:right">&nbsp;</span>
	</div>
	<div>
		<span style="float:left">First Name:</span>
		<span style="float:right"><webobject name = "FirstName"/></span>
	</div>
	<div style="clear:both">
		<span style="float:left">Last Name:</span>
		<span style="float:right"><webobject name = "LastName"/></span>
	</div>
	<div style="clear:both">
		<span style="float:left">Company Name:</span>
		<span style="float:right"><webobject name = "CompanyName"/></span>
	</div>
	<div style="clear:both">
		<span style="float:right">&nbsp;</span>
	</div>
	<div style="clear:both">
		<span style="float:left"><webobject name = "Cancel"/></span>
		<span style="float:right"><webobject name = "Save"/></span>
	</div>
</webobject>
