<webobject name=NavPage>
<p class="Warning" style="text-align: center;">WARNING - MYSTERY FORM: I don't know what this stuff does. If you do, please add a blurb here describing its function.</p>
<div class="Box MigrationBox">
<h2 class="SectionHeader">WebObjects Applications Deployment Migration</h2>
<p>Preview your http-webobjects.conf file for your Apache 2.x WebServer:</p> 
<pre><code><webobject name="adaptorConfigContent"></webobject></code></pre>
</div>
<div class="Box MigrationBox">
<h2 class="SectionHeader">Provide your Apache 2.x WebServer configuration</h2>
<p></p>
<webobject name="Form2">
	<table class="FormFieldTable">
		<tr><th>Host:</th><td colspan="2"><webobject name="TextField3"></webobject></td></tr>
		<tr><th>Username:</th><td colspan="2"><webobject name="TextField1"></webobject></td></tr>
		<tr><th>SSH identify file:</th><td><webobject name="FileUpload1"></webobject></td>
			<td><p class="Comment">Please provide a valid SSH identity file for JavaMonitor to scp the http-webobjects.conf into your Apache 2.x WebServer host. <a href="">Get help with generating SSH&nbsp;identity file</a></p></td></tr>
		<tr><th>http-webobjects.conf filepath</th><td><webobject name="TextField4"></webobject></td>
			<td><p class="Comment">Please provide a location on the WebServer where JavaMonitor should transfer the http-webobjects.conf file to.</p></td></tr>
		<tr><th>Restart Apache WebServer</th><td colspan="2"><webobject name="CheckBox1"></webobject></td></tr>
	</table>
	<p><webobject name="ResetButton1"></webobject> | <webobject name="MigrateButton"></webobject></p>
</webobject>
<br/>
<webobject name="IsMigrationCompleted"><b>JavaMonitor has migrated your WebObjects Applications deployment successfully.</b></webobject>
<webobject name="NotIsMigrationCompleted">
	<webobject name="IsFailed">JavaMonitor could not migrate your WebObjects Applications deployment. <webobject name="Text2"></webobject></webobject>
</webobject>
</div>
</webobject>