<html>
  <head>
    <title><webobject name="Title" /></title>
    <webobject name = "ERXStyleSheet"/>
  </head>
  <webobject name = "Body1">
  	<div class="Box NavigationBox">
  		<h1>Monitor</h1>
  		<ul class="NavigationTabs">
  			<li class="Applications"><webobject name="AppLink">Applications</webobject></li>
            <li class="Hosts"><webobject name="HostLink">Hosts</webobject></li>
            <li class="Site"><webobject name="SiteLink">Site</webobject></li>
            <li class="Preferences"><webobject name="PrefLink">Preferences</webobject></li>
            <li class="Help"><webobject name="HelpLink">Help</webobject></li>
            <webobject name = "ShowMigrationsTab"><li class="Migrations"><webobject name="MigrationLink">Migrations</webobject></li></webobject>
            <webobject name = "ShowModProxyTab"><li class="ModProxy"><webobject name="ModProxyLink">Mod_Proxy</webobject></li></webobject>
            <webobject name="ShouldOfferLogout"><li class="Logout"><webobject name="LogoutLink">Log Out</webobject></li></webobject>
        </ul>
        
        <div id="NavigationLogo"><webobject name="AppleImage" /></div>
  	</div>
  	<div id="ContentWrapper">
  		<webobject name = "HasError">
			<p class="Box ErrorBox LoginErrorBox"><webobject name="ErrorMsg" /></p>
		</webobject>
    	<webobject name="Content" />
    </div>
  </webobject>
</html>