<webobject name = "PageWrapper">
  <webobject name = "Help" />

  <webobject name = "Container">
    <h1 class="task inspect"><span>Inspect</span></h1>
    <h2 class="entity inspect"><webobject name = "EntityName" /></h2>

	<webobject name="IsNotTabs"><webobject name=InspectPageRepetition /></webobject>
	<webobject name="IsTabs"><webobject name=TabPanel><webobject name=InspectPageRepetition1 /></webobject></webobject>
    
    <div class="button">
	    <ul>
	      <webobject name = "ShowCancel">
	        <li><webobject name = "ReturnLink"><span>Return</span></webobject></li>
	      </webobject>
	      <webobject name = "CanEdit">
	        <li><webobject name = "EditLink"><span>Edit</span></webobject></li>
	      </webobject>
	   	</ul>
   	</div>
   	
 </webobject>
</webobject>
