<WEBOBJECT name=NavPage></WEBOBJECT>

<h2>Hosts</h2>
<P ALIGN=CENTER><FONT COLOR=#FF0000><WEBOBJECT NAME=ErrorMsg></WEBOBJECT></FONT></P><TABLE BORDER=1 CELLPADDING=4 CELLSPACING=1 BGCOLOR=#E0F0F0>
    <TR BGCOLOR=#C0D0D0>
        <TD ALIGN=CENTER><FONT SIZE=-1><B> Host name </B></FONT></TD>
        <TD ALIGN=CENTER><FONT SIZE=-1><B> Available* </B></FONT></TD>
        <TD ALIGN=CENTER><FONT SIZE=-1><B> Host Type</B></FONT></TD>
        <TD ALIGN=CENTER><FONT SIZE=-1><B> Running<BR>Instances </B></FONT></TD>
        <TD ALIGN=CENTER><FONT SIZE=-1><B> Processor<BR>Description </B></FONT></TD>
        <TD ALIGN=CENTER><FONT SIZE=-1><B> OS / Platform </B></FONT></TD>
        <TD ALIGN=CENTER>&nbsp;</TD>
        <TD ALIGN=CENTER>&nbsp;</TD>
    </TR>
    <WEBOBJECT NAME=HostsRepetition>
    <TR>
        <TD ALIGN=CENTER>
            <FONT SIZE=+1><B>
            <WEBOBJECT NAME=HostName></WEBOBJECT>
            </B></FONT>
            <BR>
            <FONT SIZE=-2>
            <WEBOBJECT NAME=HostAddress></WEBOBJECT>
            </FONT>
        </TD>
        <TD ALIGN=CENTER VALIGN=MIDDLE>
            <WEBOBJECT NAME=HostIsAvailable>
                <FONT COLOR=#409F40><B><WEBOBJECT NAME=wotaskdLink>YES</WEBOBJECT></B></FONT>
            </WEBOBJECT>
            <WEBOBJECT NAME=HostIsNOTAvailable>
                <FONT COLOR=#FF0000><B>NO</B></FONT>
            </WEBOBJECT>
        </TD>
        <TD ALIGN=CENTER><WEBOBJECT NAME=String1></WEBOBJECT></TD>
        <TD ALIGN=CENTER VALIGN=MIDDLE>
            <WEBOBJECT NAME=InstanceCount></WEBOBJECT>
        </TD>
        <TD ALIGN=CENTER VALIGN=MIDDLE>
            <WEBOBJECT NAME=ProcessorDescription></WEBOBJECT>
        </TD>
        <TD ALIGN=CENTER VALIGN=MIDDLE>
            <WEBOBJECT NAME=HostOSName></WEBOBJECT>
        </TD>
        <TD ALIGN=CENTER VALIGN=MIDDLE>
            <WEBOBJECT NAME=ConfigureHostLink><WEBOBJECT name=ConfigureButton></WEBOBJECT></WEBOBJECT>
        </TD>
        <TD ALIGN=CENTER VALIGN=MIDDLE>
            <WEBOBJECT NAME=RemoveHostLink><WEBOBJECT name=DeleteButton></WEBOBJECT></WEBOBJECT>
        </TD>
    </TR>
    </WEBOBJECT>
</TABLE>
<BR>
<BR>
<HR>
<BR>
<BR>
<WEBOBJECT name=AddHostForm>
<WEBOBJECT NAME=AddHostSubmitButton></WEBOBJECT>: <WEBOBJECT name=HostNameTextField></WEBOBJECT> of type: <WEBOBJECT NAME=PopUpButton1></WEBOBJECT><BR><BR>
Hosts may be added as either hostnames or IP addresses**
</WEBOBJECT>
<BR>
<P>
*<FONT SIZE=-1> A host is available if it is running the <b>wotaskd</b> service/daemon.</FONT><BR>
**<FONT SIZE=-1> If "localhost" or "127.0.0.1" is a host, it must be the <b>only</b> host.</FONT>
</P>

</CENTER>
  </TD></TR>
</TABLE>
</CENTER>

</BODY>
</HTML>
