<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 10, SVG Export Plug-In . SVG Version: 3.0.0 Build 76)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.0//EN"    "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd" [
	<!ENTITY ns_flows "http://ns.adobe.com/Flows/1.0/">
	<!ENTITY ns_extend "http://ns.adobe.com/Extensibility/1.0/">
	<!ENTITY ns_ai "http://ns.adobe.com/AdobeIllustrator/10.0/">
	<!ENTITY ns_svg "http://www.w3.org/2000/svg">
	<!ENTITY ns_xlink "http://www.w3.org/1999/xlink">
]>
<svg  xmlns:x="&ns_extend;" xmlns:i="&ns_ai;" xmlns:graph="&ns_graphs;"
	 xmlns="&ns_svg;" xmlns:xlink="&ns_xlink;" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" width="624" height="574"
	 viewBox="-0.207 -0.078 624 574" overflow="visible" enable-background="new -0.207 -0.078 624 574" xml:space="preserve">
	<g id="Layer_1_2_" transform="scale(1.6)">
            <webobject name=VoteGareth>
                <webobject name=GarathGroup>
			<defs>
				<path id="XMLID_2_" d="M312.304,359.029l-87.311-71.651l-105.388,39.76l37.548-114.943l-64.389-96.462l110.512,0.616
					l65.594-99.376l30.755,115.324l104.923,35.042l-91.503,70.659L312.304,359.029z"/>
			</defs>
			<clipPath id="XMLID_4_">
				<use xlink:href="#XMLID_2_" />
			</clipPath>
			<g>
				<g>
					<defs>
						<path id="XMLID_6_" d="M21.8,356.418L31.425,0l382.499,10.361L404.3,366.78L21.8,356.418z"/>
					</defs>
					<clipPath id="XMLID_8_" clip-path="url(#XMLID_4_)">
						<use xlink:href="#XMLID_6_" />
					</clipPath>
					<g transform="matrix(1 1.513335e-09 2.298206e-09 1 -3.814697e-06 -6.911989e-08)" clip-path="url(#XMLID_8_)">
						
							<webobject name=GenericElement2></webobject>
					</g>
				</g>
			</g>
                </webobject>
            </webobject>
            <webobject name=VoteWill>
                <webobject name=WillGroup>
			<path d="M623.438,440.373l-114.242,25.283l-44.711,108.125l-58.453-100.469l-116.446-8.168l78.114-87.377l-27.252-113.173
				l106.729,46.468l99.604-61.776l-12.152,116.095L623.438,440.373z"/>
			<g>
				<defs>
					<path id="XMLID_9_" d="M623.495,440.451l-114.242,25.285L464.54,573.859l-58.454-100.469l-116.444-8.168l78.114-87.375
						l-27.254-113.174l106.731,46.468l99.602-61.777l-12.152,116.096L623.495,440.451z"/>
				</defs>
				<clipPath id="XMLID_12_">
					<use xlink:href="#XMLID_9_" />
				</clipPath>
				<g>
					<g>
						<defs>
							<path id="XMLID_11_" d="M0,517.021l16.048-330.636l533.57,25.897l-16.049,330.635L0,517.021z"/>
						</defs>
						<clipPath id="XMLID_13_" clip-path="url(#XMLID_12_)">
							<use xlink:href="#XMLID_11_" />
						</clipPath>
						<g transform="matrix(1 -2.799101e-09 -3.035266e-09 1 1.907349e-06 0)" clip-path="url(#XMLID_13_)">
							
								<webobject name=GenericElement1></webobject>
						</g>
					</g>
				</g>
			</g>
                </webobject>
            </webobject>
	</g>
</svg>
