<html>
    <head><title>Edit localized files</title></head>
    <body>
        <ul>
            <webobject name="Filenames"><li><webobject name="Filename"></webobject>
                    <webobject name="Frameworks">
                        (<webobject name="EditFramework"><webobject name="Framework"></webobject></webobject>) </webobject></li></webobject>
        </ul>
        <webobject name="HasData">
        <hr>
        <webobject name="BatchNavigationBar"></webobject>
        
        <webobject name="Form">
        	<table>
        		<tr><td>Key</td><td> <webobject name="KeyMatch"></webobject></td>
        			<td><webobject name="Find"></webobject></td>
        		</tr>
        	</table>
        </webobject>
        <webobject name="Form"><webobject name="Save"></webobject>
        <table>
            <tr><webobject name="Languages"><td><webobject name="Language"></webobject></td></webobject></tr>
            <webobject name="Entries">
                <tr><webobject name="KeyCell"><webobject name="Key"></webobject></webobject></tr>
             	<tr><webobject name="Languages">
               <webobject name="ValueCell">
               	<webobject name="Entry"></webobject>
               </webobject>
            </webobject></tr>
            </webobject>
        </table>
        <webobject name="Save"></webobject>
        </webobject>
        </webobject>
    </body>
</html>