<webobject name = "AjaxExampleComponent">



<form>
Date with no configuration: <webobject name = "BareDateInput"/><br/><br/>
Date with format: <webobject name = "DateInputWithFormat"/><br/><br/>
Date with formatter: <webobject name = "DateInputWithFormatter"/><br/><br/>
Date in French with formatter: <webobject name = "FrenchDateInputWithFormatter"/><br/><br/>
Disavled Input: <webobject name = "DisabledDateInput"/><br/><br/>
</form>

<webobject name = "Form">
	Format: <webobject name = "Format"/><br/>
	Result: <webobject name = "CustomDateInput"/><br/>
	<webobject name = "Update"/>
</webobject>

</webobject>