<webobject name="PageWrapper">
	<webobject name="Help"></webobject>
	
	<webobject name="AboveDisplayPropertyKeys"></webobject>
	
	<webobject name="HasHeadComponentConditional">
		<webobject name="HeadComponentSwitchComponent"></webobject>
	</webobject>
	
	<webobject name="ListNotEmpty">
		<webobject name="ERTableWithBorder1">
			<webobject name="ListTable">
				<webobject name="ShowBatchNavigationConditional">
				<webobject name="GenericContainer1">
					<webobject name="GenericContainer2">
						<table cellspacing="0" cellpadding="0" border="0" width="100%">
							<tr>
								<td>
									<webobject name="NavBar1"></webobject>
								</td>
								<td align="right" width="20" valign="middle">
									<webobject name="Conditional1">
										<webobject name="ERPrinterButton"></webobject>
									</webobject>
								</td>
								<td>&nbsp;</td>
								<td></td>
							</tr>
						</table>
					</webobject>
				<td></td>
				<td></td>
				<td></td>
				</webobject>
				</webobject>
				
				<webobject name="ListTableHeaderRow">
					<th>&nbsp;</th>
					<webobject name="ColumnLabelRepetition">
					<webobject name="IfPropertyKeyIsNotOmitted">
						<webobject name="PropertyNameComponentGenericContainer">
							<table>
								<tr>
									<th><webobject name="PropertyNameSwitchComponent"></webobject></th>
									<td><webobject name="IsPropertySortable"><webobject name="SortOrder"></webobject></webobject></td>
								</tr>
							</table>
						</webobject>
						<webobject name="ShouldDisplayDetailedPageMetrics">
						<th scope="col" class="InlineMetrics">&nbsp;</th>
						</webobject>
						<td width="1">&nbsp;</td>
					</webobject>
				</webobject>
				<th bgcolor="#999999">&nbsp;</th>
			</webobject>
			
			<webobject name="EntityRepetition">
			<tr>
				<webobject name="GenericContainer3">
					<img alt="" height="1" src="/nsi/s.gif" />
				</webobject>
				<webobject name="ShouldDisplayDetailedPageMetrics"><td bgcolor="#ffffff"><img border="0" height="2" width="1" /></td></webobject>
			</tr>
			<webobject name="ListTableRow">
				<td bgcolor="#ffffff">
					<table>
						<tr>
							<td height="15">
								<webobject name="IsSelecting">
									<webobject name="SelectEO2"><webobject name="SelectImage"></webobject></webobject>
								</webobject>
								<webobject name="IsListing">
									<webobject name="IsEntityWritable">
										<webobject name="EditEO"><webobject name="EditImage"></webobject></webobject>
									</webobject>
									<webobject name="IsEntityNotWritable">
										<webobject name="InspectEO"><webobject name="InspectImage"></webobject></webobject>
									</webobject>
								</webobject>
							</td>
							<td>&nbsp;</td>
						</tr>
					</table>
				</td>
				<webobject name="AttributeRepetition">
				<webobject name="IfPropertyKeyIsNotOmitted">
				<webobject name="AttributeCell">
					<font size="-1"><webobject name="AttributeDisplay"></webobject></font>
				</webobject>
				<webobject name="ShouldDisplayDetailedPageMetrics">
				<td class="InlineMetrics">
					<font size="-1"><webobject name="InlineMetricsForPropertyKey"></webobject></font>
				</td>
				</webobject>
				<td width="1"></td>
				</webobject>
				</webobject>
				<td>
					<webobject name="IsListing2">
						<webobject name="IsEntityWritable2">
							<webobject name="ERTrashcan1"></webobject>
						</webobject>
					</webobject>
				</td>
			</webobject>
			<webobject name="ShouldDisplayDetailedPageMetrics">
				<tr class="MetricsSummary">
					<td>&nbsp;</td>
					<webobject name="AttributeRepetition">
					<webobject name="IfPropertyKeyIsNotOmitted">
					<td>&nbsp;</td>
					<td class="InlineMetrics"><webobject name="MetricsDurationForCurrentPropertyKey"></webobject></td>
					</webobject>
					</webobject>
					<td>&nbsp;</td>
				</tr>
			</webobject>
		</webobject>
		
		<webobject name="ShowBatchNavigationConditional">
		<webobject name="DisplayBottomBatchNavigationConditional">
		<webobject name="TableRowForBottomBatchNavigationGenericContainer">
			<webobject name="TableCellForBottomBatchNavigationGenericContainer">
				<table cellspacing="0" cellpadding="0" border="0" width="100%">
					<tr>
						<td>
							<webobject name="NavBar2"></webobject>
						</td>
						<td align="right" width="20" valign="middle">
							<webobject name="HasPrinterFriendlyVersionConditional2">
								<webobject name="ERPrinterButton2"></webobject>
							</webobject>
						</td>
						<td>&nbsp;</td>
						<td></td>
					</tr>
				</table>
			</webobject>
			<td></td>
			<td></td>
			<td></td>
		</webobject>
		</webobject>
		</webobject>
	
	</webobject>
	</webobject>
		<br />
		<webobject name="HideReturnOnSelect1">
			<webobject name="ShowCancel">
				<webobject name="Return"></webobject>
			</webobject>
		</webobject>
		</webobject>
	
	<webobject name="ListEmpty">
		<webobject name="EmptyMessageComponent"></webobject>
		
		<webobject name="HideReturnOnSelect2">
			<webobject name="ShowCancel2">
				<webobject name="Return2"></webobject>
			</webobject>
		</webobject>
	</webobject>

	<webobject name="BelowDisplayPropertyKeys"></webobject>
	
	<webobject name="ShouldDisplayMetricsSummary">
	<div class="PageMetricsSummary">
		<webobject name="PageMetricsSummary"></webobject>
	</div>
	</webobject>

</webobject>