<webobject name="PageWrapper">
	<webobject name="Help"></webobject>
	
	<webobject name="AboveDisplayPropertyKeys"></webobject>
	
	<webobject name="ListNotEmpty">
		<webobject name="ERTableWithBorder1">
			<webobject name="ListTable">
				<webobject name="GenericContainer1">
					<webobject name="GenericContainer2">
						<table cellspacing="0" cellpadding="0" border="0" width="100%">
							<tr>
								<td>
									<webobject name="NavBar1"></webobject>
								</td>
								<td align="right" width="20" valign="middle">
									<webobject name="Conditional1">
										<webobject name="ERPrinterButton"></webobject>
									</webobject>
								</td>
								<td>&nbsp;</td>
								<td></td>
							</tr>
						</table>
					</webobject>
				<td></td>
				<td></td>
				<td></td>
				</webobject>
				
				<webobject name="ListTableHeaderRow">
					<th>&nbsp;</th>
					<webobject name="ColumnLabelRepetition">
						<th nowrap valign="bottom">
							<table>
								<tr>
									<th>
										<b class="white"><webobject name="PropertyName"></webobject></b>
									</th>
									<th valign="bottom">
										<webobject name="IsPropertySortable">
											<webobject name="AttributeSorter"></webobject>
										</webobject>
									</th>
								</tr>
							</table>
						</th>
					<td width="1">&nbsp;</td>
				</webobject>
				<th bgcolor="#999999">&nbsp;</th>
			</webobject>
			
			<webobject name="EntityRepetition">
				<tr height="1">
					<webobject name="GenericContainer3">
						<img alt="" height="1" src="/nsi/s.gif">
					</webobject>
				</tr>
			<webobject name="ListTableRow">
				<td bgcolor="#ffffff">
					<table>
						<tr height="15">
							<td>
								<webobject name="IsSelecting">
									<webobject name="SelectEO2"><webobject name="SelectImage"></webobject></webobject>
								</webobject>
								<webobject name="IsListing">
									<webobject name="IsEntityWritable">
										<webobject name="EditEO"><webobject name="EditImage"></webobject></webobject>
									</webobject>
									<webobject name="IsEntityNotWritable">
										<webobject name="InspectEO"><webobject name="InspectImage"></webobject></webobject>
									</webobject>
								</webobject>
							</td>
							<td></td>
						</tr>
					</table>
				</td>
				<webobject name="AttributeRepetition">
					<webobject name="AttributeCell">
						<font size="-1"><webobject name="AttributeDisplay"></webobject></font>
					</webobject>
					<td width="1"></td>
				</webobject>
				<td>
					<webobject name="IsListing2">
						<webobject name="IsEntityWritable2">
							<webobject name="ERTrashcan1"></webobject>
						</webobject>
					</webobject>
				</td>
			</webobject>
		</webobject>
	<webobject name="DisplayBottomBatchNavigationConditional">
	<webobject name="TableRowForBottomBatchNavigationGenericContainer">
		<webobject name="TableCellForBottomBatchNaviationGenericContainer">
			<table cellspacing="0" cellpadding="0" border="0" width="100%">
				<tr>
					<td>
						<webobject name="NavBar2"></webobject>
					</td>
					<td align="right" width="20" valign="middle">
						<webobject name="HasPrinterFriendlyVersionConditional2">
							<webobject name="ERPrinterButton2"></webobject>
						</webobject>
					</td>
					<td>&nbsp;</td>
					<td></td>
				</tr>
			</table>
		</webobject>
	<td></td>
	<td></td>
	<td></td>
</webobject>
</webobject>
</webobject>
</webobject>
		<br>
		<webobject name="HideReturnOnSelect1">
			<webobject name="ShowCancel">
				<webobject name="Return"></webobject>
			</webobject>
		</webobject>
		</webobject>
		<webobject name="ListEmpty">
			<webobject name="EmptyMessageComponent"></webobject>
		<br>
		<br>
		<webobject name="HideReturnOnSelect2">
			<webobject name="ShowCancel2">
				<webobject name="Return2"></webobject>
			</webobject>
        </webobject>
    </webobject>

    <webobject name="BelowDisplayPropertyKeys"></webobject>

</webobject>