 <table border=0>
  <tr bgcolor=cccccc> 
    <td valign=top> <table border=0>
        <tr bgcolor=999999> 
          <td colspan=2><b><font size=2 face="arial,geneva">Record Grouping</font></b></td>
        </tr>
        <tr> 
          <td colspan=1><b><font size=2 face="arial,geneva">Record Group Display:</font></b></td>
          <td colspan=2><webobject name=recGrpDisplayList></webobject></td>
        </tr>
        <tr> 
          <td colspan=1><b><font size=2 face="arial,geneva">Report Style:</font></b></td>
          <td colspan=2><webobject name=reportStyle></webobject></td>
        </tr>
        <tr> 
          <td><b><font size=2 face="arial,geneva">Single Total to Show:</font></b></td>
          <td><webobject name=totToShow></webobject></td>
        </tr>
        <tr> 
          <td><b><font size=2 face="arial,geneva">Format for Single Total:</font></b></td>
          <td><webobject name=totToShow2></webobject></td>
        </tr>
        <tr> 
          <td><b><font size=2 face="arial,geneva">Show Attribute Headings:</font></b></td>
          <td><webobject name=showRecordGroupHeadings></webobject></td>
        </tr>
        <tr> 
          <td><b><font size=2 face="arial,geneva">Show Record Groups as Tables</font></b></td>
          <td><webobject name=showRecordGroupAsTable></webobject></td>
        </tr>
        <tr> 
          <td><b><font size=2 face="arial,geneva">Show Dimension Navigation</font></b></td>
          <td><webobject name=showNavigationCheck></webobject></td>
        </tr>
        <tr> 
          <td><b><font size=2 face="arial,geneva">Show Custom Report</font></b></td>
          <td><webobject name=showCustomCheck></webobject></td>
        </tr>
        <tr> 
          <td><b><font size=2 face="arial,geneva">Order</font></b></td>
          <td><b><font size=2 face="arial,geneva">V: <webobject name=keysInV></webobject>, 
            H: <webobject name=keysInH></webobject>, Z: <webobject name=keysInZ></webobject></font></b></td>
        </tr>
        <tr> 
          <td colspan=2><font size=2 face="arial,geneva"><webobject name=regenReport></webobject></td>
        </tr>
      </table></td>
    <td valign=top> <table border=0>
        <tr> 
          <td bgcolor=999999 colspan=3><b><font size=2 face="arial,geneva">Dimension 
            Group Totaling</font></b></td>
        </tr>
        <webobject name=allGroups> 
        <tr> 
          <td colspan=1><b><font size=2 face="arial,geneva"><webobject name=grpLabel></webobject></font></b></td>
          <td colspan=2><webobject name=shouldTotalCheck></webobject></td>
        </tr>
        </webobject> </table></td>
  </tr>
</table>
