<webobject name="NavPage" />
<b>Application Deaths</b>
<br />
<br />
<webobject name="ClearDeaths">Clear History</webobject> | <webobject name="ReturnLink">Back to App Detail View</webobject>
<br />
<br />
<table border="1" cellpadding="3" cellspacing="1">
  <tr>
    <th colspan="2"> Date/Time Occurred </th>
  </tr>
  <webobject name="DeathRepetition">
    <tr>
      <td> <webobject name="DeathIndex" /> </td>
      <td> <webobject name="DeathDescription" /> </td>
    </tr>
  </webobject>
</table>