<WEBOBJECT name=NavPage></WEBOBJECT>

<B>Application Deaths</B><BR>
<BR>
<WEBOBJECT name=ClearDeaths>Clear History</WEBOBJECT> |
<WEBOBJECT name=ReturnLink>Back to App Detail View</WEBOBJECT>
<BR>
<BR>
<TABLE BORDER=1 CELLPADDING=3 CELLSPACING=1>
    <TR>
        <TH COLSPAN=2>
            Date/Time Occurred
        </TH>
    </TR>

<WEBOBJECT name=DeathRepetition>
    <TR>
        <TD>
            <WEBOBJECT name=DeathIndex></WEBOBJECT>
        </TD>
        <TD>
            <WEBOBJECT name=DeathDescription></WEBOBJECT>
        </TD>
    </TR>
</WEBOBJECT>
</TABLE>

</CENTER>
  </TD></TR>
</TABLE>
</CENTER>

</BODY>
</HTML>

