<webobject name = "ShowLevel1">
	<nav>
		<webobject name = "Checkbox"/><webobject name = "Label"><webobject name = "NavLabel"/></webobject>
		<ul>
			<webobject name = "Level1Items"><webobject name = "ListItem">
				<webobject name = "L1NavObject"/>
				<webobject name = "IsSelected">
					<webobject name = "ShowLevel2">
						<ul>
							<webobject name = "Level2Items"><webobject name = "ListItem">
								<webobject name = "L2NavObject"/>
								<webobject name = "IsSelected">
									<webobject name = "ShowLevel3">
										<ul>
											<webobject name = "Level3Items"><webobject name = "ListItem">
												<webobject name = "L3NavObject"/>
											</webobject></webobject>
										</ul>
									</webobject>
								</webobject>
							</webobject></webobject>
						</ul>
					</webobject>	
				</webobject>
			</webobject></webobject>
		</ul>
	</nav>
</webobject>
