{
    attributes = (
        {
            columnName = MOVIE_ID; 
            externalType = int; 
            name = movieID; 
            precision = 9; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = SUMMARY; 
            externalType = varchar; 
            name = summary; 
            valueClassName = NSString; 
            valueType = S; 
            width = 4096; 
        }
    ); 
    attributesUsedForLocking = (movieID); 
    className = demo.eo.PlotSummary; 
    classProperties = (summary, movie); 
    externalName = PLOT_SUMMARY; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {_clientClassPropertyNames = (summary, movie); }; 
    maxNumberOfInstancesToBatchFetch = 10; 
    name = PlotSummary; 
    primaryKeyAttributes = (movieID); 
    relationships = (
        {
            destination = Movie; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = movieID; sourceAttribute = movieID; }); 
            name = movie; 
        }
    ); 
}
