{
    attributes = (
        {
            allowsNull = Y; 
            columnName = PHOTO; 
            externalType = binary; 
            name = photo; 
            valueClassName = NSData; 
        }, 
        {
            columnName = TALENT_ID; 
            externalType = int; 
            name = talentID; 
            precision = 9; 
            valueClassName = NSNumber; 
            valueType = i; 
        }
    ); 
    attributesUsedForLocking = (talentID); 
    className = demo.eo.TalentPhoto; 
    classProperties = (photo, talent); 
    externalName = TALENT_PHOTO; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {_clientClassPropertyNames = (photo, talent); }; 
    maxNumberOfInstancesToBatchFetch = 10; 
    name = TalentPhoto; 
    primaryKeyAttributes = (talentID); 
    relationships = (
        {
            destination = Talent; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = talentID; sourceAttribute = talentID; }); 
            name = talent; 
        }
    ); 
}
