{
	tableID = "exampleAjaxGrid";  
    updateContainerID = "ajaxGridContainer";
    sortable = true;
    canReorder = true;   
    batchSize = 4;
    cssClass = "ajaxGridTable";	 
    cssStyle = "border: thin solid #000000;";  
	evenRowCSSClass = "evenRow";
	oddRowCSSStyle = "background:lightgrey;";
	selectedRowCSSStyle = "font-weight: bold;";   
	selectedRowCSSClass = "ajaxGridSelectedRow"; 
	 	
    columns = (
		{
			title = "Column 1";		
		 	keyPath = "col1";	
		 	cssClass = "redText"; 
		 	cssStyle = "text-align:left;";
		 	
		},
		{
			title = "Column 2";
		 	keyPath = "col2";
		 	cssStyle = "color: blue;"; 
		},		
		{
			title = "Column 3";
		 	keyPath = "col3";
		},		{
			title = "Column 4";
		 	keyPath = "col4";
		},		
		{
			title = "Column 5";
		 	keyPath = "col5";
		},		
		{
			title = "Birth Day";
		 	keyPath = "date";
		 	formatterClass = "com.webobjects.foundation.NSTimestampFormatter";
		 	formatPattern = "%b %d";
		 	cssStyle = "text-align:right;";
		 	cssStyle = "width: 50px;";
		},		
		{
			title = "Employee Number";
		 	keyPath = "number";
		 	formatterClass = "com.webobjects.foundation.NSNumberFormatter";
		 	formatPattern = "[#];[#]";
		 	cssStyle = "text-align:right;";
		},
		{
			title = "Level";
			keyPath = "level";
			component = "AjaxGridExampleFormInputCellComponent";
		},
		{
			title = "Custom Component";
		 	keyPath = "col8";
			component = "AjaxGridExampleCellComponent";
			cssStyle = "width: 20px;";
		}
	);
    sortOrder = (
		{
			keyPath = "col1";
			direction = "descending";
		},
		{
			keyPath = "col2";
			direction = "ascending";
		}
	);

}
