<TABLE CELLSPACING=0 CELLPADDING=0 BORDER=0 WIDTH="100%" BGCOLOR="#ffffff">
	<TR>
		<TD BGCOLOR="#003366" COLSPAN=2>
			<TABLE CELLSPACING=0 CELLPADDING=0 BORDER=0 WIDTH="100%">
				<TR>
					<TD ALIGN=LEFT VALIGN=MIDDLE CLASS=grey><B>&nbsp;</B></TD>
					<TD ALIGN=RIGHT><WEBOBJECT NAME=Flags></WEBOBJECT></TD>
					<TD>&nbsp;</TD>
				</TR>
				<TR>
					<TD BGCOLOR="#FFFFFF" COLSPAN=2><WEBOBJECT NAME=Image3></WEBOBJECT></TD>
					<TD BGCOLOR="#ffffff"></TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD ALIGN=LEFT VALIGN=top BGCOLOR="#FFFFFF">
			<TABLE CELLSPACING=0 CELLPADDING=0 BORDER=0 WIDTH="100%" BGCOLOR="#CCCCCC">
				<TR>
					<TD WIDTH=1 BGCOLOR="#FFFFFF"><WEBOBJECT NAME=Image1></WEBOBJECT></TD>
					<WEBOBJECT NAME=GenericContainer1>&nbsp;<WEBOBJECT NAME=MyHomepageERJavaScriptFlyover1>Home</WEBOBJECT>&nbsp;</WEBOBJECT>
					<TD WIDTH=1 BGCOLOR="#FFFFFF"><WEBOBJECT NAME=Image1></WEBOBJECT></TD>
					<WEBOBJECT NAME=GenericContainer2>&nbsp;<WEBOBJECT NAME=LogoutERJavaScriptFlyover>Logout</WEBOBJECT>&nbsp;</WEBOBJECT>
					<TD WIDTH=1 BGCOLOR="#ffffff"><WEBOBJECT NAME=Image1></WEBOBJECT></TD>
					<TD WIDTH=5 VALIGN=TOP><WEBOBJECT NAME=Hyperlink1><WEBOBJECT NAME=Image2></WEBOBJECT></WEBOBJECT></TD>
				</TR>
				<TR>
					<WEBOBJECT NAME=GenericContainer3><WEBOBJECT NAME=Image1></WEBOBJECT><FONT COLOR="#999999" FACE="Geneva,Arial,Helvetica" SIZE=1><WEBOBJECT NAME=TheDate></WEBOBJECT><BR>
						</FONT></WEBOBJECT>
				</TR>
			</TABLE>
		</TD>
		<TD ALIGN=right WIDTH="80%" VALIGN=top BGCOLOR="#FFFFFF"><WEBOBJECT NAME=NavigationMenu></WEBOBJECT></TD>
	</TR>
	<WEBOBJECT NAME=displayTitleConditional></WEBOBJECT>
</TABLE>