<wo:RestHeaderFooter>
<style>
div.panel div.content ul li {
	margin-top: 1em;
}
</style>

The source for ERXRestRouteExample is intended to be browsed. To fully understand the framework, please review the annotations and explanations in the source.

<ul>
	<li><b><wo:ERXRouteLink entityName="Company" action="index" format="plist">Show all Companies in plist format</wo:ERXRouteLink></b><br/>
			curl <wo:ERXRouteURL entityName="Company" format="plist" absolute="$true"/></li>

	<li><b><wo:ERXRouteLink entityName="Company" action="index" format="bplist">Show all Companies in binary plist format</wo:ERXRouteLink></b><br/>
			curl <wo:ERXRouteURL entityName="Company" format="bplist" absolute="$true"/></li>

	<li><b><wo:ERXRouteLink entityName="Company" action="index" format="xml">Show all Companies in XML format</wo:ERXRouteLink></b><br/>
			curl <wo:ERXRouteURL entityName="Company" format="xml" absolute="$true"/></li>

	<li><b><wo:ERXRouteLink entityName="Company" action="index" format="json">Show all Companies in JSON format</wo:ERXRouteLink></b><br/>
			curl <wo:ERXRouteURL entityName="Company" format="json" absolute="$true"/></li>

	<li><b><wo:ERXRouteLink entityName="Company" action="index" format="sc">Show all Companies in SproutCore format</wo:ERXRouteLink></b><br/>
			curl <wo:ERXRouteURL entityName="Company" format="sc" absolute="$true"/></li>

	<li><b><wo:ERXRouteLink entityName="Company" action="index" format="ember">Show all Companies in Ember format</wo:ERXRouteLink></b><br/>
			curl <wo:ERXRouteURL entityName="Company" format="ember" absolute="$true"/></li>

	<li><b><wo:ERXRouteLink entityName="Person" id="1" action="show" format="plist">Show Person 1 in plist format</wo:ERXRouteLink></b><br/>
			curl <wo:ERXRouteURL entityName="Person" id="1" action="show" format="plist" absolute="$true"/></li>

	<li><b><wo:ERXRouteLink entityName="Person" id="1" action="show">Show Person 1 in HTML (goes to PersonShowPage)</wo:ERXRouteLink></b><br/>
			curl <wo:ERXRouteURL entityName="Person" id="1" action="show" format="html" absolute="$true"/></li>
	
	<li><b>Update an attribute on Person:</b><br/>
			curl -X PUT -d "{ name: 'Updated Name' }" <wo:ERXRouteURL entityName="Person" id="1" action="show" format="json" absolute="$true"/></li>
			
	<li><b>Update a to-one relationship on Person:</b><br/>
			curl -X PUT -d "{ company: { type:'Company', id:2 } }" <wo:ERXRouteURL entityName="Person" id="1" action="show" format="json" absolute="$true"/></li>
			
	<li><b>Create a new Person:</b><br/>
			curl -X POST -d "{ name:'Andrew Schrag' }" <wo:ERXRouteURL entityName="Person" format="json" absolute="$true"/></li>
			
	<li><b>Create a new Person with a to-one relationship:</b><br/>
			curl -X POST -d "{ name:'Andrew Schrag', company: { type:'Company', id:1 } }" <wo:ERXRouteURL entityName="Person" format="json" absolute="$true"/></li>
			
	<li><b>Create a new Person and create a Company in its to-one relationship:</b><br/>
			curl -X POST -d "{ name:'Andrew Schrag', company: { type:'Company', name:'New Company' } }" <wo:ERXRouteURL entityName="Person" format="json" absolute="$true"/></li>
			
	<li><b>Update attribute across locked relationship (works):</b><br/>
			curl -X PUT -d "{ company: { type:'Company', id:1, name:'mDimension Technology' } }" <wo:ERXRouteURL entityName="Person" id="1" action="lockedUpdate" format="json" absolute="$true"/></li> 
			
	<li><b>Change locked relationship (ignored):</b><br/>
			curl -X PUT -d "{ company: { type:'Company', id:2 } }" <wo:ERXRouteURL entityName="Person" id="1" action="lockedUpdate" format="json" absolute="$true"/></li>

	<li><b>ERXKeyFilter.Delegate API (doesn't allow setting a Person's company name to 'Microsoft'):</b><br/>
			curl -X PUT -d "{ company: { type:'Company', id:1, name:'Microsoft' } }" <wo:ERXRouteURL entityName="Person" id="1" action="securityUpdate" format="json" absolute="$true"/></li>
			
	<li><b>Delete a Company:</b><br/>
			curl -X DELETE <wo:ERXRouteURL entityName="Company" id="2" format="plist" absolute="$true"/></li>
</ul>
</wo:RestHeaderFooter>