<WEBOBJECT NAME="UsingTablesConditional">
<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=0 WIDTH=100% bgcolor=#ffffff>
	<TR>
		<TD VALIGN=top BGCOLOR=#FFFFFF align=right width=90%>
			<WEBOBJECT NAME=DynamicNavTable>
				<TR BGCOLOR=#003366 class="NavBackground">
					<webObject name="Padder">&nbsp;</webObject>
					<TD>
						<WEBOBJECT NAME=NonZeroConditional3>
							<!--WEBOBJECT NAME=Image3></WEBOBJECT-->
						</WEBOBJECT></td>
					<td align=right>
					<TABLE CELLSPACING=0 CELLPADDING=0 BORDER=0 HEIGHT=19>
						<TR>
							<WEBOBJECT NAME=Repetition3>
								<WEBOBJECT NAME=l1NavObject></WEBOBJECT>
							</WEBOBJECT>
						</TR>
					</TABLE></td>
				</TR>
				<WEBOBJECT NAME=Conditional2>
					<TR>
						<td colspan=4 align=right>
							<table border=0 cellspacing=0 cellpadding=0  height=19 >
								<tr>
									<WEBOBJECT NAME=Repetition1><WEBOBJECT NAME=l2NavObject></WEBOBJECT></webObject><WEBOBJECT NAME=NonZeroConditional1>
										<td><WEBOBJECT NAME=Image2></WEBOBJECT></td>
									</WEBOBJECT>
								</tr></table><WEBOBJECT NAME=Conditional1><table height=19 border=0 cellspacing=0 cellpadding=1>
								<tr>
											<WEBOBJECT NAME=Repetition2><WEBOBJECT NAME=l3navObject></WEBOBJECT></WEBOBJECT><WEBOBJECT NAME=NonZeroConditional2><WEBOBJECT NAME=Image1></WEBOBJECT></WEBOBJECT>
								</tr>
							</table></webObject>
						</td>
					</TR>
				</WEBOBJECT>
			</WEBOBJECT>
			<!-- End dynamic nav area table -->
		</TD>
	</TR>
</TABLE>
</WEBOBJECT>

<WEBOBJECT NAME="NotUsingTablesConditional"><div class="ERXNavigationMenu">
    <ul class="Level1Items"><webobject name=level1Items><webobject name=l1NavObject></webobject></webobject></ul>
    <webobject name=showLevel2><ul class="Level2Items"><webobject name=level2Items><webobject name=l2NavObject></webobject></webobject></ul>
    	<webobject name=showLevel3><ul class="Level3Items"><webobject name=level3Items><webobject name=l3navObject></webobject></webobject></ul>
        </webobject>
    </webobject>
</div></WEBOBJECT>
