<WEBOBJECT NAME=TableContainer>
<TR>
<WEBOBJECT NAME=InProgress>
	<WEBOBJECT NAME=NameCellContainer>
        <WEBOBJECT NAME=InProgressFont><WEBOBJECT NAME=String></webobject></WEBOBJECT>
    </WEBOBJECT>
	<WEBOBJECT NAME=BackgroundColorCell>
        &nbsp;
    </WEBOBJECT>
</WEBOBJECT>

<WEBOBJECT NAME=NotInProgress>
    <WEBOBJECT NAME=NotInProgressBackgroundColorCell>
        <WEBOBJECT NAME=NotInProgressFont>
                <WEBOBJECT NAME=String2></webobject>
        </WEBOBJECT>
    </WEBOBJECT>
</WEBOBJECT>
</TR>

</WEBOBJECT>
